[2021-07-24 18:17] nojb commented on #6973
Can continue the discussion in #10538

[2021-07-25 01:39] yminsky commented on #5514
Seems like this should stay open until the behavior is changed, or the documentation is fixed, as @garrigue said.

[2021-07-27 17:27] jhwoodyatt commented on #9312
I have written a whole passle of additional functions for the `Seq.t` type in my Orsetto project. You can see them [here](https://bitbucket.org/jhw/orsetto/src/principal/src/cf/cf_seq.mli). (It's BSD2, and I'm okay with OCaml snarfing anything you guys think is useful.)

[2021-07-28 04:25] #9705 closed, assigned to nobody

[2021-07-30 08:41] IagoAbal opened #10547 "Stack overflow causes segmentation fault with OCaml 4.12.0 & MacOS 11 (Apple M1)"
We are experiencing segmentation faults as a result of stack overflows caused by some large inputs. Need to confirm this for Linux, but in MacOS 11 it is very easy to reproduce, see below.

segfault.ml
[code]

[code]

[2021-07-30 17:03] gadmm commented on #10547
Stack overflow detection actually is not yet implemented on ARM+macos. It is probably just a matter of adapting https://github.com/ocaml/ocaml/blob/trunk/runtime/signals_osdep.h#L38-L66 to the arm64 target and defining `HAS_STACK_OVERFLOW`.

I wrote the following notes when I last dug into the implementation: https://github.com/ocaml/ocaml/pull/10409#issuecomment-847118254. Most notably, stack ove

[2021-08-01 12:30] gasche opened #10548 "respect the NO_COLOR specification"
Some people on the interest have decided to agree on an informal specification: if a `NO_COLOR` variable is defined in the user environment, then terminal tools should not enable colors by default (only if explicitly requested). The OCaml compiler shows colors by default in its error/warning messages, with various heuristics and configuration mechanisms to disable or refine it. It would be nice to

[2021-08-01 14:32] dbuenzli commented on #10548
Is that a good specification though ?

I think the current tri-state value `never`, `always`, `auto` of `OCAML_COLOR` is what you want to be able to specify in practice (e.g. you want to be able to force colored output for cram testing). I wish they had standardized a `COLOR` variable that way.

If you want to proceed, what takes precedence when both variables are present ? I'd personally say the

[2021-08-01 14:52] gasche commented on #10548
The webpage says:

I believe that, by the same reasoning, the more specific OCAML_COLOR should take precedence when it is specified, indeed.

[2021-08-02 05:19] XVilka opened #10553 "opam-publish-2.1.0 - lto1: internal compiler error: Segmentation fault"
Was updating local opam switch:
[code]
Got the following error during the `opam-publish-2.1.0` compilation:

[code]
The Linux distribution is Fedora 34 x86_64

[code]

Created also a bug in RedHat Bugzilla: https://bugzilla.redhat.com/show_bug.cgi?id=1988911

[2021-08-02 15:09] kit-ty-kate commented on #10450
I feel a bit uneasy about the conclusion (modifying code bases to change `%apply` to `%identity` when compiling with 4.13), it doesn't feel quite right. I'm concerned people outside of the opensource community might have code that does the same so even if it might be fine for the bap suite there might be other things that breaks because of this.

If everyone think it's not worth changing this righ

[2021-08-02 17:14] ivg commented on #10450
It is in the `bap-bitvector` package, but yes, I think we can add a patch file to the opam release with a fix.

[2021-08-02 17:46] lpw25 commented on #10450
I agree that the conclusion is unsatisfying. I believe that no where else do we insist that a particular primitive be given a particular type. It would seem pretty easy to only have the weird new behaviour when the type matches the expected pattern, and then just fall back to the ordinary behaviour for typing a function application.

[2021-08-03 03:30] chetmurthy opened #10550 "Pretty-printing bug in OCaml 4.13.0~alpha2"
Ocaml version: OCaml 4.13.0~alpha2
OS Version: Ubuntu 20.04.2 LTS
Arch: amd64

Synopsis: I construct a little program snippet to exercise the new syntax for binding type-vars in a GADT match.  Pprintast produces bad output which is not parseable.  I'll look into the cause and hopefully soon attach a PR, but I figured it's probably -really- simple, so somebody who's shooting these things might be a

[2021-08-03 07:56] stedolan opened #10552 "Feature request: further relax the value restriction and/or add a bottom type"
In the presence of a type with covariant parameters:
[code]
the relaxed value restriction ([@garrigue, 2004](https://caml.inria.fr/pub/papers/garrigue-value_restriction-fiwflp04.pdf)) means that we can generalise the type of expressions that would not pass the normal value restriction test:
[code]
Despite containing an application, `gen` is given the generalised type `val gen : ('a, 'a) t`. The ar

[2021-08-03 21:33] kit-ty-kate commented on #9116
I'm not sure why this issue has been automatically closed. https://github.com/ocaml/ocaml/pull/9118 was opened almost two years ago to fix this, but wasn't merged and the issue is still there. Should this be reopened?

[2021-08-04 09:44] #10550 closed, assigned to nobody

[2021-08-04 10:24] Octachron commented on #10552
Currently, that would break libraries that use both equality between phantom types and the relaxed value restriction. For instance, with type-level addition implemented with
[code]
unsharing the two type variables of `zero` would break the link between the phantom types and the underlying values.
At the same time, in this case, the covariance annotations are only used as a proxy for the relaxed va

[2021-08-04 15:24] avsm commented on #10553
This looks more like an issue for the core compiler repository than opam-repository, so I've transferred it.

[2021-08-05 05:55] aantron opened #10554 "Pexp_constraint expression locations are ghost"
Essentially, why are they ghost? Is this a bug?

This appears to be affecting Bisect_ppx (the coverage tool) in https://github.com/aantron/bisect_ppx/issues/377#issuecomment-879855965. Here is a smaller example than in the issue:

[code]

with OCaml 4.12.0 and Bisect_ppx `master` (or any recent version), this gets instrumented as

![Снимок](https://user-images.githubusercontent.com/12073668/128297

[2021-08-05 09:13] nojb commented on #10554
Thanks for the report, this looks like a bug at first sight.

[2021-08-05 13:34] dbuenzli opened #10556 "4.14.0+trunk what happened to `Toploop.use_file` ?"
Hello,

I'm getting a flurry of reports (some, but not all, of which are listed [here](https://github.com/ocaml-bench/sandmark/issues/250))  and PRs on my packages because it seems `Toploop.use_file` disappeared in trunk. I'm [offered](https://github.com/dbuenzli/fmt/pull/50) with replacing these calls with `Toploop.load_file` which I suspect is wrong (there is a difference betwen `#use`ing and lo

[2021-08-05 13:40] nojb commented on #10556
I think the responsible PR is #10438. The function `use_file` was renamed `use_input` and made more general (it can now take as input a file, a string or `stdin`). I think the obvious solution is to reintroduce `use_file` as a wrapper around the more general `use_input`.

[2021-08-05 16:03] #10556 closed, assigned to nobody

[2021-08-05 17:48] #10554 closed, assigned to nobody

[2021-08-06 13:25] #10442 closed, assigned to nobody

[2021-08-06 15:46] Octachron commented on #10450
I have a tentative implementation in #10558 which only applies the new typing rule when the type of the primitives matches exactly the standard one. This fixes BAP compatibility issue without introducing new primitives, which seem nice. Are there any objections to the idea or implementation?

[2021-08-06 15:51] Octachron commented on #10507
My summary of the issue is that before 4.13 `|>` and `@@` were accidentally better behaved than standard applications when compiling with `ocamlc -g`.

It seems fine to align the behavior between application and application operators in 4.13: we can wait for 4.14 for an eventual improvement of this behavior.

[2021-08-06 15:56] ivg commented on #10450
Thanks, Florian, this is awesome!

[2021-08-06 22:04] #10548 closed, assigned to nobody

[2021-08-09 10:17] shindere commented on #9339
Will look into it.

[2021-08-09 10:25] shindere commented on #5890
It's being addressed, but bugs have been discovered recently, see e.g.
https://github.com/ocaml/ocaml/pull/9960#issuecomment-889663598

Will try submit a PR for the problems described there, sorry for having
introduced them in the first place.

[2021-08-09 11:23] pmetzger commented on #9836
This seems reasonable. isnormal() is part of the C libraries after all. See: https://pubs.opengroup.org/onlinepubs/009695399/basedefs/math.h.html

[2021-08-09 13:05] shindere commented on #9291
Gabriel Scherer (2021/06/28 05:25 -0700):

I hope to be able to dealwith that, withthe help of David also.

[2021-08-09 13:08] shindere commented on #9291
github-actions[bot] (2021/06/27 21:25 -0700):

As a consequence to the previous coment, I'd suggest to keep this open,
but if it bothers people I don't see a problem in closing it.

Suggestion: could someone who feels more comfortable than me with
GitHub's interface perhaps assign this to me explicitly? It's not a
commitment that I'll act on it in a predictable future, but I expect
this to be solv

[2021-08-09 14:41] dra27 commented on #9291
It's assigned to you! (and is still open)

[2021-08-09 17:26] shindere commented on #9291
David Allsopp (2021/08/09 07:40 -0700):

thanks a lot, David!

[2021-08-09 17:26] shindere commented on #9291
David Allsopp (2021/08/09 07:41 -0700):

I think it's the right way to go. thanks again.

[2021-08-09 17:58] nojb commented on #9836
Note that the function `isnormal` from `libc` does not match what is requested in this issue, as it returns `0` if the argument is (positive or negative) zero (it corresponds to the `FP_NORMAL` classifier, see https://www.gnu.org/software/libc/manual/html_node/Floating-Point-Classes.html).

[2021-08-11 11:11] dra27 opened #10562 "ocamltest should not depend on GNU diff"
ocamltest's `Filecompare.diff` assumes GNU diff: https://github.com/ocaml/ocaml/blob/cce52acc7c7903e92078e9fe40745e11a1b944f0/ocamltest/filecompare.ml#L233-L236

It's only called when a test fails, so mostly this doesn't cause issues but it does mean that Alpine workers in Jenkins (and other systems where `diff` is not GNU diff) fail to display errors correctly if a test breaks.

We should fix it

[2021-08-11 15:37] damiendoligez commented on #6778
When we build a `.cma`, do we have easy access to the dependency relation between the `.cmx` that go into it?

[2021-08-11 15:58] dbuenzli commented on #6778
For each object you are trying to put in the archive you [know](https://github.com/ocaml/ocaml/blob/fb99b2be83b6edd4d9bf97c45e6af32c8614d97f/file_formats/cmx_format.mli#L42-L43) which interfaces it imports so you can certainly check that the user provided order makes sense when the archive is built.

[2021-08-12 06:53] XVilka commented on #10553
I retried with different packages, and after a computer reboot - this problem is reproducible:
[code]

[2021-08-12 09:06] nojb commented on #6778
I guess we could perform the same check that is done when linking an executable but at library-construction time, assuming all modules that go into the library are being "linked".

[2021-08-12 13:03] lthls commented on #6778
I've made a branch with a possible implementation of this check [here](https://github.com/lthls/ocaml/tree/library_order_check).
It only checks the order for bytecode libraries (mirroring the behaviour of the link check, which only gives helpful errors in bytecode).
I can turn it into a PR if needed.

[2021-08-12 13:08] shindere commented on #6959
Sorry, I'm getting confused. What's the status of this?

Is the problem solved? Or it doesn't interest people any longer, or
what?

[2021-08-12 13:36] lthls commented on #6959
As far as I can tell the problem is still there.
However the solution might be to stop installing these executables completely.
`expunge` is used to create the toplevel, but doesn't need to be installed (I don't know about other toplevels, but `utop` at least doesn't rely on it).
I don't even know what `extract_crc` is used for. It appears to have been present since 1995, but I can't find a single

[2021-08-12 15:01] nojb commented on #6778
I think that would be a good idea. I have a couple of questions but I'll wait until there is a PR for review.

[2021-08-13 14:47] lthls opened #10564 "Link time consistency check is incomplete"
The link time consistency check (that errors when linking object files that were compiled against different versions of the same interface) fails to detect inconsistencies between an object's interface and objects that were linked before it.

To reproduce:
[code]
[code]

Now edit `foo.ml`, `foo.mli` and `baz.ml` to replace them with:
[code]
[code]

The same bug exists with `ocamlopt`.

This can be

[2021-08-15 14:05] xavierleroy commented on #10564
Re: `Consistbl.set` vs `Consistbl.check`, I seem to remember this was due to an old desire to support multiple bytecode compilation units having the same name, e.g.
[code]
provided 1/A is only used by 1/B and 2/A by 2/C.

However, this is known to cause issues (see #5461) and warning 31 was introduced (https://github.com/ocaml/ocaml/commit/869feeb00704e0640c45ffe6aee6cc13e4077f79) to warn and by d

[2021-08-15 14:34] xavierleroy commented on #6959
Good lateral thinking!

I thought `ocamlmktop` might use `expunge`, but it does not and apparently never did.  Caml Light's `camlmktop` did use `expunge`, which might explain why `expunge` is still installed?

It was used in conjunction with a function from the `Dynlink` module that was removed a long time ago: https://github.com/ocaml/ocaml/commit/5e152f79453c9f5678f92b02851ff897839f93f5 .

[2021-08-15 14:56] xavierleroy commented on #10507
Compiling in `-g` mode is not supposed to change multiple applications into several successive single applications.  An application `f 1 2` will always push 1 and 2, then jump to `f`.  If `f` is defined as `let f x y = ...`, the next stopping point is after the `=` sign.  If `f` is defined as `let f x = ...; fun y -> ...`, there will be a stopping point after the `=` sign and another after the `->

[2021-08-15 15:49] shindere commented on #6959
I'll submit a PR to stop installing those programs.

[2021-08-15 16:05] dbuenzli commented on #6959
Just for the reference I thought `utop` might be using the `expunge` binary but it seem it has its [own version](https://github.com/ocaml-community/utop/tree/master/src/top/expunge).

[2021-08-16 19:18] fpottier opened #10566 "Break dependency of Obj on Marshal"
@c-cube and I are currently working on a series of additions to the standard library module `Seq`. One of these additions is the function `Seq.memoize`, whose definition creates a dependency of `Seq` on `Lazy`. Unfortunately, this dependency creates a cycle, because `Lazy` depends on `Obj` which depends on `Marshal` which depends on `Bytes` which depends on `Seq`.

Arguably the dependency of `Obj`

[2021-08-16 20:25] gasche commented on #10566
Sure: send a PR to remove these two functions, we will gently ask @Octachron or @kit-ty-kate to test it against opam, and assuming they are indeed unused we could go ahead.

This being said: is it wise to have `Seq`, which is a moderately simple data-structure, depend on `Lazy`, which is arguably a more complex data structure? (Would it make sense to consider adding a dependency from Lazy to Seq i

[2021-08-17 07:48] fpottier commented on #10566
Thanks for your reply! I have created a PR (#10568).

We could indeed rename `Seq.memoize` to `Lazy.memoize_seq` or just `Lazy.seq` and introduce a dependency of `Lazy` on `Seq`.

[2021-08-17 13:10] c-cube commented on #10566
I don't like that idea, it's not intuitive to use. If I want to memoize a `Seq.t` I'll look in `Seq`, not in an unrelated module (`Lazy`) in which it is only because of an entirely avoidable implementation detail.

[2021-08-17 14:58] fpottier commented on #10566
I tend to agree with Simon.

[2021-08-17 16:36] lthls commented on #10566
My own impression is that we're having a design issue. We're expecting to have one module for each base type, and that each function manipulating data should be in the module where it seems most natural.
But we have a hard constraint that modules need to be totally ordered for linking, so we can't create dependency loops. In particular it may be nice to have both `Bytes.of_seq` and `Seq.to_bytes`,

[2021-08-17 16:39] talex5 opened #10571 "Error: co-processor offset out of range (arm32)"
The capnp package's tests don't compile on arm32 (OCaml 4.12). The error is:
[code]

`camlasm7c32d8.s:15413` is `fstd    d0, [sp, #1216]`

This Dockerfile should reproduce the problem:
[code]

[2021-08-17 16:57] fpottier commented on #10566
Hi @lthls!

Regarding your general analysis, and your suggestion to separate `Seq_types` and `Seq`, I tend to agree with you. In fact, I discussed this option privately with @xavierleroy, but he seemed to dislike it.

@c-cube already formulated this remark, and I have tried it. As far as I can tell, it doesn't work: using the `lazy` keyword (for construction and deconstruction) produces references

[2021-08-17 21:22] gasche commented on #10566
In general one design for avoiding cyclic dependencies is to build the system in "layers": for each concept of the stdlib have first core module with only the absolutely necessary dependencies (no convience stuff), and then an "extended module" that depends on (its own core module and) other concepts *core modules* (of course in general there can be more than two layers, you see the point of using

[2021-08-19 11:59] bobot opened #10572 "Type disambiguation and PPX"
A PPX could break type disambiguation of constructors in the sense that the code compile before the ppx and not after. For example landmark wrap function in a way comparable to the second version of the function.

[code]

The first function types but not the second one because the typer doesn't know that the type of `r` is the type of the whole expression.

A ppx could add type variables for simpl

[2021-08-19 12:00] nojb commented on #10572
cc @mlasson

[2021-08-19 12:15] lthls commented on #10572
Does the following alternate approach look realistic ?

[code]

With the local functions optimisation, that should give you the same code in the end, but the type-checker would still see the type annotations in the right place.

[2021-08-19 13:23] mlasson commented on #10572
@lthls, yes it does !

I think should be able to use this trick to solve https://github.com/LexiFi/landmarks/issues/31 without any modification to the compiler.

[2021-08-19 13:56] gasche commented on #10572
It looks like currently the typing of `(e : ty)` is careful to *not* unify `ty` with the expected type before `e` is itself type-checked. I'm not sure what is the reason for this (@garrigue would know); I think it may come from older versions where the logic of `(x : t)` and `(x : t :> u)` was shared in the code. If I read things correctly, the pattern-side construct `(p : ty)` [does unify the exp

[2021-08-19 14:15] lpw25 commented on #10572
I think that using variables like that in a principal way would require a different notion of type variable, with different scoping and behaviour. It's not enough to change the order of unification in constraints -- that will work without `-principal` but it will still fail with it.

How often do people really need to move some user code from a checking position to an inference position? Adding so

[2021-08-19 20:28] gasche commented on #10572
And `try ... finally%lwt ...`, etc. I suspect that in general there may be a family of control-capture abstractions (for example in resourceful monads) needing this approach, where a more general solution would be required. I wonder about having expected-type-propagating function types for example; for example `(unit -> -'a) -> (exn -> -'a) -> +'a`, imitating Prolog mode declarations.

[2021-08-19 20:29] gasche commented on #10572
@bobot regarding the type variable, `fun x : 'a -> ...` and `fun x : (t as 'a) -> ...` work, but `fun x : t -> (... : 'a)` does not, and the former requires non-local reasoning so it is a less general approach.

[2021-08-20 04:25] #9769 closed, assigned to nobody

[2021-08-20 04:52] garrigue commented on #10572
Indeed, it would be possible to propagate the expected type to the expression, combining it with the type annotation. This must be done with care, so that we really add information. I believe I just assumed that if you give a type annotation it would be precise enough that you don't need to propagate the expected type through it.

As @lpw25 explained, type variables can be used as constraints, but

[2021-08-20 09:26] gasche commented on #10572
I don't understand your proposed translation. How would you transform

[code]

to ensure that the expected type of `let r = A in exit (); r` is also known by the type-checker to be the expected type of `r` ?

[2021-08-23 04:25] #9776 closed, assigned to nobody

[2021-08-23 04:25] #9451 closed, assigned to nobody

[2021-08-23 04:25] #6528 closed

[2021-08-23 04:25] #6514 closed

[2021-08-23 04:25] #6500 closed

[2021-08-23 04:25] #6478 closed

[2021-08-23 04:25] #6433 closed

[2021-08-23 04:25] #6314 closed

[2021-08-23 04:25] #6313 closed

[2021-08-23 04:25] #6125 closed

[2021-08-23 04:25] #5699 closed

[2021-08-23 04:25] #5628 closed

[2021-08-23 04:25] #4671 closed

[2021-08-23 04:25] #3784 closed

[2021-08-23 04:25] #4414 closed

[2021-08-23 04:25] #8267 closed

[2021-08-23 14:28] xavierleroy commented on #10571
It looks like a function has a really big stack frame, so big that accessing a FP number stored in the stack frame exceeds the maximal offset supported by FP loads and stores, namely 1020.  The bad news is that there is no obvious change to the ocamlopt ARM code emitter to support such far-away accesses.  However, it would be good to understand why such a big stack frame is generated and whether i

[2021-08-23 15:24] talex5 commented on #10571
Here are the .s and .ml files:

[files.zip](https://github.com/ocaml/ocaml/files/7033059/files.zip)

[2021-08-24 07:11] xavierleroy commented on #10571
Thanks for the files.  Unfortunately, the function with the huge stack frame is an anonymous function, so it's hard to know where it comes from in the source.

There are several `inline` directives in the source.  What happens if they are removed?

The source is huge and feels auto-generated (?).  It would help to split it in smaller parts.

[2021-08-24 07:30] bluddy commented on #10571
Since this is something that is bound to happen as we increase inlining, doesn't it make sense to handle it generally and add another register for this purpose when needed (which will of course increase spilling, but still)?

[2021-08-24 09:11] lpw25 commented on #10572
To be clear, I wasn't proposing that `try ... finally ...` would be used by the user instead of a ppx -- although I'm sure it would be useful -- I was proposing that ppxes like landmark could generate `try ... finally ...` when they wanted to add side-effects after a user expression without changing the flow of expected type information to that expression.

[2021-08-24 14:54] #10450 closed, assigned to nobody

[2021-08-24 16:46] #10547 closed, assigned to nobody

[2021-08-24 16:50] xavierleroy commented on #10547
Thanks for the report.  This is fixed in trunk.  We'll see if the fix can be released as part of version 4.13.

[2021-08-24 21:21] gasche commented on #9850
#8531 ended up closed, so maybe the smaller change proposed here would still be of interest? (But then @xavierleroy criticism of code-size increase still stands.) cc @gretay-js @xavierleroy .

(I suppose it may be useful to run macro-benchmarks to evaluate the impact of such a change?)

[2021-08-24 21:23] gasche commented on #9850
Also looks related to the discussion in https://github.com/ocaml/ocaml/issues/6125#issuecomment-472988968.

[2021-08-25 04:25] #9788 closed, assigned to nobody

[2021-08-25 14:18] Octachron commented on #10566
The core issue has been solved by #10568 which removes the `Obj`⇒`Marshal` dependency.

[2021-08-25 14:18] #10566 closed, assigned to nobody

[2021-08-25 15:39] #7449 closed, assigned to chambart

[2021-08-25 16:51] xavierleroy commented on #9850
I'd be happy to see performance measurements on realistic programs (not micro-benchmarks), e.g. on the Sandmark suite, or bigger.

In the absence of convincing performance measurements, I stick with the more compact code.  Fitting more code in the  instruction cache is almost always a win with big, realistic applications.

[2021-08-25 16:56] xavierleroy commented on #10571
Inlining that produces huge functions is a failure, as the resulting code runs slower than the original code. We want better inlining, not silly inlining.  I suspect that this particular example forces inlining where it doesn't make sense.

No.  Registers are a precious resource, esp. on ARM which has only 16 integer registers.  You don't reserve a register for a condition that is observed once in

[2021-08-25 20:56] talex5 commented on #10571
I removed all the inline directives, but it still fails. In fact, the `.s` file got larger!

[code]
[without-inline.zip](https://github.com/ocaml/ocaml/files/7049659/without-inline.zip)

(note: the inlining directives are really for flambda, but I'm not sure how to indicate that regular compiler versions should ignore them)

It doesn't seem to be any particular function that causes the problem, ju

[2021-08-25 23:17] lthls commented on #10571
I'm surprised removing the `[@inline]` annotations makes any difference. As far as I can tell, they're only used on functors in this example, and Closure cannot inline most functors.

The main reason why the frame needs to be enormous seems to be the coercion between the inferred type for the `MakeRPC` functor's body and the declared type in `test.mli`: all modules and submodules are coerced at th

[2021-08-26 12:16] jteg68 commented on #10494
But in ocaml the comparasion between floats gives:
-0.0 = 0.0
-0.0 >= 0.0
-0.0 <= 0.0
and
Float.sqrt(-0.0) results in -0.0 instead of -nan.

The comparasion -0.0 = 0.0 is according to IEEE754 I think, but not Float.sqrt(-0.0) = -0.0

[2021-08-26 16:19] xavierleroy commented on #10494
You're wrong.  IEEE 754-2008, section 5.4.1:
_The operation squareRoot(x) computes √ x. It has a positive sign for all operands ≥ 0, except that squareRoot(−0) shall be −0._

Section 7.2:
_These operations [that signal the invalid operation exception and return a quiet NaN] are [...] squareRoot if the operand is less than zero._

[2021-08-26 16:20] xavierleroy commented on #10494
I support changing `x > 0.` to  `x >= 0. ` in this example.

[2021-08-29 02:14] yurivict opened #10584 "Standard Library documentation build fails when optional libraries are disabled"
When built without threads it fails:
[code]

configure arguments: ```-verbose -prefix "/usr/local"  --disable-force-safe-string  CC="cc"  ASPP="cc -c"  PARTIALLD="ld -r" AS="as " --disable-systhreads```

Version: 4.12.0
OS: FreeBSD 13

[2021-08-29 05:54] yurivict opened #10585 "teyjus project fails to build with ocaml-4.12.0: undefined symbol: caml_local_roots"
[teyjus](https://github.com/teyjus/teyjus) project version 2.1-7-ge63f40a fails:
[code]

Full log: https://people.freebsd.org/~yuri/teyjus-2.1.7.log

[2021-08-29 06:26] Octachron commented on #10585
This project has vendored all OCaml runtime headers. This breaks any possibility of upward compatibility with OCaml versions. Those headers should either be removed and replaced by the one distributed by the compiler, or at least updated for each version of OCaml.

[2021-08-29 06:38] yurivict commented on #10585
Thank you, this works.

[2021-08-29 06:38] #10585 closed, assigned to nobody

[2021-08-29 08:38] dra27 commented on #10584
Workaround is to add `--disable-stdlib-manpages` to the configure call (which obviously only helps if you don't actually need the man pages for the standard library)

[2021-08-30 04:25] #7893 closed, assigned to nobody

[2021-08-30 09:31] shindere commented on #3757
Still needs work.

[2021-08-30 13:15] dra27 commented on #10584
I've opened a fix for this for 4.13, but the fix is different for 4.12 and earlier as that part of the build system has been refactored. Do you have a strong need for this to be fixed in 4.12.1? (it has been broken like this since 4.08.0)

[2021-08-30 15:11] #10584 closed, assigned to nobody

[2021-08-30 16:06] yurivict commented on #10584
No.

[2021-08-30 17:04] dra27 commented on #10584
It’ll be fixed in the next beta of 4.13 - thanks for the report!

[2021-08-30 19:46] iitalics opened #10592 "Format.asprintf sets column limit"
`Format.asprintf` gives the intermediate formatter a fairly conservative column-limit of 78. This is really inconvenient for using the Format module to generate string representations of data, since functions like `asprintf` can be expected to be used for all sorts of applications *besides* printing to a TTY (for example, displaying on a GUI, or sending over the net).

`asprintf` is used in popula

[2021-08-30 19:51] Octachron commented on #10592
This limit can be changed with `Format.pp_set_geometry`. Moreover, this column limit only matters if the user provide break hints (or open boxes) indicating that they want the formater to break lines in function of the column limit. This seems like a sensible default to me.

[2021-08-30 20:33] iitalics commented on #10592
Break hints are automatically inserted by the libraries mentioned above. And this is fine, since then it will work nicely if the pretty printer happens to be used in a context with a column limit (like `std_formatter`, `err_formatter`, a hovbox, or an otherwise custom configured formatter).

However, the user has no chance to call `pp_set_geometry` if they are using asprintf in a way such as `aspr

[2021-08-30 21:08] Octachron commented on #10592
The user can set `pp_set_geometry` with a custom `asprintf`
[code]
With this function,
[code]
prints  "12" compared to `"1\n2"` with the standard `asprintf`.

[2021-08-30 21:25] jberdine commented on #10592
Another option is something like:
[code]
This lets you use the standard `asprintf`, but if the library itself makes an `asprintf "%a"` call that you can't change to `asprintf "%t%a" blast_margin`, then it might not be enough.

[2021-08-30 21:30] iitalics commented on #10592
Both of these libraries simply use `asprintf "%a"`. I suppose its worth investigating them separately to see if a column limit was intended. But if neither of them intended that behavior then perhaps this default is not correct.
https://github.com/dbuenzli/fmt/blob/master/src/fmt.ml#L762
https://github.com/ocaml-ppx/ppx_deriving/blob/master/src_plugins/show/ppx_deriving_show.cppo.ml#L304

[2021-08-31 12:42] Octachron commented on #10592
It is up to the library authors to choose their own library string printers. Since an alternative string printer can be defined with 6 line of code, it seems reasonable to assume that 78-wide character formatting is seen as a feature or at least isn't seen as a bug whenever `asprintf` is used. Breaking backward compatibility doesn't seem warranted in this case.

[2021-08-31 14:58] xavierleroy commented on #10517
See #10594

[2021-08-31 15:00] xavierleroy commented on #10517
As far as I know, no better and no worse, i.e. the debugger should remain compatible with single-domain, single-thread programs only.

[2021-09-01 07:45] xavierleroy commented on #10517
#10594 is merged and adds a clearer error message + the ability to debug the program until it calls `Thread.create`.  I think this is the best we can do without an extensive rewrite of ocamldebug.  Hence I'll close this report.

[2021-09-01 07:45] #10517 closed, assigned to nobody

[2021-09-01 07:53] xavierleroy commented on #10553
"lto1" is part of GCC, or perhaps GNU binutils, so I don't think this is OCaml's fault.

Can you try with other versions of GCC?  Is LTO (link-time optimization) enabled globally in your system?  Can you turn it off?

[2021-09-01 08:07] XVilka commented on #10553
@xavierleroy yes, Fedora 34 uses LTO by default: https://fedoraproject.org/wiki/LTOByDefault

Will try with other GCC versions then.

[2021-09-01 11:13] stedolan opened #10598 "Typechecking nested `module type` takes exponential time"
This program takes about 5s to compile, doubling with each additional line: https://gist.github.com/stedolan/d4c42fc31cbd7cfedf02aefccd1f5e9a

The culprit is [`Includemod.check_modtype_equiv`](https://github.com/ocaml/ocaml/blob/5ba9e0e0d67d59bf5240089c956be3ceb2353b4e/typing/includemod.ml#L712-L713), which checks whether `S = T` by checking `S <: T` and `T <: S`. If checking `S <: T` requires a c

[2021-09-01 14:14] gasche commented on #8881
I have worked on something at the intersection of https://github.com/ocaml/RFCs/pull/14 and the present issue last semester during an internship of @nchataing. We hope to report soon on our progress there -- we are preparing a sub-RFC and a PR.

[2021-09-03 04:52] cpitclaudel commented on #9072
This issue is still relevant to me.  Basically, I'd prefer it if "-short-paths" worked as it does now, except when the result of shortening is not in fact shorter (same number of dots): in that latter case, I'd prefer if it did nothing.  I *think* the implementation of that is straightforward?  No shortening unless it actually shortens.

[2021-09-03 08:39] lthls opened #10603 "Flambda: wrong simplification of value let rec definitions"
Example code:
[code]

[code]

Relevant part of the `-dflambda` ouput:
[code]

This bug was found on the opam CI, while trying to compile version `0.9.4` of the `links` package. Thanks to @mseri for bringing the issue to my attention.

[2021-09-03 13:33] gasche opened #10604 "a [@warn-partial-application] attribute for function arguments where a ground type is expected"
In https://github.com/ocaml/ocaml/pull/10596#issuecomment-912464801 @gadmm makes the existing suggestion to generalize the warning logic for `ignore` to a wider class of polymorphic functions that we expect to return a ground type (or at least a positive type, not a suspension), in particular `with_*` resource operators.

[code]

The problem we want to avoid: a function is a continuation operator,

[2021-09-03 15:24] gadmm commented on #10604
In the latter case, isn't this the difference between:
[code]
and
[code]
?

[2021-09-03 15:25] gadmm commented on #10604
(Thank for opening this issue!)

[2021-09-03 18:54] wikku opened #10607 "Values of existential type are printed <poly>"
The `<poly>` here:

[code]

is certainly not a polymorphic value and is a different thing from the `<poly>` here:

[code]

I think it would make more sense if something like `E <existential>` was printed. I don't know if there are substantially different contexts in which we could encounter such things (what should we print when debugging polymorphic functions?). If GADTs are the only place where

[2021-09-06 07:30] dra27 commented on #7744
- `caml_minor_collection` was declared in `minor_gc.h` in #8993
- `caml_int32_ops`, `caml_int64_ops` and `caml_nativeint_ops` were declared in `custom.h` (along with `caml_ba_ops`) in #9879
- `caml_channel_size`, `caml_pos_in`, `caml_pos_out`, `caml_seek_in` and `caml_seek_out` were declared in `io.h` in #9884
- `caml_do_read`, `caml_finalize_channel` and `caml_input_scan_line` were "unmarked" `CA

[2021-09-06 07:30] #7744 closed, assigned to nobody

[2021-09-06 07:34] gasche commented on #7629
I reproduced @Octachron's example in the current trunk, now with a much longer error message.

[code]

[2021-09-06 13:25] gasche commented on #10604
Note: @nojb did an excellent job clarifying the `check_partial_application` implementation in #10606, the [new code](https://github.com/ocaml/ocaml/blob/cd105d9/typing/typecore.ml#L2554) reads much better.

[2021-09-06 14:59] shindere commented on #9717
Damien Doligez (2021/05/20 02:51 -0700):

This can indeed be a problem, in the current context.

Not sure I agree, here. To give you just one example, `stdlib/sys.ml` is
now a configured module, meaning it is generated by `configure` from
`sys.ml.in`. At the moment it's not a big deal, but it will become when
we start to de-fusion source and build-tree because then `sys.mli` will
be somewhere in t

[2021-09-06 15:05] nojb opened #10610 "Fix regression with `-o` when compiling C files"
*A friendly reminder that we shouldn't forget about this regression introduced in #9960 that needs to be fixed before 4.13 is released.*

There are two issues with this patch:

1. It broke previous behaviour of `ocaml` when you *don't* pass `-o`:
[code]
This causes problems when people use:
[code]
which was necessary before this PR.

2. The `-o` flag to `ocaml{c,opt}` is ignored if `-c` is not pas

[2021-09-06 15:18] shindere commented on #10610
I didn't forget, thanks!

[2021-09-06 20:13] kit-ty-kate opened #10613 "Get the `system` variable to be consistent"
Currently, in OCaml code in the wild, people use the output of `ocamlc -config` to detect the architecture and OS of the system they are on.

However while debugging https://github.com/janestreet/core/issues/145 I discovered that the variable `system`, in particular, is not consistent and does not always return "linux" on linux systems for example.

This pattern of using the `system` variable to d

[2021-09-06 21:18] dra27 commented on #10613
@mshinwell remembers trying to tackle this with one of the debugger PRs. I think it's a good idea, but I expect we'll have to do this as we did with `c_compiler` and `bytecomp_c_compiler`/`native_c_compiler` - introduce a better variable and live with the old one being there too.

For example, while there's no reason not to use ARCH and SYSTEM to determine, say, 32-bit MSVC, there's definitely a l

[2021-09-06 22:12] kit-ty-kate commented on #10613
Indeed that would be a good backward compatible way of fixing this, although keeping the `system` variable around carries a maintainance burden and we'll have to port each use of it to the new variable.

In the dune issue linked above I proposed to add a new `%{os}` variable. The same thing could be done in the compiler as well.

[2021-09-06 23:25] lenoil98 opened #10614 "Ocaml 4.12 Build Fails on FreeBSD Powerpc64"
Attempting to build Ocaml 4.12 release on FreeBSD 13 on PowerPC64 (Big Endian) and encountered the below error:

`gmake[4]: Entering directory '/usr/ports/tmp/ocaml-4.12/stdlib'`
`../boot/ocamlrun ../ocamlopt -strict-sequence -absname -w +a-4-9-41-42-44-45-48 -g -warn-error A -bin-annot -nostdlib -principal -safe-string -strict-formats   -nopervasives -c camlinternalFormatBasics.ml`
`sh: -o: not f

[2021-09-07 06:43] dra27 commented on #10613
I don't follow the maintenance burden? Dune, for example, has to keep interpreting both variables in order to support older compilers (as it did for the c_compiler variable, cf. src/ocaml-config/ocaml_config.ml) and keeping the variable allows other systems to be gradually switched over to a new variable? The burden in ocaml itself is just that matrix of m4sh referenced above.

[2021-09-07 07:57] dra27 commented on #10614
Running:

[code]

will show the commands being executed, but it looks like the assembler isn't properly configured. What arguments were passed to `configure`?

[2021-09-07 07:59] dra27 commented on #10614
I'm puzzled it got that far, though - if `AS` and `ASPP` are incorrect, how did it build the native runtime - has `power.S` been compiled in `runtime/`?

[2021-09-07 14:19] Octachron commented on #10592
In absence of comments from the concerned library authors, I am closing this issue. Don't hesitate to reopen it if you have more data points.

[2021-09-07 14:19] #10592 closed, assigned to nobody

[2021-09-07 17:41] randywang123 opened #10617 "ocaml-base-compiler 4.12.0 failed on step 16"
I have installed opam using homebrew on my mac Big Sur and `opam init` was successful. When I tried to create a switch 4.12.0, the following errors happened.

[code]
Could anyone give me some advice? Thanks.

[2021-09-07 19:17] gasche commented on #10617
Quoting from your output:
[code]

The `configure` script behaves as if you had explicitly set `/Users/apple/boost_1_64_0` to be your preprocessor. This probably comes from the fact that your environment has an explicitly set `CPP` variable to this value. Is it the case? In this case, could you remove this variable (or set it to the empty string) to disable this confusing setting?

[2021-09-07 19:49] randywang123 commented on #10617
Thank you for the advice. I just removed the `CPP` path from my `.bash_profile` and the following error happened.

[code]

Does that mean I have not cleaned the previous unfinished switch 4.12.0? Is there a way to clean directory and recreate the switch?

[2021-09-07 19:54] gasche commented on #10617
`opam switch list` should show you the switches that are installed, and `opam switch remove <name>` or `opam switch reinstall <name>` could remove a switch or reinstall one from scratch.

These (perfectly legitimate!) questions are not specifically about the compiler implementation, so I will close the issue here for now (it's still possible to post). I would encourage you to direct further questi

[2021-09-07 19:54] #10617 closed, assigned to nobody

[2021-09-07 22:07] kit-ty-kate commented on #10614
@dra27 The combination ppc64 + freebsd isn't part of the host detection in the configure script:
https://github.com/ocaml/ocaml/blob/12523517cf5c6c782563f8b76e661b67748e010b/configure.ac#L1044-L1132

Wouldn't that maybe why it fails?

[2021-09-07 22:36] mheiber commented on #10485
For others interested in this issue, @nchataing and @gasche have a recent write-up on the topic:
 https://cambium.inria.fr/~scherer/research/constructor-unboxing/constructor-unboxing-ml-workshop-2021.pdf

Related: https://github.com/ocaml/RFCs/pull/14

[2021-09-07 23:58] lenoil98 commented on #10614
@dra27

I solved the problem,  I was not setting `AS and ASPP` .   I used the command-line `gmake CC="/usr/local/bin/gcc10" AS="/usr/local/bin/gcc10" ASPP='/usr/local/bin/gcc10 -c" PARTIALLD="/usr/local/bin/ld -r"` to get the build to work.

@dra27

I patched the configure script with the below patch:

[code]

[2021-09-08 09:50] dra27 commented on #10614
Sounds fixed! @lenoil98, if you'd like to open a PR, we can merge the `configure` changes - it looks like you've included Power 32 as well - have you been able to test that? If you do, you could add `FreeBSD` to the entries in `README.adoc` in the Tier 2 column.

[2021-09-08 09:50] #10614 closed, assigned to nobody

[2021-09-08 10:56] shindere commented on #10610
I checked that #10619 does fix the reported problems.

May main concern is tomake sure it does not introduce others.

I made a mistake in the PR title, writing #9660 rather than #9960. Would
somebody please be kind enough and fix that?

[2021-09-08 10:58] nojb commented on #10610
Fixed.

[2021-09-08 12:51] Octachron commented on #10610
@nojb concerning your second point, as far as I can see, this behavior has been constant since at least OCaml 4.04? In particular,
[code]
generates an executable named `exe`.

[2021-09-08 13:10] nojb commented on #10610
Indeed, that seems to be the case...

[2021-09-08 13:56] shindere commented on #10610
Nicolás Ojeda Bär (2021/09/08 06:10 -0700):

How about just

[code]

In my tests this was generating an object file, not an executable. And
my understanding was that my patch in #9960 did change this, and htat I
needed to fix that, too.

Taht's why I added the "else" part. But I forgot to re-run the testsuite
after that. Before I added the "else" part, with just the other part of
hte patch, the te

[2021-09-08 14:01] Octachron commented on #10610
The issue is that without `-c` the object file is not the final target of the compilation command, and thus
[code]
generates `hello.o` since at least OCaml 4.00.

[2021-09-08 14:06] shindere commented on #10610
Everything seems clear to me now, thanks.

I pushed a version of the code that does not try to fix a problem that
does actually not exist, many thanks to you, @Octachron, for having
spotted that.

[2021-09-08 14:37] gasche commented on #10610
Would it be possible to have tests in the testsuite for the behaviors that we have decided to preserve?

[2021-09-08 15:28] shindere commented on #6861
Eduardo Rafael (2021/06/16 10:09 -0700):

I would have said on the host, no?

The compiler never runs on the target. Only the compiled programs and,
of course, the runtime.

I have a plan to integrate checkstack to configure. At some point the
build ysstme will probably have to know whether it is building a
cross-compiler or not, which is different from cross-compiling the
compiler in autoconf's t

[2021-09-08 15:32] shindere commented on #5890
I think this will be fixed in 4.13, by #9960 and #10619 (about to be
merged).

@kosik are you happy with the proposed fixes? Canthis be closed?

[2021-09-09 01:47] #10603 closed, assigned to chambart

[2021-09-09 03:41] bobzhang opened #10623 "-dsource dumps invalid program"
version 4.10.2

Input:
[code]

Output:
[code]

The parens around `pp_ident` produces invalid program

[2021-09-09 06:32] gasche commented on #10623
I cannot reproduce with 4.12:

[code]

[2021-09-09 06:34] gasche commented on #10623
This was #9778, first merged in 4.12.

[2021-09-09 06:34] #10623 closed, assigned to nobody

[2021-09-09 09:35] Octachron commented on #10610
It does not seem trivial to add test for the C compilation command, but it might it be a good idea on the medium term.

Since #10619 fixed the regression with out-of-thin-air `-o ` flag, I am closing this specific issue. @nojb , do you think that the not obvious behavior with `ocamlc -o anything hello.c` warrants an issue?

[2021-09-09 09:35] #10610 closed, assigned to shindere

[2021-09-09 15:00] #10598 closed, assigned to nobody

[2021-09-09 15:39] nojb opened #10625 "Weird behaviour of `-o` when compiling C files"
(Discussed in #10610)

In the current `trunk`:

- `ocamlc -o foo a.c` ---> `gcc -o a.o -c a.c`
- `ocamlc -o foo -c a.c` ---> `gcc -o a.o -c a.c`

In 4.12 it was not possible to use `-o` and `-c` at the same time with C files, but the first case (without `-c`) gives

- `ocamlc -o foo a.c` ---> `gcc -c a.c`

(essentially equivalent to the behaviour of `trunk`)

It seems to me that `-o` when `-c` is

[2021-09-09 15:39] nojb commented on #10610
Done! https://github.com/ocaml/ocaml/issues/10625

[2021-09-10 05:37] #8776 closed, assigned to nobody

[2021-09-10 07:06] Octachron commented on #10625
Current trunk (and 4.13) has exactly the same behavior as 4.12:

* `ocamlc -o foo -c a.c` ⇒ `gcc ... -c a.c`

Similarly, `ocamlc -o foo -c a.c` does send the argument `-o foo` argument to gcc as `gcc ... -o foo a.c`.
Moreover, the current behavior to not pass the `-o` flag to `gcc` in `ocamlc -o foo a.c` is partially here to accommodate
[code]
where the `-o` flag provides the name of the executabl

[2021-09-10 07:11] nojb commented on #10625
In 4.12 I get the following:
[code]
??

Am not sure, but the current behaviour is a bit unexpected. If the `-o` argument is ignored in some cases wouldn't it be better to fail if it is used in those cases?

[2021-09-10 07:18] lthls commented on #10625
My two cents: `ocamlc -o foo a.c` is not a compilation command, it's a link command that needs to compile some of its inputs first.
It should throw an error (with or without the `-o` flag), as none of the provided inputs will be actually linked (the bytecode compiler ignores C object files unless in `-custom` mode). Currently a link command without OCaml inputs succeeds without doing anything, pro

[2021-09-10 07:34] Octachron commented on #10625
@nojb : Sorry, I meant the case without the `-c` flag where both 4.12 and trunk ignores the `-o` flag.

[2021-09-10 07:39] nojb commented on #10625
Right, makes sense.

[2021-09-10 08:16] dra27 commented on #8901
Still an issue - I just pushed the code I'd started to put together in 2019 to [dra27/ocaml](https://github.com/dra27/ocaml/commits/masm-reserved).

[2021-09-10 10:12] actionshrimp opened #10626 "ocamlopt: operand size mismatch for `imul' on 4.12.0"
I'm seeing the error below from `ocamlopt`.

This is approaching the smallest repro I could find after experimenting with it a bit, removing certain functions inside the module stops the issue from appearing, as does moving everything to top level (outside of a module functor).

The same file runs through `ocamlopt` on 4.08.1 without issue.

[code]

[2021-09-10 11:56] gasche commented on #10626
Reproduction note: I can reproduce the issue (amd64 backend, without flambda), and it seems to be new in 4.12.0, the repro cas works with 4.11.1.

[2021-09-10 11:59] nojb commented on #10626
Culprit is b735f187acaf284148f0e41ca86be8eb08347230 cc @stedolan

[2021-09-10 12:47] lthls commented on #10626
The bug is that we generate the following assembler instruction:
[code]
This is illegal (multiplications need to have their result and the corresponding argument in a register), but before Stephen's commit it would never occur: either the multiplication was done on OCaml integers, and the result of the multiplication never needed to be stack-allocated, or the multiplication was done on boxed integ

[2021-09-10 13:52] xavierleroy commented on #10626
@lthls 's analysis is correct: this is a bug in the amd64/reload.ml file.  Interestingly, i386/reload.ml gets it right.  Here is the trivial fix: #10628 .

[2021-09-10 15:16] damiendoligez commented on #9717
After thinking about it, I think you're right. In practice it means the .mli is still mandatory (because it's the source for the .cmi, which is needed) but the compiler doesn't enforce its location.

[2021-09-11 09:49] #10626 closed, assigned to nobody

[2021-09-11 12:02] nojb opened #10630 "4.13 bug: configure --with-pic=yes passes bad flags to `as`"
If you do `./configure --with-pic=yes` then native-code compilation breaks with
[code]

cc @dra27 @shindere

[2021-09-11 12:03] nojb commented on #10630
`Makefile.config` has
[code]

[2021-09-11 14:14] crackcomm opened #10631 "Bigarray kind cast"
Hello, I'm wondering if I'd submit a PR with a bigarray kind cast feature to a standard library, is there a chance it would get merged?

[Here](https://gist.github.com/crackcomm/9d5fbeaa8e038194cdbf0ba990d698e6#gistcomment-3889407) is something I have in mind, just more generic - this applies only conversion into a `Char` kind.

[2021-09-11 17:32] xavierleroy commented on #10631
Possibly,  but you'll have to write a clear description of what your "cast" function does (in the PR and as a doc string in the code), and provide convincing examples of use.  Based on your discuss.ocaml.org post, I'm not sure what you're trying to do, and why it matters.

[2021-09-11 18:10] crackcomm commented on #10631
The main use of this function is to cast multidimensional array into a bigstring type for hashing and sending it across the network. Hopefully that could be achieved without any C extensions. I think it's pretty common operation.

[2021-09-12 08:43] dra27 commented on #10630
This is a regression in 4.13 caused by this line added in #10176: https://github.com/ocaml/ocaml/blob/0f2cbf6d3d3414297fc6e2073e0d78a991063748/configure.ac#L1233

The addition of `$sharedlib_cflags` is fine if `default_as` is a C compiler, but not if it's an assembler.

[2021-09-12 23:56] kit-ty-kate commented on #10423
I've tried the `OCamlCppExn` example and i can reproduce the issue on macOS 12.0beta (arm64)

I've also tried a similar pure C++ with C main and was able to get the expected behaviour (no uncaught exception). So I can confirm OCaml might be doing something weird here.

[2021-09-13 00:05] kit-ty-kate commented on #10423
I was also able to reproduce on a macOS/x86_64 (10.15)

[2021-09-13 07:42] xavierleroy commented on #10423
https://github.com/vaivaswatha/OCamlCppExn works fine on my Mac M1 with macOS 11.3 and OCaml 4.12.0 installed from OPAM.   A simpler version of this test (not using Ctypes) works fine too.

An alternative to using keep_dwarf_unwind at the linking stage  is to use `ocamlopt -cc 'clang++' ...` for the linking phase.  Then, the final link will be done by a C++ compiler, with appropriate linker option

[2021-09-13 08:23] kit-ty-kate commented on #10423
just in case you got caught by it too, the repository is in the "fixed state". You need to remove the -fkeep_dwarf_unwind from the `cpp/config/discover.ml`

[2021-09-13 08:32] xavierleroy commented on #10423
I don't understand.  We have already established that -fkeep_dwarf_unwind is needed to make the test work on x86-64, and I'm saying it also works on ARM64.  Why should I remove -fkeep_dwarf_unwind ?

[2021-09-13 13:59] damiendoligez commented on #6294
ping @garrigue

[2021-09-13 15:11] dbuenzli commented on #9839
I ported the patches @pqwy made for `uucp` for interning strings over to `uunf`. It will be in the next release (14.0.0), we will see if that improves things.

[2021-09-13 16:23] crackcomm commented on #10631
Turns out this functionality [exists](https://discuss.ocaml.org/t/cast-bigarray-kind/8469/9) in ctypes already. Unless we can do it better in stdlib I don't think it's necessary and I don't think I can. I'll give you the pleasure of closing this issue if you will, thanks for your support and help in fixing my code =)

[2021-09-13 23:41] phated commented on #10423
@xavierleroy You are correct, and it seems that the the original at that link works, but isn't quite the issue we've encountered. It seems that the issue occurs on Mac M1 when using dune's `(foreign_archives)` stanza. I've reduced the problem down to a fork of that example at https://github.com/phated/OCamlCppExn

I've also done some more debugging and it seems that the Mac M1 will **only** work i

[2021-09-14 07:34] garrigue commented on #6294
Actually `caml_alloc_custom_mem` is not used in lablgtk, but the following code is (in wrappers.c):
[code]
where `gc_speed` is a parameter set by the program.

This function is used every time one returns a managed data structure from C to ocaml.

Is there an easy way to switch to using `caml_alloc_custom_mem` ?

[2021-09-14 08:44] mshinwell commented on #10423
As far as I can tell, this isn't a bug in the OCaml compiler.  The LLVM toolchain on macOS/AArch64 seems to be reticent about producing the necessary DWARF sections for C++ exception unwinding.  (We've seen problems before with some unwinding tests in the compiler distribution itself, which are currently disabled pending more information from Apple.)

If adding the `-g` option for the C code works

[2021-09-14 09:35] ghost commented on #8625
We were talking about this problem just yesterday as it has been biting us again. @snowleopard is going to submit a PR to implement the `-strict` option.

[2021-09-14 14:06] Octachron commented on #10607
Given a value `E x`, the sub-expression `x` is certainly polymorphic, since it could be any type. At the same time, for existentially quantified type, we have a useful naming convention that we are already using for error messages. We could reuse it to print
[code]
rather than just
[code]

[2021-09-14 14:06] xavierleroy commented on #10423
I can reproduce the problem.  But if you link with `ocamlopt -cc clang++`,everything works fine, whether the C and C++ files are compiled with `-g` or not.

May I suggest that you try `-cc clang++` with your library and application?  The good thing is that you don't have to guess the name of the C++ library, nor obscure flags like `-keep_dwarf_unwind`, the `clang++` driver should be doing the righ

[2021-09-14 14:10] gasche commented on #10607
I don't find `<?:$E_'a>` very readable.

[2021-09-14 14:12] Octachron commented on #10607
Under the hypothesis that this happen infrequently, maybe the more explicit `<existential:$E_'a>` ?

[2021-09-14 14:32] gasche commented on #10607
Yes! (I would add a space after the colon.)

In the example we are discussing, it is not very interesting to give more information than `<poly>` because it looks obvious where the existential comes from. But the `<poly>` marker can in fact come deep within the value, and there it would indeed be interesting to know from which constructor comes the existential type.

[code]

[2021-09-14 16:26] phated commented on #10423
@xavierleroy Thanks for the suggestion! I'm trying to determine where that flag is passed in the dune build system to give it a try right now.

[2021-09-14 16:35] phated commented on #10423
Finally figured it out! We needed the `-cc clang++` flags as in the `(ocamlopt_flags)` stanza on the `(executable)` rule in dune (instead of on the library being built). I made those changes in this commit and the error is caught successfully: https://github.com/phated/OCamlCppExn/commit/260a0c1bfdb7484659efbaeb166d3e1445e71452

🙏  Super appreciate you looking into this and providing that solution

[2021-09-15 08:49] #10630 closed, assigned to dra27

[2021-09-15 09:28] garrigue commented on #10607
Actually, shouldn't it be just `<abstract>`.
From a type theoretical point of view, there is not much difference between `<poly>` and `<abstract>`, but in ocaml existential type variables are encoded as abstract types.
If you want to give a name, this should be the case for all abstract types, but I'm not convinced this is useful.

[2021-09-15 12:35] xavierleroy commented on #10631
Good to know!

Re: sending bigarrays across the network, watch out for endianness mismatches between the two ends.  OCaml's marshaler (module `Marshal`) supports marshaling of bigarrays, and does take care of endianness conversions.

[2021-09-15 12:35] #10631 closed, assigned to nobody

[2021-09-15 18:30] nojb commented on #6973
Fixed in #10538

[2021-09-15 18:30] #6973 closed, assigned to nobody

[2021-09-16 10:19] shindere commented on #9717
Damien Doligez (2021/09/10 08:17 -0700):

So, what would a good name be for such a flag, according to you?

Would `-no-cmi` be good enough?

[2021-09-16 11:34] kit-ty-kate commented on #9839
I'm still getting the same stack overflow with uunf.14.0.0 on PPC64 (vanilla), at this exact line:
https://github.com/ocaml/ocaml/blob/62b6fc9dbeb5ea7f43447cb68b3fad8c3327b6d8/asmcomp/spill.ml#L305

[2021-09-16 12:50] dbuenzli commented on #9717
Why wasn't this option considered ? I have the impression it fits better in the way the compilation toolchain works.

[2021-09-16 12:59] shindere commented on #9717
Daniel Bünzli (2021/09/16 05:50 -0700):

I have no opinion. I am waiting until everybody aggrees on a solutionso
that I can implement it.

[2021-09-16 16:52] marcusroberts commented on #10423
Thanks everyone!    This is working now.

[2021-09-16 16:52] #10423 closed, assigned to nobody

[2021-09-16 16:56] gasche commented on #10423
It may be possible/useful to add these guidelines to the Dune documentation somewhere; one way to move towards this would be to open an issue on the Dune bugtracker to explain what you were doing before, what went wrong, and how to fix the Dune file. Users could find it out more easily than here, I think.

[2021-09-16 17:02] xavierleroy commented on #10423
Actually, this could be mentioned in the reference manual, when documenting the `-cc` option to ocamlc and ocamlopt.  Something like "when linking object files produced by a C++ compiler such as `g++` or `clang++`, it is recommended to use `-cc g++` or `-cc clang++`".

[2021-09-16 21:17] sidkshatriya opened #10640 "Rename file `Changes` to `CHANGES`"
We have `HACKING.adoc`, `LICENSE`, `INSTALL.adoc`, `BOOTSTRAP.adoc`, `README.adoc` and so on. The capitalization is often necessary for GitHub to recognize the file. However, the capitalization also gives prominence to the file in a long list of other files which may not be so important.

The `Changes` file is quite important. Many projects call it `CHANGELOG.md` or `CHANGELOG`. To adhere to this

[2021-09-17 00:31] copy opened #10641 "Pattern-matching on mutable field surprisingly allocates a closure"
I suspect the OCaml developers might already be aware of this issue, however, as a user of the language, I found this behaviour quite surprising. The allocation showed up while optimising some code and was found using memtrace. Below is a reduced test case.

[code]

Which compiles to (using 4.12.0 with flambda -O3):

[code]

Changing the function to `let get_line_start t i = Array.get t.line_to_by

[2021-09-17 04:55] nojb commented on #10641
Warning 68 `match-on-mutable-state-prevent-uncurry` (see #9751) is your friend :)

[2021-09-17 04:59] nojb commented on #10641
Also see #1308 for the reson of the closure allocation.

[2021-09-17 13:50] dbuenzli commented on #9839
We are [getting stackoverflows](https://github.com/ocaml/opam-repository/pull/19599) on both  `ppc64` and `aarch64` with the regular OCaml compiler 4.12. The problem of the "current doxa" is that it's unclear to the programmer what is acceptable, what is not and what you have to do about it when you hit the problem.

The advice "concatenate your large arrays" seems a bit off to me in this case.

F

[2021-09-17 14:03] gasche commented on #9839
I think your question is valid and I don't have a good answer. On the specific example: if I understand correctly, you have tried to replace `[| [| a00; a01 |]; [| a10; a11 |]` by

[code]

I wonder what would happen with

[code]

which might prevent some inlining from going back to step 0.

[2021-09-17 14:04] kit-ty-kate commented on #9839
@gasche yes, I've tried that and a variety of similar approaches for several hours yesterday without success sadly :(

[2021-09-17 14:05] lthls commented on #9839
Your problem is that the compiler produces roughly one instruction for each array cell, to initialise the array to its value. All these instructions occur one after the other in the main module's initialisation code, and since the compiler isn't tail recursive on sequences of operations you get very high stack usage while compiling.

So simply splitting the file into several parts will make the va

[2021-09-17 14:26] dbuenzli commented on #9839
Thanks @lthls for the explanation, at least I understand the problem now.

That seems a reasonable solution on me. I'll try it at some point (at least for the next Unicode release).

Thanks but I'm not :-) I also have my own doxas…

And memory consumption.

[2021-09-17 14:27] lthls commented on #9839
Not really, the whole point of using lists is that everything gets statically allocated so you get 0 memory consumption. You get bigger executables though.

[2021-09-17 14:36] dbuenzli commented on #9839
I'm a bit puzzled by your comment. There should be quite a difference in representation between `int list` and `int array`. The latter has much less fat pointers.

[2021-09-17 14:38] bluddy commented on #9839
I think the suggestion is not to do `Obj.magic` on lists, but to simply switch to using lists altogether.

Why are lists statically allocated while arrays are not though? Arrays are a much more natural fit for static allocation I would think.

[2021-09-17 14:51] lthls commented on #9839
(I'm speaking for the native compiler only. In bytecode you're right that lists consume more memory).

Constant lists, even enormous ones, can be statically allocated in the data section of the object file. So they do take space in memory, but no allocation takes place at runtime. They do get registered as GC roots (because we're not trying too hard to find if they cannot refer to any GC-allocated

[2021-09-17 14:56] kit-ty-kate commented on #9839
I've just proposed a fix to the compiler: https://github.com/ocaml/ocaml/pull/10643 which makes `uunf` compile perfectly on ppc64 with the default stack size.

Feel free to test it and comment on it.

[2021-09-17 15:36] xavierleroy commented on #9839
The first thing to try is `ulimit -s unlimited`.  It works great under Linux.  My guess is that if @kit-ty-kate was to add that to the OPAM build instructions for this package, the problem would go away.

[2021-09-17 15:36] xavierleroy commented on #9839
Second, the compiler back-end uses stack roughly proportional to the size of each function, but independent of the number of functions.  (The initialization code for the compilation unit is a function too.) So, to take a silly example, to initialize a very big array, dont' do
[code]
but do something like
[code]
(It's prudent to add "inline never" annotation to the functions.)

[2021-09-17 15:37] xavierleroy commented on #9839
Third, array literals `[| ... |]` consisting of compile-time constants are allocated statically, then copied into the heap when the literal is evaluated, so as to avoid problems with mutability.  So, a very big array like
[code]
will still be compiled efficiently and quickly.  However, such an array of constants is not a compile-time constant, so if you nest arrays
[code]
the outer array cannot be

[2021-09-17 16:09] dbuenzli commented on #9839
Thanks for the further explanations.

I see. My initial comment was rather referring to the cons cells vs the compact representation of an array. Especially if your data are integers.

That works.

At @mseri's suggestion we added an opam `post-messages` on failures of these packages on these architectures that entices the user to do that.

Doing it automatically in the build is possible but people

[2021-09-17 23:56] copy commented on #10641
Makes sense, thanks.

[2021-09-17 23:56] #10641 closed, assigned to nobody

[2021-09-18 02:53] mjambon opened #10645 "Segmentation fault on stack overflow - OCaml 4.12, Linux"
I'm hitting a segfault on a stack overflow on linux, with ocaml 4.12.0 (see system details below). I haven't tried a more recent version of ocaml, and I can't guarantee that alcotest doesn't do anything weird. I don't get the segfault if I call the simple function `test_stack_overflow` directly without going through `Alcotest.run`.

Here's the program:

[code]

[code]

[2021-09-18 07:11] XVilka commented on #9328
There is a label "error-messages", I suggest to assign it to this issue, it will finding all these error message improvements easier:
https://github.com/ocaml/ocaml/labels/error-messages

[2021-09-18 07:14] XVilka commented on #7316
There is a label "error-messages", I suggest to assign it to this issue, it will finding all these error message improvements easier:
https://github.com/ocaml/ocaml/labels/error-messages

[2021-09-18 07:14] XVilka commented on #7336
There is a label "error-messages", I suggest to assign it to this issue, it will finding all these error message improvements easier:
https://github.com/ocaml/ocaml/labels/error-messages

[2021-09-18 07:14] XVilka commented on #7338
There is a label "error-messages", I suggest to assign it to this issue, it will finding all these error message improvements easier:
https://github.com/ocaml/ocaml/labels/error-messages

[2021-09-18 07:46] gasche commented on #10645
I suspect that this may be fixed by #10633. Would you by chance be able to test your repro-case on a compiler version with this fix applied? (It can probably be backported rather easily to 4.12 or 4.13, but it's just in trunk for now.)

[2021-09-18 20:08] mjambon commented on #10645
Is there a convenient way of doing that with opam?

[code]

It would be ideal if it were that easy:
1. Create new opam switch that uses the latest version of the compiler + runtime + stdlib
2. Install all my dependencies with opam as usual (with fingers crossed)

[2021-09-18 20:30] gasche commented on #10645
It's relatively easy to create a local switch from a compiler code repository, see [HACKING.adoc#testing with opam](https://github.com/ocaml/ocaml/blob/trunk/HACKING.adoc#opam-switch). But your dependencies may not work with trunk, in which case you would have to checkout say 4.12 and try to backport the patch yourself to test.

[2021-09-18 21:10] kit-ty-kate commented on #10645
You can use this exact same command if you upgrade to opam 2.1.0

[2021-09-19 02:33] mjambon commented on #10645
thank you @kit-ty-kate , it worked flawlessly.

* using opam 2.1
* installing ocaml with `opam switch create 4.14.0+trunk`
* installing alcotest and its dependencies (including dune)

Installing these packages was very fast because they were cached (I'm going to assume they're binaries that were built with the same exact version of the compiler).

[2021-09-19 02:37] mjambon commented on #10645
So the verdict is: the segfault is gone, I'm getting a `Stack_overflow` exception. :tada:
It could be luck but it's looking good. Closing the issue.

Thank you all for the support!

[2021-09-19 02:37] #10645 closed, assigned to nobody

[2021-09-19 16:33] xavierleroy commented on #9839
I like to think of it this way.  Memory is memory.  An application can use memory for heap or for stack, which is a special kind of heap with fast but constrained allocation and deallocation mechanisms.

It's a twentieth-century superstition that using a lot of stack space is wrong, while using a lot of heap space is fine.  Both are fine.

After a long wait, Linux (and maybe some other kernels) ag

[2021-09-19 16:53] dbuenzli commented on #9839
I don't disagree with this view. I dislike having to make my functions tail-recursive, I feel like a circus monkey dancing to trade stack space for heap space…

[2021-09-19 16:55] kit-ty-kate commented on #9839
I'd be in favour of that.
The other day I was actually wondering what the implications would be if opam was doing the same globally

[2021-09-19 19:22] arbipher opened #10648 "Ignore `_opam` in git and check-typo"
I followed the instructions in [HACKING](https://github.com/ocaml/ocaml/blob/trunk/HACKING.adoc).

Section `Testing with opam` mentions to create a local switch. This will result in a local `_opam` directory.

Then `tools/check-typo` (mentioned in a later section) will scan the local files including `_opam` which has lots of warnings.

Maybe my first question are these instructions up-to-date? If

[2021-09-19 19:37] gasche commented on #10648
Yes, I think that would be a good idea. Your PR is welcome.

[2021-09-19 19:40] kit-ty-kate commented on #10648
I think this is always welcome to have in the `gitignore` file.

Unless I'm mistake this should be unnecessary since the `tools/check-typo` script ignores files that are already listed in the `.gitignore` file.

[2021-09-19 19:47] arbipher commented on #10648
I just tested it.

If adding both to `.gitgnore` and `.gitattribute`:
[code]

If adding just to `.gitgnore`.
[code]

The result is in both cases they are ignored though the rules applied are not the same.
I can modify the commit if you think just adding to `.gitignore` is better.

[2021-09-20 04:25] #9845 closed, assigned to nobody

[2021-09-20 06:11] vrotaru opened #10650 "Shorten [@warning "-warning-name"] to [@w "-warning-name"]"
That's it. That's the feature wish.

I think the introduction of warning names in 4.12 is an improvement, just that it currently takes a bit too much  horizontal space.

[2021-09-20 08:38] zoggy opened #10651 "Handling of Misc.Fatal_error"
Hi,

This is not a bug but a suggestion and a question regarding `Misc.Fatal_error`.

By now, `Misc.fatal_errorf` formats and prints the given error message on stderr and raises the exception `Fatal_error message`. This is not very convenient when embedding compiler-libs: you can catch the exception but the output has already been done.

Moreover it is not consistent with the rest of the compiler:

[2021-09-20 09:05] lpw25 opened #10652 "`build_apply` messing up the order of side-effects for optional parameters and arguments"
I think the following behaviour is incorrect:
[code]
The first call should perform give:
[code]
and the second should give:
[code]

[2021-09-20 15:50] hhugo commented on #10651
I just got the following `Fatal_error`. It is rather unfriendly.
[code]

[2021-09-20 17:11] mikeshulman commented on #9459
Nothing seems to have happened on this for a while, but I wanted to register my opposition to it as well.  I agree with what @lpw25 said last: there's a lot of virtue in the consistency of treating empty types just like any other variant type, not least because it reduces user surprise.  Moreover, there's an alternative mentioned above by @stedolan that would actually make things *more* consistent

[2021-09-20 17:17] dra27 commented on #10640
It has been called `Changes` since 1995 (at the same as `INSTALL`, `LICENSE` and `README` - `BOOTSTRAP.adoc` and `HACKING.adoc` are much younger)

[2021-09-20 17:28] DemiMarie commented on #9459
Perhaps the empty polymorphic variant could be made an actual bottom type?  That has the advantage of being unique (since polymorphic variants are structural).

[2021-09-20 17:29] mikeshulman opened #10655 "Warn on redefinition of true, false, and lonely []"
I'm [told](https://discuss.ocaml.org/t/is-a-type-or-not/8464/1) that there are five tokens that are parsed as special data constructors despite not aligning with the ordinary syntax `Foo` for data constructors, namely `()`, `[]`, `(::)`, `true`, and `false`.  Each of these is used as a data constructor for one of the builtin types `unit`, `'a list`, or `bool`, but the user can also re-use them as

[2021-09-20 17:31] mikeshulman commented on #9459
I agree that that would be better than doing the same with a non-polymorphic empty variant, but I still wouldn't like it.

[2021-09-20 17:43] DemiMarie commented on #9459
Why is that?

I am not a fan of this approach: ``[ `Int of int ] ast`` consumes more memory and has more indirections than a plain `int ast`, and so this solution comes with a performance penalty.  I would not at all be surprised if that penalty is significant.

@yallop’s solution (which is fully safe to use) is my preferred solution with current OCaml.

[2021-09-20 17:45] mikeshulman commented on #9459
Because unexpected special cases are inconsistent and can surprise the user, leading to hard-to-find bugs.  An empty variant should be just a variant that has no constructors.  Similarly for an empty polymorphic variant.

[2021-09-21 02:38] garrigue commented on #9459
There is a problem with this approach: empty polymorphic variant types are currently treated as errors by the type-checker, to avoid letting the user write meaningless code. Allowing it would make polymorphic variants less usable.
On the other hand, there is some demand for allowing them as phantom type parameters.

Honestly, I'm a bit dumbfounded by this discussion, and still don't understand why

[2021-09-21 05:36] mikeshulman commented on #9459
Well, personally speaking, I'm a mathematician, and at least in the kind of mathematics I do (category theory and type theory), it's a general rule that no matter how tempting it is to make special cases for empty sets, if you do you'll regret it later.  (-:

In this particular instance, to me the issue is not that there are applications that *require* generative empty types, but that generativity

[2021-09-21 06:05] garrigue commented on #9459
Actually, your example precisely gives a reason why distinguishing empty types is confusing: once you leave the current module, in ocaml you have no way to distinguish types for sure other than their structural definitions (i.e. variants are not really generative).
This is why, for GADT indices, you should never write
[code]
but rather
[code]
If you use empty types for `zero` and `succ` you will e

[2021-09-21 08:27] sidkshatriya commented on #10640
Though its been called `Changes` since 1995, the point is that people who come from _outside_ the ocaml community may be able to navigate the git repo and find this file at a quick glance in a long list of files in the root folder. It's actually quite a valuable file and allows you to understand the progress OCaml is making at a quick glance -- having the file name in caps is useful. Many projects

[2021-09-21 08:52] Octachron commented on #10655
I don't like the idea of adding a warning that is almost surely a false positive.

I have never heard of people redefining `true` or `false` for instance. It would be certainly surprising to redefine `true` and `false` when `True` and `False` are available but that seems harmless enough.

Redefining `[]` is useful (but probably too clever) in some edge case situation like:
[code]

The collision wi

[2021-09-21 09:06] dra27 commented on #10640
For the caps, changing to `CHANGES` or `CHANGELOG` won't change where it appears. FWIW, I find it quite visible being in Title case in the middle of a series of ALL CAPS:

[code]

We get enough conflicts to deal with in normal operation of the Changes file - I'm concerned as to whether Git's rename mechanism might fall over with both conflicts _and_ renaming (especially across branches). On that b

[2021-09-21 09:06] #10640 closed, assigned to nobody

[2021-09-21 10:00] lpw25 commented on #10655
Who would ever use those types, clearly you want the more general:
[code]

[2021-09-21 14:52] mikeshulman commented on #9459
Yes, I've noticed that too.  If I understand correctly, the empty types are technically generative, but a module signature has no way to indicate that an empty type was newly generated, so that outside the module you can't rely on its generatedness.  If this is unavoidable, I could see this as an argument for going all the way and having only one empty type, but in that case I think it would be be

[2021-09-21 17:40] DemiMarie commented on #9459
What about a dedicated bottom type, that is (by design) the subtype of every other type?

[2021-09-21 17:54] mikeshulman commented on #9459
I worry that the more subtyping relations there are, especially ones that are special-cased to deal with particular types rather than instances of a general principle, the more complicated and harder to understand a language will be.  But what do I know?  I'm just a mathematician.

I admit I would be much less bothered by a dedicated predefined bottom that is a subtype of everything, than by addin

[2021-09-21 19:32] DemiMarie commented on #9459
Having arbitrary empty types be bottom is a bad idea IMO, but the same cannot be said for the (unique) empty polymorphic variant.

[2021-09-22 13:34] damiendoligez commented on #6294
Not directly, since you still need to allocate directly in the major heap to avoid moving values.

What you are doing is quite similar to the mechanism implemented by `alloc_custom_mem` so I'm not surprised the bug seems to have disappeared.  If you want to use the `custom_mem` stuff directly, you'll need to:
- get rid of the `gc_speed` factor and the `max` argument
- duplicate the computation of

[2021-09-22 20:56] dbuenzli opened #10660 "Add UTF codecs and validators to the `Stdlib`"
Since we have `Uchar.t` UTF encoders in `Buffer`, I have been thinking (for a long time) it would be nice to add UTF decoders to the `Stdlib`. For now I focus on simply providing an API for `Bytes`, the rest can follow later.

I think I finally found a design I'm happy with. It is efficient (no allocations, no exceptions) and can easily be used to devise wasteful higher-level abstractions (e.g [`U

[2021-09-22 21:21] nojb commented on #10660
I only had a brief glance at the API, but I confirm; upstream wants this :) I'll try to give a fuller look tomorrow. Thanks!

[2021-09-23 05:54] nojb commented on #10660
In your description you speak of *decoders and validators* but the proposal also includes *encoders* (`set_utf_*_uchar`) which are the counterparts of the existing `add_utf_*` functions in `Buffer`. Just for my own understanding:

- the "encoder" part is logically independent of the *decoders and validators* part, right?

- the *encoder* signature `bytes -> int -> Uchar.t -> int` differs from exis

[2021-09-23 10:17] dbuenzli commented on #10660
Thanks @nojb for having a look.

Yes. I adapted the issue title to reflect this.

Yes it differs. But other `set_*` functions are fixed length encodings so you statically know beforehand how much you are going to `set`, note that they raise `Invalid_argument`, that is programming error.

Both UTF-8 and UTF-16 are variable length encodings. We could have the same design as other `set_*` functions a

[2021-09-23 12:43] Octachron commented on #9116
With #10582, the issue for single-line error message has been fixed. The issue with multi-line error message seems far less acute: in this case, the user code is possibly misaligned, but there is no mistargeted graphical arrow in the error message itself. It is not clear if the complex solution of #9118 is worthwhile.

[2021-09-23 18:37] nojb commented on #10660
Returning the encoding length seems fine to me. What I am less sure about is whether to signal error by returning a negative value. On the one hand, it is a clever way of returning the extra information without any allocation or exception. On the other hand, the general style of the stdlib is to always signal an error either by raising or by using an option type (in this case an option type would

[2021-09-23 18:58] dbuenzli commented on #10660
Maybe it's a matter of view point. Personally I don't see that case as being an error or particularly exceptional. It will happen, so I really don't want to raise. Note that it's the same interface `Unix.single_write` gives you on `fd`s but with a twist.

If there is strong consensus on not returning negative numbers then I rather suggest to return `0` in case there's no space for encoding. That w

[2021-09-23 19:07] dbuenzli commented on #10660
Also maybe we can change the names, rather than `get,set` we can use `decode,encode` or `read,write`.

[2021-09-23 23:58] dbuenzli commented on #10660
Also I want, to add, none of the use cases I personally have in mind would suffer from that (basically I would call the `write(2)` on `0`, and start encoding again at position 0 of the buffer).

And for using the functions to reimplement existing [`Buffer` encoders](https://github.com/ocaml/ocaml/blob/c8c3a95a977e582698c3dd6610e271dcdf604066/stdlib/buffer.ml#L137-L213) we could simply overapproxim

[2021-09-24 04:16] nojb commented on #10660
I think this is the last point that remains to be decided before moving on to PR-stage. Let's try to make a decision. Returning 0 seems fine to me. @gasche @alainfrisch do you have an opinion? The question is: given the proposed signature
[code]
we are discussing what to return when there is not enough space:
1. `n < 0` with the length encoded as explained above (initial proposal),
2. `n = 0` (so

[2021-09-24 04:25] #6380 closed

[2021-09-24 08:56] gasche commented on #10660
I think the original design `n < 0` comes from the idea of giving all information without compromising on performance, at the cost of ease-of-use.; with the idea that easier-to-use functions can be built on top of it  The new proposal `n = 0` makes the function simpler and easier to work with, but loses some information making it a worse building block. (Would it make sense to provide both version

[2021-09-24 11:45] dbuenzli commented on #10660
I think we should also consider:

1.  When the *better* building block is actually useful. The only use case I have is if you really need to adjust the size of a buffer for squeezing one last character. How often will you need that ? and in that case is it really horrible to call `Uchar.utf_{8,16}_byte_length` on the char ? It would perfectly fit for the `Buffer` case but then `resize` will also b

[2021-09-24 13:19] alainfrisch commented on #10660
I strongly dislike the idea of encoding a 2-case result type into an integer, with different meanings for positive and negative values.  I don't see concrete cases where the caller would need to know the exact number of bytes which are missing to encode the uchar, and if the need arises, we have a function that gives the answer, with some small extra cost.

The approach with returning 0 when there

[2021-09-24 14:25] dbuenzli commented on #10660
Thanks @alainfrisch for your input.

I personally don't find any weirdness in the `set_*` functions. They are also much easier to use for clients. So on that ground I'll skip the measurement you suggest :-) In fact I'm really starting to think that if I had called them `encode_*`  people would trip out a bit less about the fact that they return a value…

I changed the proposal to "return the numbe

[2021-09-25 16:04] nojb opened #10661 "4.13 bug: class called `row` within module crashes the typechecker"
[code]
gives
[code]
The error goes away if the class is renamed to something other than `row`.

[2021-09-25 16:48] gasche commented on #10661
Great job finding a bug the day *after* the release :-D

[2021-09-25 17:01] gasche commented on #10661
Weirdly enough, this example behaves differently depending on whether the repro case is passed as a relative or absolute path.

[code]

[2021-09-25 17:02] xavierleroy commented on #10661
If you guys wanted to ruin the week-end of the release manager, you've succeeded 100%.

[2021-09-25 20:49] gasche commented on #10661
I proposed a fix in #10662.

[2021-09-25 22:17] gasche commented on #9717
I don't see a problem with looking for the `.mli` in the load path rather than just the `.ml` directory, and it does seem aligned with the rest of the looking semantics. There could be performance reasons to stick to the current behavior, as scanning the load path can be costly on some filesystems. But if I remember correctly, we now cache the load-path file listing, so this should in fact be chea

[2021-09-26 06:49] nojb commented on #9717
Thanks for the reminder :) Is the suggestion to allow `.mli` lookup when using `-inc` but not necessarily `-I`? Up until now, the semantics of the projected `-inc` flag were defined in terms of those of `-I`, but doing this would break this symmetry. Conversely, if we were to allow using `-I` for this, we should necessarily also allow it for `-inc`.

[2021-09-26 07:16] gasche commented on #9717
My point that if we want to allow lookup of .mli in other places (eg. with `-I`), we should make sure to also support them with `-inc` otherwise `-inc other-place/foo.cmi` is not going to work -- because the corresponding mli will not be found. I think we discussed at some point which files should be `-inc`-cludeable (all? just `.cmi`? I think the consensus was on "all" anyway), that's one more.

[2021-09-26 15:39] mikeshulman opened #10664 "Polymorphic methods and fields on polymorphic variants"
There seems to be a problem with compiling pattern-matches against the application of a polymorphic method or field to a polymorphic variant.  Here is an example with a method:
[code]
This prints `B`, whereas it should print `A`.  Here is a similar example with a field:
[code]
This also prints `B`.

The problem goes away if any of the following changes are made:

- Changing the type of `id` to `'a

[2021-09-26 15:48] gasche commented on #10664
Testing indicates that the bug was introduced in 4.07 (.0 or .1), and is absent from 4.06.

[2021-09-26 16:52] xavierleroy commented on #9717
Compilation time is not an issue: the compilers do a great many lookups for .cmi files, anything on top of that is negligible.

As far as I can remember, the current behavior (demand that the `.mli` interface is in the same directory as the `.ml` implementation) was intended to make life easier for editors (it's trivial to switch between implementation and interface) and maybe even for users (no n

[2021-09-26 18:57] Octachron commented on #10661
I am not sure about the week-end, but it does seem that I will have to cut a 4.13.1 release in the upcoming week.

[2021-09-26 21:32] gasche commented on #10664
Bisecting indicates that d43ccfc5d4 introduced the bad behavior. cc @trefis @garrigue
(see #7618)

[2021-09-26 21:54] gasche commented on #10664
The bug seems caused by incorrect row-variable information for the scrutinee type of `f.id x` -- obtained by instantiating a first-class polymorphic type. (This smells like the kind of irritating issues that, besides the two above, @lpw25 would also know about)

The following patch, which simply disables the use of presence information for better pattern-matching compilation, makes the issue disap

[2021-09-27 02:53] kirisky commented on #8697
Hi! I'd like to take this issue.

[2021-09-27 06:50] gasche commented on #8697
Yes, please feel free. My [previous comment](https://github.com/ocaml/ocaml/issues/8697#issuecomment-812494226) contains explanations on how to proceed.

[2021-09-27 09:46] Octachron commented on #9717
I am wondering if it would not be simpler to an option to explicitly associate a cmi to a ml file something like, `ocamlc -c a.ml:dir/a.cmi`?

[2021-09-27 12:26] Octachron commented on #10661
Fixed by #10662, I will release 4.13.1 with this fix by the end of the week.

[2021-09-27 12:26] #10661 closed, assigned to nobody

[2021-09-27 12:31] shindere commented on #5890
I am closing this issue because, as reported above, I think it is fixed in OCaml 4.13.0.

[2021-09-27 12:31] #5890 closed

[2021-09-27 13:01] alainfrisch commented on #9717
I believe that `-inc` would mostly be used by clever build systems, to control the visibility of .cmi files and avoid useless copying of files, just to please the compiler.  But a clever build system also knows whether the corresponding .mli file exists (/ can be built) or not, and could pass the information to the compiler.  What about adding flags to tell the compiler explicitly whether it shoul

[2021-09-28 07:06] bobzhang opened #10667 "The trunk seems to be broken on M1"
[code]

[2021-09-28 07:37] xavierleroy commented on #10667
You seem to have an old version of the runtime system in runtime/.  Did you do `make clean` ?

[2021-09-28 07:37] bobzhang commented on #10667
I did try `make clean` first, will try again

[2021-09-28 07:44] xavierleroy commented on #10667
Maybe even `make distclean` so as to remove everything that can be removed in `boot/`

[2021-09-28 07:53] bobzhang commented on #10667
`make distclean` works, thanks!

[2021-09-28 07:53] #10667 closed, assigned to nobody

[2021-09-28 09:02] damiendoligez commented on #9717
I like this solution, it's simple and robust.

[2021-09-28 11:06] gasche commented on #9717
So we had a development meeting where we touched this issue. Here is what was said:

- These days Merlin could easily locate a `.mli` in a different place if necessary.
- If we want the feature, there is consensus on @alainfrisch's interface suggestion.
- This feature is not a priority (compared to, say, the relocatability work), so no one was committing to implement this for now.
  (I think it co

[2021-09-29 17:38] wikku commented on #8813
Would it make sense to change the grammar `toplevel_phrase` to that of `use_file` (OCaml scripts), but terminated with `SEMISEMI EOL`? The grammar needs to be similar to that of scripts if we want to maximize compatibility with pasting them to the toplevel. (Full compatibility isn't possible, because an executed phrase may read from stdin, so some remaining part of the script would be fed there).

[2021-09-29 20:25] damiendoligez commented on #10655
About `true`, `false`, and `()`: what's the point of a warning rather than an error? In #5936 it was more or less decided to remove the possibility of redefining them, but we never found the time to do it.

[2021-09-29 20:29] mikeshulman commented on #10655
An error for those sounds fine to me.  I just presumed there was a reason for `()` giving only a warning and suggested to align `true` and `false` with that behavior.

[2021-09-30 07:52] nojb commented on #9717
Two thoughts:

- If we take @alainfrisch's line of reasoning further, in the case where we ask the compiler to find an existing `.cmi` file one should be able to pass the exact path on the command-line instead of having the compiler look it up in the load path (after all, this is the kind of information that would be well known to a clever build system). Or perhaps this should be a third option (s

[2021-09-30 08:05] alainfrisch commented on #9717
One more thought :  to better support the common case of an empty signature, what about making it so the compiler accepts empty .cmi files (i.e. files with size 0) and interprets them as empty interfaces?  This means the build system could efficiently create those files itself (even before compiling the implementation, which is better for incremental compilation, at least in byte code), without th

[2021-09-30 08:27] nojb commented on #9717
Going along @Octachron's suggestion, we could have a mini "grammar" for command-line `.cmi` specification for `.ml` arguments:
[code]
This concerns only the lookup of `.cmi` files. Previously the lookup of `.mli` files in the load path was also mentioned, but it wasn't clear to me if this was only mentioned as a way of controlling the lookup of `.cmi` files only or if there was interest on control

[2021-09-30 09:38] shindere commented on #9717
Not sure a "grammar" is a good approach but I understand all the
describe behaviours are interesting.

Wouldn't it be okay to use just flags?

For instance, how about a `-with-intf` or `-with-dcmi` command-line
option taking as argument the file to use as an interface? Am I correct
that such a flag owuld

 1. Address this issue
 2. Open the road to the idea of empty `.cmi` files?

[2021-09-30 10:02] nojb commented on #9717
Not sure how important it is in practice, but using a flag makes it less usable when passing more than one `.ml` file on the command-line at the same time (eg if you wanted to specify explicitly `.cmi` file for each `.ml` file argument).

[2021-09-30 10:04] shindere commented on #9717
Nicolás Ojeda Bär (2021/09/30 03:02 -0700):

Yeah, I thought about this limitation but had the same question than
you, e.g. how often does that happen in practice that several .ml files
are compiled at the same time.

[2021-09-30 10:31] dbuenzli opened #10668 "Install the release notes in configure's docdir"
Finding the release notes of the compiler you are using in your opam switch is always a very frustrating and time consuming experience.

It could be much easier if `Changes` was installed in the `configure`'s `docdir` directory. It shouldn't then be hard for the `opam` ocaml package to set that directory to its `opam var doc` directory convention (which does not follow the standard configure layou

[2021-09-30 14:33] nojb commented on #10668
This sounds reasonable. Would you like to propose a PR? It should just be a matter of modifying the `install` target in the main `Makefile`.

[2021-09-30 14:48] dbuenzli commented on #10668
I'm afraid not. The reason why I didn't open a PR is that I think its more complicated than that :-) I'm not longer really familiar with the build system and autoconf machinery.

[2021-10-01 05:08] #10648 closed, assigned to nobody

[2021-10-01 17:36] #10668 closed, assigned to nobody

[2021-10-02 19:48] arbipher opened #10671 "Extra leading space for the first `item` of the `itemize` block in the manual"
It looks like a rendering artifact in several sections e.g. [here](https://ocaml.org/manual/intfc.html#ss:staticlink-c-code) (_the table of the required_) and [here](https://ocaml.org/manual/flambda.html#s:flambda-inlining) (_to reduce the runtime overhead_)

The space is in the html output for the 1st item e.g. `" to reduce the runtime overhead ..."` .

The space is uniform for all the items in t

[2021-10-03 07:35] sanette commented on #10671
this is related to this Hevea issue:
https://github.com/maranget/hevea/issues/62
I thought it was fixed. Do you know which version of Hevea was used to generate this version of the manual?

[2021-10-03 13:06] arbipher commented on #10671
The metadata of the page html shows 2.35 (`<meta name="generator" content="hevea 2.35">`).
Your fix in heave is in dev.
so maybe we can wait for the hevea's next release?

[2021-10-03 23:33] arbipher opened #10674 "`Clflags.use_threads` is not set when using `ocamlc -I +threads`"
Both `ocamlc -help` and `Changes` mentions:

  which is equivalent to -I +threads.
  (Nicolás Ojeda Bär, report by Daniel Bünzli)

It doesn't reflect in `Clflags.use_threads` when parsing the command-line arguments given by `-I +threads`.

One related test case is [testsuite/tests/ppx-contexts/test.ml](https://github.com/ocaml/ocaml/blob/3eb0ab091f83b6d769ba6463a718b6935b011bc5/testsuite/tests/ppx

[2021-10-04 06:46] nojb commented on #10674
My understanding is that `Clflags.use_threads` is deprecated/unneeded and we only left in there (it is always `false`) in order to avoid breaking existing code. What exactly is the behaviour that you have in mind?

[2021-10-04 07:30] arbipher commented on #10674
I just happen to realize it's deprecated after checking `ocamlc -help` for other things.
When I searched `-thread` in the code base (for document), I was then unclear whether `Clflags.use_threads` was deprecated together.
I re-check the previous issues and I think I overlook some discussions there.

[2021-10-04 07:30] #10674 closed, assigned to nobody

[2021-10-04 10:37] gadmm commented on #8794
The PR fixing this is still open and we discussed it recently. Too soon, bot!

[2021-10-04 20:04] copy opened #10677 "`./configure --enable-frame-pointers` fails if `CC` contains an absolute path"
For example:

[code]

I believe [this](https://github.com/ocaml/ocaml/blob/e93f6f8/configure.ac#L1809-L1810) configure script is at fault, which should check for `CC` containing "gcc", not starting with it (as is done in [other places](https://github.com/ocaml/ocaml/blob/e93f6f8/configure.ac#L1015-L1016), although [not everywhere](https://github.com/ocaml/ocaml/blob/e93f6f8/configure.ac#L832)).

[2021-10-05 16:45] stedolan commented on #9885
This is indeed fixed in trunk.

[2021-10-05 16:45] #9885 closed, assigned to nobody

[2021-10-05 20:31] kirisky commented on #10281
Hi @dra27!  Is this issue still available? I'd like to take it. :smiley:

[2021-10-06 06:52] #10677 closed, assigned to nobody

[2021-10-06 10:07] #8697 closed, assigned to nobody

[2021-10-06 12:34] kirisky commented on #7179
Hi @gasche! Can I take this issue?

[2021-10-06 12:34] kirisky commented on #10281
Hi @gasche ! Can I take this issue?

[2021-10-06 12:41] gasche commented on #10281
Yes, please feel free. In general, unless someone has explicitly said otherwise, any open issue is available. But asking explicitly can be an occasion to get extra information on the issue; in this case I have no recommendation other than "read the linked Compcert doc and see how to adapt it to OCaml's INSTALL file".

[2021-10-06 12:51] kirisky commented on #10281
Got it, thank you, @gasche!

[2021-10-06 15:03] moyodiallo commented on #5733
Hi @gasche, I'm new and I want to work on this.

[2021-10-06 19:54] gasche commented on #5733
Please feel free to work on this. Note that writing a good proposal for the manual probably requires some familiarity with the C/OCaml FFI, so this may be one of the harder "good first issue" tasks.

[2021-10-07 12:23] moyodiallo commented on #5733
Cool. I have some knowledge about C/OCaml FFI.

[2021-10-07 21:18] hyphenrf commented on #10532
I agree, it's why I often have the `mli` open next to the corresponding `ml` in my editor though as it offers both sigs and docs. A counter-argument to annotating everything is extra unnecessary rigidity that may hinder future refactorings.

I'm personally excited about this simall quality of life upgrade. It also feels consistent with things like locally abstract `(type a b)` being short for `(ty

[2021-10-08 12:38] gasche commented on #7455
It looks like no one is willing to put the work to solve this issue (for ocamllex; the ocamlyacc part has been solved). Maybe it's okay to officially give up and close it for good?

[2021-10-08 14:44] dbuenzli commented on #10660
I have slightly changed the functions on decodes not to mention bytes as the `Uchar.utf_decode` type can also be useful to decode wide chars strings (e.g. JavaScript strings), this was discussed [here](https://github.com/dbuenzli/stdlib-utf/issues/4).

All the proposed additions can be found [here](https://github.com/dbuenzli/stdlib-utf/blob/master/utf_x.mli), I'm glad if people manage to complain

[2021-10-08 20:27] craff opened #10686 "Difference with @inline always between ocamlc/ocamlopt/ocamlopt with flambda"
The following code which try to force inlining works with
 ocamlc with or without flambda
 ocamlopt with flambda
but emit a warning and do not perform inlining with
 ocamlopt without flambda

Here is the warning
52 |   module F = Make [@inlined always] (FloatMin)
                  ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
Warning 55 [inlining-impossible]: Cannot inline: Function information unavailable

S

[2021-10-09 09:54] lthls commented on #10686
There are quite a few misunderstandings here.
- `ocamlc` does not perform any inlining. For this reason, it never emits any inlining-related warnings either.
- the `[@inlined]` attribute is only useful on function applications (it needs to appear on the function being applied, not the whole application). Everywhere else, the attribute gets discarded with a warning. The `[@@inlined]` attribute does

[2021-10-09 10:52] craff commented on #10686
On 21-10-09 02:54:33, Vincent Laviron wrote:

Thanks for the precisions! Should not any discarding hint produce a warning ?
Otherwise it is hard to know it you are obtaining what you want ?

Then, the message is misleading: "not enough information" should be
"do not inline function not containing function" ?

Done, thanks.

[2021-10-09 13:05] lthls commented on #10686
There is some amount of code in the compiler to detect common cases. In particular if you use the right attribute at the wrong place you will likely get a warning. But typos in the attribute name will cause the attribute to be ignored silently, and using the wrong number of `@` will also often drop attributes silently.

If a function cannot be inlined by Closure, then it is known at the point wher

[2021-10-10 03:46] craff commented on #10686
On 21-10-09 06:05:51, Vincent Laviron wrote:

Thanks for the help. In fact, I was mainly confused by dune that disable some
warnings even when I am very clear that I do not want to:

(env
  (dev     (flags -w +a-70-42-44-45-4 -warn-error +a)
           (ocamlopt_flags -w +a-70-42-44-45-4 -warn-error +a
                           -inline 50000 -O3))
  (release (flags -w +a-70-42-44-45-4 -warn-error

[2021-10-10 03:57] alexfanqi commented on #9800
Hi, on riscv64 and ocaml 4.12.1, I also got this warning in some tests, causing a few tests failure (expect empty output).  Does ocamlopt currently support generating PIC for riscv64?

for example:
[code]

[2021-10-10 06:26] nojb commented on #9800
It should. The testsuite passes on our test server, but it uses gcc 9.2.1 which is older than the one you are using 11.2.0... perhaps that has something to do with it.

[2021-10-10 10:04] lthls commented on #10686
I you have additional questions, you can also ask them on the forum at https://discuss.ocaml.org/

[2021-10-10 10:04] #10686 closed, assigned to nobody

[2021-10-10 13:14] gasche opened #10687 "A syntax for the empty polymorphic variant type"
I currently don't know how to write the empty polymorphic variant type, and I'm not the only one, see [this Discuss topic](https://discuss.ocaml.org/t/empty-polymorphic-variant-type/8467/3).

I propose the following syntax: `[ | ]`. This is rather consistent with the fact that leading bars are allowed in non-empty variants: ``type t = [ | `A | `B ]``.

Remarks:
- `[< ]` does not work as a ground t

[2021-10-10 13:24] gasche commented on #10687
... of course the "natural" polymorphic variant encoding I proposed above doesn't quite work, because an `absent` value can be implicitly coerced to a `present` value. That's what you get for writing phantom polymorphic-variant signatures without testing them heavily first. The feature proposal still stands.

[2021-10-10 14:20] mikeshulman commented on #10687
It doesn't work as an encoding of booleans, but there are other situations in which one might want a pair of types in which one *can* be coerced to the other.

FYI, you can include backquotes in inline code by using double backquotes as the delimiter:
[code]
produces ``[ | `A | `B ]``.

[2021-10-11 00:57] alexfanqi commented on #9800
Maybe it is gcc version. I noticed in your test server, flambda is set false for riscv. so I disabled it,  but the warnings are still there plus 3 unexpected errors. Should I open an issue for this?

[2021-10-11 07:01] #7376 closed, assigned to nobody

[2021-10-11 07:02] gasche commented on #7084
ocamldoc is being phased out to be replaced by [odoc](https://github.com/ocaml/odoc), and no one seems interested in fixing small interface bugs. Closing.

[2021-10-11 07:02] #7084 closed, assigned to nobody

[2021-10-11 07:05] nojb commented on #9800
OK, but as we don't currently have an easy way to reproduce the issue, it may not get looked at immediately. We should look into maybe upgrading the VM we use for testing. Which distribution are you using by the way?

[2021-10-11 07:28] alexfanqi commented on #9800
I use Gentoo and tested on it.

Not a problem for me. Thanks for the comments. I am just testing packages for Gentoo. not pushing for anything.

[2021-10-11 07:52] alexfanqi opened #10688 "riscv64: Test failures due to linker warning: creating DT_TEXTREL in a PIE"
Hi,
I am testing ocaml 4.12.1 on riscv64 (sifive unmatched board) on Gentoo and running gcc-11.2.0 and glibc-2.33. I had some test failures due to the same cause, example:
[code]
This seems to have happened for 32 bit arches previously #9800. After discussed with one contributor there, the original issue is not the case here because ocamlopt support generating PIC for riscv64.  so I open a new iss

[2021-10-12 13:05] dra27 opened #10695 "natdynlink (and ocamlnat) should be disabled with --disable-shared"
On platforms which support it, `dynlink.cmxa` is still built even when OCaml is configured with `--disable-shared`. This doesn't cause build issues, but given that it fundamentally doesn't work we should disable `dynlink.cmxa` when configured with `--disable-shared`.

The same is _not_ true for `dynlink.cma`, even for code which uses C stubs, because you could compile the bytecode on a system with

[2021-10-13 09:45] rwmjones opened #10698 "OCaml 4.13 memory leak in caml_setup_stack_overflow_detection"
Run any ocamlopt-compiled program under `valgrind --leak-check=full` and you will see:
[code]

This leak seems to be new in OCaml 4.13.1.

In nbdkit we maintain a set of valgrind suppressions for OCaml, and the only ones we expect are functions matching `caml_stat_alloc*`: https://gitlab.com/nbdkit/nbdkit/-/blob/master/valgrind/ocaml.suppressions

[2021-10-13 16:50] xavierleroy commented on #10698
Following an unhelpful change in glibc (#10250), there was an emergency fix in #10266, in particular to unblock the Rawhide builds.

The emergency fix allocates the alternate signal stack dynamically, but does not free it because it's not entirely obvious how to do so safely (https://github.com/ocaml/ocaml/issues/10250#issuecomment-789108059).

Until this is addressed, your temporary fix (adding `

[2021-10-13 21:44] cfcs opened #10700 "Confusing error message `let mod`"
[code]
In `ocaml 4.12.0` this yields the following two error messages:
[code]

This is pretty unintuitive, something along the lines of *mod is a reserved keyword* would make more sense for the first, and the second seems unnecessary (I don't know if that is avoidable somehow).

[2021-10-14 02:55] garrigue commented on #10687
This is not a problem of syntax: currently empty polymorphic variants are not allowed by the type checker.
Most often they denote typos, where one ends up creating a function that accepts no input.
[code]

[2021-10-14 14:53] damiendoligez commented on #9717
After some brainstorming with @shindere, it seems clear that we need to support at least the following scenarios for compilation out of source:

1. The .ml and .mli are together in the source directory, and the .cmi is in the build directory
2. The .mli is in the source directory and the .ml is generated: it sits in the build directory along with the .cmi

This can be supported with two command-li

[2021-10-14 15:08] dbuenzli commented on #9717
FWIW I just hit that problem this week in a project. I had to copy the `.mli` to the build directory which is annoying.

Is there any strong reason not to specify the files directly (instead of directories) ? In my build systems most of the time I do have all the file paths (because of precise dependency tracking) and I spend my time trimming them to directories to pass as `-I` :-) (See #7080)

[2021-10-15 06:40] dbuenzli commented on #9717
Also I would like to add (but I think it's supported by your proposal).

3. The `.mli` is in one source directory, the `.ml` in another one and the `.cmi` is in the build directory.

This occurs in these cases:

a. Module level conditional compilation e.g. `m.mli` and implementations for different OCaml versions `4.10/m.ml`, `4.11/m.ml `, `4.12/m.ml`
b. Interface implemented by multiple backends,

[2021-10-15 16:03] xavierleroy commented on #9964
I'll take the liberty to close this PR.  It's objectively better to keep the automaton small by using lexer states.  Please holler if you disagree.

[2021-10-15 16:03] #9964 closed, assigned to nobody

[2021-10-15 18:46] andreasabel commented on #9964
Well, this is of course your decision!  I raised the issue to alert of a problem, but workarounds exist, so this is entirely optional...

I must confess that I haven't changed BNFC yet, hoping for a miracle upstream, but I also haven't gotten any user complaints.  So the issue might be just academic for now.

[2021-10-17 13:25] rwmjones commented on #10698
I don't disagree!  That change has caused a huge amount of churn everywhere.

Back to this bug though, since the alternate stack is not intended to be freed, would it make sense to rename the function `caml_stat_alloc_stack_overflow` (or anything beginning `caml_stat_alloc_`)  as that appears to be the convention for static allocations?

[2021-10-18 07:06] xavierleroy commented on #3747
Fixed by the "safepoints" PR #10039.

[2021-10-18 09:31] dbuenzli opened #10708 "`stdlib`'s `make depend` needs gnused"
The `\u` directive [here](https://github.com/ocaml/ocaml/blob/f44236171d937564571eb145fa13ef422ed8f30a/stdlib/Makefile#L269)  is not recognized by macOS's sed.

Work around:

[code]

[2021-10-18 09:56] dra27 commented on #10708
Indeed - the idea is that it only affects developers (because the `.depend` files are committed), but it should at the very least be documented and there ought to be better support for switching (unfortunately, `gsed` is also not a standardised alias for installations of GNU sed!). The gold-plated solution would be to have `configure` detect whether `\u` works and cause the `make depend` target to

[2021-10-18 10:00] dbuenzli commented on #10708
I don't think it should be documented, it should fail.

It's quite confusing as it will happily generate you a broken `.depend` file which leaves you head scratching and loosing your time figuring out what is going on.

[2021-10-18 12:21] xavierleroy commented on #9214
Plausible fix in #10709.

[2021-10-18 13:32] jahierwan commented on #9214
Excellent! Thanks Xavier.

[2021-10-18 14:08] Rehan-MALAK commented on #9214
With  https://github.com/xavierleroy/ocaml/commit/ab9588cace43beac19b9ff6fa782fc37ac597671 patch, one gets
[code]
without quitting the ocamldebug session.

Thanks @xavierleroy

[2021-10-18 14:12] Rehan-MALAK commented on #9214
:smile:

[2021-10-18 14:54] MisterDA opened #10711 "Possible extra copies in `Unix.read` implementations"
Hi!
I was reading the binding implementations of `read(2)` in [unix/read.c](https://github.com/ocaml/ocaml/blob/trunk/otherlibs/unix/read.c) and [win32unix/read.c](https://github.com/ocaml/ocaml/blob/trunk/otherlibs/win32unix/read.c), and it seems to me there's a possible extra copy of the buffer being made, or at least superfluous work done.

The code in the two libraries is rather similar, let's

[2021-10-18 15:41] MisterDA commented on #10711
That's crystal-clear, thanks for the explanation.

[2021-10-19 10:52] #9214 closed, assigned to nobody

[2021-10-19 11:03] xavierleroy commented on #9214
Not impossible but a lot of work to implement, as far as I can see.

[2021-10-20 15:22] mroch commented on #7665
could this be reopened please?

[2021-10-20 15:34] gasche commented on #7665
This looks like something that needs Windows expertise. (cc @nojb, @dra27, @MisterDA). From the outside it's not clear how to provide the expected behavior on top of a function behaving as described. It looks like Python [restricts its own `select` binding to sockets on Windows](https://docs.python.org/3/library/select.html).

[2021-10-21 07:42] mshinwell commented on #9978
I confirm that Flambda 2 does not exhibit this bad behaviour (at least on this example) so I think we can close this.

[2021-10-21 12:05] #10671 closed, assigned to nobody

[2021-10-21 17:21] xavierleroy commented on #10711
Indeed, the extra copy cannot be avoided because of GC that can execute concurrently in another thread.

You are right that `memmove` could be replaced by `memcpy`.

[2021-10-22 07:47] rwmjones commented on #8648
This is the rebased patch that Fedora carries against 4.13.1: https://pagure.io/fedora-ocaml/c/9966786a7389dc6621f2bc2dce7c690c5a38b67d?branch=fedora-36-4.13.1

[2021-10-22 07:59] rwmjones commented on #8648
Apparently I cannot remove the "stale" label, but I don't believe this bug is stale.  I tested it on 4.13.1 as follows (you're going to need a Fedora/RHEL system or something that has annotated binaries to do this).

With upstream OCaml 4.13.1:
[code]

[code]

With upstream OCaml 4.13.1, adding hardening flags:
[code]

Same results as above.

With Fedora patch:

[code]

[code]

Note that:
[code]

[2021-10-22 08:20] dra27 commented on #8648
There is some related work in https://github.com/ocaml/ocaml/pull/10413, but I don't think that addresses this issue. Is it the case in the build that you specify `CFLAGS` and `LDFLAGS` when calling `configure` but _not_ on the subsequent call to `make`? (clarifying my understanding, not suggesting any change!)

[2021-10-22 08:22] dra27 commented on #8648
I _think_ that what we should be doing here is capturing `CFLAGS` and `LDFLAGS` in `configure` and using them as _defaults_ in the build system but also as a default when the compilers themselves call the C compiler/linker.

[2021-10-22 09:18] rwmjones commented on #8648
Yes we only pass CFLAGS and LDFLAGS to `./configure`.

https://src.fedoraproject.org/rpms/ocaml/blob/rawhide/f/ocaml.spec#_187

The `%confgure` macro expands to a very lengthy command which is rougly like:
[code]

Edit: It would be possible to pass CFLAGS & LDFLAGS to make too, but we don't at the moment.

[2021-10-22 09:19] correnson commented on #10374
Thanks for this report ! Actually, the problem is also revealed by your favorite editors if they are not configured to run their sub-commands (compile, shell) in arm64 environment as well.
Cf. [this post](https://cpufun.substack.com/p/setting-up-the-apple-m1-for-native) for helpful comments.

[2021-10-22 10:28] shindere commented on #7049
This is still an issue and I assigned it to myself.

It won't be fixed son because it has a lot of prerequisites on the build
system, e.g. being able to control where the compilation artifacts are
written.

Also, I think the title of the issue is a bit misleading. We indeed need
a way to measure how well the testsuite covers the compiler's code, but
the idea that this should be done through a dedi

[2021-10-22 11:12] dra27 commented on #8648
Wait a minute! We are doing that since 4.12! Digging further...

[2021-10-22 11:31] dra27 commented on #8648
With trunk in an F34 container, I'm doing (no patch):

[code]
which gives:
[code]
(I don't know what the fail refers to - I have installed redhat-rpm-config). With a normal configure, I get this from annocheck:
[code]

Isn't working for 4.12.0+, therefore?

[2021-10-22 11:41] MisterDA commented on #10711
Thanks again for the explanations! As for the `memmove`, as there's a fallback to `memcpy` when the buffers don't overlap, it would really be a micro-optimization that would save at most one function call and two branches... not much.

[2021-10-22 11:41] #10711 closed, assigned to nobody

[2021-10-22 13:11] rwmjones commented on #8648
The "gaps" error is the real problem here because it indicates that the whole binary hasn't been covered by the hardening flags.  Previously we decided that this was happening because of the statically linked code like the garbage collector.

Now looking back at my comment above, I see that my self-compiled Fedora OCaml + patch *has* the gaps error (bad).  However the real build does not have it t

[2021-10-22 13:13] rwmjones commented on #8648
BTW we asked the compiler team if they could extend annocheck to print some symbols from the non-hardened parts of the binary and they will implement that in a future version.

[2021-10-22 13:21] rwmjones commented on #8648
BTW#2 you can run annocheck on `*.o` and `*.a` files.  For example `annocheck runtime/libasmrun.a` tells me that the runtime is all good except for the assembler file (`amd64.o`).  It would be possible to add some suppressions into the asm file to fix this, although I don't know if that's a good idea or not (since the assembler presumably would never have that hardening).

[2021-10-22 14:06] art-w opened #10721 "Warning 32 unused-value-declaration for functor argument inside a signature"
There seems to be a problem with the unused value declaration warning in 4.14.0 (but not 4.13.1) :

[code]
The issue is that the compiler doesn't yet have knowledge of all the implementations of the signature `S`, where `T.x` can actually be required. This pattern can notably be seen in janestreet's base library (for example [comparable_intf.ml](https://github.com/janestreet/base/blob/02baffc343fd

[2021-10-22 14:14] dra27 commented on #8648
It does appear to be the assembler:

[code]
and
[code]

In both cases, the first symbol is one in the startup object (which is assembled) and the other is either in the assembler portion of the runtime (`caml_alloc1`) or definitely a symbol generated by the backend for assembly.

Before reading the manual, I tried with a build which assembles everything using `gcc -c` but that changes nothing... b

[2021-10-22 15:21] Octachron commented on #10721
Thanks for the report! The issue should be fixed in #10722, and I added your example to the compiler testsuite.

[2021-10-22 20:10] art-w commented on #10721
That was fast! Thank you!

[2021-10-22 20:47] #10721 closed, assigned to nobody

[2021-10-24 23:45] Et7f3 opened #10724 "Avoid shebang fallback on 128 on linux"
Hy,

After reading this PR #8622 I saw the limit of 128. I wanted to check if they are other limitation and I found that linux since 5.1 has increased this limit https://github.com/torvalds/linux/commit/6eb3c3d0a52dca337e327ae8868ca1f44a712e02

I see limitation include no space/tabs and I am working in adding a fix for that.

[2021-10-25 13:15] xavierleroy commented on #10698
Tentative fix in #10726.  Needs testing.

[2021-10-26 10:52] garrigue commented on #9985
This is fixed in 4.12.0

[2021-10-26 10:52] #9985 closed, assigned to nobody

[2021-10-26 16:26] dannywillems opened #10729 "Obj.reachable_words on custom_blocks"
When dealing with custom blocks, `Obj.reachable_words` does not take in account the size of the allocated custom blocks. See the example project [here](https://gitlab.com/dannywillems/ocaml-reachable-words-custom-blocks-example).
(part of the code pasted here)
[code]

[code]

The output is `3`. However, I would have expected an output of `6` (`2 + sizeof(foo256_t)`).

Is it the expected behavior o

[2021-10-26 19:58] ygrek opened #10730 "Obj.reachable_words is extremely slow when called multiple times"
The reason seems to be that `obj_counter` is never reset to zero, so `extern_resize_position_table` is called on every invocation.

Here is a dirty proof (another way to observe is to run similar program and put breakpoint on extern_resize_position_table):

[code]
[code]
magic numbers are addresses of `reference` and `obj_counter` as shown by `nm` - quick way to access obj_counter w/o rebuilding o

[2021-10-26 21:11] alainfrisch commented on #10729
AFAICT, Obj.reachable_words correctly counts the number of words of the custom blocks (within the OCaml heap).  The content of the block can be arbitrary, there is no way to know it contains a pointer to some data structure outside the heap, nor to know the size of that data structure.

[2021-10-27 08:13] xavierleroy commented on #10729
@alainfrisch's reply is spot on.  Your stub code stores a pointer to a `foo256_t` in the custom block, so only the size of the pointer is reported.

Note that you could also elect to store the `foo256_t` "flat" in the custom block:
[code]
Then your 256 bytes will be counted.  However, the solution above can be problematic if your type `foo256_t` requires alignment greater than a machine word (i.e.

[2021-10-27 08:14] xavierleroy commented on #10729
Closing this report, as the behavior of `Obj.reachable_words` here is as intended.

[2021-10-27 08:14] #10729 closed, assigned to nobody

[2021-10-27 08:29] #10730 closed, assigned to alainfrisch

[2021-10-27 20:14] #10660 closed, assigned to nobody

[2021-10-28 13:39] vch9 opened #10734 "ocamlopt fails with a stack overflow"
I currently have a stack overflow during the compilation with `ocamlopt`. The code is instrumented by `bisect_ppx` and it fails with a `Stack overflow` when compiling a big file (dune targets which combines multiple large files). I believe the error comes from an actual stack overflow in the compiler and not from an infinite loop introduced by the instrumentation.

[code]

When `OCAMLRUNPARAM=b` i

[2021-10-28 13:53] nojb commented on #10734
It is well-known that compilers in general and `ocamlopt` in particular will have trouble dealing with machine-generated code which is excessively big (see eg the discussion at #8972). My suggestion is to try to avoid generating such files in the first place.

[2021-10-28 14:00] vch9 commented on #10734
I currently disable the instrumentation in such files but it would be complicated to not generate these files at all.

[2021-10-28 14:04] lthls commented on #10734
You mention that the file is created by combining multiple large files. Could you instead compile each file independently and only generate a simple wrapper ?

[2021-10-28 15:32] xavierleroy commented on #10734
Yes, smaller source files and smaller functions should help.  Also, remember to do `ulimit -s unlimited` in the shell to get as much stack space as the OS allows.

[2021-10-29 08:27] lpw25 opened #10735 "Uncaught unify exception from `build_as_type`"
The following code:
[code]
produces an uncaught `Ctype.Unify` exception from `build_as_type` on [this line](https://github.com/ocaml/ocaml/blob/4.13.0/typing/typecore.ml#L503).

The comment above that line suggests that the call to unify cannot fail, but it needs to be a call to unify in "pattern mode", otherwise it can fail for examples like this.

[2021-10-30 09:21] shindere commented on #6959
Vincent Laviron (2021/08/12 06:36 -0700):

Thanks. I have implemented your suggestion in #10379, see
https://github.com/ocaml/ocaml/pull/10739

[2021-11-01 16:28] Et7f3 commented on #10724
#10727

[2021-11-02 08:29] #10735 closed, assigned to nobody

[2021-11-02 08:31] glondu opened #10744 "Insufficient precision when printing floats"
OCaml prints floats with 12 digits of precision (look for `%.12g`, in particular in stdlib/stdlib.ml and tools/dumpobj.ml). However, this is not sufficient in general, as shown by the following example:

    # let x = 4643037053177141657L in Int64.(sub x (x |> float_of_bits |> string_of_float |> float_of_string |> bits_of_float));;
    - : int64 = -1L

For IEEE 754 floating-point numbers, 17 digit

[2021-11-02 10:17] dbuenzli commented on #10744
It's a bit unclear in which context you are getting the problem so the following may not help, but if you really care about floating point interchange a better answer is usually to just use the textual binary representation available via `"%h"`.

[2021-11-02 14:24] MaxHearnden opened #10745 "Allow type parameters to be given in the type expression when re-exporting types"
At the moment, when re-exporting a type to allow constructors and labels to be used without a module name, type parameters for the type being re-exported cannot be given. e.g.
type intlist = int list = () | (::) of int * int list;;
will not work.

This could be useful in reducing polymorphism to improve perfomance when dealing with records and variants.

[2021-11-03 04:42] #7873 closed, assigned to dra27

[2021-11-03 04:42] #7667 closed, assigned to nobody

[2021-11-03 05:35] DemiMarie commented on #9509
Is this a problem for setuid binaries written in OCaml?

[2021-11-03 09:28] Et7f3 commented on #9344
for msvc can we generate an assembly file like this:

[code]

Same for gcc/clang we could use:
[code]

or assembler also choke on big file ?

EDIT:

I tried with:
gen.c:
[code]
[code]
after 48 elements we get `A2042: statement too complex`

Thing I haven't tested: use other encoding than `030H`

pre.asm is header
post.asm is footer

For this limit we get a `4 891 136` octet binary
[caml_code.zip](

[2021-11-03 18:19] xavierleroy commented on #9509
You may be thinking of the attack whereas a very large stack frame is created, so large (gigabytes or more) that it jumps over the guard pages for the stack and overlaps with data pages.  This can be achieved relatively easily in C using very large stack-allocated arrays, or even more easily in C 99 with variable-length arrays.

In OCaml, the stack frame only contains scalar values (pointers or nu

[2021-11-04 08:44] MSoegtropIMC opened #10749 "Attacks by introducing invisible source code using special Unicode characters"
In this paper: (https://www.trojansource.codes/trojan-source.pdf) researchers from the University of Cambridge describe an attack which uses special Unicode characters to inject invisible or modified code. As far as I can tell any compiler taking Unicode input - as ocamlc - is affected by this.

There is an easy remedy, which is rejecting sources which contain such characters.

[2021-11-04 09:18] nojb commented on #10749
There is a discussion of this issue over at Discuss https://discuss.ocaml.org/t/is-ocaml-vulnerable-to-https-trojansource-codes/8723

[2021-11-04 11:43] MSoegtropIMC commented on #10749
Thanks for the pointer! I don't follow the argument given there that it is mostly an editor issue.

But an interesting question would be what github diffs make out of this, since this is the place where most code reviews happen.

[2021-11-04 19:52] EduardoRFS opened #10753 "exhaustiveness warning missing on GADTs when some warnings are suppressed"
The following module should trigger a `partial-match` warning. But it doesn't, if one of the `ocaml.warnings` on top are removed then the problem goes away but they seems to be completely unrelated to the `partial-match`.

[code]

[2021-11-04 20:19] gasche commented on #10753
[code]

You are hitting an UI issue we discussed at length in https://github.com/ocaml/ocaml/pull/9657#issuecomment-758092075 and should not occur with 4.13.1 anymore: here `-var` includes `-a`, which disables all warnings.

[2021-11-04 20:19] #10753 closed, assigned to nobody

[2021-11-04 22:09] dbuenzli commented on #10749
I made a gist with the example I gave in the discuss thread. The first commit has no vulnerability. Then I make the commit that introduces the vulnerability.

The answer to the question is that you get a big warning from github that bidi characters are present in the file. On the diff and on the file itself. See for yourself here:

https://gist.github.com/dbuenzli/e655590faf132d5150f3684a3d7a69a2/

[2021-11-05 00:09] EduardoRFS commented on #10753
Thank you, yes I'm on 4.12 that's why thought it would still be present.

[2021-11-05 04:56] DemiMarie commented on #10001
Should still be reproducible.

[2021-11-05 04:58] gasche commented on #10753
Welcome :-)
Note: I wrote 4.13.1 above, but in fact the warning is already in 4.13.0.

[2021-11-05 05:11] gasche commented on #10753
Some remarks when re-reading the warning in context:
- `eclaration` is the last group of consecutive non-prefixed letter, maybe we should show the first group or all groups
- I don't remember what is the proper way to pass several warning specifications (space-as-separator does not work, passing several strings is not supported, and using several `@@@warning` in a row is inconvenient), and I suspe

[2021-11-05 08:09] MSoegtropIMC commented on #10749
@dbuenzli : thanks for testing this on Github - we see that GitHub works pretty fast on this (as it looks this message was introduced October 31st).

But I don't think one can expect that in every environment code review processes are adjusted to this (and possibly upcoming similar issues), so IMHO the best strategy is to work on both, editors + review process tools and compilers.

Are there stron

[2021-11-05 09:31] Octachron commented on #10753
The multi-warning syntax has not been implemented yet.

[2021-11-05 10:50] lthls commented on #10749
I fail to see any reason to get so excited about this particular issue.
Here is an adaptation of the example in the paper that causes the same issues, but using zero-width space:
https://gist.github.com/lthls/95e029513d6135c21c9fff09bcd4a3e2
(Note that while creating the gist, the Github interface clearly showed me the zero-width space, but it's invisible when rendered, even in the "raw" version).

[2021-11-05 10:52] Octachron commented on #10749
Bidirectional formatting characters are a legitimate part of unicode. Emitting warning on those characters will lead to false positive. Moreover, since there is no constraint on the encoding of source code in OCaml, the compiler has no idea on how a string literal will be interpreted by graphical editors: will the graphical editor use utf-16, utf-8, another proprietary encoding?

Which leads to th

[2021-11-05 11:37] dbuenzli commented on #10749
This would need a bit more investigation but while Unicode may be full of these traps, they actually may be quite easy to characterize. I suspect they are mostly those characters whose general [general category](http://www.unicode.org/reports/tr44/#General_Category_Values) is `Cc` and `Cf`.

The idea would be that writing them as escapes does not trigger the warning. Also I don't expect bidi contr

[2021-11-05 13:11] alainfrisch commented on #10749
Well, if you assume people who submit code for inclusion in your project can be hostile, you need to be super careful about code review anyway.  The problem is code being hidden in a way which makes it hard to even see what the code actually is. Turning warnings off should be easy enough to spot...

If we have a clear criterion and an easy way of implementing it, I'm personally in favor of a new w

[2021-11-05 13:18] MSoegtropIMC commented on #10749
In companies with a few 10.000 engineers one can't easily change the tools used in review processes from one day to another and one also cannot always harden them against such issues from one day to another. But one can quickly change compiler versions - they are anyway kept up to date for security reasons. It is new (to me) that one has to keep editors and review tools up to date for security rea

[2021-11-05 14:29] #10281 closed, assigned to nobody

[2021-11-05 14:53] dbuenzli commented on #10749
I'm not against that either but by default the encoding of OCaml sources remains latin1. UTF-8 works "by chance".

So before having a default warning that checks things related to Unicode in the sources that's the first thing that would need to change in some way, long discussion [here](https://github.com/ocaml/ocaml/pull/1802) (if you ask me I would break compat. mandate *and check* UTF-8 validit

[2021-11-05 14:58] xavierleroy commented on #10749
All software on all your computers should be kept up to date for security reasons.   A bug in a text editor can create havoc too.

There are many ways to use Unicode for obfuscating a code change, beyond the use of bidirectional markers documented in the "Trojan source" paper.   We need a more comprehensive analysis before we can discuss countermeasures in the compiler or elsewhere.

[2021-11-05 15:01] xavierleroy commented on #10749
I agree with @dbuenzli that we also need to make OCaml "UTF-8 clean" before considering additional safety checks on input files.  I'm optimistic we can find a way forward that still accepts more than US-ASCII inside identifiers, but it's not going to happen overnight either.

[2021-11-05 15:16] Octachron commented on #10749
Python has an analysis of unicode-related security issues which seems interesting: https://www.python.org/dev/peps/pep-0672 .
I am particularly fond of :
[code]

[2021-11-05 15:20] xavierleroy commented on #10749
Ironically, your URL contains mysterious invisible characters :-)  https://www.python.org/dev/peps/pep-0672/

[2021-11-05 15:27] dbuenzli commented on #10749
@xavierleroy note that UTF-8 cleanness doesn't have to be tied with allowing Unicode identifiers.

Also I'm personally totally unaware of what happens to these latin1 identifiers in linkers etc. I was just wondering whether the following could be an alternate way forward (rather than what I suggested in my previous message). Since latin1 is fully injected into Unicode (the precise map can be found

[2021-11-05 15:32] Octachron commented on #10749
At least, now I know that github doesn't handle gracefully non-breaking spaces in comments.

[2021-11-05 17:34] xavierleroy commented on #10749
[ This is getting off-topic for this issue report, but for the record: ]

Right, that's pretty much what I had in mind.  The compiler back-end doesn't care which character encoding is used, and can handle arbitrary bytes in identifiers (or so I think).  So, it's mainly a problem of 1- lexical analysis of identifiers, and 2- normalizing their internal representation (e.g. NFC or NFD).

[2021-11-05 17:59] dbuenzli commented on #10749
Sorry for the off-topic.

If you want to make the simplest possible step, I don't think you even need to bring normalization in. With the idea of going towards UTF-8 without leaving previous latin1 users in the dust, you can simply implicitly ask for files to be NFC encoded. That's what usually happens with text input and editors anyways and I'm pretty sure that's what `iconv`  would do if you con

[2021-11-05 22:12] mjambon opened #10754 "ocamllex: union of character sets"
This is one of a few [features that I put in micmatch](https://mjambon.github.io/mjambon2016/micmatch-howto.html#regexp-basics) back in 2004 and were quite useful. I haven't asked about having these features in ocamllex until now, mostly because I hadn't been using ocamllex much until last year.

This first feature request is about allowing regexp definitions like this:

[code]
It's especially use

[2021-11-05 22:31] mjambon opened #10755 "ocamllex: support variables in [ character classes ]"
This is a feature request related to #10754 (union of two sets with `|`).

[code]

If #10754 is implemented, we'd have both set union and set difference, which makes the above syntax unnecessary as the example could be rewritten using  `#` and `|`:

[code]

I think the `[ lower upper ]` syntax is clearer, though. It reassures the reader that `lower` and `upper` are character sets, while it's not o

[2021-11-05 22:39] mjambon commented on #10755
We could also take other steps to make `#` redundant, such as allowing `^` as a difference operator:
[code]
I was about to suggest we support nested syntax like `[ printable ^ ['a'-'z'] ]` but then realized the inner brackets are always unnecessary.

[2021-11-07 01:12] pestun opened #10758 "Bad C object file from ocamlopt -output-obj -o foo.o foo.ml"
ocamlopt 4.12.1
Linux with GNU cc 9.3.0
GNU ld 2.34

The object file `foo.o` from
[code]
has undefined
[code]
and does not link correctly with the main program in C.

The bug is observed under the combination of
- name foo.o matching name foo.ml
- using ocamlopt over the GNU cc / ld

https://discuss.ocaml.org/t/bad-object-file-from-ocamlopt-output-obj-o-foo-o-foo-ml/8753

[2021-11-07 01:35] dbuenzli commented on #10749
Going back on the bidi topic.

As mentioned in the paper in §VII.F a nicer answer to the problem is to make sure that bidi control characters are not allowed to  "overflow" the programming language's literal and comment delimiters.

In other words one need to make sure the source character stream forces the bidi algorithm to treat string literals and comments as isolated paragraphs (the level at w

[2021-11-07 07:20] dmbaturin opened #10759 "Interactive toplevel ignores all input after the first double semicolon"
There's a behavior in the interactive toplevel that is confusing beginners. If you enter multiple statements separated by double semicolons, only the first one is actually processed.

It would be nice if the top-level could split the input at double semicolons and execute all statements rather than used the first `;;` as an input terminator.

[code]

If this isn't an intentional design choice and

[2021-11-07 07:28] nojb commented on #10758
As mentioned in the Discuss thread, this is bound to cause issues as there are two different files named `foo.o` being generated by this command, the one resulting from the compilation of `foo.ml` and the one coming from `-output-obj`. Whether that ends up working or not for some combination of linkers and systems is purely coincidental and it is bound to cause problems down the line. The easiest

[2021-11-07 09:13] Armael commented on #10759
(See also #8813 .)

[2021-11-07 09:23] hhugo commented on #10759
And https://github.com/ocaml/ocaml/issues/6472

[2021-11-07 11:04] pestun commented on #10758
I could think of two solutions:

- Forbid the option `ocamlopt -output-object -o object_name.o` where `object_name` matches to the name of one of intermediately generated files, decline to compile, throw an error and document this constraint on the name of output object file.  Easier to implement but leads to less user-friendly API to the clients of `ocamlopt` and more complex documentation?

- Fi

[2021-11-07 12:18] dmbaturin commented on #10759
Sorry, my issue search failed to find that it was already reported.

[2021-11-07 12:18] #10759 closed, assigned to nobody

[2021-11-07 17:07] xavierleroy commented on #10754
That's a nice idea, thanks for suggesting it.

[2021-11-08 04:25] #9016 closed, assigned to nobody

[2021-11-08 04:25] #7803 closed, assigned to garrigue

[2021-11-08 04:25] #7739 closed, assigned to garrigue

[2021-11-08 04:25] #7086 closed, assigned to nobody

[2021-11-08 07:58] whitequark commented on #6859
Still an issue as far as I know.

[2021-11-08 18:26] xavierleroy commented on #10749
If you can turn this idea into an algorithm, this would be very interesting indeed.  There's room for nice formal verification work here, proving (or disproving) that such an algorithm prevents visual confusion.

[2021-11-09 10:28] mseri commented on #9800
We seem to have hit this issue on x86 in the opam-repository CI on https://github.com/ocaml/opam-repository/pull/19949 and https://github.com/ocaml/opam-repository/pull/19943

[2021-11-10 09:35] XVilka commented on #10553
Cannot reproduce anymore, works fine after the update to Fedora 35. Lets consider it solved.

[2021-11-10 09:35] #10553 closed, assigned to nobody

[2021-11-10 13:14] kit-ty-kate opened #10762 "OCaml 4.14 infinit loops while building odoc-parser"
Reproductible with a simple `opam install odoc-parser`. e.g. with docker:
[code]
<img width="853" alt="Screenshot 2021-11-10 at 11 30 30" src="https://user-images.githubusercontent.com/2611789/141118942-4e4d9e65-1b61-494c-8d8f-9a5a5f5379bd.png">

The file it infinit loops on is `src/token.ml`: https://github.com/ocaml-doc/odoc-parser/blob/626ccc9e319d7d3cc67251425ddbb48e33bc2de8/src/token.ml

[2021-11-10 14:19] damiendoligez commented on #9029
The best-fit allocator won't be used in the first release of multicore, and if we someday do a multicore best-fit allocator I'm almost sure it won't be based on splay trees.

[2021-11-10 14:19] #9029 closed, assigned to damiendoligez

[2021-11-10 14:26] lthls commented on #10762
Minimal repro:
[code]

The infinite loop happens somewhere in a call to `Parmatch.check_unused`.
Bisecting the issue points to commit 2250fd8a2218796c07b0a25f184cdc682e4695ba

[2021-11-10 15:32] alainfrisch opened #10763 "Miscompilation of method delegation"
[code]

On 4.12.1 and on trunk, both with ocamlc and ocamlopt, this program prints "BAD 3" instead of "OK 3".  A first look at the output of -dlambda suggests that the method `m` on proxy is compiled using CamlinternalOO's `SendConst`, reading from the `W.r` reference when the proxy object is created.  This is not correct, because this read is impure.

[2021-11-10 15:37] alainfrisch commented on #10763
`Translclass.module_path` decides that reading (`Pfield`) from a value accessible through a global path gives a constant, which is wrong.

[2021-11-10 16:12] alainfrisch commented on #10763
AFAICT, this has been around since 2003 (f2095623ff9f002e86619545b3d9415f95f838fc).

[2021-11-11 16:18] aalekseyev commented on #9482
Unfortunately, by fixing this problem at the boundary between OCaml and Linux, we only pushed it down "inside" gcc. Now it's the invocation of `collect2` by `gcc` that's failing, due to gcc passing its options via `COLLECT_GCC_OPTIONS` to `collect2`.

I'll try to construct a reproducer script.

[2021-11-11 17:01] aalekseyev commented on #9482
And here's a script that still fails for me:

[code]

That fails, at least with gcc 4.8.5 and with gcc 9.3.1.

Googling for this problem doesn't reveal too many hits, but I found Haskell-on-nix people encounter this: https://github.com/NixOS/nixpkgs/issues/41340

Which points to the gcc issue: https://gcc.gnu.org/bugzilla/show_bug.cgi?id=86030, which seems not fixed yet (it seems the expected fix

[2021-11-11 19:48] jibnew commented on #10250
Same problem in ubuntu 21.10 under wsl2 (windows 10) with
[code]
It also has
[code]

[2021-11-12 05:46] DemiMarie commented on #10003
Still a problem last I checked.

[2021-11-12 11:40] xavierleroy commented on #10250
The issue was fixed in OCaml 4.13.0.  Why don't you use the latest 4.13.1 version of OCaml?

[2021-11-14 12:44] curiousleo opened #10766 "Preserve original formatting in integer literal type hint"
# Context

There's code in `typecore.ml` to output a helpful hint in case someone forgets to add the appropriate suffix to a number literal. As far as I can tell, this hint always uses decimal notation stripped of any underscores.

That is fine if the original literal was in decimal and without underscores:

[code]

If the original literal is in decimal but with underscores, those are dropped:

[c

[2021-11-14 12:48] curiousleo commented on #10766
I added Proposal 3 after looking at `typecore.ml` and seeing that at least a few steps up the call tree from `report_literal_type_constraint`, which adds the hint, the original formatting of the literal is not known.

[2021-11-14 12:59] gasche commented on #10766
If I understand correctly (from a distance), you are suggesting to add information to the typedtree that is already present in the parsetree. This is a reasonably easy change (as in: changing the parsetree breaks stuff, but there are not many external consumers of the typedtree so we are more relaxed there), would you like to propose a PR to do this?

Note however that we have entered the [Sequent

[2021-11-14 13:09] curiousleo commented on #10766
Disclaimer: I am not familiar with the structure of the OCaml compiler specifically. But yes, that sounds very much like a high-level description of what needs to happen to make Proposal 1 possible. Thanks for adding this context here, it gives me a good starting point.

I'm happy to give it a go!

Thanks very much for this advance notice.

[2021-11-14 14:58] gasche commented on #9312
The joint work of @c-cube and @fpottier was merged in 4.14 as #10583. Of course we can think of many more functions to add to the module, and I sure hope people will come with good suggestions in the future, but I think we can give ourselves (and in particular @yawaramin) a pat in the back for the largest feature addition in the stdlib we have seen in a while, a close the present issue for now.

[2021-11-14 14:58] #9312 closed, assigned to nobody

[2021-11-14 17:46] yawaramin commented on #9312
And the amazing thing is I ended up doing literally nothing! Fantastic work, thanks all.

[2021-11-15 04:25] #6818 closed

[2021-11-15 10:58] francoisthire opened #10768 "Typechecking regression between OCaml 4.12 and OCaml 4.13.x?"
I have a snippet that type checks with OCaml 4.12.0 but does not with OCaml 4.13.0 nor OCaml 4.13.1. I was wondering whether it was a regression

Here is the original code which type checks with OCaml 4.12.0:

[code]
With OCaml 4.13.1 the code fails with the following error:

[code]

I managed to write fix that type checks with OCaml 4.12, 4.13 and 4.13.1 for the get function:

[code]

There are t

[2021-11-15 11:21] MisterDA opened #10770 "Support debug prefix map with clang assembler"
I was poking around the configure script and I noticed this.

The build script doesn't call the assembler but calls the compiler directly with `default_as="$CC -c"`. For GCC this works fine since GCC forwards the assembler-specific arguments to GNU as, and we get the same result as if we were calling `as` directly.

With GNU tools, to enable debug prefix map on C source we pass `-fdebug-prefix-map

[2021-11-15 12:40] lthls commented on #10768
I'm not an expert on the subject, but I think that you're unpacking your first-class module too early (i.e. before matching on the equality).
Here is a version that compiles on 4.13, which doesn't unpack the module at all:
[code]
If you actually need to use functions or types from the module, then I've checked that it also works if you unpack in the `Refl` branch:
[code]
You can also move the type

[2021-11-15 14:00] francoisthire commented on #10768
Just to be sure:

[code]

should be

[code]

Which is quite similar to the `module (struct  include P end)` I had in the first message.

However, your initial example is indeed valid. Which makes me wonder why? There is a subtlety that I don't get. Why does unpacking too soon would make the type checking fails?

[2021-11-15 14:36] DemiMarie commented on #10020
Still open unless @let-def has changed something.

[2021-11-15 14:40] lthls commented on #10768
I believe my suggestion is the correct one. `let module M = ...` binds a normal module, so the right-hand side must be a module expression. It might be counter-intuitive, but `(module M)` is a "simple" expression representing a first-class module, while `(val m)` is a module expression.
But you could also use `let (module P : S with type t = a) = m in (module P)`.
(The difference is that `let modu

[2021-11-16 00:53] kit-ty-kate opened #10773 "Type [> Cycle ] is not compatible with type [> Cycle ]"
I got this error when compiling capnp-rpc.1.2.1 with the 4.14 branch (https://github.com/ocaml/ocaml/commit/3f170f317e8b1da5eb4197268c57deb717e82a95)
[code]

[2021-11-16 10:05] Octachron commented on #10773
This is a change of behavior introduced by  6e5b86355accef1 in #8516.

The capnp-rpc code can be reduced to:

[code]
The unbound type variable in the definition of the method `m` is bound indirectly by the coercion to `ct`, and what happens afterward depends on which side of `#8516` we are.
(Both using an explicit constraint on `'self` or an explicit universal quantification in `m` fixes the issue

[2021-11-16 15:27] #10762 closed, assigned to nobody

[2021-11-17 15:56] hcarty opened #10778 "Module naming consistency between snake case and camel case in stdlib"
We are about to gain very useful new `In_channel` and `Out_channel` modules in the OCaml stdlib. Meanwhile, in the multicore branch, new modules like `EffectHandlers` and `ThreadLocal` are being added. These names for these new modules are split between `Snake_case` and `CamelCase`. I know that the multicore modules have not landed in stdlib yet! This seems worth considering early so, if possible,

[2021-11-17 16:24] gasche commented on #10778
I agree it's an issue, I personally prefer underscores (so `Snake_case`), but arguably we already have `ListLabels` and `ThreadUnix` in the standard library so the (camel) case could be made that we should stick with `CamelCase`.

[2021-11-17 16:33] dbuenzli commented on #10778
This looks already a bit doomed. Among other things:

* `Std_exit`, `{In,out}_channel`
* `Bigarray`, `Hashtbl`, `Genlex`, `Topdirs`, `Nativeint`,  `Printexc`
* `Hashtbl.MakeSeeded`
* `*Labels`, `Camlinternal*`, `ThreadUnix`

I note however that compiler-libs seems pretty consistent in ~~using snake case~~ not using `CamlCase`.

If something needs to be decided for future additions count me in the

[2021-11-17 17:50] kit-ty-kate opened #10779 "[4.14] Infinit memory leak while compiling functor heavy code"
When compiling `irmin-pack.2.9.0` with the 4.14 branch (https://github.com/ocaml/ocaml/commit/3f170f317e8b1da5eb4197268c57deb717e82a95), the following problem arise:
[code]
Testing this locally reveals that the KILLs are there because ocamlopt infinit loops and starts to take all my RAM and swap space (several GB) because being killed by the system.

Using lldb to investigate seems to indicate som

[2021-11-17 19:18] kit-ty-kate opened #10780 "[4.14] Fatal error: exception Not_found when cmi file is absent"
When using the `4.14` branch (https://github.com/ocaml/ocaml/commit/3f170f317e8b1da5eb4197268c57deb717e82a95) to compile `index-bench.1.5.0` I get:
[code]
When testing locally it appears that `bench/bench.pp.ml` is compiled using the dune ppx pipeline in such a way:
[code]
However when calling the ppx generator by hand to produce the OCaml syntax version (as opposed to the mashalled version implie

[2021-11-17 20:22] kit-ty-kate opened #10781 "[4.14] Overridden methods keep their inherited attributes"
Using the `4.14` branch (https://github.com/ocaml/ocaml/commit/3f170f317e8b1da5eb4197268c57deb717e82a95), the following code now fails (compiled fine in 4.13 and older):
[code]
with the following error message:
[code]
This issue makes `0install.2.17` fail to build

[2021-11-17 21:01] kit-ty-kate commented on #10780
Actually I seemed to have missed something during testing because the same failure also appears on another package that does not use mashalled modules:
[code]

[2021-11-17 21:35] kit-ty-kate commented on #10780
Actually I found what both projects have in common. They both use the `(implicit_transitive_deps false)` feature of dune.
If I switch it to `true` they compile without issues.

It seems to be a regression compared to https://github.com/ocaml/ocaml/pull/9409 / https://github.com/ocaml/ocaml/issues/9406

[2021-11-17 22:50] yminsky commented on #10778
+1 for Snake_case. Jane Street standardized on that long ago, and we'd be happier if new additions to the compiler followed the same pattern.

[2021-11-18 08:45] xavierleroy commented on #10778
`Std_exit` is a linking trick, not visible to the user.  Indeed, it contains no definitions!

These are neither CamelCase nor Snake_case, just run-on words.  `HashTbl` or `Hash_tbl` would be pedantic.

`Camlinternal*` are not to be used directly, and `ThreadUnix` is deprecated and will disappear eventually.

So, this leaves `*Labels` vs. `In_channel`/`Out_channel`.

My personal taste is that `Came

[2021-11-18 10:26] voodoos commented on #10779
Thanks for your report @kit-ty-kate. I was able to reproduce with the 4.14 branch and am investigating the issue.

[2021-11-18 13:21] lpw25 commented on #10781
Fix in #10782

[2021-11-19 04:25] #6426 closed

[2021-11-19 04:25] #6324 closed

[2021-11-19 04:25] #6014 closed

[2021-11-19 04:25] #6137 closed

[2021-11-19 04:25] #5849 closed

[2021-11-19 04:25] #5337 closed

[2021-11-19 04:25] #5193 closed

[2021-11-19 04:25] #4672 closed

[2021-11-19 16:13] #10763 closed, assigned to nobody

[2021-11-20 15:09] gasche opened #10785 "Moving tag numbers?"
Multicore changes the set of tags used for OCaml value representation and exposed through the `Obj` module.
(See [multicore:obj.ml](https://github.com/ocaml-multicore/ocaml-multicore/blob/4469f89/stdlib/obj.ml#L52-L70).)

As far as I can tell, the only change is the addition of two new tags, `Obj.forcing_tag` (a lazy thunk being forced) and `Obj.cont_tag` (which I assume is used for continuations

[2021-11-20 15:16] nojb commented on #10785
Just as a data point the `Obj.with_tag` optimization to avoid a double allocation only works with literal values (see #10051).

[2021-11-20 16:14] gasche commented on #10785
Note: the Multicore GC implementation currently assumes that `Forward_tag`, `Infix_tag` and `No_scan_tag` are contiguous ( [multicore:runtime/minor_gc.c](https://github.com/ocaml-multicore/ocaml-multicore/blob/4469f89/runtime/minor_gc.c#L248-L249) ). This means that either the lazy-related tags can be contiguous, or the closure-related tags, but not both. The latter would be enough for my interest

[2021-11-20 17:09] lthls commented on #10785
I believe that @mshinwell presented various alternatives for closure compilation in a past developer meeting; and at least one of them did not require an infix tag. That may prove useful for fast unboxed functions, as you only have one tag to check.

[2021-11-20 22:25] gasche commented on #10785
Note: the Multicore implementation of Lazy.force (the one inlined by the compiler that is located in... matching.ml) generates code that check whether the tag is `forcing_tag` or `lazy_tag`, and would thus benefit from the two tags being consecutive for the same reasons as `infix_tag` and `closure_tag`.

[2021-11-22 04:25] #9048 closed, assigned to nobody

[2021-11-22 04:25] #7768 closed, assigned to lpw25

[2021-11-22 13:43] let-def commented on #10020
I confirm that I am still working on that topic (though this is not my main project and needs a lot more work)

[2021-11-23 09:08] garrigue commented on #5984
I keep it open, because this should be fixed eventually.

[2021-11-23 10:51] mshinwell commented on #10778
I would prefer to see `Snake_case` since (at least empirically) this seems to be what the majority of code uses.  It is also what the compiler produces for module names from filenames in lower case, which again empirically seems to be the general convention.

[2021-11-23 12:18] Chris00 commented on #10778
Once a decision is made on this, it would also be good to communicate it to the community.  Such "rules" should at least also be applied to the OCaml platform (cc @avsm).

[2021-11-23 14:49] trefis commented on #10779
FTR: we've found the source of the issue, and have a fix. But we also tested further on functor heavy projects (irmin) and noticed some compile time degradation due to shapes. We have a couple of patches aimed at improving that.
We're now looking at cleaning them up and producing some benchmarks. We're hoping to open a PR at the end of the week (or beginning of next) with all of that. (And then we

[2021-11-23 14:58] Octachron commented on #10773
Having another looks, a similar example is rejected in previous version of OCaml
[code]
so the pre-4.14 behavior for polymorphic variants is really brittle.

[2021-11-23 19:20] lukemaurer opened #10790 "Pretty printer drops variance from LHS of type substitution"
I was surprised to discover this syntax is valid, but apparently so:

[code]

[code]
It's checked for consistency with the RHS, too (the above does not work with `-'a t`). But it's not printed faithfully by the pretty printer:

[code]

AFAICT the source printed this way will always compile, but it's a problem for ppxes and `[@@deriving_inline]`, since ppxlib's `mk_named_sig` will sometimes generat

[2021-11-23 19:31] nojb commented on #10790
Thanks for the report. Fixes for `-dsource` are welcome!

Could you say a few words about your use-case though? My understanding is that `-dsource` is *not* a general-purpose pretty-printer, but a debugging aid. No tooling should depend on its output, as it is known to have edge cases and is not tested consistently, etc.

[2021-11-24 04:55] garrigue commented on #4134
The bug is still in trunk (5.00)

[2021-11-25 20:55] dbuenzli opened #10792 "Consider providing a mutual exclusion primitive in the Stdlib for 4.14"
As per [discussion](https://github.com/ocaml-multicore/ocaml-multicore/issues/750) it seems that as a first step `Lazy.t` will not be thread-safe in multicore.

A usage pattern for `Lazy.t` is for libraries to trigger initialisation bits on first use. [Here's](https://github.com/dbuenzli/qrc/blob/e745481e504b16624f8b204e5c3a8cf7af093040/src/qrc.ml#L347) an example. Not a very good one, this partic

[2021-11-25 21:08] nojb commented on #10792
FYI (not sure if this has been mentioned publicly yet) `Mutex`, `Condition` and `Semaphore` will live in the `Stdlib` in 5.0.

[2021-11-25 21:11] dbuenzli commented on #10792
At least for `Mutex` it now [has](https://github.com/ocaml-multicore/ocaml-multicore/issues/750#issuecomment-979454622). The problem is rather how do we ensure our libs are multicore-safe on day one while keeping compatibility with (at least the last) stock OCaml.

[2021-11-25 21:14] nojb commented on #10792
Right, sorry I had missed the discussion.

[2021-11-26 11:52] devosalain opened #10793 "Make stack non-executable (FreeBSD)"
When i put the security feature w^x on the os (freebsd) i.e.
sysctl:
kern.elf64.nxstack=0,
so pages are write-able OR executable but not both, the ocaml compiler spits out errors.
Maybe this is normal & expected behavior, maybe it isn’t ?

https://en.wikipedia.org/wiki/W%5EX

[2021-11-29 04:25] #9993 closed, assigned to nobody

[2021-11-29 08:04] xavierleroy commented on #10793
OCaml doesn't need the stack to be executable.  However, the GNU linker (and perhaps the LLVM linker too) default to producing binaries with executable stacks.

For Linux, we add the appropriate annotation to assembly files to tell the linker that nonexecutable stacks are OK:
https://github.com/ocaml/ocaml/blob/3fa2cfce074d0a83225d7a21678b971bad959a7f/runtime/amd64.S#L695-L698

Would that work for

[2021-11-29 08:41] gasche opened #10795 "What is a good default stack size for OCaml programs?"
I'm opening this issue to discuss and, hopefully, take a *decision* on the question of default stack size for OCaml programs.

This is something that we discussed recently in the context of #10736, which chose to increase stack size "a lot" for OCaml programs. The particular implementation of #10736 is being criticized as inconvenient for tools using virtual memory as a measure of memory consumpti

[2021-11-29 10:50] bikallem commented on #10778
How do we reach a decision on this? voting?

[2021-11-29 15:29] dannywillems commented on #10729
I implemented this idea in https://gitlab.com/dannywillems/ocaml-bls12-381/-/merge_requests/144. Works perfectly and there is a significant gain in performance (as the operations on the algebraic structure are in ns). Thanks!

[2021-11-29 15:37] kit-ty-kate commented on #10773
After talking with @Octachron who seems to think this change of behaviour is expected. I’ve sent a fix to the package affected by this change (https://github.com/mirage/capnp-rpc/pull/244)

However we agreed that the error message should at least be improved a little from:
[code]
to something like:
[code]
or similar, to help users encountering this issue enderstanding that the issue is not in the

[2021-11-30 07:32] silene commented on #10793
Given the following commit in the FreeBSD repository, I guess it would. https://reviews.freebsd.org/rS319510

I am pretty sure NetBSD does not support this annotation. But I have no idea if it would just ignore it (the stack is not executable anyway, so it does not matter) or if it would choke on it.

[2021-11-30 17:18] trefis opened #10800 "Incorrect conflict explanation for type error messages"
The following test:
[code]

Gives the following error on 4.13:
[code]
which I find misleading.

On 4.14, it prints:
[code]
which is undeniably better (and I would guess a result of #10407 ).

This was reported by @dinosaure after spending hours trying to fix:
[code]
(where it's somewhat harder to notice that the compiler points you in the wrong direction).

[2021-12-01 13:16] renatoalencar commented on #9701
I've been tracking this down since yesterday, and although debug was not enabled when running script files what is actually happening is that the bytecode for the script is being released before the actual backtrace is recorded. Which results on that unknown location being showed instead of the actual location of the backtrace slot.

https://github.com/ocaml/ocaml/blob/trunk/toplevel/byte/topeval.

[2021-12-01 13:27] Drup commented on #10800
Are you saying you want ... diffs for arrow types errors ? :D

[2021-12-01 13:30] Octachron commented on #10800
I think that the issue at hand is the conflict explanation that points twice to the exact same location which is not exactly helpful.

[2021-12-01 13:33] trefis commented on #10800
Indeed, if you look at the location it becomes obvious that the issue is *not* with `handler`, even though the error message with its `/1` and `/2` seems to hint that it is.

[2021-12-01 13:33] gasche commented on #9701
@renatoalencar your analysis seems reasonable to me; it looks like the bug you describe is fairly recent, introduced by #9855 which was merged in 4.12. Would you like to propose a Pull Request with your fix?

Three remarks:
- I'm not sure why the function is reported as <unknown> (cc @stedolan?)
- There is a similar-looking code pattern in `toplevel/native/tophooks.ml` (in trunk), with `Sys.remove

[2021-12-01 13:53] renatoalencar commented on #9701
Definitely. And about `Sys.remove dll`, OCAMLRUNPARAM=b doesn't present a stack trace for `ocamlnat` and it doesn't have -g flag. How do I do that for `ocamlnat`?

[2021-12-01 15:10] gasche commented on #9701
I would not try to test `ocamlnat` for this (it's in flux and not installed to users anyway), but I would still change the code to ensure that the dll is deleted only after the backtrace is recorded. (Not sure if it makes a difference, but it seems safer to avoid the "dangerous" pattern consistently in the codebase.)

[2021-12-01 16:46] Octachron commented on #10780
Now that #10799 is merged, both `osh` and `index-bench` compiles on 4.14.0+trunk.

[2021-12-01 16:46] #10780 closed, assigned to nobody

[2021-12-01 17:31] wikku opened #10805 "Change the toplevel prompt character? (because of beginner confusion with directives)"
Many materials introducing the toplevel* have to warn that the `#` prompt is different from the `#` at the beginning of directives.
If no one is particularly attached to the `#` prompt, we could change it to (for example) `>` to eliminate this confusion. The materials saying that `#` is the prompt would become a bit outdated, but maybe it won't be very surprising if done in the same release as ano

[2021-12-01 18:57] xavierleroy commented on #10805
Back in 1978, Milner's original ML implementation already used `#` as its prompt,  according to the "Edinburgh LCF" book.  Perhaps that's the reason why CAML, Caml Light, Caml Special Light, Objective Caml and OCaml all use `#` as prompt.  (SML/NJ and Moscow ML use `-`.)  So, this is not to be changed lightly :-)

[2021-12-02 08:30] dra27 commented on #10805
Given that terminal colour support is fairly pervasive, we could instead consider putting the prompt character in another colour? (I recently started putting shell prompts in dark grey for demonstrations)

[2021-12-02 09:40] wikku commented on #10805
Colors are already used in error messages, so that should be fine.

Additionally the handler for "Unbound value" could be overridden in the toplevel to hint if the unbound name is a directive.

[2021-12-02 09:55] dra27 commented on #10805
The hint sounds like a great idea! It'd obviously be "glaciated" at the moment, but is this something you'd be able/happy to work on?

[2021-12-02 10:46] wikku commented on #10805
It would presumably be similar to/expand on #10647, so after that gets approved/merged

[2021-12-02 11:14] dannywillems commented on #10729
Can you explain why pls? Does sizeof not take care of the alignment?

[2021-12-03 09:28] Octachron commented on #10060
This seem still relevant.

[2021-12-03 14:39] Octachron commented on #10800
A simple solution in this specific case would be to not differentiate identifiers which points to a declaration with the same uid.
Otherwise, a more precise option would be to compute normalized path for each identifiers before differentiating them (which would be quite similar to activating `-short-paths` for colliding identifiers).

[2021-12-03 15:03] nojb opened #10810 "Install META files for compiler libraries"
(I know non-Multicore devs are frozen at the moment, but just to get the dicussion started...)

The fact that the compiler does not install META files is a source of problems for the two main consumers of this metadata: `ocamlfind` and `dune`. In fact, both tools include their own set of META definitions for these libraries to avoid depending on each other. This leads to tricky bugs from time to t

[2021-12-03 15:13] gasche commented on #10810
Sounds like a good idea. Is it clear where they should be installed?

[2021-12-03 15:37] ferminr commented on #10805
Maybe the prompt could be configurable... In GHCI, your prompt can be a lambda: all you need to do is add  :set prompt "λ>" to your .ghci file

[2021-12-03 15:44] gasche commented on #10800
Two remarks:
- if two identifiers are equivalent, then indeed we should try not to explain why they are different, because they are not (we could normalize before diffing or, possibly more natural, check inequivalence during diffing)
- a clearer display of which elements don't match in an arrow type would indeed help; this can be done by diffing, Arthur Charguéraud also had specific user-interface

[2021-12-03 16:30] xavierleroy commented on #10805
We could possibly add a directive to change the prompt, which you could invoke from your `.ocamlinit` file, but the directive would start with a `#` :-)

[2021-12-03 16:30] nojb commented on #10810
I think the most compatible choice would be to install `META.stdlib` in `$(ocamlc -where)` and `META` files for `compiler-libs` in `$(ocamlc -where)/compiler-libs`. This respects the existing conventions so that adding `$(ocamlc -where)` to `OCAMLPATH` would allow `ocamlfind` and `dune` to find these `META` files, without any extra special logic.

[2021-12-03 16:45] dra27 commented on #10805
Briefly setting aside the ecstasy of being able to have 🐫 as my toplevel prompt character, being able to configure the prompt character wouldn’t help beginners, though, which is the original thread of this issue

[2021-12-03 17:01] xavierleroy commented on #10729
Oh, no, it's not enough.  Caml objects in the heap are made of words (4 bytes on 32-bit platforms, 8 bytes on 64-bit platforms), and pointers into the heap like `Data_custom_val(v)` are word-aligned.  `caml_alloc_custom` is not able to align to a bigger alignment, even if the size of the custom data is greater than the word size.

Here is an example  of what could go wrong.  Say you're on a 32-bit

[2021-12-06 06:56] copy commented on #7858
This has been partially fixed in https://github.com/ocaml/ocaml/pull/10095: The incorrect `')' expected` is gone.

[2021-12-06 09:05] #10698 closed, assigned to nobody

[2021-12-07 04:18] markghayden opened #10816 "improved simplification for floating point"
Ocamlopt does not appear to simplify the identity for floating point addition or multiplication:

`x +. 0.0`
`x -. 0.0`
`x *. 1.0`
`x /. 1.0`

I believe these can all be safely simplified to 'x', even with possibly abnormal floating point values.

We find these cases occur when inlining functions and our software would benefit if these simplifications occurred.

Perhaps there are other useful exam

[2021-12-07 08:55] xavierleroy commented on #10816
There's always a surprise with FP: `-0.0 +. 0.0` is `0.0`, not `-0.0`.

However, `x +. -0.0` is `x`, indeed, and the other 3 simplifications are valid too, AFAIK.

For reference, two other FP optimizations that CompCert performs and are proved sound:
[code]

[2021-12-07 09:18] xavierleroy commented on #10795
I arrived to the 1 Gb number (for 64-bit platforms) this way:

- Blowing the stack is fast: `let rec f x = 1 + f x` overflows a 1 Gb stack in a fraction of a second on my PC.
- All 64-bit computers have several Gb of RAM.  (The DEC Alpha started at 256 Mb, IIRC, but that was in 1995.)
- The smallest computer that can reasonably run OCaml, in my opinion, is the Raspberry Pi Zero, which has 512 Mb o

[2021-12-07 16:20] jibnew commented on #10250
I did install 4.13.2 but unfortunately I need elpi, and when I try to install it opam says it is only possible if I downgrade to 4.12.2

[2021-12-08 15:49] damiendoligez commented on #9717
Makes it easier to pass several source files to one compiler invocation. although I don't know if you'll see it as a *strong* reason.

[2021-12-10 07:35] garrigue opened #10819 "It is no longer possible to shorten Sys.argv in trunk"
In all released versions of OCaml one can modify `Sys.argv` by updating its fields and truncating it.
Lablgtk uses this feature to support the behavior of `gtk_init`, which filters some command line options before the application processes it.
But in trunk `Obj.truncate` has been removed, so that it is no longer possible to adjust the size of `Sys.argv`.

I'm not sure what a solution should be, bu

[2021-12-10 07:39] nojb commented on #10819
Have you tried using the primitive `caml_sys_modify_argv`? https://github.com/ocaml/ocaml/blob/759d667092f684cce696898193044c94387e9df1/toplevel/topcommon.ml#L271-L272

[2021-12-10 07:54] garrigue commented on #10819
Thanks !
Exactly what I need.
Is the change advertised somewhere ?
Clearly this function is not included in `Sys`.

[2021-12-10 08:01] nojb commented on #10819
No, it is not documented, it was introduced when `Obj.truncate` was deprecated with the toplevel in mind only: https://github.com/ocaml/ocaml/pull/2279

[2021-12-10 08:04] Octachron commented on #10819
See also  #9251 for a (short lived) discussion about exposing `modify_argv` in the standard library.

[2021-12-10 12:45] garrigue commented on #10819
While I agree with @gasche 's comment there that providing a function to do this in `Sys` may be overkill, it would be good to document this somewhere, as closed issues are not the best documentation.
Anyway, I close this since this solves my problem.

[2021-12-10 12:45] #10819 closed, assigned to nobody

[2021-12-12 06:14] aaron-jack-manning opened #10821 "Unbound module Stdlib when trying to compile with -nostdlib flag, even on empty file"
I am in the process of implementing my own standard library for OCaml, that is better suited to my needs, and rather trying to shadow existing definitions I wanted to compile without the existing standard library. However when I run the following:

[code]

on a completely empty file `main.ml`, I get the error:

[code]

I am using an empty file to verify that I'm not calling any standard library fu

[2021-12-12 08:02] nojb commented on #10821
The flag `-nostdlib` means that the standard library directory will not be added to the load path of the compiler. However, the compiler will still try to open the module `Stdlib` by default, but it won't be able to find it. In order to tell the compiler not to open `Stdlib` you need to pass `-nopervasives` on the command line.

I would encourage to ask these kinds of general usage questions on ht

[2021-12-12 09:59] xavierleroy commented on #10793
I cannot reproduce the problem on FreeBSD 13:
[code]
So, no kernel errors (nothing in the logs either) and the stack is `RW`, not `RWE`.

[2021-12-12 14:44] gasche commented on #10821
(I'm marking this issue "closed"  given that the compiler works as intended, but please feel free to ask for further clarifications.)

[2021-12-12 14:44] #10821 closed, assigned to nobody

[2021-12-12 23:57] aaron-jack-manning commented on #10821
Thank you for the help and link to the forum. Happy for this to be marked as closed.

[2021-12-13 04:25] #9622 closed, assigned to nobody

[2021-12-14 16:49] #10781 closed, assigned to nobody

[2021-12-15 10:14] let-def opened #10822 "Bad interaction between ambivalent types and subtyping coercion"
Compiling this file (tested on current trunk):

[code]

Produces the error:

[code]

This shouldn't be the case given that an explicit type is provided in the coercion (and the `'a` leaking in the message is a bit dubious). Indeed, changing the last line to `((x : s) :> t)` fixes the problem.

[2021-12-15 10:17] let-def commented on #10822
It seems to work fine with OCaml 4.12, the problem appeared in 4.13.

[2021-12-15 10:25] xavierleroy commented on #10805
See also #10059 .

[2021-12-15 10:35] xavierleroy commented on #7128
This issue appears to be fixed in 4.14 thanks to the new, proper "safepoints" implementation.

[2021-12-15 10:35] #7128 closed, assigned to nobody

[2021-12-15 17:21] xavierleroy commented on #10424
In 4.14 and up, #10595 guarantees that tail calls with at most 70 arguments run in constant stack space.  If you have more arguments than that you may still run into the problem described in this report.  However this seems extremely unlikely, so I'm taking the liberty of closing this report.

[2021-12-15 17:21] #10424 closed, assigned to nobody

[2021-12-15 19:59] pmetzger commented on #10424
Excellent news! Two small questions:

1. #10595 says the magic number is 64. Is it 64 or is it 70?
2. Is the manual going to mention this limit, or is it undocumented?

[2021-12-15 21:28] lthls commented on #10424
To answer your first question, 64 arguments can be passed through the domain state. If you add the number of arguments that can be passed through registers, that adds to 70 or more (depending on the architecture).

For the second question, I don't remember if it was discussed somewhere but given that the previous, much lower limit was never documented there was no existing documentation to update.

[2021-12-15 23:26] pmetzger commented on #10424
I'm aware that the old (non-uniform) limit wasn't documented, but it seems like mentioning that tail recursion is not guaranteed for very large numbers of arguments would be of interest, at least so that people are aware that limits do exist.

[2021-12-16 17:33] xavierleroy commented on #10424
@gasche recently wrote some documentation for the Tail-call Modulo Cons optimization, and we talked about writing something about the tail call optimization to begin with.  This "N arguments" limitation for ocamlopt's implementation of tail calls, for various values of N,  could be documented there.

[2021-12-17 04:25] #8998 closed, assigned to xavierleroy

[2021-12-17 17:01] k4rtik commented on #10374
Hi, unsure if this is the right place to share this issue I am seeing on macOS on x86_64: https://github.com/ocaml/ocamlfind/issues/27

I cannot install either ocamlfind or dune because of the error `ocamlopt: cannot execute binary file`

I notice that on my machine, instead of returning the binary type, I only see `data` for the following:
[code]

[2021-12-17 20:46] k4rtik commented on #10374
It seems there are several binaries that are potentially corrupted on macOS x86_64 install:
[code]

Here is the comparison with arm64:
[code]

[2021-12-20 08:50] gasche commented on #9954
If I understand correctly, this bug has been fixed by #10090.

[2021-12-20 08:50] #9954 closed, assigned to nobody

[2021-12-21 09:28] alainfrisch opened #10830 "Windows: 0-sized Unix.map_file fails on empty files"
The following code
[code]
fails under windows with the rather cryptic:
[code]

According to [MSDN](https://docs.microsoft.com/en-us/windows/win32/api/winbase/nf-winbase-createfilemappinga):

What I observe is that the call fails when the requested size is 0 *and* the file is empty.  However, if passing explicitly a 0 size, the FileMapping object will implicitly cover the entire file (which is not

[2021-12-21 20:56] gadmm opened #10832 "Synchronization of `refcount` fields in `bigarray.h`/`io.h`"
As per https://github.com/ocaml/ocaml/pull/10831, this concerns the multicore PR and is opened as a separate issue from the PR.

The `refcount` fields in `caml/{bigarray,io}.h` perform reference counting for values that may or may not be shared across threads (with or without appropriate synchronisation by the user during their use). The one in `io.h` was made atomic, but the one in `bigarray.h` w

[2021-12-22 06:03] garrigue commented on #10822
Fixed by #10823

[2021-12-22 06:03] #10822 closed, assigned to nobody

[2021-12-22 22:28] dbuenzli opened #10833 "Bigarray error when `ocamlc -where` is included"
Hello,

Sorry to distract with such mundane problems but I find the following behaviour, reproducible on at least 4.12 and 4.13 slightly puzzling:

[code]

Likely due to the fact that the "old" bigarray library still lives there, hence `bigarray.cmi` gets pickup. The following suceeds:

[code]
But it's quite annoying.

It would be nice if the distribution could isolate its libraries in dedicated d

[2021-12-22 22:38] nojb commented on #10833
Another solution is not to install the "old" bigarray library (not sure how to do this with OPAM though...)

[2021-12-22 22:39] nojb commented on #10833
You can also use `Stdlib.Bigarray` in your program.

[2021-12-22 23:11] dbuenzli commented on #10833
That's not really a solution. Bigarray is supposed to be part of the stdlib nowadays. I don't want to change my program if I suddenly add say `unix` as a dependency. The problem is that for any library I can do
[code]
to get my `-I` flags but now that doesn't work if $LIB is distributed by OCaml since in particular we have:
[code]
which leads to the above problem.

I guess the solution is rather t

[2021-12-26 18:37] vthemelis commented on #5736
Will it ever be possible to pattern match by the type rather than the constructor? eg in pseudo-OCaml:
[code]

[2021-12-26 19:23] nh2 commented on #9482
@aalekseyev Hi, i am the reporter of https://github.com/NixOS/nixpkgs/issues/41340.

There is only one good solution: Fix it in GCC.

If I started an Indiegogo or similar to build funding to do that, would Jane Street pitch in?

(Alternatively, if you decide to give it a shot yourselves, let me know! In either case, it would make for a pretty good blog post.)

[2021-12-27 05:22] garrigue commented on #5736
Your syntax is confusing.
I suppose that you mean something like
[code]
expecting that it would automatically expand `_` into all the cases compatible with `float gadt`.
That's an interesting idea, a bit related to the `#`-patterns for polymorphic variants.
However this would need a more precise definition (using only a type annotation seems brittle).
Maybe `(#gadt : float gadt)`, insisting on the

[2021-12-27 10:30] gasche commented on #5736
If I follow, your idea is that `#foo` would expand to all the constructors of the datatype `foo` that are well-typed in the current context. However, I don't like the fact that this gives a non-modular semantics for type annotations: it feels wrong that `(#foo : float foo)` would be accepted in a place where `(_ : float foo)` or `(x : float foo)` are rejected.

(Note: we already have logic in plac

[2021-12-27 16:32] xavierleroy commented on #10832
You're right, bigarray refcounts should be implemented with atomic updates.

Which "optimized implementation" do you have in mind?  At any rate, refcount manipulations over channels are not performance-critical.  For bigarrays, they occur only when sub-arrays (slices) are taken, which I suspect is rarely performance-critical either.

[2021-12-27 16:42] xavierleroy commented on #10744
If I remember correctly my old experiments, `sprintf "%.17g"` as implemented in several popular C standard libraries has a tendency to print 2.9999999999999999 where 3 would be correct.  That's the historical reason for using `%.12g` in `string_of_float` and the more sophisticated but more costly algorithm in oprint.ml.

[2021-12-27 16:43] xavierleroy commented on #10744
Also: +1 for using hexadecimal FP format for accurate exchange of FP values.

[2021-12-27 23:09] craigfe opened #10836 "Internal type-checker exception on mismatched type arity"
The following invalid OCaml program causes the 4.13.1 type-checker to fail with an internal exception:

[code]

[code]
<details>
<summary>
Click to see full stack trace
</summary>

[code]
</details>

Switching to ocaml.4.12.0 (or removing `f` from the signature) restores the correct error:

[code]

[2021-12-28 01:57] garrigue commented on #10836
@Drup This seems to come from #9331.
Indeed, it tries to compute an inclusion for the remainder of a module even in case of type declaration mismatch.
Probably there should be a distinction between recoverable mismatches and unrecoverable ones.
In case of type declaration mismatch, the type checker does not work safely anymore.

[2021-12-28 19:03] aalekseyev commented on #9482
@nh2, I'm sure a contribution like that could be worth the money, but I don't know enough about the logistics or legal side to actually make something like that happen. @jeremiedimino should know more.

My guess would be that we won't be participating in such a crowdfunding, simply because I know of no such precedent.

As for fixing it ourselves, we are not suffering from this enough to dive into

[2021-12-29 12:53] gasche commented on #8676
Reopening: it should be easy, now that TRMC has been integrated, to make `find_all` tail-recursive, but this will have to wait for 5.x.

[2021-12-30 17:38] Drup commented on #5736
I've longed for such a feature several time. Simple syntax proposition: extend `#<t>` to any simple type expression, and expand when it's a sum type/gadt/polymorphic variant, as proposed above. It's consistent with the current version, which only accepts an identifier. When it's composed, we can simply use parens: `#(float t)`.

[2021-12-31 15:54] mrmr1993 opened #10840 "Soundness bug: polymorphism and row types"
When copying row types, we assume that any two row types sharing a 'row more' [can be combined as a shared type](https://github.com/ocaml/ocaml/blob/35af4cddfd31129391f904167236270a004037f8/typing/ctype.ml#L1067). This assumption does not hold for row types involving polymorphism, where the types unify when considered within their respective binders, but are not equal.

For example, the following

[2022-01-01 11:18] lpw25 commented on #10840
It would certainly be nice to move to a more expressive row polymorphism, and the examples with explicits are a good additional argument for doing so. I think it's a very fundamental change to the system though, and at that point it is probably worth considering swapping it out wholesale for a more expressive one (e.g. my own system whose soundness proof is [here](https://github.com/lpw25/row-subt

[2022-01-03 08:12] gasche commented on #8907
Unless I misunderstand, there is still an issue here.

[2022-01-03 08:20] gasche commented on #10110
@hackwaly let me know that he will not have more time to spend on ocamldebug-related topics. Anyone should feel encouraged to fix this issue; I'm tentatively assigning myself, but please feel free to offer a PR anyway.

[2022-01-03 09:41] gasche commented on #9866
I can reproduce the bug on trunk. Reopening.

@garrigue would you maybe consider storing this known-issue in the testsuite? (Stack-overflow tests on native are fragile, and will change with Multicore; I would write a test that only calls the bytecode compiler, with the proper stack-size flag to ensure that it reliably stack overflows.)

[2022-01-03 12:37] sanette opened #10842 "[ocamldoc] html - type escapes its 'type' class"
Consider the following mli file
[code]
and produce the doc with `ocamldoc -html`.
The resulting code contains
[code]
We can see that the `t` (near the end of that line) is outside of its `<code>` element (and hence doesn't get correctly styled by the CSS).

[2022-01-03 13:32] gasche commented on #10842
(cc @Octachron)

I'm not sure, but this might in fact be the desired behavior if the idea was to style type names (or add links, etc.) in a way that would not work inside `<code>`.

[2022-01-03 14:09] gasche opened #10843 "[code documentation] difference between Ident.tbl and Map.Make(Ident).t?"
What is the difference between `Ident.tbl` and `Map.Make(Ident).t`? Could it be documented in indent.mli or any other place? When should one use one or the other? (cc @garrigue)

From a distance, it looks like Ident.tbl is a manually-inlined definition of balanced maps, designed such that `'a Ident.tbl` is equivalent to `(Ident.t * 'a) list Map.Make(String).t`, with a slightly more compact data re

[2022-01-03 16:11] gasche opened #10844 "references compared by reference/identity"
### Context

Functions and lazy values cannot be compared or hash by the default, structural polymorphic functions. Using them inside some datatype forces users to write their own comparison/hashing function, which is painful. (This can be partly avoided by meta-programming / ppx_compare, but there remains a usability cliff when moving from polymorphic comparison to user- or meta-generated functio

[2022-01-03 16:29] alainfrisch commented on #10844
That was obviously a typo, I meant Object_tag.

To be clear, no, we don't use such mutable references.  We use the implementation technique in several places, keeping more than one field of data in the records.  To support this use case without the current hacks (involving `Obj.set_tag/with_tag`), one could use an attribute on record declaration, to instruct the compiler to directly use Object_tag

[2022-01-03 16:51] gasche commented on #10844
I think that `Obj.with_tag` is in fact fine / efficient enough for most purposes (it's a copy of a short block), we probably don't need to implement additional compiler support unless there is a demonstrated need.

[2022-01-03 17:38] sanette commented on #10842
on the other hand the styling of `val f : t -> t` does put the type `t` inside `<code>`:

[code]

[2022-01-03 17:42] alainfrisch commented on #10844
I was not concerned by performance, but by the fact that users need to use such low-level, undocumented hack that relies on an unsafe feature.  But the compiler support is probably way too ad hoc anyway...

[2022-01-03 18:56] xavierleroy commented on #10843
There are two reasons for using  Ident.tbl instead of Map.Make(Ident).t, a good one and an historical one.

The good reason is that it provides the ability to search by name as well as by name + stamp; the former is essential to implement the Env module.

The historical reason is that a long time ago this code was bootstrapped from Caml Light, which didn't have functors, so there was no generic Ma

[2022-01-04 11:18] gasche commented on #10843
Thanks for the clarification.

I would be curious if @yallop could shed light on the stack overflows.

What I'm planning to do for now:
1. Send documentation comment for the `tbl` interface and implementation
    (Low-hanging fruit.)
2. Consider sending a PR to replace the bespoke implementation with a functor instantiation, and then kindly ask @Octachron to look at any performance impact. (This o

[2022-01-04 15:47] Octachron commented on #10822
(I have cherry-picked the fix to trunk too.)

[2022-01-04 16:07] c-cube opened #10847 "`let exception` is not documented at the right place"
`let exception E in …` was introduced in 4.04, according to the changelog, but it's listed in [the core expression chapter](https://ocaml.org/manual/expr.html) rather than [the language extensions](https://ocaml.org/manual/extn.html) as I believe it should. It also doesn't indicate a minimum required version.

I can open a documentation PR to change that if needed.

[2022-01-04 16:18] Octachron commented on #10847
I am not sure I follow why local exceptions ought to be in the extension section? The semantics of local exceptions is not expected to be modified, or known to be partially non-optimal (contrarily to recursive modules for instance.

Note also that they were moved to the tutorial and core language chapter in #1831.

[2022-01-04 16:20] gasche commented on #10847
Yes, we moved some "language extensions" parts to the main manual, but in some cases we kept using explicit "since OCaml ..." warnings, for example "Introduced in OCaml 3.12" right below. The part that describes "let exception" could be a named subsection with such "since" information.

[2022-01-04 16:25] c-cube commented on #10847
@Octachron is it the case that all features described in "extensions" are unstable or non-optimal? I have a hard time imagining  inline records going away, for example. The divide seems a bit arbitrary. If  I'm looking for a particular feature, now, I don't know which section to look in…

[2022-01-04 16:34] Octachron commented on #10847
The divide is a bit arbitrary.
But if you see any extension that is clearly stable, I will gladly move it to the main part of the manual.
In term of discoverability, this is the reason why there are forward links to extensions in the description of the core language.

[2022-01-04 16:35] gasche commented on #10847
The reasoning to move some content into the main manual was that, on the contrary, having recent features parked in a bag full of unrelated language features made them harder to find for newcomers that would go through the reference manual. (If you want to understand, say, "OCaml patterns", it's natural to look for that section rather than the "Language extensions" section.)

You happen to be of t

[2022-01-04 16:48] c-cube commented on #10847
That makes sense, thank you. For me the extensions were always sort of "what came after a pure-ish ML core with objects", i.e stuff added after 3.11 when I started using the language :innocent: .

If we look at the current list of extension:

1. Recursive definitions of values
2. Recursive modules
3. Private types
4. Locally abstract types
5. First-class modules
6. Recovering the type of a module

[2022-01-04 16:55] Octachron commented on #10847
For module aliases, the finer details of their semantics are not yet completely clear, at least in the context of functors and modular explicits, see #10673 and friends.

[2022-01-04 16:55] gasche commented on #10847
Relatedly, I would not be surprised to see middle-term changes to the handling of inline records (if we manage to land some more work on record unboxing), in particular we may start accepting more programs, but I suppose that the syntax and programs that are currently supported will remain supported forever.

I agree that private types and documentation comments are unlikely to go away. (But the c

[2022-01-04 20:14] tlringer commented on #10250
Quick question, since one of my students (@cosmoviola) just ran into this: Say the student needs to be on a version of OCaml prior to the fix. Is there a way to use an old glibc somehow that doesn't have this problem? We are confused because this problem didn't manifest on his old computer, but now manifests on his new one. He is on Ubuntu 21.10.

[2022-01-04 20:36] gasche commented on #10250
@dra27 has worked on backporting the fix to older OCaml versions (see #10725); it is not merged in the compiler upstream (it would be in version branches, not in a released bugfix, but your student could build and install the version branch), but there is growing consensus that it should be, and I think @dra27 is planning to include the patch in opam switches as well (see https://github.com/ocaml/

[2022-01-04 20:59] tlringer commented on #10250
Thanks, that makes sense. We can work in a later OCaml for now, and revisit in a few weeks.

Indeed the reason is that we need an old Coq (though not immediately, just eventually). The Coq plugin infrastructure changed really dramatically from 8.9.x to 8.10.x, so we need Coq 8.9.x for a plugin. Though if 4.10-4.12 already have that backported fix, that may be enough for Coq 8.9.x---I need to check

[2022-01-04 21:21] gasche commented on #10250
`opam show coq.8.9.1` suggests that it needs `ocaml < "4.10"`, so you would need OCaml 4.09 indeed.

(I wonder if the Coq people would consider backporting fixes to work with more recent OCaml versions, so that it gets easier in the future to install old Coq releases.)

[2022-01-05 07:15] glondu commented on #10250
Using an old OCaml (or Coq) with a new OS is a bit antinomic. Maybe using a chroot could be an option? I suggest using schroot (with a Debian 11 "bullseye" environment, which has OCaml 4.11.1) in this case. A more trendy way might be using Docker.  I don't know if it works well with WSL2, though.

[2022-01-05 08:13] xavierleroy commented on #10117
I have a fix in some branch somewhere.  Will come back to it after the Multicore merge.

[2022-01-05 08:16] xavierleroy commented on #10844
The only assumption made about blocks carrying `Object_tag` is that they have size >= 2 and that the second field the object identifier (a unique tagged integer).

Actually, Multicore has per-domain counters that are refreshed every 1024 steps (IIRC) from a global counter.  So it's about as efficient as you can get.

[2022-01-05 08:51] dra27 commented on #10117
It's in your afl-dynamic-allocation branch, apparently 🙂

[2022-01-05 08:54] dra27 commented on #10109
This issue is part of a bigger picture for reducing surprising differences between Unix and Windows; we're all on other things at the moment, but I'd like to keep it open.

[2022-01-05 09:07] gasche commented on #10250
I don't really agree. (As you know well, but for context:) Coq is used in academic environments where it is common for a given software/proof project to sit unused for years, and then be dusted off and tested/used, and even re-developed. It is a common use-case to develop again with software that was written 5, 10 years ago, and we expect to be able to do this within the comfort of an up-to-date d

[2022-01-05 11:40] glondu commented on #10250
Personally, I would first go with a "time capsule" as you say to assess the worthiness of doing more efforts to make my target work with an up-to-date environment. And by "environment", I mean the OS as well as OCaml and Coq. I was suggesting using a chroot just to make progress, not as a long-term solution to the problem.

[2022-01-05 15:41] dra27 commented on #10250
https://github.com/ocaml/opam-repository/pull/19855 now contains back-ports right the way back to 3.07 - it's only closed because the PR was causing too much pressure on opam-repository's CI system. As @gasche says, consensus is in the process of being reached, and there should at least be a plan next week! The discussion at the moment is where the patches should go, not whether opam-repository sh

[2022-01-05 19:12] tlringer commented on #10250
Thanks, I appreciate it!

[2022-01-05 19:48] k4rtik commented on #10374
Never mind my last two comments, I cannot reproduce this anymore after a clean opam and ocaml installation.

[2022-01-05 20:49] copy opened #10852 "Line number of parenthesized assert is the opening parenthesis"
The following example:

[code]

Prints: `Exception: Assert_failure ("./test.ml", 1, 9).`

That is, the assertion is reported to be on line 1, when the actual assertion statement is on line 2.

[2022-01-06 03:31] prateek-khandelwal commented on #3757
Would it be possible to document this better ? I read through documentation for `ocamlc` multiple times skipping over the `-o` part just because it says `-o exec-file`, and I just assumed that this option is valid when creating executables only. I do see that there's a line about it's use with `-c` flag at the end, however it's easy to miss it.

[2022-01-06 09:23] gasche commented on #10852
I looked into this. The crux of the problem is that the AST keeps a single node for `assert false` and for `( assert false )` (it is not a "concrete syntax tree" (CST) that tries to faithfully represent the code as written). Its location is the wider location of the two, and it is used as the payload of the `Assert_failure` constructor.

Yet there is hope: the parsetree provide a "location stack"

[2022-01-06 09:26] gasche commented on #10852
I don't have time to work on this right now. I also think this task should be accessible to someone with little knowledge of the compiler codebase, who wants to gets involved. (It involves touching many parts of the compiler frontend, but in easy ways; think of this as an non-supervised tour.)

[2022-01-06 11:00] Drup commented on #10843
I considered replacing the bespoke implementation several times over: it is not that easy. The dual nature of the lookup (by id and by name, including when name-shadowing occurs) makes it a bit inconvenient to encode into regular `Map`s.

I generally agree the duplication is annoying, though.

[2022-01-06 11:09] gasche commented on #10843
What's wrong with `(Ident.t * 'a) list Map.Make(String).t`?

Note: I thought of opening PRs to (1) document and (2) remove the duplication and also (3) to add `Ident.compare_tbl : ('a -> 'a -> bool) -> 'a tbl -> 'a tbl -> bool` which I needed in #10825. But I haven't done any of this yet:
- it's possible but not obvious to justify that the "if it ain't broke, don't fix it" wisdom should be ignored

[2022-01-06 14:38] yallop commented on #10843
@gasche:

I reproduced this issue just now using 4.06.0 with cbc66ffdd14958120663e740e5c81ad4122df436 reverted.  In this case, the stack overflow arose from [`Ident.fold_data`](https://github.com/ocaml/ocaml/blob/5fae5fd90e15e956569dbbeb12ccb78b83aceeef/typing/ident.ml#L298-L301), which is not tail-recursive:

[code]

[2022-01-06 14:56] gasche commented on #10843
Do you understand how the stack-overflow occurs in practice? (Does it require a typing environment within a recursive value definition that has dozens of thousands of bindings?) Here is what I understand so far:

1. `fold_data` / `fold_all` are basically `Map.fold_right` for this structure (they include traversing shadowed binding).
2. But your `Map.Make(Ident)` version also includes shadowed bind

[2022-01-06 15:13] gadmm commented on #10832
With the C++11 memory model at least you only need relaxed increment/decrements, which makes a difference on armv8 (and none on x86): [godbolt](https://godbolt.org/#g:!((g:!((g:!((h:codeEditor,i:(fontScale:14,fontUsePx:'0',j:1,lang:___c,selection:(endColumn:1,endLineNumber:2,positionColumn:1,positionLineNumber:2,selectionStartColumn:1,selectionStartLineNumber:2,startColumn:1,startLineNumber:2),sou

[2022-01-06 15:58] yallop commented on #10843
I haven't investigated closely, but it may simply come down to the fact that `Ident.add` extends the table with a new binding (keeping previous bindings for the same name around), while `Map.Make(Ident).add` replaces the binding.  Hence the following code

[code]

prints

[code]

For the let-rec check, calling `add` (in `join`) for names that are already present in the map leads `Ident` to build l