[2019-02-27 14:21] vicuna commented on #7548
**Comment author:** sshv

Can I work on this?

[2019-02-27 15:04] vicuna commented on #7548
**Comment author:** lereena

@sshv I have already completed it, you should choose another issue

[2019-02-27 15:07] vicuna commented on #7904
**Comment author:** @nojb

PR merged.

[2019-02-27 15:07] #7904 closed, assigned to nojb

[2019-02-27 16:14] vicuna opened #7933 "ld: warning: /usr/lib/libpthread.dylib, ignoring unexpected dylib file"
**Original bug ID:** 7933
**Reporter:** @rauanmayemir
**Status:** confirmed (set by @nojb on 2019-02-27T19:34:51Z)
**Resolution:** open
**Priority:** low
**Severity:** minor
**Platform:** Darwin
**OS:** macOS
**OS Version:** 10.14.2
**Version:** 4.07.1
**Category:** compiler driver
**Monitored by:** @nojb @gasche

## Bug description

This could happen whenever you compile with '-complete-output-ob

[2019-02-27 16:27] vicuna commented on #7933
**Comment author:** @nojb

Can you come up with a small reproduction case and run the compiler command that causes the error with `-verbose`?

[2019-02-27 17:03] vicuna commented on #7933
**Comment author:** @rauanmayemir

Here's the full dune build output with -verbose flag.

[code]

I also created a repro case with instructions here: https://github.com/rauanmayemir/repro7933

[2019-02-27 17:40] vicuna commented on #7933
**Comment author:** @nojb

It may be that we are passing shared libraries to the linker when "partially" linking ("ld -r"). We may have been relying on ld to silently ignore these arguments before.

Those flags probably come from C options embedded in OCaml archives, so not sure what we can do if this is the case.

[2019-02-27 17:45] vicuna commented on #7548
**Comment author:** @gasche

@lereena's proposed patch is undergoing review at
  https://github.com/ocaml/ocaml/pull/2272

[2019-02-27 19:34] vicuna commented on #7933
**Comment author:** @nojb

I was able to reproduce. Here's a smaller repro case:
[code]

[2019-03-01 07:21] vicuna commented on #7925
**Comment author:** kaaira

can i please work on this issue?

[2019-03-01 07:27] vicuna commented on #7099
**Comment author:** kaaira

can i please work on this? do reply so that i can know if i need to look for some other issue. Thanks.

[2019-03-01 08:32] vicuna commented on #7099
**Comment author:** @alainfrisch

Yes, feel free to pick up this work if you interested in it!

[2019-03-01 09:13] vicuna commented on #7099
**Comment author:** @gasche

In case this can help, here is maybe a more detailed description of what the issue is about.

Currently if you run "ocaml -dsource" and enter the following commands:

    #use "topfind";; (* this enables lookup of findlib packages *)
    #require "ppx_deriving.show";; (* this enables the ppx_deriving ppx *)
    type t = Foo of int [@@deriving show];;

then the last lin

[2019-03-04 10:04] vicuna opened #7935 "Erratic performance for Win32 emulation of select with pipes"
**Original bug ID:** 7935
**Reporter:** @alainfrisch
**Status:** new
**Resolution:** open
**Priority:** normal
**Severity:** minor
**Category:** platform support (windows, cross-compilation, etc)
**Monitored by:** @nojb @jmeber @Yakobowski

## Bug description

I'm attaching a small program that exhibit an erratic performance profile under Windows.  I strongly suspect OCaml's emulation of select fo

[2019-03-04 12:01] vicuna commented on #7935
**Comment author:** @alainfrisch

Another test, to check for the clock resolution:
<pre>
    for i = 0 to 20 do
      let n = (float i  /. 1000.) in
      Printf.printf "%i: %!" i;
      for _j = 1 to 5 do
        let t0 = Unix.gettimeofday () in
        for _i = 1 to 100 do
          Unix.select [] [] [] n
        done;
        let t1 = Unix.gettimeofday () in
        Printf.printf " %.02f %!" (1

[2019-03-04 12:12] vicuna commented on #7935
**Comment author:** @alainfrisch

Indeed, previous program gives the following under Windows, without Chrome running:

<pre>
0:  0.00  0.00  0.00  0.00  0.00
1:  16.76  16.69  16.76  16.75  16.69
2:  16.76  16.75  16.72  16.42  16.69
3:  16.44  16.69  16.45  16.69  16.45
4:  16.53  16.75  16.69  16.92  16.75
5:  16.37  16.91  16.75  16.40  16.75
6:  16.54  16.76  16.76  16.69  16.76
7:  16.75  16.

[2019-03-04 12:15] vicuna commented on #7935
**Comment author:** @alainfrisch

Cf https://docs.microsoft.com/en-us/windows/desktop/api/timeapi/nf-timeapi-timebeginperiod :

[2019-03-04 16:10] vicuna commented on #7935
**Comment author:** @alainfrisch

Tentative fix at https://github.com/alainfrisch/ocaml/commit/289bc0c0574d3a036067e03ee3d5b6d076769b2b

<pre>
The previous implementation of the select emulation on pipes would
often wait for 16ms when no data is immediately available (or a better
resolution if another process happens to request such a resolution).

This can lead to bad reactivity of programs that

[2019-03-04 16:13] vicuna opened #7936 "Chapter 3 of the manual has its toc printed twice"
**Original bug ID:** 7936
**Reporter:** @dbuenzli
**Assigned to:** @gasche
**Status:** resolved (set by @Octachron on 2019-03-04T16:33:46Z)
**Resolution:** fixed
**Priority:** normal
**Severity:** minor
**Version:** 4.07.1
**Category:** documentation
**Monitored by:** @nojb

## Bug description

See this page:

https://caml.inria.fr/pub/docs/manual-ocaml/objectexamples.html

(I verified, this seem

[2019-03-04 16:17] vicuna commented on #7935
**Comment author:** @alainfrisch

One could also, of course, request better clock precision in our emulation of select, but I feel it is bad style to affect a global system setting (well, it's not like others hesitate to do it, apparently).

[2019-03-04 16:21] vicuna commented on #7936
**Comment author:** @Octachron

Indeed, the class chapter has an hand-written toc that duplicate the one created by hevea.

[2019-03-04 16:23] vicuna commented on #7936
**Comment author:** @gasche

https://github.com/ocaml/ocaml/pull/2282

[2019-03-04 16:23] vicuna commented on #7936
**Comment author:** @gasche

The hand-written table was written by Didier in 1998 -- hevea may not have been around then.

[2019-03-04 16:33] #7936 closed, assigned to gasche

[2019-03-05 09:10] vicuna commented on #7936
**Comment author:** @gasche

(For the record, I reviewed other uses of {htmlonly} and they all seemed rather legitimate -- no similar TOC thing.)

[2019-03-05 11:17] vicuna opened #7937 "Fatal error when unifying an intersection type with a bool due to "=" or pattern-matching with true or false"
**Original bug ID:** 7937
**Reporter:** georges.duperon
**Assigned to:** @Octachron
**Status:** resolved (set by @Octachron on 2019-03-07T11:09:56Z)
**Resolution:** fixed
**Priority:** normal
**Severity:** crash
**Platform:** Linux
**OS:** Debian
**OS Version:** Debian 9
**Version:** 4.07.0
**Fixed in version:** 4.09.0+dev
**Category:** typing
**Monitored by:** @nojb @gasche

## Bug description

F

[2019-03-05 13:23] vicuna commented on #7937
**Comment author:** @gasche

I just tried, the same testcase still fails on trunk ( 4.09.0+dev0-2019-01-18 ).

[2019-03-05 13:24] vicuna commented on #7937
**Comment author:** @trefis

And the failure goes back at least to 4.02, so I'd guess it's been here "forever".

[2019-03-05 13:27] vicuna commented on #7919
**Comment author:** Vincent L

This problem is still there with OCaml 4.08.0+beta2:

gcc -arch x86_64 -c -DSYS_macosx -I../runtime -DMODEL_default -o amd64.o amd64.S || \
{ echo "If your assembler produced syntax errors, it is probably";\
          echo "unhappy with the preprocessor. Check your assembler, or";\
          echo "try producing amd64.o by hand.";\
          exit 2; }
/nix/store/g9cis

[2019-03-05 17:09] vicuna commented on #7937
**Comment author:** @Octachron

This was introduced in 4.01 with variants and record disambiguation: https://github.com/ocaml/ocaml/pull/2287 .

[2019-03-07 11:09] vicuna commented on #7937
**Comment author:** @Octachron

This uncaught exception is fixed in 4.09 by the PR above. Thanks for the report!

[2019-03-07 11:09] #7937 closed, assigned to Octachron

[2019-03-07 21:07] vicuna opened #7938 "8-byte access alignment detection is wrong with autoconf"
**Original bug ID:** 7938
**Reporter:** @Reperator
**Status:** acknowledged (set by @xavierleroy on 2019-03-09T09:32:23Z)
**Resolution:** open
**Priority:** normal
**Severity:** minor
**Version:** 4.08.0+dev/beta1/beta2
**Category:** configure and build/install
**Monitored by:** @Reperator @nojb @shindere @stedolan @hcarty

## Bug description

autoconf's AC_CHECK_ALIGNOF([long]) always returns "x8

[2019-03-08 08:53] vicuna commented on #7938
**Comment author:** @nojb

The configure script does not seem to use `AC_CHECK_ALIGNOF`. Instead it does its own test to compute alignment, see

https://github.com/ocaml/ocaml/blob/d47ba6ec18fc72d0aedabd162e373fecba2d7eaa/configure#L13325-L13349

Is there a problem with this test?

[2019-03-08 11:36] vicuna commented on #7938
**Comment author:** @stedolan

I think that link is to the generated configure, the source is https://github.com/ocaml/ocaml/blob/d47ba6ec18fc72d0aedabd162e373fecba2d7eaa/configure.ac#L691

I think the issue is that on 32-bit platforms, ocaml will now think that 64-bit reads and writes require 8-byte alignment, which will trigger the slow path whereby 64-bit accesses are emulated as a pair of 32-b

[2019-03-08 11:37] vicuna commented on #7938
**Comment author:** @nojb

Indeed, sorry for the confusion.

[2019-03-08 11:40] vicuna commented on #7938
**Comment author:** @Reperator

Indeed. I'm working on a PR that additionally needs checks for 32-bit and 16-bit accesses in order to use atomic reads/writes for bigarrays on supported platforms. If anybody with autoconf knowledge were to implement these, that'd be great.

[2019-03-09 09:30] vicuna commented on #7903
**Comment author:** @xavierleroy

Sorry I didn't see this report earlier.  Yes, the 4.07 behavior is not quite right and an unintended consequence.

We could enter/leave around each call to nanosleep:

  do {
    caml_enter_blocking_section();
    ret = nanosleep(&t, &t);
    caml_leave_blocking_section();
  } while (ret == -1 && errno == EINTR);

I think this would call signal handlers in a timel

[2019-03-09 09:35] vicuna commented on #7938
**Comment author:** @xavierleroy

The old autodetection code was fragile and unreliable, so I advise against resurrecting it.

The plan we had with @shindere was to use the C compiler alignment as the default, and hard-code a small list of exceptions for which we know that the hardware supports reduced alignment, in particular x86.

[2019-03-09 12:52] vicuna opened #7939 "Location.mknoloc confuses ocamldebug"
**Original bug ID:** 7939
**Reporter:** @db4
**Status:** feedback (set by @xavierleroy on 2019-03-09T15:15:21Z)
**Resolution:** open
**Priority:** normal
**Severity:** minor
**Version:** 4.07.1
**Category:** lexing and parsing
**Monitored by:** @nojb @diml

## Bug description

If Location.mknoloc is used in a ppx extension, AST gets a node with "dummy" begin and end locations:

[code]

Unfortunate

[2019-03-09 12:58] vicuna commented on #7939
**Comment author:** @gasche

Could we keep doing the bisection, but skip `noloc`-produced locations?

[2019-03-09 15:15] vicuna commented on #7939
**Comment author:** @xavierleroy

I don't think the binary search is the issue, because events are sorted by increasing pos_cnum when the debugger reads them off executable files (see function read_symbols in debugger/symbols.ml).

Could you give more details on the problem you observe?  Like a repro case, for example?

[2019-03-10 07:52] vicuna opened #7940 "printf buffer is not emptied when flushing output"
**Original bug ID:** 7940
**Reporter:** dansynek
**Assigned to:** @nojb
**Status:** resolved (set by @nojb on 2019-03-10T09:16:04Z)
**Resolution:** not a bug
**Priority:** normal
**Severity:** minor
**Platform:** Ubuntu
**OS:** Linux
**Version:** 4.05.0
**Category:** standard library
**Monitored by:** @nojb

## Bug description

In the documentation it states that by issuing a newline or flush stdo

[2019-03-10 08:02] vicuna commented on #7940
**Comment author:** @nojb

At first sight it sounds like a confusion between `out_channel`s and `Format.formatter`s, which use different buffering mechanisms. `flush` can be used to flush an `out_channel`, but has no effect on a `Format.formatter`.

Could you point out the precise spot in the documentation you are referring to, and maybe provide some sample code and expected result?

[2019-03-10 08:47] vicuna commented on #7940
**Comment author:** dansynek

You are right. I was confusing Printf.printf with Format.printf

[2019-03-10 09:16] #7940 closed, assigned to nojb

[2019-03-10 16:06] vicuna commented on #7903
**Comment author:** @jhjourdan

Isn't that already the behavior the the libC? I mean, if you write a pure C program which contains time-consuming signal handlers, then the sleep-like functions are not a suitable way of pausing an accurate amount of time.

[2019-03-10 18:00] vicuna commented on #7903
**Comment author:** @xavierleroy

Proposed fix at https://github.com/ocaml/ocaml/pull/2306

[2019-03-11 09:39] vicuna commented on #7903
**Comment author:** @xavierleroy

Fixed in commit 187ceb63a0efb1ef28ea3ece993bc37bf6d53f1d.

[2019-03-11 09:40] #7903 closed, assigned to xavierleroy

[2019-03-15 06:26] ulugbekna commented on #7547
Afaiu, this issue is closed already.

[2019-03-15 07:16] vicuna commented on #7547
Fixed in #2273

[2019-03-15 07:16] #7547 closed, assigned to nobody

[2019-03-15 07:18] vicuna commented on #7547
Thanks!

[2019-03-15 07:34] XVilka opened #8504 "Support for integer ranges"
To be able to support integer ranges like `1..100` in match cases and other expressions.

See https://discuss.ocaml.org/t/numerical-ranges-and-pattern-matching/3102

[2019-03-15 08:21] #8251 closed

[2019-03-15 08:46] gasche commented on #8504
Let me repeat my comment from the forum discussion:

"cfcs" later came with an [interesting suggestion](https://discuss.ocaml.org/t/numerical-ranges-and-pattern-matching/3102/8?u=gasche) to decompose integer ranges into products of byte ranges. It is a cool idea but I still think it is going to be pretty hard to implement correctly in the current state of the pattern-matching compiler implementati

[2019-03-15 10:56] garrigue commented on #7822
Fixed by #1997.
Unfortunately, the search takes so long that we cannot add this to the test suite.

[2019-03-15 10:56] #7822 closed, assigned to garrigue

[2019-03-15 12:44] ejgallego commented on #7398
I am not sure what should be done with this issue; likely closed.

As @xavierleroy pointed out, the standard solution is to generate a printer [using PPX if you want] and have it installed; thanks to recent tooling improvements this process has been much streamlined and IMO discussion should happen in the corresponding issues (i.e.: https://github.com/ocaml-community/utop/pull/269 )

I have been w

[2019-03-15 12:51] gasche commented on #7398
Yep, closing for now as there are no plans to change things in the core-language side. The topic of serialization is of course interesting and worth discussing in the community -- feel free to comment more here if pertinent.

[2019-03-15 12:51] #7398 closed, assigned to nobody

[2019-03-15 13:00] nojb commented on #8485
This seems out of scope: the "XXX_of_string" functions in the stdlib are not meant to be used as general parsing functions; they are "merely" the inverses of the `string_of_XXX`.

To skip leading & trailing whitespace one can simply call `String.trim` on the argument of `int_of_string`.

[2019-03-15 13:00] #8485 closed

[2019-03-15 13:00] ejgallego commented on #6900
I am very far from being an expert on the platform, but some users of the 32bit compiler in OSX did report that support for 32 binaries is deprecated in newer OSX developer tools.

Does that mean that 32bit OSX support is going to disappear [forced by upstream]?

[2019-03-15 13:03] trefis commented on #7929
Fixed by #2261.

[2019-03-15 13:03] #7929 closed, assigned to trefis

[2019-03-15 13:03] ejgallego commented on #4931
Not sure if this is still useful for others, in Coq we are close to using Dune and this is not needed anymore.

[2019-03-15 13:03] nojb commented on #6900
Yes. Support for this architecture has already been removed from `trunk`: #2278

[2019-03-15 13:04] #6900 closed, assigned to shindere

[2019-03-15 13:05] ejgallego commented on #6338
Umm, I am not sure a "canary" is the right solution here; it seems to me that the right solution would be to mask the corresponding `Stdlib` module and make those operators unavailable.

[2019-03-15 13:05] nojb commented on #4931
No other activity for close to 10 years, I think this can be closed.

[2019-03-15 13:05] #4931 closed

[2019-03-15 13:08] nojb commented on #8390
No activity in 15 years, there doesn't seem to be a pressing need for this feature, so closing.

[2019-03-15 13:09] #8390 closed

[2019-03-15 13:13] nojb commented on #6338
See also #1642

[2019-03-15 13:15] trefis commented on #7869
I could not reproduce on trunk or 4.08, here is the output of `ocamlc -c -i` on the example above:
[code]

I don't know what would have changed this, nor do I have the time to look into it right now.
I'm closing, but I think it would be good to know what happened (I'm going to keep a note to have a look at this, but it might be a while before I do, so feel free to investigate!)

[2019-03-15 13:15] #7869 closed, assigned to nobody

[2019-03-15 13:18] trefis commented on #7859
I think (though I'm not sure) that this would have been fixed by #1737 , which unfortunately was reverted in #2092 because of issue #7852 .

I'm planning to have another stab at that issue very soon.

[2019-03-15 13:19] alainfrisch commented on #6338
@ejgallego : Hiding the generic operations and all Stdlib functions that rely on them (the whole non-functorized Hashtbl, List.assoc, etc) is not realistic in practice (at least before we get modular implicits), and there are many legitimate use cases.  Being able to mark values in order to detect wrong use of the generic operations on specific data structures is a simple and nice addition, IMO.

[2019-03-15 13:25] nojb commented on #8170
The `graphics` library has been split off into its own repository https://github.com/ocaml/graphics.
This issue has been re-submitted there: https://github.com/ocaml/graphics/issues/2

[2019-03-15 13:25] #8170 closed

[2019-03-15 13:29] trefis commented on #7641
Note that the error message looks like on 4.08:
[code]
Which I believe is due to #2058.

I'll let @Octachron and @gasche decide if this is good enough to close this issue.

[2019-03-15 13:43] trefis commented on #7388
The warning doesn't seem to be emitted in that case since 4.07.
I'd guess this is due to #1661.

[2019-03-15 13:43] #7388 closed, assigned to garrigue

[2019-03-15 13:47] trefis commented on #7319
This particular situation is now handled since 4.08, as a result of #2110.

[2019-03-15 13:47] #7319 closed, assigned to nobody

[2019-03-15 13:54] gasche commented on #7641
@Octachron will be too modest to declare his own work (improving the message) "good enough", so let me do it. It's good enough, and actually it's quite good given the restricted space budget we have.

[2019-03-15 13:54] #7641 closed, assigned to nobody

[2019-03-15 13:54] trefis commented on #7129
FTR local opens *in expressions* are now actual an actual node, not stored in the extra field.
That is still not the case for patterns.

Nothing happened on the side of type constraints.

[2019-03-15 13:55] #7091 closed, assigned to garrigue

[2019-03-15 14:10] trefis commented on #6750
Fixed as part of #1980.

[2019-03-15 14:10] #6750 closed

[2019-03-15 14:12] nojb commented on #3455
Closing since it is not an issue on 64-bits, there is no obvious fix for 32-bit systems, and does not appear urgent at all.

[2019-03-15 14:12] #3455 closed

[2019-03-15 14:20] trefis commented on #6666
I'm not convinced by this:
- the proposed syntax doesn't scale: what if I want to "import" more than one thing?
- the proposed syntax is ad-hoc
- the extra indirection in the first example (the module `T`) is not needed for includes, and isn't needed for opens either since #2147.

This is not to say that the syntax as it currently stands is not cumbersome, but if I understand correctly we should g

[2019-03-15 14:20] #6666 closed

[2019-03-15 14:21] ejgallego commented on #6338
Oh indeed very good point; I was thinking more of the original context to avoid using the polymorphic operators in Coq; IMHO there we should just enforce that by hiding.

[2019-03-15 14:38] stedolan commented on #4868
`CAML_BA_MAX_MEMORY` was removed by #1738

[2019-03-15 14:38] #4868 closed

[2019-03-15 14:51] nojb commented on #4872
The `str` library has many shortcomings (global state, clunky API, etc) and it is highly unlikely it will be developed further (in fact it will be split off the compiler distribution when it is feasible).

[2019-03-15 14:51] #4872 closed

[2019-03-15 14:56] nojb commented on #4991
PR merged, so closing this.

[2019-03-15 14:56] #4991 closed

[2019-03-15 15:00] nojb commented on #4917
The `graphics` library has been split off the compiler codebase: https://github.com/ocaml/graphics
This issue has been re-submitted there: https://github.com/ocaml/graphics/issues/3

[2019-03-15 15:00] #4917 closed

[2019-03-15 15:07] nojb commented on #4652
The `num` library has been split off from the compiler codebase: https://github.com/ocaml/num
This issue has been submitted there: https://github.com/ocaml/num/issues/12

[2019-03-15 15:07] #4652 closed

[2019-03-15 15:09] nojb commented on #5259
The `str` library has many shortcomings (global state, clunky API, etc) and it is highly unlikely it will be developed further (in fact it will be split off the compiler distribution when it is feasible).

[2019-03-15 15:09] #5259 closed

[2019-03-15 15:27] nojb commented on #6009
These functions have all been merged into the stdlib.

[2019-03-15 15:27] #6009 closed

[2019-03-15 16:03] stedolan commented on #5767
vmthreads is dead now (#2289), so this is moot.

[2019-03-15 16:03] #5767 closed

[2019-03-15 16:09] hhugo commented on #7852
#1737 was reverted in #2092. Can be closed.

[2019-03-15 16:23] stedolan commented on #5361
With `flat-float-array` (#1294), the possibility that a type might be float no longer slows down array accesses, so this feature no longer seems necessary.

[2019-03-15 16:23] #5361 closed

[2019-03-15 16:23] stedolan commented on #7485
With `flat-float-array` (#1294), the possibility that a type might be float no longer slows down array accesses, so this feature no longer seems necessary.

[2019-03-15 16:23] #7485 closed, assigned to nobody

[2019-03-15 16:34] trefis commented on #7852
Actually, I’d like to keep this open until “a proper fix” is implemented.

[2019-03-15 16:39] mshinwell commented on #5452
We are no longer using Mantis.  (And I was tempted to close this 2.5 years ago.)

[2019-03-15 16:39] #5452 closed

[2019-03-15 16:41] mshinwell commented on #5373
#2112 should have dealt with this.

[2019-03-15 16:41] #5373 closed

[2019-03-15 16:43] stedolan commented on #4763
The Graphics module is a thin layer around the X11 / Windows GDI drawing primitives, which as far as I know don't support alpha blending. For drawing with transparency and other features, [cairo](https://www.cairographics.org/cairo-ocaml/) is a better bet.

[2019-03-15 16:43] #4763 closed

[2019-03-15 16:48] mshinwell commented on #7365
There didn't seem to be much enthusiasm for this back in 2017, and there was no response from the author to the latest review comments, so I'm going to close this.  If there is demand for Minix support in the future we can always reevaluate.

[2019-03-15 16:48] #7365 closed, assigned to shindere

[2019-03-15 16:49] nojb commented on #7920
PR merged, so closing.

[2019-03-15 16:49] #7920 closed, assigned to nobody

[2019-03-15 16:52] Chris00 commented on #4763
See also [cairo2](https://github.com/Chris00/ocaml-cairo) with a more structured interface.

[2019-03-15 16:57] mshinwell commented on #2900
This issue has been open for nearly two decades and I think it is now (over)ripe for closure.  I haven't checked specifically for the functions above, but there are now comprehensive systems programming libraries available for OCaml, which implement "More Unix" (quite possibly at a higher level).

[2019-03-15 16:57] #2900 closed

[2019-03-15 16:58] mshinwell commented on #2667
This is a known deficiency and I believe there is now a proper error message.

[2019-03-15 16:58] #2667 closed

[2019-03-15 17:05] mshinwell commented on #3861
"Sensual"?
 I'm not sure any further comment on this now-PUBLIC issue would be appropriate, so closing.

[2019-03-15 17:05] #3861 closed

[2019-03-15 17:05] stedolan commented on #6568
(Closing for the reasons given by @alainfrisch and @mshinwell in #101)

[2019-03-15 17:05] #6568 closed

[2019-03-15 17:14] mshinwell commented on #6288
We are no longer using Mantis.

[2019-03-15 17:14] #6288 closed

[2019-03-15 17:17] mshinwell commented on #4006
camlp4 was evicted from the distribution some time ago.

[2019-03-15 17:17] #4006 closed

[2019-03-15 17:19] mshinwell commented on #2915
No-one has answered my question in the last 2.5 years, so closing.

[2019-03-15 17:19] #2915 closed

[2019-03-15 17:21] mshinwell commented on #4090
I don't think this is worth pursuing.  As far as I know, there are very few users nowadays who would directly call `select`, preferring monadic concurrency libraries instead.

[2019-03-15 17:21] #4090 closed

[2019-03-15 17:26] stedolan commented on #8395
#973 is merged now, and there are no more un-namespaced symbols exported by `libcamlrun.a` or `libasmrun.a`.

[2019-03-15 17:26] #8395 closed

[2019-03-15 17:34] psteckler commented on #7898
I'm @psteckler on Github.

[2019-03-15 17:38] stedolan commented on #6297
Closing because it's unclear from this description what the proposed feature actually is. (@hhugo: if you still want this, feel free to reopen)

[2019-03-15 17:38] #6297 closed

[2019-03-15 18:01] nojb commented on #7898
When we announced the migration we asked people to send their GitHub user name so that it would be used by the migration script in the migrated issues. But I guess we did not reach everyone. In any case, your user name only appeared in a couple of issues, so I fixed them myself by hand.

[2019-03-15 18:22] yminsky commented on #6756
@lpw25 Is this one now resolved?

[2019-03-15 19:13] lpw25 commented on #6756
Fixed by #792

[2019-03-15 19:13] #6756 closed

[2019-03-15 20:10] dbuenzli commented on #7926
See @TheLortex's PR https://github.com/ocaml/ocaml/pull/2309 (whose name should be changed to reflect what it does).

[2019-03-15 20:14] dbuenzli commented on #6327
I think this can be closed.

[2019-03-15 20:22] dbuenzli commented on #7841
This issue can be closed.

[2019-03-15 20:42] dbuenzli commented on #2915
There is still an issue about the second point here https://github.com/ocaml/ocaml/issues/7677

[2019-03-15 20:55] dbuenzli commented on #4430
This can be closed.

[2019-03-15 20:56] dbuenzli commented on #4518
This can be closed.

[2019-03-15 21:01] dbuenzli commented on #6381
Given the general scepticism I think this can be closed.

[2019-03-15 21:02] dbuenzli commented on #6471
/cc @Octachron who I believe is responsible for ocamldoc these days. I'm neither sure whether this may have been solved nor whether it should be solved. I think we should focus API doc efforts on `odoc` so as far as I'm concerned I would move on to close this.

[2019-03-15 21:06] dbuenzli commented on #6968
I think @gasche PR's solves this issue and it can be closed.

[2019-03-15 21:10] dbuenzli commented on #7148
I suspect I'm speaking nonsense here since I doubt the actual information I'm mentioning is available when the error occurs. Maybe this should be closed.

[2019-03-15 21:16] vicuna commented on #4430
Thanks!

[2019-03-15 21:16] #4430 closed

[2019-03-15 21:17] vicuna commented on #4518
Thanks!

[2019-03-15 21:17] #4518 closed

[2019-03-15 21:18] nojb commented on #7841
Thanks!

[2019-03-15 21:18] #7841 closed, assigned to nobody

[2019-03-15 21:34] dbuenzli commented on #2902
ocamlbrowser is no longer part from the distribution since 4.02.

It is developed on the OCaml forge [here](https://forge.ocamlcore.org/projects/labltk/). I think this can be closed. /cc @garrigue

[2019-03-15 21:39] dbuenzli commented on #8361
This concerns installation of software that is no longer part of the distribution  (`camlp4` and `emacs` mode) and can be closed.

[2019-03-15 21:44] dbuenzli commented on #5857
This is not a good idea as it would break cut and paste from ocamldoc output to your editor. I would move on to close this.

[2019-03-15 22:00] Octachron commented on #6471
The point 2 is still unimplemented, but I agree that this feature is beyond the scope of ocamldoc maintenance.

[2019-03-15 22:00] #6471 closed

[2019-03-15 22:55] #8361 closed

[2019-03-15 23:02] #6327 closed

[2019-03-15 23:05] #6968 closed, assigned to nobody

[2019-03-15 23:11] #6381 closed

[2019-03-16 07:11] db4 commented on #7939
@xavierleroy you are right and my analysis was incorrect (the issue title should be changed but I don't have rights to do so) Indeed, event lists are sorted so ghost events is not an issue but the current binary search implementation is. In the example below
[code]
if you try to set a breakpoint on line 5 it's actually set on line 4:
[code]
We should find an event greater or equal to the current p

[2019-03-16 08:26] nojb commented on #8463
Now that bigarrays are part of the stdlib, maybe printers could be considered for them?

[2019-03-16 09:28] gasche commented on #4090
For the record, I don't really agree that it's not worth improving our `select` API -- there are a fair number of cases where people reimplement their own concurrency layers on top of the stdlib barebones (eg. Dune, Coq, etc.) instead of using Lwt/Async, so a modest and non-invasive improvement could be nice. The proposal in this issue seems sensible and non-invasive (I would call it `select_assoc

[2019-03-16 09:30] gasche commented on #7926
I'll note that @TheLortex discovered (in the process of implementing the PR above) that `-I <path>` actually works to indicate alternate directories for runtime variant, solving the immediate issue describing in this ticket (so I'm closing this). But we are discussed better / more discoverable ways to do these things.

[2019-03-16 09:30] #7926 closed, assigned to nobody

[2019-03-16 09:31] nojb commented on #7140
PR merged #2147, closing.

[2019-03-16 09:31] #7140 closed, assigned to nobody

[2019-03-16 12:33] dbuenzli commented on #7926
Note that `-I path` is in general unfriendly for incremental build systems. That said I'm not sure why you closed the issue while the corresponding PR to solve this problem has not been merged.

[2019-03-16 13:07] gasche commented on #7548
#2272 has now been merged: we have a nice explanation of `Printf` in the manual. I'll leave this issue open to track the idea of also having a presentation of `Format`, but personally I'm not sure it belongs to the "tutorial" part of the manual, as Format is sensibly more specialized. I would rather have a nice documentation at the beginning of the Format module (so at the beginning of `format.mli

[2019-03-16 13:08] gasche commented on #7926
If I understand correctly, the issue as described is "I can't build my own runtime variants unless I install the `.a` in `ocamlc -where`"; this issue is entirely solved by using the `-I` flag -- although I believe we still have an ergonomics/usability problem with this workaround. The PR solves a more general problem that you helped identify, so I think the two are not directly related anymore.

A

[2019-03-16 13:11] gasche commented on #7148
I agree that the solution you propose looks a bit too sophisticated, but I'll leave the issue open as a valuable example of "plausible mistake that needs better ergonomics".

[2019-03-16 13:15] dbuenzli commented on #8463
@nojb could you please relabel as `stdlib`.

The question is then which format and API. Here are a few references:

* @mmottl's lacaml [API](https://github.com/mmottl/lacaml/blob/41b5115d73f043c580e0688df3c21e0221a2aa25/src/io.mli) (2D matrix and vector oriented).
* @dbuenzli's gg [API](https://github.com/dbuenzli/gg/blob/8f761c278d0b2ee2adb94f9fbc033f1bfd76e536/src/gg.mli#L3499-L3507) (linear buf

[2019-03-16 13:55] dbuenzli commented on #3249
This problem still exists on 4.07.1 e.g.:
[code]
though I fail a bit to see the use case (repacking a set of libraries as a larger one ?).

That being said the synopsis of `ocamlmklib` seems to be a bit misleading:
[code]
or at least widly different from what is specified in [the manual](https://caml.inria.fr/pub/docs/manual-ocaml/intfc.html#sec481).

A look at the [implementation](https://github.

[2019-03-16 14:08] dbuenzli commented on #8247
Not an `info` user myself but a test with the last published info files seems to indicate that 1+3 are still present.

@maranget do you think the "administrator" is right in pointing fingers at HeVeA ?

[2019-03-16 14:28] dbuenzli commented on #7559
I can't think of an existing XML format and associated software for which this would be useful right away.

*If* a more machine readable output is really needed I #7560 seems more reasonable in the world we live now. Given it's the same person who reported, I bet he would be equally satisfied.

I would move on to close this.

[2019-03-16 14:33] #7559 closed, assigned to nobody

[2019-03-16 14:46] dbuenzli commented on #3959
Related to https://github.com/ocaml/ocaml/issues/7202

[2019-03-16 14:58] gasche commented on #7560
Having to add a json printer to the compiler sounds cumbersome (at least with the current state without vendoring (we cannot depend on third-party OCaml libraries)). On the other hand, several libraries represent JSON with structural types (polymorphic variants), and we could add a function that exports to that without introducing any extra dependency.

[code]

To use this, users would then have t

[2019-03-16 15:06] dbuenzli commented on #4908
@yallop proposed a design in PR https://github.com/ocaml/ocaml/pull/1201 however @xavierleroy made it [clear](https://github.com/ocaml/ocaml/pull/1201#issuecomment-311363619) he's against this.

Instead unsigned operation on Int32, Int64 and nativeint where added by @nojb in https://github.com/ocaml/ocaml/pull/1458 and will be available starting from 4.08.

I think we can close this.

[2019-03-16 15:08] dbuenzli commented on #7280
Unsigned operation on Int32, Int64 and nativeint where added by @nojb in https://github.com/ocaml/ocaml/pull/1458 and will be available starting from 4.08.

I think we can close this.

[2019-03-16 15:37] dbuenzli commented on #7560
To be honest JSON is easy enough to output things by hand, it is just a matter of escaping strings correctly ([20 lines](https://github.com/b0-system/b0/blob/a03f8bcdc0660db3cbc712c5c680f2b515aa54ab/src-care/b0_web.ml#L574-L595)).

In this particular case I more doubt the usefulness of JSON output given the current complexity of the data being output (and unless part of a larger change to output m

[2019-03-16 15:41] gasche commented on #7560
Yes, I think that exposing better, high-level APIs to some compilation services should be a side-effect of any "produce machine-readable output for `foo`" work for the compiler.

(Would you be willing to send a PR for this part?)

[2019-03-16 16:01] dbuenzli commented on #7560
Assuming you meant pull request and not problem report, that would be premature for now. But when I think I have the right thing, I might.

[2019-03-16 16:13] gasche commented on #7560
What I had in mind was very simple: I would add a function in `makedepend.ml` that would take a list of filenames as input (or maybe `Implem of path | Interf of path`), call `file_dependencies` on each of them, and return the content of the `!files` reference after the call. I might give it a try.

[2019-03-16 16:20] xavierleroy commented on #3716
Since 4.07, `Thread.delay` is resilient to interrupts, solving this issue.

[2019-03-16 16:20] #3716 closed

[2019-03-16 16:23] xavierleroy commented on #3666
Since 4.07, `Unix.sleep` is resilient to interrupts.  This seems to solve this old issue.

[2019-03-16 16:23] #3666 closed

[2019-03-16 16:42] xavierleroy commented on #4471
11 years later, I'm not sure what has changed in OCaml's recursive modules, but signatures of recursively-defined modules can contain values that are not functions, and definitions by constants are supported (or expressions that don't get into a recursive cycle, more generally).  Here are some examples in OCaml 4.07:
[code]
Let's just close this issue.

[2019-03-16 16:42] #4471 closed

[2019-03-16 16:44] xavierleroy commented on #4679
The current recommended practice for namespacing is to use module aliases as outlined here: http://ocamllabs.io/doc/namespaces-module-aliases.html .

[2019-03-16 16:44] #4679 closed

[2019-03-16 16:48] dbuenzli commented on #7560
I see, I'm more interested in getting module usage/definition outlines of the following form:

[code]

[2019-03-16 16:55] Octachron commented on #7560
What is the second argument of `Open`? The list of imports in the scope of the open statement?

Also codept can already output a more precise version of exports with `codept -sig <module> [-format json]`.

[2019-03-16 16:56] dbuenzli commented on #7560
Yes.

[2019-03-16 16:57] jberdine commented on #7684
Duplicate of #7522 ?

[2019-03-16 17:01] Octachron commented on #7560
May I ask what is your use case? I am asking because there is not enough information left in this format for inferring precise dependency for instance.

[2019-03-16 17:03] dbuenzli commented on #7560
Best-effort automatic dependency discovery.

What would you add ?

[2019-03-16 17:05] xavierleroy commented on #7797
Re-reading this discussion, I am convinced that `Bytes.of_string "literal"` is about the best we can do, from a code speed and code size point of view.  If you have lots of those, you can shorten the notation:
[code]
So, I'll go ahead and close this issue.

[2019-03-16 17:05] #7797 closed, assigned to nobody

[2019-03-16 17:10] xavierleroy commented on #7856
As I understand it, the proposed `@recnostack` warning would need whole-program static analysis and can't be done with the information that the compiler has at its disposal.  I move to close this feature wish, unless  @edwintorok  disagrees.

[2019-03-16 17:12] Octachron commented on #7560
The minimal information (location information excepted) needed is more or less
https://github.com/Octachron/codept/blob/master/lib/m2l.mli#L39
because definitions, opens and includes interact with each other.
(and yes codept ast can be outputed as json or sexp  `codept -m2l`).
May I suggest you to try codept and tell me what changes would be needed to fit your needs?

[2019-03-16 17:12] xavierleroy commented on #7896
FP rounding mode is another piece of global state, and I don't feel like exposing this to casual users.  I'd rather leave that to a specialized, external library.  Even better would be a more functional API that hides the global state.  Again such an API could be developed first as an external library.

[2019-03-16 17:21] Chris00 commented on #7896
In case this is of interest, the [Interval](https://github.com/Chris00/ocaml-interval) library does this (internally).

[2019-03-16 17:28] xavierleroy commented on #6107
Still trying to get #1492 reviewed and this issue closed.

[2019-03-16 17:39] xavierleroy commented on #4908
Closing as suggested.

[2019-03-16 17:39] #4908 closed

[2019-03-16 18:17] xavierleroy commented on #7896
Yes, interval arithmetic is a great example of a nice, high-level, declarative API that changes rounding mode internally in the implementation.

Actually I wonder whether there are any other common use of non-default rounding modes beyond interval arithmetic.

[2019-03-16 18:59] nojb commented on #3249
My understanding is that this limitation stems from there being no simple way to merge static libraries in a portable way. Including all that intricate logic in the compiler does not seem to fit with its overarching philosophy. With that, I move to close this issue.

[2019-03-16 19:15] nojb commented on #7909
This report seems correct. Many tests in `tests/lib-unix` are affected.

cc @shindere

[2019-03-16 20:09] paurkedal commented on #7869
Great!  Seems this was fixed between 4.08+beta1 and 4.08+beta2.

[2019-03-16 22:48] edwintorok commented on #7856
Feel free to close this issue, perhaps a warning in the documentation would suffice:
"The tailcall attribute does not guarantee that stack usage has a finite upper bound. Indeed it is possible to have a stack overflow with a tailcall if there are other non-tail function calls inbetween."

[2019-03-16 23:23] nojb opened #8510 "Add String.{Set,Map,Tbl} ?"
This issue corresponds to PR #2302, where I proposed to add submodules `String.Set` and `String.Map` defined in the obvious way. One can also consider `String.Tbl` for hash tables. I am opening this issue to discuss the approach before focusing on the implementation.

The main technical objection in the linked PR was that doing so introduces a dependency between `String` and `Set` (and `Map` and `

[2019-03-17 03:25] karansapolia commented on #7924
Hello @gasche I would like to work on this issue. I am fairly new to the ocaml project so I would request some guidance on how to get started on this one.

[2019-03-17 07:13] gasche commented on #7924
Hi @karansapolia, thanks for working on this!

The first step would be to build the current development version ("trunk") of the compiler codebase, following the instructions in [HACKING.adoc](https://github.com/ocaml/ocaml/blob/trunk/HACKING.adoc).

Then you should go to `typing/typedecl_variance.ml` (the implementation file for the `Typedecl_variance` module) and `typing/typedecl_variance.mli` (

[2019-03-17 08:29] karansapolia commented on #7924
Thank you @gasche. That was very helpful. Let me work on it and get back to you :smile:

[2019-03-17 15:04] xavierleroy commented on #3917
Configuration has been entirely rewritten using GNU autoconf, which has different, more clever ways to test availability of library functions.  Optimistically, I think the present issue goes away, and so I'm closing it.  There might remain other issues with ICC, though.

[2019-03-17 15:04] #3917 closed

[2019-03-17 15:11] xavierleroy commented on #4057
Since 4.07, I think, `Unix.sleep` and related functions restart the sleep when they are interrupted by a signal.  This obviates the primary need for returning the time left.  Moreover, I'm really not keen to change the type of the sleep functions and break a lot of code.

[2019-03-17 15:11] #4057 closed

[2019-03-17 15:13] xavierleroy commented on #4104
The main reason against `Condition.timedwait` was that it was difficult to implement in the VM threads library.  Since the VM threads library is now gone, we can reconsider the addition of `Condition.timedwait`.  If anyone cares enough to submit a pull request...

[2019-03-17 15:32] xavierleroy commented on #4173
13 years after the initial report, and 7 years after the last confirmation, I think it's time to remove the "high-priority" tag (which I just did) and to close this report (which I haven't done yet).  Note that the "unloadability" of OCaml code using the Thread library has changed, and hopefully improved, following commits such as c91db736b18c7ed0ec81596b76874f5423d5d331 and e26c27e0029250b93684d1

[2019-03-17 15:44] xavierleroy commented on #3997
`caml_ba_alloc` is documented in the reference manual, section 20.10: https://caml.inria.fr/pub/docs/manual-ocaml/intfc.html#sec468 . I think that's enough documentation.

[2019-03-17 15:44] #3997 closed

[2019-03-17 15:47] xavierleroy commented on #4100
This seems to have been fixed in commit 7e9f606dee71af1127d0f6daa74913f60087a6b4 .

[2019-03-17 15:47] #4100 closed

[2019-03-17 15:51] xavierleroy commented on #4270
ocamlbrowser is now developed separately, along with LablTK: https://forge.ocamlcore.org/projects/labltk/

[2019-03-17 15:51] #4270 closed

[2019-03-17 15:58] nojb commented on #7694
Cannot reproduce in 4.07, so I'm assuming it has been fixed. @lpw25 ?

[2019-03-17 16:04] xavierleroy commented on #5203
The CSE optimization that was added in 4.02 can often factor out the extra indirection caused by bigarrays.  But it cannot lift it outside loops, like this report suggests.  Other code motion optimizations could be considered.  But I'd rather have a generic optimization than something specific to bigarrays.  So, I'll close this report.

[2019-03-17 16:04] #5203 closed

[2019-03-17 16:21] Kakadu commented on #8036
seems to be a good candidate for `junior_job` tag

[2019-03-17 16:23] kit-ty-kate opened #8511 "Correct mutually recursive types are rejected by the type-checker"
Consider the two following mutually recursive types:
[code]
[code]
Both type definitions should be correct, however, they both are rejected by the type-checker with the following error message:
[code]
Both look valid in a sense that if you manually inline the definition of `q` in `p`, it's accepted by the compiler. You can also define `q` first with a type parameter and this works too. e.g.:
[code

[2019-03-17 16:24] xavierleroy commented on #5813
I confirm this issue is still there (4.09.0+dev): in Ubuntu x86-32, the test dies at iteration number 98, having extended the heap to 4102464k.

Is there a chance that this issue will be fixed by @damiendoligez's ongoing work on the free list allocator?

If not I suggest to close, since this issue is specific to 32-bit platforms, and those platforms are not our main focus.

[2019-03-17 16:35] xavierleroy commented on #5693
As of now, `otherlibs/unix/execvp.c` no longer references the `environ` global variable, but `otherlibs/unix/envir.c` still does and still does not contain the `_NSGetEnviron` dance suggested in the original report.

Do we still have a macOS problem here and should we do something about it?  @damiendoligez

[2019-03-17 16:45] xavierleroy commented on #6049
I'm afraid support for PowerPC under non-Linux platforms was removed in 2015 as part of commit 8815d7e1, even though traces remain in `configure.ac` (to be discussed with @shindere).

Moreover, PowerPC 32 bits is dying, just like the old Macs that were able to run it.  POWER8 64-bits seems to be the last healthy variant of this architecture.

So, with all due respect to dead architectures, I will

[2019-03-17 16:45] #6049 closed

[2019-03-17 16:51] xavierleroy commented on #6195
If I'm not mistaken, only ocamldebug remains to be cleaned up?

[2019-03-17 16:59] xavierleroy commented on #6133
I believe the new `caml_custom_alloc_mem` API, as introduced by #1738, answers the need.  Holler if it is not the case.

[2019-03-17 16:59] #6133 closed

[2019-03-17 17:02] gasche commented on #8511
Indeed, I think this should be reasonably straightforward, but yet another static information about types to keep around in signatures. A closed polymorphic variant type (or, dually, an object type) is "grounded" when we know the full list of possible variants constructors (or dually, its methods) -- an arbitrary closed type is grounded when we know its head type connective. A parametrized type ha

[2019-03-17 17:06] nojb commented on #6195
I think `ocamlobjinfo` also remains to be treated.

[2019-03-17 17:10] xavierleroy commented on #6065
The `Float.Array` module that was added in 4.08 provides float-specialized arrays, with functions that avoid double initialization when possible.  It looks like a good answer to the original request.

As I mentioned in my comment above, similar optimizations might be possible for generic array operations such as `Array.init` and `Array.map`.  But that's significant work for unclear benefits.

Clos

[2019-03-17 17:10] #6065 closed

[2019-03-17 17:12] xavierleroy commented on #6195
Looking at `tools/Makefile` it seems like ocamlobjinfo links with compilerlibs.  Am I missing something?

[2019-03-17 17:49] lpw25 commented on #7694
That example was fixed by the change in behaviour of `module type of` in #1652. However, I expect that the general pattern of using `-no-alias-deps` to make recursive module aliases probably still causes problems elsewhere in the compiler so maybe leave this open.

[2019-03-17 17:56] lpw25 commented on #8511
You wouldn't need to keep the information in signatures. Once the type has finished being defined the information is no longer needed -- you can just expand the type away when analysing later type definitions.

It also doesn't really make sense to keep the information in signatures because it wouldn't make sense to abstract the type but keep the information (unlike variance or immediateness) -- it

[2019-03-17 18:18] xavierleroy commented on #3249
Yes, `ocamlc -a` can combine several `.cma` into a single `.cma`, but `ocamlopt -a` cannot do the same because `ar` is unable to combine several `.a` archive files, at least not without awful hacks.

The `ocamlmklib` synopsis should be fixed, indeed.  I believe no other change is necessary.

[2019-03-17 18:42] xavierleroy commented on #7890
Currently, OCaml is very consistent w.r.t. this rounding mode business: the standard library provides no way to change the rounding mode, and the optimizer assumes the rounding mode is not changed (unless `-no-float-const-prop` is given).

If you use external libraries that change the rounding mode, it is your responsibility, or the library's responsibility, to set `-no-float-const-prop`.

This be

[2019-03-17 18:42] #7890 closed, assigned to nobody

[2019-03-17 19:46] gasche commented on #8511
Keeping the information in signatures is nicer / more modular / more efficient than expanding at use-site.

[2019-03-17 20:25] nojb commented on #6195
- `ocamlobjinfo` still links against some individual modules of `ocamloptcomp`:
https://github.com/ocaml/ocaml/blob/798dc35c9e61bfa70e5332325519b938888e6cb0/tools/Makefile#L327-L335

- `ocamlmktop` also does not link against compiler-libs:
https://github.com/ocaml/ocaml/blob/798dc35c9e61bfa70e5332325519b938888e6cb0/tools/Makefile#L167-L172

- `ocamlprof`:
https://github.com/ocaml/ocaml/blob/798dc3

[2019-03-17 20:54] lpw25 commented on #8511
It's not more modular because, as I said, the information cannot be usefully abstracted, and it's not more efficient because you need to do the expansion anyway to find out the underlying polymorphic variant. It will also be less accurate because the information is not stable under substitution (also true of variance which should really be fixed at some point).

It would be better to keep this ana

[2019-03-18 03:24] trefis commented on #8510
I don't have any objection to this approach, but I also have no idea what the generated docs will look like.

[2019-03-18 04:13] trefis commented on #5857
I wonder if, at least for the html backend, there wouldn't be some (CSS ? JS ? Whatever ?) magic to make the text that is copied different from what you actually see in the browser. (Actually, I can't see how such an obviously useful feature couldn't exist)

But I agree it's a bad idea in general, also I'm not sure anyone's really looking into adding new features to ocamldoc nowadays. So indeed, l

[2019-03-18 04:13] #5857 closed

[2019-03-18 06:56] trefis commented on #7869
Oh, indeed I hadn't noticed it was still broken on 4.08+beta1.
It appears it was fixed by #2261. I'm not going to dig into it any more than that.

[2019-03-18 08:02] XVilka opened #8513 "Improve subtyping support with new engine"
To allow function arguments polymorphism and to solve a few other problems along with it.

See the paper https://www.cl.cam.ac.uk/~sd601/papers/mlsub-preprint.pdf and the code of MLsub https://github.com/stedolan/mlsub

Based on the question https://discuss.ocaml.org/t/function-argument-polymorphism/3224/2

Might be useful for:
- https://github.com/ocaml/ocaml/issues/6130
- https://github.com/ocam

[2019-03-18 08:11] #3249 closed

[2019-03-18 08:17] lpw25 commented on #8513
MLsub has requirements that aren't met by OCaml, in particular it requires all type contexts/parameters to be either covariant or contravariant. So the work can't be used directly as a replacement for unification in OCaml. Rewriting the type-checker to work that way would be a large amount of work.

It also wouldn't solve the problem that you reference. It would allow us to remove subtyping coerci

[2019-03-18 08:17] #8513 closed, assigned to nobody

[2019-03-18 08:30] alainfrisch commented on #7918
Fixed by #2257.

[2019-03-18 08:30] #7918 closed, assigned to nobody

[2019-03-18 09:28] let-def commented on #8510
Add type annotation to benefit from specialization:
[code]

[2019-03-18 09:30] nojb commented on #8510
Indeed, good point.

[2019-03-18 09:35] garrigue commented on #8511
There is a good reason why both definitions are rejected: in both cases `p` cannot be defined without first knowing the definition of `q`.
In the past, there has been suggestions that we should allow that in the reverse order (if `q` depends on `p` but not conversely), however this was rejected for the sake of symmetry.

I agree that one could do some extra work to find a dependency order allowing

[2019-03-18 09:38] mshinwell commented on #8510
I'm not convinced that this extra complexity is necessary, for two reasons.  Firstly, the amount of code being pulled in seems really small (I think it's less than 15Kbytes on amd64, for example).  Secondly, we have some ideas to get native dead code elimination working more effectively, with a lower overhead than the existing Flambda+LTO implementation.

I would also suggest that if improvements

[2019-03-18 09:47] nojb commented on #8510
Any input you may have on this topic is warmly welcome, @sliquister.

[2019-03-18 09:58] kit-ty-kate commented on #8511
My use case was this one: https://github.com/kit-ty-kate/ocaml-activitypub/blob/f64965dfcb0d480e619341b865fef17a75888bdf/lib/activitystreams.mli

It's a bunch of mutually recursive types here to encode the Activitystreams spec. In this example, inlining is not an option (the types are too big) and using a type parameter is not an option either because there are too many mutually recursive types to

[2019-03-18 10:25] mshinwell commented on #6195
The `ocamlobjinfo` part of this will be fixed by my middle-end rearrangements (#2281 / #2288).

[2019-03-18 10:27] gasche commented on #8511
Well variance checking works in this way. Personally I would find it natural that we do the right thing here and accept definitions when they do make sense. (We could look at the "other places" as the need arises.)

Jacques wrote:

Kate wrote:

@kit-ty-kate, the encoding that Jacques mentions is what I called "type-level records" during our discussion:

[code]

The `constraint` lets you transport

[2019-03-18 10:40] Drup commented on #5857
@trefis Well, another way to do this is to play (arguably silly) games with ligatures.

Personally, I think this is pointless. We already are accustomed to the signatures without any of those fancy chars, the readability improvements will be negligible or non-existent.

[2019-03-18 10:42] gasche commented on #8036
Yes and no... this interacts with the format GADTs in non-trivial ways, so it might be a good entry point for expert OCaml programmers but I wouldn't send a medium-level OCaml user this way.

[2019-03-18 10:45] garrigue commented on #8511
Here is a workaround in your case:
[code]

[2019-03-18 11:02] garrigue commented on #8511
@gasche Variance works that way because it has to: even for a single type definition, you have to compute a fixpoint. The code for mutually recursive definitions is just a generalization of that.

For variant and object inheritance, the problem is very different: for them to be well-defined, there must be a correct definition order, and this reflects the way value definitions work in OCaml (contra

[2019-03-18 11:26] mshinwell commented on #7895
#8507 will be merged very soon, and will fix this.

[2019-03-18 11:26] #7895 closed, assigned to nobody

[2019-03-18 11:33] mshinwell commented on #7514
@gasche I think the "new" profiling support replacing `-dtimings` fixes this to a sufficient extent, right?

[2019-03-18 11:34] #7280 closed, assigned to nobody

[2019-03-18 11:35] mshinwell commented on #7236
@gasche Shall we close this?

[2019-03-18 12:43] gasche commented on #7514
Yes, `-dprofile` shows heap consumption so this can indeed be closed.

[2019-03-18 12:43] #7514 closed, assigned to nobody

[2019-03-18 12:45] gasche commented on #7236
Well I think we should still document how we use the Github bug tracker.

[2019-03-18 14:27] xavierleroy commented on #7122
The proposed change seems to have been performed already as part of the great unification between Makefile and Makefile.nt.

[2019-03-18 14:27] #7122 closed, assigned to nobody

[2019-03-18 18:08] ulugbekna commented on #7927
Hi! I started on this issue by figuring out which functions need refactoring first.  Then I put those functions and their large tuples in a table below to see overlaps. We can see that `extract_type_decls`, `merge_type_decls`, `final_env`, `check_coercions` use same shaped tuples, so they can be combined for sure. I already tried to create a record type that has that tuples' shape but am having ha

[2019-03-18 18:20] alainfrisch commented on #7927
Answering 3, the benefits will be:

  - Documenting the meaning of each field.
  - Soft-enforcing the use of standard identifiers, thanks to punning (which makes it more tedious to use ad hoc names).
  - Possibly using the `{.. with ..}` syntax and dot-notation, which would be more compact than their tuple-equivalent.
  - Making future extensions/refactoring easier.

[2019-03-18 20:09] gasche commented on #7927
Going for the low-hanging fruit, that is the four functions you identified to use the exact same shape, and converting them into a shallow record (instead of trying to reorganize via nesting), sounds like a good first step to me.

For how to use the object-oriented parts of the language, see for example [the Real World OCaml chapter on objects](https://v1.realworldocaml.org/v1/en/html/objects.html

[2019-03-18 20:32] codename68 opened #8519 "Bigarray from string"
I'd like to file a feature request about adding a new function that takes:
string -> ('a, 'b) Bigarray.kind -> 'c Bigarray.layout -> int array -> ('a, 'b, 'c) Bigarray.Genarray.t
It would interpret the string's contents as contents that came from memory.

Let me just talk about the use case I've had and why I would like that.
I've tried to write a program that takes as input a dynamic array from a

[2019-03-18 21:00] nojb commented on #8519
Off the top of my head, several libraries that carry a function to convert a string to a bigarray:

- [Lwt](https://github.com/ocsigen/lwt/blob/a79c1cdc6e90f367e48289e3503e71beb6b2108b/src/unix/lwt_bytes.mli#L39)
- [bigstringaf](https://github.com/inhabitedtype/bigstringaf/blob/80206b7f57311ab2a9eb3d67514bd9b615921c25/lib/bigstringaf.mli#L24)
- [ocaml-bigstring](https://github.com/c-cube/ocaml-big

[2019-03-19 01:38] objmagic commented on #7583
https://github.com/ocaml/ocaml/pull/1546 is merged and I am not sure if we want to continue discussion on empty record.

[2019-03-19 05:09] BusterNeece opened #8520 "Question: Is there a PPA to update Ubuntu 16.04 to 4.05 or newer?"
Hello!

Some of our dependencies using OCaml have started to require a newer version than the one that ships out of the box with Ubuntu 16.04.

I know I can use OPAM to build a newer version of OCaml from source, but I distribute a piece of software that's self-installed by individual users and this causes the build times to skyrocket upwards of 15-20 minutes just for that one component. A prebuil

[2019-03-19 05:16] XVilka commented on #8520
Both Debian and Ubuntu are terribly slow on updating many packages in line with mainstream. And OCaml is one of these: https://repology.org/project/ocaml/versions

If you don't want to compile OCaml toolchain from opam, I suggest you to use Alpine-based docker container, they recently updated to 4.07.1 version - see the link above.

P.S. Also I think this question doesn't really belong to GitHub a

[2019-03-19 05:19] BusterNeece commented on #8520
@SlvrEagle23 As I mentioned, the software I write is self-hosted on a number of different environments, and despite recommending 18.04 and Docker installation methods heavily, I still want to ensure those using other platforms aren't too heavily disadvantaged if I can help it. The question here was specifically for 16.04 as they're more affected in this situation than other users.

[2019-03-19 05:26] XVilka commented on #8520
@SlvrEagle23 you can try to build your binary statically, but it is highly experimental:
- https://discuss.ocaml.org/t/statically-link/1464/7
- http://rgrinberg.com/posts/static-binaries-tutorial/

[2019-03-19 05:36] BusterNeece commented on #8520
Per request, closing to move to the forum: https://discuss.ocaml.org/t/ocaml-available-via-ppa-on-ubuntu-16-04/3523

[2019-03-19 05:36] #8520 closed, assigned to nobody

[2019-03-19 05:43] #7909 closed, assigned to nobody

[2019-03-19 05:51] #7754 closed, assigned to nobody

[2019-03-19 05:59] v-gb commented on #8510
In the core interface, the main reason for Map.Make and similar functors is to provide a type of map that has [@@deriving of_sexp] (as that needs a comparison baked-in to build the map). In base, [@@deriving of_sexp] is made to work some other way, and so the functors are not needed, and we removed them and their applications in String/Int/etc to reduce cross modules dependencies, for faster build

[2019-03-19 07:24] xavierleroy commented on #7755
The location is correct in 4.07 and in 4.08.  The problem seems to have been fixed by the lexer changes post 4.06.

[2019-03-19 07:24] #7755 closed, assigned to nobody

[2019-03-19 11:23] hhugo opened #8523 "Stdlib does not export the [Unit] module"
Unit was introduced in https://github.com/ocaml/ocaml/pull/1876

[2019-03-19 11:31] nojb commented on #8523
Indeed, good catch!

[2019-03-19 14:25] #8523 closed, assigned to nobody

[2019-03-19 15:06] stedolan commented on #7113
Closing this because `-safe-string` has been the default since 4.06, which seems to resolve the issue here. Reopen if you disagree!

[2019-03-19 15:06] #7113 closed, assigned to nobody

[2019-03-19 17:18] shindere commented on #7919
Closed by #2311

[2019-03-19 17:19] vbgl commented on #7919
Thank you.

[2019-03-19 17:22] #7919 closed, assigned to shindere

[2019-03-19 17:23] shindere commented on #7919
You're welcome! You may wnat to double check this actually works!

[2019-03-19 17:52] codename68 commented on #8519
Hi,

none of these libraries permit to select the kind and dimensions of your data.

Maybe it would be more clear if I say that I want a function that takes a Bytes.t instead of string: I'm not interested into the character array in itself, but as a representation of underlying data.

[2019-03-19 19:56] yallop commented on #8519
```string -> ('a, 'b) Bigarray.kind -> 'c Bigarray.layout -> int array -> ('a, 'b, 'c) Bigarray.Genarray.t```

The [memcpy](https://github.com/yallop/ocaml-memcpy) package makes it fairly easy to write such a function:

[code]

There's currently no support for Fortran-layout arrays, but it wouldn't be hard to add.

[2019-03-19 20:29] codename68 commented on #8519
Thanks!
This is what I need.

I still think that this functionality should be present somewhere in the stdlib, as a more generic Unix.map_file; and the dependency to ctypes just to be able to reinterpret data is big.

[2019-03-19 21:48] xenia-foxtrot commented on #7878
Hi!

I'd like to pickup this issue for the outreachy internship. Any advice or recommendations anyone would like to share?

[2019-03-20 02:09] xenia-foxtrot commented on #7878
I guess I should ask @gasche for assistance, right?

I'm obviously rather new to OCaml, but I have worked with ASTs before. Do you think that this is something that can be done within the current timeframe? Or should I consider another issue?

[2019-03-20 02:28] trefis commented on #7878
I don't know what the timeframe is, but this seems doable in a short period of time.
Basically what you want to do is this:
- create `typing/tast_iterator.ml[i]`, that is related to `typing/tast_mapper.ml[i]` in the same way `parsing/ast_iterator.ml[i]` is related to `parsing/ast_mapper.ml[i]`.
(I suggest you diff `parsing/ast_mapper.mli` with `parsing/ast_iterator.mli` and `typing/tast_mapper.mli

[2019-03-20 08:00] XVilka commented on #7123
FYI: [GCC 9 added](https://developers.redhat.com/blog/2019/03/08/usability-improvements-in-gcc-9/) support for outputting warnings and error messages in JSON format, just use `-fdiagnostics-format=json` option.

It seems getting more popular to produce machine-readable output of compilers, partially because of the rise of static analysis tools. For example in Rust: `cargo rustc --message-format=js

[2019-03-20 08:07] trefis commented on #7911
I agree with @gasche: this is not a bug.

For the use case of type aliases that you describe in Coq, I personally would use inline records: `Foo of { module_ident: Id.t }`.

[2019-03-20 08:07] #7911 closed, assigned to nobody

[2019-03-20 08:16] alainfrisch commented on #7865
Ping @lpw25, since the example in this PR might give an interesting test case for your big overhaul of class type-checking #8516.  Anyway, since the bug appeared in 4.07 and then disappeared without a dedicated fix for it, it would be worth adding an explicit non-regression test.

[2019-03-20 08:33] trefis commented on #7865
Fair point, I'm reopening until this is done.

[2019-03-20 08:39] gasche commented on #7123
I'm not sure what you mean by "rethink the suggestion". Volunteers to work on this are welcome!

We have made some progress on the structure of error messages in 4.07 and 4.08, but I htink it will still take a bit of massaging of the codebase to finish moving from the previous "print stuff" approach to "return data that describes the failure, following a proper API" . I think we need to think a bi

[2019-03-20 08:46] gasche commented on #7911
@trefis out of curiosity, why are you recommending an inline record rather than (just a record with one field) or (just a variant constructor)? Personally I like the fact that (just a variant constructor) gives more flexibility in naming, but maybe that is what you are against?

[2019-03-20 16:41] shindere commented on #7938
PR #8532 proposes a fix for this.

[2019-03-20 16:49] OvermindDL1 commented on #8504
What about perhaps something like:
[code]
It moves it out of the matcher and into the guard, but likely easier to implement as it could decompose into `i when (i >= 1 and i <= 100)` or so?  In addition this follows the pattern of other languages that support high-end pattern matching (which generally only allow pattern matching in the 'head' and using guards for anything not 'free', like a compari

[2019-03-20 17:06] gasche commented on #8504
This encoding is incorrect in general, please see the discussion on the Discourse forum.

[2019-03-21 02:14] trefis commented on #7911
I guess it's just a personal preference for labels, for examples, if we were talking about functions, I assume you'd suggest:
[code]
over
[code]

I agree it's not exactly the same situation, in particular using inline records will allow you to be less robust to changes of the type (because while your constructor might have 5 args, your pattern might look like `Foo { one_arg; _ } -> ...`). Still, .

[2019-03-21 18:18] xavierleroy commented on #8519
I think the need is uncommon enough that it's OK to require an external library.

[2019-03-21 18:18] #8519 closed, assigned to nobody

[2019-03-21 18:25] shindere commented on #7938
Fixed by PR#8532 in both trunk and the 4.08 branch.

[2019-03-21 18:26] #7938 closed, assigned to nobody

[2019-03-21 18:27] xavierleroy commented on #7900
I agree this problem should be properly documented.  Actually I'm surprised it is not mentioned already in section 12.5  Compatibility with the bytecode compiler of the reference manual.

It is really tough to implement proper tail calls when some parameters are stack-allocated.  I tried at least twice in the past and failed both times.

A simpler fix would be to limit uncurrying to N arguments at

[2019-03-21 18:41] xavierleroy commented on #7748
Re-classifying as a feature wish.  @dra27: is #465 stalled completely, or do you plan to resurrect it?

[2019-03-21 21:01] shindere commented on #6049
Xavier Leroy (2019/03/17 09:45 -0700):

Oops, many thanks for your attention.

PR#8536 has just been opened to finish the cleanup.

[2019-03-22 09:46] stedolan commented on #6860
This was fixed by b799715caee3d45a9fd2d11dc1fa6a6d45da3178.

[2019-03-22 09:46] #6860 closed, assigned to nobody

[2019-03-22 13:27] #7931 closed, assigned to nobody

[2019-03-22 14:56] gasche commented on #6199
Note: I want to have relocatable OCaml binaries, so that the opam binary cache can work across switches. (Currently the new [esy](https://github.com/esy/esy/) tool uses the hack of rewriting path inside the executables to provide this feature.).

On the specific problem of the shebang, there are two ways to do it:
1. I would like to experiment with what happens, in an opam world, if you use `#!/us

[2019-03-22 15:17] yakobowski commented on #6199
Irrespective of whether this breaks the compilation of packages or not, you would also be breaking a long-established tradition. I suspect many users rely on bytecode "executables" to be well, executable. And given the variations in compilation times between bytecode and native, I believe that many people debug using the bytecode versions.

[2019-03-22 15:23] damiendoligez commented on #6199
@gasche in the meantime you can exploit the second bug I describe in #8537 and just use `-runtime-variant none`, that will give you a bytecode file without shebang.

[2019-03-22 15:34] nojb commented on #7845
Issue resolved, so closing.

[2019-03-22 15:34] #7845 closed, assigned to dra27

[2019-03-22 15:38] gasche commented on #6199
@yakobowski the build scripts I can test in the opam-repository. People will have to take care of themselves :-)

In any case, I now believe that the advantages of relocatability outweigh the costs (but of course we should try to reduce those as well).

[2019-03-22 16:15] dbuenzli commented on #6199
xref with https://github.com/ocaml/ocaml/issues/5950 the (suspended) relocatable compiler issue.

[2019-03-22 22:07] Lereena commented on #7584
If nobody minds, i will try to work on this issue.

[2019-03-22 22:27] Octachron commented on #7584
Sure, go ahead.

[2019-03-23 13:07] Lereena commented on #7584
I see that in these chapters there is a lot of almost identical information about files of various formats and their processing during compilation. Should I duplicate information about .cmt/cmti in both chapters?

[2019-03-25 06:24] ulugbekna commented on #7099
I'd want to work on this if no one is already.

[2019-03-25 14:40] gasche opened #8544 "tests/tool-debugger/find-artifacts fails due to incorrect environment access"
I could reproduce under both `trunk` and `4.08`.

Under 4.08, the test log in `_ocamltest/tests/tool-debugger/find-artifacts/debuggee/ocamlc.byte/debuggee.byte.output` says:

[code]

which suggests that the problem come from a discrepancy between the test environment and a `/usr/local` OCaml install on my system -- the test environment should be configured so that this local install is never used

[2019-03-25 17:38] dbuenzli commented on #5070
Nowadays the example reports
[code]
and emacs' compile-mode highlights the start from the buffer until the end of the "foo" string. I'd say this can be closed (the error location may not be the best but it is supported by emacs see [here](https://github.com/emacs-mirror/emacs/blob/b7a98993789d18bc675798d49038982d5cf41683/lisp/progmodes/compile.el#L163-L166)).

[2019-03-25 19:06] pmetzger commented on #5070
See also discussion in #8541

(I'm not suggesting this not be closed, just linking the other issue in case someone browses this later.)

[2019-03-25 19:47] nojb commented on #7099
Go for it!

Just for information, someone else had expressed interest (user `kaaira` above), but I don't think there has been any news since.

[2019-03-25 22:36] damiendoligez commented on #5813
No way. The problem is that these allocations are not from the heap (hence not from the free list) so a clever free-list allocator will not help at all.

I'm following @xavierleroy's suggestion. We'll reopen if someone feels this is really important.

[2019-03-25 22:36] #5813 closed

[2019-03-26 10:16] trefis opened #8548 "implementation does not match the interface (inferred signature)"
### foo.ml
[code]

Compiles fine pre 4.08, and is currently broken on 4.08 and trunk with:
[code]

[2019-03-26 23:53] 2BitSalute opened #8549 "ocamlopt lets the compiler/linker silently fail if too many -ccopt or -cclib arguments are passed in"
Here's the StackOverflow post about this: https://stackoverflow.com/questions/55252132/ocamlopt-doesn-t-produce-any-output-only-an-error-code/55367803

The workaround is to pass `-ccopt @<compiler_args.file>` or `-cclib @<linker_args.file>`, but the only clue as to what was happening was `strace ld` or `strace gcc` showing that the tools exited with the message:

[code]

[2019-03-27 03:03] trefis commented on #7852
I wrote a prototype for that based on 4.07 last week (because at the time it's still wasn't easy to test 4.08 / trunk on actual code) which I plan to rebase onto trunk (and submit a PR) next week.

[2019-03-27 03:37] trefis commented on #8548
git bisect seems to indicate that the issue was introduced by #1980.
I'll investigate.

[2019-03-27 07:10] nojb commented on #8549
This seems to be a bug with the system compiler/linker. Not sure what we should do (if anything) on our side.

[2019-03-27 07:54] trefis commented on #8548
So, there is one thing that is obviously wrong but also benign is that `Mtype.freshen` (which is called when typing module types with `with`-constraints) makes all the idents in the signature locally scoped.
Unfortunately, fixing that does not fix the issue (one could have hoped, considering the test case).

`Includemod` also does call `Subst` in various places, which here too makes a bunch of ide

[2019-03-27 08:03] xavierleroy commented on #8549
`ocamlopt` doesn't call `ld` directly, but through the C compiler driver, so we don't have the full story.  Could you post a repro case?  Or a full trace ?  (e.g. `strace -f ocamlopt ...`)

[2019-03-27 08:54] trefis commented on #8548
OK so the difference between the two is that in the second call, `[< finite ] range` will expand to `[< finite ] Range.range` for `vd1`, but won't for `vd2` (the difference is due to their level being different, and the scope being set incorrectly).
Whereas for the first call, neither will expand (but that's because we were checking `S`, and not `Range.S`).

I will proceed with fixing the calls to

[2019-03-27 10:19] dra27 commented on #7748
@xavierleroy - on opam stuff for the next few months, and hoping finally to revisit #465, yes!

[2019-03-27 12:39] gasche commented on #7852
Thanks! I vaguely thought of this again when seeing the `error` type of includemod.ml while reviewing #8546:

[code]

[2019-03-27 18:04] #3819 closed

[2019-03-27 22:10] yallop opened #8550 "Soundness issue with class generalization"
There's a soundness issue with generalization of type variables in class definitions:

[code]

Bisecting shows that this has been around for a while: it was introduced in OCaml `4.00.0` along with GADTs (6c78f42d) for programs checked with `-principal` and more recently spread to programs without `-principal`, too (802945009).  Before these commits the program was rejected:

[code]

[2019-03-27 22:10] yallop commented on #8550
@garrigue, you may like to take a look at this.

[2019-03-27 22:22] 2BitSalute commented on #8549
The repro is a little entangled with our build system and the particular dependency I was including. The resulting command line is something like, `ocamlopt -cc <gcc> ` +  a sequence of thousands of -ccopt arguments or -cclib arguments (depending on whether a .c file was included in the ocaml binary or just a reference to the .o that included it instead).

I see the same error from gcc in the comp

[2019-03-28 04:08] trefis opened #8551 "non-principal disambiguation succeeds in 4.07, fails in 4.08"
FTR: I don't think there is anything we want to do, I'm just recording the change.

## Reproduction

- `a.ml`: `type t = A | B`
- `b.ml`:
[code]

This builds fine with 4.07.
But fails with the error below on 4.08, trunk, or 4.07 when passing `-principal`:
[code]

## Proposed explanation

If you replace the `exception _` branch by a normal one, this was already failing with 4.07. I guess the change

[2019-03-28 04:09] trefis commented on #8551
To clarify: `exception` patterns are now "normal" patterns, and so are typed in order.

[2019-03-28 04:09] #8551 closed, assigned to nobody

[2019-03-28 06:32] garrigue commented on #8550
I see. This code is utterly wrong: variables are only lowered if they are first reached through a contra variant branch! I don't know what I was drinking on that day.

[2019-03-28 08:09] garrigue commented on #8550
Actually the original code was not as absurd as I first thought, but partial generalization was probably a bad idea anyway. See #8552 for a proper solution.

[2019-03-28 08:48] #7878 closed, assigned to nobody

[2019-03-28 14:34] kirillgla opened #8553 "with-syntax"
Hello. I'm about to try implementing with-syntax for OCaml patterns (https://github.com/ocamllabs/compiler-hacking/wiki/Add-a-%22with%22-syntax-for-patterns).

There is a branch dedicated to with patterns in OCaml compiler (https://github.com/ocamllabs/ocaml/tree/with-patterns). I wonder why it hasn't it been implemented? Are there any troubles associated with that?

Also, I was told in OCaml disc

[2019-03-28 14:38] gasche commented on #8553
Probably because it was never submitted upstream in the first place.

This bugtracker is meant for tracking bugs (and polished feature requests). For general discussions on the language and its evolution, please use discussion channels instead -- IRC as you mention or [Discourse](https://discuss.ocaml.org/).

[2019-03-28 14:38] #8553 closed, assigned to nobody

[2019-03-28 14:40] kirillgla commented on #8553
@gasche, I was told in Discord by @Drup to discuss this question on bugtracker

[2019-03-28 14:44] Drup commented on #8553
I did, but what I had in mind was, as @gasche would put it, "a polished feature request" that show the proposed addition and see if there is some support. Not everyone is familiar with ocamllab's feature wish list.

Also, the fork you posted doesn't have any actual patches in it.

[2019-03-29 09:23] xavierleroy commented on #8549
This is not really helping.  If the problem is caused by an excessively-long command line, as you assume, I'd like to see exactly which call to `exec*` runs into this error (`E2BIG` error code), which program performs this `exec*` (ocamlopt when invoking gcc? gcc when invoking ld?), and how the error code is handled or not.  To analyze this, I need either a repro case or a full strace.

[2019-03-29 09:58] xavierleroy commented on #8463
I removed "bignum" from the title, since the old bignum library was split off, and the new ZArith library is external too.

[2019-03-29 12:26] xavierleroy commented on #7686
The test harness was completely rewritten in OCaml 4.07.  As far as I can see, the test involving `csc` no longer uses `which`.

[2019-03-29 12:26] #7686 closed, assigned to nobody

[2019-03-29 13:19] xavierleroy commented on #7930
Addressed by the merge of #1904 .  See also #7931 .

[2019-03-29 13:19] #7930 closed, assigned to nobody

[2019-03-29 14:11] xclerc opened #8556 "Typing of universally quantified record fields"
Given the following interface:
[code]

An implementation going through a record field does
not compile with 4.08 (it compiles with 4.07):
[code]

[code]

A trivial workaround is to go through a "temporary" variable:
[code]

[2019-03-29 14:14] gasche commented on #8556
This sounds very much like the issue that was fixed by @trefis in #2317, merged 4 days ago. Are your tests more recent than that?

[2019-03-29 14:19] xclerc commented on #8556
Indeed, sorry for the noise, I mixed it up with the patch for https://github.com/ocaml/ocaml/issues/8548.

[2019-03-29 14:19] #8556 closed, assigned to nobody

[2019-03-29 14:31] #7887 closed, assigned to nobody

[2019-03-29 14:37] xclerc opened #8558 "Miscompilation in 4.08"
The following code, when compiled with 4.08, raises
`Assert_failure` at run time (it does not with 4.07):

[code]

The initial lambda is:
[code]

which becomes, after `Simplif.simplify_local_functions`:

[code]

then translated by `Simplif.simplify_exits` into:
[code]

and finally by `Simplif.simplify_lets` into:
[code]

The problem, as I understand it, is that `Simplif.simplify_exits` introduces

[2019-03-29 14:40] xclerc commented on #8558
note: it only affects native code because
`simplify_local_functions` is not applied in
bytecode mode.

[2019-03-29 14:48] alainfrisch commented on #8558
(I believe it is used also in bytecode without -g.)

I did not expect static exits arguments were assumed to be pure.  In particular, static exits were already used to compile tuple-bindings, so the bug might have been present in another form before.  I will investigate a bit.

[2019-03-29 14:59] alainfrisch commented on #8558
Compilation of tuple-bindings will only pass variables to static exits.  We should probably do the same for static exits introduced when eliminating local functions.

[2019-03-29 14:59] xclerc commented on #8558
Indeed, one is affected if `!Clflags.native_code || not !Clflags.debug`.

[2019-03-29 15:04] mshinwell commented on #8558
Can we change the type so that only variables are permitted in the relevant term?  (This sort of change is generally good, in any case...)

[2019-03-29 15:08] alainfrisch commented on #8558
As a matter of fact, it seems that all current uses of Lstaticraise pass only Lvar arguments (except for the new function elimination pass).  One could keep just use Alias in that case (and other simple pure expressions), and Strict otherwise.

[2019-03-29 15:11] xavierleroy commented on #8558
I believe a strict let of a variable is optimized like an alias let.  So please keep it simple and always use strict lets.

[2019-03-29 15:20] alainfrisch commented on #8558
Actually, the compilation of pattern matching with exception cases could also use Lstaticraise with non-pure arguments.  But those would cross a try...with and they were never optimized in Simplif.

[2019-03-29 15:22] alainfrisch commented on #8558
Where does this happen?   In Simplif.simplify_lets, there is special logic for Alias.

[2019-03-29 15:25] xavierleroy commented on #8558
https://github.com/ocaml/ocaml/blob/10994d8c80da14e5a9dc5a6d07d59a052781a18f/bytecomp/simplif.ml#L502

[2019-03-29 15:31] alainfrisch commented on #8558
Ah right.  Shouldn't this be generalized to at least constants?

Currently:
[code]
generates:
[code]
while:
[code]
gives
[code]

[2019-03-29 15:35] alainfrisch commented on #8558
Also, the simplification for `Llet(_,_,Lvar,_)` is disabled in bytecode with -g, so I'm concerned about introducing performance regression in that case if we simply change from Alias to Strict in simplify_exits.  Perhaps we don't care, but just using Alias in case of Lvar (and, say, Lconst) would eliminate the risk, I think.

[2019-03-29 15:35] xavierleroy commented on #8558
Let's fix the current bug ASAP.  Then you can have your extra optimization :-)

[2019-03-29 15:37] xavierleroy commented on #8558
Most lambda simplifications are turned off in bytecode debug mode, for a good reason: so that all local variables that are in scope still exist at run-time and can be printed.  Better safe and slow than fast and sorry.

[2019-03-29 15:40] alainfrisch commented on #8558
I agree, but simplify_exits still applies in that mode and would previously introduce Alias binding, which would be eliminated even in that mode.  The simple fix you suggest could thus produce code slower than before.  Slow is ok, but is even slower still ok?

[2019-03-29 15:55] xavierleroy commented on #8558
Unless you have experimental data showing a major speed difference, simpler is best.

This is a serious code generation bug that was introduced in 4.08.  Let us fix it ASAP rather than having rhetorical arguments about optimizations.

[2019-03-29 15:59] alainfrisch commented on #8558
I've opened a PR with the fix.  I argue that the three extra lines that mostly eliminate the risk of performance regression are worth the trouble, but I'll switch to the simpler version if you insist.

[2019-03-30 13:38] hhugo opened #8561 "lib{asm,caml}run_shared.so and lib{asm,caml}run_pic.a not installed with 4.08"
[code]
vs
[code]

[2019-03-30 13:38] hhugo commented on #8561
cc @xclerc

[2019-03-30 16:25] gasche commented on #8561
Are both those installation produced from the default configuration options? If so, then not installing the files anymore is a regression (possibly due to configure-related changes) that should be fixed. But I'm not sure which configuration options were used for your 4.07.1 installation.

[2019-03-30 17:10] hhugo commented on #8561
4.07.1 comes from a standard opam install.

4.08 was installed with a plain `./configure`.
It seems that the install is controlled by `SUPPORTS_{BYTECODE,NATIVE}_SHARED_LIBRARIES`
but only `SUPPORTS_SHARED_LIBRARIES` is defined.

[2019-03-30 17:20] hhugo commented on #8561
https://github.com/janestreet/ocaml/commit/d628cb62580c01a5b16b54d5b532eb35b98a1e32 fixes the issue but might not be the right fix.

[2019-03-30 19:32] dra27 commented on #8561
At a glance, the JS fix looks like it would fail when native code isn’t built.

[2019-03-31 11:19] xclerc commented on #8561
@dra27 Why would it? `NATIVE_STATIC_LIBRARIES` is always
[non-empty](https://github.com/janestreet/ocaml/blob/d628cb62580c01a5b16b54d5b532eb35b98a1e32/runtime/Makefile#L66), and `NATIVE_XYZ_LIBRARIES` seem to be used
only when the `opt` target is invoked.

[2019-03-31 13:24] dra27 commented on #8561
@xclerc - too quick a glance from me, apparently! It is indeed that this controls the building of lists of libraries to build which are then used elsewhere, so the bytecode-only (or nativecode-only) paths would be fine.

As @gasche has already added, this is a small slip in #1852 - that JS commit does indeed fix the issue. We should allow @shindere a chance to respond, it being the weekend, but it

[2019-04-01 07:35] #8558 closed, assigned to nobody

[2019-04-01 08:35] smuenzel-js opened #8563 "[@inline] annotation behaves incorrectly on 4.08 (flambda only)"
The following program, when compiled with flambda on 4.08 (and trunk), does not respect the `[@inline never]` annotation. Cmm is below.
When `raise_stuff` is exported by the signature, the `[@inline never]` annotation works.

This only happens when the `raise_stuff` functions is used exactly once.

[code]
with 4.07:
[code]
with 4.08:
[code]

[2019-04-01 08:38] smuenzel-js commented on #8563
cc @mshinwell

[2019-04-01 10:14] hhugo commented on #8561
with janestreet@d628cb6, the genrated lib/ocaml/libasmrun_pic.a is almost empty

[2019-04-01 10:25] xclerc commented on #8563
@alainfrisch

This is caused by the `Simplif.simplify_local_functions` optimization.
It does not happen with clambda because the lambdas are different:

[code]

vs

[code]

Thus making the function local under flambda, but non-local under
clambda. The following diff fixes the issue:

[code]

However, there is probably a reason why the optimization was
enabled for functions marked `Nerver_inline`.

[2019-04-01 10:33] xclerc commented on #8563
After re-reading https://github.com/ocaml/ocaml/pull/2143, it occurs to me that it might be an intended change.
In which case, the posted code should add another attribute to disable the
optimization; that is:

[code]

[2019-04-01 10:52] alainfrisch commented on #8563
The discussion on #2143 suggested that "local" and "inline" should be considered as independent.  `inline always` implicitly disables the new optimization if not explicitly forced (otherwise it would inhibit actual inlining), but `inline never` doesn't, because the new optimization is not considered to be a form of inlining.  One could use `inline never` to express the intention that the function

[2019-04-01 11:03] xclerc commented on #8561
@hhugo Indeed; the `libasmrunpic_OBJECTS` used [here](https://github.com/ocaml/ocaml/blob/4.08/runtime/Makefile#L326) contains
only `amd64_libasmrunpic.o`, while it should presumably contains
`*pic.o`.

[2019-04-01 11:10] mshinwell commented on #8563
I looked at #2169 to refresh my memory about what functions this transformation applied to, and didn't really find out the answer.  I think it might be beneficial to improve the documentation.

I think the current behaviour is unfortunate given a fair amount of code exists that assumes "inline never" disallows substitution of a function body (whether taking into account contextual information or n

[2019-04-01 11:13] smuenzel-js commented on #8563
I would like to propose that :)

Obviously I was surprised by the behaviour, but that alone shouldn't justify it.

The main use of `[@inline never]` that I've seen in the wild is the optimization that I added in my code snippet: you don't want to include a large chunk of code that constructs an infrequently used exception in the main body of your code. (by large, I mean the usual code section used

[2019-04-01 11:31] alainfrisch commented on #8563
I was initially in favor of reusing the `inline` attribute, because I agreed with defining inlining as "pasting of a function's body at the place of usage", but @lpw25 [argued that](https://github.com/ocaml/ocaml/pull/2143#issuecomment-438214943) the new transformation "is of a fundamentally different nature" (and thus there is no reason `inline never` would disable it).  I'm tempted to let our in

[2019-04-01 11:33] mshinwell commented on #8563
@alainfrisch I was wondering about adding such an attribute.  However I'm not really sure what a sensible migration path would be.

[2019-04-01 12:26] gasche commented on #8563
Some extra points because the discussion was too simple:

- Given the history of automatic-patching tools in the Janestreet codebase, it is probably possible for you to automatically rewrite all `[@inline never]` into `[@inline never][@local never]` if you wish to. (This can remove some optimization opportunities, but is is also safe.)

- It's not completely clear to me what the best design, start

[2019-04-01 12:34] xavierleroy commented on #8563
My gut feeling is that the new Lambda simplification is function inlining: inling of sorts, inlining broadly speaking, but inlining nonetheless.  Likewise, I would expect that `[@inline never]` turns the simplification off.

[2019-04-01 12:43] alainfrisch commented on #8563
So shouldn't we revisit the decision to have a dedicated attribute, instead of supporting `[@inline local]` (or whatever) to force the new optimization?

[2019-04-01 12:53] gasche commented on #8563
So:

- `[@inline always]` performs duplication of the function instead of the non-duplicating localization optimization we are discussing
- `[@inline local]` corresponds to the behavior used by default when the optimization applies (but it is more explicit about the fact that the user cares about the optimization), and is an error when the optimization does not apply (in particular, annoting a loc

[2019-04-01 13:08] alainfrisch commented on #8563
This is close to the original design in #2143 (with the `[@inline static]` terminology).  I think that the only difference is that `[@inline always]` did not disallow the "localization" optimization if it was applicable, but I can see that people might want to force the duplicating (+specialization) behavior instead of the localization.  I'm happy to implement that if there is a consensus, but it

[2019-04-01 13:08] gasche commented on #8553
Hi @kirillgla,

I apologize for being too abrupt in my first message above (it was in reply to the first version of your own message which was also somewhat abrupt). Two points:

- Anything that requires interleaving evaluation of terms with pattern-matching would be quite difficult to implement given the current state of the pattern-matching compiler, which is somewhat crufty and complex. (We are

[2019-04-01 13:37] lpw25 commented on #8563
I'm not sure that conflating `[@local]` with `[@inline]` is the right thing to do here. There are a number of aspects to inlining and only some of them apply here. Inlining is primarily about specialising the body of a function to its arguments at a specific call site, and potentially duplicating the body to do so.

Here we are instead detecting that one of the function's parameters -- its return

[2019-04-01 13:41] gasche commented on #8563
(I had written a message with the exact same suggestion of `[@cold]` as Leo, and I second the suggestion.)

[2019-04-01 13:42] lpw25 commented on #8563
Another relevant issue here: if the code of `raise_stuff` were recursive then it would probably also require `[@specialise never]` in order to maintain the desired property. So we should look at how that annotation relates to the others as well.

[2019-04-01 13:44] xclerc commented on #8561
This is caused by the following typo:
[code]

[2019-04-01 14:35] jaapb opened #8567 "OCaml 4.08beta2 fails to link on NetBSD/arm64"
When compiling OCaml 4.08beta2 on a Pinebook running NetBSD (arm64 architecture), it fails with the following error message:

[code]

I'm using the package available at [https://wip.pkgsrc.org/cgi-bin/gitweb.cgi?p=pkgsrc-wip.git;a=tree;f=ocaml](url) which adds a few local patches, but nothing that I can see would cause this. It does patch configure to recognise NetBSD/aarch64 as an arm64 architect

[2019-04-01 14:37] xclerc commented on #8561
For the record, I just run a full build, with `--warn-undefined-variables`
passed to `make`. Here are the undefined variables (after filtering variables
that are "rightly" undefined - `otherlibs/Makefile.otherlibs.common`
expects some variables to be set in subdirectories as needed).

- `lex/Makefile`:
  - l. 28: "INCLUDES"
- `runtime/Makefile`
  - l. 82: "SUPPORTS_BYTECODE_SHARED_LIBRARIES"
  - l

[2019-04-01 14:42] gasche commented on #8567
This may be related to the recent alignment-fix #8557 , which was merged in trunk but not, I think, in the 4.08 release branch (and wouldn't be in beta2 anyway). Would you mind trying to build the `trunk` on your machine and report if that works?

[2019-04-01 15:42] mshinwell commented on #8567
Is this happening because `caml_backtrace_active` is defined as a 32-bit quantity in `runtime/backtrace.c`, but being loaded using an instruction whose relocation expects a 64-bit-aligned address, in `runtime/arm64.S` (e.g. line 419)?

[2019-04-01 17:31] mylekiller commented on #7925
Is there anyone currently working on this bug? If not I would like to try it as a first contribution to the project. Any help in getting started would be greatly appreciated.

[2019-04-01 21:19] jaapb commented on #8567
I can confirm that trunk, with the same patches and configure options, builds for me.

[2019-04-02 06:40] gasche commented on #7925
User "kaaira" mentioned interest last month, but we haven't heard from them since, so I would assume that no one is working on this bug.

On how to get started: I see two approaches

- We could just extend the size of the lexing buffer beyond what a user would reasonably send to their toplevel. Currently the size is set in `stdlib.ml/lexing.ml` in `from_function`, and is hardcoded to 1024 (bytes).

[2019-04-02 07:47] xavierleroy commented on #8567
@mshinwell is right, the wrong instructions are used to access `caml_backtrace_active`.  The problem should show up as a link-time error when the linker puts `caml_backtrace_active` at an address = 4 mod 8.  It may also result in backtraces being stashed while `caml_backtrace_active` is actually 0.

I have been unable to force the Linux linker to do the 4 mod 8 placement, but apparently the NetBSD

[2019-04-02 08:06] xavierleroy commented on #8567
Proposed fix: #8569

[2019-04-02 09:18] #8567 closed, assigned to nobody

[2019-04-02 12:43] shindere commented on #8561
Hello, sorry for the late response.

Just opened #8573 to fix this.

[2019-04-02 13:30] Fourchaux opened #8574 "Documentation OCaml release 4.08 - Broken links"
Not sure if http://caml.inria.fr/pub/docs/manual-ocaml-4.08/index.html is the official site
but the following links are currently broken:

(500 Internal Server Error)
- Chapter 10: ... see the **Caml Hump** ...

(404 Not Found)
- Chapter 9: **Ast_mapper**
- Chapter 10: **Ast_mapper**
- Chapter 12: **Ast_mapper**
- Chapter 22: **Pparse module** - **Typemod module** - **Simplif module** - **Clflags

[2019-04-02 13:45] trefis opened #8575 "surprising interaction between polymorphic variants and (non-principal) constructor disambiguation"
[code]

Present since at least 4.03, all the way to trunk.
I would expect either both version to be accepted, or neither.

Also, if I pass `-principal` then both version get a type error (while one could have hoped to get warning 18 for the one that is accepted in normal mode).

[2019-04-02 13:49] trefis commented on #8575
Also:
[code]

[2019-04-02 13:55] Octachron commented on #8574
The caml hump page does seem broken. Moreover the corresponding paragraph could mention utop and link to https://opam.ocaml.org/ in place of the Caml Hump.

For the second part of the issue, this is a beta release bug that has been fixed during the first beta, but the manual has not be rebuilt yet.

[2019-04-02 15:34] mylekiller commented on #7925
Thank you so much for your help! I will get started on this.

[2019-04-02 15:38] #8561 closed, assigned to nobody

[2019-04-02 15:48] shindere commented on #8561
Fixed by #8573, closing.

[2019-04-02 16:30] avsm opened #8578 "arm32 native code output broken"
The changes in https://github.com/ocaml/ocaml/pull/2237 to remove a `call` in native code output seem to have broken arm output on armv7l and armv8 in 32-bit mode.  arm64 is working in my testing, but all the 32-bit backends fail tests fairly dramatically with a number of bus errors.

An example of the failure is in the CI for the ocaml/opam container builds on the Raspberry Pi 3:
https://gitlab.c

[2019-04-02 16:32] TheLortex commented on #6859
Bumping this as I encountered the problem on 4.07 with the ESP32 backend (not officially supported but I tested it a lot with Mirage). Building the 32bit cross-compiler using a 64bit host compiler lead in wrong assumptions on integers. Thus I had `max_int` equal to `-1` due to incorrect optimizations.

[2019-04-02 16:35] whitequark commented on #6859
Yeah, you need the `+32bit` opam switch.

[2019-04-02 16:36] xavierleroy commented on #8578
There was a comment on #2237 stating that it was run through CI precheck, which includes one ARM32 target.  But I didn't check any of that myself.

[2019-04-02 16:58] xavierleroy commented on #8578
CI is blue (OK) for trunk on ARM32 as of today.  The test machine is a Raspberry Pi 3 running Raspbian.

[2019-04-02 17:44] avsm commented on #8578
Hm, so I can reproduce this on two separate machines:

- a rPI3 running Raspbian Jessie `Linux raspberrypi 4.9.24-v7+ #993 SMP Wed Apr 26 18:01:23 BST 2017 armv7l GNU/Linux`
- an Ampere arm64 running in 32bit mode via `setarch` into a Raspbian 32-bit userspace: this this is `Linux 1a7a932c1037 4.15.0-46-generic #49-Ubuntu SMP Wed Feb 6 09:36:04 UTC 2019 armv8l GNU/Linux`
- the CI job on gitlab.com

[2019-04-02 23:14] avsm commented on #8578
Reproduced on the rPi3 with trunk rev 2314abc2ae7d31a8465613e5cbadf78acb18a51d

Running ocamlopt.opt built in the tree bus errors immediately early in the ocaml code. Under gdb:

[code]

The kernel registers an unhandled prefetch abort (so we in non-exec memory at this point?).

For reference, the changeset before #2237 (a097dfabfd2356fbd90af5850b1061c5bd0e2e29) has this dissassembly for the same

[2019-04-03 04:16] yallop commented on #8100
It's possible to work around this limitation, at least in simple cases, by using a recursive module binding to bring the type name into scope:

[code]

[2019-04-03 07:33] xavierleroy commented on #8578
I was able to reproduce myself: `ocamlopt.opt` crashes immediately, and none of the tests from the testsuite can be built.  Then CI sees
[code]
and declares... drumroll... SUCCESS !

[2019-04-03 08:40] mshinwell commented on #8578
I will look at this.

[2019-04-03 09:19] TheLortex commented on #6859
Yes that's what I currently use, so this is definitely not a blocker. It's more of a feature request to reduce the time taken to build a 32bit cross-compiler from a 64bit switch.

[2019-04-03 09:45] xavierleroy commented on #8578
I suspect this is a Thumb2 vs classic ARM issue.  In Thumb2 the low bit of the PC must be 1, and it may be that the addresses of exception handlers that are pushed in the stack have low bit 0.

[2019-04-03 09:50] mshinwell commented on #8578
Yeah, I was suspecting some kind of interworking problem.  (Well, or at least, Thumb vs ARM even if we're not switching modes.)

[2019-04-03 10:00] mshinwell commented on #8578
@xavierleroy I haven't got a suitable machine to test on until @avsm appears.  Could you try changing the "4" on line 358 of `arm/emit.mlp` to "3"?  That may not be entirely correct as we might need an ARMv6 condition as well to check this is Thumb-2 (maybe?) -- but perhaps it will demonstrate if this is the problem.  (I'm relying on the fact that since instructions are aligned to a power of 2 num

[2019-04-03 10:02] xavierleroy commented on #8578
I see what you're trying to do, and I think it makes sense.  Will try shortly.  In the meantime you should really get a Raspberry Pi, I though that was standard equipment for all Cambridge residents :-)

[2019-04-03 10:20] avsm commented on #8578
I've given @mshinwell his statutory pi now :-)

[2019-04-03 10:23] xavierleroy commented on #8578
My rPi is still working on the test suite, but results look mostly good so far.

[2019-04-03 10:57] avsm commented on #8578
I'll try the change on the Ampere armv8 32-bit chroot later this afternoon, but I expect that'll be the same result if this was a Thumb _vs_ classic issue

[2019-04-03 10:59] xavierleroy commented on #8578
ocamlopt.opt works, and most of the test suite passes, but there are  Bus error related to dynlink
(tests/lib-dynlink-native, tests/lib-dynlink-initializers, tests/lib-dynlink-pr4229, tests/lib-dynlink-pr4839, tests/lib-dynlink-pr6950).

[2019-04-03 11:12] mshinwell commented on #8578
Thanks for the update.  Let me take this over and I will investigate.

[2019-04-03 11:22] nilsbecker commented on #7757
this will be resolved when GPR #1726 lands.

[2019-04-03 12:15] mshinwell commented on #8578
@xavierleroy On the `armv7l-unknown-linux-gnueabihf` box I'm using, with the change of offset from `4` to `3`, the dynlink tests pass.  Did you fully clean your tree after changing the constant before rebuilding?  I have a feeling that changing the emitters does not cause recompilation of `otherlibs/` due to some dependency problem.

[2019-04-03 13:15] xavierleroy commented on #8578
I'll rebuild from scratch and re-test.

[2019-04-03 14:01] yallop commented on #8100
Here's a slightly less unpleasant approach using destructive substitution rather than recursive modules:

[code]

[2019-04-03 14:22] xavierleroy commented on #8578
The tests are OK, including the dynlink tests.  Probably a leftover, badly-compiled Dynlink library.

[2019-04-03 14:23] mshinwell commented on #8578
Lovely.  Am I right in thinking that we only emit Thumb-2 and never Thumb-1?  If so we may have covered the semantics now (i.e. we need the bottom bit of the PC set for Thumb-2, and never for ARM mode).

[2019-04-03 16:11] xavierleroy commented on #8578
Well, Thumb-2 is a superset of Thumb-1...  But OCaml generates either classic ARM or full Thumb-2 code, and would not work with a Thumb-1-only architecture.  (I think those disappeared a long time ago.)  So, yes, we only need to respect the ARM/Thumb-2 interworking rule, with bit 0 of code pointers indicating the desired mode.

[2019-04-03 16:22] mshinwell commented on #8578
Please see #8582

[2019-04-03 16:27] #8578 closed, assigned to mshinwell

[2019-04-03 16:27] xavierleroy commented on #8578
Merged!  Thank you for the quick fix.

[2019-04-04 01:33] dsmith47 commented on #7549
Hi! As a newcomer to the Compiler Hook API, I'd be interested in working on manual entries for Simplif.Hooks and the Typemod hooks if they're still needed. Is this issue still fair game?

[2019-04-04 09:54] dra27 commented on #8578
There was one thing still to follow-up with this - namely that ARM32 CI was passing (see https://github.com/ocaml/ocaml/issues/8578#issuecomment-479374246 above!).

#8571 is not sufficient to change this, but #8580 does fix this - see [this precheck test](https://ci.inria.fr/ocaml/job/precheck/236/flambda=false,label=ocaml-arm-32/console) which doesn't have #8582 but does have #8580:

[code]

[2019-04-04 10:26] Octachron commented on #7549
Unfortunately, I fear that this issue is not relevant anymore: the plugin mechanism and these two hooks were recently removed from the compiler due to a high maintenance cost over user ratio.

[2019-04-04 10:26] #7549 closed, assigned to nobody

[2019-04-04 10:38] yallop commented on #5193
See also: #3784.

[2019-04-04 13:06] avsm commented on #8578
Also just confirming that all the 32-bit opam/platform CI machines have now succeeded, and are happily pushing multiarch Docker images of 4.09 compilers to https://hub.docker.com/r/ocaml/opam2 again.

[2019-04-04 17:11] dsmith47 opened #8589 "Bug Tracker Redirect Chain Broken"
First, sorry for any formatting errors, I couldn't find styling guidelines  but I'd be happy to update for compliance.

Basically, clicking this link(copied exactly) from the README lands on a 404 error.

[http://caml.inria.fr/bin/caml-bugs](http://caml.inria.fr/bin/caml-bugs)

It looks like it was set up to redirect to the Mantis bug tracker, which in turn now redirects to the GitHub issue tracke

[2019-04-04 18:11] AndrewLitteken commented on #7886
Is this still an available bug? I would be interested in working on this as an initial contribution.

[2019-04-04 18:41] xavierleroy commented on #8589
Thank you for reporting this issue.  The missing redirection was added, it should work now.

[2019-04-04 18:41] #8589 closed, assigned to nobody

[2019-04-05 05:02] dsmith47 commented on #6102
Was interested in trying to add support for -stop-after lambda to build an understanding for the compiler phases. Is this still a relevant feature?

[2019-04-05 05:13] gasche commented on #6102
I think this would be fine (you probably want to look at `driver/compile_common` and `driver/{compile,optcompile}`.

[2019-04-05 09:23] yallop commented on #5736
This has been implemented in #2110, and the first version of the `type_of_gadt` function is now accepted as written, so I'm closing this.

[2019-04-05 09:23] #5736 closed

[2019-04-05 09:38] yallop commented on #5749
This is fixed, possibly by #6333, and the example is now accepted as written.

[2019-04-05 09:38] #5749 closed

[2019-04-05 09:41] yallop commented on #5889
This is fixed, possibly by #5927, and the code is now accepted as written.

[2019-04-05 09:41] #5889 closed

[2019-04-05 09:45] yallop commented on #5818
Both `HigherOrderFunctor` and `HigherOrderFunctor2` are rejected as of 4.08 (as a result of #1626, I think):

[code]

[2019-04-05 09:50] yallop commented on #6011
The code is now accepted (as of 4.08.0+beta2).

[2019-04-05 09:50] #6011 closed

[2019-04-05 09:59] trefis commented on #5736
This hasn't quite been implemented: after #2110 you don't have the information that `t = float` outside the or-pattern.
We still hope to be able to do that in the future, but more work is required.

But I agree that the example given here is now accepted by the compiler indeed.

[2019-04-05 10:03] yallop commented on #6500
The standard library has `String.init` and `Bytes.init`, since 4.02.

[2019-04-05 10:08] yallop commented on #5736
I see --- so the following example is not yet allowed:

[code]

@trefis: feel free to reopen if you think this is the best place to track that work.

[2019-04-05 14:48] alainfrisch commented on #8563
`[@cold]` looks like a good idea, but probably not for 4.08.

In the short term, I can see three directions:

- `[@inline never]` implicitly forces `[@local never]`

- We go back to the initial idea of using the `@inline` attribute to control the new optimization (with a new "local" payload).

- Do nothing for now (and let users that really need the "cold" semantics add `[@local never]` where need

[2019-04-06 04:11] AndrewLitteken commented on #7886
I believe that this bug is corrected in the current version of the repository. I cannot reproduce it

[2019-04-06 06:06] lpw25 commented on #8563
The first and third of those options are probably fine with me, but I would appreciate if someone could answer my question:

before making a decision (I'll be back from vacation next week and can check myself then if people are happy to wait).

A simple version of `[@cold]` to mean `[@inline never][@specialize never][@local never]` can be done as a ppx, and I think that would be fine for the uses

[2019-04-06 08:39] Armael commented on #7886
Indeed, looking through the Changes files, it looks like this was fixed in #1977. Thank you for pointing that out!

[2019-04-06 08:39] #7886 closed, assigned to nobody

[2019-04-06 17:06] AndrewLitteken commented on #7858
Is this bug being handled by anyone? I would like to work on it if not.

[2019-04-06 19:15] gasche commented on #7858
@AndrewLitteken: unfortunately, we don't have a good story for syntax error messages right now, and we are planning to change how they are done in a couple OCaml versions. I would encourage you to focus on some other task, because this one is likely to (1) turn out to be more difficult than it looks and (2) have the solution space change quite a bit in 6-12 months.

[2019-04-08 06:01] yallop commented on #6654
This issue has turned into a bug in `trunk`.  The final line now fails with an internal `Invalid_argument` exception:

[code]

[2019-04-08 06:03] yallop commented on #6620
This is fixed in `trunk` (perhaps by the switch to Menhir?):

[code]

[2019-04-08 06:03] #6620 closed

[2019-04-08 06:04] yallop commented on #6603
Fixed by #1253.

[2019-04-08 06:04] #6603 closed

[2019-04-08 06:16] yallop commented on #6744
@lpw25, @garrigue: can this be closed?  The examples above all seem to behave correctly now -- i.e. they are accepted or trigger a clear diagnostic "`The universal variable 'x would escape its scope`" as appropriate.

[2019-04-08 06:25] yallop commented on #8036
Closing as a duplicate of #6942.  (Actually, this report is much older, but #6942 has more discussion, so I'm closing this one.)

[2019-04-08 06:25] #8036 closed

[2019-04-08 06:28] yallop commented on #6966
This is a duplicate of #4347.

[2019-04-08 07:46] gasche commented on #6654
This suggests that maybe we should be more proactive in adding examples for known issues in the testsuite, so that we notice when the behavior changes (in good or bad ways).

[2019-04-08 07:47] #7829 closed, assigned to damiendoligez

[2019-04-08 08:59] trefis commented on #6966
What's more, it's been fixed by #477.

[2019-04-08 08:59] #6966 closed, assigned to nobody

[2019-04-08 09:02] trefis commented on #6966
That is, the compiler side of things has been fixed: the docstring is now attached as an attributed in the AST.
Additionally, I doubt that any work will happen on ocamldoc related to that issue (but it should happen on [odoc](https://github.com/ocaml/odoc).

[2019-04-09 06:03] #8550 closed, assigned to garrigue

[2019-04-10 07:59] yallop commented on #7340
I think Goswin's concern may be that the call to `CAMLlocal1` needs to be preceded by a call to `CAMLparam0`, and the documentation for `CAMLparam0` says:

[code]

so it appears that the body of `inner` can't be inlined into `outer`, since that would place `CAMLparam0` after the call to `caml_leave_blocking_section` (i.e. not at the beginning of the function).

I think `CAMLparam0` can probably be

[2019-04-11 06:29] mylekiller commented on #7925
While working on this issue, I came across something that I need to be clarified. Line 355 of `parsing/location.ml` reads `if !lines >= Terminfo.num_lines stdout - 2 then raise Exit;`. This is in the highlighting code and it seems to me that what this is doing is that regardless of how big the buffer storing the phrase is, the code will bail out if the phrase exceeds a certain number of lines. Is

[2019-04-11 06:55] Armael commented on #7925
Ah, indeed. I think my original bug report is missing some information, and I'm sorry about that.

The interactive toplevel has two different ways of "highlighting" an error. In the "fancy" mode, it uses ANSI codes to go up in the terminal and underline the part of the input phrase corresponding to the location. This is the mode used by default (provided your terminal supports this but it is gener

[2019-04-11 06:59] mylekiller commented on #7925
Ahhh thank you so much for the clarification that helps out a lot!

[2019-04-11 07:33] yallop commented on #7574
Note: since #1219 (which is in 4.06.0), `-keep-locs` is the default.

[2019-04-11 08:04] yallop commented on #7644
Note: @craff's PR implementing the update function is here: https://github.com/ocaml/ocaml/pull/1389

[2019-04-11 14:23] lleming opened #8609 "Install documention is incorrect"
The page is http://www.ocaml.org/docs/install.html.
command eval **`opam env`** not gonna work.
result:
    **opam: unknow command env**

most probably means
**opan config env**

[2019-04-11 14:32] yallop commented on #8609
Are you using Oᴘᴀᴍ 1.⋆?  The command `opam env` works with Oᴘᴀᴍ 2.

[2019-04-11 14:33] gasche commented on #8609
Hi @lleming,

Thanks for the report. This is not about the OCaml compiler distribution itself (the present repository), but an issue for the [ocaml/ocaml.org](https://github.com/ocaml/ocaml.org) project. (I'll be closing this one.)

I don't think that this is actually an issue: `opam env` is the correct command for opam 2.0 and later, and the page is explicit about the fact that it uses opam 2 ("E

[2019-04-11 14:33] #8609 closed, assigned to nobody

[2019-04-11 16:04] xclerc opened #8610 "Toplevel outputs "type/n" unnecessarily"
The following sequence in the toplevel:

[code]

seems a bit unexpected, as the "/2" is unnecessary.

(I have no idea whether it is a correct fix, but I noticed
that adding `printing_env := Env.empty;` to the
`Printtyp.Naming_context.reset` function seemingly
fixes the problem.)

[2019-04-11 16:08] xclerc commented on #8610
cc @Octachron

[2019-04-11 16:13] Octachron commented on #8610
This can be easily disabled, but this is a conscious choice due to the fact that the type constructor `list` in the type of `f` is not the one currently in scope.
For instance, without this differentiation copying the type displayed by the toplevel and adding it as a constraint to f,
[code]
yields an error.

[2019-04-11 16:19] xclerc commented on #8610
OK, thanks for the explanation.

[2019-04-11 16:39] trefis commented on #8610
I think there something @xclerc omitted from his original message, so let me expand on his example:
[code]

Seems like some state doesn't get updated in "toplevel expression" branch.

[2019-04-12 09:42] lleming commented on #8609
That is true. The default in the Ubuntu repository was opam 1.0.x  After upgrade to 2.x, the issue is gone.

[2019-04-12 09:58] gasche commented on #8609
Great! Thanks for the report and happy hacking.

[2019-04-12 11:33] Octachron commented on #8610
Indeed, there is a problem with the end state of `Printtyp.print_items` if the last item is a type. This problematic end state is however overwritten by subsequent calls to `Printtyp.print_items` and is thus only observable with toplevel expressions that call directly `Printtyp.tree_of_type_scheme`.

[2019-04-12 14:15] stedolan commented on #7340
If compiling with a C90 compiler, the `CAMLparam0` must be at the start of a block but that need not be at the start of a function. So the following works:

[code]

[2019-04-13 13:23] Chris00 commented on #5070
FYI, the next release of Tuareg will support the errors (and Warning detection) of OCaml 4.08.  Thanks to @Khady for his help on this.

[2019-04-14 13:38] #7156 closed, assigned to nobody

[2019-04-15 07:41] yallop commented on #7729
@nojb: can this be closed now that #2075 is merged?

[2019-04-15 07:41] nojb commented on #7729
Yes! Thanks for the reminder.

[2019-04-15 07:41] #7729 closed, assigned to nojb

[2019-04-15 07:48] yallop commented on #7723
@lpw25: can this be closed now that #1698 is merged?

[2019-04-15 07:53] yallop commented on #7751
This appears to be fixed in 4.07.1:

[code]

[2019-04-15 07:53] #7751 closed, assigned to garrigue

[2019-04-15 09:18] elfring commented on #5937
I am still curious how affected software components will be improved also for this issue.

[2019-04-15 09:35] lpw25 commented on #7723
Yeah, I think this is fine now.

[2019-04-15 09:35] #7723 closed, assigned to lpw25

[2019-04-15 10:17] elfring commented on #6778
I am still curious how affected software components will be improved also for this issue.

[2019-04-15 10:23] elfring commented on #7566
I am still curious how affected software components will be improved also for this issue.

[2019-04-15 10:25] elfring commented on #7568
I am still curious how affected software components will be improved also for this issue.

[2019-04-15 10:27] elfring commented on #7558
I am still curious how affected software components will be improved also for this issue.

[2019-04-15 10:34] elfring commented on #7559
I am still curious how affected software components can be improved also for this issue.

[2019-04-15 10:36] elfring commented on #7560
I am still curious how affected software components can be improved also for this issue.

[2019-04-15 10:52] elfring commented on #7573
I am still curious how affected software components can be improved also for this issue.

[2019-04-15 10:56] elfring commented on #7576
Will other contributors dare to continue the clarification of affected software components?

[2019-04-15 11:02] elfring commented on #7577
Can the clarification of affected software components be continued also for this issue?

[2019-04-15 11:10] elfring commented on #7593
Will other users care for the affected software components any more?

[2019-04-15 11:26] dra27 commented on #7577
This issue doesn’t need continuing - it was closed with a specific remedy which as far as I’m aware hasn’t been followed.

[2019-04-15 11:29] dra27 commented on #7576
They appear to have continued to since 2017, yes.

[2019-04-15 11:52] gasche commented on #5937
As far as I know, no one is actively working on this, but then enabling support is usually not much work so pull requests are welcome.

Note: since the comment by Damien above, `ocaml` (previously in the list of missing tools) got support for `--args{,0}`, so I guess the only important user-visible tools left (without support) are:

- ocamldoc
- ocamllex
- ocamlyacc
- ocamlmklib
- ocamlmktop

[2019-04-15 17:36] Octachron commented on #8610
Fixed by #8613 .

[2019-04-15 17:36] #8610 closed, assigned to nobody

[2019-04-16 12:10] #8548 closed, assigned to nobody

[2019-04-17 08:34] trefis commented on #8563
Confirmed. Since this issue seems to have stalled, we (jane street) are in the process of writing that ppx.

[2019-04-17 09:24] alainfrisch commented on #8563
In the example given here, inlining is done at the Lambda level (`Simplif.simlify_exits` -- "(* Inline handler if there is a single occurrence and it is not  nested within an inner try..with *)).

[2019-04-17 09:32] alainfrisch commented on #8563
Considering the latest notes, I've dropped the consider-for-release label and the 4.08 milestone.   I'm keeping the issue open for now, as a reminder about the idea of the `cold` annotation.

[2019-04-17 10:55] lpw25 commented on #8563
That suggests another thing we could do here: adding an `inline_attribute` to `Lstaticcatch` and having `Simplif.simplify_exits` respect it. Then the local transformation would simply copy the inline_attribute from the function to the `Lstaticcatch`.

[2019-04-18 03:23] bobzhang opened #8623 "Warning number 8 affect generated code"
See this https://github.com/BuckleScript/bucklescript/issues/3209 for more details.
In general people would expect warning numbers only emit warnings without other side effect, what do you think about this issue?

[2019-04-18 03:52] yawaramin commented on #7860
This seems to be a duplicate of #7574

[2019-04-18 04:01] yawaramin commented on #7574
I don't know if there has been any discussion on possible improvements to this message–but I do want to point out how I found it confusing and unintuitive. The message looks something like this:

[code]

The mlast and cmi files are listed in one order, the implementation and interface types are in the same order, but the interface and implementation file names are in the opposite order. It's diffi

[2019-04-18 06:01] dra27 commented on #8623
Could the issue be made a little more self-contained, please? The original Bucklescript issue could at least display the relevant diff and it’d be nice if the OCaml which generates that output didn’t have to be found from a larger test not included in the issue itself...

[2019-04-18 06:20] bobzhang commented on #8623
below is a self contained example, `+8` will have an effect on generated lambda code
[code]

[2019-04-18 06:43] trefis commented on #8623
Can you confirm which version of ocaml you are trying with? And whether you can still observe this behavior on trunk?

[2019-04-18 07:19] yallop commented on #7860
Indeed -- thanks, @yawaramin.

[2019-04-18 07:19] #7860 closed, assigned to nobody

[2019-04-18 09:15] garrigue commented on #8623
My understanding is that indeed the generated code for some non-trivial exhaustive pattern-matches could be different according to the setting of warning 8 until version 4.05. Since 4.06, this is no longer supposed to happen (i.e. the only occurrences of `Warnings.Partial_match` are in the reporting code, see `Parmatch.do_check_partial` for the only place it is used). So knowing the version matter

[2019-04-18 09:19] garrigue commented on #8623
See commit d91ea93596 of August 2017, by @trefis

[2019-04-18 09:25] ghost opened #8625 "ocamldep: add a robust mode"
`ocamldep` has a tendency to silently do nothing in case of errors. For instance:

[code]

I'm guessing that this behaviour was designed for use in makefiles. However, it tends to delay errors and make debugging build errors harder. I propose to add a `-robust` option to `ocamldep` so that it fails with an exit code of 1 when the input file doesn't exist or cannot be read or parsed.

/cc @sliquist

[2019-04-18 12:09] ghost commented on #7583
I have another compelling use case for empty records; they provide a great way to design a fully stable and extensible AST. More precisely, let's assume that we have an AST where:

- all types are variant types
- all constructors are inline records
- values are always represented in *the oldest possible way*. More precisely, a file parses to the a value with the same structure no matter the versio

[2019-04-18 13:43] johnwhitington commented on #8504
The reasons for not allowing `when` except on the outermost pattern, so far as I remember from reading previous discussions, are that it complicates further the question of when and how many times `when` guards are executed, and that it would be a problem matching on mutable patterns, if the guard could mutate the pattern.

But, could we not solve the problem of integer (and character) ranges, by

[2019-04-18 13:44] alainfrisch commented on #7583
Not that I want to really re-open the discussion, but you could as well define initially-constant constructors as `X of unit` and use patterns like `X _`.  If you fear that people write `X ()`, you should use an abstract type instead of `unit`.

[2019-04-18 13:53] ghost commented on #7583
I suppose that would work as well!

[2019-04-18 13:53] ghost commented on #7583
Thanks for the suggestion

[2019-04-18 14:49] gasche commented on #8504
Deep `when` is hard to implement for more reasons than that (by the way, your second reason also applies to `when` guards at the toplevel only). Suddenly having expressions in the middle of patterns would be difficult/painful for the current compilation scheme to handle, and that explains why this encoding isn't feasible today.

[2019-04-18 15:13] xavierleroy commented on #8625
There is the idiom `ocamldep *.ml *.mli` where, if there are no `.mli` files for example, the shell passes `*.mli` to `ocamldep` and it is somewhat helpful that this argument is ignored.

I agree that in general it's bad to ignore nonexistent files listed on the command-line.

If you want to add an option, go for it.  (But I'd rather call it `-strict` than `-robust`; ignoring `*.mli` is an example

[2019-04-18 15:52] ghost commented on #8625
I see, thanks for the info :) Calling the option `-strict` seems good to me.

That makes sense. Though for my main use case (`dune` and `jenga`) the strict mode will still be useful as we are calling `ocamldep` directly via `execve` rather than go through a shell. I guess ml files with `*` in the name are not very common, but it's still easier to reason about all this when the various components d

[2019-04-18 15:55] xavierleroy commented on #8625
OK, I guess we can have both: the `-strict` option and a more clever handling of nonexistent file names.  Go for the option, and I'll try to think of something sensible to do with the nonexistent file names.

[2019-04-19 02:21] garrigue commented on #7851
We are not yet sure all instances of this problem are fixed, but the specific example (and @lpw25 's version) are fixed by #8570, commits 4fe08b2 in trunk and 8cb7888 in 4.08.

[2019-04-19 18:47] dra27 opened #8629 "Update non-C99 version of caml_round for 80bit FP"
Context: #8627 and in particular https://github.com/ocaml/ocaml/pull/8627#issuecomment-484959002

New optimisations in GCC 7.4 mingw mean that with `-O`, `caml_round` is producing the "wrong" answers. It's been fixed in the original PR by enabling SSE2 for the specific platform, but a keen soul may wish to update the integer implementation in `caml_round` to be able to cope with the excess precisi

[2019-04-19 22:18] dbuenzli commented on #7678
I was hoping maybe the switch to `autoconf` would have resolved that but it doesn't seem to be the case in 4.08+beta3.

Is there anything I can do so that we resolve this discrepancy for the next release (4.09) ?

I'm not sure exactly which bit should be poked but `configure`ing with `--with-pic` which triggers [this logic](https://github.com/ocaml/ocaml/blob/f89a9dab5fc0b67c94223a9b6b05ae3288f119

[2019-04-20 12:04] dra27 commented on #7678
In general, the autoconf work aimed to produce identical output files to the build system, so it's worth pinging issues as a reminder - in some ways, fixing this would have been regarded as a regression!

[2019-04-21 09:32] xavierleroy commented on #8629
Here is an implementation based on `modf` that is particularly legible (no need to look at the bit-level representation) and I believe immune to excess precision:
[code]
I believe the two FP operations `intg + 1.0` and `intg - 1.0` are always exact (in double precision), because otherwise the fractional part `frac` would be 0.0.  Hence excess precision will not hurt.

This assumes that the math li

[2019-04-22 01:11] bobzhang commented on #8623
@garrigue that's good news. The version I found is 4.02.3, we already supported 4.06.1, thanks for the info.

[2019-04-22 01:11] #8623 closed, assigned to nobody

[2019-04-22 10:54] ShalokShalom opened #8633 "Reason messages"
Hi there :)

Do you consider improving your error messages?

Since 2 years ago, there was already a contribution which is obviously still not applied.

Is there a specific reason?

[2019-04-22 12:38] gasche commented on #8633
Hi @ShalokShalom,

I'm not sure what you mean here, and what the issue is about.

1. Yes, we consider improving our error messages, and in fact we improve them regularly.
2. Are you talking about OCaml error messages or Reason error messages? For the latter, this is not the right repository to ask the question (but then again, you should probably give more details if you ask the question someplace

[2019-04-22 21:34] ShalokShalom commented on #8633
https://reasonml.github.io/blog/2017/08/25/way-nicer-error-messages.html

[2019-04-23 08:37] gasche commented on #8633
Here is what I reverse-engineered from your messages (please make an effort to be more clear next time; handling issues is time-consuming): you are wondering if the work done to improve the Reason error messages will be integrated back into the OCaml compiler.

Here would be my answer: as of today, we received no contribution from the Reason people to backport this work upstream into the OCaml com

[2019-04-23 08:37] #8633 closed, assigned to nobody

[2019-04-23 09:46] ghost opened #8635 "ocamldep -allow-approx turns errors into successes"
When using `-allow-approx`, ocamldep might turns errors into successes as soon as a file doesn't parse. For instance:

[code]

[2019-04-23 11:21] #8635 closed, assigned to nobody

[2019-04-23 11:45] ghost commented on #8625
Seems good. I had a look this morning. If I implement the option in a naive way, I end up with this output which doesn't look good:

[code]

Ideally, I would prefer to not display the last two lines. It's easy enough to do, but in the end the code feels more complicated than it should.

It seems that in case of error, ocamldep systematically displays all the errors and the partial results. Do you

[2019-04-23 13:06] ShalokShalom commented on #8633
Sorry, I thought its obvious. 2 years ago, someone told me that it is already possible to use with Bucklescript.

OCaml gets a lot of new drive in the last couple of years, so does functional programming in general.

Open source projects are known the be carried by less people and most of the time, they do this as a hobby.

Honestly, this seems to suggest that inviting new possible contributors is

[2019-04-23 13:56] gasche commented on #8633
To be clear, the OCaml error messages *are* improving quite a bit these days (4.08 will be better than 4.07 which was better than 4.06 etc.), it's just that this work was done independently from the fine work on the Reason frontend.

(The Reason frontend is using technologies that were first developed in Merlin for OCaml, so in that sense it serves as a nice experiment for their integration in a c

[2019-04-23 18:28] johnwhitington commented on #8504
Thanks for the explanation @gasche. Allow me to have one more go at this before I admit defeat :-) This one needs only top-level guards.

In the discuss.ocaml.org thread, @gasche says:

Assume, for generality, that there is also a guard which the programmer has added:

Can this not be desugared into:

The short-circuiting nature of the && operator means the original part of the guard will not be e

[2019-04-23 19:50] #8574 closed, assigned to nobody

[2019-04-23 19:54] gasche commented on #8504
`(Some (x, true) | Some (y, false))` is not a valid pattern, as both sides of an or-pattern must bind the same variables.

[2019-04-24 03:08] ShalokShalom commented on #8633
Nice to see. :D

I may be ignorant about some implications:

While the messages itself are surely difficult to pull off, the formating, coloring etc is supposedly simple?

I love the OCaml integration in vscode, which is also based on Merlin. (reasonml-vscode)

Thanks for the nice work :)

[2019-04-24 17:59] ejgallego commented on #5658
Hi all, I stumbled upon this issue and it seems to me that it should be closed, right?

[2019-04-24 18:08] ejgallego opened #8642 "[meta] Improving the buildability of the ecosystem with `trunk`"
Dear all,

I am opening this issue here as I couldn't locate a similar one and it seems to me it is most relevant to the compiler itself. I'm sure people is already working on this as I write, so of course feel free to close/redirect.

As we all know, as of today testing against the `trunk` branch is a difficult proposition, due mainly to the dependency on the compiler AST; this is a inconvenient

[2019-04-24 18:13] bandersongit opened #8643 "feature wish: some reasonable way to disable taill-call optimization to get better backtraces"
(Edit: this issue was originally written as a bug report, see the discussion below.)

Details can be found in depth in the README/code of [this repo](https://github.com/bandersongit/ocaml-stacktrace-issue) I created to reproduce the issue.

Essentially if I have the following code (pardon the syntax/formatting, I wrote this example in Reason and then outputted it as ocaml. this is all in the examp

[2019-04-24 18:38] nojb commented on #8642
Indeed, you have hit the nail on the head @ejgallego!

There is an ongoing project very much along the lines you suggest already in the works (spearheaded by @diml), see https://github.com/ocaml-ppx/ppxlib/wiki/roadmap-v1.

Because this is being tracked in the `ppxlib` repository, I will am closing this to focus discussion in the least number of places.

[2019-04-24 18:39] #8642 closed, assigned to nobody

[2019-04-24 18:49] ejgallego commented on #8642
Ahh, I checked `ppxlib` issues but not the wiki; thanks @nojb

[2019-04-24 19:38] gasche commented on #8643
This is a natural consequence of the tail-call optimization: tail calls do not grow the call stack. `callback ()` is a tail call in `(); callback ()` and it is not in `callback (); ()`, so the two usage contexts result in different stack traces.

It is not unreasonable to expect better from stack traces (there is old research by John Clements on how to present more complete call stacks to the user

[2019-04-24 20:12] jberdine commented on #8643
As someone who has to sprinkle `|> (fun x -> x)` through code in order to manually disable TCO, I have a lot of sympathy for the original report. While not a bug in the sense of a divergence between the implementation and accepted specification, this is a reasonable feature request. Is there a way to tag it is as such in the post-Mantis world?

Also, are there any pointers about how feasible it mi

[2019-04-24 20:35] bandersongit commented on #8643
Something like what @jberdine described would awesome. This came up for me as I was debugging the stack trace output by the [Rely](https://github.com/facebookexperimental/reason-native/tree/master/src/rely) test runner.

"Accurate" stack traces make debugging broken tests a lot easier for users and allow for us to display accurate file context so users can quickly jump to the relevant lines of cod

[2019-04-25 03:46] gasche commented on #8643
I reopened this issue and tagged it as a feature request, "long-term" because it has been known for a long time and nobody has worked on it much yet.

A more general but related problem is the fact that system call stacks are generally useless when debugging continuation/monad-heavy programs such as Lwt, where a user-definable or at least library-definable notion of stack would be more useful. Thi

[2019-04-25 12:06] ppedrot commented on #6792
This is still critical for the Coq folks, if not more pressing, so I'm coming back to the front.

Now that we have a bunch of motivated, hired young people like @gasche, @jhjourdan and myself, can't we build up a special force task on this issue? We can have a remote conference or something.

[2019-04-25 12:26] jhjourdan commented on #6792
Alright. I promised that I wold do something about this issue, and I should now have a bit of time. Let's see whether I can do something.

[2019-04-26 00:35] wiml opened #8645 "ocamldoc generates invalid html for object types in parameter lists, type parameters"
ocamldoc does not HTML-escape the left angle bracket (`<` → `&lt;`) when emitting documentation for object types in some circumstances, resulting in invalid HTML.

For example both of these declarations exhibit the problem:

[code]
The problem doesn't seem to happen when generating html docs in a single shot, but these commands will demonstrate the problem if the above declarations are in `foo.mli

[2019-04-26 09:34] Octachron commented on #8645
I don't see any difference between the html files generated directly with
[code]
and the one generated indirectly.

As far as I can see, the html backend only escapes `<` and `>` in the specialized path for the toplevel of a type declaration and not for generic type expressions.

[2019-04-26 12:55] rwmjones opened #8647 "On armv7hl, OCaml 4.08.0 beta 3 FTBFS with "warning: implicit declaration of function 'Saved_return_address'""
[code]

The full log is here:
https://kojipkgs.fedoraproject.org//work/tasks/23/34470023/build.log

[2019-04-26 13:00] rwmjones opened #8648 "OCaml build should provide a way to add extra $CFLAGS and $LDFLAGS"
Fedora (and I guess other Linux distros) want to add a standard set of hardening flags across the distribution, and they rely on `./configure` scripts obeying CFLAGS and LDFLAGS, eg:

[code]

However the OCaml `./configure` script doesn't do this.  I hacked the following into `configure.ac` and it works for me, although a better solution is to use autoconf's normal CFLAGS handling instead of the c

[2019-04-26 13:25] dra27 commented on #8648
Originally noted for `CFLAGS` and `LIBS` in https://github.com/ocaml/ocaml/pull/2139#pullrequestreview-182976019 on this.

[2019-04-26 14:27] xavierleroy commented on #8647
That's the problem.  Autoconfiguration did not recognize your platform as supported by the native-code compiler (ocamlopt).  I agree it should have failed earlier, at the beginning of `make opt`.  But the priority is to understand why your platform is not supported.  What does
[code]
reports?

(Paging @shindere .)

[2019-04-26 14:58] rwmjones commented on #8647
I chucked out all my ARM servers when I moved to RISC-V, so now I've got to do all this by submitting scratch builds to the Fedora build system :-(  It took a bit of time but here's the answer:

[code]

(For aarch64 it prints: `aarch64-unknown-linux-gnu`)

Anyway while I was investigating this I found out something interesting: The Fedora build system searches over the tree and replaces any `confi

[2019-04-26 15:08] rwmjones commented on #8647
Sorry ignore all that, I understand why the configure test is failing.  It's because I'm using:

[code]

Now the reason I have to do that is because I had an earlier problem on x86_64.  Normally Fedora sets `--host` automatically to (on x86_64) `--host=x86_64-redhat-linux-gnu`.  However that causes the build to fail at:

[code]

So I'll stop setting `--host=` but there's still an issue with config

[2019-04-26 15:11] rwmjones commented on #8647
Let's close this, I'll investigate the host/GCC thing separately.

[2019-04-26 15:15] rwmjones commented on #8647
OK I see the problem.  The `configure.ac` file assumes that if `--host` was set then you must be cross-compiling, but that's not actually a correct assumption.  It only applies I think if build != host, but even better is to use the autoconf `AC_CHECK_TOOL` macros which already take into account the correct rules for cross-compiling.

[2019-04-26 16:04] xavierleroy commented on #8647
I confirm that `armv7l-unknown-linux-gnueabihf` is supported and selects the ARM back-end.

@shindere @dra27 : could you please  check `configure.ac` in light of @rwmjones' comment?

[2019-04-29 01:20] ejgallego commented on #7746
Dose3 seems to build OK on 4.07.1+flambda, there were indeed a few improvements on memory use in 4.07 so maybe this issue is resolved.

[2019-05-01 15:07] #7865 closed, assigned to trefis

[2019-05-03 21:57] jakoblichtenberg opened #8655 "README.win32.adoc: Support for Visual Studio 2019"
It would be nice if next version of Visual Studio had explicit support for Visual Studio 2019.  I tried this out and it works great for me with ocaml-4.08.0+beta3 .

For example the simplest version called "Visual Studio Build Tools 2019" available from https://visualstudio.microsoft.com/downloads/ .

Reference: https://github.com/ocaml/ocaml/blob/trunk/README.win32.adoc

[2019-05-04 08:01] #7798 closed, assigned to damiendoligez

[2019-05-04 10:44] dra27 commented on #8655
Please feel free to make a pull request with the change!

[2019-05-04 12:37] gasche opened #8658 "INSTALL.adoc should be updated to new configure options in 4.08"
The INSTALL.adoc file is out of date, mentioning old configure options like `-no-shared-libs`, `no-curses`, `-{no,with}-pthread`, etc. I think that we (preferably the people that are familiar with the new configure, cc @shindere and @dra27) should update it to mirror the new configuration options -- it could also mention `./configure --help` that I'm not sure existed before.

[2019-05-05 03:45] XVilka commented on #7831
Is this forgotten as well? Seems no activity lately.

[2019-05-05 06:35] nojb commented on #7667
Has this been fixed @kayceesrk ?

[2019-05-05 07:37] dra27 opened #8659 "Eliminate cp scripts in ocamltest"
or "Allow the test directory to be set-up declaratively". Tipping context for this is https://github.com/ocaml/ocaml/pull/2023#issuecomment-488714210, where the fact on Unix ocamltest symlinks files mentioned in the `files` declaration but on Windows it copies them was causing tests to fail, since the intention is that the files were then modified by the tests in question (this didn't just break o

[2019-05-05 12:07] rnd4222 opened #8660 "Wrong arity for builtin primitive "%identity""
Following code are fails to compile under 4.08.0+beta3:
[code]
It's funny that defining alias for a function type compiles OK:
[code]

[2019-05-05 19:15] nojb commented on #8660
I don't think this is a bug. The notion of arity is syntactic, and the signature in question is parsed as `('a -> 'b) -> 'a -> 'b`, so the arity is 2, not 1.

Closing because I think this is the right behaviour, but feel free to re-open if you deem it necessary.

[2019-05-05 19:52] rnd4222 commented on #8660
@nojb this notion of arity is neither semantic (because it works with type alias) nor syntactic (because adding parentheses doesn't change anything).
To me it doesn't look like well-formed notion of arity correctness.
It's hardly the "right behaviour", because such a difference between using function type vs alias (and impossibility to use it with function type) is at least unexpected.
I know that

[2019-05-05 20:07] nojb commented on #8660
This is right on; if you are using `external`s in a library you better know what you are doing. And if it breaks, you get to keep both pieces.

Adding parentheses does not change anything in this case because `->` is right-associative.

As you already discovered, this check was introduced in #2015.

[2019-05-05 20:09] gasche commented on #8660
If this is a regression compared to existing versions of OCaml, we may need to discuss whether this kind of code (1) was correctly supported by previous versions (or does it raise assert failures when used later, as the different-looking examples in bug reports #7408 and #7846?) and (2) is used in the wild for something useful (so it's a problem to regress there).

@rnd4222, do you have a use-case

[2019-05-05 20:16] rnd4222 commented on #8660
@gasche clarity [uses](https://github.com/IndiscriminateCoding/clarity/blob/master/lib/types/reader.ml#L16) identity for zero-cost conversion to/from abstract type, represented as a function.

[2019-05-05 21:40] rnd4222 commented on #8660
I'm not even sure what definition of arity should be in a language with **1)** polymorphic types and **2)** first-class functions.
Looks like you can't enforce upper argument limit of a function with polymorphic return type, because it can be instantiated to another function type.
I.e., you can say "function of type `'a -> 'b` takes no less than one argument", but you can't say that it's _exactly_

[2019-05-06 04:41] Octachron commented on #8660
This is definitely not a regression since any use of the ill-defined `run` function leads to a compilation error before 4.08:

[code]

Note that primitives are not OCaml functions by definition, and that there is a well-defined notion of arity for them.

[2019-05-06 04:41] #8660 closed, assigned to nobody

[2019-05-06 09:38] gasche commented on #8660
For the record, I tested @Octachron examples with a few variations. `('r, 'a) t -> ('r -> 'a)` (as in his example) and `('r -> 'a) -> ('r -> 'a)` both fail, but `('r, 'a) t -> ('r, 'a) t` happens to work.

This does seem to confirm the general idea that `external` primitives are a low-level mechanism with a fragile compilation story (especially in presence of polymorphism), and that it is reasonab

[2019-05-06 10:09] Octachron commented on #8660
Another way to looks at the issue is that toplevel arrows in external declarations are not OCaml arrows, but a different arrow operator with a C-like semantics: for a C function ` int ⟿  (int -> int)` and `int ⟿  int ⟿  int` are very different functions. Similarly, using a type abbreviation works for ` ('a,'b) t -> ('a,'b) arrow` because it precises which arrows are  C-arrows. After a quick check,

[2019-05-06 11:27] bobot opened #8661 "Limitation of optional argument erasure in signature containing type variable"
Optional argument are a good way to extend an API and keep backward compatibility. However optional argument erasure is not always performed breaking backward compatibility. In this example the function `h: int -> int` is just a specialization of the function  `g: 'a -> 'a` (the identity). We can add an optional argument to `h` without breaking `apply h` but it is not possible with `g`.

[code]

T

[2019-05-06 17:22] jakoblichtenberg commented on #8655
David. Done.

https://github.com/ocaml/ocaml/pull/8662 .

Two disclaimers:

First I have not done PRs to ocaml before, so if there are issues with how my PR is submitted I apologize and put me straight..

Second. I do not know what the proper test process for changing the build environment is (in this case upgrading compiler).  I just know that things seems to work fine for my specific case.

[2019-05-07 12:51] gasche commented on #8658
I believe this is a blocker for the release.

[2019-05-08 08:10] dbuenzli opened #8665 "BUILD_PATH_PREFIX_MAP does not handle absolute paths."
Support for BUILD_PATH_PREFIX_MAP was added in https://github.com/ocaml/ocaml/pull/1515 however it does not handle absolute paths for reasons I find rather [weak](https://github.com/ocaml/ocaml/pull/1515#issuecomment-349984235).

Note that the [specification](https://reproducible-builds.org/specs/build-path-prefix-map/) is entirely agnostic to the absolutness of paths, so it seems what we have her

[2019-05-08 08:58] gasche commented on #8665
I'm happy to change the codebase to rewrite more, but given that there is no centralized handling of "paths" in the compiler (they are built as strings in many places) it may be difficult to cover all paths flying around. The restriction to relative path was more of a consequence of hooking up the `Location.absolute_path` function than a strong decision decision.

[2019-05-10 13:46] damiendoligez commented on #7831
IIUC these failures are random and not very common. I'm trying to reproduce them, without much success so far.

[2019-05-13 09:40] shindere commented on #8647
Sorry for the late response here.

rwmjones (2019/04/26 08:16 -0700):

So where exactly in configure.ac do you think `AC_CHECK_TOOL` should be
used?

[2019-05-13 10:19] rwmjones commented on #8647
Anywhere you need to check for a "tool" (eg. ‘as’).  Probably best to read the autoconf documentation on this as it will explain it better than I can.

https://www.gnu.org/software/autoconf/manual/autoconf-2.68/html_node/Generic-Programs.html

[2019-05-13 12:58] shindere commented on #8658
Gabriel Scherer (2019/05/07 05:51 -0700):

It is. Starting to work on a PR right now.

[2019-05-15 05:23] XVilka opened #8671 "z/OS platform support"
OCaml already supports SystemZ architecture, but only for Linux operating system. It would be awesome to make it work on the z/OS itself as well. z/OS is a 64-bit operating system for IBM mainframes, produced by IBM. It derives from and is the successor to OS/390, which in turn followed a string of MVS versions. Like OS/390, z/OS combines a number of formerly separate, related products, some of wh

[2019-05-16 09:34] aschahar opened #8676 "Non-tail recursive Hashtable find_all function"
The Hashtbl.find_all function implementation is not tail recursive. Due to this, stack overflow occurs for a big set of the data.

[2019-05-16 09:38] gasche commented on #8676
See #4747 for previous work on making Hashtbl functions tail-recursive. It's a lot of subtle work that generally degrades the performance of the use-cases most users care about. Personally I decided to wait until tail-recursion-modulo-cons is available in the compiler (see #181), which would let us write not-unnatural tail-recursive code.

[2019-05-17 10:52] shindere commented on #8659
I confirm that if a test or action is mentionned, then this overrides
the tests performed by default, namely `bytecode` and `native`.

Thanks a lot for the proposal which I find indeed interesting!

[2019-05-18 10:25] MSoegtropIMC opened #8678 "When debugging processes which create OCaml child processes, the child tries to talk to the parent's debugger (and dies)"
Dear OCaml Team,

I am trying to debug some issues in a OCaml GTK application (CoqIDE) on Windows. I am using ocaml-4.07.1 build from sources.

The issue is that the application creates child processes which are also written in OCaml. These processes inherit the environment from the parent, including a `CAML_DEBUG_SOCKET=127.0.0.1:10172` which I guess was added to the environment of the parent by

[2019-05-18 11:54] MSoegtropIMC commented on #8678
Digging a bit deeper into this: in `debugger\program_management.ml` the listen command of ocamldebug reads:

      let sock = socket sock_domain SOCK_STREAM 0 in
        (try
           bind sock sock_address;
           setsockopt sock SO_REUSEADDR true;
           listen sock 3;

So the maximum connection number is 3. As far as I remember ocamldebug creates two levels of checkpoint forks on Linu

[2019-05-18 11:58] jhjourdan commented on #8678
Normally, the debugger runtime contains some cod which deactivates the debugger for the forked child.

Is the child process created using a C call to fork? Or is it using an OCaml-side call to fork using the Unix library?

[2019-05-18 12:29] MSoegtropIMC commented on #8678
The child is created from OCaml like this:

    ide/coq.ml:

    let oc,ic,ec = Unix.open_process_full cmd (Unix.environment ()) in

[2019-05-18 22:10] jfehrle opened #8679 "Cygwin setup: opam 2.0.3 needs ocaml 4.06.1 but cygwin has ocaml 4.04.2"
Using cygwin 64 bit setup, opam 2.0.3 appears to require ocaml 4.06.1 but cygwin setup only has 4.04.2.  Can this be updated and if so, how?  Do the cygwin folks have to do this?

The workaround is to build ocaml from sources?

[code]

[2019-05-19 08:21] MSoegtropIMC commented on #8678
I scanned the code for mechanisms which could prevent children from connecting to the debugger, but I didn't find any.

- Searching the code for CAML_DEBUG_SOCKET shows that this environment variable is set, but it is not removed which children are created.
- The number of connections to the debugger socket is set to 3 in listen, which would allow 3 connections.
- There is nothing (obvious) in the

[2019-05-19 09:18] manu-unter opened #8680 "Support symlinks without elevation on Windows 10 in Developer Mode"
In Windows 10, it has been possible since 2016 to enable Developer Mode which [allows symbolic links to be created without elevation](https://blogs.windows.com/buildingapps/2016/12/02/symlinks-windows-10/). This would be a great feature to support in many applications - specifically we could use it for the package manager esy. See https://github.com/esy/esy/issues/389

I think it would be rather e

[2019-05-19 10:08] dra27 commented on #8680
This has been on my spike for a while, so a PR would be welcome - the only caveat would be that it needs to remain compatible. I expect it will involve a patch to the has_symlink code too.

[2019-05-19 18:03] MSoegtropIMC commented on #8678
I spent a bit more time on this. Actually the connection between the child process and the debugger does succeed (some stderr traces I inserted seem to get lost somehow) and the child process receives the same list of REQ_SET_EVENT from the debugger as the parent process (although they are different binaries, so that this doesn't make a lot of sense). The child then hangs because it doesn't receiv

[2019-05-19 19:29] monadius opened #8681 "Runtime segmentation fault (toplevel and ocamlc, OCaml >= 4.06.0)"
The following simple program successfully compiles and causes `Segmentation fault: 11` at runtime (toplevel and ocamlc, ocamlopt is not affected):
[code]

Tested OCaml versions (installed via opam), OS: macOS 10.14.4:

- OCaml 4.05.0: no runtime errors (ocamlc and ocaml)
- OCaml 4.06.0, 4.06.1, 4.07.1, 4.10.0+trunk: `Segmentation fault: 11` (ocamlc and ocaml)

Sometimes the following error message

[2019-05-19 20:30] gasche commented on #8681
The problem comes from the interaction between the value-recursion compilation mechanism (dummy value creation and update), for the outer `let rec f = ...` binding, and the shared-closure representation of the inner `(f,g)` recursive functions: the static "size" computed for the dummy value is wrong as it does not correctly take into account the shared closure representation.

In bytecode, the fol

[2019-05-19 21:24] gasche commented on #8681
The following patch seems to fix the native-code compiler as well:

[code]

Before preparing a Pull Request with these fixes, I would like to see if there is also an easy way to forbid these suspicious declarations already in the frontend, when checking the validity of the recursive definitions.

[2019-05-20 08:12] jhjourdan commented on #8678
Probably the simplest thing to do in order to fix the bug is to reset the `CAML_DEBUG_SOCKET` environment variable just after reading it.

[2019-05-20 09:02] MSoegtropIMC commented on #8678
A good idea. I thought about removing it when starting child processes, but there are scenarios where one wants to debug both and explicitly passes a different `CAML_DEBUG_SOCKET` to the child process. But removing it at the point you suggest wouldn't hurt in this scenario. One thing I didn't look into is the communication of checkpoint fork processes with the debugger, since this anyway doesn't w

[2019-05-20 09:24] jhjourdan commented on #8678
I don't think this is an issue: the checkpoint fork does not read the environment variable again, but rather inherits from its value stored in `dbg_addr`.

I can confirm that weird things do happen when calling an OCaml program in a program under `ocamldebug` control, even under Linux. I did not reproduce your specific behavior, though.

[2019-05-20 10:06] MSoegtropIMC commented on #8678
Ok, then I will do the fix you suggested and try it on Windows and if it works fine (I have quite a bit of opportunity to test it) I will do a PR.

[2019-05-20 14:33] damiendoligez commented on #7898
Why is it segfault and not stack overflow? Aren't we supposed to detect stack overflow correctly on Linux?

[2019-05-21 10:15] dra27 commented on #8658
@shindere - have you been able to prepare this? I can work it right now, if needed.

[2019-05-21 10:21] shindere commented on #8658
David Allsopp (2019/05/21 03:15 -0700):

Yes, I started to work on it but it's actually a bit of work because
this file is REALLY outdated.

@dra27: do you still have your mapping between old and new configure
options? If so it would be great to incude it somewhere.

[2019-05-21 12:10] damiendoligez commented on #2902
I re-reported this to the new issue tracker of ocamlbrowser at https://forge.ocamlcore.org/tracker/index.php?func=detail&aid=1767&group_id=343&atid=1353

[2019-05-21 12:10] #2902 closed

[2019-05-21 12:29] damiendoligez commented on #3959
ping @diml

[2019-05-21 15:40] ghost commented on #3959
I'm looking at this again and the patch looks a little bit complicated to me. It seems to me that the right thing to do is change the implementation of the various directives so that instead of having them manually handle errors, they just let exceptions leak. Such exceptions will then be caught by the toplevel loop, which will correctly abort the evaluation and will print them with `Location.repo

[2019-05-22 13:39] damiendoligez commented on #8658
fixed by #8688

[2019-05-22 13:39] #8658 closed, assigned to nobody

[2019-05-24 13:17] damiendoligez commented on #5693
I don't think the problem is limited to `environ`.

IIRC, the problem is that an uninitialized global variable in C code is declared as COMMON in the object file, and the macos linker (unlike the linux linker) feels free to drop the object file when it is referenced only by this variable.

So our best bet so far is to have initializers for all of the runtime's global variables to avoid this COMMON

[2019-05-24 16:26] pmetzger commented on #5693
FWIW, I've never had a problem building on MacOS.

[2019-05-24 22:16] jakoblichtenberg commented on #8655
@dra27 , @nojb : Can I ask for help please.  What do I need to do to get this moved forward please? Who completes the PR?  Am I targeting the right branch?

[2019-05-25 08:13] nojb commented on #8655
PR merged, thanks!

[2019-05-25 08:13] #8655 closed, assigned to nobody

[2019-05-26 21:23] MSoegtropIMC opened #8694 "Various inconsistencies between ocamldebug and dumpobj"
Dear OCaml Team,

there are a few inconsistencies between how ocamldebug and dumpobj display the same byte code data, which is a bit inconvenient.

1.) dumpobj shows instruction/PC addresses in instructions, while ocamldebug shows them as byte offset which seems to be 4x the instruction count.

2.) ocamldebug and dumpobj use different line numbers to reference the same block of instructions, e.g.

[2019-05-26 21:30] MSoegtropIMC opened #8695 "ocamldebug: no check that the correct executable is debugged when using "set loadingmode manual""
Dear OCaml Team,

when ocamldebug is used to debug an executable started by a different process with `set loadingmode manual` and the `-s <port>` option, there is no check that the executable given on the ocamldebug command line and the executable connecting to the debugger are the same. Of cause this is a bit of a "user to stupid" error but in complicated scenarios where a process spawns many oth

[2019-05-28 13:21] gasche opened #8697 "undocumented OCAMLRUNPARAM settings"
http://caml.inria.fr/pub/docs/manual-ocaml/runtime.html contains a documentation of most OCAMLRUNPARAM settings, but several are missing:

- H (huge pages)
- M, m, n (custom space usage stuff)
- t ("trace level"?)
- w (caml major window size)
- W (runtime warnings)

[2019-05-28 14:44] jakoblichtenberg commented on #8655
@nojb .  Thank you.  Sorry for the newbie question, but I see this made it to main trunk, but it looks like 4.08 and 4.09 branches are already snapped.  Should I have targeted those branches also?  Is there any sort of integration ongoing automatically?   In other words: What actions should I take to make sure this change shows up in all future public releases of ocaml?

[2019-05-28 15:27] stedolan opened #8698 "Incorrect variance annotation discarded"
If I write the following incorrect type:

    type +'a t = [> `Foo of 'a -> unit] as 'a

the typechecker accepts it, pretending that I had never written the incorrect variance annotation:

    type 'a t = 'a constraint 'a = [> `Foo of 'a -> unit ]

whereas it should reject my type definition.

[2019-05-28 17:22] xavierleroy commented on #8655
Yes, we should have the fix in 4.09.  The release of 4.08 is imminent (as in: tomorrow), so let's leave it alone.

[2019-05-28 17:25] jakoblichtenberg commented on #8655
1. I specifically made the ask so as to get this into the next “official release” that is 4.08 that I have been testing with for many weeks now

2. Given this is a “doc only change” I would imagine it can easily make it to both 4.08 and 4.09.

3. I apologize if I staged the PR the wrong way at first.  I asked for help on this matter early exactly to avoid misunderstandings.

Thank you all for your

[2019-05-29 08:10] nojb commented on #8655
Cherry-picked to 4.09 in 7cb57b0309f4260bcbdb0cc9f7c383877a0cb000

[2019-05-29 08:14] nojb commented on #8655
In the CI we test that everything works with Visual Studio 2015. For other versions, we go with "it seems to work well for me".

[2019-05-29 15:12] ojno opened #8699 "Only bytecode version of executable allocating huge amounts"
We have an OCaml project ( https://github.com/rems-project/sail ) which tries to allocate huge amounts of memory, but only when compiled to bytecode. The native version works perfectly fine.

`strace` for an example run ends in:

[code]

which naturally fails since I don't have 2 TB of memory available.

The stacktrace of the failing mmap of ocamlrun looks like
[code]

so it looks like it's a mino

[2019-05-29 17:16] xavierleroy commented on #8699
Thanks for the repro.  For anyone who wants to play with it:
- this is an OCaml 4.06.1 bytecode executable
- it is dynamically linked  with "zarith" and with "num"
- unless your home directory is identical to that of the reporter, the way to run it is `ocamlrun ./sail.byte repro.sail`.

This said, I can't reproduce:
[code]

[2019-05-29 17:22] xavierleroy commented on #8699
The report is consistent with a bad pointer into the minor heap.  The minor GC follows the pointer, reads a nonsensical block header with a nonsensical size, and tries to allocate a block of this size in the major heap.

That the problem is seen in bytecode but not in native code can be explained by GC that occurs at different times, and/or GC that follows fewer roots in native code than in byteco

[2019-05-29 18:43] ivg commented on #8699
Installing Z3 will make it reproducible (e.g., on Ubuntu `sudo apt-get install z3`),

[code]

[2019-05-30 00:26] jakoblichtenberg commented on #8655
@nojb and @xavierleroy please see my request to include this fix in 4.08. Thank you for your consideration.

[2019-05-30 00:36] progman1 opened #8700 "Error message on preprocessor failure"
the compiler always accompanies a syntax error from a preprocessor with this:

File "file.ml", line 1:
Error: Error while running external preprocessor
Command line: ./parser 'file.ml' > /tmp/ocamlppd4a5a9

the line number is always 1 and the rest got old, fast!
if the preprocessor is actually outputting good messages already it would be
desirable to suppress this compiler message.
is there alread

[2019-05-30 06:33] nojb commented on #8655
As Xavier mentioned,

[2019-05-30 06:34] jakoblichtenberg commented on #8655
OK.

[2019-05-30 14:54] lpw25 opened #8701 "Variance of constrained parameters causes principality issues"
The variance of constrained parameters is only checked, not fully inferred. This means that a type alias with constrained parameters can have a less general variance than the aliased type. For example:

[code]
is treated as invariant in its parameter which basically means that `'b` is treated as invariant even though it is really covariant.

This means that the relaxed value restriction will not a

[2019-05-30 15:50] gasche commented on #8701
In the `compute_variance_type` function in typedecl_variance, we do compute variances for those "constrained parameters" (extra variables that do not occur in the parameter list, only in constraints). I think that it would make sense to consider the variance information of a type to be determined not by a variance for each of its apparent parameters (here `'a`), but a variance for all non-constrai

[2019-05-30 17:08] lpw25 opened #8702 "Nonsense error messages when mixing universal variables and polymorphic variants"
[code]

There are two ways in which this message is nonsense.

The first is the "The second variant type does not allow tag(s)" part, which is a regression in 4.08 caused by the changes to error reporting. The `Unify [Variant (No_tags(pos,rest))]` error is raised by `unify_row` when one of two conditions holds, however the message makes no sense for one of those conditions.

The second is that the

[2019-05-30 20:02] gasche commented on #8702
(cc @Octachron for the error-message part)

[2019-05-31 00:44] garrigue commented on #8702
Setting `row_fixed` here is intended to get error messages earlier, i.e. as soon as you try to instantiate `'a`, rather than when checking the polymorphism after typing the expression.
It is in theory possible to remove it, but I would have to check that the algorithm works without it, and I believe there are some cases where setting it allows to give better error messages.
In this precise case, I

[2019-05-31 00:49] garrigue commented on #8701
Actually, there is a more direct way to fix that: when variance information is required, one should expand types which have constrained parameters. Actually I think this is done in most cases, but apparently not when applying the relaxed value restriction (looks like I missed this interaction, thanks @lpw25 for pointing it).
What @gasche describes could be a useful optimization if the above appear

[2019-05-31 00:53] garrigue commented on #8698
This looks like a bug indeed. Thanks for the report.

[2019-05-31 02:25] garrigue opened #8703 "Variables in exported Makefile.config contain calls to macros"
The `Makefile.config` exported by OCaml 4.08.0+rc1 contains calls to macros.
This prevents easy extraction of variables using grep, as it was done in labltk for instance.

[2019-06-01 17:07] progman1 opened #8704 "Hacking help: expected unification not done...."
Hello folks.
The right forum for compiler hacking?

I have this funcion
val Genprint.pr : 'a -> unit = "%typeof"
and when I use it like this:
(Genprint.pr 0)
_ : int = 0
I get the expected result because I have an application and access to the argument
type.
when I use it thusly:
let f = Genprint.pr in f 0
I have a non-application of pr but I was relying on unification to get 'a instantiated
in th

[2019-06-01 20:09] #8704 closed, assigned to nobody

[2019-06-02 22:12] bacam opened #8705 "Native code segfault with 4.08"
We've noticed that the [Lem specification tool](https://github.com/rems-project/lem) segfaults with the 4.08.0+rc1 compiler, when the build first tries to run the generated executable on Lem's standard library.  It only appears to happen for native code (testing with 64-bit and 32-bit x86 Linux), and bisecting suggests that commit 9b27a9c75ec4c76a7d9e440de29c203666ea6a28 introduces the problem.  I

[2019-06-03 06:45] mshinwell commented on #8705
I'm looking at this.

[2019-06-03 12:29] mshinwell commented on #8705
Please see https://github.com/ocaml/ocaml/pull/8706

[2019-06-03 13:30] stedolan commented on #8699
I dug into this a bit today. This is in fact an OCaml bug to do with `Infix_tag` and recursive values, and quite an old one at that: a slight variant of it segfaults on every version of OCaml I've tried, from 3.12.1 up to trunk.

In the reproduction case above, the minor GC explodes after following a pointer that was not initialised correctly by `caml_update_dummy`. In this example, `caml_update_d

[2019-06-03 14:12] gasche commented on #8699
Interesting, this seems to be exactly #8682 (fix for #8681). I would not have guessed that the two issues are related.

[2019-06-03 14:42] stedolan commented on #8699
So it is! I missed that PR. What does #8682 do on this example?

[2019-06-03 15:12] gasche commented on #8699
There are two parts in #8682: an attempt to fix the compilation scheme in this case (which is not correct in the general case; that part would need further work) and a restriction to the static check to reject these dangerous cases (the idea is that all-function `let rec` have all their declared identifiers considered to "have dynamic size" in the static-vs-dynamic classification). As a result of

[2019-06-03 15:49] #8705 closed, assigned to mshinwell

[2019-06-03 15:57] jflopezfernandez commented on #6579
Is this issue still active? I noticed it's from 2014.

I did some research and the `_set_output_format` function has actually [been deprecated](https://docs.microsoft.com/en-us/cpp/c-runtime-library/set-output-format?view=vs-2019), but as I was looking through the codebase I saw the `printf.ml` and `printf.mli` files, where they emulate the C library's own `printf` function, so maybe we could simp

[2019-06-03 16:44] jflopezfernandez opened #8709 "Heap initialization function in memory.h not doing anything"
I was going through `memory.h` when I came across a function that according to its documentation is supposed to initialize the heap.

[code]
As it is currently written, however, the function looks like this:

[code]
There is no heap initialization of any kind, and it is called on line `637` of `gc_ctrl.c` like this:
[code]
The function is unconditionally returning zero, so it's obviously never goi

[2019-06-04 08:45] stedolan commented on #8699
OK, thanks for the explanation! Since this affects real code, I'd prefer to accept the example and do the right thing. I was discussing the issue with @lpw25 yesterday, and it doesn't seem like the runtime changes needed to support this use are too complicated. I'll make a PR soon.

[2019-06-04 08:49] gasche commented on #8699
Note that it's easy to fix the real code by eta-expanding the outer function.

[2019-06-05 14:30] gasche commented on #8681
@stedolan had a more complete fix in #8712 which is now merged. This bug should be fixed in the upcoming 4.09 (not 4.08) release.

[2019-06-05 14:32] gasche commented on #8699
The issue should have been fixed by #8712, which is now merged -- it should appear in the 4.09 release (not 4.08).

Note that you can already fix the Sail codebase by performing an eta-expansion in the definition of `doc_nexp` in [pretty_print_sail.ml#L91](https://github.com/rems-project/sail/blob/sail2/src/pretty_print_sail.ml#L91): `let rec doc_nexp nexp = let rec .... in nexp0 nexp` -- and same

[2019-06-06 09:00] bobzhang opened #8717 "Feature wish: move Pervasives.(format_of_string, (^^)) into Format module or a separate module"
Steps: We can first mark it as deprecated and removed it after several releases

Reasons: those two functions are rarely used, it incurs a non-trival dependency on camlinternalFormatBasics which requires a huge runtime. The consequences is that
it can make js backend output big js output by accident.
Note it could be dead code eliminated in theory, but third party js tools in general can not handl

[2019-06-06 10:13] XVilka opened #8718 "OCaml manual syntax highlight in the manual"
Currently manual is pretty dull looking:
![image](https://user-images.githubusercontent.com/203261/59024766-2be58200-8885-11e9-89a9-0f9f89a9ffb4.png)

And how it might look [with listings](https://tex.stackexchange.com/questions/483056/listings-for-ocaml-and-quotes):
![image](https://user-images.githubusercontent.com/203261/59024843-62bb9800-8885-11e9-8408-7501dc794fff.png)

[2019-06-06 10:29] dra27 commented on #8718
Seems like a nice change, to me - do you have time to prepare an initial PR (it could just be a draft, showing that it works in one place, then can be extended to the whole manual).

[2019-06-06 10:40] dra27 commented on #8717
A quick GitHub search suggests "rarely" may want quantifying. It'd have to be to a separate module, as I'm fairly sure `Scanf`, `Printf` and `Format` are presently independent and want to remain so, and obviously the types would want to move wholesale to a new module.

Personally not that convinced - if JS tools cannot handle it, what prevents dead-code elimination earlier?

[2019-06-06 11:15] lpw25 commented on #8717
`camlinternalFormatBasics` has just 3 functions in it are you sure that your "huge" runtimes are coming from it?

[2019-06-07 05:03] XVilka commented on #8718
I wasn't able to find where `caml_example` pseudo-environment defined, but since it is used like that:
[code]
we can define (or extend the definition) it like
[code]
or
[code]

[2019-06-07 07:27] Octachron commented on #8718
The `caml_example` environment is defined in `manual/styles/caml-sl.sty`. And in general stacking verbatim environment on top of each other does not work. Even more so when the `\caml` environment plays with catcode to support underlining.

[2019-06-07 13:43] sbriais opened #8724 "Wrong error location when using -absname flag"
Assume two modules `A` and `B` located in subdirectories `foo` and `bar`.
[code]
[code]
Let's compile them

[code]

The error message is incorrect as it indicates that file `a.ml` is in subdirectory `bar` whereas it is actually into subdirectory `foo`.

[2019-06-07 14:14] nojb commented on #8724
The issue here is that the absolute path is not actually recorded in compiled interface `a.cmi` of `a.ml` but rather generated by the compiler when the error message is printed. The path recorded in the `.cmi` is the path passed on the command line to the compiler. When generating the absolute path, the compiler just concatenates this (if it is relative) with the current working directory.

To fix

[2019-06-07 14:21] gasche commented on #8724
Here is an explanation for the current behavior: at the time of the error, when we want to indicate the location of the expected declaration, we look for the locations stored in `a.cmi` (in `../foo`), and those have relative filenames (relative to `foo/`, because `a.cmi` was produced from there). In particular the locations stored keep the filename-information `a.ml`. Then we print that path to th

[2019-06-07 14:44] alainfrisch commented on #8724
I don't think 2 can work, because (i) it would allow pointing to the directory containing the loaded .cmi file, which has no reason to be where the source file is (esp. when using installed libraries), and (ii) one .cmi file can contain locations pointing to multiple source files, possibly in different directories (this can happen for instance when using preprocessors that implement some "include"

[2019-06-08 02:45] bobzhang commented on #8717
[code]
@lpw25 It pulls in around 7KByte JS which is non-trivial for not obvious gain.
@dra27 we do separate compilation and ends up with Pervasives.js for Pervasives module, the rest is taken over by JS tools, since most JS users would have other mixed JS modules, it is unlikely that they have a closed tool-chain purely for OCaml. My impression is that functions living in Pervasives module should

[2019-06-08 14:44] pmetzger commented on #8718
Please do make sure that if this is done, the results still look okay when printed on a black and white printer.

[2019-06-09 01:41] garrigue commented on #8698
Note that one can verify that the type was indeed inferred as invariant:

[code]

So there should definitely be an error message.

[2019-06-09 02:41] garrigue commented on #8698
Well, actually I'm no longer sure this is a bug.
Namely, variance is only about type variables, so the questions is what +'a implies.
Since the type bound to 'a is `[> Foo of 'a -> unit] as 'a`, the row variable (which is the only type variable here) has both co- and contra-variant occurrences. As a a result, even assuming the 'a is covariant, the row-variable is invariant, which is already the st

[2019-06-09 23:56] garrigue commented on #8698
While this appears not to be a bug, it had me thinking a while before checking it with the debugger, and understanding what was happening.

There are two things that could be done:
* Improve the documentation, explaining the semantics of variance annotations in more detail.
  In particular the fact that annotations on constrained parameters are only requirements on
  the type variables appearing i

[2019-06-10 08:31] gasche commented on #8698
For me the definition of covariance of `'a` in `t` is that if we have two types `u1 <: u2`, then we have `t['a := u1] <: t['a := u2]` whenever the latter is well-formed (respects the constraints). I'm not sure what it suggests here.

[2019-06-10 08:41] stedolan commented on #8698
Thanks for the analysis @garrigue!

I think the same way as @gasche about variance (as a monotonicity/anti-monotonicity property of type-level functions, rather than a property of type variables). I had a go at translating your explanation into this language, but I'm not sure if it matches yours. Does the following make sense to you?

In `+'a t`, the covariance annotation means that `t` is a monot

[2019-06-10 10:35] stedolan commented on #8698
After some discussion with @lpw25, I realise things are a bit more subtle: there are in fact many types of the form ``[> `Foo of 'a -> unit] as 'a``: they differ in the contents of the row variable (at labels other than `` `Foo``). However, while not being a singleton, this domain has the property that the subtyping relation is an equivalence (if a <= b, then b <= a), so as above, monotone and ant

[2019-06-10 16:05] Octachron commented on #8702
Concerning the error message, maybe we could just add a small line of explanation:

[code]

[2019-06-11 08:42] dbuenzli opened #8728 "Compiler libs's library structure"
It seems that some of the elements (e.g. `bytecomp/meta.ml`) of `ocamlcommon.cma` are using the *interface* of elements whose implementation is in `ocamlbytecomp.cma` (e.g. `bytecomp/instruct.ml`).

This of course remains sounds from a linking perspective, but I'm wondering if this is done on purpose or if it is an oversight; it is the first time I hit such an install structure.

[2019-06-11 10:37] dra27 commented on #8703
This is a consequence of the switch to autoconf, and next to impossible to workaround.

The solution I see you've committed in https://github.com/garrigue/labltk/commit/390c2c88ec82470b0c571fc5558b382224548823 is the template for this, and elsewhere.

The other option might be to do something to "simplify" the `Makefile.config` file which is installed, but it feels like we've missed the boat for t

[2019-06-11 10:55] bobot opened #8730 "Instantiating type constructors with different arities in functors"
The arities of types in functor actual arguments must match the one of the formal argument of the functor. So this simplified version of the `Set.Make` functor of the standard library can be applied to `I` but not to `T1` and `T2`.

[code]

The implementation of `Make0` can be copied unchanged except for the addition of type argument to `X.t` and `t` in order to get a functor which accepts `T1`.

[2019-06-11 11:10] mrmr1993 commented on #8730
@bobot that's not the initial intention, no.

Once the feature is complete, it should be possible (and fairly easy?) to support partially-applied type constructors fairly easily though. The main issue will be the syntax: how will we differentiate between intentionally omitted and accidentally omitted type parameters? Still, this is certainly one of my extension goals, once we have a reasonable sto

[2019-06-11 12:55] mrmr1993 commented on #8730
Sorry, I misspoke. I was viewing this from the angle that the type variables needed to 'live' somewhere, so that the typechecker knows about them, and I thought something akin to a partially-applied type might be a good candidate for that.

I'm not certain what the semantics should be in terms of variable splitting: ie. should `'a t - > 'a t` become `'('a, 'b) t -> ('a, 'b) t`, `('a, 'b) t -> ('a,

[2019-06-11 15:44] dra27 commented on #8679
This is indeed a job for the maintainer of the Cygwin ocaml package - however, they will not be keen to recompile the 64-bit package at the moment, because of the loss of shared library support.

[2019-06-13 06:42] lpw25 commented on #8701
#8725 fixes the example I gave above, but variance information is used for more than just the relaxed value restriction, and these other places also have similar issues. For example:

[code]

[2019-06-13 06:43] XVilka opened #8733 "64bit sized bigarrays support"
One of the good example is to use Bigarray mapped on top of the file, whose size can easily exceed the 32bit limits. It would be really useful in 2019 to have bigger bigarrays.

[2019-06-13 07:19] nojb commented on #8733
Which limit is this? I thought bigarrays did not have any hard-coded limit.

[2019-06-13 08:33] XVilka commented on #8733
@nojb for example `Bigarray.Array1.get ba offset` requires `offset` to be int, rather than int64, obviously limiting the size to 32bits.

[2019-06-13 08:58] dbuenzli commented on #8733
To 30 bits to be precise. But then on a 32-bit machine addressing is limited to 32-bits anyways.

If you want to use large files on 32-bit machines you should use `Unix.Largefile` rather than `mmap`ing them. Depending on the size of your platform's `off_t` type this may allow you to deal with files larger than what 30-bits allow.

[2019-06-13 09:18] XVilka commented on #8733
@dbuenzli well, I talk more about 64bit machines, since 32bit are quite rare these days.

P.S. Yes, of course 30 bits, you are right.

[2019-06-13 09:23] nojb commented on #8733
An `int` in a 64bit machine is 63 bits wide, so it limits you to 62 bits of addressable memory. This is surely enough, right?

[2019-06-13 09:23] dbuenzli commented on #8733
Well but your indexing `int`s on a 64-bit machine are 62-bit then which should be sufficient for most needs.

[2019-06-13 09:30] XVilka commented on #8733
Oh, I misunderstood then. Thanks for the answers, closing this one.

[2019-06-13 09:30] #8733 closed, assigned to nobody

[2019-06-14 02:10] garrigue commented on #8701
There are indeed two other occurrences: `occur_univar` and `univars_escape`.
However, the same fix doesn't seem to work, for a reason that looks like a bug: namely, expanding `'a list t` inside `occur_univar` fails with a scoping error (it succeeds inside `univars_escape`).
I'll give it a better look later.

I'm starting to think that @gasche 's suggestion makes sense, at least computation costwis

[2019-06-14 02:45] garrigue commented on #8701
After looking in more detail, the problem is deeper here: one cannot expand a type with a constrained parameter where the universal variable occurs deep inside this parameter.
It results in attempting the unification of `'x list` with `'a list` (with `'x` fresh and `'a` universal), which is not allowed (unifying `'x` with `'a list` is allowed through a trick).
This problem is there from the very b

[2019-06-14 02:51] garrigue commented on #8701
But I forgot to mention a problem with @gasche approach: currently, the variances of types are not recomputed after functor applications. This means that they are not accurate, and in particular one has to expand types (even if there are no constrained parameters). So a prerequisite would be to implement the recomputation of variances after functor applications (or just compute them when adding ty

[2019-06-14 09:10] XVilka opened #8734 "Organize issues into projects"
GitHub offers amazing feature to make Project boards for managing issues and tracking progress. Since OCaml development migrated to use GitHub for everything, it makes sense to use this feature as well:
- https://github.com/ocaml/ocaml/projects
- https://help.github.com/en/articles/about-project-boards

For example possible projects are:
- DWARF/GDB improvements
- Multicore prerequisites
- Windows

[2019-06-14 15:08] ttamttam opened #8736 "Stdlib documentation problem"
Hello,

in https://caml.inria.fr/pub/distrib/ocaml-4.08, the Stdlib part of the documentation is weired.

Extracted from https://caml.inria.fr/pub/distrib/ocaml-4.08/ocaml-4.08-refman.txt: the Module Stdlib section seems to be included twice:
[code]

And the standard modules documentations are missing:
[code]

Best regards

[2019-06-14 15:25] ttamttam commented on #8736
https://caml.inria.fr/pub/distrib/ocaml-4.08 seems to be a temporary distribution.
The manual in http://caml.inria.fr/pub/docs/manual-ocaml-4.08/core.html is OK.
Closing, and sorry for the noise.

[2019-06-15 13:20] talex5 opened #8738 "Doc comment for new `Option.bind` function is wrong"
`option.mli` says:

[code]

This is not true:

[code]

[2019-06-15 14:04] dbuenzli commented on #8738
Indeed that's the documentation of `Option.map`. This should read:

[code]

[2019-06-15 22:07] Fourchaux opened #8740 "Updating 4.08 Manual link"
The 2 links:

http://caml.inria.fr/pub/docs/manual-ocaml/index.html
http://caml.inria.fr/pub/docs/manual-ocaml-4.08/index.html

display an "old" User's Manual (dated February 8, 2019).

Should not the manual dated June 14, 2019 be used?

[2019-06-15 23:10] dra27 commented on #8740
There were some changes to the manual after beta1, so it would be worth re-generating it, yes.

[2019-06-15 23:14] #8738 closed, assigned to nobody

[2019-06-16 16:39] juergenhoetzel opened #8742 "Packaging 4.08.0 on Arch Linux fails"
Trying to build the `4.08.0` release using this [PKGBUILD](https://git.archlinux.org/svntogit/packages.git/tree/trunk/PKGBUILD?h=packages/ocaml)
results in:
[code]
the build step passes but packaging fails. I used `bcc` to trace the `git` command:
[code]
I wonder why git is used in the release tarball at all.

Arch Linux uses [fakeroot](http://packages.debian.org/fakeroot) to build a package.  I s

[2019-06-16 17:46] dra27 commented on #8742
This is an issue with #2030. I'll formulate a proper fix shortly, but for 4.08.0 you're going to need to patch the sources. I think this should fix it:

[code]

Please could you confirm?

[2019-06-16 18:09] dra27 commented on #8742
(I've tweaked the title only to try to make it clear that the problem is only when building with the package manager on Arch - I would think that building OCaml from a git clone, or manually from a tarball would succeed)

[2019-06-16 18:36] juergenhoetzel commented on #8742
Thanks for the quick response :+1:

sadly not.
I don't understand why removing the `partialclean` target should fix the error.

[2019-06-16 19:00] dra27 commented on #8742
When you say "sadly not", you mean you can't confirm it, or you can confirm that it _doesn't_ fix it? With that patch it's definitely still running `git ls-files *.ml *.mli`?

[2019-06-16 19:02] dra27 commented on #8742
(incidentally, looking at the `PKGBUILD`, I don't think you need any of `gdbm`, `tk` or `ncurses`)

[2019-06-17 03:41] alan-j-hu commented on #8736
In the 4.08 version of the manual, the list of standard library modules is accessible here: https://caml.inria.fr/pub/docs/manual-ocaml-4.08/stdlib.html

It is listed as chapter 26.

However, the main page (https://caml.inria.fr/pub/docs/manual-ocaml-4.08/index.html) does not link to that page and it lists the num library documentation as chapter 26.

I noticed that the Int module documentation li

[2019-06-17 06:19] juergenhoetzel commented on #8742
The patch doesn't fix it for me. It's still running `git` multiple times (also during the build process):
[code]

Yes: Building/Installing without the Arch Linux build tools (`makepkg`, `extra-x86_64-build`) succeeds.

[2019-06-17 07:27] dra27 commented on #8742
Is it possible to get a full log of the build? My original hunch was that it was the `make partialclean` (since that should be the only place where `$(SOURCE_FILES)`, which is where the `git ls-files` call comes from, is forced), but I forgot that that only occurs during a bootstrap or flexdll bootstrap, which shouldn't apply here. I'm wondering if it's dumping make variables at some point, but I

[2019-06-17 17:56] juergenhoetzel commented on #8742
Of course:
[build.log](https://github.com/ocaml/ocaml/files/3298231/build.log)
Using `make --debug=v`:
[build-verbose.log](https://github.com/ocaml/ocaml/files/3298232/build-verbose.log)

[2019-06-17 18:15] dra27 commented on #8742
Thanks - are those the build logs with the patch I suggested or from before?

<pre><font color="#8AE234"><b>==&gt;</b></font><b> Entering fakeroot environment...</b>
<font color="#8AE234"><b>==&gt;</b></font><b> Starting package_ocaml()...</b>
/bin/sh: git: command not found
mkdir -p &quot;/usr/bin&quot;
mkdir -p &quot;/usr/lib/ocaml&quot;
mkdir: cannot create directory ‘/usr/lib/ocaml’: Permissio

[2019-06-17 19:19] juergenhoetzel commented on #8742
The build didn't contain the patch. But I get the same `git: command not found` error when the patch is applied. Anyway: The error is non-fatal, I should have read the error output more closely:

[code]

The `install` target doesn't install to the  buildroot:

[code]

The previous Arch Linux maintainer used `PREFIX` instead of `DESTDIR` (I don't know why). With version 4.07.1 this still worked.

U

[2019-06-17 19:46] juergenhoetzel commented on #8742
Couldn't this be replaced by
[code]

so the tarball release doesn't depend on `git`?

The reason why the build continues (despite this missing `git` command) seems the absence of `set -o pipefail`:

[code]

[2019-06-17 19:48] dra27 commented on #8742
What's puzzling me is why that variable is being evaluated at all - it shouldn't be. `set -o pipefail` is a bashism, I think?

There are various solutions, but I'd like first to understand why a variable which should not be evaluated is being evaluated at all (it's defined with `=`, not `:=`, and Posix is fairly clear on the subject!)

[2019-06-17 21:17] Armael commented on #8742
I'm a complete make noob, but doesn't [this line](https://github.com/ocaml/ocaml/blob/trunk/Makefile#L1276) (also present in the 4.08 makefile) force make to evaluate `$(AST_FILES)` in all cases? (and by transitivity, evaluating `$(SOURCE_FILES)` which runs git)

[2019-06-17 22:23] dra27 commented on #8742
@Armael - yes, that’s right, thanks! It evaluates dependencies even if you don’t request the rule. I’ll amend the PR accordingly.

[2019-06-18 04:45] juergenhoetzel commented on #8742
I can confirm: Removing this rule solves the problem. Thanks! :+1:

[2019-06-18 08:02] dra27 commented on #8742
I've pushed an additional fix to #8743, so this should be fixed in 4.08.1+4.09.0

[2019-06-18 13:46] dra27 commented on #8742
This has been fixed by moving the rules in question to `Makefile.dev` which is not `include`d if there is no `.git` file/directory in the build tree.

[2019-06-18 13:46] #8742 closed, assigned to nobody

[2019-06-18 14:56] trefis opened #8747 "incorrect principality warning on functional updates of records"
[code]

We know principally that `x` is `M.t` (as illustrated by `(* a *)` and the other functions), so we shouldn't get a warning.

What happens is this: we first typecheck `(* a *)`, at this point the expected type is a fresh variable, which can't be used to disambiguate the fields, so we look at the type of `x`.
However for `(* b *)`, the expected type is `M.t`, which we can use to disambiguate

[2019-06-18 18:12] rickyvetter opened #8748 "copying a single external to a new location"
Currently there is no way to copy a single external into a new module/location without reifying into a value. This makes writing code that can manipulate modules with external values tricky (functors, first-class modules, ppx). This is especially true for environments where accessing an external too early in execution can cause unexpected changes to code size. I have seen this specifically when ta

[2019-06-18 18:32] nojb commented on #8748
Could you provide a concrete example where this functionality would be useful ? Thanks!

[2019-06-19 01:57] bobzhang commented on #8748
@nojb Currently when aliasing an `external` function using let `let f = external_f`, the compiler would create a function, the proposal want to keep/propagate the external property so that no code generated. It helped most in JS backend where function creation has a performance cost and code size matters

[2019-06-19 09:05] XVilka commented on #8681
So I guess this can be closed now?

[2019-06-19 09:21] gasche commented on #8681
Indeed, thanks!

[2019-06-19 09:21] #8681 closed, assigned to nobody

[2019-06-19 11:04] nojb commented on #8699
@ojno it would be great if you could check if #8712 fixes the issue in your code, so that we can close this. Thanks!

[2019-06-19 11:19] lpw25 commented on #8748
Why is:
[code]
not sufficient?

You have to restate the primitive and the type, but if I understand your proposal correctly you'd have to do that in the `.mli` file anyway.

[2019-06-19 13:58] #8740 closed, assigned to damiendoligez

[2019-06-19 13:58] damiendoligez commented on #8740
FTR, it was re-generated, but the uploading instructions failed because of a leftover file.

[2019-06-19 15:35] Fourchaux opened #8752 "Broken links in the 4.08 Documentation"
Re-testing https://github.com/ocaml/ocaml/issues/8574 with the new rebuilt manual:

http://caml.inria.fr/pub/docs/manual-ocaml/index.html
http://caml.inria.fr/pub/docs/manual-ocaml-4.08/index.html

The following broken links are still present:
[code]
The _.../libref/...._ links (instead of _.../compilerlibref/..._) seem to be problematic.

[2019-06-19 15:43] rickyvetter commented on #8748
This is exactly why. If we are copying an external in a functor or via ppx we don't have the ability to restate the type.

I'm not really sure why a similar syntax wouldn't be viable. The proposal points to an external that carries both value and type information. `external ext: Target.ext` seems like a pretty reasonable syntax - although it may cause collisions with existing external syntax, in w

[2019-06-20 06:04] lpw25 commented on #8748
I guess it depends on how we think about externals and what their notion of equality is. At first it seemed strange to me because you could have:
[code]
where the interface says the externals are equal but the implementations are unrelated. This seemed odd because I was thinking of the externals as being generative/nominative in some sense. However, they are probably better thought of as being str

[2019-06-20 08:46] gasche commented on #8748
I agree that external aliases of the form `external foo = <identifier>` would make sense (in both structures and signatures). This is not a very elegant feature (I think that generally we've been trying to move away from having externals in signatures and expose `val` there, which is more user-facing) but it could in theory make sense for advanced users (and maybe API-generation tools, I suppose?)

[2019-06-20 20:46] rickyvetter commented on #8748
So [here's a snippet](https://gist.github.com/rickyvetter/17bdaaf1a35880cf1f00d07328254958#file-gistfile1-txt-L3) from a ppx that won't work as we would like with some comments explaining the issue. Please excuse the code - it's a little messy.

The reason we are operating on modules with known externals here is because in [ReasonReact a component is actually a pair of functions, one of which is u

[2019-06-20 20:53] rickyvetter commented on #8748
I think it's only "not very elegant" if your goal is to live in a pure OCaml world. If your goal is rich interop with a target language, it feels quite elegant. As much as I would enjoy living in a pure OCaml world these days, it's not the reality for many of us. Having rich and meaningful interop is a huge feature of OCaml that I would love to see celebrated. The fact that we can use idiomatic OC

[2019-06-20 21:01] gasche commented on #8748
I certainly didn't want to give the impression of criticizing your use-case with my remark on externals. My problem with externals is that they don't, to my knowledge, have a clear specification in terms of some precise model of the language. They are used in a certain way because their typical compilation scheme happens to allow it, but what they mean is not clearly specified.

[2019-06-20 21:31] rickyvetter commented on #8748
No, I don't feel criticized and hope I'm not taken as critical of your statement either. I think we likely have very different use-cases and I just wanted to express how this might feel very different for folks coming JS and moving toward writing OCaml.

I agree that the hand-wavy specification of externals is a major issue with this proposal and that if we were to formalize externals it would be

[2019-06-21 15:35] pmetzger commented on #8736
I suspect a pull request with a fix might be noticed faster than a normal bug report...

[2019-06-21 18:39] coolakshay59 opened #8761 "How to match a regex with a fixed range of repeated occurence using Str regexp?"
Is there a way to check following regex "[a-zA-Z]{0,50}" using Str regexp library? It looks like the braces with the range is not supported here.
I tried both using "[a-zA-Z]{0,50}" and "[a-zA-Z]\\{0,50\\}"

[2019-06-21 18:42] dra27 commented on #8761
You can’t do that with `Str` - I’d suggest using ocaml-re (https://github.com/ocaml/ocaml-re)

[2019-06-21 18:42] #8761 closed, assigned to nobody

[2019-06-21 22:34] c-cube opened #8762 "4.08 subtly breaks some functor-heavy code of mine"
I'm afraid I don't have a small repro for now.

On my wip project [sidekick](https://github.com/c-cube/sidekick) at commit 33a784316276c0d81ec08c4ce583e86893fc690b (master as of 2019-06-21), the whole thing compiles properly on 4.06.1 but fails on 4.08.0 with:

[code]

in code where there's literally `module A=A` in the body of the functor on the next line. It looks like some module alias (there a

[2019-06-22 07:14] lpw25 commented on #8762
This will be caused by #2051. The module type `ARG` must include some internal module aliases in it, something like:

[code]

Types like that are not allowed as the type for a functor parameter because you cannot (currently) have a module alias to a functor parameter. So what #2051 does is it weakens the specified parameter type to something like:

[code]

This means that, even though you wrote `A

[2019-06-25 12:24] damiendoligez commented on #6107
Fixed by #1492

[2019-06-25 12:24] #6107 closed

[2019-06-25 12:25] damiendoligez commented on #7672
Fixed by #1492

[2019-06-25 12:25] #7672 closed, assigned to nobody

[2019-06-25 15:00] Octachron commented on #8736
This was fixed with #8767 .

[2019-06-25 15:00] #8736 closed, assigned to nobody

[2019-06-25 20:47] copy opened #8769 "Invalid_argument("index out of bounds") in asmcomp/closure.ml when compiling packed module"
Tested on 4.08.0 (no flambda). It compiles fine on 4.07.

[code]

[2019-06-26 15:45] nojb commented on #8769
Thanks for the report. The bug was introduced by 111d4e18276dd1fe1605f0b9760d598a201ceb45 @lpw25

[2019-06-26 16:10] mshinwell commented on #8769
This appears to be a miscompilation of `ocamlopt`, given the offending source line and position is:
[code]

[2019-06-26 16:12] mshinwell commented on #8769
Or maybe `n` is negative, in which case it's not a miscompilation.

[2019-06-26 17:10] lpw25 commented on #8769
Fix in #8770.

[2019-06-28 13:57] alainfrisch opened #8776 "Slower compilation 4.07 => 4.08"
This is to document one case of significant degradation in compilation time between 4.07 and 4.08, on a synthetic example (originally created to stress-tess #8774).  In case someone wants to investigate further...

Results:

  - 4.07:  10s
  - 4.08, trunk: 19s

Reproduction:

After a `make world`, run:
[code]

with gen.ml:

[code]