[2020-05-15 13:57] garrigue commented on #5984
There is actually more and more pressure to do this, so I'm tempted of moving this PR from feature-wish to bug.
(BTW, refinement of non-local abstract types has been done...)

[2020-05-15 14:02] yallop commented on #5154
@ygrek: would you consider submitting a PR?

[2020-05-15 14:07] garrigue commented on #5863
Still worth considering.
Note that [nominal types](https://github.com/ocaml/RFCs/pull/4) are contractive, so adding them would already be an improvement.

[2020-05-15 14:08] nojb commented on #5154
I took the liberty of making a PR with his patch #9569

[2020-05-15 14:12] garrigue commented on #5818
@lpw25 Are we still waiting for a PR with the attached patch?

[2020-05-15 14:15] garrigue commented on #5849
This is a recurring request.

[2020-05-15 14:25] whitequark commented on #5823
Can be closed as duplicate, since the attached patch has significant flaws.

[2020-05-15 14:33] #5823 closed

[2020-05-15 14:39] lpw25 commented on #5818
My old patch allows ill-formed types and paths to be formed temporarily. I'm not a huge fan of that. Since I don't think people hit these cases very often, and recursive modules are incomplete in all kinds of ways, we can probably just leave this. If more people starting running into such problems it would be easy to resurrect the patch.

[2020-05-15 15:19] ygrek commented on #6798
I think first step is simple - just treating file extensions as C source - and then it will be user responsibility to make C compiler actually a c++ compiler (e.g. via `-ccopt -xc++`)
The second part - detecting c++ compiler in configure and supplying -lstdc++ is more involved, so can be left for later (moreover c++ is not required by ocaml build itself, so it will raise more questions)

[2020-05-15 15:26] yallop commented on #6014
I'm still in favour of this feature.

But I'm not sure about the tuple encoding, especially for equalities.  Currently

[code]

can be (and is) evaluated in the order `e1`, `p1`, `e2`, `p2`.  With the tuple encoding

[code]

the order changes to `e1`, `e2`, `p1`, `p2`.

[2020-05-15 19:17] #5987 closed

[2020-05-15 19:18] gasche commented on #5987
Closed by merging #9568. Thanks!

[2020-05-15 21:03] gasche commented on #7043
I proposed a PR in #9570. The implementation itself is simple (but still needs to be done and reviewed carefully), so it was mostly about pleasing the build system.

[2020-05-16 08:41] garrigue commented on #5514
We need to do something. Either fix or document.

[2020-05-16 08:43] garrigue commented on #5337
@mshinwell suggested a solution to this entry, in the form of a list of known limitations.
I see a number of potential entries. Where should it go?

[2020-05-16 08:50] garrigue commented on #5998
I'm fine with the label approach.

[2020-05-16 09:02] garrigue commented on #6137
Ok for that syntax. I will give it a try.
On a side note, after all these years we do not have syntax for binding existential types in patterns either.

[2020-05-16 09:49] yallop commented on #7074
Here's a concrete proposal, distilled from the discussion in #5780:

1. We allow (but do not require) explicit quantifiers for type variables in existential definitions.  The following are equivalent:
[code]
   Ordering of quantifiers *not* significant, just as it is not significant in the universal quantifiers in polymorphic record fields and polymorphic methods.  The syntax is also very close to

[2020-05-16 10:28] gasche commented on #7074
Distillation is warmly welcome here, thanks!

I don't like 2.a and 2.b, because I find `(C : type a b . <foo> . <p>)` visually confusing. Could we require `((C : <ty>) p)` for this form? It may be less discoverable and it is not perfect, but it is less confusing.

(Should we also allow `(C : ty) args` in expressions then?)

With this design patterns can introduce local abstract type constructors i

[2020-05-16 13:05] garrigue commented on #7074
@yallop's 3rd version does indeed make sense.

Yet, re-reading the discussion, the solution proposed by @stedolan above, and argued by @lpw25 in #5780, feels more natural. It's just a question putting a correct semantics on it.

It seems to me that, if we intend to match the existential type variables through normal unification, these new names should actually represent plain unification variables

[2020-05-16 14:44] lpw25 commented on #7074
I would be happy with parts 1 and 2c. The syntax is natural and easy to work out what it means. I have previously argued that 2c shouldn't need full type annotation. However, it is clearly forwards compatible to force full annotation now, and allow less annotation if we work out how to do it well later.

[2020-05-16 15:37] gasche commented on #7074
I would also agree to go for 1 and 2c, which have a nice consensus and do not open further questions (unlike 2a/2b).

[2020-05-16 18:07] #7043 closed, assigned to stedolan

[2020-05-17 11:33] XVilka commented on #7435
With the [official end of Camlp4](https://discuss.ocaml.org/t/the-end-of-camlp4/4216) it is not so relevant anymore. On the other hand it's still a bug in the compiler, independently from the Camlp4 status. It makes sense to minify the reproducer.

[2020-05-17 11:59] gasche commented on #7435
It is known that various parts of the backend are not tail-recursive and that we can get stack overflow if fed large enough programs. This is fine as long as the large programs are artificial examples, and we have decided accept the price if the large program is the result of a program generator that would like to use OCaml as a backend. We have a problem if human-written programs hit these limits

[2020-05-17 11:59] #7435 closed, assigned to mshinwell

[2020-05-17 16:34] xavierleroy commented on #9540
Looks like the answer is "yes": https://github.com/mirage/qubes-mirage-firewall/pull/96#issuecomment-625267322

[2020-05-17 16:34] #9540 closed, assigned to nobody

[2020-05-17 16:36] xavierleroy commented on #9320
Fixed by #9550

[2020-05-17 16:36] #9320 closed, assigned to nobody

[2020-05-18 02:35] bobzhang opened #9574 "Unclear scope of the recursive modules"
[code]
It complains about unbound type `Cat.t`, if I comment that line, everything is fine, is this a bug or expected behavior?
The error is Error: Illegal recursive module reference
This is a piece of generated code trimmed from the version reported here https://github.com/BuckleScript/bucklescript/issues/4383

[2020-05-18 03:01] jberdine commented on #9574
I don't know whether this is intended, but would cutting the cycle in something like the following way work in your case:
[code]

[2020-05-18 04:24] whitequark commented on #4671
I still think this would be useful for scripting in OCaml.

[2020-05-18 04:33] Armael commented on #5002
I suggest that we close the issue, as this is unlikely to be solved in ocamldoc, is solved in odoc, and ocamldoc is in progress of being replaced by odoc anyway.

[2020-05-18 05:02] #5002 closed

[2020-05-18 05:10] nojb commented on #6105
Duplicate of #4535

[2020-05-18 06:13] gasche commented on #4671
Note: there already is a different mechanism for this when calling ocaml with a "script file": only the arguments after the script file will be part of `Sys.argv`.

[code]

Given this facility, I am a bit hesitant to add a new mechanism as suggested in this feature wish.

[2020-05-18 06:50] xavierleroy commented on #4671
Yes, the feature wish is about interactive use, as far as I understand; scripting is already OK.

[2020-05-18 07:01] nojb commented on #3222
Menhir is the recommended parser generator for OCaml, ocamlyacc is legacy software and will not be changed except to fix serious bugs.

[2020-05-18 07:01] #3222 closed

[2020-05-18 07:09] nojb commented on #3238
Duplicate of #3930, fixed in 3.11 a16126b2a34e6ffcb3a8d7b600096c492067f851

[2020-05-18 07:09] #3238 closed

[2020-05-18 07:18] gasche commented on #4671
Maybe we could follow the suggestion of allowing `-- <extra args>`, and then use the same (slightly hackish) behavior as for scripting, namely overriding `Sys.argv`. This is close to what we are already doing, and it is backward-compatible: invocations without `--` still see all arguments as today.

[2020-05-18 07:32] #4535 closed

[2020-05-18 07:32] #6105 closed

[2020-05-18 07:34] whitequark commented on #4671
That sounds very nice.

[2020-05-18 07:34] gasche commented on #7049
Still relevant! @Octachron and @shindere worked on this last summer with an intern (Lereena), but it would require yet more work before something can be upstreamed, because it is tricky to have a maintainable approach -- it's easy to hack the build system to assume (ppx_)bisect is available and do something useful, but it is hard to have a robust solution that allows self-contained builds and also

[2020-05-18 07:37] xavierleroy commented on #2629
Maybe the semantics is "awkward", or maybe it's just let-rec in call-by-value that demands eta-expansion sometimes.  At any rate the dynamic semantics and lack of static analysis have remained much the same in 16 years, so I'm closing.

[2020-05-18 07:37] #2629 closed

[2020-05-18 07:40] xavierleroy commented on #2660
See #2629 for another example where eta-expansion is needed.  We haven't made progress towards static detection of ill-founded "module rec" in 16 years, so I'll close this report.

[2020-05-18 07:40] #2660 closed

[2020-05-18 08:09] xavierleroy commented on #3512
I'm willing to admit that `SO_REUSEPORT` is more widely available now, with slightly different semantics from `SO_REUSEADDR` (https://lwn.net/Articles/542629/).  A pull request, please?

[2020-05-18 08:32] xavierleroy commented on #3265
At some point in the 00's, Cygwin switched the default mode for mount points to binary, meaning that `open()` opens files in binary mode by default.  This is exactly the behavior we want for `Unix.openfile` (no translation of file contents ever), so we are good.

[2020-05-18 08:32] #3265 closed

[2020-05-18 08:48] xavierleroy commented on #3942
I'd rather treat the lists returned by `Unix.select` as sets, i.e. not specify anything about the order.

Searching a FD in one of the returned lists takes time O(length) indeed, but constructing the list in the first place (in the stub code for `Unix.select`) also took time O(length), so the overall complexity is unchanged.

Nowadays, applications that need to poll on many file descriptors don't

[2020-05-18 08:48] #3942 closed

[2020-05-18 08:59] xavierleroy commented on #4173
Too hard to reproduce + too many recent changes in relevant parts of the runtime system = closing.

[2020-05-18 08:59] #4173 closed

[2020-05-18 09:02] xavierleroy commented on #4431
13 years later it is safe to say that nobody cares about this little feature.  So, as the original reporter, I'm closing it.

[2020-05-18 09:02] #4431 closed

[2020-05-18 09:12] garrigue commented on #4907
Actually, I strongly prefer not changing the current behaviour.
If two nominal types are equal, their parameters should be equal too.
This has implications on the ability to unify their type constructors (generativity in Haskell parlance)..

[2020-05-18 09:12] xavierleroy commented on #4978
I don't think the marshaler will ever respect external sharing in a way that would preserve exception identity across marshaling.  Let us be realistic and close this feature wish.

[2020-05-18 09:12] #4978 closed

[2020-05-18 09:22] xavierleroy commented on #5005
I'll update the documentation of the Digest module.  I agree with @whitequark that it is best to leave the Digest module as it is today and turn to external libraries that provide cryptographically-strong hash functions.  For example, [nocrypto](https://github.com/mirleft/ocaml-nocrypto) works over `Cstruct.t`, which are essentially bigarrays of bytes.  This could be a good match for the use case

[2020-05-18 09:22] #5005 closed

[2020-05-18 09:24] stedolan commented on #7681
This looks like a bug in the attached C stub, which directly casts an OCaml value to `double*`:
[code]
Accessing floats from C should be instead done using the `Double_val` macro that the FFI provides, which expands to different code depending on whether `ARCH_ALIGN_DOUBLE` is set. (This setting is detected more reliably since #8532)

[2020-05-18 09:24] #7681 closed, assigned to nobody

[2020-05-18 09:27] Octachron commented on #5998
I added a new shiny `typing-GADTs` labels to all related issues. I am closing this meta-issue.

[2020-05-18 09:27] #5998 closed

[2020-05-18 09:36] nojb commented on #7681
Thanks @stedolan for the explanation, sounds right!

[2020-05-18 09:43] xavierleroy commented on #3145
The Win32 implementation of `Unix.utimes` was rewritten recently (commit af20b3e53) and seems to work fine with readonly files.

[2020-05-18 09:43] #3145 closed

[2020-05-18 09:51] xavierleroy commented on #9574
It is expected behavior that a recursively-defined module `X` cannot be used inside a `module type of` that defines its own signature.  This is to prevent nonsense such as
[code]
where the signature of `X` cannot be determined.

[2020-05-18 09:51] #9574 closed, assigned to nobody

[2020-05-18 10:09] mshinwell commented on #4987
I think given that there hasn't been a ping on this issue for a decade, it's reasonable to close this.  @mrvn (I assume this was from you) -- please submit a PR if this problem continues to cause trouble.  Thanks.

[2020-05-18 10:09] #4987 closed

[2020-05-18 10:12] mshinwell commented on #3747
This is a known problem with the current implementation of safe points that will be addressed by the multicore work.  Given that, I don't think this old issue needs to remain open.

[2020-05-18 10:14] mshinwell commented on #4134
Confirmed that this still exists with 4.10.

[2020-05-18 10:15] mshinwell commented on #3969
@xavierleroy Could you please advise what should be done for feature requests on the `Str` library like this one?

[2020-05-18 10:21] mshinwell commented on #4554
@kayceesrk Presumably multicore will provide other methods of dealing with such problems, so it would be appropriate to close this?

[2020-05-18 10:23] mshinwell commented on #4414
There is some work going on with respect to dead code elimination at the moment, and this pull request contains an interesting observation that may be relevant.  I'd rather leave this open.

[2020-05-18 10:26] mshinwell commented on #5195
There was no feedback following a ping at the end of 2016, so closing.  @bmeurer Please submit a PR if this is still important, thanks.

[2020-05-18 10:26] #5195 closed

[2020-05-18 10:47] kayceesrk commented on #4554
Yes. Domainslib already provides [channels](https://github.com/ocaml-multicore/domainslib/blob/master/lib/chan.mli) (without selective communication a la CML). These features do not (and should not) need to live in the compiler distribution. Hence, it is appropriate to close this one.

[2020-05-18 12:24] mmottl commented on #4907
Makes sense.  This issue is really old, feel free to close it.

[2020-05-18 12:39] mmottl commented on #3942
Agreed, `select` should be avoided for applications that require a lot of connections now that mature alternatives are available.

[2020-05-18 13:26] xavierleroy commented on #5005
The actively-maintained version of nocrypto is part of Mirage: https://mirage.github.io/mirage-crypto/doc/mirage-crypto/Mirage_crypto/index.html

[2020-05-18 14:23] #5428 closed

[2020-05-18 15:27] stedolan commented on #3747
Reopened because this is still an issue. There's some discussion about a potential fix in the multicore repo at ocaml-multicore/ocaml-multicore#187.

[2020-05-18 16:30] dbuenzli commented on #4672
Just to make things clear the reporter doesn't expect this sequence to fail:
[code]

After a bit of head scratching I think maybe this should be labelled as a bug report. The doc string of `ocamlmktop` in the manpage regarding `-I` is a bit schizophrenic:

[code]

In fact `ocamlmktop` is essentially a simple link invocation of `ocamlc` with the right libraries in the right order and these `-I` are

[2020-05-18 16:53] lpw25 commented on #4615
Judging by Xavier's analysis, I suspect that this issue was fixed when module aliases were added to the language. I'm not currently in a position to try the very old repro case, but I'm going to close anyway.

[2020-05-18 16:53] #4615 closed

[2020-05-18 16:55] lpw25 commented on #4559
Same as #6491

[2020-05-18 16:55] #4559 closed

[2020-05-18 18:01] craigfe commented on #7074
From an outsider's perspective, this does not make perfect sense to me. (Especially with the `<'a>` variant in the linked PR, since it is no longer benefiting from the analogy to `'a.` in record fields.)

One of the most common misunderstandings I see in OCaml is in thinking that constraints of the form `(x : 'a)` will achieve something, as in:

[code]

[code]

My standard response to this is some

[2020-05-18 18:17] garrigue commented on #4907
Thank you for your feedback.

[2020-05-18 18:17] #4907 closed

[2020-05-18 20:07] garrigue commented on #7074
But that was exactly my point: locally abstract types arising from existentials cannot be easily bound other than through some kind of unification process. However, if we use unification variables, we can at least have a way to refer to them (which doesn't imply anything more, i.e. the `'a` could as well refer to `int * int`). The role of the local binder is only to introduce this variable in the

[2020-05-18 20:58] gasche commented on #7074
Intuitively, one way to relate the notations `let f (type a) (x : a) = ...` and `| C (type a) (x : a) -> ...` is the following:
- in functions, a locally abstract variable is entirely determined by the *caller*, so the function cannot constrain it in any way
- in patterns, a locally abstract variable is entirely determined by the *scrutinee*, so the usage context cannot constrain it in any way (th

[2020-05-19 09:18] garrigue commented on #7074
This was also my analysis. The trouble being that, in normal unification mode, reification does not commute with unification. So that the syntax you suggested would actually be the safest bet.
[code]
I.e. give a complete type, and check that it properly instantiates the constructor. In particular, that all existentials are fresh (and distinct). Actually, this follows @yallop's [2(1)](https://githu

[2020-05-19 09:47] lpw25 opened #9581 "Alerts can have operators for names -- leading to unfortunate silent failure"
The following does not raise warning 47(bad attribute payload):
[code]
I believe that it gets parsed like:
[code]
and treated as a request to add the alarm called `(-)`, which then silently does nothing

This is an easy typo to make, so its unfortunate that this doesn't complain. I think we should fix it be demanding that the names of the alerts be normal identifiers not operator symbols, and fail

[2020-05-19 09:57] bikallem commented on #8802
I think we can close this now since it is included as part of 4.11.

[2020-05-19 09:57] #8802 closed, assigned to nobody

[2020-05-19 12:47] gasche commented on #7074
I don't understand what you mean here, can you elaborate? (In my intuition, but I don't know how local type variables are implemented, we would first type-check the pattern part with just local inference variables, then "ridify them" by turning the locally-bound parts into (rigid) local type variables, and then type-check the body. First we do unification, then rigification, and then more type-che

[2020-05-19 13:09] gasche commented on #7074
Intuitively, another approach would be to create locally abstract types from the start, and then type-check the pattern arguments against an instance of the constructor type where existentials are replaced by fresh unification variables (that can unify with the locally-abstract types). The unification variables could unify "too much", so we then need to check that the resulting inferred type prese

[2020-05-19 14:15] garrigue commented on #7074
It was a bit fuzzy. The essential problem is that rigid type variables cannot be refined during normal unification, so we need to decide them before using unification. The unify-then-rigidify approach only works if we know exactly the expected type.
So in practice we need something like your second approach, but I prefer a syntax where the expected instance comes in one piece, rather than having t

[2020-05-19 15:02] gasche commented on #7074
I can see how this is easier for the implementation, but it is also very constraining for the user who has to repeat the whole constructor type each time just for the usability benefits of naming the existential variables. In particular, this is in fact heavier in term of amount of information than the unpleasant trick of re-abstracting over the parameters that contain the existential variables to

[2020-05-19 15:33] garrigue commented on #7074
Well, I have a lot to answer.
First, and mostly unrelated, in general I prefer the `: type a. ... = fun` form because it is clearer, and not much more verbose (if you count all the punctuation).
Next, and foremost, in the case of introducing abstract types, `(type a)` is the primitive, and `: type a. ... =` is a derived form (just syntactic sugar). But for existentials in constructors, this seems

[2020-05-19 15:41] gasche commented on #7074
For me the problem with the fully-annotated form is not so much the length as the loss of locality: if I want to understand the type of `f`, I need to go back to the full annotation and traverse it the right amount to locate the type of `f`. This is much less useful in many cases than having just `(f : a -> b list)`. Also, giving variable names at the same time as the types often helps understandi

[2020-05-19 16:36] garrigue commented on #7074
I'm not sure what you are suggesting here. If you mean that the matching of the names and existentials can be obtained by unifying an instance of the constructor type with the annotations given by the user, and doing extra checks, this is indeed what I have in mind.
However, if you suggest using type inference on the patterns to collect this information, this becomes incomplete, since existentials

[2020-05-19 17:08] lpw25 commented on #7074
I haven't followed all of today's discussion, but I was interpreting Jeremy's 2c option to be:
[code]
where the type annotations are a required part of the syntax -- it is always an error to omit them. This seems basically equivalent to the above suggestion with an explicit type for the constructor, so I'd be surprised if it were somehow harder to type-check.

[2020-05-19 17:43] xavierleroy commented on #3969
I would say that that the Str library is in maintenance mode: bugs will be fixed, but it's probably not getting new features.  This, plus the fact that the proposed feature is not completely backward-compatible, suggest that we should close this PR.

[2020-05-19 17:43] #3969 closed

[2020-05-20 08:59] stedolan commented on #9485
When the optimisation was added, an equality comparison was done whenever two keys ended up in the same bucket, which happens regularly. These days, and equality comparison is only done if two keys have exactly the same hash (not just bucket), which is very rare.

[2020-05-20 09:03] stedolan commented on #9391
It's possible for an ephemeron key to change from white to black without any block changing from white to black.

Suppose we have an ephemeron E, which is itself marked but has a white key K and a white value V. E is in set (2) and ephe_list_pure is true.

We take another key K', which is already black, and we use set_key to modify the key of E. Now E has a black key, a white value, is in set (2),

[2020-05-20 09:16] damiendoligez commented on #6990
I don't think we want to change anything. When you are allocating a byte sequence that is more than half the machine's memory, it is probably better to switch to a bigarray that gives you better control of memory management.

[2020-05-20 09:16] #6990 closed, assigned to damiendoligez

[2020-05-20 13:37] garrigue commented on #7074
After various attempts, I implemented the following in #9584:
[code]
The reason the annotation is on the tuple rather than on individual arguments is that it is simple to enforce it at the parser level.
Note that the parser doesn't now anything about multi-ary constructors, they are only handled during type check.
I'm not sure how to handle inline records either, except if we allow using an explic

[2020-05-20 15:01] nojb commented on #4060
The filename that could not be opened is shown in the error message since b0041ea9631ec5938bd7931128be484bd1a00bd3, so closing!

[2020-05-20 15:01] #4060 closed

[2020-05-21 02:46] chetmurthy opened #9588 "pretty-printing of extension-constructors appears broken"
Ocaml version: 4.10.0

The pretty-printing of rebound extension-constructors appears broken.  Here's an example:
[code]
[`Official.Implem.pa` and `Official.Implem.pr` are wrappers around functions in compiler-libs.]

A quick perusal of `parser.mly` (line 3047) and `pprintast.ml` (line 1573) appears to confirm.  I'm going to presume that the parser is correct and the pretty-printer is wrong, and wi

[2020-05-21 10:32] XVilka commented on #9553
A good examples are:
- Rust std::vec::Vec https://doc.rust-lang.org/std/vec/struct.Vec.html
- Haskell Vector (this one is an external library though) https://wiki.haskell.org/Numeric_Haskell:_A_Vector_Tutorial#Generating_Vectors

[2020-05-21 10:34] Drup commented on #5514
At this point, it's pretty clear we want to keep the semantics of `with module` (where extra fields are inserted). The alternative semantics such as `with module M : S` might come naturally with transparent ascriptions.

[2020-05-21 10:44] Drup commented on #5241
@lpw25 Do you still intent to change this ?

[2020-05-21 10:45] Drup commented on #5407
As with the other ocamldoc feature requests, I suggest we close.

[2020-05-21 11:00] #5407 closed

[2020-05-21 11:01] Drup commented on #6380
I didn't but it could be considered, yes.

[2020-05-21 11:27] lpw25 commented on #5514
I would say that we want to strengthen the semantics, so that it adds a module alias.

Your actual point still stands though: transparent ascriptions give a better way to get the weaker signatures if you want them, so we don't need to weaken the semantics of `with module`.

[2020-05-21 11:31] lpw25 commented on #5241
I do. I have written the patch to make `module type of Foo` produce the type currently produced by `module type of struct include Foo` in the past, and used that to test the change on Jane Street's code base. My conclusion from that experiment was that the change would be much less painful once other parts of the module system were also strengthened. In particular, aliases of functor parameters an

[2020-05-21 11:32] Drup commented on #6633
(I think we should have a label for not-so-difficult-to-improve error messages)

[2020-05-21 11:41] Drup commented on #5241
Fair enough. :)

[2020-05-21 11:48] gasche commented on #6633
We have `newcomer-job-advanced` for things that are accessible to people unfamiliar with the compiler codebase, but that still require an "advanced" OCaml programming level and/or dealing with a somewhat complex problem. If you think it applies here, it could act as a superset of your label idea. (And if it does not, it's not clear what "not so difficult" means.)

(Usually when we apply the label

[2020-05-21 12:02] Drup commented on #6633
Sounds good. Can you add it ?

I think this one is pretty straightforward: the error message is created in `Typemod.report_error`. When formatting such lookup module type error, we simply need to look in the environment if a module of the same name exists and return an "advice" (attached to the original error). A similar approach is already implemented for spelling suggestions.

[2020-05-21 12:56] xavierleroy commented on #9291
I'm catching up with this discussion.

The "build in multiple directories" approach seems quite heavy to me.  It's basically a bootstrap.  Doing that for every build is wasteful.  Plus, our build system is complicated enough already.

My preferred approach would be to make sure that boot/ocamlc and ./ocamlc produce compatible .cmi files.  (Unless in transitory states where a bootstrap is required,

[2020-05-21 13:17] xavierleroy commented on #9291
Paging Dr. @Octachron, release manager: I don't think we can release 4.11 with a broken build in disable-flat-float-array mode, so either this is fixed quickly or #2188 will have to be reverted from the 4.11 branch.

[2020-05-21 13:51] gasche commented on #9291
One thing that I like with "multiple build directories" is that it would help with many other things, including:
1. cross-compilation (to avoid mixing object files written for the host and target systems)
2. nice interaction with Dune, or some other approach to also build the codebase with a released compiler for better Merlin support
3. the ability to bootstrap the compiler from another OCaml imp

[2020-05-21 16:47] xavierleroy commented on #9291
Sounds good to me.  Do you think you could do this in time for the next alpha/beta release of 4.11?

Re: multiple build directories, I'm not convinced yet, and the design needs to be articulated precisely, so let's keep that for later.

Re: on-demand computation of fixpoints, that could be expensive in some cases, but I have the impression that the solution is trivial most of the time.  Also, ther

[2020-05-21 19:00] chetmurthy commented on #9588
Sorry, my first attempt was based on 4.11; then I re-did it based on trunk.  Hope that was the right thing to do.

[2020-05-22 06:31] gasche commented on #9291
Yes, the "relocatable configuration" is something we discussed in the past and, I also agree, would be good and solve other problems as well. (And it's simpler than hacking the build system.) (For example, it may also help with cross-compilation, by making it easier to use the same compiler to generate code for the host system when we want, and for the target system when we want.)

[2020-05-22 06:40] yallop commented on #7898
I can reproduce this in 4.09.0, but not in 4.10.0.

[2020-05-22 06:56] nojb commented on #9291
Oops sorry closed by mistake.

[2020-05-22 07:29] gasche commented on #7898
This looks like a specific instance of the fact that our compiler backend is not tail-recursive and thus fails on unnaturally large inputs. In general we decided to not fix this for now, unless a proposal emerges that does not hurt readability/maintainability. (Hint: I think that with let-operators it may be more practical to use CPS in some parts of the backend if we decide to. Re. tail-recursive

[2020-05-22 07:29] #7898 closed, assigned to nobody

[2020-05-22 07:53] gasche commented on #9291
Re. "relocatable configuration" (reading the compiler configuration from a file, instead of a configure-generated static module): this looks like something that @shindere might be interested in looking at.

[2020-05-22 16:24] xavierleroy commented on #8678
There's a minimal fix in pull request #9594.

The Windows parts of `runtime/debugger.c` are dated and would deserve some cleaning up, but they should still work.  Note in particular that the sockets are opened in synchronous mode.

[2020-05-23 14:15] gasche commented on #9291
Note: I propose a fix for the #2188-specific source of `.cmi` difference in #9592.
(I believe this specific issue is blocking for the 4.11 release.)

[2020-05-23 15:19] gasche opened #9595 "incremental parallel build appears broken due to stdlib dependencies"
Since a couple months ago I see this kind of parallel-build failures when I switch to a different (but closely related) branch and run `world.opt -j5` again to be able to run the testsuite (note: maybe I should use `opt.opt -j5` instead?). This only affects incremental builds; cleaning and then rebuilding works fine (but takes a lot of time).

[code]

I decided to track this down today, and here i

[2020-05-23 16:25] xavierleroy commented on #9595
You didn't tell us which `make` target you used.

With `make`, i.e. `make world` or `make world.opt`, I was expecting stdlib/ to be rebuilt then .cmi files copied from stdlib/ to boot/, so this specific source of "inconsistent assumptions" should not show up.  However, `make world` and `make world.opt` were designed for a "start from a clean source tree" situation, so something else could make the

[2020-05-23 20:07] gasche commented on #9595
I think my reasoning in the first post doesn't quite work, because `make coldstart` should be done before everything when running `world.opt`, so indeed the "stale stdlib" phenomenon should not occur. I will try to wait until I get a reproducible failure (and not just a common but transient occurrence) to investigate more; in the meantime, closing this unconvincing report.

[2020-05-23 20:07] #9595 closed, assigned to nobody

[2020-05-25 08:11] #7718 closed, assigned to nobody

[2020-05-25 08:28] xavierleroy commented on #5693
This issue has not be observed in a long time.  It's not by lack of OCaml users who run macOS!  So, I'm takign the liberty to close.

[2020-05-25 08:28] #5693 closed

[2020-05-25 17:12] #7817 closed, assigned to garrigue

[2020-05-25 18:35] ashwinpn commented on #9129
take

[2020-05-26 12:58] Octachron opened #9603 "Typechecking bug in presence of constraints and polymorphic types"
The relaxing of the handling of polymorphic type in #1132 has unearthed a bug in the handling of polymorphic type unification when constraints are involved.
For example, the following code fails
[code]
for OCaml version starting from at least version 4.01 .

With the heavier reliance on explicitly polymorphic type unification, the following code fails starting with 4.11 :
[code]
Note that this fai

[2020-05-26 16:34] MisterDA opened #9605 "Compiling OCaml under the Windows Subsystem for Linux."
I have tried to compile OCaml 4.10.0 and OCaml 4.11 (e3b70486e5e4d9ff3f827b7635a61172a7f98763 as the
time of writing) under the Windows Subsystem for Linux, using MSVC64
2019 and mingw-w64.

I know that Cygwin is the supported build platform for Windows, but I
figure I’d give it a shot, considering that WSL is the new trend. I’m
trying to see what happens if one replaces Cygwin with WSL.

WSL has

[2020-05-26 16:42] nojb commented on #9605
@dra27

[2020-05-26 16:43] garrigue opened #9606 "ocamldebug became very slow"
I use frequently `ocamldebug` to debug `ocamlc` itself, and recently it became very slow.
I have to wait more than 10 seconds for things that took less than 1 second (in my qualitative memory...)

I am using trunk (4.12) on MacOSX Mojave.

[2020-05-26 17:01] gasche commented on #6744
I came to this code/patch while trying to understand how `occur_univar` failures affect type-checking in the process of reviewing #9545. I have a hard time understanding the code, so here are some beginner questions.

[code]

What I think the code does is that it tries to "remove" conjuncts that may contain an escaping univar. It first computes all those conjuncts on both side (this is `tlu1`, `tl

[2020-05-26 17:03] stedolan opened #9607 "Unboxability check breaks with module constraints"
This program was accepted with 4.10:
[code]
but with 4.11 or trunk, gives this error:
[code]
Removing the no-op `with type 'k t = string` constraint makes it pass again.

Curiously, manually expanding `module M : T with type 'k t = string` into `module M : sig type 'k t = string end` makes it pass as well, so the issue is probably something to do with with-constraints?

(cc @rlepigre, @gasche)

[2020-05-26 17:04] garrigue commented on #9603
Looking again at this problem (using ocamldebug), I see know that this is a known one: since we do not allow unifying normal type variables with types containing universal type variables, and since constrained type parameters are instantiated through unification of types containing normal type variables, one cannot expand a type containing free universal type variables in a constrained parameter p

[2020-05-26 17:11] xavierleroy commented on #9606
Could you post a script that reproduces the observed slowness?  I.e. an operation that takes > 10 seconds.  Reports without a repro case are unusable.

[2020-05-26 17:13] xavierleroy commented on #9606
(Clarification: by "script" I mean at least a transcript of an ocamldebug session.  Not necessarily a fully automated shell script, even though that would be nice too.)

[2020-05-26 17:15] gasche commented on #9607
Thanks for the report! It looks like the checker believes that `'a M.t` in your example is an abstract type. We probably missed a case, in the representation of types, of a type that is abstract but has a definition (manifest?). If this is the issue, it should be very simple to fix.

[2020-05-26 17:26] gasche commented on #9607
(No, we are correctly handling the abstract-with-manifest case I think, so this is not the issue.)

[2020-05-26 17:40] garrigue commented on #9606
Just one line is enough:
[code]
Up to 4.09 this takes less than 1s to run and exit, but since 4.10 this takes about 30s of wall time (but only 0.7s of user time, and 0.1s of system time, which seem both unchanged).

Quite mysterious to me. This looks like the process is waiting a lot, doesn't it ?

[2020-05-26 17:44] gasche commented on #9606
This looks like something that one can use `git bisect` for, to determine the change that introduced the slowdown between 4.09 and 4.10.

[2020-05-26 18:05] stedolan commented on #9606
It appears that the debugger is creating ~71k breakpoints using `set_event`, causing the debugged program to spend a long time in `find_breakpoint` (`runtime/debugger.c`). I'm not sure why it's creating the breakpoints, though.

[2020-05-26 19:48] gasche commented on #9606
Maybe the feature we merged to allow debugging of dynlinked code?

[2020-05-26 19:49] gasche commented on #9606
with older emacs modes.
  (whitequark and Jacques-Henri Jourdan, review by Gabriel Scherer
   and Xavier Clerc)

[2020-05-26 20:25] dra27 commented on #9605
Newish trend 🙂 I've dusted off my patches... these were originally written for either OCaml 4.03 or 4.04 in 2016 when WSL was first released, I shifted them forwards to an early dev version of 4.08 (pre-autoconf) in 2018 when I had a brief foray into getting OCaml on Windows 10 ARM64 working. They work for msvc and msvc64:

From either x86 or x64 Tools command prompt:
[code]
(copy `config/Makefile

[2020-05-26 20:38] gasche commented on #9504
Minor ping: the end is near.

[2020-05-26 20:42] dra27 commented on #9605
In 2016, `ocamltest` was in progress, but virtually the entire testsuite was still using a complex array of `Makefile`s. My findings with WSL1 back then was that the main build was faster, but only by a bit, but the testsuite was considerably faster (like 4 or 5 minutes quicker), because WSL1 has an efficient implementation of `fork` which Cygwin has to emulate. I would expect the difference in pe

[2020-05-26 21:50] pmetzger commented on #7783
This problem isn't really fixed; it should still be looked at. It's just a documentation change. I note that the move from the original bug tracker has messed up most of the formatting.

[2020-05-27 08:47] stedolan commented on #9606
#8654 introduced the O(n) `find_breakpoint` function, so perhaps ocamldebug was always creating 71k breakpoints, but that used to be fast?

[2020-05-27 08:48] gasche commented on #9607
I proposed a fix in #9609.

[2020-05-27 09:10] xavierleroy commented on #9606
But n = 1 here, no?  For a bytecode executable that does not use dynamic linking, there is only one code fragment.

That sounds expensive, and I can't remember the original ocamldebug doing this.

[2020-05-27 09:16] gasche commented on #9606
If I read the code correctly, code fragments are indexed in an extensible table `caml_code_fragments_table` (and debugger events give the fragment index `frag`, so we have O(1) access in all cases), but "breakpoint saved instructions" used to be saved in a fixed table `caml_saved_code[pos]` and are now a in linear-searched bag `breakpoints_table`. When there are lots of breakpoints it would be muc

[2020-05-27 09:19] stedolan commented on #9607
Thanks for the quick fix!

[2020-05-27 09:24] gasche commented on #9606
(If I understand the code correctly, `set_event` does not set a breakpoint, but it is caused by loading debug events. Creating 71K breakpoints would of course be wrong, but having 71K debug events is reasonable. I don't understand yet why we need the saved-code mechanism in this case (it's odd that debug event would be represented by overwriting instructions?), but it looks like the dynlink patch

[2020-05-27 09:33] xavierleroy commented on #9606
Indeed, debug events are replaced by a special EVENT instruction, whose purpose is (among others) to decrease `caml_event_count` and do stuff like checkpointing or stopping execution when it reaches zero.

This is atrocious, indeed.  Someone failed algorithms 101.

[2020-05-27 10:09] gasche commented on #9606
It's probably more of a case of someone not realizing what the complexity constraints/requirement were for this particular piece of code. (In particular, it is natural to assume that there are few breakpoints set during a debugging session.)

[2020-05-27 11:09] stedolan commented on #9606
Yes, this surprised me also, to the point that I assumed the problem was in ocamldebug. (If I understand correctly now, what the C code calls "breakpoint" includes all debug events, regardless of whether the user has set breakpoints or not).

[2020-05-27 11:44] shindere commented on #9501
Xavier Leroy (2020/05/07 10:18 -0700):

You are reading my mind, @dra27. Thanks.

[2020-05-27 11:45] shindere commented on #9501
I meant @xavierleroy, sorry.

[2020-05-27 11:58] shindere commented on #7123
Gabriel Radanne (2020/05/09 08:08 -0700):

That's part of the job I am supposed to do during my time with Cambium.

[2020-05-27 13:46] garrigue commented on #6744
The point is that `Reither` is instantiated by extension. So the univars are still there, on both sides, and they have been unified, so it is safe to assume that a univar on one side is equivalent to a univar on the other side. So this is sound. Of course, this is not really principal, as we unify them too early on, but it is just one of a number of features that have not so nice interactions with

[2020-05-27 14:15] bluddy commented on #9606
Would be good to document this with the fix so it doesn't happen again.

[2020-05-27 14:33] garrigue commented on #6744
#9612 adds a few extra examples, but due to other bugs or limitations, we cannot really exercise all cases in this code.

[2020-05-27 15:23] gasche commented on #9606
@bluddy would you be interested in submitting a fix for this issue? I would expect that moving from a linear-search bag to a (frag+pc)-indexed table for "saved instructions" is not very hard (I was considering giving it a go myself).

One would have to look at how the code-fragment table evolves (only in the bytecode runtime). Either we have to evolve the new table at the same time (this may requi

[2020-05-27 15:41] xavierleroy commented on #9606
I think we can rescue the current implementation by using binary search and sorting the array on demand, taking advantage of the fact that we have sequences of insertions followed by long sequences of searches, so the cost of sorting is amortized.

[2020-05-27 18:51] Lupus commented on #7375
I've just landed to this PR while googling for "OCaml reraise". Would be awesome to find the documentation page with clear explanation of the semantics for raise and re-raise instead :)

Hope this comment keeps the bot away from this issue for a bit.

[2020-05-28 00:51] bluddy commented on #9606
I'll give it a shot @gasche. I'll try @xavierleroy's simple suggestion first.

[2020-05-28 06:46] #9607 closed, assigned to nobody

[2020-05-28 06:53] jhjourdan commented on #9606
I'm sorry to come after the battle, but I don't think @xavierleroy's idea is the way to go, for two reasons:

1- It will require to add an instruction to the interface between the debugger UI and the interpreter. This is not nice, because it will also require enforcing an additional invariant that the sorting instruction is emitted before any use of the table.

2- Unloading a code fragment will st

[2020-05-28 07:05] gasche commented on #9606
I'm worried that the sorting approach could give code that is less clear, in the final version, than a copy-of-fragments approach (in addition to having a less interesting / more complex performance profile). But I guess that it is worth giving it a shot.

[2020-05-28 07:11] gasche commented on #9606
@jhjourdan I don'tt think we would need a sorting instruction. We could have a flag to remember if the array is sorted, set it when we sort and unset it when we add an element. But I agree that this is yet another piece of state to keep around.

[2020-05-28 17:17] xavierleroy commented on #9606
Yes, I was thinking along these lines.  But it is tricky to know when it is a good time to sort.

If nothing clever is proposed, I'll offer something based on the skip list library we already have (in globroots.c).

[2020-05-29 06:40] #8680 closed, assigned to nobody

[2020-05-29 09:01] garrigue commented on #9603
@lpw25 My conclusion for the time being is that one shouldn't use unification of first-class polymorphic types for anything other than polymorphic methods.

`polyfy`/`reify_univars` is only used in two places.
* #1132: actually, I'm not completely sure of why unification is needed them, since the type bodies are already unified, and there is a check that the type is polymorphic enough before that.

[2020-05-29 11:13] lpw25 commented on #9603
I'd have to check but I think you need it for things like ensuring that `'a 'b. 'a -> 'b` isn't implemented as `'a. 'a -> 'a`.

I can see relatively quick fixes that I think would work for 4.11. I would like to try to do those before we revert. (I would have done it on Wednesday but something urgent came up, I should have time this evening).

More long term I think that we should try to get rid of

[2020-05-29 12:00] johnwhitington opened #9616 "Report: building bytecode OCaml on AIX 7.2 with gcc"
A customer reports that the following procedure is required to successfully build bytecode OCaml on AIX 7.2 64bit (The latest major version, from 2015). These instructions are for GCC, not xlc, as in `INSTALL.adoc`.

[code]

I don't know if it is worth updating the document, or if any changes to OCaml would help to simplify this process, but I couldn't think of a better place to put this experienc

[2020-05-29 13:03] garrigue commented on #9603
I have done a fix in #9617. Of course only polymorphic recursion.

[2020-05-29 13:12] garrigue commented on #9603
That would be nice, but it can be tricky. Remember that we can have first-class polymorphism in recursive types. So we are talking of scopes in cyclic graphs, which cannot be structural. On the other hand, this may help to explain the regularity restriction.

[2020-05-29 13:25] #8854 closed, assigned to nobody

[2020-05-29 13:52] lpw25 commented on #9603
To be sure that I understand the difficulty, do you basically mean that it is hard to make sure that:
[code]
unifies with
[code]
but not also with:
[code]

[2020-05-29 14:16] Octachron commented on #8854
See #9618 which adds some minimal documentation.

[2020-05-29 14:59] garrigue commented on #9603
Yes, this kind of situations need to be handled properly.

[2020-05-29 15:02] garrigue commented on #9603
François Pottier has a paper on a closely related subject:
http://gallium.inria.fr/~fpottier/publis/gauthier-fpottier-icfp04.pdf

[2020-05-30 17:01] #9498 closed, assigned to nobody

[2020-05-30 21:20] gasche commented on #9595
I hit this problem again, I think. I am in a situation where I changed branches (going from trunk to a branch from a month ago), I run `make world.opt -j5`, and I see (after a coldstart that works correctly, in particular rebuilds the library):

[code]

Indeed, `ocamlobjinfo` tells me that `build_path_prefix_map.cmi` uses a cmi digest for the Stdlib that is different from the one in boot/stdlib.cm

[2020-05-31 07:42] gasche commented on #9595
I think it would make sense to add a dependency from compiler files (for example the `.mli.cmi` rule of the root Makefile, which is not used for the stdlib) to `boot/stdlib.cmi`.

One negative impact would be that, because we `cp stdlib.cmi boot/` during the coldstart, all world(.opt) builds would always rebuild all compiler files. This is wasteful if the stdlib has not changed (the case that work

[2020-06-01 05:19] yallop commented on #7241
The program in the original report still causes a segmentation fault, which seems reason enough to leave this open.

There's also been recent activity on this issue elsewhere. Under #717, @trefis [wrote](https://github.com/ocaml/ocaml/pull/717#issuecomment-541884112) in October 2019:

[2020-06-01 05:35] bluddy commented on #7241
I wonder how other languages with pattern matching and mutation deal with this issue (F#, Scala...). Do they all suffer from the same unsoundness?
Also, is there any possible way to address this in a multicore world with mutable state shared between threads?

[2020-06-01 07:02] gasche commented on #7241
Whether one is unsound or not is a question of assumptions and optimizations made during matching. Very naive implementations would typically be correct, and slightly more elaborate implementations may very well be buggy just as ours.

Handling multicore is not a difficulty. What we need is to reason about the points during pattern-matching where side-effects may be performed. Currently this happe

[2020-06-01 09:20] tperami opened #9622 "Ocaml versions older than 4.08 (included) do not build under GCC 10"
# Description

Ocaml 4.08 (and older version) do not compile with default GCC 10.1.0

I tried some other versions (`4.02.3`, `4.06.1` and `4.07.1`) via OPAM but not directly with their respective branches.

Ocaml 4.09 builds fine both directly and with OPAM. I didn't try 4.10 because it's my system ocaml

# Steps to reproduce
[code]

# Expected behavior

It builds without errors.

# Actual behavio

[2020-06-01 09:30] shindere commented on #7312
This issue still needs to be worked on.

It is assigned to me and I am happy to work on it.

[2020-06-01 10:10] tperami commented on #9622
I tried to do
[code]
But this seems to be fully ignored by the `configure` script and all the commands run by make do not contain this option.

[2020-06-01 10:17] Octachron commented on #9622
According to the discussion in https://discuss.ocaml.org/t/opam-switch-create-and-gcc10 , for 4.08
[code]
should work.
We will have to either fix the opam packages or patch the old branches with #9180. And it may make sense to release new bugfix versions.

[2020-06-01 10:21] tperami commented on #9622
@Octachron Thanks for the work around!
I didn't know that there was this website that I should have checked before posting the issue.
Maybe the issue should stay open until the problem is actually fixed? I'll let you decide

[2020-06-01 10:25] Octachron commented on #9622
It is a compiler issue that needs to be addressed, I am rather in favor of keeping it open.

[2020-06-01 13:12] hhugo opened #9624 "Issue with unboxability check"
The following use to compile with OCaml 4.10 and no longer does (OCaml 4.11).
It was first reported as https://github.com/ocaml/ocaml/issues/9607, The fix in #9609 was not enough and introduced in uncaught exception. It's unclear to me whether there are multiple issues at play here.

[code]
Here is the error I get with @gasche 's patch from https://github.com/ocaml/ocaml/pull/9609#issuecomment-636

[2020-06-01 13:12] hhugo commented on #9624
tentative fix in https://github.com/ocaml/ocaml/pull/9623

[2020-06-01 13:32] gasche commented on #9624
Here is, from https://github.com/ocaml/ocaml/pull/9623#issuecomment-636860856, a reproduction case for a similar problem with variance instead of separability:

[code]

[code]

[2020-06-01 17:10] #8678 closed, assigned to nobody

[2020-06-01 17:31] #5154 closed

[2020-06-02 08:50] CraigFe opened #9626 "Sys_error("Broken pipe") printed to console on `opam list`"
On `2.1.0~alpha`, piping `opam list` into a process that breaks the pipe causes a "Fatal error" message to be printed to the console. The exit code is 0 regardless.

[code]

I would expect `opam` to handle a `SIGPIPE` here with no error message.

[2020-06-02 09:01] #7708 closed, assigned to nobody

[2020-06-02 09:05] #7446 closed, assigned to nobody

[2020-06-02 15:40] stedolan commented on #7221
Fixed in #9560

[2020-06-02 15:40] #7221 closed, assigned to nobody

[2020-06-03 06:15] shindere commented on #9291
Gabriel Scherer (2020/05/22 00:53 -0700):

Why not, in the long run.

[2020-06-03 07:36] tperami commented on #9553
Among the libraries than need to be checked for usage, there is probably [res](https://opam.ocaml.org/packages/res/). `Res.Array` is a dynamically resizable array like `CCVector` or `BatVect`. It's a dependency of Jane Street `core` which maybe expose it under a different name.

[2020-06-03 11:21] hhugo opened #9627 "trunk uses magic number from 4.10 - should use the one from 4.11"

[2020-06-03 15:31] #7741 closed, assigned to lpw25

[2020-06-03 15:47] #7520 closed, assigned to nobody

[2020-06-04 09:51] xavierleroy commented on #9606
See PR#9635. @garrigue 's repro (https://github.com/ocaml/ocaml/issues/9606#issuecomment-634172351) takes 0.6 seconds on my machine.

[2020-06-04 11:21] gasche commented on #9624
@hhugo the problem should be fixed now that #9623 is merged (in trunk and 4.11). Would you mind trying to reproduce on your end, to confirm that the issue is fixed?

Note: I proposed an earlier patch, https://github.com/gasche/ocaml/commit/2a142de27c5b1d190a8ad48c43b4f9b4fd7cfef8 , to fix a related issue (an uncaught `Not_found` exception). I currently believe that this patch was not the right way

[2020-06-04 11:40] shindere commented on #7275
This meta-issue has been silent so I will close it now.

It can always be reopened if it becomes useful again in the future.

[2020-06-04 11:40] #7275 closed, assigned to nobody

[2020-06-04 14:28] shindere commented on #6959
I guess this still needs to be fixed.

Will try to provide a fix ASAP.

[2020-06-04 14:37] hhugo commented on #9624
I tested your newer patch two days ago and it was working fine.
I'll rebase again to make sure I have the full diff
I'll close the issue now and reopen if something goes wrong

[2020-06-04 14:37] #9624 closed, assigned to nobody

[2020-06-04 14:46] shindere commented on #6859
Does someone know how opam proceeds to deal with the issue?

It seems highly non-trivial to me,, at the moment.

I guess this will be fixed by the whole work on cross-compiling, but
it's probably not possitle to work on just fixing this directly, out of
this global cross-compiling context.

[2020-06-04 15:11] lthls commented on #6859
The opam switches for creating 32-bit compilers on 64-bit machines (with the `+32bit` suffix) simply pass some options to the `configure` script so that the compiler assumes a 32-bit architecture, and the external tools (the C compiler, linker and assembler) are called with the right options to generate 32-bit code. This works because at least on x86, 64-bit processors (and operating systems, I as

[2020-06-04 15:16] bschommer commented on #6959
#9523 deals with a similar issue due to the fact that header files are installed in the library dir, maybe one could combine a fix for both.

[2020-06-04 15:28] vprevosto opened #9637 "performance regression of ocamldebug in 4.10.0"
Running `frama-c.byte` (the bytecode version of [Frama-C](https://git.frama-c.com/pub/frama-c/)) in `ocamldebug` has become much slower in 4.10.0 with respect to 4.09.0. As `frama-c` relies heavily on dynamic loading of OCaml modules, I'd tend to suspect that this might be related to #8654, but I didn't bisect to confirm.

Basically doing `run` on `ocamldebug frama-c.byte` (i.e. letting `frama-c`

[2020-06-04 15:33] nojb commented on #9637
Sounds like #9606, fix in #9635.

[2020-06-04 16:08] shindere commented on #5890
Yes, the issue is still there and really needs to be fixed.

[2020-06-04 16:11] shindere commented on #6859
OK thanks! Makes sense and things are clear!

[2020-06-04 16:14] shindere commented on #6959
Bernhard Schommer (2020/06/04 15:16 +0000):

Do you really mena `.h` files?

From what I can see in `runtime/Makefile` those seem to be installed in
`$(INSTALL_INCDIR)`...

[2020-06-04 16:43] vprevosto commented on #9637
Indeed, #9635 restores `ocamldebug` performances. I didn't see them in the issues labelled `ocamldebug` which is why I reported this one in the first place. Thanks for the link.

[2020-06-04 16:43] #9637 closed, assigned to nobody

[2020-06-04 16:44] bschommer commented on #6959
The Problem is that the `$(INSTALL_INCIDIR)` is equivalent to `$(LIBDIR)`. Currently `ocamlopt` adds a `-I $(LIBDIR)` to the call to the C compiler and as described in issue #9523 there is a  C++ standard header `version` that clashes with the file `VERSION`, at least for a case insensitive file systems (such as windows).

If you split the install directories of the binaries and libraries one coul

[2020-06-04 16:50] shindere commented on #6959
I'll have to investigate whether autoconf provides support for header
directories as it does for library directories. Not sure.

[2020-06-04 16:54] xavierleroy commented on #9637
It feels so good to have submitted the fix 6 hours before receiving the bug report :-)

Thanks for the confirmation!  Technically, we were O(n) in the past, then got to O(n^2) with #8654, and are down to O(n log n) with #9635 .

[2020-06-04 17:04] bschommer commented on #6959
I think it does as `@includedir@` but adding support for this might result in problems if one manually invokes the C compiler and uses for `$(ocamlc -where)` for adding the include path as it is currently recommended in the manual.

[2020-06-04 17:05] xavierleroy commented on #6959
I was about to write exactly the same thing.  We could un-recommend this usage in the manual, but a lot of makefiles use it in the wild.  I think we can find a different solution for #9523.

[2020-06-04 17:10] bschommer commented on #6959
After thinking about this a little more I would argue that if this issue is fixed, i.e. the binaries are no longer installed in `LIBDIR`, it would suffice to just not install the file `VERSION` to fix #9523.

[2020-06-04 17:15] xavierleroy commented on #9523
I'm a bit irritated at C++ for 1- not requiring a suffix on its header files (suffixes are the poor man's type system), and 2- hijacking such common names as "version".  Half of my directories have a file named "Notes" in them.  Does it mean that when C++2032 standardizes a "notes" header file, half of my directories will become unsuitable for C++ compilation?

One solution is just to stop install

[2020-06-04 17:21] bschommer commented on #9523
I agree that this is bad style, however most C++ standard header files don't come with a suffix and I think at least a std before this would have helped.

[2020-06-05 04:19] #8080 closed

[2020-06-05 04:19] #8100 closed

[2020-06-05 04:19] #8247 closed

[2020-06-05 04:19] #8074 closed

[2020-06-05 04:19] #7962 closed

[2020-06-05 04:19] #7896 closed, assigned to nobody

[2020-06-05 04:19] #7900 closed, assigned to nobody

[2020-06-05 04:19] #7889 closed, assigned to nobody

[2020-06-05 04:19] #7892 closed, assigned to nobody

[2020-06-05 09:50] hhugo opened #9640 "Possible regression following 9623"
The following compiles with 4.10 and 4.11+alpha2 but fails with ocaml/4.11
@gasche, it's likely related to your work on https://github.com/ocaml/ocaml/pull/9623

[code]
[code]

[2020-06-05 10:00] dra27 commented on #9627
Actually the 4.11 magic numbers haven't yet been bumped - @Octachron, is that because they'll be bumped at the first beta release?

@hhugo - is it causing a problem at this stage?

[2020-06-05 10:02] gasche commented on #9627
I believe that the 4.11 magic numbers were bumped in

  https://github.com/ocaml/ocaml/commit/7c8c9452f45a8bd5d7cad74451bd318e0e5255d7

[2020-06-05 10:05] hhugo opened #9641 "Report a new warning when curried function allocate an extra closure ..."
.. due to pattern-matching on mutable argument
This is following https://github.com/ocaml/ocaml/pull/1308

The goal is to give more visibility to theses hidden allocation point. It's currently too easy to degrade performances.

[2020-06-05 10:06] dra27 commented on #9627
Gah - sorry, I apparently had only fetched 4.11, not pulled it.

[2020-06-05 10:09] dra27 commented on #9627
I'm happy to do the cherry-pick and bootstrap unless someone else is doing it already?

[2020-06-05 10:12] Octachron commented on #9627
I have bumped the number for 4.11 just before the first alpha indeed.

I have been wondering if we should systemically update the magic numbers before branching the new release branch.

cc @damiendoligez

[2020-06-05 10:30] gasche commented on #9640
Thanks! I will try to look at this as quickly as possible (but I'm probably not working this afternoon). This is indeed a regression caused by #9623, but probably by the signature handling rather than the with-type part. (cc @lpw25 @garrigue, who could know better what is causing this).

[2020-06-05 12:35] garrigue commented on #9640
Indeed, the problem is with the fixed `sig_env` computed at the beginning.
If we revert to incrementally extend `initial_env` using `Env.add_item`, this code goes through.
Which is strange, as typability is supposed to be monotone wrt environment extension.
At least if we're not shadowing an identifier.
Some identifier conflict?

[2020-06-05 12:41] garrigue commented on #9640
Much simpler: we extend the environment with the outside signature, but we fail to do that for inner modules. And here we are constraining an inner module...

[2020-06-05 13:00] gasche commented on #9640
Thanks @garrigue, I will have a look at your PR.

In the meantime, I built a smaller repro case:

[code]

[2020-06-05 13:04] garrigue commented on #9640
Indeed, the same thing happens with type constraints in submodules.

This said, my remark about overwriting identifiers in the environment is valid in general: while we may be doing it intentionally, this is potentially dangerous, as we assume monotonicity when working with the environment, and it could break it (but this is not what happens here).

[2020-06-05 13:36] xavierleroy opened #9643 "tools/check-typo and Ubuntu 20.04"
On a default installation of Ubuntu 20.04, `tools/check-typo` produces thousands of error lines like this:
[code]
Reason: in Ubuntu, the default `awk` is `mawk`, which cannot execute `tools/check-typo`.  Before 20.04, the problem was detected and reported by `check-typo`:
https://github.com/ocaml/ocaml/blob/ae5eb6b4719b7fafa062dd983c5dbdbd295e70c1/tools/check-typo#L176-L182

However, Ubuntu 20.04

[2020-06-05 14:04] gasche commented on #9640
I don't think we are overwriting identifiers in the environment. Before #9623, we were incrementally adding each signature item to the outer signature (so no overwrite), but Leo pointed out that this doesn't make sense when items are mutually recursive. After #9623, we add all signature items at once before traversing them, but then we don't add them incrementally, so there is no overwrite either.

[2020-06-05 14:08] gasche commented on #9643
Could we fix the issue by explicitly calling `gawk` instead of `awk`? My Fedora machine at least exports both, and "missing gawk" errors are easy to diagnose and fix.

[2020-06-05 14:15] gasche commented on #7900
Ah, that would be nice. If we did this consistently we would never need to worry about architecture-dependent factors to reason about stack usage, and `[@tailcall]` would be more reliable.

[2020-06-05 14:20] xavierleroy commented on #7900
Tut, tut, no commenting on closed issues!  But please see my recent pull request #9620 -- one of a batch where I'd like to get more reviewing, by the way --, it provides most of the machinery to do that.

[2020-06-05 15:18] garrigue commented on #9640
(As I wrote above) the problem here is not with overwriting, just that we had removed all addition of the items of submodules.
But while looking for the problem, I instrumented `Ident.add`, and observed that this kind of overwriting occurs in the compiler. Removing those occurrences would avoid considering this possibility.

[2020-06-05 16:11] xavierleroy commented on #9627
All this manual management of magic numbers is a pain.  Why don't we derive magic numbers from the version number?  This way there's only one thing to update by hand: the VERSION file.

[2020-06-05 16:13] #9643 closed, assigned to nobody

[2020-06-05 19:10] #9640 closed, assigned to nobody

[2020-06-05 19:15] gasche commented on #9640
@hhugo there is now a fix by @garrigue in both trunk and 4.11. We're looking forward for your next bug :-)

[2020-06-06 08:43] nojb commented on #9627
See #9645 for a possible approach.

[2020-06-07 13:01] anmolsahoo25 commented on #7550
If I understand this correctly, this behavior is because in the first case the type is assumed to be non-injective, thus it unifies `int t s` and `float t s` whereas in the second case, the type is injective, thus `int t s` and `float t s` are now distinct and can be refuted. (Apologies for the imprecise wording, I guess, not too well-versed with OCaml's type theory)

[2020-06-08 04:19] #7913 closed, assigned to Octachron

[2020-06-08 04:19] #7906 closed, assigned to dra27

[2020-06-08 04:19] #7888 closed, assigned to nobody

[2020-06-08 04:19] #7857 closed, assigned to nobody

[2020-06-08 04:19] #7875 closed, assigned to nobody

[2020-06-08 04:19] #7856 closed, assigned to nobody

[2020-06-08 04:19] #7837 closed, assigned to nobody

[2020-06-08 04:19] #7791 closed, assigned to nobody

[2020-06-08 04:19] #7802 closed, assigned to nobody

[2020-06-08 04:19] #7772 closed, assigned to nobody

[2020-06-08 04:19] #7788 closed, assigned to nobody

[2020-06-08 04:19] #7771 closed, assigned to nobody

[2020-06-08 04:19] #7716 closed, assigned to nobody

[2020-06-08 04:19] #7724 closed, assigned to nobody

[2020-06-08 04:19] #7700 closed, assigned to nobody

[2020-06-08 04:19] #7693 closed, assigned to nobody

[2020-06-08 04:19] #7697 closed, assigned to nobody

[2020-06-08 04:19] #7685 closed, assigned to nobody

[2020-06-08 04:19] #7673 closed, assigned to nobody

[2020-06-08 04:19] #7646 closed, assigned to nobody

[2020-06-08 04:19] #7648 closed, assigned to nobody

[2020-06-08 04:19] #7644 closed, assigned to nobody

[2020-06-08 04:19] #7633 closed, assigned to nobody

[2020-06-08 04:19] #7634 closed, assigned to nobody

[2020-06-08 04:19] #7596 closed, assigned to Octachron

[2020-06-08 04:19] #7606 closed, assigned to nobody

[2020-06-08 04:19] #7573 closed, assigned to nobody

[2020-06-08 04:19] #7590 closed, assigned to nobody

[2020-06-08 04:19] #7572 closed, assigned to nobody

[2020-06-08 04:19] #7545 closed, assigned to chambart

[2020-06-08 04:19] #7558 closed, assigned to nobody

[2020-06-08 04:19] #7540 closed, assigned to nobody

[2020-06-08 04:19] #7518 closed, assigned to dra27

[2020-06-08 04:38] smuenzel-js commented on #8563
can we reopen this issue?

[2020-06-08 06:12] nojb commented on #7716
The path ordering issue was fixed in #9611

[2020-06-08 06:13] nojb commented on #7715
Reopening as it will be closed by #9618

[2020-06-08 07:03] gasche commented on #7853
I had missed this stalebot notification when it came in last month, but this issue is still alive. I contributed a bit to @Ekdohibs' interpreter, which is now able to interpret the native compiler. (The bytecode compiler is tricky to support well, due to the usage of marshalled data within `.cmo` files; the interpreter uses a different marshalling format, and the build system tries to use the just

[2020-06-08 07:52] nojb commented on #7853
(I suggest removing the Stale label as well to clearly mark issues as still relevant.)

[2020-06-08 07:57] jhjourdan commented on #9606
I note that Coq developpers asked for #8654 with tears, but apparently did not even tried it, since they would have noticed the bug. (That's not without having noticed them in https://github.com/ocaml/ocaml/pull/8654#issuecomment-511812420.).

Cc @ppedrot, @maximedenes

[2020-06-08 08:04] gasche commented on #9606
To play the "good cop" for once: let me speculate that traditional ocamldebug-users (among Coq developers) are using older OCaml version for development, using Emilio's static-linking workaround to debug plugins, and they haven't yet adapted their workflows to the new feature (... or, apparently, tried ocamldebug under OCaml 4.10).

This makes sense in the wider context: 4.10 has only been out for

[2020-06-08 08:28] ppedrot commented on #9606
I confirm @gasche's speculations: the most recent OCaml version I personally use for daily Coq development is 4.08. Furthermore, Coq was made compatible with OCaml 4.10 only quite recently.

[2020-06-08 08:42] gasche commented on #9606
You miss all our good new stuff and also our bad new stuff.

[2020-06-08 13:19] #9606 closed, assigned to nobody

[2020-06-08 18:00] mjambon commented on #7823
I think this issue is still valid and shouldn't be closed.

[2020-06-08 18:15] nojb commented on #7823
For the CLI interface we could go the way of the C compilers/clang, and use specific flags `-Wfoo`, `-Wno-foo` for each warning, see https://clang.llvm.org/docs/DiagnosticsReference.html

[2020-06-09 04:45] ajaymas opened #9658 "./build failed through ocamlfind package after updating OCaml compiler from 4.01.0 to 4.05.0 or new version"
Hello,
I am trying to build our project on the OCaml compiler 4.05.0 or 4.07.1 version. Basically the original version of our project called Uroboros (https://github.com/s3team/uroboros) was implemented and currently, it is working well with the Ocaml compiler version 4.01.0. However, after updating the compiler version to 4.05.0 or newer its failed to build and getting some strange error that is

[2020-06-09 04:51] gasche commented on #9658
This is not a compiler bug, but a bug in your build script (you are incorrectly passing an `-ocamlopt` option to ocamlbuild). Could you please open an issue on your software repository, and post the link here?

[2020-06-09 04:51] #9658 closed, assigned to nobody

[2020-06-09 06:58] garrigue commented on #9606
@xavierleroy Thanks !

[2020-06-09 07:40] gasche commented on #9658
Note: the error in your build script was [reported on your issue tracker in 2017](https://github.com/s3team/uroboros/issues/3), with a proposed fix.

[2020-06-09 13:00] #7715 closed, assigned to nobody

[2020-06-10 04:19] #7470 closed, assigned to Octachron

[2020-06-10 04:19] #7464 closed, assigned to nobody

[2020-06-10 04:19] #7445 closed, assigned to nobody

[2020-06-10 04:19] #7441 closed, assigned to nobody

[2020-06-10 04:19] #7442 closed, assigned to nobody

[2020-06-10 04:19] #7440 closed, assigned to nobody

[2020-06-10 04:19] #7425 closed, assigned to gasche

[2020-06-10 04:19] #7404 closed, assigned to nobody

[2020-06-10 04:19] #7359 closed, assigned to garrigue

[2020-06-10 04:19] #7356 closed, assigned to nobody

[2020-06-10 04:19] #7320 closed, assigned to nobody

[2020-06-10 04:19] #7340 closed, assigned to nobody

[2020-06-10 04:19] #7296 closed, assigned to nobody

[2020-06-10 06:54] gasche commented on #7320
@garrigue @lpw25 this sounds like a proposal you would have opinions about. Did you review this issue during its stale period?

(I think that the level mechanism suggested doesn't really work as an implementation approach because levels are only bumped in this example at `let f`, not after the `let ... in`. But the example seems interesting and the general idea of relaxing notions of syntactic val

[2020-06-10 11:51] gasche commented on #9640
@hhugo gentle ping: this has been very helpful so far, so I'm curious to know if you have managed to typecheck your codebase with 4.11, or if there may be more typing-related issues left to be found (the earlier they are reported, the better).

[2020-06-10 12:22] hhugo commented on #9640
I should be able to give you an update later today

[2020-06-10 14:13] hhugo commented on #9640
my build is green, no more bug to report at the moment

[2020-06-10 15:03] garrigue commented on #7359
Checking with trunk (before 4.12), the hint has disappeared. I don't know where it happened.

The error is still there, but it seems correct: the problem is the same module is used as packed for a value, and through the original cmi for a type. Since this type is structural, there is no error at this point. Later the type is no longer accessible, which makes it implicitly abstract, hence the error

[2020-06-10 15:38] garrigue commented on #7320
I'm aware of this idea. @fpottier and @diremy repeatedly suggested doing that. This is not so easy to do it with the current implementation, so I didn't revive it, but we will certainly consider it if we change the inference algorithm.

[2020-06-10 17:19] diremy commented on #7320
Indeed, we discussed this with @garrigue and also @xavierleroy a long time ago, and yes, we only need to disallow generalization of type variables that contribute to the type of an exposed expansive expression where application of contructors are non-expansive and expressions under abstractions are not exposed. This is known to be sound.

I am not sure that this alone cannot be fixed in the curren

[2020-06-10 19:41] ajaymas commented on #9658
@gasche ./build issue is resolved the detailed explanation link is worked. currently, the Uroboros tool is working well on both 4.05.0 and 4.07.1 OCaml compiler.
If anyone noticed this bug. The below changes is needed in /src/build   file
1. go to /src/build
2. open build file with any editor
3. By default, the last line of the code is written as:
.... -ocamlopt "-inline 20" -ocamlopt -nodynlink
4

[2020-06-11 04:40] XVilka commented on #7001
There is also a [LIEF](https://lief.quarkslab.com/) but it's [written in C++](https://github.com/lief-project/LIEF) and quite heavy for this use, it also focuses on the instrumenting and patching binaries instead.

[2020-06-11 05:23] ajayfield opened #9666 "Hire a Local SEO Consultant For Your Business"
The importance of hiring an [SEO Consultant in Tirupati](https://www.thallalokesh.com/seo-consultant-tirupati/) can never be ignored. You should not just look at how much money they are charging you for their services, but also at the value they will add to your business by providing the marketing strategy and all the internet marketing requirements you need.

The best way to find a local SEO cons

[2020-06-11 06:11] #9666 closed

[2020-06-11 14:22] jhjourdan commented on #9071
FTR, I have just figured out that the issue is deeper than what we thought, since in OCaml, calling the `Unix.fork` function causes all threads but one to be killed. Obviously, the killed threads had no opportunity to free their resources.

I'm updating the main statement of the issue.

[2020-06-11 14:35] gasche commented on #9071
I'm not sure I understand. Are we talking about threads killed in the parent program or in the fork child? My assumption would be that "all threads but one are killed" in the child program, only the thread that corresponds to the parent's forking thread survives.

The initial message of your PR was about resource safety for non-memory resources; would the proposal of raising an exception be safer

[2020-06-11 16:22] sbriais commented on #8724
Should we close this issue?

[2020-06-11 16:26] johnwhitington opened #9667 "libbigarray.a seems to no longer be built or installed"
Tested with trunk and 4.10 on OS X.

I have searched through the open and closed issues and pull requests and can't find any reference to the reasons for this. `libunix.a`, which is the most similar item, still exists.

The last reference to `libbigarray.a` in the Changes file is for 4.07.0.

[2020-06-11 16:29] nojb commented on #9667
`Bigarray` has been included inside the stdlib since 4.07 (with the exception of `map_file` which has been merged into `Unix`), so `libbigarray.a` is no longer needed or built.

[2020-06-11 16:30] nojb commented on #8724
Sure. There doesn't seem to be much demand for changes in this direction.

[2020-06-11 16:30] #8724 closed, assigned to nobody

[2020-06-11 16:39] johnwhitington commented on #9667
Thanks!

[2020-06-11 16:39] #9667 closed, assigned to nobody

[2020-06-11 17:35] xavierleroy commented on #9071
I would not give too much though to Unix.fork in multithreaded programs.  The POSIX threads semantics for `fork()` (fork only the calling thread) is very hard to use to begin with, and it is likely that Multicore OCaml will make Unix.fork fail if the program has more than one domain (system thread).

[2020-06-12 04:19] #7910 closed, assigned to nobody

[2020-06-12 04:19] #7283 closed, assigned to nobody

[2020-06-12 04:19] #7274 closed, assigned to nobody

[2020-06-12 04:19] #7267 closed, assigned to nobody

[2020-06-12 04:19] #7255 closed, assigned to nobody

[2020-06-12 04:19] #7251 closed, assigned to nobody

[2020-06-12 04:19] #7236 closed, assigned to nobody

[2020-06-12 04:19] #7206 closed, assigned to nobody

[2020-06-12 04:19] #7185 closed, assigned to damiendoligez

[2020-06-12 04:19] #7175 closed, assigned to nobody

[2020-06-12 04:20] #7155 closed, assigned to nobody

[2020-06-12 05:13] gasche commented on #7910
This seems related to the work in #9596: possibly something that is easier to think about with an explicit representation of effectful test actions.

(cc @shindere @nojb)

[2020-06-12 06:50] nojb commented on #7910
Indeed. A more disciplined scoping regime for variables (currently all variables in ocamltest have global scope) would also help.

[2020-06-12 08:36] shindere commented on #7910
The script actions could (should) perhaps restore the redirections.

Meanwhile, I think there is a solution: the variables can be re-defined
within the bytecode and native tests.

[2020-06-12 14:39] lpw25 commented on #7538
Fix for this in #9669. It will now give the warning on all the cases.

[2020-06-12 22:46] dbuenzli commented on #7172
Are still missing (at least in 4.10) and would be nice to have.

[2020-06-14 10:17] gasche commented on #7550
Note: there is now a proposed PR, #9500, that introduces explicit annotations for injective type parameters (`type !'a t= ...`). It comes with minimal changes to the manual (see [the current diff](https://github.com/ocaml/ocaml/pull/9500/files#diff-4a80c4268ca2f3ab338a46689949a2f0)) that may interact with the request in this issue. Note that the new documentation is in the "type declaration" part

[2020-06-14 15:15] mdedetrich opened #9679 "Bump ocaml-secondary-compiler to use ocaml 4.11.0 when released"
Due to https://github.com/ocaml/ocaml/issues/9144 and https://github.com/ocaml/ocaml/commit/53327d777ddcacf829c77c0bd3569a8ade2c72b8 , the opam `ocaml-secondary-compiler` should be bumped to depend on version ocaml 4.11.0 when that ocaml version is released. opam should also be updated to use the newly updated ocaml-secondary-compiler version.

If this is not done than machines with GCC 10.1.0 or

[2020-06-14 15:43] Octachron commented on #9679
The opam package `ocaml-secondary-compiler` is not managed by the compiler team. There is already on the opam repository bugtracker for GCC 10-related compilation woes: ocaml/opam-repository#16583 .

[2020-06-14 15:43] #9679 closed, assigned to nobody

[2020-06-14 16:12] mdedetrich commented on #9679
The error I am getting is

[code]

@Octachron Wanted me to specify some more info so I did. I suspect this is the same issue though, `ocaml-secondary-compiler` is using a non patched version of Ocaml that doesn't work with GCC 10

[2020-06-15 04:19] #7150 closed, assigned to chambart

[2020-06-15 04:19] #7148 closed, assigned to nobody

[2020-06-15 04:19] #7121 closed, assigned to nobody

[2020-06-15 04:19] #7117 closed, assigned to nobody

[2020-06-15 04:19] #7102 closed, assigned to nobody

[2020-06-15 04:19] #7114 closed, assigned to nobody

[2020-06-15 04:19] #7090 closed, assigned to nobody

[2020-06-15 04:19] #7041 closed, assigned to nobody

[2020-06-15 04:19] #7021 closed, assigned to garrigue

[2020-06-15 04:19] #6974 closed, assigned to nobody

[2020-06-15 04:19] #6970 closed, assigned to garrigue

[2020-06-15 04:19] #6971 closed, assigned to nobody

[2020-06-15 04:20] #6952 closed, assigned to nobody

[2020-06-15 04:20] #6942 closed, assigned to nobody

[2020-06-15 04:20] #6928 closed, assigned to nobody

[2020-06-15 04:20] #6913 closed, assigned to nobody

[2020-06-15 04:20] #6877 closed, assigned to stedolan

[2020-06-15 04:20] #6873 closed, assigned to nobody

[2020-06-15 04:20] #6864 closed, assigned to damiendoligez

[2020-06-15 04:20] #6833 closed

[2020-06-15 04:20] #6823 closed

[2020-06-15 04:20] #6822 closed

[2020-06-15 04:20] #6821 closed

[2020-06-15 04:20] #6777 closed

[2020-06-15 04:20] #6773 closed

[2020-06-15 04:20] #6746 closed

[2020-06-15 04:20] #6739 closed

[2020-06-15 04:20] #6732 closed

[2020-06-15 04:20] #6703 closed

[2020-06-15 04:20] #6700 closed

[2020-06-15 04:20] #6689 closed

[2020-06-15 04:20] #6682 closed

[2020-06-15 04:20] #6595 closed

[2020-06-15 04:20] #6567 closed

[2020-06-15 04:20] #6558 closed

[2020-06-15 04:20] #6538 closed

[2020-06-15 04:21] #6537 closed

[2020-06-15 04:21] #6520 closed

[2020-06-15 04:21] #6519 closed

[2020-06-15 04:21] #6511 closed

[2020-06-15 04:21] #6504 closed

[2020-06-15 04:21] #6479 closed

[2020-06-15 04:21] #6480 closed

[2020-06-15 07:17] gasche commented on #6913
This feature was implemented in #1786, with a `-match-context-rows <n>` option, first released in OCaml 4.08.

[2020-06-15 08:26] #7902 closed, assigned to garrigue

[2020-06-15 18:01] MisterDA commented on #5154
Just for reference, some projects had already defined some of the macros. For instance, see [ocaml-mccs](https://github.com/AltGr/ocaml-mccs/blob/0a8fc4aea7d9ab4098388b118540f347ab1dead1/src/mccs_stubs.cpp#L26). Although they share the same definition, some compilers raise warnings when redefining macros (e.g. MSVC 2019). In some setups, warnings are turned to errors and the build of a package fai

[2020-06-15 18:27] nojb commented on #5154
Thanks for the heads-up @MisterDA! Yes, checking `OCAML_VERSION` seems a good fix.

[2020-06-15 18:46] MisterDA commented on #5154
But which version? If the commit won’t be included before 4.12, then `< 41200` is a better choice in case there’s a 4.11.x.

[2020-06-15 18:50] nojb commented on #5154
Indeed, the patch in question will only be included in 4.12, and not in the 4.11.x releases.

[2020-06-17 04:19] #6423 closed

[2020-06-17 04:19] #6378 closed

[2020-06-17 04:19] #6360 closed

[2020-06-17 04:19] #6335 closed

[2020-06-17 04:19] #6291 closed

[2020-06-17 04:19] #6286 closed

[2020-06-17 04:19] #6254 closed

[2020-06-17 04:19] #6265 closed

[2020-06-17 04:19] #6224 closed

[2020-06-17 04:19] #6218 closed

[2020-06-17 04:19] #6206 closed

[2020-06-17 04:19] #6204 closed

[2020-06-17 04:19] #6201 closed

[2020-06-17 04:20] #6197 closed

[2020-06-17 04:20] #6195 closed

[2020-06-17 04:20] #6173 closed

[2020-06-17 04:20] #6162 closed

[2020-06-17 04:20] #6160 closed

[2020-06-17 04:20] #6141 closed

[2020-06-17 04:20] #6138 closed

[2020-06-17 04:20] #6130 closed

[2020-06-17 04:20] #6122 closed

[2020-06-17 04:20] #6121 closed

[2020-06-17 04:20] #6110 closed

[2020-06-17 06:18] nojb commented on #6754
Anyone knows what is the status of this? It appears it is still the case that `topdirs.cmi` is installed twice in the installation directory and I was wondering if there was a specific reason for this?

[2020-06-17 07:38] gasche commented on #6754
I think that the two copies were left around for compatibility (originally it was just in `ocaml`, and when we introduced `ocaml/compiler-libs` it was also installed there). As the discussion above shows, it's not completely obvious to decide which of the two places should be favored. I may be fine  to remove today the `ocaml/topdirs.cmi` copy; it may break stuff, but the `+compiler-libs` fix is b

[2020-06-17 10:24] avsm commented on #6254
I've filed this on the odoc tracker at https://github.com/ocaml/odoc/issues/440

[2020-06-17 10:39] nojb commented on #8824
Fixed by #9554

[2020-06-17 10:39] #8824 closed, assigned to nobody

[2020-06-17 12:31] psafont commented on #9540
Are there any other workarounds for allowing 4.08.1 switches to be created using the latest version of gcc?

This is going to be painful for Citrix engineers as 4.08.1 is used in supported releases and it's meant to be supported for years.

[2020-06-17 12:49] Octachron commented on #9540
We are planning to publish updated opam packages for older OCaml versions with an explicit `-fcommon` flag.

See ocaml/opam-repository#16583 .

The easy path is to compile with `CC="cc -fcommon"`. This has the unfortunate effect on turning off a de-optimization (`-fno-tree-vrp`) for gcc that is here as a workaround for an intel sky lake bug.

We willl publish the patched opam packages once this la

[2020-06-17 15:29] brabalan commented on #9144
I think I'm having this issue trying to compile ocaml 4.07.1 using gcc 10.1.0. Will this be backported? ([Discourse thread](https://discuss.ocaml.org/t/cannot-install-ocaml-4-07-1-multiple-definition-of-caml-debug-info/5996))

[2020-06-17 16:24] xavierleroy commented on #9144
Probably no backport.  Just try `./configure -cc "gcc -fcommon"`.

[2020-06-18 06:14] brabalan commented on #9144
Thanks for the solution. Where should I report this so that it is fixed in opam?
It was already reported: https://github.com/ocaml/opam-repository/issues/16538 and https://github.com/ocaml/opam-repository/pull/16583

[2020-06-18 12:08] dbuenzli commented on #8898
I think if we have library linking (https://github.com/ocaml/RFCs/pull/17) this won't be needed. Let's close this for now.

[2020-06-18 12:08] #8898 closed, assigned to nobody

[2020-06-18 13:42] gasche opened #9695 "usability issue: no error when opening an alias to a missing module"
Apparently `open X` does not complain if `X` is an alias to an unknown module and `-no-alias-deps` is used -- it behaves as if it was just ignored. This looks like a usability bug in the compiler to me:

[code]

[code]

(Note: `open A` at the toplevel behaves in the same surprising way.)

I hit this issue while working on the compiler itself: I had an `open Nativeint`, and below it used the functi

[2020-06-18 13:51] xavierleroy commented on #9695
That explains the mysterious failure in #9691.  I've never been a fan of `let open in`, but still, this needs to be fixed.

[2020-06-19 04:19] #7958 closed

[2020-06-19 04:19] #7592 closed, assigned to garrigue

[2020-06-19 04:19] #6061 closed

[2020-06-19 04:19] #6080 closed

[2020-06-19 04:19] #6041 closed

[2020-06-19 04:19] #6029 closed

[2020-06-19 04:19] #6002 closed

[2020-06-19 04:19] #5999 closed

[2020-06-19 04:19] #5979 closed

[2020-06-19 04:19] #5943 closed

[2020-06-19 04:19] #5952 closed

[2020-06-19 04:19] #5942 closed

[2020-06-19 04:19] #5936 closed

[2020-06-19 04:19] #5903 closed

[2020-06-19 04:19] #5901 closed

[2020-06-19 04:19] #5900 closed

[2020-06-19 04:19] #5898 closed

[2020-06-19 04:19] #5888 closed

[2020-06-19 04:19] #5874 closed

[2020-06-19 04:19] #5878 closed

[2020-06-19 09:11] dbuenzli commented on #8728
@nojb I was wondering if you current delve into https://github.com/ocaml/ocaml/pull/9694 might lead to a fix for that one.

[2020-06-19 09:22] nojb commented on #8728
In a word, no.

To fix this problem, we need to "hide" the `.cmi`s from "later" libraries when compiling "earlier" libraries. The easiest way to do this is to put them into different directories and only pass the necessary `-I` flags when compiling.

For example, the compilation artifacts of `ocamlcommon` would go into `compilerlibs/ocamlcommon`, those of `bytecomp` into `compilerlibs/ocamlbytecom

[2020-06-19 09:23] nojb commented on #8728
More precisely, my understanding is that this issue is somewhat orthogonal to what is being done in #9694.

[2020-06-19 16:26] olafhering commented on #8648
Cool, SUSE uses EXTRA_CFLAGS.
[code]

[2020-06-22 04:19] #5860 closed

[2020-06-22 04:19] #5855 closed

[2020-06-22 04:19] #5843 closed

[2020-06-22 04:19] #5783 closed

[2020-06-22 04:19] #5753 closed

[2020-06-22 04:19] #5737 closed

[2020-06-22 04:19] #5684 closed

[2020-06-22 05:30] nojb commented on #5628
I am reopening this issue as it is quite directly addressed by #9056 which is being reviewed.

[2020-06-22 05:34] nojb commented on #5684
For the record, the `stdlib__` issue was fixed #1724

[2020-06-22 05:55] nojb commented on #6754
Thanks; an even better solutions would be provided by #9056 as we can make just the one file visible to the compiler, see #5628.

[2020-06-22 06:42] XVilka commented on #6986
See also https://github.com/ocaml/ocaml/pull/9699

[2020-06-22 08:42] gasche commented on #5733
This is an interesting improvement proposal for the documentation, and also a good task for a new contributor. Reopening.

[2020-06-22 12:02] garrigue commented on #9695
Found the culprit: this is the function `Env.get_components` that returns an empty structure when `get_components_res` returns an error.
This was introduced by @lpw25 in ocaml 4.06.
@lpw25, can you explain the rationale behind that?

[2020-06-22 12:32] gasche commented on #9695
The change was introduced in #1223, as part of changes to be more robust against missing `.cmi` files or working without loading `.cmi` files.

Let me include the following timely quote from @lpw25 in that PR as a subtle hint:

[2020-06-22 13:40] lpw25 commented on #9695
I don't think #1223 changes the behaviour here -- it certianly isn't meant to.

`components_of_module_maker` used to return an empty struct in some cases. Now it returns `None` in those cases instead and `None` is then converted to an empty struct outside of the caching logic.

So I think you'll need to git blame further back to find the real culprit.

[2020-06-22 14:04] gasche commented on #9695
I could confirm that the commit before #1223 still has this problem. Bisect in progress.

[2020-06-22 14:06] gasche commented on #9695
Bisection shows that the issue appeared in @alainfrisch's commit https://github.com/ocaml/ocaml/commit/3d037367a28a590876c8361a620e3402c108a36b, which is part of #834.

[2020-06-22 14:11] gasche commented on #9695
The following part of the patch may be causing the issue:

[code]

[2020-06-22 17:16] shindere commented on #7312
Fixed by #9652. Closing.

[2020-06-22 17:17] #7312 closed, assigned to shindere

[2020-06-22 18:20] avsm commented on #5843
For the record, this will be fixed comprehensively in odoc when https://github.com/ocaml/odoc/pull/439 is merged and released. All functor applications should render correctly in the new model present in that PR.

[2020-06-23 10:27] serpent7776 opened #9701 ""unknown location" in backtraces in ocaml script"
I'm trying to get backtraces in simple test code:
[code]
Running `env OCAMLRUNPARAM=b ocaml test.ml`:
[code]
[code]
Notice the "unknown location"

But for older version location in source file was provided
[code]
[code]

discuss thread for reference: https://discuss.ocaml.org/t/backtraces-in-script-run-by-ocaml/5970

[2020-06-23 11:02] nojb commented on #9701
The culprit is 3efba04 @trefis

[2020-06-23 12:12] gasche commented on #9701
I will add a regression testcase in the testsuite so that we track ocaml-script behavior with respect to backtraces.

[2020-06-23 12:46] garrigue commented on #9695
But why would we be using `env_from_summary` here ?
I thought it was only used for the debugger.

[2020-06-23 12:57] gasche commented on #9695
This was only a wild guess from quickly looking at the patch, it may very well be wrong and I would recommend giving it a deeper look. (Actually I removed that comment shortly after sending it because I found the guess too wild, even to my taste!)

[2020-06-23 13:07] garrigue commented on #9695
Ok, @alainfrisch  switched to use `get_components` in `open_signature`. That seems to be the culprit.
Probably should check first that the module is available.

[2020-06-23 15:38] dra27 commented on #7089
I agree, it'd be a good addition

[2020-06-23 15:39] #7756 closed, assigned to nobody

[2020-06-23 15:42] ppedrot opened #9705 "Dynlink is very slow on OSX"
This is an issue that has been discovered through the native compilation feature of Coq in https://github.com/coq/coq/issues/11178.

It seems that dynlinking on OSX is orders of magnitude slower than on Linux. The original reporter mentioned using OCaml 4.09.0, but the problem seems to be appearing haphazardly depending on the exact configuration.

(I am sorry, but I don't have an OSX machine myse

[2020-06-23 16:17] xavierleroy commented on #9705
I read the very long discussion and am not sure what to conclude from it, in particular whether the finger should be pointed at Dynlink like you do here.

At any rate, OCaml uses the standard C interface [ `dlopen`](https://pubs.opengroup.org/onlinepubs/009695399/functions/dlopen.html) to perform dynamic loading of code, both under Linux and under macOS, so if macOS's implementation of `dlopen` is

[2020-06-23 16:19] xavierleroy commented on #9705
One thing to keep in mind: antivirus software on Windows and on macOS has been known to degrade the performance of many operations (as simple as opening a file) dramatically.  So maybe your users are just measuring the differences between macOS + nosy antivirus and macOS + no or better antivirus.

[2020-06-23 18:47] #9158 closed, assigned to nobody

[2020-06-24 04:19] #5540 closed

[2020-06-24 04:19] #5523 closed

[2020-06-24 04:19] #5533 closed

[2020-06-24 04:19] #5515 closed

[2020-06-24 04:19] #5460 closed

[2020-06-24 04:19] #5286 closed

[2020-06-24 04:19] #5270 closed

[2020-06-24 04:19] #5266 closed

[2020-06-24 04:19] #5220 closed

[2020-06-24 04:19] #5216 closed

[2020-06-24 04:19] #5196 closed

[2020-06-24 04:19] #5189 closed

[2020-06-24 04:19] #5079 closed

[2020-06-24 04:19] #5063 closed

[2020-06-24 04:19] #5006 closed

[2020-06-24 04:19] #5044 closed

[2020-06-24 04:19] #5001 closed

[2020-06-24 04:19] #4998 closed

[2020-06-24 04:19] #4919 closed

[2020-06-24 07:12] gasche commented on #5220
This is a sensible feature request, but several libraries out there call it `modify`, so maybe there is some naming study to do. In any case, someone interested should consider just opening a Pull Request with a proposed implementation.

[2020-06-24 10:33] m-schmidt commented on #9705
Just a guess, but Catalina does notarization checks (by contacting Apple's servers) when code is run the first time. Perhaps one should disable System Integrity Protection to test whether the slowdowns are then gone.

[Catalina Slow by Design](https://sigpipe.macromates.com/2020/macos-catalina-slow-by-design/)

[2020-06-24 10:42] ppedrot commented on #9705
cc @julesjacobs @llelf

[2020-06-24 11:23] #9695 closed, assigned to nobody

[2020-06-24 13:14] gasche commented on #5266
Those Unix process-creation functions where reimplemented by @xavierleroy using `posix_spawn` in #9573, which should be part of OCaml 4.12.

[2020-06-24 17:22] bschommer commented on #9523
Is there any way to perform such a grep automate or does one to perform this by hand?

[2020-06-24 21:07] damiendoligez commented on #5797
and #6338

[2020-06-24 22:03] dbuenzli commented on #9705
@m-schmidt thanks for that interesting observation.

I had noticed some of the executables I'd create would run slow or hang a bit on the *first* invocation.

And indeed if you keep an eye on your console and execute a simple

[code]
You'll see a bunch of `syspolicyd` daemon entries related to that showing up in the console.

A few random readings on the internet pointed to a checkbox to tick in t

[2020-06-24 22:14] llelf commented on #9705
My slow  results were from tests on High Sierra. And IIRC I even signed `coqc` binary to make sure (but I'll try to re-run and post results again).

[2020-06-25 04:37] xvw commented on #8747
Are you sure this warning is still triggered? When trying the code with OCaml 4.10.0 I have no warning triggered.

[2020-06-25 08:56] garrigue commented on #8747
No, it's still there (even in trunk).
To trigger it, one has to use `ocaml -principal`.

[2020-06-25 12:55] xavierleroy commented on #9523
My own way: run `opam source` on every package returned by `opam list -a`, then use recursive grep or find + grep.  I keep hoping there are better ways.  At any rate, the grep for VERSION is inconclusive, since many packages have VERSION files or Makefile variables.

[2020-06-25 14:24] lpw25 opened #9711 "Toplevel does not check consistency for its own modules"
The toplevel lets you call functions that are in the toplevel itself. However it does not check that the `.cmi` files used to type-check those calls are consistent with the versions of the functions within the toplevel.

For example, if you create a file called toploop.ml:
[code]
then:
[code]

[2020-06-25 15:00] #6633 closed

[2020-06-25 15:28] nojb commented on #6369
The parser having been switched to Menhir in #292, this can be closed.

[2020-06-25 15:28] #6369 closed

[2020-06-25 16:46] Octachron commented on #9603
Since the specific issue that was hindering the 4.11.0 release is fixed, I am closing the issue.

[2020-06-25 16:46] #9603 closed, assigned to nobody

[2020-06-25 16:49] Octachron commented on #9291
I removed the 4.11 milestone since this specific problem has been surgically removed for now.

[2020-06-26 04:19] #4850 closed

[2020-06-26 04:19] #4829 closed

[2020-06-26 04:19] #4770 closed

[2020-06-26 04:19] #4709 closed

[2020-06-26 04:19] #4686 closed

[2020-06-26 04:19] #4589 closed

[2020-06-26 04:19] #4519 closed

[2020-06-26 04:19] #4538 closed

[2020-06-26 04:19] #4347 closed

[2020-06-26 04:19] #4333 closed

[2020-06-26 04:19] #4250 closed

[2020-06-26 04:19] #4209 closed

[2020-06-26 04:19] #4148 closed

[2020-06-26 04:19] #4108 closed

[2020-06-26 04:19] #4080 closed

[2020-06-26 04:19] #4032 closed

[2020-06-26 04:43] IsaacBreen opened #9713 "Configure failure with OCaml 4.07.1"
When I try to run `opam switch create 4.07.1+flambda`, I'm told to submit a bug report with the following error: `[ERROR!] Since datatype sizes cannot be guessed when cross-compiling, a hardcoded list is used but your architecture isn't known yet. You need to determine the sizes yourself. Please submit a bug report in order to expand the list.`

Here is the full terminal output. I've substituted [

[2020-06-26 10:47] avsm commented on #9713
This looks like a core compiler issue rather than with the opam-repository, so transferring it there. Firstly, does any other flambda release of OCaml work (such as 4.10.0+flambda), the most recently released.

[2020-06-26 11:25] gasche commented on #9713
It looks like the failure comes from the `./configure` script. My guess would be that @IsaacBreen is using a recent OSX system whose host triple wasn't known at the time `./configure` was generated. If this guess is correct, a way to avoid this problem could be for the opam package to depend on `autoconf` and then regenerate the `configure` script as first step. This raises interesting questions a

[2020-06-26 14:04] xavierleroy commented on #9713
Note that this is OCaml 4.07, a version that predates the autoconf-generated "configure" script.  Here, we still have the old hand-written "configure" script.  It is complaining (in a roundaboud way) that it could not run `config/auto-aux/sizes.c`: either it didn't compile or it ran with nonzero exit code.  The hardcoded sizes are exclusively for the Windows ports.

The problem is essentially impo

[2020-06-26 14:09] xavierleroy commented on #9713
Also, this part of the output is suspect:
[code]
macOS 19.5.0 doesn't use GCC, especially not an old version like 4.8, it uses Clang 11.0.  Where does this alternate compiler comes from?  Is it really working?

[2020-06-26 16:18] mariojppereira commented on #9553
Let me just point out that in the [VOCaL](https://github.com/ocaml-gospel/vocal) library we also have an implementation of resizable arrays: https://github.com/ocaml-gospel/vocal/blob/main/src/Vector.mli

Moreover, we use the [Why3](https://gitlab.inria.fr/why3/why3) framework to formally verify the correctness of such implementation.

[2020-06-26 17:04] #7897 closed, assigned to lpw25

[2020-06-26 20:12] MisterDA opened #9714 "Compilation failure in `domain_state.h` for librairies with OCaml ≥ 4.10"
Ha!

I think I’ve found a bug in OCaml! A real one ;-)
The bug was introduced in commit fc6f0284922621fc8717033a8d73b1134f1506ac and affects OCaml ≥ 4.10.
Pinging the contributors to this file: @kayceesrk, @Engil, and @dra27.

In Opam, we’re transitionning to [OCaml 4.10 for bootstrap][41000-bootstrap], and we’ve
had this issue in [Opam’s CI][CI]:

    c:\projects\opam\bootstrap\ocaml\lib\ocaml\ca

[2020-06-26 20:23] dbuenzli commented on #7172
I think I can do without nativecomp. But `natdynlink` is needed to understand the output of `ocamlmklib` for C stubs (if not available only a `.a` is generated).

Is `natdynlink` implied by `supports_shared_libraries` by any chance ?

[2020-06-26 20:33] dbuenzli commented on #7172
That formulation is a bit inexact I'm confusing two things here:

1. There is support for C dynamic linking (e.g. used by bytecode for loading primitives of C stubs)
2. The OCaml native dynlink API, (i.e. the ability to produce `.cmxs` files)

I highly suspect `supports_shared_libraries` answers at least 1. I'm unsure whether it answers 2.

[2020-06-26 21:05] dra27 commented on #9714
The problem is a bug in VS 2015 either Update 2 or Update 3+ and specifically affects compilation in C++ mode. The issue is that the `declspec(align(8))` suddenly has to be put after the `struct foo` and before the `*` for all the struct pointer members. I ascertained it’s not affecting VS 2013 and earlier, so the simplest fix I think will be to use the C++ `alignas` when the header is read in C++

[2020-06-27 07:36] xavierleroy commented on #9714
It's hard to know whether the C compiler is at fault.  My viewpoint is that the alignment of a C struct should always divides evenly the size of the struct, even if some of the struct members have forced alignments.  This is what GCC does as far as I could figure out, and also what my CompCert C formalization does.  But this may not be absolutely necessary, and this report shows that MSVC takes a

[2020-06-27 07:41] xavierleroy commented on #9714
Thinking of it, another, more robust way to write the assertion:
[code]
In other words: we don't care about the total size of the struct, but we care that the members before `end_of_domain_state` are spaced by 8.

[2020-06-27 08:27] dra27 commented on #9714
@xavierleroy - I would put more fault on MSVC here. It processes the headers differently depending on whether the file is included from a .cpp file or a .c file - in particular, `__declspec(align(8)) struct caml__something * caml_something` works from a .c file (which is why we hadn’t seen it) but in a .cpp it either needs to be `alignas(8) struct caml__something * caml_something` or (weirdly) `st

[2020-06-27 08:30] dra27 commented on #9714
(Sorry for the unintended close)
The behaviour also suddenly changed in either Update 2 or Update 3 of VS2015 (the original release and Update 1 definitely work as expected)

For the assertion, I think it may have used other mechanisms before and then been converted for MSVC-support - however, if we engineer it so that the last member is always 8 bytes (I can’t see from my phone if it is already?)

[2020-06-27 09:01] xavierleroy commented on #9714
Today the last member is a pointer, so 4 or 8 bytes.  There are few members that are always 8 bytes.  I'd rather put an artificial member last (like my suggested `end_of_domain_state`), but I agree it could be declared with an 8-byte type.

[2020-06-27 09:06] xavierleroy commented on #9714
Re: different meanings for `__declspec(align(8))`, this is unfortunate, but I can sympathize.  (CompCert did some back-and-forth too in how `__attribute__((aligned(8)))` (and other attributes) is to be parsed and attached to AST nodes, as the notation is inherently ambiguous.)

I support using `alignas` in C++ 2011 and later, and `_Alignas` in C 2011 and later, since these keywords are standardize

[2020-06-27 09:07] xavierleroy commented on #9714
One last thing: what happens if we wrap `domain_state.h` in `extern "C" { ... }` like several other headers do?

[2020-06-27 09:16] dra27 commented on #9714
`extern "C"` appears to make no difference (it was the first thing I tried, being suspicious that it was a C++ problem)

[2020-06-27 09:31] MisterDA commented on #9714
Thanks for the explanations! I think my mistake was that I thought that `alignas(8)` meant aligning to the next *8-bit* boundary and not *8-byte*. This is why I thought that the intent was to pack the structure.
What if a member longer than 8 octets was included? The assertion would be wrong in that case.

[2020-06-27 09:52] dra27 commented on #9714
The domain state consists of either pointers or things <= pointers - if something larger than 8 bytes had to be added, it would either be indirectly or with multiple fields. The reason is that the assembler generated both by ocamlopt and the assembler portions of the runtime need to be able to refer to fields by index

[2020-06-27 10:27] xavierleroy commented on #9714
Or double FP numbers (8 bytes, even on 32-bit platforms).

[2020-06-28 18:31] dbuenzli opened #9717 "Allow to compile an implementation against an interface that does not reside in the same directory"
As far as I understand it is currently it is not possible to constrain the compilation of an implementation by an interface if there is no corresponding `.mli` file in the *same directory* as the compiled `.ml` file (and whatever there may be in that `.mli` file).

Naïvely I had expected the following to work:
[code]
But it does not:
[code]

For some reason it seems the `.cmi` lookup is guarded by

[2020-06-28 21:20] #8747 closed, assigned to nobody

[2020-06-28 21:23] jeffa5 opened #9718 "Add Filename.with_extension"
The `Filename` module currently has three extension related functions:
- `extension` to get the current extension
- `remove_extension` to remove an extension
- `chop_extension` to remove an extension

I feel like a way to add an extension is missing and was thinking of the following:
[code]

[2020-06-29 04:19] #3947 closed

[2020-06-29 04:19] #3957 closed

[2020-06-29 04:19] #3922 closed

[2020-06-29 04:19] #3851 closed

[2020-06-29 04:19] #3829 closed

[2020-06-29 04:19] #3849 closed

[2020-06-29 04:19] #3772 closed

[2020-06-29 04:19] #3767 closed

[2020-06-29 04:19] #3725 closed

[2020-06-29 04:19] #3590 closed

[2020-06-29 04:19] #3698 closed

[2020-06-29 08:03] sanette opened #9720 "inconsistent html in module signature"
For instance in:

https://ocaml.org/releases/4.10/htmlman/compilerlibref/Arg_helper.Make.html

the use of `<pre>` tag is not very consistent.
* it should not close after the `functor` line
* for the first and last lines the `sig_block` class is inside the `<pre>` tag, while it is the opposite for the `module` lines. It would be better to have a consistent stucture.

The reason I raises this is tha

[2020-06-29 09:47] dra27 commented on #9720
Have you tried doing this against the output of odoc instead? There's a lot of effort going into getting odoc to replace ocamldoc for generating the compiler's documentation, with a view ultimately to removing ocamldoc from the OCaml distribution, so you're more likely to get changes there than ocamldoc (just to be clear: that's my opinion, rather than a formal developer team statement!)

[2020-06-29 11:39] yallop opened #9721 "Injectivity & recursive modules"
First, some standard bits and pieces for equality & injectivity:
[code]

Now the questionable part, defining two "injective" type definitions in a pair of mutually-recursive modules.  These definitions are correctly rejected if given as a pair of mutually-recursive types, but wrongly accepted when defined as follows:

[code]

The parameter of `R.t` is never used, so we can build an equality witnes

[2020-06-29 14:33] sanette commented on #9720
I haven't tried odoc for this (although I use odoc for my personal projects).
Concerning the OCaml API, I'd be happy to follow whatever is chosen, be it odoc or sphinx,
but I have no idea about the delay for this, so for the moment prefer to stick to what is currently used.

[2020-06-29 14:43] Octachron commented on #9720
To give some more context, I am expecting to have a first version of a latex backend for odoc soon (this week, the next one?). And once this backend is ready, I plan to upstream my Makefile target for building the standard library API with odoc and spend the required time to get the manual to build with odoc. Consequently, it is unlikely that I will spend some time to fix this issue any time soon.

[2020-06-29 14:50] MisterDA commented on #9714
Are there no intent to port OCaml to a 128 bits platform (!!) or use other definitions of floats than ieee 754 (!)?
The occurrences of `8` could be replaced with a macro, something like `#define boundary (max(sizeof(void*), sizeof(double), sizeof(uintnat)))` to (perhaps) better carry the intent.
If the ordering of the elements in the domain state does not matter, we could add a comment to ensure t

[2020-06-29 15:04] sanette commented on #9720
OK great. Then I'm waiting ;)

[2020-06-29 16:29] garrigue commented on #9721
Oops. Ill-founded injectivity declaration.
Well spotted.

[2020-06-30 18:13] xavierleroy commented on #9714
Not at this time nor any time soon.  If the need arises much later, we could align every field on 16-byte boundaries.

The issue is that we need to compute the offsets of the domain_state members from assembly code, see for example https://github.com/ocaml/ocaml/blob/trunk/runtime/amd64.S#L115-L122

This is much easier if every member occupies the same number of bytes (currently, 8).

[2020-07-01 04:19] #3589 closed

[2020-07-01 04:19] #3488 closed

[2020-07-01 04:19] #3512 closed

[2020-07-01 04:19] #3011 closed

[2020-07-01 04:19] #3012 closed

[2020-07-01 04:19] #3644 closed

[2020-07-01 04:19] #3408 closed

[2020-07-01 04:19] #3390 closed

[2020-07-01 04:19] #3134 closed

[2020-07-01 04:19] #3131 closed

[2020-07-01 07:39] JamesShaker opened #9731 "Missing Information in OCaml Compiler frontend docs"
On the online [docs for the compiler frontend](http://caml.inria.fr/pub/docs/manual-ocaml/parsing.html) it says:

This should be ammended to:

This second step does not appear to be documented anywhere, is only clear from manual inspection of a compiled binary, and is required to access the modules documented on that page.

[2020-07-01 07:51] gasche commented on #9731
What version of OCaml are you using?

[2020-07-01 08:50] dra27 opened #9732 "Severe performance degradation running ocamltest on msvc"
This issue continues and tracks the discussion started in https://github.com/ocaml/ocaml/pull/1739#issuecomment-651786511

On Windows, ocamltest starts processes in a process group so that it can detect when they have all terminated (this is important for some of the "unix" tests which stgart other processes).

Sporadically on some machines running msvc there can be huge delays waiting for tests t

[2020-07-01 09:13] stedolan commented on #9714
Isn't your viewpoint implied by C? The compiler is not allowed to insert padding between array elements, so the alignment of a C struct must divide the size of the struct, so that the second element of an array of such structs is not misaligned.

[2020-07-01 09:23] stedolan commented on #9714
Is it possible that what was going wrong here is actually that MSVC in C++ mode is correctly aligning everything to 8 bytes, but is enforcing an even stronger alignment (16 or 32-bytes) for the whole structure? That would cause it to add extra padding at the end while not breaking 8-byte alignment anywhere. (If this is the case, then the patch in #9724 is indeed the right fix)

@MisterDA or @dra27

[2020-07-01 09:25] dra27 commented on #9714
Hang on, I'll dig the test program out - it was _number of elements which are not struct pointers_ * 8 + _number of elements which are struct pointers_ * 4

[2020-07-01 09:50] dra27 commented on #9714
The smaller repro case I reduced it to is:

`fragment`
[code]
`main.c` & `main.cpp`
[code]

and then obviously compiled with either `cl /nologo /Fefoo-c.exe main.c` or `cl /nologo /Femain-cpp.exe main.cpp`. With Visual Studio 2013:

[code]
with Visual Studio 2015 Update 3:
[code]

[2020-07-01 10:03] MisterDA commented on #9714
I tested the Opam bootstrap with the 4.10 branch and the alignas patch applied and can confirm that the patch fixes the bug in the context where it was found.
- [Opam patch](https://github.com/MisterDA/opam/commit/3de8ee39d428c4d346fe6ee4c5ab57317623e007)
- [OCaml branch](https://github.com/MisterDA/ocaml/tree/4.10-fix-domain-state)
- [Opam CI](https://ci.appveyor.com/project/MisterDA/opam/builds/

[2020-07-01 10:22] xavierleroy commented on #9714
For structs and unions, this property (alignof divides sizeof)  is what I've observed with every compiler and seen in formalizations of C and C++.

Stranger things happen when nonstandard "increase alignment" mechanisms are used.  For example with GCC's "aligned" attribute:
[code]

I don't think it's allowed by the C++ standard, especially since this struct is Plain Old Data, hence obeys the same

[2020-07-01 10:43] stedolan commented on #9714
Ah, I see. It hadn't occurred to me that a C compiler might use a weird alignment, and then just reject array types involving that type. Thanks for the explanations, all, and I agree that the fix in #9724 is the right one.

[2020-07-03 04:19] #3468 closed

[2020-07-03 04:19] #3437 closed

[2020-07-03 04:19] #3190 closed

[2020-07-03 06:29] JamesShaker commented on #9731
My version is `4.10.0`. Not sure why but the solution I posted no longer seems to work on my machine. Apologies for that :/ Either way the currently listed solution appears to be insufficient. I now have to use `ocaml -I +compiler-libs ocamlcommon.cma` as a command instead of just `ocaml`

[2020-07-03 06:35] nojb commented on #9731
Indeed, for interactive use one must add `-I +compiler-libs` in the command line invoking `ocaml` or, alternative, use `#directory "+compiler-libs"` once started.

Would you like to propose a PR amending the manual in this sense?

[2020-07-03 12:38] #9714 closed, assigned to nobody

[2020-07-03 15:56] lpw25 opened #9736 "Recompacting the heap can segfault with best-fit"
When compaction has finished rearranging all the blocks into the earliest chunks, it has to add any left over space in the remaining chunks to the free list. Which it does with the call to `caml_make_free_blocks` currently on line 423 of compact.c. Whilst not generally guaranteed by calls to this function, historically this would always produce `Caml_blue` blocks because they could not be merged w

[2020-07-03 15:57] lpw25 commented on #9736
cc @damiendoligez

[2020-07-04 15:32] stedolan opened #9739 "Bad error message about "the type variable int""
This program:
[code]
fails to compile with this error:
[code]
The error message is appropriate and the location is accurate, but the last line is nonsense: `int` is not a type variable.

The weird last line goes away if the `and` is changed to a `let`.

[2020-07-06 00:20] dc-mak opened #9740 "Scanning N hex digits - is this a bug or just potentially surprising?"
From https://caml.inria.fr/pub/docs/manual-ocaml/libref/Scanf.html

the manual is fairly clear on the intended behaviour. However, @CuiCui66 and I were caught out by the `(*   7, ??*)` example recently.
[code]

We wanted to get your thoughts; I suspect updating the manual with such examples may be the best option.

[2020-07-06 04:19] #6579 closed

[2020-07-06 10:55] markghayden opened #9741 "use of lookup vs jump table with match depends on whether there is a duplicate case"
It appears that compilation of simple switch from constant to constant has different compilation based on whether any results are duplicates.

With no duplicate results, the code compiles as simple lookup table, which is the preferred result.  With any duplicates, the code compiles as a jump table, which is a poorer result, both in compiled code side and execution speed.

I believe the "correct" (

[2020-07-06 12:40] stedolan commented on #9741
The two functions compile to the following Lambda:
[code]
The code for detecting duplicate expressions in `switch.ml` has detected that two cases of `bar1` are identical, and therefore has introduced a block and a jump for the common code. This defeats the later optimisation that optimises switches containing only constants.

The quickest fix would be to disable the sharing when the code being sha

[2020-07-06 13:44] gasche commented on #9741
Disabling sharing for small constants could make sense (but see below). I looked at where to do this in the code, it is not obvious (the code does not check for equality to share after the fact, it is designed to compute a canonical "key" for each action). The best answer I found is in `Lambda.make_key`, raise the `Not_simple` opt-out in some constant cases.

Note: there is a small inconsistency i

[2020-07-06 16:55] Octachron commented on #9739
It is a problem with the error trace being better at tracking the origin of a type error: we remember that the error was raised when checking for a recursive occurrence, but I didn't think to check in the recursive occurrence error message that the printed type was still a type variable.

[2020-07-06 23:31] gadmm commented on #9036
@samwgoldman, to clarify your comment on the "reasonable interval", what is your experience with the current systhreads behaviour?

[2020-07-07 00:56] samwgoldman commented on #9036
@gadmm Thank you for asking. I should clarify what I meant when I wrote "reasonable interval." I have no experience; we decided to move away from signals instead of using systhreads. My understanding from reading the code and related issues was that the interval is _supposed_ to be reasonable.

[2020-07-07 07:04] #9721 closed, assigned to garrigue

[2020-07-08 04:19] #8717 closed, assigned to nobody

[2020-07-08 15:05] damiendoligez commented on #9736
Nice catch, but I don't think it can be triggered on 64-bit. Here's why:
- recompaction only happens when there is a single heap chunk and "too much" free space (i.e. much more than mandated by the `space_overhead` parameter).
- on a 64-bit architecture, the free space will be a single block, much larger than the 16-field limit, so it will be blue.

Still, the bug could trigger on 32-bit. Moreover

[2020-07-08 16:21] lpw25 commented on #9736
To be clear, I found this bug by it happening on a 64bit machine. I think that recompaction can happen with more than one heap chunk, and indeed in the case where I saw this bug recompaction was triggered with 3 heap chunks. The small block was not in the large chunk with left-over space but in one of the smaller chunks.

[2020-07-09 11:32] hhugo commented on #9627
Could we fix the magic number manually in trunk while #9645 is being discussed ?

[2020-07-09 13:56] hhugo commented on #9641
FYI, I'm working on this

[2020-07-10 09:33] damiendoligez commented on #9736
Oh that's right I didn't think of this case.

[2020-07-13 04:19] #8730 closed, assigned to nobody

[2020-07-13 04:19] #8679 closed, assigned to nobody

[2020-07-13 04:19] #8698 closed, assigned to garrigue

[2020-07-13 09:39] trefis opened #9759 "Typing without -principal is broken in 4.11 and trunk"
Noticed while adding support for 4.11 in merlin, reproducible with:
[code]

The code in question:
[code]
Given the error message, it looks like the type annotation on the function is ignored.
This doesn't appear to be due to #1132 (I confirm that the bug also exists before that PR).

It could also be that this is just an issue with the printing of the error, that the expected type is in fact not i

[2020-07-13 10:12] gasche commented on #9759
Ah, it's good that we have more GADT annotations in the compiler itself, so that we notice this things more quickly :-D

[2020-07-13 11:28] trefis commented on #9759
This can be reduced to:
[code]
which is also rejected on 4.10 without `-principal` (but accepted if the flag is given).

If the last two lines are replaced by:
[code]
then the error becomes:
[code]

Adding the type annotation `: k general` on either of the if-branches, or on the binding of `new_g'` makes it disappear.
The same will also fix the previous version of the code.

It does look like the

[2020-07-13 11:35] trefis commented on #9759
Note: this can be traced as far back as 4.02 (I don't have an older version installed) with the same behavior (accepted with `-principal`, rejected without).
So I guess there's no need to hold off the release of 4.11 because of this.

[2020-07-13 14:02] akshajgaur opened #9762 "Module overriding standard OCaml library?"
This is probably a very silly issue, but I have benn working with OCaml for the past couple of months and everything was working fine. However, I install "Core" and all of its dependencies yesterday, and it seems that it is overriding the standard List module, so I can't compile even the simplest programs such as the following. Would uninstalling and re-installing ocaml make me re-install all of t

[2020-07-13 14:12] nojb commented on #9762
This bugtracker is dedicated to compiler development. For general OCaml usage questions, I would recommend you ask your question https://discuss.ocaml.org/, where you will probably get a better answer sooner.

Having said that, as a general rule, `core` shouldn't affect your code unless you `open` it, and even if you do, the quoted code should still work. Showing the error message you would help i

[2020-07-14 07:58] garrigue commented on #9759
Thanks for the analysis. It probably means that we should not only call `correct_levels` on `ty_arg` but also on `ty_res` to make the ambiguity check happy. I'm going to look into this.

[2020-07-14 08:00] garrigue commented on #9759
Actually, we already copy it, so this seems more subtle.

[2020-07-15 12:33] #9736 closed, assigned to nobody

[2020-07-15 15:07] LocutusOfBorg commented on #9137
[code]

[2020-07-15 15:08] LocutusOfBorg commented on #9137
[code]

[2020-07-15 15:08] LocutusOfBorg commented on #9137
[code]

[2020-07-15 15:18] LocutusOfBorg commented on #9137
After adding the -flarge-toc flag to morbig and recompiling it (I hope I did it correctly)
[code]
this is the new output
[code]

[2020-07-15 17:13] xavierleroy commented on #9137
We heard you: starting with OCaml 4.11, `-flarge-toc` will be the default.  (See https://github.com/ocaml/ocaml/pull/9557.)  In particular it will apply to the standard library (that's the part where the overflow occurs in the report).

[2020-07-16 08:13] craigfe opened #9768 "Undetected match failure in variant with empty cases"
In the following example, `f` is defined to return `1` on a list of length 1 (and to raise a `Match_failure` otherwise), with list elements taken from an empty type:

[code]

This example sneaks past the exhaustivity checker. More interestingly, it returns `1` even when passed an empty list:

[code]

I consider this to be a bug, since `f` should be undefined on the empty list.

As expected, adding

[2020-07-16 08:33] Octachron commented on #9768
Fixed in 4.11 by #9318 .

[2020-07-16 08:33] #9768 closed, assigned to nobody

[2020-07-16 08:44] Gbury opened #9769 "Config variable for memprof in 4.11"
While trying out 11.0's beta and playing with some conditional building for things relying on memprof, I thougt it would be useful if `ocamlc -config` had a line specifying whether memprof is available. Of course matching on ocaml's version also allows one to determine whether memprof is there or not, and memprof is not something that can be turned on or off, but I wondered if a discussion about t

[2020-07-16 09:12] dra27 commented on #9769
I don't _think_ we have any other things in `ocamlc -config` which aren't actually configurable. Given that you can't turn off statmemprof, it does feel a bit odd to me to include it?

[2020-07-16 09:13] dra27 commented on #9769
(I don't think there has been any discussion, given that statmemprof is simply a feature of 4.11)

[2020-07-16 09:14] jhjourdan commented on #9769
I have no problem with doing so, but I still have a concern: recall that, as explained in the module `Gc`, the API is currently experimental since it evolved quite a bit during the development of memprof.

Therefore, if you have a project which depends on the current API of memprof, you'd better check the version of OCaml rather than a config flag.

[2020-07-16 10:42] LocutusOfBorg commented on #9137
@xavierleroy am I wrong or that won't be sufficient to fix the issue above? I tried to use large-toc, but it didn't change the output... at least it is still not working

[2020-07-16 10:44] LocutusOfBorg commented on #9137
I see with -flarge-toc a different error message, so maybe rebuilding everything with that flag might help...

[2020-07-16 16:08] stefan-kral opened #9770 "Function sleepf is missing in UnixLabels"
The "OCaml 4.10 User's Manual" says `sleepf` has been present in module `Unix` since `4.03.0`.

It is absent from module `UnixLabels`. This is wrong. `UnixLabels` should parallel `Unix`.

[2020-07-16 16:40] lpw25 opened #9771 "Bad interaction between local identifier scopes and moregen"
If you use the following code for both `foo.ml` and `foo.mli`
[code]
then you will get a gratuitous error message:
[code]

This is caused by an interaction of the scoping of local identifiers and the `generic_level - 1` stuff that goes on in `Ctype.moregen`.

One reasonable fix would be to replace the use of `Env.add_signature` in `Includemod.sigantures` with something more like `Env.enter_signatu

[2020-07-16 18:38] dra27 commented on #9770
Actually it's worse than that: we're missing `is_inet6_addr`, `process_full_pid`, `process_pid`, `process_out_pid`, `process_in_pid`, `fsync` and `unsafe_environment`. I've adapted the lib-stdlabels test and will do a PR shortly.

[2020-07-16 18:40] nojb commented on #9770
xref #9745

[2020-07-16 18:45] johnwhitington commented on #9770
I am preparing an update to #9745 to unify Unix and UnixLabels.

Lots of missing documentation (especially Windows comments).

I have to polish it up, but it should be done soon.

[2020-07-16 18:54] dra27 commented on #9770
Ah - have you done a test already or shall I just push the simple test I’ve already done to your branch?

[2020-07-16 18:57] johnwhitington commented on #9770
I have made no changes to any tests, either for this, or for the earlier work. So feel free to push it.

[2020-07-16 19:11] dra27 commented on #9770
Pushed https://github.com/ocaml/ocaml/pull/9745/commits/78d9f34f8cda0b3c7422d8e4559153b098786b7a to #9745

[2020-07-17 04:27] garrigue commented on #9771
Actually, a trivial solution is to replace `highest_scope` by `highest_scope - 1` in `Ident.scope`.
It could be even less. It should just be higher than any normal level.

I agree with you that this use of a fixed local scope when working inside signatures is counter-intuitive. I would like to understand why it works in general.

[2020-07-17 16:23] damiendoligez commented on #9312
Ping @c-cube @alainfrisch @fpottier. Opinions on the idea of including these functions?

[2020-07-17 16:28] c-cube commented on #9312
Sure, it'd be useful. I have doubts about `fold_right`, it's not efficient to implement and of dubious utility imho. The other ones should be there.

Pretty sure all of these (except `fold_right`) are in [oseq](https://github.com/c-cube/oseq) already, and I agree with merging them upstream.

[2020-07-17 16:43] yallop commented on #9312
I think it would be good to favour functions which work with infinite streams, so far as possible.  (I think `fold_left` is currently the only exception).  So:
+1 to `range`, `take_while`, `take`
-0 to `exists` (which returns `true` or `false` for a finite stream, but returns `true` or fails to terminate for an infinite stream).

[2020-07-17 20:49] EduardoRFS opened #9774 "Exception File "typing/ctype.ml", line 4735"
[code]

Happens when trying to hide a type of a class

[code]

[2020-07-17 20:51] EduardoRFS opened #9775 "exception File "typing/subst.ml", line 103"
[code]

Happens when trying to substitute a type and this type is a class

[code]

[2020-07-18 08:41] nu-i-sho opened #9776 "Impossible to pack module into module with the same name with ocamlopt (Stack overflow)"
I can create module with nested module with the same name.
[code]
Also I can pack it with **ocamlc**:

    ocamlc -for-pack X -c X.ml

    mkdir tmp
    mv X.cmo tmp/X.cmo
    mv X.cmi tmp/X.cmi

    ocamlc -pack -o X.cmo tmp/X.cmo

But when I try to do it with **ocamlopt** I have:

[2020-07-18 10:06] fpottier commented on #9312
As a general comment, the current `Seq` offers way too few functions; many natural functions are missing.

I didn't know about `oseq`, but it seems to offer a lot of functionality.

I also have a [Sequel](https://gitlab.inria.fr/fpottier/sequel/-/blob/master/src/Sequel.mli) module in the works, which contains many functions.

I think it would be good to move the more "canonical" functions to `Seq`

[2020-07-18 10:25] nojb commented on #9312
While I sympathize with this opinion, I think that following it would run counter to the idea behind `Seq`, which is to be a kind of "lingua franca" of containers (at least that's how I understood it). It would mean that to do something as simple as `exists` or `for_all` we would be forced to convert the seq to a list, which seems overly bureocratic (not to mention inefficient). I would rather inc

[2020-07-18 10:38] lthls commented on #9776
Related: #4080 #6537
Note that both issues have been closed without being fixed.
The proposal at ocaml/RFCs#13 would fix these problems.

Also, the stack overflow happens without flambda; with flambda, there is an assertion failure instead.

[2020-07-18 15:44] c-cube commented on #9312
@fpottier that'd be very nice, thank you. Note that oseq is BSD2 though :). In any case I'm ok with any subset of oseq to be ported to the stdlib and become LGPL there.

[2020-07-18 19:29] fpottier commented on #9312
I don't mind the license. Maybe we should get together at some point (in August?) and propose a set of additions to `Seq` taken from `oseq` and Sequel.

[2020-07-20 15:44] damiendoligez commented on #8931
The consensus seems to be that `input_line` is a convenience function and that its lossiness isn't a problem. When we want to be precise about newlines, we should use a more powerful tool like `ocamllex`.

[2020-07-20 15:44] #8931 closed, assigned to nobody

[2020-07-20 23:40] ifazk opened #9784 "Typo in Chapter 20 of manual"
There is a small typo in Chapter 20: Interfacing C with OCaml.

"Before including any of these files, you should define the **OCAML_NAME_SPACE** macro."

O should not be in the macro name.

[2020-07-21 06:09] nojb commented on #9784
Thanks! Fixed in c3bbb50cdc8960ec28e7af871254cf2440595ae2.

[2020-07-21 06:09] #9784 closed, assigned to nobody

[2020-07-21 09:47] #7823 closed, assigned to nobody

[2020-07-21 12:53] Cjen1 opened #9785 "Polymorphic Variants losing typing information"
(Initial discussion on: [discuss.ocaml.org](https://discuss.ocaml.org/t/how-to-represent-a-function-which-can-take-the-union-of-two-sets-of-polymorphic-variants/6119))

The main issue is:
[code]

however:
[code]

There appears to be two issues in this case.

1. The type information is being lost inside the matching.
2. When `t` is getting typed it is taking the 'most recent' type which matches the

[2020-07-21 14:11] damiendoligez commented on #9338
@dbuenzli It seems that you did the work, but forgot to open a PR?

[2020-07-21 15:48] damiendoligez commented on #9299
I have to side with @dbuenzli on this one. The `Arg` module is only a low-level interface for parsing the command line, it doesn't mandate the style of user interface that gets implemented. We've already migrated from a sequential to a declarative style for the compiler, we should also do it for `ocamldep`.

[2020-07-21 15:48] jhjourdan opened #9786 "Documentation for Unix.[in/out]_channel_of_descr is misleading and leads to unwanted closing of file descriptor"
A common pattern for using sockets in OCaml is to transform them in two channels: one for input and one for output:

[code]

However, at some point, `inchan` and `outchan` will be closed, and this will close the underlying file descriptor. The documentation of `Unix.[in/out]_channel_of_descr` says:

In other words, it says implicitly that it is fine to call both `close_in` and `close_out` on `inch

[2020-07-21 15:53] jhjourdan commented on #9786
Cc @gadmm, who discovered first the bug in the `ocamldebug` implementation.

[2020-07-21 20:37] Ngoguey42 opened #9788 "The implementation main.ml does not match the interface main.cmi"
Using ocaml 4.10.0, installed with opam 2.0.4, on WSL, I get the following error:
[code]

when I run:
[code]

on two files `main.mli` and `main.ml` both containing:
[code]

[2020-07-21 22:37] hhugo commented on #9451
I removed usage of `unsafe_of_string` from the `String` and `Bytes` modules, see https://github.com/ocaml/ocaml/pull/9789
The current approach rely on code duplication.

[2020-07-22 06:16] lpw25 commented on #9788
This looks like it is probably a duplicate of #9771

[2020-07-22 07:27] gasche commented on #9788
(At least I can confirm that the bug is not fixed in trunk.)

[2020-07-22 11:56] dbuenzli commented on #9338
No, it was part of another line of work. PR #9790 cherry picks the patch.

[2020-07-22 16:45] shindere commented on #9339
@progman1 I do not remember the details of why the code is like this
now, but the code in `ocaml_actions.ml` seems to handle the `None` case
so I assume I had a reason to write things as they have been written.

Could you perhaps elaborate on what you were trying to do andwhat
exactly it was that failed?
A concrete and reproducible example would actually be most welcome.

Thanks!

[2020-07-22 16:49] hhugo commented on #9711
weakly related https://github.com/ocaml/ocaml/pull/9790

[2020-07-23 11:38] stefan-kral opened #9794 "Stdlib.flush hangs when used within signal handler"
I want to flush output channels periodically.

If I use `flush stdout` in *both* the signal handler *and* the regular code, the application hangs.

Here a minimal reproducible example (which I tried on Linux and MacOS using OCaml 4.08 and 4.10):
<pre>
let n_flush = ref 0;;

let main () =
  Sys.set_signal Sys.sigalrm (Signal_handle (fun _ -> incr n_flush; flush stdout));
  ignore(Unix.setitimer Uni

[2020-07-23 11:38] #9338 closed, assigned to nobody

[2020-07-23 11:46] gasche commented on #9794
(cc @stedolan @gadmm @jhjourdan, who love resource/reentrancy issues related to signal handlers)

[2020-07-23 12:08] jhjourdan commented on #9794
This bug is very likely to be fixed with #9722.

[2020-07-23 12:19] dbuenzli commented on #9299
Encouraged by @damiendoligez's lateral move, I cherry-picked my fix in pr #9795.

[2020-07-23 15:42] trefis commented on #9771
It could be even less. It should just be higher than any normal level.

Please, let's not.

[2020-07-23 19:00] #9299 closed, assigned to nobody

[2020-07-24 03:27] garrigue commented on #9785
This is the expected behavior:
1. This is intentional. "Vanishing" polymorphic variant constructors interact with the exhaustiveness check in a non-principal way, and for this reason typing information concerning these constructors is not propagated to patterns.
2. This is a consequence of 1: in the absence of type information, selection of variant and record types chooses the newest one in scope

[2020-07-24 04:19] #8748 closed, assigned to nobody

[2020-07-24 09:05] garrigue commented on #9771
That was just a suggestion in case you expected the current code to work.
Otherwise, I suppose you need to apply a substitution that replaces the local scopes by the correct global ones.

[2020-07-25 17:07] alex35mil opened #9799 "Matching against GADT tuple when multiple patterns result in the same expression produces an error"
I'm not sure if it's a bug or by design but match in `fn` produces an error:

[code]

[code]

P.S. I'm building against `ocaml: ~4.6.1000`

[2020-07-25 17:27] nojb commented on #9799
Thanks for the report. I tried to reproduce on `trunk`, but there it is even worse :) The code produces an assertion failure:
[code]
cc @trefis @garrigue

[2020-07-25 17:27] alex35mil commented on #9799
Building against recent version (`~4.09.0`) gives fatal error:

[code]

[2020-07-25 17:28] alex35mil commented on #9799
@nojb Haha yeah, just tried against the recent version and got almost the same result.

[2020-07-25 17:42] lpw25 commented on #9799
Note that the old behaviour was expected: GADTs did not support or-patterns until 4.08. The new behaviour (i.e. a fatal error) is obviously a bug.

[2020-07-26 07:59] trefis commented on #9799
Having had a brief look, I'm a bit surprised by this: in parmatch when deciding if a match on a polymorphic variant is exhaustive, we expand the type of the variant pattern, which we expect to be a variant type.
That seems sensible to me, but here apparently we do not get that (I assume that we get a `Tconstr "a"`), which wouldn't surprise me if we did the expansion in the outer environment, where

[2020-07-26 08:00] trefis commented on #9799
(For people reading this in their mailbox: above I wrote "expansive" when I meant "exhaustive"! Again, Sunday morning.)

[2020-07-27 04:19] #6338 closed

[2020-07-27 08:03] glondu opened #9800 "ocamlopt 4.08.1 triggers ld relocation warnings on i386 with binutils 2.35"
When compiled in current Debian unstable (2020-07-27), ocamlopt 4.08.1 on an empty file gives on i386:
[code]
These warnings seem to be triggered on any file. Because of this, the test suite [does not pass and is messy](https://buildd.debian.org/status/fetch.php?pkg=ocaml&arch=i386&ver=4.08.1-9&stamp=1595605697&raw=0). I suspect this is due to a new version of binutils (2.35).

[2020-07-27 08:34] glondu commented on #9800
The same warnings are triggered with 4.11.0+beta2.

[2020-07-27 08:42] glondu commented on #9540
In Debian, I applied [this patch](https://salsa.debian.org/ocaml-team/ocaml/-/blob/debian/sid/debian/patches/0007-Avoid-duplicate-definitions-of-common-global-variabl.patch), but the package FTBFS at the moment because of https://github.com/ocaml/ocaml/issues/9800 .

[2020-07-27 08:47] glondu commented on #9622
This is related to https://github.com/ocaml/ocaml/issues/9540 . In Debian, I applied [this patch](https://salsa.debian.org/ocaml-team/ocaml/-/blob/debian/sid/debian/patches/0007-Avoid-duplicate-definitions-of-common-global-variabl.patch).

[2020-07-27 09:49] stedolan commented on #9794
This is indeed fixed by #9722.

[2020-07-27 10:32] xavierleroy commented on #9800
It is quite possible that PIE needs to be turned off for i386 and perhaps other 32-bit platforms.  We already do it for musl-based systems, see da1297449 .  This, or the warning needs to be silenced.

[2020-07-27 12:08] Cjen1 commented on #9785
I've been playing with this to figure out how to best achieve what I want (good correspondence in the type of the function while avoiding this issue). What appears to work is to manually apply the type information within the matches.

Using collections of the variants makes this quite a nice approach:
[code]

@garrigue given that this is an intentional (and I can see why it would be) I'll close th

[2020-07-27 12:08] #9785 closed, assigned to nobody

[2020-07-27 12:55] glondu commented on #9800
Adding `-no-pie` indeed reduces the amount of noise in the test suite. However, there remains:
[code]

[2020-07-27 13:29] trefis commented on #9799
Indeed the environment is not the one I expected, due to this line: https://github.com/ocaml/ocaml/blob/ea16b1c83789d546f286b7981751a2f00a5244fa/typing/typecore.ml#L1887
Which was first introduced in commit: ff78b8ee75967b47656ae491063f7f4db44cd762

If I remove that line, everything works fine.
I'll open a PR.

[2020-07-27 14:51] #9485 closed, assigned to nobody

[2020-07-27 16:53] progman1 commented on #7893
still reproducible.

[2020-07-27 17:27] stedolan commented on #7810
Fixed by #9742

[2020-07-27 17:27] #7810 closed, assigned to nobody

[2020-07-27 19:03] lthls commented on #7893
Unloading of modules in native dynlink is not supposed to work, and your example doesn't need to be modified much to show why.
If you replace the contents of the `go` function in `main.ml` by:
[code]

You should get an error in the call to `f_between` (with your patch) as its code has been unloaded. I'm not quite sure why it is fine to allow it in bytecode (I hope that at least there's a check tha

[2020-07-28 15:21] EduardoRFS commented on #6986
We can also close this

[2020-07-28 15:22] nojb commented on #6986
Fixed by #9699

[2020-07-28 15:22] #6986 closed, assigned to shindere

[2020-07-28 17:20] #7503 closed, assigned to stedolan

[2020-07-28 17:20] #9794 closed, assigned to nobody

[2020-07-28 17:30] stedolan commented on #9036
This is fixed by #9722: OCaml signal handlers no longer run at arbitrary points within blocking sections, and so cannot interrupt e.g. `malloc`.

[2020-07-28 17:30] #9036 closed, assigned to nobody

[2020-07-29 00:10] #9759 closed, assigned to nobody

[2020-07-29 14:40] glondu commented on #9800
There are also dynlink tests that still fail with `-no-pie`:
[code]

[2020-07-30 08:52] glondu commented on #9800
If I understand correctly, emitting PIC code would solve this issue. Unfortunately, ocamlopt does not seem to support emitting PIC code on i386.

[2020-07-30 09:53] glondu commented on #9800
The new behavior is triggered by [this commit](https://sourceware.org/git/?p=binutils-gdb.git;a=commit;h=fa6ecf940581b4be26165351bb0473427d31c7d8). I didn't find any rationale for this.

[2020-07-30 13:06] hjl-tools commented on #9800
If ocaml doesn't support PIC, please pass "-z notext" to ld in your driver.

[2020-07-30 13:07] glondu commented on #9800
I've applied [this patch](https://salsa.debian.org/ocaml-team/ocaml/-/blob/debian/sid/debian/patches/0008-Disable-DT_TEXTREL-warnings-on-Linux-i386.patch) (disabling the warnings) to the Debian package.

[2020-07-31 09:41] glondu commented on #9800
Note that this change breaks the compiler-libs ABI (the option ends up in a string that is exposed in config.cmx). Hence, it needs recompilation of all reverse-dependencies :-(

[2020-07-31 10:04] glondu commented on #6200
One side-effect of storing the configuration in config.ml is that the approximations in config.cmx contain it, so changing it changes the compiler-libs ABI and therefore needs recompilation of all reverse dependencies, which is not always wanted (see https://github.com/ocaml/ocaml/issues/9800 for an example). The proposal here would "fix" that (compiling config.ml with -opaque and hiding config.cm

[2020-08-03 14:59] whitequark commented on #6778
Still an issue AFAIK.

[2020-08-03 16:25] avsm opened #9821 "no-flat-float-array: test failure on 32 bit platforms"
The `tests/lib-floatarray/'floatarray.ml'` test fails under 32-bit platforms for me (i386 and arm32), on both native and bytecode.  Not had any time to triage this further, but it fails [reliably in the new ocaml-ci](https://ci.ocamllabs.io/github/avsm/ocaml/commit/0bf255cd7e01d2460b061d4273c82cb0a86deaf1). Logs excerpted below; it's an `Assert_failure("floatarray.ml", 75, 11)`.

[code]

[2020-08-03 16:55] avsm opened #9822 "test-locations failure when AFL is enabled"
The test-locations test fails when afl is active in the compiler -- this is the only testsuite failure with AFL on.  Should it just be skipped with AFL? Right now it's only run on 64-bit architectures. [full log here](https://ci.ocamllabs.io/github/avsm/ocaml/commit/0bf255cd7e01d2460b061d4273c82cb0a86deaf1/variant/debian-10-4.12+afl)

[code]

[2020-08-03 17:33] stedolan commented on #9821
Turns out this is a bug in the test. Oddly enough, on 32-bit no-flat-floatarray you can use Array.create_float to create an array of floats of longer than `Sys.max_floatarray_length`!

The reason is that in no-flat-floatarray mode, `Array.create_float` is limited by `Sys.max_array_length`, not `Sys.max_floatarray_length`, and in 32-bit mode `Sys.max_floatarray_length` is shorter than `Sys.max_arra

[2020-08-03 19:08] dra27 commented on #9822
This test already got restricted as part of https://github.com/ocaml/ocaml/pull/9619 - I agree that it's probably not helpful testing it with AFL where the code generated is different

[2020-08-04 02:21] #8814 closed, assigned to nobody

[2020-08-04 11:35] rwmjones opened #9825 "Trivial fix for compiling OCaml with Link-Time Optimization (LTO)"
Fedora and OpenSUSE package build systems now compile everything with Link-Time Optimization enabled by default.  This allows optimizations to cross compilation unit boundaries which gives more opportunities for inlining in particular.  Unfortunately OCaml didn't build:
[code]

Fedora is now carrying this trivial fix which you may want to consider:
https://pagure.io/fedora-ocaml/c/7364f5081851fe30

[2020-08-04 11:35] rwmjones commented on #9825
As a patch file: https://pagure.io/fedora-ocaml/c/7364f5081851fe306802883d9a8069da559d4973.patch

[2020-08-04 13:42] rwmjones opened #9826 "Test suite should ignore build-id differences in binaries"
We have lots of failures in the test suite.  Check for "failed" in this log: https://kojipkgs.fedoraproject.org//packages/ocaml/4.11.0/0.8.dev2.fc33/data/logs/x86_64/build.log

Most of these are distractions.  They are caused because the binary produced by ocamlopt.byte doesn't exactly match the binary produced by ocamlopt.opt, and the cause of that is (I believe only) the build ID.  Build IDs are

[2020-08-04 13:44] nojb commented on #9826
The testsuite was modified to stop comparing native-code binaries #9677, which will be included in 4.12.

[2020-08-04 13:47] shindere commented on #9826
I have no strong opinion about how this should best be delt with.

If the other developers feel that this comparison is a too strict test
it could also be disabled completely, I don't know.

[2020-08-04 13:47] shindere commented on #9826
Nicolás Ojeda Bär (2020/08/04 06:45 -0700):

Perhaps that should be backported to 4.11? @Octachron?

[2020-08-04 13:51] rwmjones commented on #9826
If we're no longer testing this upstream then feel free to close this bug.

[2020-08-04 13:52] #9826 closed, assigned to nobody

[2020-08-04 17:10] avsm commented on #9825
Oh no, is this another few hundred patches i need to carry for older compilers in opam-repository again, thanks to the changed default? I'm just recovering from the -fno-common changes in Fedora 32 ;-)

Having this fix included in 4.10.1 would be very useful if not too late, @Octachron, assuming that Fedora 33 will have this LTO change by default.

[2020-08-04 17:20] Octachron commented on #9825
@rwmjones , is link-time optimisation enabled by default at the package or compiler level? In other words, does this mean that every version of OCaml will need this patch (and friends) to build in Fedora or OpenSuse, or is the optimization just a global package policy?

[2020-08-04 17:39] rwmjones commented on #9825
This only affects Fedora and OpenSUSE, and also it only happens if you compile using Fedora's suggested flags (`rpm --eval '%{optflags}'` and `rpm --eval '%{__global_ldflags}'`).  If you use GCC in Fedora (or OpenSUSE) to compile something from source and you don't explicitly add those flags then nothing at all changes for you.  IOW this should not affect opam unless opam is opting in to those fla

[2020-08-04 17:56] Octachron commented on #9825
Thanks for the precision.
With this context, I think this is more of a 4.12 fix.

[2020-08-04 18:47] avsm commented on #9825
Thanks, that's very helpful indeed -- not a candidate for backporting indeed then.  However, this fits neatly into some opam 2.2 features we are speccing out at the moment to add "package parameter" support in, which should make it very easy to add hardening flags on certain operating systems (cc @dra27 @rjbou).

[2020-08-04 20:50] yallop opened #9828 "#show broken with -short-paths"
This is a bug in 4.11.0+rc1:

[code]

It was apparently introduced by #9086, specifically this change:
[code]

After this change, [`Printtyp.hide_rec_items`](https://github.com/ocaml/ocaml/blob/8905edd38223ef87c957a4fff03ebf0e437769fa/typing/printtyp.ml#L1623-L1634) attempts to rename persistent idents (i.e. `Ident.Global` values), which [fails](https://github.com/ocaml/ocaml/blob/8905edd38223ef87

[2020-08-05 07:33] Octachron commented on #9828
Yet another reason to switch to merlin's short path implementation. It is probably better to avoid a temporary regression on 4.11.0 indeed.

[2020-08-05 07:53] fweimer commented on #9800
Text relocations are almost always created by accident. This is also what seems to be happening here, so the warning has already served its purpose.

[2020-08-05 08:11] xavierleroy commented on #9825
See #9830.  There was another, less serious instance of the same problem involving the `caml_spacetime_my_profinfo` function, bytecode version.

[2020-08-05 08:28] xavierleroy commented on #9800
The patch is the best solution to the issue, I believe.

Just to document what's going on:
- On 32-bit targets (x86-32, arm, powerpc-32) ocamlopt cannot generate position-independent code (PIC), and never will, in all likelihood, because 32-bit processors are less and less relevant.  (ocamlopt supports PIC on 64-bit targets.)
- Under Linux with Glibc, we can still make shared libraries and PIE exe

[2020-08-05 08:28] #9800 closed, assigned to nobody

[2020-08-05 09:17] #9825 closed, assigned to nobody

[2020-08-05 10:03] yallop commented on #9828
#9831 makes that change.

[2020-08-05 10:57] #9821 closed, assigned to nobody

[2020-08-05 15:32] xavierleroy commented on #9786
What about the following: if there is already a channel using the given file descriptor `fd`, `Unix.{in,out}_channel_of_descr fd` duplicates `fd` and returns a channel opened on the duplicate.  This should work for the example in this PR, and gets us closer to a programming model where a channel "owns" the underlying file descriptor.

Determining whether a file descriptor is already used by a chan

[2020-08-06 08:31] #9822 closed, assigned to nobody

[2020-08-06 08:44] #9828 closed, assigned to nobody

[2020-08-06 16:04] stefan-kral opened #9836 "Function is_normal is dearly missing in module Float"
The OCaml module `Float` offers the function <code>is_<b>finite</b></code>:

Alas, `is_finite` also includes subnormal values :-(

Right now, I'm using the following workaround (in a tight inner loop):
<pre>
let is_normal_or_zero f =
  match Float.classify_float f with
  | FP_normal | FP_zero                 -> true
  | <b>FP_subnormal</b> | FP_infinite | FP_nan -> false
</pre>

Please consider ad

[2020-08-10 15:15] gadmm commented on #9786
I am not sure to understand why this is closer to an ownership model, i.e. what would the high-level documentation be in terms of ownership? I think the specification would be complicated, while the current behaviour is the simplest one where the function assumes ownership of the file descriptor (I mean at least the the corrected version that correctly closes the file descriptor on error at https:

[2020-08-10 21:33] anmonteiro opened #9839 "4.11 beta3+flambda: stack overflow when compiling uunf"
I found a regression in 4.11-beta3+flambda which results in a stack overflow when trying to compile [`uunf`](https://github.com/dbuenzli/uunf).

The stack trace looks like:

[code]

This doesn't happen in 4.10

[2020-08-10 21:35] anmonteiro commented on #9839
different stacktrace with `ulimit -s 32000`:

[code]

[2020-08-11 16:16] Octachron commented on #9839
The problem appears to be somehow caused by #9165 switching on the flambda `-O3` optimisation level compilation for the compiler. Notably, the problem also appears with the release candidate for 4.10.1 .

Interestingly, trying to compile a standalone version of the`uunf` module with the bytecode version of the native compiler fails with 4.09.0 or 4.10.0 .

This requires further investigation, but

[2020-08-12 10:22] dra27 commented on #9839
The problem file is `src/uunf_data.ml` which contains the definitions of 7 records containing very large arrays constants. The file's not checked in to the source repo, so I've put it at https://gist.github.com/dra27/8d63edfcd4e170f88a6540d38ae69205 for convenient browsing.

[2020-08-12 11:29] dra27 commented on #9839
@anmonteiro On my system, I just needed to increase the stack by a megabyte - are you sure the increase to 32MB worked?

[2020-08-12 12:02] mshinwell commented on #9839
First of all, I think it was a mistake for the function sections change to be mixed up with the `-O3` change; apologies as I should have spotted that earlier.

What appears to have happened is that the code generated by the Flambda compiler for its own `Spill` pass uses more stack space on this example than it did previously.  Flambda should not transform code such that the space complexity of sta

[2020-08-12 12:51] dbuenzli commented on #9839
Is release 13.0.0 still problematic ? Since that release the code generation does structure sharing in a lot of cases (reducing `uucp.cmxs` from 7.8Mo to 4.6Mo). I didn't get to port that to `uunf` though. I can try to do it for `uunf` more quickly than I would like if that avoids the problem.

That it doesn't do and seems a bit more annoying to do. Wouldn't the above help and suffice ? I mean the

[2020-08-12 12:56] dbuenzli commented on #9839
Sorry that was wrong that should have [read 272](https://github.com/dbuenzli/uucp/blob/master/src/uucp_tmap.ml#L14).

[2020-08-12 13:27] anmonteiro commented on #9839
I can't believe I got bitten by this again. I set it on the parent shell, but the new one that spawned the build process started with the default stack size. You're right, of course.

[2020-08-12 14:50] Octachron commented on #9839
@mshinwell :

I would agree if the failure was intended and known in advance. But in this case, we have a existing library which has been broken by a side-remark in a PR. This feels like a regression to me.

[2020-08-15 06:11] VishalDalwadi commented on #9140
Hi, I am new in these corners and would like to work on this issue.

[2020-08-17 04:21] #8804 closed, assigned to nobody

[2020-08-17 08:08] xavierleroy commented on #8867
A friendly bot brought this issue to my attention, one year later.

Generally speaking, `ocamlopt -c -nodynlink` produces code appropriate for statically-linked executables.  However, OS distributions are increasingly using position-independent executables (PIE), which are not statically linked and undergo dynamic relocation at every execution.

Here I can reproduce the problem on my Raspbian rPi

[2020-08-17 08:31] shindere commented on #8867
@Armael may be interested in following this

[2020-08-17 08:47] #9641 closed, assigned to nobody

[2020-08-17 09:07] xavierleroy commented on #9839
If I understand correctly, one of the -O3 optimizations is increasing the stack memory usage of some compiler functions (perhaps `Spill.reload`, perhaps other functions) compared with unoptimized code.

To me, an optimization that increases stack consumption is not an optimization and borders on miscompilation.  Perhaps  it's just a bug in the implementation of a legitimate optimization.  Perhaps

[2020-08-18 12:48] stefan-kral opened #9845 "Telling ocamlopt about the probability of conditional branches"
On modern Intel64/AMD64 CPUs (and presumably on ARM64, too), conditional branches are noticeably slower when they are taken&mdash;even if the taken/not-taken decision and the branch target are both *perfectly* predicted:

- *taken*: latency: 2 cycles, throughput: at most 1 taken branch every other cycle.
- *not taken*: latency: 0 cycles, throughput: at most 2 not-taken branches per cycle.

To expl

[2020-08-18 13:31] gretay-js commented on #9845
I wonder if basic block layout optimization using [ocamlfdo](https://github.com/gretay-js/ocamlfdo) would do the right thing for your application. The tool requires an execution profile instead of code annotations. Currently, compiler support for ocamlfdo is not yet entirely merged in upstream, but if you use opam and build with dune it should be possible to try.

[2020-08-19 11:38] yallop commented on #9072
One related behaviour of `-short-paths` that I find surprising is that it sometimes prints longer type names than the standard printer.

Without `-short-paths`:
[code]

With `-short-paths`:
[code]

[2020-08-20 10:38] Tuplanolla opened #9848 "Aborted after double free or corruption"
_Edited to simplify and clarify by @dra27_

I can consistently crash the interpreter as follows.

[code]

[2020-08-20 11:03] dra27 commented on #9848
I took the liberty of removing ocamlfind from the instructions and clarifying that you need to turn glibc malloc checking on.

[2020-08-20 11:08] dra27 commented on #9848
With trunk this is partially fixed (probably by #9722) but partially broken (probably by #9802). With trunk, if instead of using `Unix.kill` you suspend the process manually (i.e. press C-z) and run `fg` then this works as expected. However, `Unix.kill` doesn't return...

[2020-08-20 11:33] dra27 commented on #9848
Oops: I forgot that in my haste I started the trunk toplevel using `make runtop`, so of course it doesn't return - `make` is not suspended.

As far as I can tell, this problem is fixed with trunk OCaml and will therefore be fixed with 4.12.0 - please feel free to re-open as necessary.

[2020-08-20 11:33] #9848 closed, assigned to nobody

[2020-08-20 13:35] Octachron commented on #9242
The issue is no longer present in the 4.11 manual.

[2020-08-20 13:35] #9242 closed, assigned to nobody

[2020-08-20 13:50] shindere commented on #3757
I am reopening this issue becuase, no, `-o` is not enough to solve the
problem.

Also, the issue is not at all Windows-specific and is still present in the
latest OCaml versions.

It seems there are two possible approaches to let users specify
an output directory for their build artifacts.

1. An `-odir DIR` option as suggested in other issues, which would
basically put build artifacts in director

[2020-08-20 14:00] nojb commented on #3757
Personally am not sure of the relevance of this particular request (which in 15 years attracted a grand total of 1 comment, over 10 years ago).

I am not against adding a feature in this direction, but the stated motivations ("source control reasons") can all be fixed by using modern tools (build systems, editors); designing and agreeing on the semantics of a new flag just for this seems overkill.

[2020-08-20 14:02] trefis commented on #3757
Let's also ping @dbuenzli

[2020-08-20 14:06] dra27 commented on #3757
Indeed, the original problem here is solved with `-o` and ensuring that you link only compiled object files (`ocamlc -o foo/bar foo.ml` will put `foo.cmo` and `foo.cmi` in the current directory; all other uses of `-o` with `-c` should put all artefacts in the directory specified with `-o`)

[2020-08-20 14:16] thierry-martinez commented on #3757
Could you elaborate what you mean by _or relative to it_? As far as I understand, this is the current behavior of the compiler: source and target filenames are interpreted relatively to the current directory. On the contrary, `-ocwd` would make sense if build artifacts were systematically put in the current directory, regardless of the relative path of the source.

I should admit I understand the

[2020-08-20 14:22] stefan-kral opened #9850 "Tagging integers on Intel64 processors"
For x86-64, `ocamlopt` emits code like `leaq 1(%rax,%rax),%rax` when tagging integers.

However, for all Intel Core processors since 2011, `leaq 1(,%rax,2),%rax` would be better.

Comparison:
* PRO: shorter latency (1 cycle vs. 3 cycles)
* PRO: higher throughput (2 per cycle vs. 1 per cycle)
* CON: larger encoding (8 bytes vs. 5 bytes)

Also, note that the proposed code:
* works on *all* AMD64/Int

[2020-08-20 14:24] shindere commented on #3757
Nicolás Ojeda Bär (2020/08/20 07:00 -0700):

You are not fair, here. See issues #5890, #7573, #6191, #6475 and #3904.

I am copying here what I just wrote on the caml-devel pailing list,
perhaps the discussion shoudl go on here so that everybody can participate:

Several build systems do out-of-source-tree builds,
which I guess is enough to show that the feature is desired. Then, in my
opinion, th

[2020-08-20 14:29] shindere commented on #3757
David Allsopp (2020/08/20 07:07 -0700):

Am I correct that you are finally suggesting to _not_ add any new flag,
@dra27, and to just be disciplined in how one uses the compiler?

Are you saying this would be enough?

[2020-08-20 14:38] shindere commented on #3757
thierry-martinez (2020/08/20 07:16 -0700):

For those mentionned on the command-line, yes. But for the names of
generated files, I think the compiler does not handle them in a coherent
way between compiling and linking.

Yes, this makes sense to me.

Even if that means duplicating problem-resolution between several build
systems? Isn't it worth finding out what is needed in common and
integrating

[2020-08-20 14:45] nojb commented on #3757
Apologies for being stubborn, but I still don't understand what *it* is that these build systems reimplement.

For example, as far as I know, `dune` does out-of-tree builds just by using `-o` to put the compilation artifacts where it wants them to be. Incidentally, `dune` also needs to use `-o` in order to implement "prefixed" libraries and executables, so it is not clear to me it would be able to

[2020-08-20 14:49] thierry-martinez commented on #3757
As far as I know, `dune` first copies all the source files in `_build` before running the compiler on these copies.

[2020-08-20 14:51] nojb commented on #3757
Yes, but this is not directly related to doing out-of-tree builds, it could use the files directly from the source tree, as far as I understand.

[2020-08-20 14:56] shindere commented on #3757
Nicolás Ojeda Bär (2020/08/20 07:45 -0700):

It may very well be that I am wrong here.

As far as I can remember, ocamlbuild and perhaps Dune had to either
symlink or copy all the files from the source tree to the build tree so
that they could then work exclusively in the build tree and leave the
source tree untouched.

Am I wrong here?  Is -o now enough so that it is no longer necessary to
copy/s

[2020-08-20 14:57] shindere commented on #3757
Nicolás Ojeda Bär (2020/08/20 14:51 +0000):

Are we sure?

Why does it copy them, then?

[2020-08-20 14:58] thierry-martinez commented on #3757
@nojb, you are right: `ocamlc -c -o $BUILDDIR/x.cmo $SRCDIR/x.ml` appears to produce all build artifacts in `$BUILDDIR`, I did not know that! @shindere , would `-odir $BUILDDIR` make something else than that?

[2020-08-20 15:10] nojb commented on #3757
One key reason for copying files around is to implement sandboxing: to make sure that only the dependencies stated in the `dune` files are made visible to the compiler.

Note that even while `dune` copies files from the source tree to the build tree, it continues to use `-o` to put artifacts in separate directories in order to implement sandboxing: for example, if you have the source of two librar

[2020-08-20 15:10] dbuenzli commented on #3757
On the top of my head I think `-o` is mostly fine nowadays to do out of source tree builds and be able to mix your source arguments from wherever they live without having to copy them. There are however two remaining outstanding issues as far as I'm concerned:

1. You can't use `-o` for compiling C files. You need to cwd to the output directory. This is #7677.
2. You can't compile an OCaml impleme

[2020-08-20 15:29] dra27 commented on #3757
@dra27, and to just be disciplined in how one uses the compiler?

I'm saying that it is _possible_ to solve the problem here with the current implementation of `-o` combined with the discipline of not compiling and linking at the same time. I don't think this was possible when the original issue was opened.

The limitation which _could_ be overcome with a new flag is that when you invoke the compi

[2020-08-20 16:01] lpw25 commented on #9850
Presumably would be addressed by #8531

[2020-08-20 16:25] Fourchaux commented on #9242
Sorry to re-open this issue, but I still have some problems.

e.g. Line 32106 or Line 32127
of https://caml.inria.fr/pub/distrib/ocaml-4.11/ocaml-4.11-refman.txt :

![ocaml-4 11-refman_errors](https://user-images.githubusercontent.com/4992512/90796593-ceb1e100-e30f-11ea-9d7b-e1cc95ba94a2.png)

BTW, doing a simple whitespace cleanup on the file will delete 90.5 Kio.

[2020-08-20 16:33] Octachron commented on #9242
Indeed. I had forgotten that the version of hevea with the fix has not been published yet. I will push a version of the file with the master version of hevea. Thanks for the report!

[2020-08-20 17:35] stefan-kral commented on #9850
Yes, but what I am aiming at is *simple*. So simple, `sed` could do it:)

[2020-08-21 10:41] shindere commented on #3757
thierry-martinez (2020/08/20 07:59 -0700):

I guess it would in addition work also when compiling and linking are
performed simultaneously.

[2020-08-21 10:43] shindere commented on #3757
Many thanks for the dune-related information, @nojb. I was not at all
aware and find having this confusion cleared out very helpful.

[2020-08-21 16:19] sadiqj opened #9853 "Segfault during GC compaction"
In the case where:

-  there is only one major heap chunk
-  the only major heap chunk is fully used

the current GC compactor will segfault here:

https://github.com/ocaml/ocaml/blob/trunk/runtime/compact.c#L126

as `Chunk_next` will return 0.

A testcase which will reliably segfault 4.10.0, 4.10.1, 4.11.0 and trunk is:

[code]

This was discovered while stress testing safepoints with the help of

[2020-08-21 16:23] mshinwell commented on #9853
cc @damiendoligez

[2020-08-22 21:12] yminsky commented on #9072
Short-paths was originally modeled off of the rule that Mlton used, which was roughly: pick the type with the fewest number of dots, and between those with the same path length, pick the most recent definition.

That will of course sometimes pick names with more characters or with fewer, but that doesn't seem like an interesting distinction.  There is a question as to whether you prefer that way o

[2020-08-23 08:59] sadiqj commented on #9853
This code also segfaults 4.00.0, which is the earliest version I seem to be able to build on my machine.

[2020-08-24 15:38] avsm commented on #9853
I just tried it on OCaml 3.12.1, where it also segfaults:

[code]

[2020-08-24 15:41] stedolan commented on #9848
There is in fact another bug here! There's a double-free in the bytecode toplevel's unloading logic. Fix in #9855.

[2020-08-24 17:14] avsm commented on #9853
I went back into memory lane, and... it's been around since roughly day 1 by the looks of it.

With Debian Potato, and OCaml 2.04 (`docker run -it debian/eol:potato`):

[code]

[2020-08-24 20:17] thierry-martinez opened #9856 "Polymorphic type annotations generalize weak polymorphic variables"
Polymorphic type annotations generalize weak polymorphic variables, making such programs type check and segfault:
[code]
This program is rejected by OCaml 4.10 but is accepted by OCaml 4.11 and trunk. Bisection points to the commit c272447b1eff7829f42a8173059eb743754f1e4c.

[2020-08-25 02:37] coetry commented on #7589
Improving the toplevel API experience would be excellent. Particularly the point about loading modules on the fly without explicit `#require` statements sounds amazing.

[2020-08-25 06:59] gasche commented on #9856
Woops! Looks like an opportunity for a 4.11.1.

[2020-08-25 09:02] lpw25 commented on #9856
Fixed by #9857

[2020-08-25 09:24] shindere commented on #7458
@garrigue To me, it seems that what needs to be done here is above all
to decide whether this is going to be fixed or not. It does not seem to
be a problem to not fix this right now, but it feels it would be nice to
at least make a decision. What do you think?

Also, when you mention the "unprintable signature bug", do you refer to
a precise issue? Would you be able to link to it, if that's the ca

[2020-08-25 09:36] yallop commented on #7458
Local substitutions should make this easier.  For example, @garrigue's example now has a straightforward solution:

[code]

as does my original example:

[code]

[2020-08-25 09:37] trefis commented on #7458
#6634 seems to be the place where the discussion is happening; so I'm closing this.

[2020-08-25 09:37] #7458 closed, assigned to garrigue

[2020-08-25 12:58] pveber opened #9858 "Compiler fails with Ctype.Nondep_cannot_erase exception."
`ocaml` (versions 4.09.0 and 4.11.0) fails on the following code:
[code]
with the following exception:
[code]
This is my best effort to produce a minimal example, but there may well still be some useless bits.

[2020-08-25 14:47] shindere commented on #7677
I just checked and even cl knows how to put object files in a directory
different from the one containing the C source file.

I thus think this issue could and should be fixed and shall work on it.

[2020-08-25 15:01] shindere commented on #9717
Yes, this issue makes a lot of sense to me in the context of
out-of-source-tree builds. As soon as the `.ml` file will be generated,
it will have to be in the build rather than source tree whereas the .mli
file will most likely not need to be generated and will thus be part
of the source tree.

[2020-08-25 15:05] shindere commented on #3757
Daniel Bünzli (2020/08/20 08:10 -0700):

Thanks. Will work on it.

Will work on that, too. Many thanks for the so detailed report, it's
very very helpful.

[2020-08-25 15:12] trefis commented on #9858
This is due to 2403ffb1b57fff58973ad44e46a477b7442735d5 (which introduced a proper exception instead of `Not_found` but didn't update all the consumers...).

A "quick fix" is:
[code]

But that feels kind of dirty.

[2020-08-25 15:12] shindere commented on #3757
David Allsopp (2020/08/20 08:29 -0700):

Modulo the problems reported by @dbuenzli, I guess.

OK.

How do the interfaces differ, actually?

I think in the context of an out-of-source build one would be in the
second scenario rather than in the first one, i.e. the current directory
would be somewhere in the build rather than source tree.

Couldn't we have interface files that are similer, no matter

[2020-08-25 15:14] Octachron commented on #9858
@trefis, Do you know why `unify_package` (try to) use `Not_found` to signal type errors rather than just `Unify []`?

[2020-08-25 17:13] jamesjer opened #9859 "ocamlopt assertion failure when compiling prooftree"
Attempting to build [prooftree](http://askra.de/software/prooftree/) 0.13 with OCaml 4.11.0 ends with an assertion failure:
[code]
This did not happen with OCaml 4.10.0 and earlier.  By commenting out code and retrying the ocamlopt invocation, I was able to identify this as the code that triggers the assertion (lines 292-296 of tree_layers.ml):
[code]

[2020-08-25 20:22] stedolan commented on #8807
Closed by #9503

[2020-08-25 20:22] #8807 closed, assigned to stedolan

[2020-08-25 20:56] Octachron commented on #9859
A quite simpler example (for our testsuite):
[code]

[2020-08-26 08:05] gasche commented on #9859
@Octachron one downside of this example is that it is not a valid OCaml program as the `setup` coercion is incorrect. It would be nice to either duplicate the `with_` method in `fail` or add `inherit setup`; the resulting program is accepted with 4.10 and still raises an assertion failure in 4.11.

@jamesjer: thanks for the report! Note that we do a large part of our pre-release testing by checkin

[2020-08-26 08:12] Octachron commented on #9859
@gasche : the coercion is also correct for a virtual `fail` class.

[2020-08-26 08:30] Octachron commented on #9859
The assertion was introduced in #9348 in order to tentatively fix a strange information flow when an arrow type becomes spontaneously known.

[2020-08-26 09:50] trefis commented on #9859
FTR: I "looked" at this with @Octachron earlier today, my intuition is that the assertion is still warranted and I'm surprised that the arrow type we get at this point is "unknown":
[code]

Although it is consistent with the type we get for:
[code]
(this is the `val_type` being printed)

Is this expected?

[2020-08-26 14:04] jamesjer commented on #9859
I am not directly connected with the prooftree project.  I maintain a number of formal methods packages for the Fedora Linux distribution (notably coq and friends), and prooftree is one of the packages I maintain.  I will try to contact prooftree upstream to see if there is interest in submitting to opam.

[2020-08-26 14:40] shindere commented on #3757
David Allsopp (2020/08/20 08:29 -0700):

Well, the only difference seems to be the locations that are stored in
the `.cmi` files.

I just tried to compile one interface file from two different
directories. By default the resulting `.cmi` files are different, but
with the `-no-keep-locs` command-line option they become identical.

(thanks a lot to @trefis for having suggested this.)

I am assuming

[2020-08-26 15:50] lpw25 commented on #9859
I haven't looked at this aspect of the type checker in detail, but I think this behaviour is probably intended. It does give some weird behaviours, like:
[code]
vs.
[code]
but nevertheless I believe that is how they are expected to work.

[2020-08-26 17:10] gasche commented on #9859
But in your examples, `f` is applied with labels. In the original example, the application of `f` that gives an arrow type is `f 0`. Naively I would expect this to result `f` getting a *non-labelled* arrow type, and I see no reason to use Cunknown instead of Cok for non-labelled arrows.

[2020-08-26 21:44] lpw25 commented on #9859
That's true, and I agree it is unnecessary to have Cunknown on an unlabelled parameter. However the assertion that is being triggered is for all function types, not just unlabelled ones, so it can still be triggered with a label:
[code]

[2020-08-27 01:08] garrigue commented on #9859
No label is just the empty-string label, except when the function type is known and all arguments are provided. So, if the function type is unknown, no label should behave exactly as applying to the label empty-string.

[2020-08-27 01:16] garrigue commented on #9859
I see to solutions: either remove the assertion (which is not that useful), or change Cunknown to Cok when generating the class type (this kind of makes sense, as it is strange to leave artifacts of inference inside type definitions, but this is extra work).

[2020-08-27 08:41] trefis commented on #9859
I have no objections to removing the assertion, but I think saying it's not useful is an overstatement.
It was added because it seemed weird to arbitrarily change `Cunknown` to `Cok` at that point, and the only explanation one could come up with was that this wasn't actually happening: clearly a few of us were wrong on that case.

I assume that if it makes sense for the class type, it also makes s

[2020-08-27 08:50] Octachron commented on #9859
Fiddling with the issue, the problem appears as soon as one captures an inferred function type, which does not require going through the object system:
[code]

[2020-08-27 12:25] Octachron commented on #9859
Since this is an isolated assertion which is contradicted by current behavior of the type checker, I am reverting #9348 in 4.11.1 .

We can discuss the right behavior without breaking existing code.

@jamesjer : the specific prooftree issue should be fixed in 4.11.1, which will be released shortly to fix another major issue.

[2020-08-27 14:03] jamesjer commented on #9859
Thank you for the swift action on this issue.

[2020-08-28 04:50] gasche commented on #8881
There was progress on this issue recently, in that @yallop made an extremely similar proposal as an RFC https://github.com/ocaml/RFCs/pull/14, which has received favorable reviews. I think it's a case of people people needing time to get used to an idea and construct a set of interesting examples. In any case, (1) the RFC (or this issue) has not gathered a clear consensus yet (but I'm personally i

[2020-08-28 05:36] garrigue commented on #9859
@trefis The meaning I was giving to "not useful" is that it is not needed to make the corresponding code work.
On the other hand, one could say that it was useful, since it revealed that the assertion was wrong.
But then making that an assertion (that causes fatal failures) might not have been a good idea.
If the goal is to have people report it, we could have a warning for that, but it's not clea

[2020-08-28 07:37] Octachron commented on #9859
Notwithstanding the assertion issue, there seems to be something strange going on with coercion and labels commutation:
[code]
It is surprising to me that half of the `commute_or_not` functions in the above example type checks.

[2020-08-28 08:14] garrigue commented on #9859
If you look at the code in `build_subtype`, you will see the reason: if there is no subtyping on both sides of the arrow, the original type is kept.
This is what happens with `With_int`, and since this type is then unified with the type of `g`, which is given explicitly, the resulting type commutes.
In the `Type_with_variant` case, a subtype is built, and unified with the explicit type, but the re

[2020-08-28 08:16] garrigue commented on #9859
Actually, this is an extra argument for sharing the commutativity flag between the original type and the subtype: in this case this would allow the `With_variant` case to type, which is correct since subtyping cannot change the order of arguments.

[2020-08-29 16:46] yallop commented on #9072
I think there are two surprising things:
1. a difference between `-short-paths` and the standard printer even when no dotted paths are involved.  It'd be less surprising if `-short-paths` didn't change the behaviour when there are no dotted paths involved.
2. that `-short-paths` is performing search rather than resolution (i.e. introducing types that aren't reachable from the expression entered by

[2020-08-31 05:10] garrigue commented on #9072
This would still break the property that the same type constructor should be printed in a unique way. This is the reason we do search rather than resolution (or more precisely, resolve all paths and search for an optimal witness of the the resolved form, but not limiting ourselves to the paths we resolved, since this can change in the future).

[2020-08-31 09:24] yallop opened #9866 "Stack overflow when checking recursive constraint"
The following program

[code]

is correctly rejected with an error message in 4.11.0

[code]

but causes a stack overflow in the compiler in `trunk`.

@garrigue: I think this was introduced by #9500.

[2020-08-31 10:58] alainfrisch opened #9868 "Windows: bad interaction between eol translation and channel_length/seek"
Under Windows, files opened in text mode are subject to an implicit end-of-line translation (CRLF -> LF) performed by Windows itself.  This mode interacts badly with the implementation of OCaml channels (explanations for in_channel, but the same applies for out_channels):

  - Upon reading, the internal channel->offset field is bumped by the number of character read, after the translation.  As a c

[2020-08-31 11:05] alainfrisch commented on #9868
Note: the last problem (in_channel_length moving the cursor) could be fixed easily by explicitly requesting the current offset (with an extra call to lseek) instead of trusting the internal offset field.  Still, pos_in would remain unreliable (couldn't be compared with in_channel_length, passed to seek_in, etc).

[2020-08-31 12:28] xavierleroy commented on #9868
Seeking makes limited sense on files opened in text mode.  But, yes, it would be better if we could reliably seek to a position returned by `pos_in`/`pos_out`.

That's a bit of a pain, and could misbehave with file descriptors pre-opened in text mode such as stdin, stdout, stderr.   You'd need to set them to binary mode so that the translation can be done on our side.  But then `fprintf(stderr, ..

[2020-08-31 12:32] xavierleroy commented on #9868
Perhaps the most radical solution to this problem is to reimplement OCaml's buffered I/O using `<stdio.h>`, so that the buffering is handled by the C standard library.  The current "let's do our own buffering" implementation is of historical nature and may not have any raison d'être left.

[2020-08-31 12:41] alainfrisch commented on #9868
I guess not supporting pos_in/seek_in/in_channel_length on stdin would be fine :-)  So perhaps one could support two modes.

Since there is no simple and full solution, I would suggest the following steps:

   - Make sure that in_channel_length doesn't move the cursor.
   - Document that seek_in should be avoided under Windows on text files (except perhaps to rewind to offset 0) and that pos_in mi

[2020-08-31 12:45] shindere commented on #8901
Still an issue, I think.

In stead of using the syntax described above, couldn't we just record a
list of MASM-reserved keywords and make sure we do not generate them?
Wouldn't that be simpler?

[2020-08-31 13:12] shindere commented on #9868
Xavier Leroy (2020/08/31 05:33 -0700):

I remember we already discussed this. It would definitely be nice to
have the buffering done in C, also because currently printing from C
code does not behave well.

Could that perhaps be a topic for an (outreachy) intern? @gasche?

[2020-09-01 08:41] garrigue commented on #9866
This looks like another version of #9314 .
The error message in 4.11 seems only remotely related to what happens.

The same stack overflow occurs also in 4.00.
In 3.12.2, the error is even stranger:
[code]

I'm not sure what to do about this one.
Should we just reject constraints that result in extracting the body from a parameter?
This might also solve #9314, which would be great.

[2020-09-01 08:49] xavierleroy commented on #9868
I think we can go a little further by just ignoring the cached file position (field `offset` of `struct channel`) if the channel is opened in text mode, and always call lseek.  This should fix `{in,out}_channel_length` and give a clear behavior for `seek_{in,out}` (seeking to absolute positions in the underlying file, before eol conversion).

`pos_in` remains broken.  We could raise an exception i

[2020-09-01 08:50] xavierleroy commented on #9868
Concerning the stdio-based reimplementation: there are dragons, esp. with signal handling, also with Windows sockets.  I wouldn't give this as an intership topic.

[2020-09-01 09:18] Octachron commented on #9859
Those example are certainly utterly artificial, and I wrote them by looking at the code of `build_subtype`. Arguably, the error might appear in slightly less absurdly contrived situations on the object side:

[code]
But yes, those examples are mostly here to illustrate an edge case.
The behavior with a shared commutativity flag seems simpler to explain.
I will open a PR with this change and the co

[2020-09-01 10:58] alainfrisch commented on #9868
Returning an approximate position (with the appropriate disclaimer in the doc) could be useful, e.g. to report a progress indicator while scanning a text file (it will just converge to something like 96% rather than 100%, but that's ok).

[2020-09-01 19:33] gasche commented on #9866
What do you mean by "the body" in "extracting the body from a parameter"?

Note: the example `type 'a gamma = 'b constraint 'a = < gamma : 'b >` from #9314 is a projection operator for a type-level record; I'm worried that disallowing this would make type-level records impractical in OCaml, and I've written libraries that use type-level records in ways that seem useful -- removing them would reduc

[2020-09-02 04:14] garrigue commented on #9866
Actually I found a solution (#9870) that doesn't introduce any restriction.
Interestingly, the problem here is that 4.12 is able to detect that `t` is injective, but unification could not cope with this definition. This is fixed with only minor side-effects, but as everything related to constrained parameters, it is hard to define what is correct. Again, there would be no problem if all types were

[2020-09-02 04:23] #7568 closed, assigned to nobody

[2020-09-02 08:01] gasche commented on #9701
Pinging prospective bug-fixers: this is an annoying regression that was introduced somewhat recently.

[2020-09-02 09:02] trefis commented on #9701
If that's the case then I believe the following patch should be enough to fix the issue:
[code]
however it doesn't appear to work for me.
Neither does reverting the commit you point to.

So perhaps I'm doing something wrong when trying to reproduce, or there is another issue. I do think the patch I wrote above is needed though. I'll let someone else try it.

[2020-09-02 14:15] lpw25 commented on #9853
@damiendoligez

[2020-09-03 07:40] yallop commented on #9866
Here's a similar case where the connection between the message and the code seems even more tenuous:

[code]

[2020-09-03 07:51] yallop opened #9873 "Top-level printer crash with recursively-constrained type"
This looks somewhat related to #9866 (cc @garrigue):

In 4.11.1:
[code]

In `trunk`:
[code]

[2020-09-03 08:15] garrigue commented on #9866
With #9870, this gives:
[code]
This is a bit more meaningful.

[2020-09-03 08:17] garrigue commented on #9873
Unfortunately, #9870 does not fix that one. Pandora box ?

[2020-09-03 09:51] garrigue commented on #9873
Fixed in #9870. The cause was a use of `Ctype.apply` which does not handle properly constrained parameters.
Maybe Ctype.apply itself should be removed in most cases.

[2020-09-03 09:53] garrigue commented on #9873
Note that the bug was in the printer, not the type-checker, but the faulty function is exported from the type checker (it is very seldom used, hopefully on types without constraints).

[2020-09-03 11:47] garrigue commented on #9873
Actually the problem is not in the printer; using #9870 we get:
[code]
which is clearly wrong. I'm starting to get completely lost. Somehow the type checker seems to believe parameters are regular too... Now looking into how to get rid of those strange type definitions.

[2020-09-03 15:00] #9856 closed, assigned to nobody

[2020-09-03 15:05] Octachron commented on #9859
The bug is fixed in 4.11 and trunk. I am closing this specific issue. And I will reopen a specific issue about the propagation of Cok/Cunknowns arrows in coercions.

[2020-09-03 15:05] #9859 closed, assigned to nobody

[2020-09-03 15:08] Octachron commented on #8882
There is still a documentation issue.

[2020-09-03 15:12] Octachron commented on #7629
The issue still exists, and is exotic enough to warrant being recorded.

[2020-09-04 04:24] #7593 closed, assigned to nobody

[2020-09-04 08:23] Octachron commented on #8907
This is still an issue on trunk. I have opened a PR which tracks @lpw25 example in the testsuite in #9875

[2020-09-04 15:15] damiendoligez commented on #9430
Then we're missing a statement that the examples are fully general? Something to tell the user that this is the whole spec and there's nothing more to it. A mere example doesn't fully convey that meaning.

[2020-09-05 05:57] nojb commented on #9701
I double checked, this is what I obtained:

- b734672aaa8c66c605fb3422a471afdc07cece15 (parent of 3efba04eb34e914b0a032b90f67ca42e202315f6) -> good
- 3efba04eb34e914b0a032b90f67ca42e202315f6 -> bad
- 3efba04eb34e914b0a032b90f67ca42e202315f6 + @trefis fix -> good
- `trunk` -> bad
- `trunk` + @trefis fix -> bad

In short: @trefis' suggested fix indeed fixes the problem when applied to the commit tha

[2020-09-05 18:08] stedolan opened #9885 "Crash with weird self types"
The following (entirely reasonable and normal...) code causes assertion failures in typeclass / ctype:
[code]
(Lines 3 and 4 cause two different errors)

My guess is that there should be a "Self type cannot escape its class" error about the parameter `x`: I think its inferred type is ill-formed, referring to a self type from outside the class.

[2020-09-06 08:26] xavierleroy commented on #8867
Results of a quick experiment: `-nodynlink` is incompatible with PIE on AMD64 (x86 64 bits) and ARM (32 bits).  In both cases, an error is reported at link-time.

For AMD64, PIC code is generated by default, which trumps `-nodynlink`, so one needs to do `ocamlopt -nodynlink -fno-PIC` to run into the issue.

ARM64, Power, and I386 (x86 32 bits) seem OK.  s390x (Z systems) doesn't support PIE at all

[2020-09-07 04:31] yallop commented on #8917
Let's leave this open, since there's a fix underway in #8929

[2020-09-07 07:36] xavierleroy opened #9888 "RISC-V code generator: inconsistent use of register t0"
Register `t0` is allocatable, yet it is not properly tracked by the GC:
https://github.com/ocaml/ocaml/blob/trunk/runtime/riscv.S#L72-L94
`t0` is not saved and restored to/from the `caml_gc_regs` array.  If a pointer to the heap is allocated in `t0` and is live across an allocation point, something wrong will happen at GC time.

On the other hand, according to some comments, `t0` should not be all

[2020-09-07 07:36] xavierleroy commented on #9888
Pinging @nojb .

[2020-09-07 08:06] nojb commented on #9888
Thanks for the ping. As far as I remember `t0` should not be allocatable, but there were some register assignment changes when the PR was merged, so maybe things got mixed up at that point. Will take a look.

[2020-09-07 08:52] #5658 closed

[2020-09-07 10:49] nojb commented on #9888
Indeed the change in use of `t0` was done in the original PR, commit https://github.com/ocaml/ocaml/pull/9441/commits/7b6ac9dd1cec24e067fb64f0317d1badfee1bd2e. The discussion starts at https://github.com/ocaml/ocaml/pull/9441#discussion_r407177621.

It seems that `t0` indeed can be used for the register allocator, but I forgot to update the assembly stubs to spill it to `caml_gc_regs` (and update

[2020-09-07 10:53] dra27 commented on #8901
I'd need to page this back in (indeed, I have most if not all of a fix for it somewhere), but IIRC the problem here is user-code generating these symbols

[2020-09-07 11:21] nojb commented on #9888
Also, there is an unrelated typo https://github.com/ocaml/ocaml/blob/961aaf5d1c6ff91cff6b06eb41bc0bb4f2857abd/runtime/riscv.S#L114-L115

PR incoming.

[2020-09-07 17:41] bschommer commented on #9523
There seems to be a tool for checking all opam packages, [opam-health-check](https://github.com/kit-ty-kate/opam-health-check), could this help with testing whether not installing the `VERSION` file breaks some packages @kit-ty-kate ?

[2020-09-08 07:52] #9868 closed, assigned to nobody

[2020-09-08 07:55] #9888 closed, assigned to nobody

[2020-09-08 15:32] #9421 closed, assigned to nobody

[2020-09-08 20:59] nojb commented on #6102
Just for info, having a "stop-after-typing" flag that also produced as a side-effect `.cmi`, `.cmt` and `.cmti` files would be useful for `dune`, see https://github.com/ocaml/dune/pull/3758

cc @rgrinberg @jberdine

[2020-09-08 21:59] kit-ty-kate commented on #9523
sure, I can check for that. You can use this tool but doing it yourself is most probably going to take several days but with our server it should be faster. I just need a PR with this change in (may it be moved elsewhere or just removed) so that I can run the check.

This is a wild guess but I don't think it's gonna break that many packages, maybe one or two, but most just use `ocaml -vnum`/`ocaml

[2020-09-09 05:03] gasche commented on #6102
I think it would be fine to change the behavior of `-stop-after typing` to produce those files (for the latter, when `-bin-annot` is passed I guess), with the rationale that for passes that produce a target, `-stop-after` runs after this target. Or we could add a new pass name for just the target production, for example `-stop-after-typing-output`.

(cc @gretay-js who thought about `-stop-after` u

[2020-09-09 05:07] rgrinberg commented on #6102
Indeed, it would be a good start. Of course we’d also need a way to resume compilation after typing to produce the cmo’s, cmx’s.
On Sep 8, 2020, 10:03 PM -0700, Gabriel Scherer <notifications@github.com>, wrote:

[2020-09-09 07:54] damiendoligez commented on #8625
I tend to agree with @jeremiedimino : `ocamldep` should not output any dependencies if there's an error. But there's not telling what strange things build systems will do, so a change like that should be tested on a large number of opam packages.

[2020-09-09 10:34] austindd commented on #6122
I understand this issue is technically about clarifying error messages, but I would really like to see this underlying limitation of the type system (the inability to expand the type), at least for closed polymorphic variants. I have no idea what that would mean in terms of effort, but it would be a really nice feature to have. This greatly improve our ability to compose types & subtypes with poly

[2020-09-09 12:08] gretay-js commented on #6102
@rgrinberg  There is PR #9003 for resuming compilation from emit stage. It takes as input a file that contains marshaled Linear IR.
Overall, the compilation is split into two steps, using a command thats look like this:
``` ocamlopt -stop-after scheduling -save-ir-after scheduling t.ml <other options> ```
which generates t.cmir-linear file and followed by
```ocamlopt  t.cmir-linear <other options>

[2020-09-09 12:34] bschommer commented on #9523
I created PR #9895 which simply does not install the `VERSION` file.

[2020-09-09 12:40] Octachron commented on #6122
You are more or less asking to completely redesign row-polymorphism in OCaml. This is not really a reasonable scale for a feature wish.

[2020-09-09 12:42] gretay-js commented on #6102
No change is needed: -stop-after typing already produces these files.

[2020-09-09 14:01] damiendoligez commented on #6294
I've searched for `caml_alloc_custom_mem` in the lablgtk sources and didn't find it. @garrigue can you tell us more about this?

[2020-09-09 14:36] lthls commented on #9839
I've done a bit of investigating on this, and it turns out that for `Spill.reload`, the stack frame for the function is bigger when compiled with -O3 than with the default options.
This is kind of expected: the inlining parameters given with the -O3 flag make it more likely to create big functions, and big functions are more likely to need bigger stack frames.
There is no practical way currently f

[2020-09-09 15:03] hhugo commented on #9627
Ping again

[2020-09-10 06:52] austindd commented on #6122
@Octachron you’re right, that’s such a big change, and would probably break a lot of things.

[2020-09-10 09:32] dra27 opened #9897 "Out-of-date example in "Implementing primitives""
The example of the `input` primitive in the Interfacing with C chapter of the manual is out-of-date: the primitive is now called `caml_ml_input` and it's much more complicated than when the example was written!

`caml_ml_seek_in` is a closer example to the point the paragraph is trying to make.

[2020-09-11 10:07] shindere commented on #8927
@lpw25, did you make any progress on #616 which seems to address this
issue in a way which is acceptable for @mjambon?

Does somebody know what needs to be done to make things go forward here?

[2020-09-11 10:11] lpw25 commented on #8927
No progress there. It needs a lot of work persuading people to have the feature. Possibly it requires adding list comprehensions as a prerequisite so that people are willing to accept array comprehensions as syntax. I think we should just close this issue as essentially a duplicate of #616.

[2020-09-11 10:13] shindere commented on #8927
Leo White (2020/09/11 03:11 -0700):

Feel free to do so, as far as I am concerned and if @mjambon is happy
about it or does not respond.

It would be nice to have list comprehensions!

Shall we discuss this during a dev meeting?

[2020-09-11 18:18] mjambon commented on #8927
Please don't worry about me. I think it makes sense to close this issue as a duplicate of #616.

[2020-09-11 18:18] #8927 closed, assigned to nobody

[2020-09-14 09:18] shindere commented on #8927
OK thanks @mjambon. I think we do have to worry about our community.
I will now close this issue.

[2020-09-15 09:10] Octachron commented on #9770
Fixed by #9745 .

[2020-09-15 09:10] #9770 closed, assigned to nobody

[2020-09-16 14:01] stedolan commented on #9129
Fixed by #9580

[2020-09-16 14:01] #9129 closed, assigned to nobody

[2020-09-17 06:53] pw374 commented on #8813
I like this option, provided the trailing spaces are ignored of course. Otherwise `";;      "`  wouldn't qualify.

[2020-09-17 06:56] pw374 commented on #6472
How about we finally change this broken specification? :p

[2020-09-17 20:13] johnwhitington commented on #8813
I second this qualification -- if not, copy and paste into a top level will get tiresome.

[2020-09-18 12:57] #7538 closed, assigned to mshinwell

[2020-09-21 15:00] ejgallego commented on #9326
Dear all, some new results w.r.t. 4.11:

- https://github.com/coq/coq/pull/13038#issuecomment-694239621
- https://github.com/coq/coq/pull/13040#issuecomment-695335651

Even if best_fit seems to improve a some cases, some users seem to be still hit (4.07.1 vs 4.11.1 + best_fit) :
[code]

[2020-09-21 15:07] gasche commented on #9326
As far as I know, we still have no idea of which change precisely in 4.08+dev is introducing the regression. What should we do to work on this?

In https://github.com/ocaml/ocaml/issues/9326#issuecomment-590000294 I mentioned a handful of PRs that might be involved in the regression. Maybe I could try to provide experimental variants of 4.08 with those PRs *reverted*, and then you ( @ejgallego ) w

[2020-09-21 15:16] ejgallego commented on #9326
I'm afraid I don't have the cycles to run the bisect right now, sorry.

Something that would make this much easier would be to allow to compose the compiler build with OCaml libraries, as we support for Coq when using dune.

[2020-09-21 15:17] ejgallego commented on #9326
That would help, thanks, however our bench system has changed and it is much harder now to try new switches / package subsets :S

[2020-09-23 20:28] MSoegtropIMC opened #9938 "Older OCaml for MinGW versions (4.07.1, 4.08.1) don't build any more after Cygwin MinGW header update"
Since (afaik) this only affects older versions of OCaml this is more to make you aware of the situation and not a request to fix it. I reported this to (https://github.com/fdopen/opam-repository-mingw/issues/77) and supplied a patch so it will likely be fixed there with an opam patch.

As far as I can tell the trunk version is not affected by this.

The root cause is that function `snprintf` was n

[2020-09-24 09:12] dra27 commented on #9938
I'm seeing this on trunk as well - are you sure?

[2020-09-24 09:39] MSoegtropIMC commented on #9938
I didn't try it but I couldn't find the failing piece of code in trunk. But it might be that I just searched for `misc.h` and not for `snprintf`.

In case it fails in your CI I can definitely have a look at trunk and try to fix it there as well (maybe in a more appropriate way).

[2020-09-24 10:18] dra27 commented on #9938
It's anywhere where `stdio.h` is `#include`'d after `misc.h`. It's very easy to have that happen since `mlvalues.h` pulls in `domain_state.h` which pulls in `stdio.h` (correctly ~IIRC~, as it needs `FILE`). So it's more any C file which _doesn't_ explicitly include `stdio.h` will probably implicitly pull it in at the wrong point.

The issue is that [bfd33f6](https://sourceforge.net/p/mingw-w64/min