[2019-11-18 17:36] rixed commented on #4104
I would be happy to submit a PR filling the void for Unix but I wouldn't be able to implement it for windows.
Would that still be useful?

[2019-11-18 17:50] xavierleroy commented on #4104
The Windows implementation doesn't look much more difficult than the Unix implementation, so I'd rather have both at the same time.

[2019-11-18 20:16] jeffbski commented on #6951
Does this issue include warning on let shadowing or is it only related to shadowing from open/import?

I am interested in a warning that would warn of let shadowing of a variable in the same scope to prevent the accidental use of an existing variable name. If the type was different then that would potentially catch the problem, but if the types were the same then a warning would be nice to catch t

[2019-11-19 09:53] garrigue commented on #6951
I'm a bit uncomfortable with a warning on let-shadowing, as reusing the same name can be a good idea. For instance, in my experience the following code is both safe and readable:
[code]
In particular I had some bad experiences in the past with using different names, and referring to the bad one at some point (unused variable warning can help, but only to some extent).

On the other hand, doing thi

[2019-11-19 16:03] sanette opened #9126 "ocaml doc: two "iterators" sections for List API"
https://caml.inria.fr/pub/docs/manual-ocaml/libref/List.html

=> there are two sections called "Iterators" (due to the recent addition of Sequences at the end)

it happens also for other modules like Array

[2019-11-19 16:12] sanette opened #9127 "html manual: closing } for type doc has wrong style"
very minor, but weird, I'm not sure what is responsible for this:

in, for instance
https://caml.inria.fr/pub/docs/manual-ocaml/libref/Format.html
at the paragraph starting with
`type formatter_out_functions = {`
the closing brace "}" is not properly styled.

[2019-11-19 16:14] jeffbski commented on #6951
Yes, I agree that let-shadowing for local expressions is a normal use, so maybe the warning I am asking for would be for non-local expression let binding shadowing. This would occur when you are doing global let binding or at the let binding at the top scope of a function (not part of a local expression).

As I understand it, being a warning it could be configured on/off depending on the user's de

[2019-11-20 07:20] sanette opened #9129 "manual: the list of exceptions should include the Stdlib exceptions"
https://caml.inria.fr/pub/docs/manual-ocaml/libref/index_exceptions.html

does not currently include exceptions like Not_found, etc.

[2019-11-20 10:14] trefis commented on #9129
`Not_found` is not defined in the stdlib, it is a [predefined exception](https://github.com/ocaml/ocaml/blob/trunk/typing/predef.ml#L100).
Predefined types and value are documented in [the core library](http://caml.inria.fr/pub/docs/manual-ocaml/core.html) section of the manual.

[2019-11-20 11:00] sanette commented on #9129
I know but don't you think it's confusing ?

The page https://caml.inria.fr/pub/docs/manual-ocaml/libref/index.html
does include Stdlib which does mention these exceptions,
and the same page does have an entry "index of exceptions", which does not mention these..

[2019-11-20 11:13] sanette commented on #9129
Just compare with "index of values" , from the same general index page (so same section of the manual as "index of exception"). It *does* mention all the values that belong to "Pervasives", while the Pervasives module is presented in the "Core Library" section of the manual.
The questin would be the same for predefined types; to my opinion it would be more natural from the user viewpoint to includ

[2019-11-20 11:28] trefis commented on #9129
Ah, you are correct: I had forgotten these exceptions were being reexported by `Stdlib`.
Then they should indeed be in the index.

[2019-11-20 20:14] aryx opened #9131 "fail to build 4.07.1+musl+static+flambda"
Here is the trace:
<pre>opam switch create 4.07.1+musl+static+flambda

<font color="#06989A">&lt;&gt;&lt;&gt;</font> <b>Gathering sources</b> <font color="#06989A">&gt;&lt;&gt;&lt;&gt;&lt;&gt;&lt;&gt;&lt;&gt;&lt;&gt;&lt;&gt;&lt;&gt;&lt;&gt;&lt;&gt;&lt;&gt;&lt;&gt;&lt;&gt;&lt;&gt;&lt;&gt;&lt;&gt;&lt;&gt;&lt;&gt;&lt;&gt;&lt;&gt;&lt;&gt;&lt;&gt;&lt;&gt;&lt;&gt;&lt;&gt;&lt;&gt;&lt;&gt;&lt;&gt;</font>

[2019-11-20 20:29] gasche commented on #9131
(It would be useful to check that the problem still exists with a more recent OCaml version, for example 4.09 or trunk.)

[2019-11-20 20:54] aryx commented on #9131
same with 4.09:
<pre><font color="#8AE234"><b>pad@yrax</b></font>:<font color="#729FCF"><b>~</b></font>$ opam switch create 4.09.0+musl+static+flambda

<font color="#06989A">&lt;&gt;&lt;&gt;</font> <b>Gathering sources</b> <font color="#06989A">&gt;&lt;&gt;&lt;&gt;&lt;&gt;&lt;&gt;&lt;&gt;&lt;&gt;&lt;&gt;&lt;&gt;&lt;&gt;&lt;&gt;&lt;&gt;&lt;&gt;&lt;&gt;&lt;&gt;&lt;&gt;&lt;&gt;&lt;&gt;&lt;&gt;&lt;&gt

[2019-11-20 20:55] aryx commented on #9131
and I have musl-tools installed (musl-gcc test.c -static  does work)

[2019-11-20 21:05] aryx commented on #9131
I'm under Ubuntu 18.04 LTS

[2019-11-21 15:35] sanette opened #9132 "manual: replace Pervasives by Stdlib in the index of values and types"
https://caml.inria.fr/pub/docs/manual-ocaml/libref/index_values.html

the link to Pervasives is deprecated and contains much less information than Stdlib

[2019-11-21 22:00] v-gb opened #9133 "missing alert warning with -no-alias-deps"
Given the following files:
[code]

I would expect to get a warning on both uses of `B` in c.ml.

Instead only the second one, the one that doesn't go through the alias triggers:
[code]

Given that jenga and dune build all libraries (by default) with a layer of aliases similar to a.ml above, alert and deprecation warnings on most compilation units don't work, silently.

[2019-11-22 23:52] houndofsound opened #9135 "natdynlink problem and fix ... maybe."
I have a dynlink module loading another dynlink module.
it works ok in bytecode but not native.

the last few lines of [loadunits] in natdynlink.ml:
...
  ndl_run handle "_shared_startup";
  List.iter (ndl_run handle) defines;
 { implems = new_implems; ifaces = new_ifaces }

[implems] does contain the outer dynunit but the call to [ndl_run]
leads to the inner [loadunit] invocation that accesses [g

[2019-11-23 00:05] houndofsound commented on #9135
a patch accommodating the [priv] flag....

+++ otherlibs/dynlink/natdynlink.ml	2019-11-22 23:56:53.533348823 +0000
@@ -167,7 +167,7 @@
          raise (Error(Unavailable_unit name))
     ) ui.dynu_imports_cmx

-let loadunits filename handle units state =
+let loadunits priv filename handle units state =
   let new_ifaces =
     List.fold_left
       (fun accu ui -> add_check_ifaces !allow_extensio

[2019-11-23 00:10] houndofsound commented on #9135
a patch accommodating the [priv] flag ...
[code]

[2019-11-23 18:10] SkySkimmer commented on #9069
The new error should probably be explained in the manual.

The meaning of "regular type" is given in http://caml.inria.fr/pub/docs/manual-ocaml/polymorphism.html#sec60 ("5.2 Polymorphic recursion" subsection of "5 Polymorphism and its limitations")

but it's only about recursion, not defining types involving polymorphic variants.

I guess something should be added in "5 Polymorphism and its limita

[2019-11-24 18:06] treinen opened #9137 "ppc64el: compilation of a C program against the C API of morbig fails"
I get a compilation failure of [this C program](https://github.com/colis-anr/morbig/blob/master/examples/c/dump.c) using [this Makefile](https://github.com/colis-anr/morbig/blob/master/examples/c/Makefile) against the C API of the [morbig library](https://github.com/colis-anr/morbig), which has been compiled under OCaml 4.08. The same error has been reported earlier when compiled with OCaml 4.05.

[2019-11-24 19:04] avsm commented on #9137
You may need to vary the `-mcmodel=<...>` to either `small` or `medium` to get enough room for the symbols. [ocaml-yaml also does this](https://github.com/avsm/ocaml-yaml/blob/master/config/discover.ml) on ppc64le.

[2019-11-25 08:49] xavierleroy commented on #9137
TOC overflows can occur in C as well... but they are an annoying "feature" of PPC64 nonetheless.

You could also try to compile some or all of the OCaml code involved with `ocamlopt -flarge-toc`.

[2019-11-25 12:33] sanette commented on #9126
I would like to emphasize that this is a problem for html navigation, because two sections have the same "id" attribute.

[2019-11-25 13:27] cpitclaudel opened #9140 "The compiler gets confused when passed relative paths (Error: Could not find the .cmi file for interface …)"
Hi all,

Calling `ocamlc` or `ocamlopt` with a relative path to both a `.mli` and `.ml` only works if both reside in the current directory.

In the example below, I've creates `test/a.ml` and `test/a.mli` before calling `ocamlopt a.mli a.ml`.  The problem is that after compiling `test/a.mli` file to `test/a.cmi`, the compiler tries to compile `test/a.ml` and looks for `a.cmi` in the *current* dire

[2019-11-25 13:34] nojb commented on #9140
This is expected. You must use the `-I` flag to tell the compiler where to find `.cmi` files:
[code]

[2019-11-25 13:38] lpw25 commented on #9140
To a certain extent the confusing -- and a bit dubious -- aspect of the current behaviour is that it automatically adds the current directory to the list of include directories.

[2019-11-25 14:29] cpitclaudel commented on #9140
That's brittle: f there's an `a.cmi` file in the current directory, the compiler will pick that up first instead of the one in the -I path.

Agreed.  Is there a way to remove the current directory from the include list?

[2019-11-25 15:08] pmetzger commented on #9126
@sanette If you have a fix for this, you might want to submit a pull request...

[2019-11-25 15:20] sanette commented on #9126
@pmetzger unfortunately I don't. At this point I've only been post-processing the html. For this issue, I suppose one should go into the manual sources:
* modify the LaTeX source
* maybe put something in Hevea (no, I mean ocamldoc) that detects duplicated "id"s, in which case it could add "_1", "_2", etc.

[2019-11-25 15:25] Octachron commented on #9126
There is no need at all to look at latex here. The documentation for the `list` module is in `stdlib/list.mli.

[2019-11-25 15:30] sanette commented on #9126
@Octachron oh yes, of course, that's right. Do you have an idea on how to change the section title?
(I mean : what new title could we use?)

[2019-11-25 15:35] sanette commented on #9126
Maybe the first one could be "Iterating on a list" and we reserve the word "Iterators" for Seq things?
(I personnally would prefer using "Sequences" instead of "Iterators", but I guess "Iterators" is already well established in other languages)

[2019-11-25 17:03] Octachron commented on #9069
This sounds like a good idea. I shall have look at explaining this preexisting restriction in the manual.

[2019-11-25 21:24] c-cube opened #9142 "no @since annotation on `custom_fixed_length`"
there is no mention that the `custom_fixed_length` field in `struct custom_operations` is new in http://caml.inria.fr/pub/docs/manual-ocaml-4.08/intfc.html (I think it's introduced in 4.08).

[2019-11-26 11:59] Romendakil commented on #9131
This looks very much like a problem with mixing up 32bit and 64bit libraries.

[2019-11-26 12:11] Romendakil opened #9144 "ocamlrun/libcamlrun_shared fails to link with gcc 10.0 develop version"
I tested both OCaml 4.02.3 and 4.09.0. For both, linking with gcc 10.0, their development version r278668  svn://gcc.gnu.org/svn/gcc fails (cf. below). This problem was observed both on Debian Linux as well as on MacOSX. I don't know whether this is a regression on the side of the linker of gcc, or the linker has become stricter, and there is some sloppyness in the build/link system of OCaml. I wi

[2019-11-26 12:19] Romendakil commented on #9144
The gcc bugreport is here: https://gcc.gnu.org/bugzilla/show_bug.cgi?id=92673

[2019-11-26 12:31] mshinwell commented on #9144
If you add "`extern`" at the start of line 47, `runtime/backtrace_byt.c` (before "`struct ext_table caml_debug_info;`"), on the 4.09 branch does it still fail?

[2019-11-26 12:46] Romendakil commented on #9144
It manages to get ahead a whole lot further, but then fails with a similar issue when linking  libasmrun_shared.so
duplicate symbol '_caml_atom_table' in:
    startup_aux_npic.o
    startup_nat_npic.o
ld: 1 duplicate symbol for architecture x86_64

[2019-11-26 12:58] mshinwell commented on #9144
On line 47 (again!) of `runtime/startup_nat.c`, change `CAMLexport` to `extern`. Does that fix it?

[2019-11-26 13:14] Romendakil commented on #9144
Yes, then compilation works. When running the testsuite, I get some failures, but they might be unrelated:
Summary:
  2178 tests passed
   32 tests skipped
  280 tests failed
  108 tests not started (parent test skipped or failed)
Richard Biener from gcc commented (and closed by report as invalid) with the remark:
"Try -fcommon, it's default recently was swapped to -fno-common."
I guess, 'it' here

[2019-11-26 13:19] mshinwell commented on #9144
Can you provide some of the output from the testsuite failures?  It's possible they are link-time failures as well, perhaps?

[2019-11-26 13:21] Romendakil commented on #9144
Yes, I could. How do you comment the remark from the gcc team: did you change your default, or did gcc change it's default?

[2019-11-26 13:24] mshinwell commented on #9144
I don't think we should be relying on the behaviour of gcc as to `-fcommon`.  We can modify the OCaml sources to fix this.

[2019-11-26 13:25] xavierleroy commented on #9144
I think "it" refers to gcc.  This change of default in gcc is going to break a tremendous amount of C code...

[2019-11-26 13:34] Romendakil commented on #9144
Yes, indeed, here it is, a quite interesting discussion:
https://gcc.gnu.org/bugzilla/show_bug.cgi?id=85678
The change was made in gcc trunk on Nov 20, 2019:
2019-11-20  Wilco Dijkstra  <wdijkstr@arm.com>

        PR85678
        * common.opt (fcommon): Change init to 1.
        * doc/invoke.texi (-fcommon): Update documentation.

[2019-11-26 15:00] Octachron commented on #9126
I think it might be better to merge the two section: the current sequence iterator section could be a subsection of the first iterator section. Maybe `Sequence iterators` would be alright as a name in this case?

[2019-11-26 17:14] sanette commented on #9126
In order to be consistent, here is the list of all modules that have a section "Iterators" corresponding to Seq.t conversions.
In have put (2) to indicate modules where there are 2 sections called "Iterators".

* Array (2)
* ArrayLabels.html
* Buffer
* BytesLabels
* Float.Array (2)
* Hashtbl
* List (2)
* ListLabels (2)
* Map.S
* Queue
* Set.S
* Stack
* StringLabels
* String

[2019-11-26 17:24] dbuenzli commented on #9126
You likely don't want to have a whole section for only these two functions. Best would be to move these things in a `{1:converting Converting}` section where they can sit along various converter functions from/to the type.

[2019-11-26 17:28] pierreweis commented on #6951
I more than agree with you; in loops or recursive functions, I often use,
[code]
after having troubles with useless auxiliary names as in let j = i + 1 ...
that allows easy confusion between i and j.

Same story for toplevel re-binding, I often redefined Stdlib functions to
slightly change their meaning either in the toplevel scope of a module, or to
export them to the external world. Or simply be

[2019-11-27 08:35] jhjourdan commented on #9144
That one should be fixed when #9128 will be merged.

[2019-11-27 23:40] copy commented on #7858
Probably the same bug, but may be worth adding as a test case:

[code]

[2019-11-27 23:53] bobzhang opened #9147 "Aliased exn type is not extensible"
[code]
Note I think it is actually more helpful to make exn distinct from open types (exn is important), but this inconsistency is intentional?

[2019-11-28 09:01] Octachron commented on #9147
This behavior is not specific to `exn` at all, you need to declare the aliased type u as extensible itself:

[code]

This should be precised in more detail in the manual.

[2019-11-28 09:11] gasche commented on #9147
I find the behavior a bit surprising; when is it the right thing to do to close extensibility on aliasing, and why is it the default? (Could we have a syntax for closing extensibility if the other option was the default?).
cc @lpw25 @garrigue

I tend of think of `let/type/module/exception/etc. a = b`, when `a` and `b` are names in the appropriate syntactic category, as creating an alias that can b

[2019-11-28 09:34] XVilka opened #9148 "Limiting the function recursion"
It is not an uncommon recommendation is to limit recursion by the logic in the function, but quite often it just limited with amount of "tries" or "depth" going further. I thought, what if the language itself could provide the shorthand for writing such limited recursion functions?
Maybe something like:
[code]
where it will stop after going in depth 5 times.
What do you think? Would it be a useful

[2019-11-28 09:40] gasche commented on #9148
To be honest, I don't like the idea. What's the failure mode once you reach the recursion limit? I doesn't sound very usable without an explicit way to define the failure mode, and I wouldn't encourage this kind of transformation that changes a lot the rasoning model for the function.

It's not too hard to do this yourself as a library:

[code]

[2019-11-28 10:04] trefis commented on #9147
How is that different from not reexporting labels / constructors?

[2019-11-28 10:07] lpw25 commented on #9147
The behaviour is indeed modeled on the behaviour of records and variants:
[code]

[2019-11-28 10:08] gasche commented on #9147
If I understand it correctly, your point is the following. If you alias a variant type, you don't automatically get the variant constructors in scope, you still have to  go through old type to access them (and old-type-variants are compatible with the alias type).  With exensible types, you don't automatically get the power to extend the lias, you still have to go through the old type to extend it

[2019-11-28 14:20] #8718 closed, assigned to nobody

[2019-11-28 14:23] Octachron commented on #9109
This should be fixed in #9089, in a less than perfect way due to some hevea limitation.

[2019-11-28 14:23] #9109 closed, assigned to nobody

[2019-11-29 07:08] XVilka commented on #9148
Indeed, you are right. Feel free to close the bug if you think it is unnecessary.

[2019-11-29 08:18] #9148 closed, assigned to nobody

[2019-11-29 11:16] lpw25 commented on #9140
Looking at the code I think there is no way to avoid having the current directory in the include list.

[2019-11-29 11:46] trefis commented on #9140
I find that surprising. In merlin we've [added](https://github.com/ocaml/merlin/commit/85b1a6f0b439fd4e8b0dfedcc51bb34ec99c6534) a directive to exclude the current directory from the load path.
Why do you think we can't do something similar in the compiler?

[2019-11-29 11:47] trefis commented on #9140
Ah… I guess you just meant "there is currently no way".

[2019-11-29 16:19] jhjourdan opened #9151 "Executables produced by ocamlopt -linkall do not inlude the symbol caml_get_global_data"
[code]

The reason is that the GNU linker does not link the object file `meta.o` (part of `libasmrun.a`) because it is not referenced anywhere.

The symbol `caml_get_global_data` is useful in bytecode mode by the toplevel. It is a dummy function in native mode, but it is referenced by compilerlibs. If compilerlibs is used directly by the program, the C linker will no longer skip `meta.o`, so this

[2019-12-02 16:13] gasche opened #9155 "confusing ocamltest reports"
I'm writing a new test for #463. In my branch, I observe the following output from ocamltest:

[code]

It seems that the test fails (indeed I didn't write a `.reference` file yet), but at the same time there is a report that all tests succeeded. This is confusing and it looks like a bug.

[2019-12-02 17:17] ghost opened #9156 "ocamldebug segmentation fault"
I have found a situation when a segmentation fault occurs during an `ocamldebug` session.

If I take a simple `main.ml` program like this:
[code]
and compile it:
[code]
and start a `ocamldebug` session:
[code]
Am I doing something wrong or is this a bug in `ocamldebug`?

[2019-12-03 09:20] gasche opened #9158 "could ocamltest show the failing logs?"
My usage of ocamltest typically results in failure reports (on my terminal) that look like this:

[code]

Whenever I see this kind of failure messages, I go explore the `_ocamltest` directory (whose location is given in the failure message) to find the log file that will actually contain useful information for me, to know what the failure cause was. When I was younger I used to jump at the `.log`

[2019-12-03 09:31] gasche commented on #9158
(cc @shindere @nojb)

[2019-12-03 09:31] gasche commented on #9155
(cc @shindere @nojb)

[2019-12-03 13:36] dra27 commented on #9158
I wonder if instead what would be clever is if the reporting machinery could display the appropriate logs/output (possibly with `ocamltest`s help). I’ve been pondering at various points adding some analysis to persist the artefacts of failed tests for CI runs.

[2019-12-03 15:42] kit-ty-kate opened #9160 "Various C compilation failures for packages that are using caml/compatiblity.h"
I was looking at the result for `4.10` in last week's check on [check.ocamllabs.io](http://check.ocamllabs.io) and a lot of important packages appear to fail with the same error coming from `caml/compatiblity.h`. Here are the full logs:

* coq: http://check.ocamllabs.io/log/1574696611-eec32e8750d18eaf1eb0d416d0f03b9e0f1df40f/4.10/bad/coq.8.10.1
* lablgtk3: http://check.ocamllabs.io/log/1574696611-

[2019-12-03 16:03] Octachron commented on #9160
This should be fixed by #9143 that was merged today in 4.10 .

[2019-12-03 16:12] garrigue commented on #9160
#9143 does not fix all of those: all these packages should remove their `CAMLextern` declarations for `young_*`.
Or do we have a plan to fix this problem in another way?

[2019-12-03 16:17] garrigue commented on #9160
More precisely, #9143 only fixes the fact `caml_young_*` was broken for uses outside of the compiler.
It does nothing to mitigate the fact `young_*` now expand to pointers inside a structure, and as such cannot be re-declared as `char *`.

[2019-12-03 16:58] damiendoligez commented on #8888
See the `ocamldoc/remove_DEBUG` script for a simple example with line directives.

[2019-12-03 21:27] gasche commented on #9014
(copied from https://github.com/ocaml/ocaml/pull/9115#issuecomment-561363518 as the present issue may be a better place for discussion)

So what are we going to do for `ref_table`?

Could user code be written in a version-portable way by using `typeof (caml_ref_table)` instead of `struct caml_ref_table` in their code? If that works, maybe we could provide a macro for the expression form rather tha

[2019-12-03 21:48] gasche commented on #9160
See #9014 where the issues where reported, #9115 which fixes some of them (not `ref_table`), #8940 (which started fixing the somewhat broken state of) #8713.

[2019-12-04 13:38] stedolan commented on #9014
I think we should just drop the `ref_table` alias?

User code cannot manipulate `ref_table` in a version-portable way. It's an internal undocumented part of the garbage collector, and its interface and semantics changes from time to time.

The only use of `ref_table` / `caml_ref_table` that I could find in OPAM is in the `outofheap` package of ocamlnet. This package reaches into the implementation

[2019-12-04 15:40] gadmm commented on #9014
Alternatively one can rename the struct `caml_ref_table` in minor_gc.h, which is internal.

[2019-12-04 17:28] kayceesrk commented on #9014
@gadmm IIUC renaming the type `struct caml_ref_table` will also break external code ([ocamlnet](https://gitlab.com/gerdstolpmann/lib-ocamlnet3/blob/master/code/src/netsys/netsys_c.h#L139)) that uses this type. In which case, the proposal to drop the `ref_table` seems reasonable to me. ocamlnet will have to access ref_table using the `Caml_state_field(ref_table)` macro.

[2019-12-05 00:26] gadmm commented on #9014
@kayceesrk, sure, but ocamlnet will not have to just use `Caml_state_field` but to define a macro themselves so that their code compiles with several versions. The role of compatibility.h is to make it easier to write code compatible across several versions, and this is just shifting this burden onto users (in an area which is not going to be documented much outside of compatibility.h). (Apart fro

[2019-12-05 03:43] kayceesrk commented on #9014
It is a bit annoying that runtime system development has to take into account undocumented APIs. The manual does not mention `minor_gc.h` as one of the header files that C code should use. The type definition for `struct caml_ref_table` comes from `minor_gc.h`. Given the lack of documented API for these internal structures, are the compiler developers still obligated to ensure that libraries using

[2019-12-05 12:40] xclerc commented on #9014
Would the following patch make sense to fix the base issue?

[code]

(Apparently, an `#include <caml/version.h>` should be added.)

[2019-12-05 15:46] shindere commented on #9158
Yeah there is definitely room for improvmeents here.

One thing for instance would be to include the content of the relevant
output files in the log file itself, whose readability could/should be
improved, I know.

That's something I have been wanting to work on for a long time, just
lacking time.

One other possible way of improving things would be to be able to get
the failing logs and output fi

[2019-12-05 16:18] rwmjones commented on #8647
This bug is back again in 4.09:

https://kojipkgs.fedoraproject.org//work/tasks/546/39440546/build.log

[2019-12-05 16:20] rwmjones commented on #8647
I'm carrying this patch which removes the incorrect use of `$host_alias`.  As mentioned before use `AC_CHECK_TOOL` instead.
`
-AS_IF([test -n "$host_alias"], [toolpref="${host_alias}-"], [toolpref=""])
+#AS_IF([test -n "$host_alias"], [toolpref="${host_alias}-"], [toolpref=""])
`

[2019-12-05 16:41] rwmjones commented on #8647
OK I fixed my workaround and got it to compile again.  I need the patch in the previous comment, plus:
[code]

[2019-12-05 16:41] #8647 closed, assigned to nobody

[2019-12-05 18:06] xavierleroy commented on #9014
I agree with @kayceesrk that we don't have to maintain compatibility for libraries that use `<caml/*.h>` header files not documented in the OCaml manual, or (worse) variables from the OCaml runtime that are not exported.  Those libraries should adapt to changes in OCaml's runtime system using `#if OCAML_VERSION >= NNNNNN` directives.  Even better, those libraries should reconsider why they are usi

[2019-12-06 20:42] gadmm commented on #9014
I do not see what point this is trying to make: nobody here says the contrary, in fact we already said the same on a PR by Jacques-Henri recently. When I split this issue from the original PR, I did not think that two months later we would be there discussing straw-man arguments.

My point was that somebody for some reason has decided that `ref_table` deserves to be defined publicly in `compatibil

[2019-12-06 20:42] gadmm commented on #9014
Closing: #9115 has been merged.

[2019-12-06 20:42] #9014 closed, assigned to nobody

[2019-12-06 20:48] gadmm commented on #9014
@xclerc

I believe that if you want to minimise code duplication, you can also simply do:

[code]

Indeed, `caml_backtrace_pos` is defined as a compatibility macro.

What you propose makes sense to me as well.

[2019-12-06 21:19] gadmm commented on #9160
I do not see a perfectly backwards-compatible approach. (Does anyone else?) If so the best one can do is make it as simple for the user as possible:

1. Document systematic transition steps that can be taken, e.g.

[code]

2. (optional) Propose a macro in `compatibility.h` that does all that automatically

[code]

Let me know if you are interested in the latter.

This is my naive take, let me know

[2019-12-06 21:30] xclerc commented on #9014
Indeed, we will quite probably end up with something as simple
as that. (Our testing is/was based on the `4.10.0+trunk` switch,
which -I think- does/did not include the compatibility macro.)

[2019-12-06 21:33] gadmm commented on #9014
(Indeed, it has just landed with #9115.)

[2019-12-09 10:55] stedolan commented on #9160
The reasonably backwards-compatible approach to accessing `young_limit` is:
[code]
This will work back to 4.04, when the `minor_gc.h` header began to be installed (#656). This is a more reliable approach than redeclaring the runtime's variables.

(For code that wants to support 4.03 and earlier, there's no alternative but `#if OCAML_VERSION < 40400`)

[2019-12-09 11:27] rwmjones commented on #8648
I modified our downstream patch after studying the configure.ac file a bit more.  We now use:

https://pagure.io/fedora-ocaml/c/aab08177e52b9951b5e95c949c7b61c690a0efd7?branch=fedora-32-4.09.0

and now we configure OCaml using:

[code]

That has allowed us to pass the right flags not just to OCaml itself but also to programs that are then built with OCaml.  We are using annocheck to verify that th

[2019-12-09 12:15] gadmm commented on #9160
I am not sure I prefer it:
* It does not do anything in the future for that purpose since it no longer declares young_limit.
* There seems to be an agreement that because it is not documented, it must be treated as an internal interface. If you want to refer to it in public documentation, I think we need to wrap it inside `#ifdef CAML_INTERNALS`.
* Are young_limit/ptr the only ones?

A plain `#if

[2019-12-09 13:10] hhugo opened #9170 "Spurious 'unused open' warning with 4.10.0+trunk"
[code]

[2019-12-09 13:10] hhugo commented on #9170
cc @trefis

[2019-12-09 13:18] gadmm commented on #9160
I think the part where the user has to add `#if OCAML_VERSION < 41000` is fine, because (AFAIU) it only happens if they touch internals.

What could be helpful is some centralised documentation for migration (either official or on some page/wiki). It is needed eventually for multicore, and I think it is the right time to start it.

[2019-12-09 14:55] Octachron commented on #9131
I can reproduce the issue on Ubuntu 18.04 but not 19.10 . cc @shindere .

[2019-12-09 15:14] #9142 closed, assigned to stedolan

[2019-12-09 15:38] Octachron commented on #9170
( There is a related issue with the deprecated `#` syntax:
[code]
)

[2019-12-10 07:09] houndofsound opened #9173 "signature digest differences"
is it correct that
let v = (); ()
and
let v = ()
produce the same signature but different digests?

[2019-12-10 08:43] houndofsound commented on #9173
correction:

module type M  =
  module type of
    struct
      let f =
        let _ = () in ()
    end

vs

module type M  =
  module type of
    struct
      let f =
        (); ()
    end

the problem goes away with -no-keep-locs

[2019-12-10 09:40] houndofsound commented on #9173
that's 4.07 - 4.08

[2019-12-10 10:05] Octachron commented on #9173
Different cmis produce different digests. It is not clear to me if there is any issues hidden behind your questions. I am thus closing. Please feel free to ask supplementary questions on https://discuss.ocaml.org .

[2019-12-10 10:05] #9173 closed, assigned to nobody

[2019-12-10 10:07] gasche commented on #9173
Signature arise of `.mli` files. If you have a `.mli` file and change the implementation but not the interface, the `.cmi` should remain identical. If you don't use `.mli` files, a signature gets inferred from your `.ml` file, and changes in the implementation may result in the signature changing (in particular, in the locations, which are often the most fragile aspect).

[2019-12-10 11:17] houndofsound commented on #9173
are you saying that the signature inferred for the module type above is
retaining location information for elements of the implementation within itself?
which aspect of the signature produced for the above would hold such a location
given that there is nothing else defined before or after function f.
I originally posted without the module type wrapper after going too far in reducing the case.
and

[2019-12-10 12:03] gasche commented on #9173
I would guess (I haven't tried) that the module element (in the signature) may record the location of the whole module definition (from `module` to `end`), so that the extra line break makes a difference.

[2019-12-10 16:15] gadmm commented on #9160
Now here is an unintended consequence of the new `caml/compatibility.h`: apart from `caml_compare_unordered`, all these runtime state variables could only be accessed by defining `CAML_INTERNALS` before (if we forget `extern` definitions for a second). Now it is all as if they are public (meaning there is at least missing documentation stating that they are internal, and a mechanism to prevent mix

[2019-12-10 16:21] glondu commented on #8648
FYI, in Debian we use https://salsa.debian.org/ocaml-team/ocaml/blob/debian/sid/debian/patches/0013-Use-CCLINKFLAGS-for-linking-all-executables-and-shar.patch

[2019-12-11 11:59] XVilka commented on #9131
Same problem with Alpine Linux 3.10 and OCaml 4.09:

Using Alpine Linux based container I get this error compiling static ocaml 4.09:
The docker part:
[code]
Note, that exactly the same setup with with a plain 4.09.0 works fine, it is only `musl+static+flambda` fails:
[code]

[2019-12-11 16:56] jhwoodyatt commented on #9071
I've been off playing around in the weeds on and off for months with an update to ocaml-multicore/ocaml-multicore#240 that I finally pushed this morning. Now I finally come to notice this pull request here.

I have little to add to the discussion on the main topic under discussion, but I'd like to put down a marker here for my strong belief that, at least in the multicore runtime, the entire Threa

[2019-12-12 08:53] lpw25 commented on #9135
Your patch seems to be for the code before dynlink was rewritten. What version of OCaml are you seeing this problem on?

[2019-12-12 13:23] houndofsound commented on #9135
indeed, 4.07.1.
I see the new code does away with global_state in the module!
so that's probably that then...
may I draw your attention to a real issue:
https://github.com/ocaml/ocaml/issues/7893
that I raised (with fix) during mantis days.
the 4.10 code I just looked at has the same problem.
thanks.

On 12/12/2019, Leo White <notifications@github.com> wrote:

[2019-12-12 14:26] gadmm opened #9179 "Internal runtime state variables are being made public in 4.10"
There is an unintended consequence of #8713 which does not seem to have been discussed in that PR: apart from `caml_compare_unordered`, all the runtime state variables moved to Caml_state could only be accessed before by defining `CAML_INTERNALS` or with an `extern` declaration. Now it is all as if they are public. This is due to `mlvalues.h` including `domain_state.h` unconditionally, and `domain

[2019-12-12 15:05] #9135 closed, assigned to nobody

[2019-12-12 18:23] #9144 closed, assigned to nobody

[2019-12-12 18:30] xavierleroy commented on #9144
This is fixed in commit  53327d7  and should not happen again, because we'll compile with `-fno-common` from now on.

[2019-12-13 03:57] kayceesrk commented on #9179
Thanks for bringing this up. Simply making `Caml_state` itself internal would not work. There is at least one example (`caml_local_roots` in `memory.h`) of a publicly accessible variable that has been moved to `Caml_state`. `caml_local_roots` was public since `CAMLparam*` which uses `caml_local_roots` can be used without defining `CAML_INTERNALS`. To do it in a backwards compatible manner, we will

[2019-12-13 10:20] shindere commented on #9131
Hello,

Anton Kochkov (2019/12/11 03:59 -0800):

I am wondering whether the arguments to CC and ASPP shouldn't be quoted?

They do not seem to be in the command so perhaps the variables receive
only the first word and the other words are interpreted as options to
configure?

[2019-12-13 13:11] gadmm commented on #9179
Indeed, I forgot `caml_local_roots`, which as I understand is internal but must be made public for technical reasons.

[2019-12-14 07:32] hhugo commented on #9170
The issue seems to have been introduced by #2127 in https://github.com/ocaml/ocaml/pull/2127/files#r357902506

cc @lpw25

I've managed to fix both issue with the following.

[code]

[2019-12-14 14:20] lpw25 commented on #9170
I think the second one should probably be `Env.lookup_class` but other than that the fix seems reasonable. A better fix in the long run would be to move this logic into another `lookup_` function in `Env`, but we can do that some other time.

[2019-12-15 17:37] rseichter opened #9188 "OCaml 4.09.0 debugger build fails silently on Gentoo Linux"
While building the debugger, ocamlrun fails silently, as shown below. I am unsure how to debug this further.

[code]

[2019-12-15 17:48] rseichter opened #9189 "OCaml 4.09.0 build fails on Gentoo Linux: No rule to make target '../stdlib/ocaml-4.09.0spacetime.mli'"
As shown below, ocamllex fails with "no rule to make target". I have tried to configure with either of --enable-spacetime and --disable-spacetime, but this does not seem to change the outcome.
[code]

[2019-12-15 17:49] gasche commented on #9188
In the build directory, has the `ocamldebug` executable been produced by the silently-failing command? What do you observe if you rerun the command yourself?

[2019-12-15 17:54] nojb commented on #9189
It looks like a problem with the Gentoo package. There is not much we can do, you will probably get a better anwer by asking directly to the Gentoo maintainers. I just note that your console dump seems to be missing slashes, eg:
[code]
should have a slash between `ocaml-4.09` and `spacetime.mli`.

[2019-12-15 18:01] rseichter commented on #9189
I am currently trying to update Gentoo's existing (and working) OCaml 4.05 ebuild to version 4.09, so I could only ask myself. 😉

The build log shows exactly that, `ocaml-4.09.0spacetime.mli` without a second slash. As I am not applying any Gentoo-specific patches before calling `configure`, I wonder what could cause this?

[2019-12-15 18:19] rseichter commented on #9188
The executable exists:

[code]

If I invoke the command manually, it appears to succeed:

[code]

I don't know why `make` would subsequently abort with an error code.

[2019-12-15 18:27] nojb commented on #9189
Got it, do you have a link to the build script you are trying to use ? That may give us some clues.

[2019-12-15 18:48] xavierleroy commented on #9189
Please try to build manually first, before trying your build script.  I just started a Gentoo VM using LXC, did the following, and it worked just fine
[code]
Please try exactly the same steps.  If they fail, the problem is on our side.  If they succeed, the problem is very likely on your side.  Try to compare the build steps of your script with the default build above, that might help understandin

[2019-12-15 18:49] xavierleroy commented on #9188
I can't reproduce.  I just started a Gentoo VM using LXC, did the following, and it worked just fine
[code]
Please try exactly the same steps and tell us if the failure is still there.

[2019-12-15 21:23] rseichter commented on #9189
We are still investigating. Our build succeeds if we configure with `--disable-ocamldoc`, but fails otherwise. To make sure: The expected target name would be `../stdlib/ocaml-4.09.0-spacetime.mli`?

[2019-12-15 21:25] rseichter commented on #9188
If I build using `make -j1`, the build fails as described in #9189. It seems that the apparent silent failure after the debugger build is just a timing issue when building in parallel.

[2019-12-15 21:48] nojb commented on #9189
I think it should rather be `../stdlib/spacetime.mli`.

[2019-12-15 21:53] rseichter commented on #9189
@nojb Thanks, we suspected as much. When and where is the target name being generated? Something during the build seems to inject "ocaml-4.09.0". We're of course searching in our Portage build system first, but it would help us to know how exactly the string `../stdlib/spacetime.mli` is generated.

[2019-12-15 21:56] nojb commented on #9189
you can look in `ocamldoc/Makefile.docfiles` (included from `ocamldoc/Makefile`).

[2019-12-15 22:33] Octachron commented on #9189
This sounds like this could happen if `P` were defined to `ocaml-4.09.0-` in https://github.com/ocaml/ocaml/blob/trunk/stdlib/StdlibModules#L84

[2019-12-15 22:38] rseichter commented on #9189
@Octachron You may have hit the motherlode. Gentoo's Portage build system uses $P to hold the ebuild name and version, in this case "ocaml-4.09.0", and I was wondering if that has somehow ended up in the OCaml build.

[2019-12-16 00:07] rseichter commented on #9188
Root cause is indeed #9189, closing.

[2019-12-16 00:07] #9188 closed, assigned to nobody

[2019-12-16 00:16] rseichter commented on #9189
It's kinda funny that the hours effort spent boil down to a single character. When I change the `?=` operand in [this line](https://github.com/ocaml/ocaml/blob/trunk/stdlib/StdlibModules#L21) to a plain `=`, Gentoo's build system successfully executes the OCaml build.

I am of course wondering if the OCaml authors intentionally used `?=` in StdlibModules?

[2019-12-16 05:07] XVilka commented on #9189
Maybe it makes sense to rename the OCaml variable in the long run? To prevent such accidental hits in the future.

[2019-12-16 12:26] nojb commented on #9189
I think `?=` can safely be turned into `=`. @diml (original author of this code) will be able to confirm.

[2019-12-16 13:30] ghost commented on #9189
Just had a look at the makefiles that include `stdlib/StdlibModules` and it seems that this can indeed be changed. IIRC at some point `P` was set to something else when building the documentation, but it doesn't seem to be the case anymore.

[2019-12-16 15:48] Fourchaux opened #9190 "Correcting person's names (in file Changes)"
Correct (or better) way to spell people's names?

- L321: Angelettion / Angeletti
- L1072: Frish / Frisch
- L1206: Garrique / Garrigue
- L381: Whitequark / whitequark
- L2634: Jeremie / Jérémie
- L159_668_738_798_1500_1537_2441: Nicolas Ojeda Bar / Nicolás Ojeda Bär

[2019-12-16 16:05] rseichter opened #9191 "How to make OCaml build honour CFLAGS, LDFLAGS et al"
Gentoo Linux verifies that all built binaries [honour environment variables](https://devmanual.gentoo.org/ebuild-writing/functions/src_compile/building/) like CFLAGS and LDFLAGS as they are set by our Portage build system. To achieve this, we usually modify the upstream build. For OCaml, I currently use

[code]

before the configure stage. This takes care of the `bin/ocaml*` files, but I am still

[2019-12-16 16:08] nojb commented on #9191
Duplicate of #8648

[2019-12-16 16:16] rseichter commented on #9191
@nojb I saw #8648, but I did not consider my issue a duplicate. It would be nice if the OCaml itself took care of things by itself, but for now I would be content with knowing the optimal way my own ebuild should patch things.

[2019-12-16 16:21] nojb commented on #9191
Sorry, I didn't understand your issue; could you explain for *which* libraries and plugins you would like to set `CFLAGS` and `LDFLAGS` ?

[2019-12-16 16:30] rseichter commented on #9191
This is the original list of "offenders":

[code]

With my change to OC_LDFLAGS, the list has been reduced to the following:

[code]

[2019-12-17 07:57] XVilka opened #9192 "Non-deterministic OCaml base compiler builds (OCaml 4.09)"
I get these kind of errors randomly, sometimes build passes successfully:
[code]
See the Dockerfile to reproduce:
[code]

[2019-12-17 09:05] XVilka commented on #9192
Seems works fine if I choose 4.10.0+trunk:
[code]
Log is here
[code]
Same for 4.11.0+trunk:
[code]

[2019-12-17 14:06] stedolan commented on #9179
Good point! Is it just `caml_local_roots` and `caml_compare_unordered` that are affected?

[2019-12-17 14:22] gadmm commented on #9179
That is indeed what I remember from my research of a test that did not require me to define `CAML_INTERNALS` in my other PR.

Edit: to be clearer for people reading it out of context, _all_ internal variables of the domain state are being made public, except those two which are already somewhat public.

[2019-12-17 17:41] nojb commented on #9190
Thanks! Would you like to propose a PR?

[2019-12-17 18:26] rseichter commented on #9191
@nojb I now use the following statements to fix the OCaml build:

[code]

While this satisfies Gentoo's QA checks, I'd still like to know if this is the best way to do it? By the way, in case you're wondering: Line number 2 which adds LDFLAGS to OC_CFLAGS is indeed deliberate.

[2019-12-17 18:33] nojb commented on #9191
Hard to give an informed answer as I don't know what Gentoo is passing on the `LDFLAGS` variable, but it looks reasonable to me.

[2019-12-17 18:40] rseichter commented on #9191
The contents of `LDFLAGS` vary with the different platforms Gentoo supports. Both platform-dependent core requirements and cross-compilation are the main reasons our QA checks are so uncompromising when it comes to environment variables being (dis)respected.

[2019-12-17 20:16] Fourchaux commented on #9190
Done.

[2019-12-17 20:30] nojb commented on #9190
Fixed in #9194

[2019-12-17 20:30] #9190 closed, assigned to nobody

[2019-12-17 22:38] psteckler opened #9195 "Possible type inference bug"
Here's some code that yields a type error in OCaml 4.07.1 and 4.08.1:

[code]
In 4.08.1, `ocamlc` reports:
[code]
Changing `module Latest = V1` to `module Latest : module type of V1` allows compilation to succeed.

Not certain if this is a bug, but it's puzzling that a weaker specification of `Latest` makes things work.

Is there a better solution?

[2019-12-18 07:15] modlfo commented on #7524
I just one to +1 this issue (even when I reported it originally). We recently got bitten again by this problem: A piece of code was changed to use `=` and we got a really bad slowdown in a function that was rarely used to be noticed. But when used, it could take 20 minutes instead of taking seconds.

This warning would be very useful to avoid these kind of mistakes made by any new OCaml programmer

[2019-12-18 11:32] Octachron commented on #9195
This is a duplicate of #8762 : inner module aliases are expanded in the type of functor argument (see #2051 for the reason why). Thus the type of `M2` in the functor is not `S with type t = M1.t` leading to your error.

[2019-12-18 11:32] #9195 closed, assigned to nobody

[2019-12-21 14:08] gasche opened #9199 "Format feature request: setting a (non-indent) text width limit"
When printing a tree structure with high nesting level, I would like to be able to tell Format to use a large margin (to correctly print deeply-indented subtrees) but keep text width (the line width without counting the indentation part) within human-comfort limit (eg. 60). Currently the choices offered by `set_geometry` are either to keep a small `margin`, which breaks rendering of deeply-nested

[2019-12-22 07:15] rgrinberg opened #9201 "Backtrace difference between ocamlopt/ocamlc"
I know that backtraces in the presence of tail calls aren't really good, but I'm surprised that ocamlc produces a worse backtrace than ocamlopt.

Consider this program:
[code]

ocamlc gives this backtrace:
[code]

while ocamlopt gives:
[code]

Why is the extra frame dropped by ocamlc? it's useful.

[2019-12-22 15:13] gasche commented on #9201
(cc @let-def who I believe worked last on backtraces+inlining.)

[2019-12-22 17:27] xavierleroy commented on #9201
You have it backward.

ocamlc / ocamlrun report the frames as they exist on the call stack. namely the call to `run()` on line 3, the other two calls (`bar()` and then `failwith()`) being tail-calls and having no existence on the call stack.  It is not dropping any frame.

ocamlopt also reports pseudo-frames that don't exist on the call stack but try to reflect the effect of function inlining.  He

[2019-12-22 17:37] lthls commented on #9201
By the way, with flambda you get even different backtraces: with the default settings you get this:
[code]

With `-O3`, you get no backtrace, because flambda has removed all function calls and transformed the regular `raise` into `raise_notrace`

[2019-12-22 17:51] gasche commented on #9201
Err, turning uncaught exceptions raisepoints into `raise_notrace` sounds like a dubious idea to me. Shouldn't you use `raise_notrace` only when the optimizer can tell that the exception will in fact be caught, and the backtrace will not be captured by the handler (or at least a best-effort in that direction)?

[2019-12-22 18:47] lthls commented on #9201
I'd have to check the details, this could be a special case because the raise is at toplevel.

[2019-12-22 19:05] lthls commented on #9201
Actually, I simply forgot to compile the test with `-g`. Without `-O3`, there is a call to `Stdlib.failwith`, which is compiled with `-g` and raise normally; with `-O3`, this call is inlined and whether it raises normally or without trace depends on the `-g` setting.

[2019-12-23 08:07] bobzhang opened #9204 "Feature request: extension point short cut"
[code]

The same as
[code]

[2019-12-23 08:19] gasche commented on #9204
This looks like a reasonable extension of, say, `begin%foo ... end` to me. I wonder if `delimiter%foo ... delimiter` can be generally rewritten into `[%foo delimiter ... delimited]`, or if there are conflicts or unpleasant consequences.

(I wondered if there was a conflict with the new syntax `{%foo| ... |}` of #8820, merged in trunk, but I don't think there is. Note that if we had accepted the sh

[2019-12-23 09:16] gasche opened #9205 "meta-issue on C runtime API and compatibility stories"
There is a lot of discussion in preparation for 4.10 about the compatibility of programs linking to the C runtime, and to be honest I understand very little of it. I'm creating this issue in the hope to encourage a didactic discussion of the various choices, possibly clarify the design space and improve our interface, and encourage people to write proper documentation of the best practices.

Relat

[2019-12-23 09:21] gasche commented on #9205
I would like to understand answers to the following questions:

- What is the responsibility of `compatibility.h`? (Who is in charge of the decision to include it in a C program?)
- How does a program signal that they use the internals of the OCaml runtime? What are our recommendation for upgrading those programs as the runtime evolves?
- In particular, are we trying to provide no-source-change co

[2019-12-23 09:23] gasche commented on #9205
(cc @damiendoligez @gadmm @jhjourdan @kit-ty-kate @nojb @Octachron @stedolan @xavierleroy)

[2019-12-23 11:05] gasche commented on #9205
Note: if we cannot find a satisfying resolution for these issues in time for the 4.10 release schedule, I think that we should revert #8713 (Caml_state introduction) from the release branch.

[2019-12-23 11:41] gadmm commented on #9205
Thanks for the post. I agree with the need for clarification and the current lack of documentation, but note that #9167 does aim to bring some clarification, and does contain documentation changes. I'll try to reply to your questions as soon as I have the time.

[2019-12-23 12:15] XVilka commented on #9205
I think the "compiling with CompCert" issue is probably also related https://discuss.ocaml.org/t/compiling-the-ocaml-runtime-with-compcert/4898/7

[2019-12-23 12:17] gasche commented on #9205
No, I don't think the two issues are related. (The Compcert discussion mentioned autoconf as a possible pain point, which is completely different.)

[2019-12-23 15:35] xavierleroy commented on #9205
Indeed, let's keep CompCert out of this discussion, it's not related.

[2019-12-23 15:44] xavierleroy commented on #9205
I'm going to give my personal view on the issues.  I think we've followed wrong directions and need to backtrack and make it right this time. ( I know this is disappointing for the many others who already worked on these issues, but when you hit the ground, it's a good idea to stop digging.)

My first and main point is that the
[code]
macro definitions should NOT be in `<caml/compatibility.h>`.  T

[2019-12-23 15:55] xavierleroy commented on #9205
My second point is that short names (e.g. `alloc` instead of `caml_alloc`) must go.  The proper replacements (`caml_alloc`, etc) have been around for a very long time, and have been documented for just as long, while the short names have been undocumented for just as long too.

I think now -- that is, the introduction of `Caml_state` -- is the right time to get rid of the short names and of `<caml

[2019-12-23 16:02] xavierleroy commented on #9205
My third point is that we should make all efforts to maintain compatibility with what's documented in the FFI chapter of the reference manual, and feel free to break everything else.

Libraries and systems that MUST go beyond what's documented are very few, and can be handled specially.  For example, delimcc MUST go into undocumented land because it tweaks the internals of the bytecode interpreter

[2019-12-23 18:35] yawaramin opened #9206 "Update Thread module doc to clarify that it's used for system threads"
As per this discussion: https://discuss.ocaml.org/t/thread-library-is-deprecated/4637

We need to update the module documentation of the [`Thread`](https://caml.inria.fr/pub/docs/manual-ocaml/libref/Thread.html) module to mention that it's using system threads now, not lightweight threads.

Related to #7687

[2019-12-23 19:16] dra27 commented on #9205
I agree that life will be much simpler if we drop the short names mode of compatibility.h - we put a lot of effort into trying to keep it with #8713, but it’s clearly not been successful.

There is a caveat with putting the definition in their headers - the original idea was that the compiler itself would never have the compatibility definitions (in order to ensure that our own code didn’t acciden

[2019-12-23 19:17] dra27 commented on #9205
(Apart from the sorrow it will create, I’m not sure that reverting #8713 will itself be easy, so let’s definitely fix this!)

[2019-12-23 22:01] gasche commented on #9205
Reverting #8713 would be a pain, but it's "just" a lot of work, there are little unknowns and relatively little impact on users outside the compiler distribution. (And it wouldn't be reverted on trunk, so we would have more time to prepare for a better compatibility story.) I will push for it if we have the impression that fixing the C-compatibility issues is cause for undue stress during the rele

[2019-12-23 22:54] gadmm commented on #9205
Excellent questions, I'll try to answer based on my experience of looking at code and with the rationale I reconstructed. (I do not pretend this was the original intention of multicore developers wrt compatibility.h.)

Defining backwards-compatibility helpers to simplify the writing of code that is compatible across several versions of OCaml. (I do not assume that this is only for internals.)

To

[2019-12-24 00:00] gadmm commented on #9205
@xavierleroy

About moving to relevant headers:

* It seemed to me that it was more complicated than that because users sometimes have to rely on making `extern` declarations themselves. I did not try, and I may be wrong.
* `compatibility.h` was already augmented with definitions other than short name macros, the `Caml_state` patch did not invent anything new here.
* One needs a way to disable com

[2019-12-24 09:32] xavierleroy commented on #9205
To prevent any misunderstanding: I'm definitely not suggesting we revert  #8713 (the introduction of the `Caml_state` structure), it's a step in the right direction.  I am wondering whether we should continue hacking  `<caml/compatibility.h>` or find another approach to providing old names for the members of `Caml_state`.

There was one example with Coq doing `extern char * caml_young_start;` or s

[2019-12-24 09:33] andreasabel opened #9207 "Ocamlyacc: overflow with 128 or more parsers"
`ocamlyacc` produces ill-formed `.ml` files if a grammar has 128 or more entrypoints.
This generated `.ml` file was produced by `ocamlyacc` from a BNFC-generated `.mly` file:
[code]
`ocamlc` reports a type error:
[code]
The buggy `.ml` code is produced by this print statement:
https://github.com/ocaml/ocaml/blob/4e6e9123287405a08b349c3e0e12d53000e8534d/yacc/reader.c#L1701-L1703
Seems like the `ent

[2019-12-24 09:56] nojb commented on #9207
Thanks for the report. Did you try patching `ocamlyacc` by changing `char entry` to `short entry` and trying it on your grammar? I'm wondering if there are more places where this assumption on the number of entries is made...

[2019-12-24 10:05] dra27 commented on #9207
In this use case, are you able to use Menhir instead? Unless the fix is trivial, it’d seem better to alter ocamlyacc merely to display an error message if an attempt is made to generate more than 127 entry points.

[2019-12-24 10:12] andreasabel commented on #9207
If I supply a grammar with 256 entry points (or more) `ocamlyacc` complains:
[code]
(Note the slight in accuracy in the error message: correct would be `more than 255` entry points.)
Thus, it seems that the idea was to allow 255 entry points, but printing `char` as a signed byte with `%d` below reduces this to 127 entry points.
https://github.com/ocaml/ocaml/blob/4e6e9123287405a08b349c3e0e12d53000

[2019-12-24 10:14] dra27 commented on #9205
For the internal use of the compatibility, it was more that it’s not nice (and including code which uses it _might_ mask bugs). So it could be fixed for 4.10 and guarded properly on trunk later (which would mean no need to hastily merge #9167).

[2019-12-24 10:19] nojb commented on #9207
It is actually quite easy:

[code]
(`ocamlyacc` lives in the `yacc` subdirectory). The above creates an `yacc/ocamlyacc` executable. If you modify the source in the `yacc` directory just repeat the `make` step (in the `yacc` subdirectory) to rebuild the `ocamlyacc` executable.

[2019-12-24 10:25] dra27 commented on #9205
My impression is that #9202 gets the compatibility story to the best place it can be for packages (@kit-ty-kate - is that right?) and the  there are some places which will have to have changes (eg the example in Coq). Do we just need to go through and protect those new definitions in `compatibility.h` with `#ifdef CAML_INTERNALS` as appropriate and we’re there for a beta? Then, for 4.11, let’s:

-

[2019-12-24 11:18] xavierleroy commented on #9205
Grepping through OPAM sources, I found this gem:
[code]
Old names + explicit import, tsss....  (Cc @garrigue)

[2019-12-24 11:22] xavierleroy commented on #9205
Grepping through OPAM sources again, I estimate there are about 200 packages that use old, short names, out of 2528 packages analyzed.  (I looked only at the latest version of each package.)

[2019-12-24 14:32] kit-ty-kate opened #9209 "Access to C symbols dropped inbetween two calls to Dynlink with OCaml 4.10"
`nocrypto` currently fails on OCaml 4.10 with the following error message:
[code]
Trying to debug the issue further made me write the following code:
[code]
which compiles perfectly but fails with the same error:
[code]
Trying to decompose the issue a bit further here is a very minimal test case:
[code]
The same minimal test case works with OCaml 4.09.0 and older. I'm not really sure what changed

[2019-12-25 12:26] andreasabel commented on #9207
Thanks, I will work on a PR then.

[2019-12-26 05:07] XVilka commented on #9131
@shindere I think yes, otherwise it splits it.

[2019-12-26 08:58] xavierleroy commented on #9205
Agreed. I just merged #9202 .

Maybe I misunderstood, but there was also a question of `<caml/compatibility.h>` not being consistently included, causing some of the global names that used to be declared in another header file to disappear.   @gadmm knows better.

[2019-12-26 10:02] #9207 closed, assigned to nobody

[2019-12-26 15:28] xavierleroy commented on #9206
Thanks for the suggestion.  There are other things that need updating in `otherlibs/systhreads/thread.mli`.  For example, `kill` is not available (always fails) in this implementation; this should be documented, the function marked deprecated, and removed eventually.  The comments on the `wait_*` functions are odd, and these functions are probably redundant with the functions from the `Unix` modul

[2019-12-26 19:15] dra27 commented on #9209
Bisecting suggests that this occurred in https://github.com/ocaml/ocaml/commit/6cbdfad (#2288) but I haven't looked as to why.

I have produced a functional but, in `ocamltest` terms, quite ugly translation of @kit-ty-kate's wonderfully minimum repro case at https://github.com/dra27/ocaml/commit/c1ac1d7fcb6a4d2dec0a089e2953d8a26c45b8d5 which should be merged with the fix.

[2019-12-26 19:24] #5210 closed

[2019-12-26 19:48] kit-ty-kate commented on #9209
Oh thanks a lot! Looking at the commit, it seems like this comment is not enforced anymore: https://github.com/ocaml/ocaml/commit/6cbdfad#diff-a9a37f72322539fb9a3a5de9c9f481d0R141-R145

I have a fix and I *just* tested it successfully on the test case

[2019-12-26 23:19] gadmm commented on #9205
A few notes:
* I am not aware of remaining issues with short names. Also, removing short names affects programs that use the documented C FFI, whereas Caml_state mainly affects programs that use internals. This explains the disproportion in affected packages. So, while I proposed to remove short names a while back, I no longer think it is a good opportunity to do so. However:
  * Users should not

[2019-12-26 23:19] gadmm commented on #9205
Xavier, users can do `#include <caml/minor_gc.h>` only since 2016 (#656). Surely you are not expecting users to proactively fix what is not broken.

By the way, maybe this is the real reason why the "each macros in the correct header approach" does not work, it is only backwards compatible up to 4.04. (I do not know whether this is considered old or not.)

[2019-12-26 23:29] gadmm commented on #9179
I was thinking maybe making the definition of the `DOMAIN_STATE` macro dependent on `CAML_INTERNALS` in some way could do the trick. Is somebody having a look currently?

[2019-12-27 09:50] xavierleroy commented on #9205
Apologies for the sarcastic tone of my note, I known I shouldn't have.  But I despair at the quantity of key OCaml libraries that depend on undocumented  internals of the runtime system like it was 15 years ago.

I am.  Deprecation warnings are a way to nudge users in this direction.  Either user code is preventively maintained, or it will break badly when OCaml evolves.  Surely you are not expect

[2019-12-27 12:49] gasche commented on #9205
I think we could be a bit more proactive adding proper APIs for some of the things users do with internal access if (1) it's reasonable and (2) users are kind enough to let us know what they are doing. For example we could add API support for clearing the backtrace, which is what broke with base in 4.10. I am planning to work on this specific one eventually, but I am busy with TRMC right now.

[2019-12-27 23:23] Rehan-MALAK opened #9214 "Segfault with installed custom printer in ocamldebug"
Dear all,
I am currently unable to use a custom installed printer with ocamldebug in my project because of this segfault.

``mytype.ml``
[code]
``a.ml``
[code]
``p.ml``
[code]
Ocamldebug ``script``
[code]
Commands
[code]
Wanted behaviour (if you remove ```let _ = f ()``` for example) :
[code]
Actual behaviour with trunk c5e875d0 or 4.09.0
[code]

Any idea ?

[2019-12-28 19:05] kit-ty-kate commented on #9205
I'm not sure how relevant this is but here is something that may be related in ocurl: https://github.com/ygrek/ocurl/commit/967609e2e7861321bded926308a98011b787eadf

Before this commit `ocurl` couldn't compile with OCaml 4.10 but compiled fine with previous versions. The issue is here that `CAML_NAME_SPACE` is not defined when `caml/config.h` is included so the short names get included, then `CAML

[2019-12-30 08:36] xavierleroy commented on #9205
"Doctor, it hurts when I do this!
-- Then don't do it."

`CAML_NAME_SPACE` is intended to be defined on the command-line of the C compiler.  You can define it in source files but then, yes, it should be defined before any includes.

[2019-12-31 20:05] kit-ty-kate opened #9218 "Incorrect module name is passed to Persistent_env.acknowledge_pers_struct with -annot on OCaml 4.10"
`links.0.9` does not compile with OCaml 4.10, after a bit of clean up, the following error message appears when compiling several modules, e.g.:
[code]
I tried to reproduce it with a smaller test case but I wasn't able to get one, so here is as far as I went in my debugging session:
* [Persistent_env.acknowledge_pers_struct](https://github.com/ocaml/ocaml/blob/d47ba6ec18fc72d0aedabd162e373fecba2d7

[2020-01-02 03:40] gadmm commented on #9205
We have an ongoing discussion about the meaning of backwards-compatibility, but to me the current issue was that it was already agreed that there would be some compatibility helpers (and we saw that they help to some degree), but that there are issues with a design that is not finalised and an implementation that is inconsistent. As far as `Caml_state` is concerned, I have nothing more to add to t

[2020-01-02 08:33] gasche commented on #9218
Note: on my machine (opam 2.0.4), `opam install --deps-only links.0.9` fails because links is not installable on 4.10 (it has `< "4.10"` for its OCaml dependency), although `--deps-only` should not require the package to be installable. Odd.

[2020-01-02 08:34] kit-ty-kate commented on #9218
oh I forgot to add the `--ignore-constraints-on ocaml` arguments

[2020-01-02 08:40] gasche commented on #9218
I don't know what the issue is, but I will try to reproduce locally. I think the easiest way to locate a compatibility issue is to bisect (one could start by checking #2228, which included a fair amount of code churn in this part of the compiler, as a potential culprit), and then work from the patch that provoked the failure.

Note that `-annot` is considered essentially-deprecated nowadays (it cr

[2020-01-02 09:08] gasche commented on #9218
[code]

Edit: Nevermind, resetting `opam env` fixed this error.

[2020-01-04 09:26] paurkedal commented on #9126
An alternative title for sections dealing with "iter", ... and "iter2", ... would be "Iteration" and "Iteration over two lists".  Or even "Iteration over one list" for the former.  (Though, I also think "sequence" is a very good word for `Seq.t`.)

[2020-01-06 12:17] gasche commented on #9218
Unfortunately I have no progress to report here; reproducing the build with earlier versions of the 4.10 development branch is difficult, and I couldn't do any actual bisecting. (One option I would consider is to not rebuild the opam switch each time, but simply rebuild the compiler and change-in-place the compiler installation. Hopefully the regression is within a range of commits where this appr

[2020-01-07 13:06] Drup commented on #9204
That reminds me of a time where I wanted to introduce arbitrary user-defined delimiters, in the style of user-defined operators .... People hinted at me that it was a Bad Idea. :p

The idea has some merit, but I think it would be even better if it wasn't (only) for ppxs!

[2020-01-08 15:14] Rehan-MALAK commented on #9214
As far I understand :

- ''load_printer'' is essentially just a call to ``Dynlink.load_file``
- ''install_printer'' a call to ``Dynlink.unsafe_get_global_value`` + some ``Obj`` magic cast to a function

but inside ocamldebug memory, not in the target program.

I got confused because :

1. With ocaml toplevel, one can do :

``a.ml``
[code]
``p.ml``
[code]
[code]

2) I am used to gdb where one can c

[2020-01-09 11:05] gasche opened #9234 "Bad usability when running `ocamlrun` on a `-custom` executable"
I just spent a dozen of fairly unpleasant minutes trying to understand what was wrong/broken in my development environment as I observed the following:

[code]

The answer is that my compiler checkout was working perfectly fine (no need for supertitious `make distclean; make world.opt -j5`), but `ocamltest` is built as a `-custom` binary, so it does not need `ocamlrun` to run. I found the solution

[2020-01-09 11:07] gasche commented on #9234
(cc @xavierleroy @nojb @diml, who do know about custom executables)

[2020-01-09 12:24] ghost commented on #9234
The solution is to build ocamltest with `-output-complete-exe` rather than `-custom`. `-output-complete-exe` produces a real executable that `ocamlrun` won't try to execute.

FTR, the plan is to deprecate `-custom` (cf https://github.com/ocaml/ocaml/pull/8872#issuecomment-532228069).

[2020-01-09 12:43] nojb commented on #9234
I am preparing a PR with both fixes.

[2020-01-09 13:09] gasche commented on #9234
`ocamltest` is not the only executable built with `-custom` in the compiler distribution; it is also the case of `ocamldoc` and there it's not clear to me that we can "just" switch to -output-complete-exe.

Indeed, a documentation comment in ocamldoc/Makefile says

[code]
I don't exactly understand why `{unix,str}.cma` would be built with `-custom` on no-shared-libs systems, and whether the output

[2020-01-09 13:18] ghost commented on #9234
I didn't know you could pass `-custom` when assembling a `.cma`. I'm guessing it means: pass `-custom` when linking a bytecode executable using this library, but I need to double check.

[2020-01-09 13:24] ghost commented on #9234
Yes, that seems to be it.

[2020-01-09 13:30] nojb commented on #9234
I also forgot about this when I submitted #8872

What do you think we should do: allow to *also* record `-output-complete-exe` in libraries (changing the .cma format by adding an extra `bool` flag), or interpret `-custom` recorded in libraries as intending to use `-output-complete-exe` (this is backwards-incompatible)?

[2020-01-09 13:40] gasche commented on #9234
Jérémie nicely explained what `-custom` in archives does (thanks!), but what is the reason for using this? Why did we decide to compile {unix,str}.cma with `-custom` when no-shared-libs? (Maybe the justification can influence the decision of what to do for `-output-complete-exe` with `-custom` archives.)

[2020-01-09 13:50] dbuenzli commented on #9234
Because you want to be able to write `ocamlc -o myexe unix.cma myexe.ml` without having to think whether shared libraries are supported on your platform or not.

[2020-01-09 13:54] gasche commented on #9234
I'm not sure I follow. Why would we need to record this information in the archive file, if the same decision could be made by `ocamlc` at link-time?

[2020-01-09 14:01] dbuenzli commented on #9234
I'm not sure either, but maybe to support stubs to C libraries that provide only C archives and no shared objects ? In that case you want to force custom mode (that's actually the vocabulary used in the cma [the descriptor](https://github.com/ocaml/ocaml/blob/e18564d8393475acd9e36f02fe3b0927fe8a0f5c/file_formats/cmo_format.mli#L53-L58))

[2020-01-09 17:41] kit-ty-kate commented on #9209
Closing as the fix has now been merged

[2020-01-09 17:41] #9209 closed, assigned to mshinwell

[2020-01-09 17:59] ghost commented on #9234
By reading the changelog and the git history, my understanding is the following: initially one had to systematically pass `-custom` to `ocamlc` as soon as they were using at least one library that had C stubs. At some point, `ocamlc` started recording `-custom` inside cma files for convenience. Later on, support for dynamically loading the C stubs was added. At that point, `-custom` was no longer

[2020-01-09 20:21] gasche commented on #9234
Thanks for looking at the history. If I understand correctly, passing `-custom` to an archive is the right way to signal "by the way, I am using C stubs" on systems without dynamic linking. It would make sense to interpret its semantics in exactly this way (rather than specifically asking for a `-custom` executable).

On no-shared-libs systems, I think that it would be perfectly sensible for `-out

[2020-01-10 08:57] #9170 closed, assigned to nobody

[2020-01-10 09:20] Octachron commented on #9205
Discussing with @kit-ty-kate , it seems that most of the downstream compatibility issues in opam have now a resolution path.

If I understand correctly, we still have the issue of exposing internals with compatibility macros that should be solved before the full release. But it seems to me that we can proceed with the 4.10 beta.

Rereading the discussion, I have a very naive question: Are we plann

[2020-01-10 17:49] drikosev opened #9240 "OCaml (4.09) Test Failure"
Hello,

The OCaml tests have one failure on macOS 10.13 and I cannot run
them during installation of the package (an automated procedure).

The failed test is this:
   tests/output-complete-obj/'test.ml' with 1.2.1.1 [testing 'test.ml' with 1.2.1.1]

The Summary is this:
 2473 passed,
     33 skipped,
       1 failed,
     94 not started,
       0 unexpected errors,
 2601 considered.

Thanks in ad

[2020-01-12 03:18] gadmm commented on #9205
Looks good overall, seems like a lot of work. The case of `delimcc` caught my attention though: the proposed patch is to include the header `compatibility.h` by hand. However, none of the solutions currently proposed in this thread involves the user having to include `compatibility.h` by hand at any point. I recommend against the inclusion of this change downstream. Instead, the corresponding bug

[2020-01-13 09:54] ghost commented on #9234
Yes.  In fact it will eventually become the only way as `-custom` is being deprecated.

Regarding making `-custom` archives mean `-output-complete-exe` for binaries, I'm just a bit warry  that we'd be changing the meaning of an existing option and it could be surprising for some users. That said, that's also the simplest way forward and as @nojb pointed out it is backward compatible. So if others

[2020-01-13 10:07] Octachron commented on #9240
There should be a log file in ` tests/_ocamltest/tests/output-complete-obj/test/test.log`. Could you link, or copy, its contents?  (The tests run fine on macOS 10.13 in our internal CI).

[2020-01-13 10:25] drikosev commented on #9240
Hello,

Thank you for your response. If all tests pass on your system, the
problem should be on my installation or the tools I use. In any case
the contents of file "test.log" are below.

Regards,
Ev. Drikos

-----------------------------------------
These are the contents of file test.log:

Specified modules: test.ml
Source modules: test.ml
Running test libunix with 1 actions
Running action 1/1 (

[2020-01-13 10:35] Octachron commented on #9240
It seems that this is the call to gcc that is failing, you might get a better error message by calling the command yourself in `testsuite/_ocamltest/tests/output-complete-obj/test/ocamlopt.byte`

[2020-01-13 10:41] drikosev commented on #9240
Here is the command I run along with the error message:

miniserver:ocamlopt.byte suser$ /usr/local/bin/gcc -std=gnu99 -O2 -fno-strict-aliasing -fwrapv -fno-builtin-memcmp -Wall -fno-tree-vrp -D_FILE_OFFSET_BITS=64 -D_REENTRANT -DCAML_NAME_SPACE -Wl,-no_compact_unwind -I/Users/suser/pc/ocaml/ocaml-4.09.0/runtime -o test.ml_stub.exe test.ml.exe.o -lm -lpthread test.ml_stub.c
Undefined symbols for a

[2020-01-13 13:22] Fourchaux opened #9242 "Incorrect characters in the 'plain-text' ref manual"
Screenshot (with releases v4.07 - v4.08 - v4.09 - v4.10).
First pb with release 4.08.

![plain_text](https://user-images.githubusercontent.com/4992512/72258725-143a5d00-360f-11ea-80f6-68a704ad4eb4.png)

[2020-01-13 13:31] nojb commented on #9242
It looks like the `.txt` in versions > 4.07 are encoded in UTF-8, as opposed to Latin-1 in 4.07; you should be able to check this by reverting your buffer as UTF-8. You can typically do this in `emacs` by doing `M-x revert-buffer-with-coding-system` and choosing `utf-8`.

[2020-01-13 13:32] Octachron commented on #9242
Those character are correct, they are indeed just utf8-encoded since 4.08 . It seems however that there is some other ill-formed characters somewhere else; and *they* might trigger this degraded display mode.

[2020-01-13 14:20] Octachron commented on #9242
Typically, the true error seems to be an invalid character after:

[2020-01-13 16:47] Fourchaux commented on #9242
Lines with ill-formed characters (File ocaml-4.08-refman.txt).

In the Section 26.15 Module Float:
L 29321 - 29370 - 29391 - 29427 - 29478 - 29519

Plus:
L 30614 - 35194 - 38874

[2020-01-13 18:09] jrochel opened #9245 "does not compile on some Linux systems"
For instance on Alpine Linux during an `opam init -a -y --disable-sandboxing --comp ocaml-base-compiler.4.08.1`.

The problem seems to be that not every version of `stat` supports the `%m` token.

[code]

[2020-01-13 18:53] xavierleroy commented on #9245
This is a duplicate of #8965.  The issue has been fixed in 4.09 and later versions of OCaml.

Is there a strong reason to use 4.08 on Alpine, or could you either use 4.09 or later, or a more featureful Linux distribution?

[2020-01-13 22:24] drikosev commented on #9240
Hello Mr Florian Angeletti,

Your response helped me to find a solution.

The tests pass if I compile OCaml with the default system compiler installed at /usr/bin.

Just for the record, the test fails when I compile OCaml with a GNU compiler installed
either at /usr/local  (ie gcc-4.8.5) or at /opt/local (ie gcc-8.2). Whereas, on CentOS-7.6
where gcc-4.8.5 is the default system compiler the tests

[2020-01-15 08:13] Octachron commented on #9240
If it works on clang and not gcc, it might be a problem of configuration.
cc @shindere .

[2020-01-15 11:15] dra27 commented on #9234
I agree that the compiler distribution should be using `-output-complete-exe` for all its binaries.

I was aware of the ability of .cma to force `-custom` at the time of the original discussion, but didn't think it was relevant as we were adding a feature. Does it override `-output-complete-exe` i.e. does `ocamlc -o foo -output-complete-exe str.cma foo.ml` give a `-custom` bytecode executable or a

[2020-01-15 11:41] xavierleroy commented on #9234
Certainly not!  It should build "default" bytecode executables, those that use the standard ocamlrun + dynamic loading.

The only reason ocamldoc.byte uses -custom today is that it runs before installation of the shared libraries containing the C stubs, but that's easily accommodated by running it with
[code]

[2020-01-15 11:54] dra27 commented on #9234
@xavierleroy - sorry, my agreement statement is unclear. I meant that it should be using `-output-complete-exe` where it presently uses `-custom` … i.e. for non-shared platforms.

[2020-01-15 14:08] Octachron commented on #9205
I have tested @xavierleroy proposal to define the `caml_*` macros inside the original header files ([here](https://github.com/Octachron/ocaml/commit/3de9b6d18802dc2dace8a1bc1e67d083e764d84b)). And looking at the package in @kit-ty-kate alpha repository that were patched for 4.10, this path requires a sligthly different patch set. However,  the patches looks more natural to me. For instance, a mini

[2020-01-15 14:48] ghost commented on #9234
It's the latter.

Just to make sure we are on the same page, your proposition is:
- today we deprecate `-custom` when building executables, but not when building libraries
- in 2 years:
  +  we remove `-custom` when building executables
  + we remove all the support for custom executables in the runtime
  + we repurpose `-custom` when building a library as meaning to pass `-output-complete-exe` wh

[2020-01-15 15:00] dra27 commented on #9234
Yup. I *think* that on non-shared platforms, you don't have to specify `-custom` - it's automatically added if you use `-cclib` (or by `ocamlmklib` if you specify `.c` files).

[2020-01-15 15:40] ghost commented on #9234
Ok. That seems like a good plan to me. @nojb what do you think?

[2020-01-15 15:44] nojb commented on #9234
Sounds good! (and thanks @diml for shepherding the discussion). I will submit a PR soon.

[2020-01-15 15:57] xavierleroy commented on #9234
Ah, OK.  I keep forgetting that those platforms still exist...

Yes, the recommended (in the manual) way to create mixed OCaml/C libraries is to use `ocamlmklib`, and it will attach `-custom` to the library if necessary (C files and no shared library support).  As long as `ocamlmklib` is kept in sync with `ocamlc`, the switch away from `-custom`-in-libraries should be transparent.

I don't think `

[2020-01-15 18:16] gadmm commented on #9205
Thanks for the initiative. I get that you confirm that you found a canonical place for each definition in some appropriate `caml/` header. On my checklist I also have to ask whether it is ok that the "nice" upgrade path is only backwards-compatible up to 4.04 (you tell me, I have no experience about which releases are considered "old" or not).

On the other hand the point is that the user could re

[2020-01-15 20:52] gasche commented on #9205
@gadmm was pointing out to me earlier today that we needed someone to make a decision (and, it seems, @xavierleroy was happy to suggest but hasn't been willing to make a decision so far). I propose to decide that @Octachron's approach is a good one, and ask for a PR that implements it. Then we review it, we merge it and we are partly done.

Partly done:
- we still need to ensure that the resulting

[2020-01-16 09:58] dbuenzli opened #9248 "Add Printexc.default_uncaught_exception_handler"
That has the default uncaught exception handler.

My use case is that I would like to treat specially uncaught exceptions in the initialisation code of a module but then otherwise not alter the default runtime system behaviour.

Something like:

[code]

(It may seem strange but in my scenario the source declarations `...` are not aware they are being surrounded by these two lets).

It's an easy ta

[2020-01-16 11:49] kit-ty-kate commented on #9205
For what it's worth, from my point of view, I much prefer @gadmm's approach over @Octachron's.
It allows to give a real status to compatibility and should not break any existing packages. For instance, @Octachron's approach breaks `lablgtk` which has already been released and I suspect it also breaks other packages. From my point of view it's already too late to make such a big change. Also I feel

[2020-01-16 14:27] xavierleroy commented on #9205
I am not in a position to make a decision,  as I don't fully understand all the implications and have no time right now to get a deeper understanding.  I thank @Octachron for the implementation of the approach I suggested, and still feel that this approach is somewhat natural (anywhere a global variable was declared there is now a macro), but I defer to @kit-ty-kate extensive experience with repai

[2020-01-16 14:53] garrigue commented on #9205
For practical reasons, the fix in lablgtk was introduced early in the release cycle, but it is unfortunately no more than a hack to work around a moving situation. I have no problem with doing one more release to clean up things.
Looking at the headers, in fact using macros in address_class.h would be the best for lablgtk, but I somehow overlooked it when it was introduced.

[2020-01-16 15:03] Octachron commented on #9205
Concerning compatibility, this is a little more subtle than that: only internal variables are affected, and by that I mean the ones that did not exist at all in any installed headers prior to 4.04 .

For instance, the variables defined in `minor_gc` are not in this case, and they can be included at least for any version of OCaml ≥ 3.08  (which is the oldest opam-avaible version that compiles on my

[2020-01-16 15:35] gadmm commented on #9205
Are you sure of that? I took https://github.com/ocaml/ocaml/pull/656/files#diff-a617ad63c0e83e969568e6a2dd52aba1 to mean that minor_gc.h was not installed prior to 4.04. Either way, it is possible to judge it is not a big deal.

Indeed: does the `compatibility.h` approach looks good for the future multicore needs? (cc @stedolan) Otherwise, if it does not fit a bigger picture, I agree with Xavier t

[2020-01-16 15:36] garrigue commented on #9205
Oops, I tried to include `address_class.h`, and I get lots of errors for versions up to 4.09.0, so this doesn't seem to be a good replacement...
Including `minor_gc.h` does indeed work, so I'm quite neutral about which approach to use, if I can be sure enough that it is going to be stable in the future.

[2020-01-16 16:34] Octachron commented on #9205
@gadmm , after retesting, I was wrong and mislead by some lingering header files on my system. So, indeed the compaitbility issue appears for all packages with set of supported versions larger than `[4.04.0, 4.10.0]`. In the list of opam package tested above, only ocamlnet is impacted. (coq and lablgtk support starts at 4.05.0).

[2020-01-16 16:43] gasche commented on #9205
I think that it is reasonable to have a solution that is only backward-compatible up to 4.04, and ask that packages that both (1) support older releases and (2) use runtime internals use `OCAML_VERSION` to have a compatible implementation (... especially if `OCAML_VERSION` is properly documented somewhere).

[2020-01-16 17:01] Octachron opened #9251 "Stdlib: provide a function to modify argv"
With the deprecation of `Obj.truncate`, the programs that were using it to change the size of `argv` are under threat of deprecation: I am aware of two (and half) such programs outside of the toplevel: utop and lablgtk(and lablgtk3).

Both programs are using `Obj.truncat` in the same way as the toplevel: they detect standard arguments intended for some outer overlay (typically the toplevel for uto

[2020-01-16 17:31] gasche commented on #9251
On the other hand, it's not hard for affected programs to declare the external themselves, and I am not convinced that we want to expose to OCaml programmers a mental model where `Sys.argv` may change.

[2020-01-17 09:00] kayceesrk commented on #9205
While there are no plans to touch the `caml_*` macros defined in `compatibility.h`, I agree with the original observations made by Xavier that adding macros in `compatibility.h` wasn't the right decision. I am in favor of Xavier/@Octachron's approach of defining compatibility macros in the respective files.

Apologies for the backwards compatibility pain caused by #8713. @Octachron I would be happ

[2020-01-17 10:54] XVilka commented on #9245
It can be workaround by installing `coreutils` until more recent version landed in Alpine. They tried to upgrade it to 4.09 but because of the camlp4 problem rolled the changes back:
- https://github.com/alpinelinux/aports/pull/11591
- https://github.com/alpinelinux/aports/commit/d95a53813d93148146b793532b55873416d9af63
- https://github.com/alpinelinux/aports/commit/6f58e167f1865920a5d21859555b905

[2020-01-17 16:16] Octachron commented on #9205
So it is seems that a good path forward is:

- document the OCAML_VERSION macro family and the domain state
- check the state of the opam ecosystem with my branch.

Hopefully, I should have the result of an opamcheck run on my branch (plus some patches) by Monday, and I shall document the `OCAML_VERSION` macros sometimes next week.

[2020-01-17 16:51] xavierleroy commented on #9205
What is there to document?  To me the domain state is private to the run-time system and not part of the FFI.  Well, today there is the `caml_compare_unordered` former global variable / current domain state member that can legitimately be accessed as part of the FFI (for custom compare functions), but eventually we should offer a better interface, if only a function to set this variable/field.

[2020-01-17 17:31] Octachron commented on #9205
My idea was to document the fact that domain state is a private part of the run time, and that every external users using it directly should be prepared to see their code broken on every release.
This is quite similar to the existing documentation for internals.

Similarly, we could document that explicit imports are expected to be brittle, and should be replaced by the inclusion of the right head

[2020-01-17 17:44] xavierleroy commented on #9205
OK!  That's a good message to send :-)

[2020-01-17 22:58] twodrops commented on #9245
I could build 4.08.1 by installing coreutils`. Thanks for the hint.

[2020-01-18 18:13] mrmr1993 commented on #7819
This appears to be fixed in trunk:

[code]

[2020-01-18 21:18] bryphe opened #9252 "Windows: stdout/stderr file descriptors invalid with GUI application"
I've hit an issue when compiling a GUI application for Windows - using the `-mwindows`/`-subsystem windows` flags.

Depending on the runtime parameters, I may allocate a console via the Win32 `AllocConsole` or `AttachConsole` APIs - and I was expecting that `print_endline` (and the default `stdout`/`stderr` file descriptors) would work with the newly allocated console. However, I get a `"Bad file

[2020-01-19 14:50] gadmm commented on #9248
The proposition looks sensible to me. Would you like to submit a PR? I can do the review.

(I am not sure about the junior-job label: if the goal of the label is to hook developers to become compiler hackers, ideally it should a non-boring task. I think a good junior-job task is interesting and simple enough that you had to force yourself not to code it over the afternoon.)

[2020-01-19 17:37] gasche commented on #9248
Junior jobs should not be tedious, but I don't think implementing the present PR would be "boring" in that sense. I think it is fine if the task is very easy, because for beginners the main source of difficulty is often the context rather than the contribution itself: cloning and building the compiler distribution, using the right git workflow, finding out what/where to change, and deadling with t

[2020-01-19 18:13] dbuenzli commented on #9248
Since we are on the meta of "junior jobs" I'd like to one last time advocate to call them *newcomer* jobs rather than *junior* jobs. The [definitions](https://www.merriam-webster.com/dictionary/junior) for junior may either not apply or I find them too elitistic or dismisive. Same (to a lesser extent tough) for "beginners".

@gadmm thanks for the review proposal, no time® for a PR right now hence

[2020-01-19 19:14] dra27 commented on #9252
I haven't double-checked all the facts here, but I think that the CRT's `printf` functions use `stdout` (i.e. at the `FILE*` or stream level) whereas OCaml uses `write` (i.e. at the `int` or file descriptor level). Your code at https://github.com/bryphe/ocaml-attach-console-repro/blob/master/lib/stubs.cpp#L24-L26 resets `stdin`, `stdout` and `stderr` - you need to reset fd 0, 1 and 2 as well. It s

[2020-01-19 19:15] dra27 commented on #9252
Cross-referencing my nemesis in #1408 - it shouldn't be affected by it, but it's making me wonder if there should be a test!

[2020-01-19 20:13] gasche commented on #9248
Done. (This was harder to change on Mantis.)

[2020-01-20 18:07] sonologico commented on #9248
This would actually be beneficial for one of my projects and I was looking for a good entry point to contributing to the compiler code base. I will make a PR for this if no one has started working on it already.

[2020-01-20 18:14] bryphe commented on #9252
That was exactly it - thank you @dra27 ! That code from the MSDN answer you linked worked perfectly:
[code]

Will close this out since the bug was on my side. Really appreciate the help!

[2020-01-20 18:14] #9252 closed, assigned to nobody

[2020-01-20 18:16] bryphe commented on #9252
@dra27 - ah, interesting! This does seem related.

In particular - I wonder if with that fix - I would need to manually run the `caml_setup_win32_terminal` function after `Alloc`/`Attach`Console.

Epic battle to get that Unicode support! 😄 Your work to get a better experience on Windows is much appreciated!

[2020-01-20 19:46] gadmm commented on #9248
Feel free to go ahead.

(I was speaking of my own experience of looking at "junior" jobs, but it seems you were right @gasche :)

[2020-01-21 12:35] lpw25 commented on #6673
This has been fixed on trunk  by #1132.

[2020-01-21 12:35] #6673 closed

[2020-01-21 14:02] jrochel commented on #9245
I had tried the same thing but coreutils wasn't available then. Now everything works fine with coreutils. Thanks a lot!

[2020-01-21 14:02] #9245 closed, assigned to nobody

[2020-01-22 10:50] hxa7241 opened #9255 "Manual: PDF version: truncated page: ch7.7 p130 expressions grammar"
The text runs off the bottom of the page, and so is missing (visibly):

   ∣  module-path .[| expr |]
   ∣  module-path .{ expr }
   ∣  module-path .{< expr >}

[2020-01-23 15:37] aalekseyev opened #9258 "Performance of Weak.blit"
We noticed that sometimes `Weak.blit` takes time proportional to the total size of the arrays involved, instead of being proportional to the size of the chunk being copied. This is particularly noticeable when the chunks are small.

In particular, we have a use case where contents is moved from one weak array to another, skipping over the references that were emptied, which involved many `blit`s o

[2020-01-26 11:32] Armael commented on #9248
Fixed by #9263.

[2020-01-26 11:32] #9248 closed, assigned to nobody

[2020-01-27 12:00] #9160 closed, assigned to nobody

[2020-01-27 16:02] SkySkimmer opened #9265 "ocamldebug "source" is not reentrant"
This causes strange behaviour when using it inside a sourced file. For instance with files

source1:
[code]
source2:
[code]
source3:
[code]
running `source source1` produces output
[code]
ie `source2` gets sourced twice.
With recent ocaml the restriction on repeated links causes a failure instead.

See also https://github.com/coq/coq/issues/8952 https://github.com/coq/coq/issues/11405

[2020-01-28 14:06] damiendoligez commented on #8926
My reading of the doc is that it is expected to fail if there is a space in the value of the `MAKE` variable. We can work around the problem:
* `"$(MAKE)"` (fails on `"`)
* `'$(MAKE)'` (fails on `'`)
* `'$(subst ','\'',$(MAKE))'` (works)

All these solutions are generally considered too much hassle and we just tell beginners not to use spaces in their directory names.

[2020-01-28 15:08] damiendoligez commented on #8932
ping @dra27

[2020-01-29 09:56] bobzhang opened #9272 "ocaml warning 29 can not be turned off by warning attribute"
seems `[@@@warning "-29"]` does not have an effect on such warning

[2020-01-29 10:03] Octachron commented on #9272
Indeed, the warning (29: End of line in string) is a lexical warning. All lexical warnings (1,2, 14 and 29) are not affected by attribute warning.

[2020-01-29 10:22] Octachron commented on #9272
To elaborate on my answer: currently, the local warning state is only known when we are typing the parsetree (by keeping this warning state updated by inserting warning_scope at the right position). Lifting those lexical warnings to the typyng phase sounds strange. Another option might to implement another warning-aware traversal of the parsetree that would raise those warnings after the parsing i

[2020-01-29 20:29] dbuenzli opened #9276 "ocamlobjinfo is inconsistent in metadata output"
Some of the metadata fields of `.cma` and `.cmxa` fields are stored in reverse order w.r.t. to what was given on the cli.

`ocamlobjinfo` reverse that list before output for "Extra C object files" (since #4949) but not for the other fields:

[code]
Same for:
[code]

Unless people object on backward compatibility grounds I propose to print them in the right order (and will PR).

[2020-01-29 20:46] gasche commented on #9276
No objection here, but wouldn't it make even more sense to *store* them in the right order, rather than merely printing them in the right order?

[2020-01-29 20:52] dbuenzli commented on #9276
I'm not sure.

1. There's quite a bit of tricky business that happens with ordering during linking.
2. This would silently break compiler libs users.

We can certainly handle 1. however I'm a bit more uncomfortable with 2. So I'll start with simply documenting the reversion in the formats and fix `ocamlobjinfo`'s output.

[2020-01-29 22:43] dbuenzli opened #9278 "Clarify some bootstrap aspects."
The `BOOTSTRAP.adoc` explains the procedure very well, thanks.

The following two points could be clarified:

1. It could be mentioned that bootstrap is in general needed when the format of compilation objects changes (e.g. `cma`, `cmxa`) -- it mentions only `cmi` files.
2. It's unclear if you have a PR that needs a bootstrap how you should proceed. Do you include the bootstrap in the PR and if so

[2020-01-30 07:41] #9218 closed, assigned to Octachron

[2020-01-31 14:01] glondu commented on #9276
Note that usually C libraries must be given in "reverse" order (compared to the one an OCaml programmer would naturally give) to the C linker (ld, or ld called via gcc). IMHO, we should not change what is stored in the archives since it is the "right" order from the p.o.v. of ld. I would even argue to let them in this order when printing via ocamlobjinfo, to avoid surprises.

[2020-01-31 14:36] dbuenzli commented on #9276
@glondu I don't think this the right view on the issue. You are mixing how the C linker should be used and how it is driven by OCaml.

What gets written in these fields is the reverse of what *you* write, in order, as `-ccopt` and `-cclib` on the OCaml invocation. The order *you* write them is the order that is going to be put on the C link line.

As such printing them in reverse in `ocamlobjinfo`

[2020-01-31 16:01] xavierleroy commented on #9276
Are you sure?  My memory is that `-cclib` options would get reversed, because as @glondu writes, if B uses A, in OCaml you list A before B on the command-line, and for the C linker you list B before A.

[2020-01-31 16:33] dbuenzli commented on #9276
According to what I see here, yes.
[code]

[2020-01-31 16:36] dbuenzli commented on #9276
I think it makes sense if you read the doc of `-cclib`, the doc of `-cclib` does simply say:
[code]
It doesn't talk about C libraries per se.

[2020-01-31 17:02] gasche commented on #9276
I must say that @glondu's reaction is giving me pause. When @dbuenzli wrote the issue/report, I thought that of course the reversal was an unintentional bug, but now it sounds like there is a chance that the reversal is intentional (but we don't know). Now @xavierleroy is in favor of the surprising order.

Now might be a good time to declare that it will be too hard/time-consuming to resolve the i

[2020-01-31 17:19] dbuenzli commented on #9276
I think the confusion we are witnessing here is because this output from `ocamlobjinfo`:
[code]
is mislabelled. This should be "Extra C link flags" because that's what it is. Again we are not talking about C *objects*, we are talking about C linker *flags*.

I don't think there's any bug or thing to change here. The documentation about this has always been very clear:
[code]

[2020-01-31 17:53] xavierleroy commented on #9276
The reversal was intended so that autolinking (of C stubs libraries) would work.  Consider two OCaml libraries:
* a.cmxa that autolinks `-cclib -lstubs_a`
* b.cmxa that uses a.cmxa and autolinks `-cclib -lstubs_b`.

The user links with the two libraries in OCaml order: definitions before use
[code]
but the C linker expects `-lstubs_b -lstubs_a`, otherwise C functions from `stubs_a` that are refere

[2020-01-31 18:03] dbuenzli commented on #9276
That reversal does occur (cf. below). But that's an *inter*-archive link flags reversal. The link flags in the field of the library archive itself are not reversed and provided in the order specified when the library was created.

[code]

[2020-01-31 18:14] xavierleroy commented on #9276
Ah, I see!  Thank you for the clarification.  (I tried to read your example on my phone, but couldn't quite follow the long lines...)

So, to summarize:
* "Inter-archive" reversal is important and must be preserved (no "unintentional bug" or "meh legacy state" here)
* Intra-archive behavior doesn't matter much; what we do currently (preserve command-line order) is OK with me.
* Whether -cclib and

[2020-02-03 16:27] Octachron commented on #9278
For the second point, my memory of previous discussion is that bootstrap commits should be in separate commits that will be replayed by one of the core dev member before merging.

[2020-02-04 15:53] #9276 closed, assigned to nobody

[2020-02-05 07:38] dbuenzli commented on #9278
Thanks @octachron and where should be the commit. Before the code that needs the bootstrap or after it ?

I would tend to say before as this makes it sure the compiler remains  `bisect`able. Is that right ?

[2020-02-06 15:44] Octachron commented on #9278
Before the commit that needs the bootstrapping: ideally, all commits should pass the test suite (to be usable in bisecting indeed).

[2020-02-06 16:10] gasche commented on #9278
I usually put the bootstrap commit after the commit that needs bootstrapping. This breaks bisectability, but it makes it possible for someone to reproduce the bootstrap by going to that point in the history, redoing the bootstrap, and checking that the result is (morally) the same as the committed bootstrap. If we start bootstrapping things from future commits, it seems harder to get this guarante

[2020-02-06 20:44] tlringer opened #9287 "Infinite loop triggers first build after clean, but on second build triggers stack overflow"
Hello, I've encountered a really, really stranger error in my project. The project is a Coq plugin written in OCaml 4.06.0, and I'm actually not positive whether this is a bug in the Coq infrastructure around OCaml or in the OCaml compiler itself. But my best guess right now is that this is a compiler bug, so I will try to report it, and if you cannot reproduce it at all in a vanilla OCaml project

[2020-02-06 21:30] gasche commented on #9287
I find it fairly implausible that it would be a compiler bug, for several reasons:
- we very rarely have compiler bugs coming from a non-clean build state
  (the compiler is fairly deterministic in behaving in the same way whether its dependencies were rebuilt or not)
- this function is not tail-recursive and, to my knowledge, there is no optimization in the compiler that could make it so, even in

[2020-02-07 00:35] thierry-martinez opened #9288 "Filename.quote_command quotes wrongly on Windows when arguments end with backslash"
On Windows, `Filename.quote_command` has the following behaviour:
[code]
whereas I think that the following result is excepted:
[code]
That is to say:
- the double-quote should appear after the escaped backslashes;
- the escaped backslashes should be doubled.

[2020-02-07 12:11] jahierwan commented on #9214
I've been bitten by this one too...

[2020-02-07 12:22] Rehan-MALAK commented on #9214
I don't know what one should do here. Maybe this should be tagged as "feature-wish" : ability to run code from ocamldebug. It would provide best of both worlds :
-toplevel : run code
-ocamdebug : breakpoint in a big project
I remember reading somewhere that it was impossible (maybe because of the GC), but I can't say what he/she meant by impossible (not possible or too much work ?).

Comments from

[2020-02-07 13:17] thierry-martinez commented on #9288
I was wrong. The current behaviour is correct.

[2020-02-07 13:17] #9288 closed, assigned to nobody

[2020-02-07 14:22] jahierwan commented on #9214
My wish is more modest. I just want to able to print, in ocamldebug, structures that have at least a field that is a function, event if this function is not used by the loaded and installed printer (which causes the core dump as your example illustrates).

I other words, even if the printer does not try to use the function (as you'd like to do if I understand correctly), I have no way to print the

[2020-02-07 18:40] xavierleroy commented on #9287
I concur with @gasche: it is very unlikely that a function call under a "try...with" would be turned into a tail call.  This would be a huge miscompilation bug, of the kind that would have shown up already.

On the other hand, stack overflow detection and conversion into an exception is somewhat unreliable, so there might be external factors that cause the `Stack_overflow` exception to be raised i

[2020-02-07 18:57] tlringer commented on #9287
Interesting, do you know what kind of external factors? More importantly, I suppose, do you know whether that would likely be due to a bug in OCaml or in Coq's infrastructure? I just want to make sure I route this to the Coq developers if it's the latter.

[2020-02-08 17:08] gasche opened #9291 "Compiler build errors when boot/ocamlc and ./ocamlc produce different cmis"
I am creating this issue to track and discuss a build failure that
occurs in the current trunk
when --enable-flambda --disable-flat-float-array are both set. I am
not sure what is the best way forward and hoping for a clarifying
discussion.

### TL/DR: Questions

- Should we explicitly request that boot ocamlc and repo ocamlc
  produce the same .cmi files?

- If not, we have a dependency problem t

[2020-02-08 17:12] gasche commented on #9291
cc: @xavierleroy has a good picture of the design choices, and @shindere will want to be in the loop.

[2020-02-08 17:18] dra27 commented on #9291
I have been hacking (in fact, I am literally just now hacking) native cross-compilation into the compiler - the patch-set I'm working on at the moment does start to introduce "out-of-tree" (or at least, "in a different directory") builds to parts of the compiler, because you need all C stubs compiled for two architectures (and potentially three different ocamlrun binaries), and two sets of native

[2020-02-08 20:40] gasche commented on #9291
Yes, I also discussed this out-of-tree builds with @Octachron in the context of code-coverage-by-tests measurements. I agree that it's a desirable state to tend towards, but it is not clear to me that it is the right "fix to develop very soon" for the build-breakage problem we have in trunk today.

[2020-02-09 19:01] dra27 commented on #9291
I did some experiments today - it is reasonably non-invasive to add detection for this situation (using a very similar trick to what `runtime/Makefile` does with `primitives` and `primitives.new` and adding a highly cut-down version of `ocamlobjinfo` to `ocamlc` so you can get the MD5 of .cmi files before compiler libs is built.)

With that, it's also easy to get `boot/ocamlcommon.cma` and so fort

[2020-02-09 20:03] gasche commented on #9291
Indeed, I edited my original message: at step (5), the boot compiler is still used, but with the repo stdlib. (This mismatch seems fairly strange to me.)

[2020-02-09 21:24] dra27 commented on #9291
The bytecode compilation I think always proceeds with the boot stdlib - the only time `-I stdlib` is used in the toplevel is to do native compilation - which is still sound inasmuch as it means you know all the bytecode _tools_ were built with the boot compiler and stdlib.

I'm leaning towards a generalised version of your workaround - there should be an option to feed in alternate contents of the

[2020-02-10 08:36] gasche commented on #9291
The problem is that ocamlc and ocamlopt share some compilation units. For those, building ocamlopt will use the repo stdlib to build the `.cmx` file, while the `.cmi` file was compiled by ocamlc against the boot stdlib.

Here is a lightly edited build log fragment from https://github.com/ocaml/ocaml/pull/2188#issuecomment-581964930
[code]

As you can see, ocamlopt builds utils/misc.ml against the

[2020-02-10 22:05] ghost opened #9294 "Typedecl_separability unbound with Dune"
Hi all. I am trying to build the compiler using a pre-installed compiler to generate magic number-compatible .merlin map so I can hack on the compiler.

When running `dune build -w @world` it results in:

[code]

Wdyt? Thanks.

[2020-02-10 22:13] ghost commented on #9294
Possibly related to https://github.com/ocaml/ocaml/pull/2093.

[2020-02-11 09:14] dbuenzli opened #9295 "Compilers: do not print option documentation in usage messages"
When compilers errors due to a cli error, they spit out the whole option sets with their documentation in the usage message. Nowadays this consist in 154 lines which requires to painfully scroll back to get the actual error message.

This is also not so standard. It is more customary for programs to simply output a synopsis of the cli and indicate to use `--help` for more . That is rather than:

[

[2020-02-11 09:21] gasche commented on #9295
Sure, why not?

[2020-02-11 10:37] gasche commented on #9291
After a short discussion with @Octachron and @damiendoligez, we are considering going the separate-build-dir route. I would like to avoid the horrible Makefile hacks in the style of `dynlink_compilerlibs`; one possible approach would be to rely on the behavior of `-o $(BUILD_DIR)/foo.cm{i,o,x}`, which produces all intermediate files in `$(BUILD_DIR)`.

So I guess that we would have $(BOOT_BUILD_DI

[2020-02-11 12:23] olafhering opened #9297 "autoconf detection of libbfd can not work"
Since the introduction of `configure.ac`, the test for libbfd can not work. `AC_CHECK_LIB` caches the result. If the first attempt fails, further attempts are considered as failed upfront as well.

My workaround to get a `ocamlobjinfo` for `cmxs` files looks like that.

[code]
I see 4.10 has some changes, the patch above is for 4.08. But in fact 4.10 fails as well for me.

[2020-02-11 13:26] Octachron commented on #9297
cc @shindere

[2020-02-11 13:47] olafhering commented on #9297
I looked through `config.log` from 4.10. It seems '-ldl' is missing.
`-lbfd -liberty -lm` -> `undefined reference to 'dlopen'/'inflateInit_'/'compressBound'`
`-lbfd -liberty -lz -lm` -> `undefined reference to 'dlopen'`
`-lbfd -liberty -lz -lintl -lm` -> `cannot find -lintl`

[2020-02-11 15:14] damiendoligez commented on #8922
How does the C linker decide whether a given library is static or shared? Does it look at the file name or the file format?

[2020-02-11 16:17] dbuenzli opened #9299 "Strange `ocamldep` cli behaviour."
It seems that `ocamldep` processes its files by side effect of [its `anon`ymous argument parsing function](https://github.com/ocaml/ocaml/blob/d2d94ef537bf9d18dc540a8fa09824b752bd8bb1/driver/makedepend.ml#L641). This looks a bit broken since `anon` is interleaved with option parsing arguments. So you may not have parsed everything  that influences the way you process the file.

One obvious occuren

[2020-02-11 16:18] shindere commented on #9297
The initial problem you report has been resolved, at least on trunk, cf.
the `unset ac_cv_lib_bfd_bfd_openr`lines in `configure.ac`.

Regarding the use of the `-ldl` flag, I don't really know yet what the
right approach would be. Should it be added from the beginning? The
point is that it works without it on our CI machines, I assume because
static versions of the required libraries are available.

[2020-02-11 16:23] shindere commented on #9291
Just to mention that as far as I can say `--enable-flambda` plays no
role here. It happens that both `--enable-flambda` and
`--disable-flat-float-array` are tested together by Inria's CI
`other-configs` job, but e.g. on my machine, or on the one of
@damiendoligez, the problem occurs even when flambda is not enabled.

[2020-02-11 16:31] olafhering commented on #9297
At least in Leap 15.1 it fails. Static libraries exists:
[code]

[code]

[2020-02-11 16:32] Octachron commented on #9255
Indeed, the grammar has grown larger than the pdf page. Splitting some subgrammars should solve the issue.Thanks for the report!

[2020-02-11 16:39] shindere commented on #9291
Gabriel Scherer (2020/02/11 10:37 +0000):

@gaschde: @damiendoligez and @Octachron may have told you that this
build out of source tree is part of the work we proposed I'd do during
the coming year. That would be a prerequisite for cross-compilation, as
@dra27 has explained.

Another part of the work we have proposed consists in moving from the
calling make recursively to including sub-makefiles,

[2020-02-11 16:43] shindere commented on #9297
I'm unsure who exactly needs e.g. `dlopen` and why it is really
required. Is that to say that libbfd itself has kind of a plugin-based
mechanism that will want to load dynamic parts even when one uses only
static libraries?

[2020-02-11 16:49] olafhering commented on #9297
I do not know the internals of binutils, but the name `try_load_plugin` suggests that a module system exists. How are modules supposed to be loaded if not with `dlopen`?

[2020-02-11 16:55] shindere commented on #9297
Olaf Hering (2020/02/11 16:49 +0000):

I don't know -- it works without it, here...

[2020-02-12 03:11] anmonteiro opened #9301 "Monadic binding operators don't allow attributes"
I tend to use `let[@ocaml.warning "-8"] ...` when I'm trying something out quickly.

This is not currently possible with binding operators, and instead produces a syntax error:

[code]

[2020-02-12 09:52] cspiel commented on #8922
@damiendoligez: I'm not a linker lawyer but on my GNU/Linux box the linker (**ld.bfd**) looks
at the input files' formats and I suspect **ld.gold** and **ld.lld** behave similarly (not tested
though).

Here is a tiny *Makefile* I have tinkered with:

[code]

After reaching the "all" target we can go on playing with the linker.

* Names do not matter to GNU linker.
    `ln -sf libhello-stat.a foo.b

[2020-02-12 10:54] shindere commented on #9297
If you could do something like

[code]

would that be okay?

Note that this does not work at the moment, I am just asking to see
whether that would be good enough.

[2020-02-12 11:06] olafhering commented on #9297
I briefly browsed binutils sources. Their configure has a `--enable-plugins`. Was the binutils, which is used in CI, built with plugin support?

What is wrong with using `-ldl`, why was it removed? Why would I need to apply workarounds to fix this regression?

[2020-02-12 11:08] shindere commented on #9297
Actually: I didn't realise, until now, that there actually was a
regression. My bad, I'm sorry about this. Working on a fix, will send
link to the PR as soon as it's ready and would appreciated it a lot if
you can give it a try.

[2020-02-12 13:33] Octachron commented on #9255
Resolved by #9300 .

[2020-02-12 13:33] #9255 closed, assigned to nobody

[2020-02-12 14:42] shindere commented on #9297
@olafhering: I just opened #9302 to fix this issue, with my apologies.

Would you please mind giving the code a try and let us know whether it
fixes your problem?

[2020-02-12 14:50] shindere commented on #9291
So I'll work on this ASAP (discussed with @gasche and @damiendoligez).

[2020-02-12 14:54] dra27 commented on #9291
In between things, I've been hacking a prototype, which suggests the diff is not as big as might be being feared - in fact, so far it's easier to debug with `-I boot` instead of 15 `-I` directories...!

[2020-02-12 15:14] gasche commented on #9291
Is the code of your prototype pushed to a WIP-branch somewhere?

My current understanding of the "shortest clean solution" would be to:
- have separate build-artifact directories for boot-compiler artifacts and for repo-compiler artifacts. (I considered keeping the repo-compiler artifacts in the source tree, which is pleasingly the same behavior as today but runs into more risk of including them b

[2020-02-12 15:22] dra27 commented on #9291
I’ll push it and sync up with @shindere in an hour or so

[2020-02-12 15:38] damiendoligez commented on #8922
I see the same on MacOS (the linker doesn't take the file extension into account) so a workaround could be to symlink (or rename) `libasmrun_shared.so` to `libasmrun_shared.a`. I admit it could be slightly confusing for users.

[2020-02-12 16:13] trefis commented on #9294
Thanks for the report, this is now fixed on trunk by commit d12044e6c206bc4cb27faaefe8953e0b9d3bfee0.

Note: you won't be able to build `@world` with ocaml 4.09 (or older), but there is also the `@libs` alias that will compile the same things but avoid the linking step (which is currently failing).

[2020-02-12 16:13] #9294 closed, assigned to nobody

[2020-02-12 19:54] ghost commented on #9294
@trefis Thanks!

[2020-02-13 03:28] bobzhang opened #9303 "platform difference for 0x1p-1022"
on Mac
[code]
on windows
[code]

[2020-02-13 07:43] dra27 commented on #9303
OCaml version and Windows port used, please.

[2020-02-13 11:13] bobzhang commented on #9303
Sorry missed the info. Ocaml version 4.06.1 + mingw port

[2020-02-13 11:25] dra27 commented on #9303
amd64 on both?

[2020-02-13 12:22] xavierleroy commented on #9303
The decimal representation of a FP number is not necessarily unique.  Both representations parse back to the same float:
[code]
You can't expect that float -> string conversion will give the exact same results on different platforms.  If you want a unique string representation of a FP number, use hexadecimal format (`sprintf "%h"`).

[2020-02-13 12:22] #9303 closed, assigned to nobody

[2020-02-13 13:40] dra27 commented on #9303
The issue is the C runtime library's `sprintf` - mingw uses `msvcrt.dll` as found in Windows system which is a _very_ old C runtime. I expect the behaviour changed with the Universal CRT - the MSVC port built with the Windows 7 SDK behaves as Windows above; the MSVC port built with Visual Studio 2017 behaves as macOS above.

You can compile mingw-w64 to target the UCRT, but that means not using th

[2020-02-14 09:30] dbuenzli opened #9306 "Get rid of bfd optional dependency"
In the context of [RFC 7](https://github.com/ocaml/RFCs/pull/7) we want to provide the ability for `ocamlobjinfo` to report about libraries required by archives.

For `cmxs` this is currently only possible when the external `bfd` library is available which is used by shelling out to a seperate [`objinfo_helper`](https://github.com/ocaml/ocaml/blob/trunk/tools/objinfo_helper.c) tool. Optional depen

[2020-02-14 09:43] dra27 commented on #9306
I haven’t checked the full detail, but if the same thing can be achieved without libbfd, then this would be an improvement for the native Windows ports (especially msvc) - I’ve never got a working version of the helper before (I’ve not tried that hard either)

It would remain desirable for ocamlobjinfo to be a bytecode tool, which means that `caml_natdynlink_open` would have to move runtimes, but

[2020-02-14 09:52] xavierleroy commented on #9306
The dynamic loading of the cmxs can fail if the cmxs needs C functions that are not present in the ocamlobjinfo executable.  Also, C initialization code (e.g. C++ constructors for global variables) could be executed.

There were licensing issues too: the BFD library is GPL, so it's safer not to link it directly with the ocamlobjinfo code.

But, IIRC, the point of using the BFD library in the first

[2020-02-14 09:55] dbuenzli commented on #9306
Ok thanks @xavierleroy for your answer. I suspected I was missing something here.

[2020-02-14 09:55] #9306 closed, assigned to nobody

[2020-02-14 10:09] dra27 commented on #9306
Tangentially to the original problem, the Windows side may be fixable by using a custom version of `caml_natdynlink_open` (since you _can_ `dlopen` without running code), so perhaps that code could yet be useful, just not to solve the problem you hoped!

[2020-02-14 10:22] dbuenzli commented on #9306
You mean on Windows ?

But wouldn't that part remain problematic then:

E.g. on unix it seems *functions* would maybe not be a problem by using RTLD_LAZY, however there may be references to variables, which according to the [docs](https://linux.die.net/man/3/dlopen) of RTLD_LAZY do get resolved immediately in any case.

[2020-02-14 11:29] dra27 commented on #9306
I did mean “on Windows”, yes. You can load without worrying about references too (e.g. in order to access resource blocks) but it doesn’t matter - the units on Windows are compiled with FlexDLL so the dependencies aren’t known to the OS

[2020-02-14 14:32] #9258 closed, assigned to nobody

[2020-02-15 05:09] bobzhang commented on #9303
@dra27 I have some work around, thanks for the explanation

[2020-02-15 18:12] olafhering opened #9307 "content of cma files is not reproducible"
I get random changes in `*.cma` archives. I think the issue is that [create_archive](ba204305d6c9d039917240e92e34363725381d3a/bytecomp/bytelibrarian.ml#L91) does not sort the list. As a result, each rebuild of unchanged sources leads to slightly different, yet usable, archives. AFAICS this is the only noise with ocaml binary files.

See [reproducible-builds](https://reproducible-builds.org/) for r

[2020-02-15 18:13] olafhering commented on #9307
Well, just as I wrote this, `*.cmti` might be affected as well. I did not spot this before....

[2020-02-17 12:49] olafhering commented on #9307
I briefly browsed the ocaml 4.05 build logs. It seems in 4.05 the cma files are reproducible. But it is not clear from browsing the 4.05 source tree why the input list would be sorted. Maybe the current log snapshots just do not show the issue.

[2020-02-17 14:39] shindere commented on #9240
@drikosev: sorry for the inconvenience.

My guess is that `configure` gets confused, trying to use the specified
compiler (the one not installed at the standard place) and libraries
that are installed and thus take precedence over the ones that go with
the non-installed compiler and should thus be used with it.

The problem seems however hard to debug since we can not reproduce it
here, and perhap

[2020-02-17 14:39] #9240 closed, assigned to nobody

[2020-02-17 15:05] xavierleroy commented on #9307
`Bytelibrarian.create_archive` does not sort the argument list `file_list` because linking order is significant in OCaml -- if B refers to A, A must be linked before B -- so we respect the order of files given on the command-line.  But this order doesn't change from build to build!

Do you have a repro case?

[2020-02-17 15:28] shindere commented on #9131
Would it be possible to show the output of the `config.log` file to try
to understand why the C compiler is detected as not working at such an
early configure stage?

[2020-02-17 15:51] olafhering commented on #9307
I may be able to force it by building once in tmpfs and once on another filesystem.

In the past I did not pay close attention to this. But I do think 4.05 was not that much affected, unlike 4.10 now. I will inspect the logfiles from 4.04 to 4.10.

Is there a readdir(3) involved somewhere? Maybe this would be part of the issue, its result is not predictable.

[2020-02-17 16:31] olafhering commented on #9307
Yes, this seems to be a way to observe differences with a local build.

[2020-02-17 16:36] hhugo commented on #9307
Is the issue with `*.cma` archives from the OCaml compiler codebase or from a third-party OCaml codebase ?

[2020-02-17 16:44] olafhering commented on #9307
What do you mean by that? I will see it in all of [devel:languages:ocaml](https://build.opensuse.org/project/show/devel:languages:ocaml) once it is switched from 4.05 to 4.10 (maybe even 4.09).

[2020-02-17 17:23] olafhering commented on #9307
Further inspection shows the issue starts with 4.08. Build logs in 4.04..07 show no differences in cma files. Starting with 4.08 I see them in cma, cmt, cmti. The latter may just be a result of different ordering in cma?

[2020-02-17 17:31] lthls commented on #9307
The `.cmo` files contain debug information that include paths to the source files. Since these `.cmo` files are then (more or less) copied into the `.cma` file, this could explain what you found. It's possible that the paths to the source files were only introduced in 4.08, which would explain why you only get the issue starting from there, but I'm not 100% sure.

Do you use the `BUILD_PATH_PREFIX

[2020-02-17 18:02] olafhering commented on #9307
I was not aware of `BUILD_PATH_PREFIX_MAP`, no pkg at SUSE seems to use it. I will dig into it.

[2020-02-17 18:56] olafhering commented on #9307
It seems the included paths do just contain the rpm package version number, not the rpm release number.
Some example: same source, different size of result. Not sure if there is a "cma inspector", like `readelf` for ELF.
[issue9307.ppxlib.tar.zip](https://github.com/ocaml/ocaml/files/4215654/issue9307.ppxlib.tar.zip)

[2020-02-18 03:51] yawaramin opened #9312 "Add useful functions to Seq module"
Would some contributions be welcome into the `Seq` module? Does anyone already have some functions implemented? I found a couple waiting for review in #9077, and I have a few more implemented on my machine:

- range
- fold_right (not tailrec)
- take_while (short-circuiting)
- take (n)
- exists (predicate)

[2020-02-18 05:39] glondu commented on #9307
There is `ocamlobjinfo`.

[2020-02-18 13:04] MisterDA opened #9313 "Segfault on Cygwin/MinGW-w64 with OCaml 4.09.0"
Hi!

I’ve just set up a Cygwin environment with MinGW-w64. OCaml 4.09.0
and Flexdll 0.37 compile well, but OCaml segfaults immediateley.

I extracted the two tarballs and put the content of flexdll in
`flexdll/`.

[code]

[code]

Am I doing something wrong?
Thanks!

-- Antonin

[2020-02-18 13:09] nojb commented on #9313
Can you try running `./runtime/ocamlrun ./ocaml` from the root of the repository ?

[2020-02-18 13:15] smuenzel-js opened #9314 "Stack overflow with constraints and object types"
The following causes a stack overflow (in typing/ctype.ml, at recursive invocations of try_expand_head):

[code]
However, when changing `let t =` to `let t : 'a t =`, it compiles just fine.

Note that this is a reduced example from actual code, so it doesn't necessarily make a whole lot of sense. But I believe it should type-check.

[2020-02-18 13:21] MisterDA commented on #9313
It works! if I add `-I stdlib`.

[code]
What’s happening with `./runtime/ocamlrun`?

Thanks!

[2020-02-18 13:24] olafhering commented on #9307
I made a copy of all binary packages, triggered global rebuild, now waiting for the results to compare changed binary packages. This may take a while.

[2020-02-18 13:32] nojb commented on #9313
It turns out that `ocaml` is a bytecode program and it depends on an interpreter to run, called `ocamlrun`. Typically the interpreter is found by looking on the `PATH`. In this case, I imagine that the wrong interpreter is being used (maybe OCaml is already installed in your system) or something along those lines. The above invocation explicitly calling the right `ocamlrun` and so it "fixes" the i

[2020-02-18 13:41] hhugo commented on #9307
Looking at your issue9307.ppxlib.tar.zip, it seems that you're having issue with `ppxlib` (not with `*.cma` provided by the ocaml compiler). Is is possible that only the build of ppxlib is not reproducible (e.g. because its build system doesn't pass individual `*.cmo` in a stable order) ?

[2020-02-18 13:45] olafhering commented on #9307
No, it affects many more packages. I'm in the process of collecting the affected binaries.

[2020-02-18 13:48] #9313 closed, assigned to nobody

[2020-02-18 15:02] smuenzel-js commented on #9314
There seems to be an infinite loop in `try_expand_head` between
[code]
and
[code]

[2020-02-18 15:04] Octachron commented on #9314
Another path to the same error:

[code]

[2020-02-18 15:27] shindere commented on #8647
@rwmjones: in
https://github.com/ocaml/ocaml/issues/8647#issuecomment-487094390, you wrote
this:

OK I see the problem.  The `configure.ac` file assumes that if `--host` was set then you must be cross-compiling, but that's not actually a correct assumption.

Well, that's not completely true. Cross-compiling is assumed only if the
argument of --host differs from the one of --build.

One tricky thin

[2020-02-18 15:32] shindere commented on #8647
I just opened PR #9315 to try to fix this problem.

[2020-02-18 15:59] rwmjones commented on #8647
I think I was referring to this code:

[code]

Anyway I'll try out your patch in the other PR.

[2020-02-18 16:02] rwmjones commented on #8647
BTW using `AC_MSG_CHECKING`/`AC_MSG_RESULT` around your own tests really helps with debugging, ie:

[code]

It will produce configure output like:

[code]

[2020-02-18 16:04] shindere commented on #8647
rwmjones (2020/02/18 07:59 -0800):

Ah. It turns out there are I think two notions of cross-compiler around.
The autoconf one takes into account build and host and that one takes
into acocunt host and target. It was introduced to enable a behaviour
from the pre-autoconf configure script but so far I never ported this
feature and nobody complained that it was missing. I think that code you
mention

[2020-02-18 16:06] shindere commented on #9093
Any progress on this?

How important is it to actually fix the problem reported here?

Shall we close this issue and reopen it if the problem becomes really
crucial?

[2020-02-18 16:51] shindere commented on #7678
@dra27: am I correct that your PR #8631 would fix this issue?

[2020-02-18 17:39] olafhering commented on #9307
Here is the first result, a number of files from ocaml.git#409 differ. It is not clear to me what the actual difference is, even the filesize differs? I suppose the different `cmo` files do also cause the different `cma` files?
[issue9307.ocaml409.tar.zip](https://github.com/ocaml/ocaml/files/4220749/issue9307.ocaml409.tar.zip)

Is is enough to get an understanding, or should I provide more exampl

[2020-02-18 17:54] hhugo commented on #9307
I had a look with @xclerc, the issue seems to be that since ocaml 4.08, we keep track of cmi available in load paths inside the environment. The environment is propagated in cmo, cma, cmti ..
With parallel build, the set of available cmi in load paths can vary. Cc @trefis, @diml

[2020-02-19 00:13] smuenzel-js commented on #9314
So, hitting the whole thing with a giant hammer works:
https://github.com/ocaml/ocaml/compare/trunk...smuenzel-js:infinite-try-expand-head-2
But I'm not sure what consequences limiting the number of iterations of `try_expand_head` has. The testsuite passes, at least.

[2020-02-19 07:58] ghost commented on #9307
I believe this is what #9039 is meant to fix

[2020-02-19 08:05] smuenzel-js opened #9317 "Ctype.Cannot_apply when destructively substituting type"
The following code raises Ctype.Cannot_apply:
[code]
It works fine when using `type 'a pre = 'a t` instead of `type 'a pre := 'a t`

[2020-02-19 08:35] smuenzel-js commented on #9317
I believe the unification trace that describes this error is (on `val global`):

[2020-02-19 11:06] Octachron commented on #9314
Adding fuels to the type checker is not a solution.

[2020-02-19 12:27] trefis commented on #9314
https://github.com/ocaml/ocaml/blob/eda8b362c225941d6c9b8b141aecc9e65fec0b34/typing/typecore.ml#L1075

:grin:

[2020-02-19 12:28] trefis commented on #9314
(But I do agree that it's *a priori* not the right way to solve this issue)

[2020-02-19 13:26] maroneze opened #9320 "Unix.execv on Cygwin+MinGW splits Sys.argv on spaces"
While debugging an issue with why3 on Windows (https://gitlab.inria.fr/why3/why3/issues/445), I ended up finding a difference of behavior with `Unix.execv` on Windows and on Linux. To be more specific, using [OCaml for Windows](https://fdopen.github.io/opam-repository-mingw/installation/) and then creating a switch `4.10.0+rc2+mingw64` (the same behavior also happens on older versions, such as `4.

[2020-02-19 13:47] nojb commented on #9320
This is a bug in Windows implementation of `execv`. You may try wrapping your arguments in double quotes (or use `Filename.quote`), but that is a hack at best. You can also try using `Unix.create_process` which does the quoting for you automatically.

I guess we could try to do the quoting in the `Unix` library...

[2020-02-19 15:50] garrigue commented on #9314
Well, `explosion_fuel` is not a very good name, as this is wired into the semantics, and the maximal number of non-linear explosions is 1 ...

[2020-02-19 15:51] olafhering commented on #9307
Does this mean a forced single threaded build (make -j1/dune build -j1) may fix it?

[2020-02-19 17:20] hhugo commented on #9307
Possibly

[2020-02-20 10:04] ghost commented on #9307
It's sad to disable parallelism, but yh it should fix it.

[2020-02-20 10:18] smuenzel commented on #9314
FWIW, in `-principal` mode, there is no stack overflow and the file compiles.

[2020-02-21 08:33] olafhering commented on #9307
Yes, forcing `-j 1` helps indeed. Tested with an ocaml 4.09 based tree.

[2020-02-21 12:31] #9278 closed, assigned to nobody

[2020-02-21 13:47] garrigue commented on #9314
A much smaller version of the problem:
[code]
One side wraps, and the other unwraps.
Note that this example causes an overflow with -principal too.

[2020-02-21 14:00] garrigue commented on #9314
BTW, the bug was already in 3.12, it was just a bit delayed.
[code]

[2020-02-21 19:54] nojb commented on #6662
I believe this has been fixed by #8908

[2020-02-21 19:54] #6662 closed

[2020-02-22 17:45] ejgallego opened #9326 "Performance regression in OCaml 4.08"
Dear OCaml devs,

@RalfJung has pointed out a non-trivial performance regression in Coq when moving from OCaml 4.07 to OCaml 4.08 https://github.com/coq/coq/issues/11652

See some numbers [here](https://ci.inria.fr/coq/job/benchmark-part-of-the-branch/861/console), for example CompCert does compile more than 7% faster in 4.07

There are a few candidates in the changelog for the slowdown, I think w

[2020-02-22 17:48] ejgallego commented on #9326
[by the way, do you know folks where are the OCaml performance test stored?]

[2020-02-22 21:02] gasche commented on #9326
There are no performance tests in the compiler distribution (some parts of the testsuite, typically `misc-kb`, also serve as microbenchmarks, but we do not monitor their performance counters). We have benchmarks in [operf-micro](https://github.com/OCamlPro/operf-micro) and [operf-macro](https://github.com/OCamlPro/operf-macro), and two benchmark-result-monitoring websites (<http://bench.flambda.oc

[2020-02-22 21:11] ejgallego commented on #9326
Thanks @gasche , I was wondering if some of the people measuring perf had found the same regression as us.

I was not able to get a meaninful result from the ocamlpro site; I knew about the ocamllabs site but it seems limited to 4.06+multicore, right?

[2020-02-22 21:13] gasche commented on #9326
Regarding where regressions may be: many items in the changelog could lead to performance differences, and it's fairly hard to tell. One first thing to look at may be that 4.08 is the first release to use an autoconf-based configuration (before OCaml had a manually-written configure script). Because the various feature detection logic has been rewritten, it is possible that a stock 4.08 compiler g

[2020-02-22 21:17] ejgallego commented on #9326
We can reproduce with a standard `opam` setup; in that case I cannot witness any difference in configuration that should matter, but indeed we need to check this more carefully.

In fact I was wondering about this precise point, how come nobody else had noticed yet. I guess it could be something very specific related to Coq; or maybe some compute-intensive users are still in 4.07 ?

[2020-02-22 21:25] ejgallego commented on #9326
Also, I remember seeing quite degraded performance with 4.08+flambda some time back; I didn't research a lot as I had no time back then.

[2020-02-22 21:31] gasche commented on #9326
I believe that at least Lexifi and Jane Street have migrated to 4.08 and then 4.09.

One candidate for a performance regression for Coq could be https://github.com/ocaml/ocaml/pull/1895 : it fixes the capture of callstacks/backtraces in new threads, which would previously only capture the last stack frame. If Coq captures callstacks/backtraces and does computations in threads, it could be hit by a

[2020-02-22 21:36] ejgallego commented on #9326
Thanks a lot for the pointers @gasche ; indeed the preliminary plan could look like:
- wait for the 4.09 results
- narrow down from full development to a minimal Coq `.v` that allow us to reproduce the 30% slowdown Ralf experienced.
- get perf profiles
- try reverting some of the patches you propose

IMHO it is still hard to tell what the cause could be; all of the options you propose are for now

[2020-02-22 21:58] gasche commented on #9326
Can you confirm that the numbers given are for x86_64 machines, in particular not 32bit machines? (For example #1683 affects marshalling of Custom values, and I think Coq uses Custom blocks to represent VM's uint63 on 32-bits machines.)

[2020-02-22 22:06] ejgallego commented on #9326
For now x86_64 , also the slowdowns don't seem to be tied to developments making heavy use of the VM.

[2020-02-22 22:25] nojb commented on #9326
We suspect multiple sources of slowdowns around the 4.08 release, but unfortunately they haven't yet been tracked down precisely.

Have you seen #8776 ?

[2020-02-22 22:37] ejgallego commented on #9326
Thanks @nojb ; note that in this case we are not talking about the compiler itself, but the code _produced_ by the compiler is in some cases 30% slower.

[2020-02-22 22:41] ejgallego commented on #9326
Of course would the compiler itself be affected by same Coq bug that would explain why there is an overall slowdown.

I wonder if systematic benchs should be introduced at the PR level; in Coq we are limited by the amount of available hardware (so we only test selected PRs) but the plan is to do so.

[2020-02-23 05:49] gasche commented on #9326
Well, PR-level performance monitoring is of course a great idea, but it is also a lot of work, and so far no one has been willing to do this consistently for the OCaml trunk.

(#8776 is a compile-time regression due to a change in type-checking behavior, it should not influence programs that do not call the type-checker at runtime.)

[2020-02-23 09:11] xavierleroy commented on #9326
Is the slowdown observed with the flambda optimizer or without?

Without flambda and using KB and a few other old tests as benchmarks, I'm not seeing significant performance differences between 4.07.1, 4.08.1, and 4.09.0.

Will try flambda next.

[2020-02-23 09:29] gasche commented on #9326
I believe that Emilio's [numbers](https://ci.inria.fr/coq/job/benchmark-part-of-the-branch/861/consoleText) come from the standard ocaml-base-compiler-{4.07.1,4.08.1} switches, with default configuration options, so in particular without flambda. I reviewed the opam files to check if there were configuration differences, and did not find much. (4.07.1 uses `-with-debug-runtime`, and I don't know w

[2020-02-23 13:03] RalfJung commented on #9326
In case that's useful, [this is the file with the biggest slowdown](https://gitlab.mpi-sws.org/iris/iris/blob/master/theories/algebra/namespace_map.v), of 28%. There are [some more that are almost as bad](https://coq-speed.mpi-sws.org/d/1QE_dqjiz/coq-compare?orgId=1&var-project=iris&var-branch1=master&var-commit1=7ddea37a842878fa5a9eb53130e0f867aced2655&var-config1=build-coq.8.11.0&var-branch2=mas

[2020-02-23 13:06] codename68 opened #9327 "Inaccurracies in manual about infix attribute equivalence examples"
In chapter 8.12, in the examples presenting the equivalence between infix `[@attr]` attributes and the syntax without them, some examples seem confusing. And when passing them to `ocaml -dsource`, it gives a different output:

For example:
[code]
`ocaml -dsource` gives:
[code]

And for example:
[code]
`ocaml -dsource` gives:
[code]

I assume the manual and `ocaml -dsource` should agree.

Thanks fo

[2020-02-23 13:45] gasche commented on #9327
I don't understand what is the problem with the first example. (I tried myself and on 4.09 `-dsource` uses parentheses rather than `begin .. end` to reprint, but the two choices are equivalent and seem consistent with what the manual says.)

In the second example, I find it a bit confusing that a single-arobase attribute would get turned into a double-arobase attribute by desugaring, but this is t

[2020-02-23 16:15] ejgallego commented on #9326
The numbers on the Coq bench are without flambda, I am not sure what @RalfJung is using in their CI but given that he spoke about the "Debian" version that would make it flambda [for Iris we use flambda in Coq's CI as the improvement is noticeable.

I do remember seeing an slowdown in 4.08.0+flambda too, I will run some benchs with flambda once the current one finish.

@gasche indeed I got confuse

[2020-02-23 16:17] RalfJung commented on #9326
We are using the `ocaml-base-compiler.4.07.1` and `ocaml-base-compiler.4.08.1` as installed via opam, respectively. I used the Debian version number merely as an indicator that upgrading from 4.07 to 4.08 is reasonable.

So, no flambda.

[2020-02-23 16:36] gasche commented on #9326
Note: Emilio's benchmarks are configured so that "NEW" is the older OCaml compiler, and "OLD" is the newer OCaml compiler. So -7% on the [first benchmarks: 4.07.1 vs 4.08.1](https://ci.inria.fr/coq/job/benchmark-part-of-the-branch/861/consoleText) means that Compcert builds 7% *faster* on 4.07.1 than 4.08.1, and +2% on the [second benchmarks: 4.08.1 vs 4.09.0](https://ci.inria.fr/coq/job/benchmark

[2020-02-23 16:41] Octachron commented on #9327
There is an inconsistency between algebraic and item levels in the translation: both levels appear on the right-hand side whereas fortunately the parser is consistent and pick only one attribute level for the two attributes (algebraic in the first case, item in the second one).

[2020-02-23 16:45] gasche commented on #9327
Ah, I see it now. Thanks!

[2020-02-23 17:47] ejgallego commented on #9326
Sorry for that, it was not intended; I got confused in the UI.

[2020-02-24 04:16] XVilka opened #9328 "Syntax highlight/colorize the error messages"
Sorry if duplicate - I remember it was discussed somewhere, but found nothing in the opened issues, thus this feature request.

To date many various languages perform a simple syntax highlight or colorize their error messages somehow, to make them more readable. While the text part of the message nowadays is clear enough in most of the cases, adding basic syntax highlight for the reported types or

[2020-02-24 08:16] gasche commented on #9328
TL/DR: people are working on this but it's in fact a lot of work, and it has been progressing surely but slowly.

There was a first attempt to do this by @Octachron in https://github.com/ocaml/ocaml/pull/1481 , using what is morally a syntactic diff on the printed representation of the types. It was a lot of work but it end up not-merged, because there were too many positives (differences being hi

[2020-02-24 09:11] lpw25 commented on #9328
@Octachron / @Drup is your ongoing work in the same area as #8828? Because I have some further PRs from that internship that just need finishing off. The current state is [here](http://github.com/lpw25/ocaml/commits/better-error-types) and [here](http://github.com/lpw25/ocaml/commits/use-better-error-types). They're probably not in a state for others to work on them, but you should be able to see

[2020-02-24 09:42] Octachron commented on #9328
If I am reading correctly, the two should be really complimentary: our [work](https://github.com/Octachron/ocaml/commits/semdiff_includemod) is more concerned with reorganizing the global flow of information in includecore. The idea is to make the full error tree available for the error printer. The initial PR (hopefully coming sometime this week) will essentially target functor application and in

[2020-02-24 11:41] lpw25 commented on #9328
That's right.

Yeah, it sounds like they should compliment each other nicely.

[2020-02-24 13:07] Drup commented on #9328
The 2 problems are slightly orthogonal. The work we have started is about structured error messages which allow for better explanations. Code highlighting should be implemented simply by tagging (using `Format` tags) the output, which is very easy to do, but also quite labor-intensive. That could be started at any point, rather independently.

[2020-02-24 15:45] ejgallego commented on #9326
Benchs updated; compiling ssreflect takes the longest hit [around 10% on average] so we will try work a reduced test case from that.

[2020-02-24 15:46] ejgallego commented on #9326
@xavierleroy for now the easiest way to reproduce is to compile ssreflect ; we are working on isolating a reduced case from that.

[2020-02-24 17:23] scemama opened #9330 "Path to ocamlrun overflow"
Hello,
when `ocamlrun` is in a very long path in the filesystem, for example
[code]
bytecode executables don't run because the shebang line is too long. So I guess the creation of the bytecode executables should fail in these situations.

For more info on `#!` limitations, see
https://www.in-ulm.de/~mascheck/various/shebang/

[2020-02-24 17:30] gasche commented on #9330
It is always possible to run bytecode executables by passing them explicitly to the `ocamlrun` binary instead of relying on the shebang:

[code]

[2020-02-24 17:57] scemama commented on #9330
I know! but I spent the whole day trying to understand why installing OCaml via OPAM in one directory worked, while in another it did not. The only output I had was `exit-code 127` which is does not give much info to find the error.

You misunderstood my issue : I just wanted to alert the compiler developers of this problem and avoid others to be in the same situation as me in the future.

I belie

[2020-02-24 19:32] xavierleroy commented on #9330
PR #8622 addresses this issue.  It should be fixed in OCaml release 4.10.0 and up.  Please reopen this issue if the problem is still observed in 4.10.0.

[2020-02-24 19:32] #9330 closed, assigned to nobody

[2020-02-25 10:13] Octachron commented on #7548
Let's close the issue for now. We can open an issue for a format tutorial if the need arises.

[2020-02-25 10:13] #7548 closed, assigned to nobody

[2020-02-25 10:21] Octachron commented on #8931
Rereading the discussion, I am removing the newcomer job due to the the uncertainty in term of design.

[2020-02-25 10:34] Octachron commented on #8945
Since the requested feature has been implemented and there is a subsequent issue for some possible improvement, I am closing this issue.

[2020-02-25 10:34] #8945 closed, assigned to nobody

[2020-02-25 10:52] Octachron commented on #7493
A warning would probably be a better option than a compiler flag in this case.

[2020-02-25 11:33] Octachron commented on #6189
I think it is better to leave out the `inst-var-name` case from the list of expressions only allowed in method definitions.

[2020-02-25 11:33] #6189 closed

[2020-02-25 15:52] damiendoligez commented on #8889
Note: if you update `pos_bol` you will also have to update `pos_cnum`.

[2020-02-25 19:17] ejgallego commented on #9326
Numbers from the 4.07.1 vs 4.10.0 build:

[code]

Note that this are better than just 4.07.1 to 4.08.1 ; there is also a big improvement in a few developments in 4.10 but not in 4.08.1 so IMO that's orthogonal to the regression at question here.

[2020-02-26 13:10] RalfJung commented on #9326
Are some entries missing from that table? lambdarust/iris should usually be in there.

[2020-02-26 13:20] gasche commented on #9326
There is this line in the 4.08.1 vs 4.07.1 results:

[code]

This suggests that 4.07.1 is 3.16% faster than 4.08.1 at checking coq-lambda-rust.

I have looked at the numbers in general and I think that they point out at a clear regression between 4.07.1 and 4.08.1 (with some independent improvements in further versions). There is not much that I could tell from these numbers, and I stopped looking

[2020-02-26 14:03] iawaknahc opened #9333 "The font of code snippet in 4.10.0 HTML manual is not monospace"
It seems that the [font family is incorrect](https://github.com/ocaml/ocaml/blob/3f63f9a80297e832dde6dbdf54b972299219ac8e/manual/manual/macros.hva#L112). The correct keyword should be `monospace` instead of `mono`.

[2020-02-26 14:35] Octachron commented on #9333
Indeed, I will fix that.

[2020-02-26 14:47] Octachron commented on #9297
Closed by #9311 .
If you think that the support needs to be backported, please don't hesitate to mention it.

[2020-02-26 14:47] #9297 closed, assigned to nobody

[2020-02-26 14:56] lpw25 commented on #9326
I would add to Gabriel's list:

- Some indication of how noisy these numbers are for other changes to coq. These numbers are within the bounds of what can be caused by comparing a lucky code layout with an unlucky one, and it would be good to know that other changes which affect the code layout don't produce similar changes in performance.

[2020-02-26 15:05] olafhering commented on #9297
Well, in case there will be a 4.09.1 it should be part of the changes to be backported to such bugfix release.

[2020-02-26 15:10] ppedrot commented on #9326
@lpw25 usually the noise range on our bench is around 1%.

[2020-02-26 21:13] tofgarion opened #9337 "Problem with pretty-printing of lists in toplevel when opening List module"
I am using OCaml 4.09.0 from OPAM and I have just noticed something peculiar using the toplevel.

When evaluating `1 :: 2 :: []`, the list is pretty-printed as usual:

[code]

If I open first the `List` module, then the printing is different:

[code]

The list is now typed with the type `t` used in the `List` module signature
and the list representation is different.

[Florian Angeletti](https://g

[2020-02-27 08:29] #9333 closed, assigned to nobody

[2020-02-27 09:05] dbuenzli opened #9338 "Dynlink.*_units () functions are inaccurate before the first load."
Currently the Dynlink state querying function [`Dynlink.*_units`](https://github.com/ocaml/ocaml/blob/1fd6dc077d63fc8e0b36e2a684dae55a0f3383d4/otherlibs/dynlink/dynlink_common.ml#L318-L3279) report invalid information before any load occurs. This is because they fail to call the internal [`init`](https://github.com/ocaml/ocaml/blob/1fd6dc077d63fc8e0b36e2a684dae55a0f3383d4/otherlibs/dynlink/dynlink

[2020-02-27 09:09] gasche commented on #9338
Thanks! If you provide a fix, please include the repro case in the testsuite (we already have various `testsuite/tests/lib-dynlink-*/` test directories, you can create a new one).

[2020-02-27 22:47] progman1 opened #9339 "missing 'output' variable in ocamltest"
in ocamltest/ocaml_compilers.ml there is this:
[code]
when I used the action [setup-ocamlopt.opt-build-env] an error ensued
with [compare-program-output] because the [output] variable was missing.
the above code appears to be the source.
I hesitate to call it a bug but cannot fathom why program output isn't handled
the same way as for the byte equivalent when the compiler backend happens to be nat

[2020-02-29 07:11] avsm commented on #9131
Looks to me like shared libraries need to be disabled in the compiler configuration, or else it'll fail to relocate on PIE distributions. It seems pointless to generate the .so files in this particular switch anyway.

[2020-02-29 19:31] smorimoto opened #9340 "4.09.0+spacetime fails to build under macOS"
#### Environmental information:

- OS: macOS Catalina 10.15.3
- opam: 2.0.6
- clang: 9.0.1
- gcc: 9.2.0
- make: 3.81
- ld: BUILD 18:57:17 Dec 13 2019

#### Console output

[code]

[2020-03-01 10:50] xavierleroy commented on #9299
All OCaml programs that use the Arg module to process command lines have the behavior you describe: options and anonymous arguments are processed in the order in which they occur on the command-line.  To me this makes sense, this is consistent, this is easy to understand, and putting options after anonymous arguments is just silly to begin with.  If the consensus is that it is not silly and must b

[2020-03-01 15:55] dbuenzli commented on #9299
I don't think it makes any sense.

Most command line interfaces are *not* context sensitive w.r.t. to positional and optional arguments and it's generally better they are so for usability reasons. For example putting optional arguments after positional ones perfectly makes sense in interactive scenarios where you simply add options to refine previous invocations.

I don't think this has anything t

[2020-03-01 21:02] smorimoto commented on #9340
Probably because of binutils installed via brew.

[2020-03-01 21:02] #9340 closed, assigned to nobody

[2020-03-02 09:42] shindere commented on #9131
Anil Madhavapeddy (2020/02/28 23:11 -0800):

Yeah, agreed!

[2020-03-02 10:50] XVilka commented on #9131
I just checked with 4.10 switch (same Dockerfile as in https://github.com/ocaml/ocaml/issues/9131#issuecomment-564508959 just with updated switch):
[code]

Dockerfile:
[code]

[2020-03-02 15:48] c-cube opened #9342 "deprecate Hashtbl.add and use Hashtbl.add_and_shadow instead"
https://github.com/ocaml/ocaml-lsp/pull/111 is the last straw on the OCaml's back, I think. The behavior `Hashtbl.add` is confusing to 100% of newcomers and a footgun, and while I think it's a useful feature, it should not be _the default_ imho.
(I can make a PR)

[2020-03-02 15:59] jberdine commented on #9342
FWIW, in the past I ran across so many bugs due to this that I added two type-incompatible modules, `HashMap` and `HashMultiMap`, both as thin wrappers of `Hashtbl`, and shadowed `Hashtbl` to make sure that no one could use it directly.

[2020-03-03 10:41] copy commented on #9131
@XVilka There's no musl-gcc binary on Alpine, that's why compilation fails. You can use a regular switch to create static executables on Alpine, since musl is the default cc.

[2020-03-04 10:32] ghost opened #9344 "Program built with `--output-complete-exe` cannot read debug infos"
When a byte code program needs the debug info, for instance to print a backtrace, the runtime tries to open `Sys.executable_name` as a byte code program to read the debug info. That doesn't work when the program is built with `--output-complete-exe`.

For instance:

[code]

[2020-03-04 10:40] nojb commented on #9344
For reference, the relevant logic is in https://github.com/ocaml/ocaml/blob/1fd6dc077d63fc8e0b36e2a684dae55a0f3383d4/runtime/backtrace_byt.c#L359-L363

[2020-03-04 12:12] ghost commented on #9344
Indeed. So I haven't yet dug deep into this, but I'm thinking of:

- having a variable pointing to a function that read the debug info
- the default implementation would open the executable as it does now
- when generating the C code for `--output-complete-exe`, we would set this variable to a function that reads directly from the static data containing the debug info

[2020-03-04 13:08] gasche commented on #9344
Thanks for the catch! It's a shame that we didn't notice this discrepancy before; we should try to get testsuite coverageT for this (even if recording the wrong behavior to not break the testsuite, with a note saying that it is wrong). Are there other aspects of bytecode programs that we are missing with `--output-complete-exe`?

[2020-03-04 14:21] glondu commented on #9344
We've faced this issue in Debian, with 4.08.1 patched to make `-custom` basically work like `--output-complete-exe` now (the error was triggered when building ppxlib, too). The surrounding code in the OCaml runtime seemed to behave correctly, so I decided to comment out the call to `caml_fatal_error`:

https://salsa.debian.org/ocaml-team/ocaml/-/blob/debian/sid/debian/patches/0006-read_main_debug_

[2020-03-04 14:29] ghost commented on #9344
No problem, it's actually @RiderALT and @jamesjer who reported the error to ppxlib and did the debugging work. I just narrowed the reproduction case and grepped the compiler for the error message :)

Adding a reproduction case seems good. It seems simple enough to fix, so I'm going to take a shot at fixing it directly.

@glondu not subtle indeed :) I guess the difference must be that you don't get

[2020-03-04 16:18] ghost commented on #9344
So I started hacking around and it seems that with `--output-complete-exe`, we currently don't save the debug info at all:

[code]

and `x` and `xg` are the same.

[2020-03-04 16:52] dra27 commented on #9344
Cross-referencing #2195

[2020-03-06 05:18] XVilka opened #9350 "4.11.0+trunk+flambda fails to build with `CC=musl-gcc` and parallel builds"
Seems to work though with `--jobs=1`
[code]

The Dockerfile I used:
[code]

[2020-03-06 06:01] gasche commented on #9350
I pushed an update to the `.depend` file, could you try again?

[2020-03-06 06:10] XVilka commented on #9350
Thanks for the quick fix! 👍
Fixed in https://github.com/ocaml/ocaml/commit/e8d9ec52e22ceef45fd28d52032d14f776c451bb

[2020-03-06 06:10] #9350 closed, assigned to nobody

[2020-03-06 08:31] sanette opened #9351 "manual: change fibonacci example?"
At the end of file `coreexamples.html` there is an example with the Fibonacci sequence.
_I know this is just an illustration_, and there is no claim that this function is correct, but it can be found by googleing, and it shows exactly what I'm trying to teach my students not to do... ;)

* (minor) the convention is not the same as Wikipedia, where  F_0=0, F_5=5...
* (quite bad IMO) the double recu

[2020-03-06 08:53] Octachron commented on #9351
A pull request to change this standalone example would be welcome.

Nevertheless, I am not that convinced by the complexity argument since a normal algorithm should require only `ln_2 n` calls to compute the `n`-th element of the Fibonacci sequence.

So it is probably better to switch to another example altogether.

[2020-03-06 09:38] sanette commented on #9351
Right, of course a "good" algorithm takes O(log(n)) (since you just have to compute powers of a 2x2 matrix). By "normal" I meant "what a first naive approach should do when trying to mimick what you do when you compute fib(10) by hand".

Another solution would be to add a comment saying "Of course, don't do this if you really want to compute Fibonacci numbers".

[2020-03-06 17:20] muskangarg21 commented on #6969
May I take this as my first contribution, I am an outreachy applicant and have gone through the `CONTRIBUTION.md` file.
@Octachron could you please guide me from where I should begin exploring the codebase for this issue.

[2020-03-06 17:28] Octachron commented on #6969
I think it is a good idea as a first contribution. The logic for ocamldep's argument is defined in `driver/makedepend.ml`. Then it is a matter of finding when `.` is added to `load_path`.

[2020-03-06 17:47] MisterDA opened #9352 "Failure to compile OCaml 4.10 on MSYS2+GCC"
Hi!
I’m trying to compile OCaml 4.10 in MSYS2. To be clear, I’m running the MSYS2 shell, and installed the `msys2-devel` package. When I’m running in the mingw64 shell of MSYS2 with the `mingw-w64-x86_64-toolchainI` package, OCaml compiles fine.

I’m using [this script](https://github.com/MisterDA/ocaml-platform/blob/133264d28a4faab86a78bc9126787a27c5185c5c/windows/build2.sh).

I’m getting this co

[2020-03-06 22:13] dra27 commented on #9352
You're building with `gcc` not `x86_64-w64-mingw32-gcc` - you need to install the `mingw-w64-x86_64-gcc` package

[2020-03-07 13:45] MisterDA commented on #9352
You're right, thanks.
I just wasn't sure if OCaml was or wasn't supposed to compile with this GCC.

[2020-03-07 13:45] #9352 closed, assigned to nobody

[2020-03-07 14:55] dra27 commented on #9352
It will compile with gcc, but that will give you the “Cygwin” port. However, specifying the build and host as you did means configure expects `gcc` to be a cross-compiler (hence the warning early on).

[2020-03-07 17:28] muskangarg21 commented on #6969
@Octachron,

At Line 116 in ` driver/makedepend.ml`
`          if dir = "." then truename else Filename.concat dir truename
`
seems to be the reason of this issue as this loads '.' in `load_path` making the ocamldep search in current directory, I also looked at the issue #83 mentioned in the top post.

P.s. - I am done with setting up of Ocaml on my system and started looking at the codebase in de

[2020-03-07 18:09] gasche commented on #6969
This was a reasonable guess, but I think that it is not the right candidate; what this line does it to compute a path of the form `dirname/filename`, except in the case where dir is the current directory, in which case it uses just `filename` instead of `./filename`.

[2020-03-08 10:24] Kirti2502 commented on #9295
Hi, I am an outreachy applicant. Can i work on this issue?

[2020-03-08 10:26] Kirti2502 commented on #8889
Hi, I am an outreachy applicant. Can i work on this issue?

[2020-03-08 10:27] gasche commented on #9295
Hi @Kirti2502, and thanks for being willing to contribute! This issue may not be your best choice, because Jeffa5 already proposed a pull request #9341, which is in the process of being reviewed and discussed.

[2020-03-08 10:34] gasche commented on #8889
You are welcome, thanks for contributing!

The fields `pos_bol`, `pos_cnum` that are being discussed are declared and documented in `stdlib/lexing.mli`. The place where they should be modified is somewhere in `parsing/lexer.mll` where line directives are handled; I think this is the `directive` rule of the lexer.

It may be helpful to start by producing a small reproduction case that shows the bad

[2020-03-08 10:38] Kirti2502 commented on #9295
Okay, I'll take some other issue. Thanks.

[2020-03-08 13:45] muskangarg21 commented on #6969
hi @gasche,

can we add a check in this line which when finds the current directory to be the root directory then it will not add that path to the `load path`. not sure though

[2020-03-08 13:50] muskangarg21 commented on #6969
Whenever we are calling the `add_to_load_path` function we are adding the directory without any checks to whether it is root directory or not, maybe we could add the check here. Again not sure,
please help.
Thanks
<pre>
let add_to_load_path dir =
  try
    let dir = Misc.expand_directory Config.standard_library dir in
    let contents = readdir dir in
    add_to_list load_path (dir, contents)
  wi

[2020-03-08 14:08] gasche commented on #6969
Your proposal is to have `add_to_load_path` do an extra check that would *not* add the current directory to the load path, even if some other place calls `add_to_load_path` on the current directory (the current behavior, according to this issue). A nicer fix would be to *not* call `add_to_load_path` on the current directory at all; this is nicer because it results in simpler code (no call, no extr

[2020-03-09 04:47] XVilka opened #9354 "Rust-like or-patterns support syntax improvement feature request"
They introduced ["or-patterns"](https://github.com/rust-lang/rust/issues/54883) recently, which allows to avoid some code duplication.
In OCaml that would look something like:
[code]
becomes
[code]
Or something like that.

[2020-03-09 06:35] gasche commented on #9354
In the [Rust RFC](https://github.com/rust-lang/rfcs/blob/master/text/2535-or-patterns.md), I only see pretty standard or-patterns `p | q`, possibly nested. They do not contain right-hand-sides, unlike your example above where you write `Some(p -> e1 | q -> e2)`. I don't see any sign of Rust supporting this. (I proposed this syntax [on Discuss](https://discuss.ocaml.org/t/musings-on-extended-patter

[2020-03-09 06:42] XVilka commented on #9354
They had this example in their recent blogpost: https://blog.rust-lang.org/inside-rust/2020/03/04/recent-future-pattern-matching-improvements.html

[2020-03-09 06:55] gasche commented on #9354
I do not see such an example in this blog post, which code fragment are you referring to?

[2020-03-09 07:10] XVilka commented on #9354
[code]

[2020-03-09 07:16] gasche commented on #9354
I believe that you are reading the example wrong. There are no right-hand-sides within the `Some( p | q | ... )` pattern.

[2020-03-09 07:16] #9354 closed, assigned to nobody

[2020-03-09 07:33] Centril commented on #9354
Indeed, @gasche is right that the RFC/issue/blog-post is about standard or-patterns. Rust is just catching up to OCaml. ;)

[2020-03-09 09:48] sixcy opened #9355 "Assertion failed in ocamldebug when printing an array of sets of integers"
Hello, I found a bug in `ocamldebug` - here are the steps to reproduce it

Write the following code in a `test.ml` file:
[code]

Then run the following commands :
[code]

Inside `ocamldebug` :
[code]

This results in :
[code]

Which exits `ocamldebug`

This happens with OCaml version 4.09.0. I couldn't find any mention of such a bug in the issue history, apologies if it's already been reported.

E

[2020-03-09 12:50] stedolan commented on #9355
Thanks for the report!

I can reproduce this, and with slight tweaks to ocamldebug get the following backtrace:
[code]

It looks like the debugger uses the toplevel's type-based printing logic, which (eventually) calls `Env.find_type`, which uses `Env.check_well_formed_module` which depends on `Typemod` since #1676. However, it seems here that `Typemod` has not been initialised.

The fix might be

[2020-03-09 12:55] Octachron commented on #9355
Indeed, the problem is that `Env` is part of a dependency cycle with `Typemod`, and the debugger's Makefile was ignoring this dependency. Linking all dependencies of `ENv`, (in particular `Typemod` and `Includemod` ) should fix the issue.

[2020-03-09 13:37] muskangarg21 commented on #6969
@gasche
<pre>
Line 577: add_to_list first_include_dirs Filename.current_dir_name;
</pre>
This seems to be the line where we add  `.` to `first_include_dirs` then in Line 409-413
<pre>
  List.iter add_to_load_path (
      (!Compenv.last_include_dirs @
       !Clflags.include_dirs @
       !Compenv.first_include_dirs
      ));
</pre>
we add `.` to the load_path, could you please guide me if I am und

[2020-03-09 14:03] Octachron commented on #6969
You are right, the current directory is added at this line. So the next step is to not add the current directory conditionally if a flag is set. Once this is done, you would need to add a new argument to the list of arguments (which is also in driver/makedepend.ml).

[2020-03-09 15:38] xavierleroy commented on #9326
I was able to reproduce the slowdown by running Coq on CompCert files.  It looks like the major GC is working harder in 4.08.1 than in 4.07.1, in the context of Coq at least.  @damiendoligez is looking into it.

[2020-03-10 02:03] ejgallego commented on #7842
We've hit this bug again, and this time looks more serious. The following "innocuous" commit makes the compilation of Coq to require 4x the stack size:

"[parsing] Make grammar rules private."
https://github.com/coq/coq/pull/11647/commits/4750e5e567c93227b0825d78081d2578c40133ed
from https://github.com/coq/coq/pull/11647

What used to work with 2k stack, now it needs close to 16k :( Note that the

[2020-03-10 09:24] ghost commented on #9344
Ok, so since programs built with `--output-complete-exe` don't embed the debug  info, I'm planning to do a quick fix along the lines of what @glondu did. Then I'll backport it to 4.10.0. And then we can look at the better long term solution, which is to effectively embed the debug info for such executables.

[2020-03-10 10:22] nojb commented on #9344
Thanks for looking at this @diml!

For the long term solution, note that there is already some logic to pass the debug info via a side file for bytecode executables: one can set the `CAML_DEBUG_FILE` environment variable to point to a `.cds` file that contains the marshalled debug info, and it will be used when unwinding stack traces:

https://github.com/ocaml/ocaml/blob/22b1df80c4b326ca1cde199e56

[2020-03-10 12:06] ghost commented on #9344
Ah, thanks for the pointer @nojb, I wasn't aware of cds files!

[2020-03-10 18:33] kit-ty-kate opened #9360 "GC reclaims bigarrays packed into a custom structure regardless of their refcounts"
The following test case in `cairo2` now segfaults in OCaml 4.10.0 but worked perfectly fine until then in OCaml 4.09.0 and before: https://github.com/Chris00/ocaml-cairo/blob/master/tests/image_create.ml

From a couple of guesses, what I think is happening is that the GC discards the bigarray regardless of its `refcount` (it should be at least 1) but it is used inside `Cairo.show_text` via the sur

[2020-03-10 19:09] SkySkimmer commented on #7842
Do any specific file(s) need the extra stack?

[2020-03-10 20:01] ejgallego commented on #7842
The stack overflow is in `g_vernac.ml` , which is not touched by that commit, only its API.

Likely the inlining profile changes [indeed it is a good thing flambda is going deep on that file]

[2020-03-11 03:41] v-gb commented on #9360
I don't know what cairo does, but I think your small example is code that merely happens to not segfault on 4.09. I added this and got a segfault:

[code]

I didn't investigate further than add the line above and see the segfault, but IIUC, this cpack function is bad because it creates a custom value that holds a pointer to the middle of an ocaml block (b is v + 8 I think). If the gc moves or free

[2020-03-11 08:44] #9355 closed, assigned to nobody

[2020-03-12 19:35] muskangarg21 commented on #6955
@Octachron @gasche
May I work on this next ?

[2020-03-12 19:56] Octachron commented on #6955
You certainly can, I would advise you to select a small thematic subset, for instance the flambda global optimisation`-O*` flags. Or everything except the flambda-specific flags. And then it would be fine to submit one PR by subset.

[2020-03-12 20:51] muskangarg21 commented on #7110
@Octachron there seems to be a ikbprintf function in `printf.mli` `printf.ml` `format.mli` `format.ml`.
could you please explain what more need to be done.
Thanks

[2020-03-12 21:20] Octachron commented on #7110
There is no `Printf.ikbprintf`? Currently, we have a  group of three functions

|                          | Print on a buffer | Print on a output channel  |
----------------------|------------------------|----------------------|
| Really print       |     kbprintf            | kfprintf
| Pretend to print |     ❌                    |   ikfprintf

And we are missing  a `ikbprintf`, which would pret

[2020-03-13 11:28] muskangarg21 commented on #7110
Oh I misread it, Thanks for the visualisation, I ll add it in a few hours.

[2020-03-13 14:36] sanette commented on #9109
I now have the same issue with `<sub>` inside `<pre>`, although I'm not sure they are forbidden, but the `<sub>` is kicked out of the `<pre>` when preprocessed by the ocaml.org machine.

[2020-03-13 14:52] Octachron commented on #9109
Sub is a [phrasing content](https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/Content_categories#Phrasing_content) and is allowed inside `pre`?

[2020-03-13 14:57] sanette commented on #9109
yes, it seems it should be allowed. Does it mean the problem is in Nethtml?

[2020-03-13 15:03] sanette commented on #9109
[code]

[2020-03-13 15:31] Octachron commented on #9109
It looks like `sub` is explicitly excluded from `pre` in netstring, and I don't know why, it is probably worth it to open an issue on the ocamlnet side .

[2020-03-13 16:02] sanette commented on #9109
if someone with a gitlab account could do it I'd be grateful

[2020-03-13 20:48] muskangarg21 commented on #7110
@Octachron
On making changes in stdlib/printf.ml and printf.mli, then running `make` I am encountering an error:
<pre>
Error: Files utils/build_path_prefix_map.cmo and utils/config.cmo
    make inconsistent assumptions over interface Stdlib__printf
</pre>

[2020-03-13 20:56] Octachron commented on #7110
You can normally get rid of those error with `make clean`

[2020-03-13 21:23] muskangarg21 commented on #6955
@Octachron
I am working with `ocamlc.m` and `main_args.ml` for now, so basically if there is an entry in `main_args.ml` we want that in `ocamlc.m` with that same description string, I am correct ?

[2020-03-13 21:23] muskangarg21 commented on #6955
@Octachron
I am working with `ocamlc.m` and `main_args.ml` for now, so basically if there is an entry in `main_args.ml` we want that in `ocamlc.m` with that same description string, I am correct ?

[2020-03-13 21:23] muskangarg21 commented on #6955
@Octachron
I am working with `ocamlc.m` and `main_args.ml` for now, so basically if there is an entry in `main_args.ml` we want that in `ocamlc.m` with that same description string, am I correct ?

[2020-03-13 21:32] Octachron commented on #6955
Only if the argument is used by ocamlc, in otherwords if it appears in `Main_args.Make_bytecomp_option(_).list`. Note that the man page documentation can be more exhaustive than the `-help` text. However, as at first step, it is simpler to keep the new man entries synchronized with the `main_args` description..

[2020-03-13 22:00] muskangarg21 commented on #6955
So the options that are seen by running `ocamlc --help` should be added to the `ocamlc.m` if not already present. e.g. -

[2020-03-13 22:03] muskangarg21 commented on #6955
So the options that are seen by running ocamlc --help should be added to the ocamlc.m if not already present. e.g. -
the option `-alert` is in the --help but not in manpage. so I should add the description to `ocaml.c` by using this:
<pre>
let mk_alert f =
  "-alert", Arg.String f,
  Printf.sprintf
    "<list>  Enable or disable alerts according to <list>:\n\
    \        +<alertname>  enable aler

[2020-03-15 20:47] muskangarg21 commented on #7927
@Octachron
Working on it.
Thanks

[2020-03-16 13:26] shubhi2000 commented on #8697
Hey! I am an Outreachy applicant. Should I work on this issue as my first contribution? @lthls @Octachron

[2020-03-16 13:59] gasche commented on #8697
I think that whether this is a good first issue or not depends on how familiar you are with the OCaml compiler, or language implementations in general. If you have no experience with language runtimes, it could be difficult to come up with the missing documentation for these items (my best idea for how to proceed is to read the source code, and figure out from there what they are doing).

If you (

[2020-03-16 14:19] shubhi2000 commented on #8697
@gasche Thank you for your insight.
I am new to OCaml. I am currently working on exploring the language.
I would like to give it a try so that I could learn about language runtimes in the process.

[2020-03-16 14:25] shubhi2000 commented on #8697
@gasche Can you please also suggest the directory in which I can find the associated source code?

[2020-03-16 14:33] gasche commented on #8697
That's a good question, thanks. To answer this sort of questions I usually `git grep`, as a way to look for a word (or pattern) in the whole codebase of a git repository. `git grep OCAMLRUNPARAM` returns the set of line talking about OCAMLRUNPARAM, and one can use, say, `-C 4` to get a bit of context around each occurrence, to get a chance of understanding the usage (this shows 4 lines before and

[2020-03-16 14:44] shubhi2000 commented on #8697
Thank you so much, @gasche ! This is so helpful.

[2020-03-16 21:27] avsm commented on #9131
I tracked this down. Turns out that the version of musl in Ubuntu 18.04 (1.1.19) has a bug with static linking, so I backported musl 1.1.24 to Bionic and created a PPA with it.

Doing:

[code]

Now works on ubuntu 18.04 with musl 1.1.24, and Ubuntu 19.10 works out of the box as it includes musl.1.1.24 already. I'll close this issue as it appears to be a musl issue and nothing to do with OCaml. Ple

[2020-03-16 21:27] #9131 closed, assigned to nobody

[2020-03-16 22:19] muskangarg21 commented on #7927
@Octachron @gasche
Just to get me started and have a better idea,
- Let say I want to refactor `val_env` `met_env` `par_env` somehow, as they are present together a lot of times in the code what approach should I follow ?
- Another tuple is `fields, val_sig, concr_meths, inher` only seen twice in code so should I consider refactoring it ?
- Should I try to increase the use of `with` as mentioned i

[2020-03-17 09:44] Octachron commented on #7927
Generally, if a tuple is reused a lot of time, it may make sense to create a record for all elements of the tuple. For instance, here
[code]
Then the utility of the refactoring would depend on how well the record fits in the existing context. In particular, if it often needed to deconstruct and reconstruct the record often or not.
Using `with` is not an aim by itself, it is more an operation that

[2020-03-17 11:38] #9344 closed, assigned to nobody

[2020-03-17 11:43] ghost opened #9369 "Program built with `-output-complete-exe` do not embed debug info"
Following #9340

Programs built with `-output-complete-exe` do not embed debug info, as opposed to program built without or with `-custom`. We should change the compiler so that it embed debug info in such programs so that they can print backtraces.

The idea is to put the debug info in a global variable when generating the entry point of such programs and access this variable in `read_main_debug_

[2020-03-17 20:27] nojb commented on #9369
xref #4703

[2020-03-18 03:36] sonologico opened #9370 "String indexing ( .[] ) breaks when module String refers to another module"
The following example code gives me `Error: Unbound value String.get`

[code]

I would expect the behavior to be analogous to this other made up example that compiles without errors:

[code]

I understand the underlying reason that string indexing predates the custom indexing operators and that their implementation differs.

This is, of course, known, but is it considered an issue or is it intende

[2020-03-18 07:00] dra27 commented on #9370
I think this is the same thing as in https://github.com/ocaml/ocaml/pull/69#issuecomment-45970090

[2020-03-18 11:16] stedolan opened #9372 "More bytecode debug info bugs in primitives"
Despite #9225 and #9231, it's still possible to get "Raised by primitive operation at unknown location" from `ocamlc`. Here's an example:
[code]
When run with ocamlopt, we get good backtraces:
[code]
But they're worse with bytecode:
[code]
I think this is to do with the eta-expansion of primitives. Array.get is exposed as an `external`, but `Float.Array.get` is exposed as a `val` and therefore eta

[2020-03-18 12:15] Anukriti12 commented on #8889
I am trying to figure out this issue, I am an Outreachy applicant aswell.
As Armael suggested I can see in lexer.mll file inside directive 'update_loc' is called which updates pos_bol at line 59.

Maybe we can use this for testing
[code]

[2020-03-18 16:00] damiendoligez commented on #6784
Given the lack of enthusiasm, I'm closing this feature wish.

[2020-03-18 16:00] #6784 closed

[2020-03-18 21:32] muskangarg21 commented on #7927
@Octachron
I tried to reduce the tuple `(val_env, met_env, par_env)` to the record `class_env`.
For now I have only refactored the code upto line 824 and it needs a lot of work,
I am opening this PR to get your views on this approach and to ask whether the work looks promising or not.
Thanks

[2020-03-19 02:29] yawaramin commented on #5764
Can we consider this solved in OCaml 4.08 with the `open struct let foo = 0 end` construct?

[2020-03-19 03:09] bobzhang commented on #5764
Yes, feel free to close this issue

[2020-03-19 08:31] #5764 closed

[2020-03-19 13:36] fdopen opened #9375 "anonymous module doesn't compile"
test.ml:
[code]

[code]

[code]

No error with ocamlc, same error with 4.11.0+trunk.

[2020-03-19 14:09] trefis commented on #9375
That one's probably my mistake.

The generated lambda code (with ocamlopt) looks like this:
[code]
Whereas it looks like this when the module is named:
[code]

A substitution is missing / not applied properly.
I'll look into it.

[2020-03-19 16:49] tmibvishal opened #9377 "Set Module in Ocaml: expected type VariableSet.elt = VariableOrder.t error"
**Platform:** MAC OS X
**OS Version:** 10.15.3
**Category:** typing

If I have the following code
[code]
I get perfect output
[code]

But if I try doing it in this manner
[code]
I get this error but IntOrder.t is int itself
[code]

[2020-03-19 16:54] Octachron commented on #9377
This is the expected behavior, signature constraints in OCaml hide information.
By writing
[code]
you have hidden the equality `IntOrder.t`=`int` and made the type `IntOrder.t` abstract.

If you have more question about Ocaml module system, I will happy to answer you at https://discuss.ocaml.org .

[2020-03-19 16:54] #9377 closed, assigned to nobody

[2020-03-19 21:43] redianthus opened #9381 "ephemeron's doc is broken"
Hi,

The doc for [Ephemeron.GenHashTable.MakeSeeded](https://caml.inria.fr/pub/docs/manual-ocaml-4.10/libref/Ephemeron.GenHashTable.MakeSeeded.html) seems to be broken. If you grep for `(** same as` you should see the broken part. Here's [the corresponding .mli](https://github.com/ocaml/ocaml/blob/trunk/stdlib/ephemeron.mli#L335). I'm not sure what's going on, but at least it's reported now.

Chee

[2020-03-20 00:23] isaacv-pl commented on #7550
Hi, I'm an Outreachy applicant. Could this be my first contribution?

[2020-03-20 08:07] jajajasalu2 opened #9382 "request: ocamldebug: toggle to previous commands with arrow keys?"
Hi,

Can it be possible to introduce a feature to toggle to previously entered commands in ocamldebug?

I'm using version 4.07.0, and when I'm debugging for long periods, having to type in repeated commands is a bit stressful. Debuggers like the python debugger and gdb have the capability to toggle to previous commands with the arrow keys.

I could not find any pull requests or issues for this, so

[2020-03-20 08:14] gasche commented on #7550
Hi @nobrowser: yes it could, but I think that writing documentation on this point requires a good familiarity with the OCaml type system (it's a newcomer job because it does not require familiarity with the compiler implementation). If you are not familiar with GADTs or the behavior of the example given above, I would maybe recommend picking an easier task.

[2020-03-20 08:20] nojb commented on #9382
None of the OCaml REPL-prompts (toplevel, debugger, ...) support readline functionality. This is due I think to the lack of a good cross-platform solution.

However, you can obtain more or less the same effect by using the `rlwrap` utility, which makes readline available to an arbitrary command-line program, as follows:
[code]

[2020-03-20 08:31] ghost commented on #7550
Hmm.  Has someone uttered my name?  That is not an action one should take lightly!  AAAARRRRGGHHHHH!

[2020-03-20 08:52] gasche commented on #7550
Indeed, I meant @notemaster; sorry @nobrowser :-)

[2020-03-20 09:22] Octachron commented on #9381
Ocamldoc doesn't really know how to handle explicit signatures in functor arguments. In this case, it decided to use the whole code as a description here. An indirect fix would be to give the module type of the argument a name. This is a non-documentation fix to a documentation issue, but this is in line with the good practice of naming large signature.

[2020-03-20 12:56] jajajasalu2 commented on #9382
Thank you! `rlwrap` is quite helpful and does the job.

[2020-03-20 13:00] #9382 closed, assigned to nobody

[2020-03-20 15:56] isaacv-pl commented on #7550
Okay, I did spend a bit of time familiarizing myself with certain examples of GADT's and I have some background in Type theory but I'm not super solid on everything thats going here. I'll look at another job then but keep this one on the backburner. Thanks @gasche!

[2020-03-20 16:39] Octachron commented on #7550
I have moved the issue to the advanced section of `newcomer-jobs` because it is the true that it requires a very specific skill set for a newcomer.

[2020-03-20 16:41] Octachron commented on #6969
Fixed by #9357 .

[2020-03-20 16:41] #6969 closed, assigned to nobody

[2020-03-20 17:32] Octachron commented on #6839
There are no more mkoption or `Lident "*predef*"` in the parser .

[2020-03-20 17:32] #6839 closed

[2020-03-20 17:56] isaacv-pl commented on #5232
Hi, I think I'm gonna work on this for my first contribution. Where in the toplevel folder would I find what I need to edit to support this option? Also an example of some usage behavior would be nice to clarify what I would need to do. Thanks! Sorry for all the questions.

[2020-03-21 04:59] ncik-roberts opened #9384 "Structure fails to ascribe to signature with signature-local binding"
Version: 4.09.0

A structure fails to ascribe to a signature that gives the type of a val binding in terms of a signature-local type binding. The same structure (plus the definition of the previously signature-local type binding) successfully ascribes to a similar signature which doesn't have any signature-local type bindings.

This behavior seems to only happen when the signature-local type bindi

[2020-03-21 10:36] lpw25 commented on #9384
This comes from the fact that destructive substitutions are not able to handle constrained types in general. Indeed, if you try to implement this code using traditional destructive substitutions you get an error:
[code]
See #792 for a discussion of why this restriction exists (basically it would be quite a lot of work to support it properly).

The new local bindings should require the same restric

[2020-03-21 10:47] lpw25 commented on #9384
Here's an example that crashes the compiler:
[code]
Still working on making it a soundness bug.

[2020-03-21 10:56] lpw25 commented on #9384
Actually, my initial analysis is wrong. Whilst the lack of the constrained types restriction is a bug this issue can be triggered without using constrained types:

[code]

[2020-03-21 15:30] lpw25 commented on #9384
It turns out these were two separate bugs within the same part of the type-checker. #9385 should fix them both.

However, it is still the case that this example should be prevented as we cannot handle local constrained types in general. I'm going to make a PR to add that restriction.

[2020-03-22 08:08] Anukriti12 commented on #7493
Hi, I am an outreachy applicant. Can i work on this issue?

[2020-03-22 08:10] Anukriti12 commented on #8697
Hi, I am an outreachy applicant. Can i work on this issue?

[2020-03-22 08:13] Anukriti12 commented on #8659
Hi, I am an outreachy applicant. Can i work on this issue?

[2020-03-22 08:13] Anukriti12 commented on #7141
Hi, I am an outreachy applicant. Can i work on this issue?

[2020-03-22 08:25] shindere commented on #8659
Givin it a second thought: wouldn't it be more straightforward to copy
files systematically rather than creating symlinks on Unix? It feels to
me this would solve the described problems, wouldn't it?

[2020-03-22 08:49] dra27 commented on #8659
Given the sheer number of files in a testsuite run, I would expect that it's noticeably slower to copy (longer term, I'd hope to go the other way and have Windows do symlinking, given that most developers will be at Windows boxes which support it).

Switching between `cp` and `ln` also doesn't solve the problem for tests with more complicated set-ups like `tests/regression/missing_set_of_closures/

[2020-03-22 09:20] gasche commented on #7141
@Anukriti12 yes please feel free to work on this issue.

You can use `git grep` to locate the place in the codebase that raises the "Error during linking" message, and figure out where in that module the related error arises.

Then it's probably a good idea to propose an approach to fix the issue in this thread, and try building a PR from that.

[2020-03-22 09:21] gasche commented on #8697
We haven't had news from @shubhi2000 who was also interested in working on this issue. It may be ok for @Anukriti12 to work on it, but maybe @shubhi2000 has feedback/questions that we could help with? (@Anukriti12 was also interested in #7141.)

[2020-03-22 09:24] gasche commented on #8659
@Anukriti12 Given the uncertainty / non-consensus on how to solve the problem described in this thread, I would avoid it for now.

Others: personally I agree with the idea of having an easy way to specify files to import in the test directory. I also think that files imported there should be non-writeable by default, unless explicitly designed to be written to. I am not sure what's the best way to

[2020-03-22 13:29] Anukriti12 commented on #7141
I found inside `optmain.ml` file there are two condition in while linking is handled `else if !shared then begin` which calls `Asmlink.link_shared` which is the one responsible here other condition `else if not !stop_early && !objfiles <> [] then begin` calls `Asmlink.link`.

As Vicuna suggested to special-case 127 since return value of Sys.command when it fails to execute the shell one possible s

[2020-03-22 13:51] gasche commented on #7141
I think that you correctly found the places in the "main" logic that result in the linker being called. (The flags that are checked in these conditions are set from the command-line options.) Note that the error-processing logic is not to be found in `optmain`, but in the function `report_error` of `asmcomp/asmlink.ml`; I think that it is probably in this file that some code should be edited to pa

[2020-03-24 06:02] XVilka opened #9390 "Do not force `CC=musl-gcc` for musl builds on Alpine"
Alpine Linux doesn't have the `musl-gcc` wrapper script, see the error:
[code]
with this Dockerfile:
[code]

It says `musl-gcc` not found:

![image](https://user-images.githubusercontent.com/203261/77393415-f4c26c00-6dd7-11ea-974c-c3f10fdd0f86.png)

But it works fine if I add a symlink: `ln -s /usr/bin/gcc /usr/bin/musl-gcc`

Initially asked at https://discuss.ocaml.org/t/how-to-compile-ocaml-bina

[2020-03-24 06:28] XVilka commented on #9390
I did a `git grep musl-gcc` and found there is no mention, so it might be purely opam-repository bug with ocaml-valriants, feel free to transfer the issue to https://github.com/ocaml/opam-repository

[2020-03-24 06:40] XVilka commented on #7562
Shouldn't be this one closed if not reproducible with the padding fix?

[2020-03-24 07:15] gasche commented on #9390
Indeed, this is not an upstream-compiler issue, so I am closing this.

(I think it's not clear what you are trying to fix; maybe Alpine users should first install musl-gcc? It seems to be a clear (but maybe undocumented) requirement of the +musl switches that gcc users should use musl-gcc.)

[2020-03-24 07:15] #9390 closed, assigned to nobody

[2020-03-24 07:22] gasche commented on #7562
@XVilka can you confirm that the issue is gone with the padding fix? (The fix should be in 4.09.1 and 4.10.0, but not 4.09.0)

[2020-03-24 08:54] XVilka commented on #7562
@gasche you are right, issue still reproducible with 4.09.1 and 4.10.0
While 4.09.1 built fine but segfaulted on running `ocamlc`, 4.10.0 didn't even finished build on :
[code]

![image](https://user-images.githubusercontent.com/203261/77406893-4bd43b00-6df0-11ea-855f-fc40ffafbe95.png)

[2020-03-24 09:12] lpw25 commented on #7746
Based on @ejgallego's report I'll close this as fixed.

[2020-03-24 09:12] #7746 closed, assigned to nobody

[2020-03-24 12:16] stedolan opened #9391 "Ephemeron segfault with missing write barrier"
Ephemerons don't use the normal write barrier, and because they're marked incrementally this can lead to the lost object problem, where an object becomes reachable only from an ephemeron that's already marked and never ends up getting marked.

It's difficult to trigger because it relies on the timing of incremental GC, but here's an example that hits the bug on trunk.

[code]

I'm not sure what th

[2020-03-24 19:00] shubhi2000 commented on #8697
I am very sorry for not being able to update! I am facing some serious internet connectivity issues in my area. I'll try to get back soon.
Surely, @Anukriti12 can work on this if she wants.

[2020-03-25 08:03] Anukriti12 commented on #7493
Hi, I am an outreachy applicant. I'd like to work on this issue.

[2020-03-25 15:44] Anukriti12 commented on #8697
This is the document I prepared as far as my understanding so far. Let me know about accommodating changes.

-H: Allocates heap chunks by mmapping huge pages. Huge pages are locked into memory, and are not swapped.
-M: Print the magic number expected by this version of the runtime and exit.
-n: Intialize custom maximum size of custom objects counted as garbage in the minor heap.
-m: Print the magi

[2020-03-25 21:04] gasche commented on #8697
@Anukriti12 this looks fairly good, thanks!

For `-M`, you should clarify that we are talking about the magic number of bytecode executables (there are other kinds of magic number in the runtime). Maybe just saying `expected for bytecode executable` would work.

For `-n`, I don't understand the explanation. (We could look more into what it does to clarify this, but you could also drop this one fla

[2020-03-26 13:28] #7110 closed, assigned to nobody

[2020-03-27 08:08] rossberg opened #9400 "Limitations of `with module` wrt module aliasing"
Trying to write some functor code I ran into `with module` not having the expected effect on module aliasing. Minimised example:
[code]
The `let` won't type-check. Effectively, the `with module` has no effect here. That can be seen in the REPL:
[code]
whereas upfront manifest modules,
[code]
works as expected.

I assume that has to do with the lack of syntax for manifest modules with (possibly nar

[2020-03-27 09:17] garrigue commented on #9400
Actually, there are two separate problems here.
One is that there is currently no way to alias a functor argument, and this is indeed related to the absence of transparent ascriptions you describe here.
We are working on that (@lpw25 and @Drup have some proposals).

But there is also another problem: even if we could alias `Var`, this is not the original meaning of `with module M = Var`. The quest

[2020-03-27 09:50] rossberg commented on #9400
The one way I know is parameterised signatures:
[code]
That works, but requires you to plan ahead and forego fibration, and thus may not scale so well.

Isn't the original semantics to selfify the respective sub-signature with the module's path? I assume that would still happen, just adding the manifest path identity on the side. But I'm not sure if there might be a problem with that.

[2020-03-27 10:01] rossberg commented on #9400
Btw, a related issue is that module aliasing is tied to structure types in the first place. For example, this does not work:
[code]
although something seemingly more complicated does:
[code]

I think you mentioned to me a while ago that there are plans to overhaul the `module type of` construct to become something closer to singleton types. If that was the case, then one could perhaps desugar mani

[2020-03-27 18:33] #9327 closed, assigned to nobody

[2020-03-27 20:43] rwmjones commented on #9391
We've seen crashes in Coq on Fedora Rawhide.  The stack trace is shown at the bottom of the following email: https://lists.fedoraproject.org/archives/list/devel@lists.fedoraproject.org/message/EANYCMJWU5RQNCJ4Y5JMISGZ7A3XBUAM/

Could this be related to this bug?

[2020-03-28 13:54] Anukriti12 commented on #7870
Hi, I am an outreachy applicant. Can i work on this issue? I've worked on a simmilar issue (#8697) before. Only c parameter is still left to do from my PR at that issue. Should I create another PR or commit to that only?

[2020-03-28 23:02] ygrek opened #9404 "too many `unused value` warning when whole module is unused"
Not sure if it should be treated as a bug but it is a bit of unpleasantry
[code]

[2020-03-28 23:16] ygrek commented on #9360
this should be closed?

[2020-03-28 23:55] kit-ty-kate commented on #9360
Sorry for the lack of reply to this. My test case is not the exact replicate of what's been done in `cario2`, only what I thought i understood, so I'm not sure. @Chris00 could you look into this? Sorry I should've pinged you before.

[2020-03-29 14:20] Chris00 commented on #9360
On 29 March 2020 at 00:55 CET, Kate <notifications@github.com> wrote:

Sure.  I should have some time on Friday.

[2020-03-29 23:06] Anukriti12 commented on #7493
Hi! I'm an Outreachy applicant. I looked up the source code and found parse_intf function of `compile_common.ml` is responsible for compilation of .mli interface file. I would like to work on this issue. As @Octachron  suggested it's better to put a warning then a compiler flag I can put a wrapper which will check mli file path before actually compiling it.

[2020-03-30 08:47] gerdstolpmann commented on #9109
The html parser is somewhat outdated. It still encodes the HTML-4 rules, which did not allow anything inside `pre`. The parsing rules are controlled by the `dtd` parameter of `Nethtml.parse_document`. This parameter defaults to `Nethtml.html_40_dtd` but there is also `relaxed_html40_dtd` (you could try that). If the relaxed DTD does also not work for you, there is also the option that you define y

[2020-03-30 09:13] stedolan commented on #9391
It's hard to say. That stacktrace looks like it might be corrupted: I can't see any route by which `caml_ephe_set_key` can call `caml_alloc_shr`. How hard is it to reproduce?

[2020-03-30 09:33] rwmjones commented on #9391
It's very hard to reproduce.  I usually have to run the build over and over for days to see this even once.  I also cannot see a way to get from `caml_ephe_set_key` to `caml_alloc_shr`, but the stack trace is unfortunately all we have.

[2020-03-30 09:50] mshinwell commented on #9391
Do you have a core dump?

[2020-03-30 10:19] rwmjones commented on #9391
Right now I have core dumps, but the original coqc binary from the build directory was deleted so they are not much use.

However I will now run the build in a loop until it crashes again, and will collect the binary, compiler and core dump and upload them for you.  I must stress this process may take many hours (maybe even days).

[2020-03-30 10:55] mshinwell commented on #9391
It would be worth preserving the environment on the build machine if possible, as some addresses won't resolve correctly having transported the executable elsewhere.

[2020-03-30 12:37] Drup commented on #9109
I suggest just delegating to [markup](https://github.com/aantron/markup.ml), which is an spec compliant parser for HTML5.

BTW, there is no real DTD for HTML5, it's not a subset of XML like XHTML anymore, there are only rough approximations.

[2020-03-30 13:53] Drup commented on #9400
@rossberg  Yes, that's how it works in the WIP version I'm working on: singleton types that are not tied to the structure.

In positive positions, this simply makes the signature more precise. In negative positions, we already added new type manifests linking to the new module, so it only prevents providing a module argument which is not an alias but has all the exact same types. The behavior can

[2020-03-30 19:50] lpw25 commented on #9400
My plan for my WIP version (apologies for getting us into a situation with two WIP branches -- I should have finished mine of years ago now) was to support the operation:
[code]
to replace a module type with a stronger one. Then you can get the old behaviour of `with module M = N` via:
[code]

[2020-03-30 22:25] rossberg commented on #9400
I don't think that is the same when nested structures occur. Consider:
[code]
In current Ocaml, that yields
[code]
The replacement will presumably yield
[code]

[2020-03-31 09:19] lpw25 commented on #9400
Good point. You could still get the old behavior with:
[code]
although at that point we might as well just support:
[code]
I think using an attribute is kind of fine because I think people should try to move away from these old behaviours. They are more important as quick fixes for existing code.

[2020-03-31 09:56] talex5 opened #9406 "File "typing/typemod.ml", line 1817, characters 27-33: Assertion failed"
With OCaml 4.10, I get an assertion failed from the compiler when a transitive dependency is missing:

[code]

OCaml 4.08 and 4.09 instead print:

[code]

Note that `dune-project` has `(implicit_transitive_deps false)`, and adding the `current_term` dependency to `examples/dune` fixes it.