[2022-07-25 12:29] dbuenzli commented on #11074
That wording made me think that `unstable` may be a better word than `experimental` for the alert.

Other than that +1 for having an alert but not enabled by default (which I think is also a useful tool for APIs in the larger eco-system). This makes it easy to implement policies like no use of unstable features in a project without bothering too much those projects that want to use them.

[2022-07-26 14:26] gasche opened #11458 "online OCaml manual: there should be an easy way to get a fixed-version URL"
Suppose I'm browsing a random page of the OCaml manual

  <https://v2.ocaml.org/manual/types.html#sss:typexpr-sharp-types>

and I want to refer other people to it. The URL above I found through my search engine does not mention a specific OCaml version, so it is not stable, it may be dead or contain different content next time we look at it.

Feature wish: it should be easy to get a fixed-version

[2022-07-26 17:20] xavierleroy commented on #11458
I was about to redirect this PR to ocaml/ocaml.org.  I support the request, but there's nothing ocaml/ocaml can do about it.  Please continue the discussion at https://github.com/ocaml/ocaml.org/issues/534 .

[2022-07-26 17:20] #11458 closed, assigned to nobody

[2022-07-27 04:36] #10466 closed, assigned to nobody

[2022-07-28 09:50] #11261 closed, assigned to nobody

[2022-07-28 20:07] johnyob commented on #11447
It might be worth checking out @EduardoRFS's typed-ppxlib: https://github.com/EduardoRFS/typedppxlib for something like this. It exposes type checker internals, but would definitely get the job done for your application.

[2022-07-28 21:30] johnyob opened #11462 "Discrepancy in type disambiguation between `Pstr_value` and `Pexp_let`"
Hey 👋. For the following module:
[code]
The top-level definition
[code]
yields the type error: ```Error: Unbound constructor X```.  However, no error occurs w/
[code]
Is this a bug?

Credit to @EduardoRFS for finding this.

[2022-07-28 22:01] gasche commented on #11462
It's probably a bug (in the sense that I would also expect the two programs to behave in the same way), but we can provide a reasonable explanation for what is going on. Local let-bindings `let (K p) = e1 in e2`, where `K` is a variant constructor, are actually translated into `match e1 with K p -> e2` before type-checking. `match` and toplevel-`let` use different disambiguation rules, which expla

[2022-07-29 07:49] #9430 closed, assigned to nobody

[2022-07-29 10:52] copy opened #11463 "Segfault in static executables compiled with musl libc in 5.0.0~alpha1"
Using a prebuilt musl/gcc toolchain: [`x86_64-linux-musl-native.tgz`](https://musl.cc/x86_64-linux-musl-native.tgz) from musl.cc, I create a multicore switch as follows:

[code]

It seems that all statically compiled executables created by this switch segfault:

[code]

Here's a backtrace:

[code]

[2022-07-29 12:45] clementblaudeau commented on #10491
Another way of exploiting this overabstraction is to use the invalid signature inferred as an argument of a functor (using `module type of`), which leads to (through, I believe, path normalization ?) an alias to the argument of the functor leaking. Calling this functor on an unnamed structure causes a crash.

## Minimal example
As before, we start by defining a module type `S` that will get overly

[2022-07-29 13:57] clementblaudeau commented on #11441
As pointed out by @gasche and @lpw25, one can use this to build a functor that outputs an alias to its argument, which I believe is unsound ?
A minimal example being:
[code]
which returns:
[code]
Calling this functor on unnamed arguments will cause a crash, either the one above, or, for instance with:
[code]
crashes with:
[code]

[2022-07-29 21:36] gadmm opened #11464 "Definition of Is_young is incomplete"
When attempting to use `Is_young` in C code, I get the following error:
[code]
In 5.0, `Is_young` is defined in `mlvalues.h`. In 4.14, it is defined in `address_class.h` (which includes `mlvalues.h`).

In 5.0, `Is_young` depends on global variables defined in `domain.h` (which neither `mlvalues.h` nor `address_class.h` includes) and protected with `CAML_INTERNALS`. This is inconsistent with its pu

[2022-07-29 22:08] dra27 commented on #11464
Just marking that it’s a regression which definitely needs fixing.

I haven’t looked at the headers, but it should probably move back to address_class.h, with whatever knock-on changes that requires.

[2022-07-30 09:51] #11370 closed, assigned to nobody

[2022-08-01 04:48] #7912 closed, assigned to nobody

[2022-08-01 04:48] #7907 closed, assigned to nobody

[2022-08-01 04:48] #7859 closed, assigned to trefis

[2022-08-01 04:48] #7719 closed, assigned to nobody

[2022-08-01 04:48] #7535 closed, assigned to nobody

[2022-08-01 04:48] #7494 closed, assigned to garrigue

[2022-08-01 04:48] #7465 closed, assigned to garrigue, Octachron

[2022-08-01 04:48] #7099 closed, assigned to nobody

[2022-08-01 04:48] #7089 closed, assigned to nobody

[2022-08-01 12:16] xavierleroy commented on #11425
This issue should have been fixed by #11303.  Let us know if it occurs again.

[2022-08-01 12:16] #11425 closed, assigned to nobody

[2022-08-01 13:04] xavierleroy commented on #11463
I tried to reproduce on a Linux Alpine installation, but `ocamlopt -ccopt -static` generates static executables that  work fine.  Here are the versions of GCC and Musl on this installation:
[code]

[2022-08-02 14:30] copy commented on #11463
This toolchain uses gcc 11-20211120 and musl git-b76f37fd5625d038141b52184956fb4b7838e9a5. It also has some built-in flags that might be relevant: http://conf.musl.cc/plain_20211122_11-2-1.txt

I tried building it from scratch ([source here](https://git.zv.io/toolchains/musl-cross-make)), but it doesn't seem to build on my system right now. Will try to narrow it down in the next few days.

[2022-08-02 15:48] xavierleroy commented on #11463
A wild guess from the backtrace: it could be that C thread-local variables declared by `__thread` are not correctly implemented by the toolchain you use.  That's the only way I can see for the `local` argument to `caml_shared_try_alloc` to be 0.  You could test this hypothesis with a simple C program...

[2022-08-02 17:06] xavierleroy opened #11471 "Temporary asm file not deleted"
When running the test https://github.com/ocaml/ocaml/blob/trunk/testsuite/tests/tool-ocamlopt-save-ir/start_from_emit.ml , a temporary asm file /tmp/camlasmXXXX.s is not removed.

This is a mild problem for CI machines (where /tmp gets cluttered by temp files eventually), and may indicate an oversight in the implementation of the `-save-ir-after` and `-stop-after` options.

Cc: @gretay-js

[2022-08-03 04:43] #9718 closed, assigned to nobody

[2022-08-03 04:43] #6807 closed

[2022-08-03 04:43] #6798 closed

[2022-08-03 04:43] #5894 closed

[2022-08-03 06:40] dra27 commented on #7418
Some work started on this in #11369 - I'm expecting resurrecting the MSVC port in 5.x will be a good opportunity to wind the rest of the codebase forwards (and Microsoft's EOL for pretty much all the older releases are rapidly approaching!)

[2022-08-03 06:41] dra27 commented on #7489
Fix in the same area as #10258

[2022-08-03 06:42] dra27 commented on #7089
This would be nice to have (🤦‍♂️) - PR welcomed.

[2022-08-03 11:15] copy commented on #11463
It certainly seems that way. In a trivial example `__thread` seems to work fine. Adding some logging:

[code]

[code]

`Caml_state` is different, that's quite bad. Looking at the code:

[code]

`create_domain` writes the domain state pointer to `fs:0xfffffffffffffff0`, while `alloc_shr` reads it from `fs:[rax]` (where `rax` is loaded from `[rip+0x238c7a]`).

Looks a little bit like `alloc_shr` is

[2022-08-04 06:22] sina-devel opened #11477 "Auto format OCaml codes of stdlib and etc"
We can use `ocamlformat` to automatically format OCaml codes in a consistent style.

[2022-08-04 10:43] dra27 commented on #11477
Quoting [CONTRIBUTING.md](https://github.com/ocaml/ocaml/blob/trunk/CONTRIBUTING.md#coding-guidelines), "there are no strongly enforced guidelines specific to the compiler" - this would be a huge change, even if it were only applied to the Standard Library to begin with.

Even with an agreement from all core developers to do this, it could create a rebasing disaster for long-lived forks (at the ve

[2022-08-04 11:27] hhugo commented on #11477
Note that there exists tooling to rebase commits across formatting changes. In particular, see https://github.com/hhugo/merge-fmt

[2022-08-04 12:10] shindere commented on #11296
In this comment, I would like to share a suggestion that had been
sent to me privately by @pierreweis.

I am by no means a syntax expert so I don't have any opinon on
Pierre's proposal (well, I do, I think it was not as foolish as mine ;-)).

I just think it's worth sharing it here and, by doing so, I hope to
make it easier for Pierre to participate to the discussion, if he
so wishes.

Pierre's su

[2022-08-04 13:23] bluddy commented on #11296
I love this suggestion. Writing OCaml, I constantly wish I didn't have to use `if...then...else` structures at all as they tend to be messy. This is a bigger departure, but it would allow for a lot more simplicity and symmetry. A simple required `end` at the end of each matching structure (including this new one) would solve the syntax problem.

[2022-08-04 13:28] shindere commented on #11296
Yotam Barnoy (2022/08/04 06:23 -0700):

Cool!

But that raises the backwards compatibility issue.

If Pierre's idea can be introduced just by extending the grammar and
without breaking existing code, then it oculd be introduced first, and
then, almost independently, the `end` suggestion could be examined. But
we have also `begin` and I wonder whether it wouldn't be confusing to
have ends that do n

[2022-08-04 14:25] bluddy commented on #11296
I completely support (re)introducing `when` now.

Personally I think we'll need to transition to an OCaml v2 syntax at some point. The `if...then` + semicolon footgun is just too serious of an issue to ignore long-term.

[2022-08-04 14:31] ghost commented on #11296
Yes! I like this, too. Is someone considering a PR? If not, I can start working on one.

--
Ian

[2022-08-04 14:58] shindere commented on #11296
Ian Zimmerman (2022/08/04 07:31 -0700):

I have mixed feelings. On the one hand, it feels like a big, real
feature and, as such, frightening. On the other side, for me who spends
most of my time doing non-OCaml stuff, build system related tasks, etc.,
it also sounds cool to work on a language-related thing, for once. Shall
I try? Would you accept to let me shoot first and continue the work in
case

[2022-08-04 15:02] shindere commented on #11296
Just an implementation detail: do we agree that, at least for the
mooment, the first vertical bar, between the "when" keyword and the
first conditional expression should be optional, as it is for match,
function etc.?

[2022-08-05 10:39] sanette opened #11478 "random order of modules in stdlib index [documentation]"
The landing page for OCaml API documentation presents a list of modules in a (seemingly?) random order,
see https://v2.ocaml.org/api/index.html

This has been reported several times in the forum as a weakness of the documentation, and I can understand this. I guess it should not be too difficult to solve.
By the way, others have reported that the "Camlinternal" modules could be hidden from that li

[2022-08-05 14:17] OlivierNicole commented on #10960
I finished reviewing `unix.ml`. This led me to open a number of PRs and issues, part of which have been addressed already:
- Issues:
  - https://github.com/ocaml/ocaml/issues/11344
  - https://github.com/ocaml/ocaml/issues/11328
- PRs:
  - https://github.com/ocaml/ocaml/pull/11304
  - https://github.com/ocaml/ocaml/pull/11461
  - https://github.com/ocaml/ocaml/pull/11475
  - https://github.com/oca

[2022-08-05 16:00] tournev opened #11480 "The option `-output-complete-obj` fails to create a shared library on `amd64` architecture"
When using `-output-complete-obj` to create a shared library on `amd64` architecture, `ocamlopt` seems to include code from `$(ocamlopt -where)/libasmrun.a` in the generated object file. This file is non-PIC, so the linker fails to create the shared library.

Example:
[code]
The content of `test.ml` is not important, it can even be empty.

We get the same error when asking `ocamlopt` to create an

[2022-08-05 16:43] ghost commented on #11296
Yes, definitely allow to omit the first bar. @shindere if you want to work on this please go ahead! I'm a bit stressed out right now woth other things. And I suspect it will take more than 1 person in the end, anyway.

There will probably be some parsing conflicts with the existing use of `when` ...

[2022-08-06 12:18] thierry-martinez opened #11482 "Segmentation fault linked to a big closure allocation with OCaml 5.0"
I observed a segmentation fault with OCaml 5.0 (`alpha0`, `alpha1` and `ocaml/opam:debian-11-ocaml-5.0` docker image), which can be reproduced with the following steps. The same steps do not trigger segmentation fault with OCaml 4.14 and below (but the problem looks such fragile with respect to any change that I am not sure it is related to OCaml 5.0).

[code]

I wish I would be able to make a mor

[2022-08-07 11:42] lthls commented on #11482
I've digged a bit further, and found more details. Here are the basic steps leading to the segfault:
- The OCaml code allocates a closure bigger than `M̀AX_YOUNG_SIZE`. This means that the compiler generates a call to `caml_alloc`, followed by several calls to `caml_initialize`.
- In `caml_alloc`, the number of words allocated on the major heap gets big enough to trigger a major slice ([code here]

[2022-08-08 04:27] #6745 closed

[2022-08-08 08:59] shindere commented on #11482
@damiendoligez, in case nobody could help before you come back from
vacations, I thinkn this is definitely an area where your insight may be
very helpful.

Very big appreciation to both Thierry and Vincent, I find both the
report and the investigation very inspiring.

[2022-08-08 09:11] shindere commented on #11296
Ian Zimmerman (2022/08/05 09:43 -0700):

Okay.

I started, and something strange happened.

As long as it was about thinking about the implementation, inmy head,
the strategy I had in mind was to not modify the parse tree and de-sugar
the new when construct to the existing if/then/else, because that felt
simpler to me. I thought it would do the job, at least for a proof of
oncept and it would alwa

[2022-08-08 09:34] shindere commented on #11478
I think @Octachron may be the person who can best deal with the
situation.

[2022-08-09 13:51] gasche commented on #11265
Thanks to my enemy the stale bot I was reminded of @stedolan's point in https://github.com/ocaml/ocaml/issues/10552#issue-958838670 in favor of having an explicit bottom type. I think that's a good argument (in Stephen's case it makes OCaml strictly more expressive), and I would support having a builtin `empty` type, re-exported as `Empty.t` in the stdlib, that is a bottom for the subtyping lattic

[2022-08-09 15:09] kit-ty-kate opened #11483 "Allow redefinition of polymorphic variants"
OCaml currently allows redefinition of variant types. e.g.
[code]
This is useful mainly for two reasons:
* it allows to use `N.A` directly instead of going through `M` (which can be a functor or a long module names for example)
* it allows to redefine the variant types with equivalent types to make it more clear in documentations (in this example, `string` could be replaced by `username` or someth

[2022-08-09 15:10] favonia commented on #11265
~~I will try to make a PR.~~ I made a PR.

[2022-08-09 17:13] kit-ty-kate commented on #11483
@ceastlund showed me that it is possible to do using `constraint`
[code]
however this syntax is rather peculiar and not really user-friendly so I think this feature-wish is still worthwhile.

[2022-08-09 20:12] nojb commented on #11480
You should use the `-runtime-variant _pic` flag to make the compiler use the right runtime for a shared library.

[2022-08-09 20:51] tournev commented on #11480
Thank you for your answer. It doesn't fail to create the shared library with `-runtime-variant _pic`.

But is the error above, when using `-output-complete-obj something.so` without `-runtime-variant _pic`, the intended behavior ?

Maybe it would be better to fail with a cleaner error message, such as `The runtime variant _pic is needed to create a shared library (try -runtime-variant _pic).` ? Or

[2022-08-10 04:14] anmonteiro opened #11485 "OCaml 5.0: segfault between alpha0 and alpha1"
I'm tracking a segfault in `ocaml-ssl` caused somewhere between 5.0.0-alpha0 and b82821134.

I'm still investigating further (and trying to produce a minimal example), but the segfault seems to originate from a call to `caml_raise_with_arg` here:

https://github.com/savonet/ocaml-ssl/blob/3799dca10f3db5a36bb3ad5ee3a38035a571acdc/src/ssl_stubs.c#L1462

I've confirmed that my code works with 5.0.0-a

[2022-08-10 04:25] #5204 closed

[2022-08-10 05:21] smcpeak opened #11486 "callbacks that run after caml_startup crash on stack overflow instead of raising Stack_overflow"
In normal usage (on Linux/x86_64), if OCaml code exhausts the stack, `Stack_overflow` is raised.  However, if a C program embeds the OCaml runtime, then any OCaml callbacks invoked after `caml_startup` will segfault if they exhaust the stack.

In order to get the (IMO) expected behavior, one must additionally call `caml_init_signals`, which is part of `CAML_INTERNALS`.

Reproducer:

[code]

[code]

[2022-08-10 07:34] gasche commented on #11486
Can you clarify which version of OCaml you are working with / tested against? 4.x or 5.x?

[2022-08-10 07:36] smcpeak commented on #11486
Sorry for forgetting to specify.  I am using OCaml 4.14.0.

[2022-08-10 07:37] gasche commented on #11485
Are you observing the segfault with bytecode, native code, or both?

[2022-08-10 07:38] gasche commented on #11485
Note: building your program with the debug runtime (`-runtime-variant d`) might help by turning the segfault into an assertion failure.

[2022-08-10 08:32] garrigue commented on #11483
Polymorphic variants being purely structural, there is no technical need for such a feature.
I.e., if you define
[code]
then `M.t` and `N.s` are equal for the type system.

Are you just trying to ensure that they are really equal?
A line like `let _f (x : M.t) = (x : N.s)` does it, as does the superfluous constraint suggested above.

Actually, I can imagine a case where this makes a difference, bu

[2022-08-10 09:35] anmonteiro commented on #11485
I'll try that in the morning. In the meantime, I've managed to bisect to this commit: https://github.com/ocaml/ocaml/commit/4a58209d0b44cf422ec9aeb6c1b63dc215ba29f6

[2022-08-10 15:15] kit-ty-kate commented on #11483
No, see the bullet points above

Maybe not considered but it is used in the wild in practice with Dune's `(implicit_transitive_deps false)` feature.

[2022-08-10 16:26] gasche commented on #11485
(cc @gadmm)

Assuming this commit/PR you are pointing at (#11272) is correctly implemented and not buggy itself, it may provoke failures in code that was incorrect before, but would luckily work most of the time. (Arguably this is an advantage of reliably failing instead of having obscure failure scenarios.) Those "expected" extra failures would come from code that accesses the runtime state (Caml

[2022-08-10 17:35] gadmm commented on #11485
Since this is public code, do you have instructions to reproduce that you can share?

[2022-08-10 18:05] anmonteiro commented on #11485
Running the Piaf client tests is how I found out about this e.g. this CI run https://github.com/anmonteiro/piaf/runs/7755250937?check_suite_focus=true

it might be a little hard to set everything there (which is why I want to create a minimal example), but I’m traveling today so won’t be able to put something together very soon

[2022-08-10 18:07] anmonteiro commented on #11485
The caml_raise_with_arg clue might be misleading. I need to do further investigation.

Sorry for the lack of detail here, and feel free not to follow up until I do in fact put something together that’s more concrete.

[2022-08-11 00:30] gadmm commented on #11485
Right, and it is unknown whether some programs in the wild actually try to erroneously access `Caml_state` without the domain lock. If this is the case then we could improve the failure mode, so that they do not all start their investigation with the tedious task of bisecting the OCaml history.

Seeing that you are debugging with custom OCaml versions, here is a branch that adds an assertion when

[2022-08-11 02:23] anmonteiro commented on #11485
The `caml_raise_with_arg` clue was misleading indeed. Upon further investigation, this seems to be where I'm hitting the segfault: https://github.com/savonet/ocaml-ssl/blob/3799dca10f3db5a36bb3ad5ee3a38035a571acdc/src/ssl_stubs.c#L806-L814

I also put together a "minimal" repro -- it needs `dune` and `ocaml-ssl`, and a few certificates.

I've verified the following:
- happens in bytecode and nativ

[2022-08-11 05:21] gasche commented on #11485
I think the issue is in this code indeed:

[code]

This function first registers local roots and then it re-acquires the runtime lock. This is unsafe, as registering local roots requires (~mutates) the runtime state.

I believe that you could rewrite this to start with a pure C function (no CAML{param,local,return}) that takes the runtime lock / leaves the blocking section, and immediately call a

[2022-08-11 05:48] gasche commented on #11485
Note: I believe that the issue here lies in the library C code that is taking liberties with the FFI correctness rules, so I propose to close this issue -- not as a way to close the discussion, I'm happy to help investigate and debug, but to mark that there does not seem to be a bug in the compiler distribution.

[2022-08-11 05:56] gadmm commented on #11485
Indeed you have found the bug. It is also super unsafe to use `CAMLparam` without the runtime lock, so that's a win for #11272.

Let's keep this issue open while we discuss what can be improved:
- Does adding an assert which runs in debug mode helps? It could also be an unconditional assertion for `Caml_state` used by programmers, alongside some faster implementation without assertion for the runt

[2022-08-11 07:14] bluddy commented on #5894
Coming back to this, I'd really love to see this work continue. I've come to realize that relying on flambda isn't enough - we need the normative performance to be good. Having bad floating-point performance by default is not a good place to be for a general purpose language.

[2022-08-11 09:07] gasche commented on #11485
Unless I misunderstand, this faulty code for example (registering local roots without owning the runtime lock) is not only unsafe in presence of OCaml's systhreads, but any parallelism in the C+OCaml program, for example use of pthreads from the C side (if OCaml code runs as a plugin within a larger application). Maybe those situations are rarely-used in practice that it's okay to neglect them?

M

[2022-08-11 13:44] c-cube commented on #9342
That seems like a reasonable amount of work, @gasche, if it's about adding _one_ alias. Of course picking a name is highly bikesheddable.

I don't think there's any need to introduce a new module, `Hashtbl` does the job. Having an alert on `add` would suffice imho.

So, is there anything wrong with, say, `add_shadowing` with an appropriate docstring that explains what it does precisely?

[2022-08-11 13:49] shindere commented on #9342
How about `add_masking` whihc is 2 characters shorter?

(no strong opinion, just suggesting)

[2022-08-11 13:53] c-cube commented on #9342
I think this is sufficiently rarely useful that 2 characters shouldn't make a difference. That said, it's also a good name imho :)

[2022-08-11 14:00] shindere commented on #9342
Simon Cruanes (2022/08/11 06:53 -0700):

I'd say the shorter the better, independently ofthe frequency, because
it makes the code more compact (when you can only feel 40 characters at
a time, because you read in Braille, such small details may end up
making a difference)

[2022-08-11 14:00] bluddy commented on #9342
How many people actually make use of the add+shadowing functionality?

[2022-08-11 14:10] c-cube commented on #9342
@bluddy I use it, sparingly, for what I think is its original purpose: implementing scoping in compiler-like computations. When you enter a variable binding, your add the variable by its name to the hash table, potentially shadowing previous variables with the same name. When you are done, you remove one occurrence (the topmost), and voilà. It's a pretty niche use case.

[2022-08-11 14:18] dbuenzli commented on #9342
Even though it doesn't share the type structure (`'a` vs `'a list`) in view of https://github.com/ocaml/ocaml/pull/11410 `Hashtbl.add_to_list` could be an option. Also I think that having `replace` as the base function to use is a tad odd. Maybe `Hasthbl.set` could be added along the way.

[2022-08-11 14:37] c-cube commented on #9342
I actually like `set` as an alias for `replace`! I think it's a good idea, as it mirrors `Array.get`/`Array.set`.

[2022-08-11 15:41] copy commented on #11463
I managed to compile the latest version of the toolchain (from https://git.zv.io/toolchains/musl-cross-make), and the issue went away. I believe this issue was unrelated to OCaml and can therefore be closed.

[2022-08-11 15:41] #11463 closed, assigned to nobody

[2022-08-11 20:07] anmonteiro commented on #11485
@gasche so `CAMLlocal*` registers local roots. Does `CAMLparam*` also do the same? I wasn't aware of this failure mode. Maybe I need to go back and re-read the "Interfacing OCaml with C" Chapter.

EDIT: @gadmm mentions:

[2022-08-11 20:14] anmonteiro commented on #11485
Update: as a naive verification that @gasche is correct, moving the call to acquire the runtime system to the very top of the function body makes the code work.

[2022-08-11 20:46] gadmm commented on #11485
@anmonteiro We are interested in feedback in this area.

@gasche CAMLassert does not have a custom error message. It is easy to implement but it makes me think that CAMLassert is not really destined for users. Hence why I was thinking of checking outside of debug mode with a caml_fatal_error instead (which also has a customizable hook). Since the runtime is already written around the assumption th

[2022-08-11 20:47] gadmm commented on #11485
It sets up for CAMLlocal and accesses `Caml_state`.

[2022-08-11 20:52] gadmm commented on #11485
* Regarding unregistered C threads, `Caml_state` will remain `NULL` for those.
* The point is that the reasoning is the same. Indeed it is safe to access `Caml_state` in this situation; it is as if the domain lock is still held (in OCaml 4: indeed no lock is released when calling `enter_blocking`; in OCaml 5: a lock is released but this has no impact, as there can be no races anyway). For ocaml-bo

[2022-08-12 04:26] #10496 closed, assigned to nobody

[2022-08-12 06:10] gasche commented on #11485
I'm moving to close this: there is no fix required in the compiler codebase, and ocaml-ssl has been fixed. We don't need to let a "segfault" issue open that will worry other maintainers. We can of course keep discussing.

[2022-08-12 06:10] #11485 closed, assigned to nobody

[2022-08-12 06:49] gasche commented on #11485
Sure, we could try that, and run Sandmark benchmarks. Would you want to take care of proposing a PR?

[2022-08-12 14:35] gasche commented on #11485
@gadmm your arguments are convincing that your proposal to "keep the lock in the no-threads single-domain scenario" is an extension of the 4.x semantics. (Do you plan to just keep Caml_state around, or actually elide the domain_lock as well?) I think you could send a separate PR for this for broader discussion with other people.

[2022-08-12 18:54] rajdakin opened #11489 "Segfaults on exit when the sigaltstack is changed by the program"
# The issue
If the user's program changes the sigaltstack (through a C library, for example) with the stack overflow detection active (`HAS_STACK_OVERFLOW_DETECTION` is defined), the program will crash with an invalid free when exiting.

## The source
The function (`caml_`)`setup_stack_overflow_detection` calls `sigaltstack` with a stack placed from a `malloc`, that is then supposedly freed in `ca

[2022-08-12 19:46] anmonteiro commented on #11485
I don't know if I'm qualified to provide feedback here, but a compiler mode that can tell me whether my FFI is unsafe would be great.

[2022-08-14 15:49] xavierleroy commented on #9342
I believe add + shadowing is rarely used, except to implement dynamically-scoped symbol tables like @c-cube describes.

However, I and probably others use `Hashtbl.add` when we know we'll never remove anything from the hash table, and keys are unique (or the extra memory usage from duplicate keys is negligible), because it runs faster than `Hashtbl.replace` !  A typical example is hash consing, wh

[2022-08-14 15:53] xavierleroy commented on #9342
For what it's worth, here is how I feel about the proposed changes:
- +1 for introducing `Hashtbl.set` as a synonymous for `Hashtbl.replace`
- +1 for reordering the declarations in `Hashtbl` so that it describes `Hashtbl.set` and `Hashtbl.find` first, and much later, in a separate section marked "Advanced usage", `Hashtbl.add` (with the "shadowing" behavior") and `Hashtbl.find_all`.
- -1 for depre

[2022-08-14 16:05] xavierleroy commented on #11489
Thanks for the report.  Dynamic allocation of alternate signal stacks is the gift that keeps on giving...  I hope the glibc developers who broke static allocation of alternate signal stacks are happy with the mess they caused.  At any rate, yes, this is an issue in 4.14, and similar code is present in 5.0 as well, so both versions need fixing.  Stay tuned.

[2022-08-14 16:10] xavierleroy commented on #9342
Just to clarify what I wrote: `Hashtbl.add` is faster but functionally-equivalent to `Hashtbl.replace` when EITHER keys are unique by construction, OR `Hashtbl.remove` is never invoked and the extra memory usage from duplicate keys is negligible.  The first case (unique keys) is quite common.

[2022-08-14 16:14] xavierleroy commented on #11485
The problem is in the C stub code, so the OCaml compiler cannot do anything about it.  However, it is likely that a static analyzer operating on the C stub code could find the bug, see https://doi.org/10.1145/1064978.1065019 .

[2022-08-14 16:19] xavierleroy commented on #11482
Something really weird is going on here.

- If a block is marked by the major GC, even partially, it means it is reachable from the roots at the time of the major GC.
- A closure block with the wrong "start of environment" offset is not fully initialized yet.
- Only fully-initialized blocks can be reachable from roots, otherwise GC just crashes.

Note that `alloc_shr` does not trigger a major GC s

[2022-08-14 16:25] xavierleroy commented on #2375
I'm going to put this feature wish to rest after all these years.

I know Unix `ar` is not just a library builder, but actually a file archiver.  I also know that the last time I used `ar` to extract `.o` files from a `.a` archive was 30 years ago.

Other toolchains (e.g. MSVC) have tools to build libraries from object files but nothing to extract object files from a library or replace them.

As t

[2022-08-14 16:25] #2375 closed

[2022-08-14 17:04] xavierleroy commented on #9836
As mentioned in #10703, it looks like
[code]
does the job and is reasonably fast.  Unlike other `is*` FP functions, `isnormal` doesn't appear to have an efficient implementation.  Also, ISO C `isnormal` returns false on zeros while this feature wish wants something that returns true on zeros.  All in all, I don't think this is a useful extension to the standard library, and suggest that users buil

[2022-08-14 17:04] #9836 closed, assigned to nobody

[2022-08-14 17:55] c-cube commented on #9342
@xavierleroy I hear you on the fact that `add` is also useful when one knows of additional invariants (although I do 100% of my hashconsing using `Weak.S.merge`, so that's not my use case there). I was not proposing to deprecate the feature, only the short (and confusing) name.

But even there it makes sense to use a slightly longer, slightly more explicit name, correct? With a comment that explai

[2022-08-14 21:27] lthls commented on #11482
It's passed as parameter to `caml_check_urgent_gc` by `caml_alloc` ([here](https://github.com/ocaml/ocaml/blob/d98fd806573088994b0ab60de032d7d54221488f/runtime/alloc.c#L54)) and `caml_check_urgent_gc` registers it as a root if it has to actually run some GC code ([here](https://github.com/ocaml/ocaml/blob/d98fd806573088994b0ab60de032d7d54221488f/runtime/minor_gc.c#L866)).

[2022-08-15 10:53] ebresafegaga opened #11491 "Allow existential types introduced in a constructor pattern to be bound without tuple type constraints patterns"
Currently, if we have this:

[code]
We will get an error:
[code]
This is the only correct way:
[code]

It would be nice if we could do this both ways.

[2022-08-15 11:34] stedolan opened #11492 "Soundness issue in Ctype.non_aliasable"
The typechecker assumes that abstract types from the current module (that is, whose paths contain no dots) must have come from an empty definition like `type t`, and thus cannot alias any other type.

This turns out not to be true: they can also come from `include F (struct ... end)`. This leads to unsoundness, since the typechecker will accept certain matches as exhaustive because it believes abs

[2022-08-15 14:18] stedolan commented on #11482
The function that ocamlopt calls for allocations larger than `Max_young_wosize` is not `alloc_shr` but `caml_alloc`. The latter _can_ trigger a major GC, but tries to ensure that the newly-allocated value is fully initialised with dummy values beforehand.

Unfortunately, it is not possible to initialise a closure with dummy values - you need to know exactly how many `Infix_tag` closures it will co

[2022-08-15 15:36] jfeser opened #11494 "Clarify Scanf documentation"
The documentation for Scanf says that %d reads an "optionally signed decimal integer (0-9+)", but later it clarifies that integers can include underscores. The regex for %d (and for some of the other number specifiers?) should mention this.

[2022-08-15 16:17] xavierleroy commented on #11482
Thanks, @lthls and @stedolan, for explaining the mystery to me.

I agree that ocamlopt could  generate code that calls `caml_alloc_shr` instead of `caml_alloc` for large allocations.  In the old days, the block was filled using `caml_modify`, so unit-initialization of the block was needed, but since #673 the block is filled with `caml_initialize`, which is compatible with `caml_alloc_shr`.

The on

[2022-08-15 16:18] xavierleroy commented on #11482
Yet another option is to not check for urgent major GC in `caml_alloc` if the tag is `Closure_tag`, but this is getting ugly.

[2022-08-15 18:56] johnwhitington opened #11495 "In OCaml 5.0.0 alpha 1, ocamlmktop generates an extra directory by default"
MacOS 12.5, OCaml version 5.0.0~alpha1.

After using `ocamlmktop`, in addition to, say, `camlpdf.top`, I get a new directory `camlpdf.top.dSYM` which has an `Contents/Info.plist` and, another file `Contents/Resources/DWARF/camlpdf.top` of this type:

[code]

This does not happen in 4.14.0. Is this debug output intentionally the default in 5.0? If so, it's just something for me to add to `make clea

[2022-08-15 20:24] lthls commented on #11482
I thought about setting the start of env to the size of the block when allocating a closure with `caml_alloc`. It will get overwritten to the correct value by the `caml_initialize` calls, so will have no impact after initialization, and until the block is initialized there's nothing that needs to be scanned anyway. But I'm not sure it's better than the alternatives above.

[2022-08-16 05:53] lpw25 commented on #11492
See #8900

[2022-08-16 08:50] shindere commented on #9339
As long as there won't be a repro case this is going to be hard to
investigate.

S I am going to close this issue but please @progman1 do not hesitate to
re-open it if it still matters to you but then some help to understand
and reproduce the problem would really be appreciated.

[2022-08-16 08:50] #9339 closed, assigned to shindere

[2022-08-16 08:52] shindere commented on #9291
Still an issue but we are progressing slowly towards its clean
resolution with the work on the build system.

[2022-08-16 09:16] shindere commented on #10562
I believe this has been fixed by #10143, thus closing.

[2022-08-16 09:16] #10562 closed, assigned to nobody

[2022-08-18 11:23] yminsky commented on #11492
Would fixing #8900 resolve this soundness issue? Seems like a good argument for going back to that PR and pushing the fix through. Curious what @gasche thinks.

[2022-08-19 15:20] goldfirere opened #11499 "Incomplete instructions about building the compiler"
I'm just getting started in hacking on OCaml, so I thought I'd try building the compiler. I ran into a few gotchas in building. I'm reporting them here so that they might be improved for future contributors.

- `make` alone is not enough in order to use the built `ocamlc`, which tries to access `ocamlrun` in an absolute location. Instead, I've been advised that I have to install before trying out

[2022-08-19 15:29] nojb commented on #11499
The non-relocatability of the toolchain is a long-standing issue; but I believe that there may be improvements coming soon on this (cc @dra27). For my part, I typically do one of: 1) `./configure --prefix $(pwd)/local` and then do `make; make install` to install the compiler in a subdirectory of the repository, or 2) leave it uninstalled and then run the binaries by passing them explicitly to the

[2022-08-19 15:39] shindere commented on #11499
Nicolás Ojeda Bär (2022/08/19 08:29 -0700):

`-nostdlib` may also be handy here otherwise the system will look for
libraries in its install directory, which may be either not found, or
wrong, corresponding to another compiler install.

[2022-08-19 17:16] goldfirere commented on #11499
Yes, I did something similar in the end, installing to a directory local to the repo. Not hard to do -- but it would be great if the instructions had this pointer. Thanks for the quick responses!

[2022-08-19 17:45] shindere commented on #11499
Richard Eisenberg (2022/08/19 10:16 -0700):

Would you feel like submitting a PR with the update to the documentation
that you feel would have been helpful ot you?

[2022-08-19 18:10] goldfirere commented on #11499
Happy to do so -- but I wanted to make sure that installing in a subdirectory is a suitable fix. It sounds like it is, so I'll prepare the PR.

[2022-08-19 18:43] shindere commented on #11499
Richard Eisenberg (2022/08/19 11:10 -0700):

Cool! Will be happy to review.

[2022-08-19 20:27] gasche commented on #11499
Happy and honored to see you around, @firere.

- You never need to install the compiler, but `./ocamlc` does not work without installing, instead you use, uh, something like `./runtime/ocamlrun ocamlc -nostdlib -I stdlib`. I think this is better than trying to install, because in iterative development cycles there are times where the distribution as a whole is not coherent (you may not want to ins

[2022-08-19 20:33] goldfirere commented on #11499
Thanks, @gasche! Nice to see you again, as well. :)

What you say makes sense -- and indeed matches my limited experience. That is, when I edited the compiler and then ran `make; make install`, running `./ocamlc` witnessed my changes, but `./output/bin/ocamlc` did not. This was surprising, but not worth really digging into. Perhaps this is why I created an Issue, not a PR, because I wasn't sure wh

[2022-08-20 04:17] gasche commented on #11499
I believe there is a documentation issue, in particular the `-nostdlib -I stdlib` dance is not documented. It is mentioned in [runtime/HACKING.adoc](https://github.com/ocaml/ocaml/blob/trunk/runtime/HACKING.adoc) but assumed to be known already. So I guess a new section of our root HACKING.adoc is in order; "Running the built compilers"?

[2022-08-20 06:36] shindere commented on #11499
Gabriel Scherer (2022/08/19 21:24 -0700):

How about "Running the compilers from sources"?

[2022-08-20 07:53] kayceesrk commented on #11499
For someone new to the OCaml compiler who is building the compiler from sources, the path that they may take is `README.adoc -> INSTALL.adoc` to [this section](https://github.com/ocaml/ocaml/blob/trunk/INSTALL.adoc#building-the-compiler). Perhaps adding a note here about running the compiler built from sources here or a link to the relevant section in a different document that describes it would b

[2022-08-20 08:07] shindere commented on #11499
Yeah, `--preifx` sounds sensible, for those who don't mind installing
somewhere.

Since it adds a stepp to the dev cycle, though, we could also imagine
providing scripts for runnning compilers from sources, perhaps.

[2022-08-20 09:46] lpw25 commented on #11499
I think that [this section](https://github.com/ocaml/ocaml/blob/trunk/HACKING.adoc#your-first-compiler-modification) is the one @goldfirere used and it has a couple of short-comings:
1. It says:

    having just built the compiler without a prefix and only having run `make`. This doesn't actually work if you do the obvious thing, and the text doesn't even tell you the obvious way to do it.

2. It

[2022-08-20 09:58] shindere commented on #11499
Leo White (2022/08/20 02:46 -0700):

Wouldn't it be better, say if ocamltest is enabled, that configure
checks for `parallel` and then chooses the appropriate default target?

[2022-08-21 06:17] bluddy commented on #11296
This should not be a "syntactic sugar" thing IMO. It needs to modify the parse tree, or else tools like ocamlformat will revert the syntax to `if`. This is the superior syntax IMO.

[2022-08-21 11:14] shindere commented on #11296
Yotam Barnoy (2022/08/20 23:17 -0700):

Yes, yes. For the long run I agree. It's just that I thought I wcould
start with sugar just to open the way to experimenting. But apparently
it's not how I started anyway.

Also, meanwhiile I think I clarified the names for the different levels
of construction.

The whole construct could be called a *conditional*. This conditional is
actually a list of *clau

[2022-08-21 12:05] bluddy commented on #11296
I think it makes sense, but you may want to follow the precedents set in the parser and parse tree. Specifically, the new construct is a hybrid of `Pexp_ifthenelse` which has an `expression * expression * expression option`, and the `case list` which is under `Pexp_match`.

You could then add something like a `Pexp_when` which takes an `(when_case * expression) list`, where a `when_case` can be ei

[2022-08-23 10:28] jmid opened #11503 "Ephemeron test aborts"
I have been seeing an occasional crashing failure in `Ephemeron` tests in the [multicoretests CI](https://github.com/jmid/multicoretests/runs/7915765385?check_suite_focus=true#step:6:1290)
which I am now able to reproduce locally on my x86_64 Thinkpad, running Linux 5.4.0-124-generic.

This run is particularly interesting as it fails already in the sequential tests (no parallelism torture required

[2022-08-23 12:44] rajdakin commented on #11489
I can confirm the pull request fixed the issue with OCaml 4.14.1. I will still keep it opened as long as version 5.0 is not fixed (where, I just checked, the issue still remains).

[2022-08-23 16:15] gadmm opened #11504 "Thread-unsafety in `caml_make_float_vect`"
The static initialization code below appears to be thread-unsafe in the presence of multiple domains:

https://github.com/ocaml/ocaml/blob/712ee62e5abde7d7871f6345c1d2b917c6380596/runtime/array.c#L255-L259

[2022-08-23 16:26] xavierleroy commented on #11504
Well spotted.  Even without domains, this code is pretty bad.  (The initializing float can be allocated statically.)

[2022-08-23 19:56] gadmm commented on #11485
@gasche At #11506, I introduce run-time checks that the domain lock is held. Instead of checking unconditionally whenever Caml_state is called, I only introduce checks at key C API entry points, notably `CAMLparam`. In many cases (e.g. CAMLprim functions called from OCaml), checking is unnecessary. This avoids having to run Sandmark benchmarks.

I think this is a much better failure mode than a se

[2022-08-24 04:47] #10533 closed, assigned to nobody

[2022-08-24 04:47] #8889 closed, assigned to nobody

[2022-08-24 04:48] #6707 closed

[2022-08-24 08:11] Octachron commented on #10534
I still think that it would be a good idea to spend some time to expand the API exposed by the toplevel compiler library.

[2022-08-24 09:20] dra27 commented on #11499
The relocatable compiler patches won't ever help with running bytecode executables in the build tree (you'll always have to run them with `ocamlrun` manually). They would be able to help with the `-nostdlib -I stdlib` dance _if_ the compiler build system is switched to put artefacts in an installation-like tree. i.e. if the compiler's build system puts the stdlib in, say, `_build/lib/ocaml` and `o

[2022-08-24 09:21] dra27 commented on #11499
It's just possible that `ocamlc.opt` didn't get rebuilt in this case - when installed `ocamlc` is a symlink to `ocamlc.opt`. The `ocamlc` in the root of the build tree is the bytecode version which gets installed as `ocamlc.byte`.

[2022-08-24 09:28] shindere commented on #11499
David Allsopp (2022/08/24 02:22 -0700):

That's another aspect I'd like to change: that the programs do not get
renamed when they are installed.

[2022-08-24 09:31] OlivierNicole commented on #10960
Regarding OO programming, in my understanding when calling a method, the method address is resolved and possibly cached by modifying the bytecode:
https://github.com/ocaml/ocaml/blob/7412593a42f0e6a8c274c0cb7bf22a4c3646abd0/runtime/interp.c#L1224

Isn't this a data race in case of multiple domains executing the same `GETPUBMET` opcode concurrently?

[2022-08-24 14:06] jmid opened #11508 "Bytes.escaped unsafe under concurrent modification"
There's a safety issue with the current definition of `Bytes.escaped`:
https://github.com/ocaml/ocaml/blob/7412593a42f0e6a8c274c0cb7bf22a4c3646abd0/stdlib/bytes.ml#L170-L208

`Bytes` operations should not crash under concurrent usage as documented in https://github.com/ocaml/ocaml/pull/11237.
However under concurrent modification of the underlying data structure, the above may result in out-of-bou

[2022-08-24 14:48] gasche commented on #11508
Two remarks on potential solutions:

1. There isn't a way to atomically copy a string, so even the "do a copy first and work from that" approach has an unclear specification in presence of concurrent updates to the string.

2. If we try to do without a copy, with our own bound checking instead of using `String.set`, we still need a check in the common case of character written directly; we can onl

[2022-08-24 15:03] OlivierNicole commented on #10960
As far as I can tell the same is true in native code, where instead of a word in the bytecode a global method cache is mutated.

Edit: Thinking again, as in OCaml data races are locally bound and here the absence of sequential consistency does not matter (as the cached value is checked before use), we are probably safe in native code.

[2022-08-24 15:23] haesbaert commented on #11508
I'd point out that 1.

At worst what can happen is that architectures with weakly ordered stores could see a "future character" be updated before, at least amd64 is guaranteed to see "one truthful representation of the string at some point in time".
I don't think we should attempt to guarantee anything more.

[2022-08-24 15:33] haesbaert commented on #11508
Just a small note, one can argue that using the "safe_set" and raising an exception is better behavior since it forces the user to address the issue instead of him trying to figure how his escaped string got funky.

[2022-08-24 15:42] gasche commented on #11508
Yes, but with the current implementation the exception would only be called in certain scenarios of concurrent updates, far from all of them. (We only record the total size, so many changes would pass under the radar.) I don't think *unreliable* exceptions are a clear improvement, especially when they come with a noticeable performance cost.

[2022-08-24 15:43] gasche commented on #11508
I posted a PR with the `copy` approach as #11509.

[2022-08-24 19:29] xavierleroy commented on #10960
This is a cache: any integer value in the correct range is a safe value, although better performance is achieved if the value is the one last written.  So, this is a benign race condition.  For the bytecode interpreter, we'd better inform the C compiler of this fact, e.g. with atomic relaxed accesses?  For the ocamlopt-generated code, no change is required.

[2022-08-24 20:13] toots commented on #11289
I believe that this was fixed by: https://github.com/ocaml/ocaml/pull/11406

[2022-08-24 20:13] #11289 closed, assigned to nobody

[2022-08-25 08:10] garrigue commented on #11492
Thanks for spotting this. The language is so rich that we end up forgetting corner cases at times.
Did you find it in the wild?
My immediate impression is that it is not so urgent to fix this, and that we can wait for an agreeable solution to #8900, but that we shouldn't delay too much.
My argument is, as before, that I agree that types for the current modules shouldn't be handled specially, but t

[2022-08-25 11:43] OlivierNicole commented on #10960
Proposed change for the bytecode interpreter as https://github.com/ocaml/ocaml/pull/11512.

[2022-08-25 13:10] gasche commented on #11492
@yminsky #8900 is not only a fix, it's a language change that will break code. There is consensus that the current behavior should be changed, and I think the present issue is only going to strengthen this consensus. In https://github.com/ocaml/ocaml/pull/8900#issuecomment-1029959041 I asked that people (in particular core maintainers) interested in this issue take the time to work out a consensus

[2022-08-26 11:41] yminsky commented on #11492
I saw the discussion, but it doesn't really change my view, which is that the special treatment of locally defined abstract types is misfeature with no real upsides, and should be simply removed, with no other changes. Given that there was a test on opam that showed no real issues, I would have thought the right path would be just to remove it.

I hear your point about teaching materials, since I

[2022-08-26 13:08] OlivierNicole opened #11513 "ocamltest: syntax error in header causes test to be disconsidered"
To reproduce, create a directory `testsuite/tests/tmp` and create a file there with the following contents:
[code]

Then from the `testsuite` directory run: `make one DIR=tests/tmp`:
[code]
Removing the `exit_status` line makes the test being considered again.

[2022-08-26 13:13] OlivierNicole commented on #11513
Actually, adding quotes around the value (`exit_status = "0"`) fixes the problem. However, I find the silent dropping of the `.ml` file due to one syntax error confusing.

[2022-08-26 16:00] ccasin opened #11516 "`[@deprecated_mutable]` is broken"
The `deprecated_mutable` attribute is currently broken.  For example, the following program does not result in a warning, but did in OCaml 4.09.1:

[code]

It looks like the check for the warning was accidentally removed in #2127.

I considered making a new PR to fix the warning, which is simple.  But another option is to just remove the attribute - it's been broken since 2019 and nobody seems to

[2022-08-27 07:58] nojb commented on #11516
I think this should be fixed, not removed. PR welcome!

[2022-08-27 09:01] xavierleroy commented on #11489
I believe #11497 fixes the issue with OCaml 5.  Let me know if it's not the case.

[2022-08-27 09:01] #11489 closed, assigned to nobody

[2022-08-27 15:42] #11508 closed, assigned to nobody

[2022-08-28 03:08] sim642 opened #11517 "`Format.pp_set_max_indent` with "too large" argument"
While trying to maximize the margin and max indent of `Format` to practically disable hard wrapping (but still make use of boxes, etc), I stumbled upon the following problem where max indent surprisingly did not get changed.

### Interactive session
For example, this is demonstrated by the following session:
[code]
Even though `set_geometry` is used, where the invariant validity check for `max_ind

[2022-08-29 04:55] #9771 closed, assigned to nobody

[2022-08-29 09:23] shindere commented on #6070
What shall we do according to you, @garrigue?

My understanding of the issue is that there is something we would like
to tackle, so the issue needs to stay open, but we don't know yet how to
best tackle it. Do you (and others) share this understanding?

One other question: is the original author still interested, nine years
later?

[2022-08-29 11:26] shindere commented on #11499
Finally, I am unsure about what we shhould do regarding this issue.

Is there something we want to improve regarding the documentation and,
if so, is there a consensus about what and where it should go?

Or is it rather a matter of changing the build system?

Or perhaps, more likely, both? In whihc case perhaps we should break
this issue, maybe address one part (the doc) directly and open another,

[2022-08-29 12:47] shindere commented on #11499
Leo White (2022/08/20 02:46 -0700):

See #11518 for a proposal for an attempt
 to address this.

I think I already proposed this, but let me say it agian, just in case
and perhaps in a more precise way.

The suggestion is that, if `ocamltest is enabled`, then `configure`
could look for `parallel` and make sure it is used by default if
present, by the `tests` target. If `parallel` is not found, `co

[2022-08-29 14:39] Octachron commented on #10773
I still plan to address this issue at some point. However, printing the `... as 'a` annotation when the annotation is useful requires more work on the type printer: I am thus moving the issue to after 5.0 .

[2022-08-30 07:56] shindere commented on #11513
Olivier Nicole (2022/08/26 06:14 -0700):

It's make which does that, not ocamltest. You can always find the output
in the `_log` file, after you have run make. But as I said, running
ocamltest directly is IMO a better way to test tests.

[2022-08-30 07:56] #11513 closed, assigned to nobody

[2022-08-30 14:22] lthls opened #11523 "Runtime size vs. type-derived size"
(Note: this issue is meant as a discussion, not a bug report. I plan to close it just after submitting it. I've thought about using other means of communication, but Github looks like the place most likely to be looked at by people interested in the discussion.)

We had a few discussions with colleagues about whether the compiler should support runtime values that are bigger than their type sugges

[2022-08-30 14:22] #11523 closed, assigned to nobody

[2022-08-30 14:44] trefis commented on #11523
For the record, merlin used to do [this](https://github.com/ocaml/merlin/blob/bad59c1dfd9a149ff4210bb2441144abce873d34/src/ocaml_aux/parsing_aux.ml#L26); but we've moved away from that many years ago.

[2022-08-31 00:41] garrigue commented on #6070
I have no strong opinion on this one. There is already a warning for unused variables, which would apply in this case, so this could be a sufficient answer. @damiendoligez would be nicer for a warning enabled by default, but this is extra work for something that is already covered by another warning.

[2022-08-31 05:00] #6491 closed

[2022-08-31 13:56] lthls opened #11527 "Unexpected behaviour when dynlinking the same module twice"
When using `Dynlink.loadfile`, there is a runtime error if the same module is loaded twice. However, `Dynlink.loadfile_private` is not affected by this restriction, and there is even a test in the testsuite that loading the same file twice works.
It turns out that @mshinwell found a piece of code that uses this feature, and this caused a bug where the same roots are registered twice and the compac

[2022-08-31 14:09] mshinwell commented on #11527
Actually I'm not sure the piece of code concerned used `loadfile_private` -- I think it just used `loadfile`, and the only way that I can see it managed to circumvent the existing checks for non-private double loading was by calling `loadfile` from multiple threads at the same time.  The linked PR also guards against this situation by stopping with a fatal error if there is an attempt to add a dup

[2022-08-31 16:00] abbysmal commented on #11527
Chiming in, but we have an outstanding issue for something that is likely related here:
https://github.com/ocaml/ocaml/issues/11016
(It is still possibly a concern in the Multicore design)
I did not have time to look into it since then.

[2022-08-31 17:18] mshinwell commented on #11016
As per #11527, double dynlinking can crash the GC on OCaml 4 during compaction, because the dynamic global roots list will contain duplicate entries.  I think this is especially likely with Flambda which registers a lot of GC roots per compilation unit.  The compactor can't cope with duplicate _roots_ because it will traverse its own encoded pointers without realising they are such.

[2022-08-31 18:00] lthls commented on #11527
And here is the solution to the exercise:
[code]
[code]
[code]
[code]
[code]
The astute observer will note that this version also fails with Flambda.
Thanks @codename68 for doing the hard work!

[2022-09-01 14:36] curiousleo opened #11529 "Include kinds in "Their kinds differ" error message"
# Context

This error message used to confuse me:

[code]
[code]

`M.t` looks like a record to me, and `t` is also a record, so what's the issue?

Of course, the problem is that `M.t`'s definition is not exported, so its kind is not "record" but "abstract".

# Proposal

I think that the following error message would be an improvement:

[code]

Variations are possible, of course.

# Related

https:

[2022-09-01 16:52] #11529 closed, assigned to nobody

[2022-09-01 23:22] phated opened #11531 "Does OCaml 4.12.1+ no longer support MinGW static linking?"
Sorry if this is a vague report. I've tried searching for days upon end and even opened an [OCaml Discuss](https://discuss.ocaml.org/t/does-ocaml-4-12-1-no-longer-support-mingw-static-linking/10411) thread to no avail.

In our project, we have been building binaries for Mac, Linux, and Windows. To do this on Windows, we need to use this dune stanza (sorry that I don't have the direct ocamlopt comm

[2022-09-02 06:40] gasche commented on #11531
The only change in 4.12.1 that is listed in the Changelog and sounds potentially related is #10351, but it's a bugfix and it is unclear how it could break your build.

I don't know anything about Windows, but I think the following information could help:
- what version of MinGW are you using?
- what version of binutils do you have?
- what is the build error message that you are seeing?

To have a

[2022-09-02 07:21] xavierleroy commented on #11531
Also: check the version of `flexlink` on your system, it may be too old and in need of an upgrade.

But it could also be that #10351 broke static linking.  @dra27 should know.

[2022-09-02 08:58] mshinwell commented on #11527
My comment above turns out to be wrong; after some more digging, the code probably was in fact using `loadfile_private`.

[2022-09-02 09:48] Sod-Almighty opened #11532 "Installation instructions on website are wrong and don't work"
Your website says that, to install ocaml, I should install opam and then type:

[code]

`opam env` fails with the error `opam: unknown command 'env'.`

`opam switch create 4.14.0` fails with the error `opam: Invalid switch subcommand "create"`

If opam no longer understands these commands, then don't you think you ought to update your instructions? Else nobody will be able to install ocaml. (Me, f

[2022-09-02 09:54] gasche commented on #11532
What version of `opam` are you using? (`opam --version` will tell you).

Wow.

[2022-09-02 09:56] nojb commented on #11532
It is the opposite, you are using an outdated `opam` that doesn't understand these commands. OPAM 2.0 (released in 2018) should work.

[2022-09-02 10:02] Sod-Almighty commented on #11532
Version 1.2.2, apparently.

Your instructions don't say anything like "make sure it's version 1.5.1 or greater" or any such thing. It just says "install opam using apt-get". _Which I did._

Well? I followed your instructions _to the letter,_ and they didn't work. Of course I'm going to sound unimpressed and a little testy. Either the opam commands are wrong, or the "install opam" instructions are

[2022-09-02 10:02] #11532 closed, assigned to nobody

[2022-09-02 10:03] gasche commented on #11532
I'm closing this because your insulting behavior is an unacceptable way to treat the people giving their time to maintain and improve the system.

[2022-09-02 10:04] dra27 commented on #11532
@Sod-Almighty - what Linux distribution and version are you using?

[2022-09-02 10:04] Sod-Almighty commented on #11532
Oh, you want insulting do you? You've just wasted my time, due to your instructions being WRONG! How polite do you EXPECT me to be??

[2022-09-02 10:05] Sod-Almighty commented on #11532
If it was my fault - if I'd done something wrong - you'd have a point. But this is YOUR ERROR. Not mine.

[2022-09-02 11:13] dra27 commented on #11531
I expect this was "broken" by #10351 (static linking has never been a formal thing for Windows OCaml, although "one day, I'd like it...." - pre-3.11 the DLL was required for bytecode, IIRC). In particular, Windows OCaml doesn't support configuration with `--disable-shared`, and #10351 can't be reliably turned off unless you can build with that (it's all to do with ASLR in binutils 2.36+ as noted i

[2022-09-02 14:28] #11516 closed, assigned to nobody

[2022-09-02 18:31] phated commented on #11531
@dra27 I ran a variety of builds in our CI and here is the error from OCaml 4.13.1 (which is reflective of each error we see):

[code]

[2022-09-02 21:06] yminsky opened #11533 "Regression in #show_module_type"
The version as of OCaml 4.14 seems useless, as far as I can tell. Here's an example from 4.13.1:

[code]

And here's the same example with 4.14:

[code]

This created regressions in Real World OCaml, which is how I noticed it.

[2022-09-03 08:10] gasche commented on #11533
The regression was caused by additional strengthening in b44e5fdf70f65a29da53c405f6885fdf5611b362, which is part of #10599.

(Edit: I originally pointed to the parent commit 3fb495f9c3f42c2d56ddfd191a264875293d247b which is a mistake, as it is not the culprit.)

[2022-09-03 13:23] yminsky commented on #11533
Well, that's a worthy PR to have created this (small) bug.

Perhaps this suggests there should be some more testing of the #show directives? Almost any test at all of #show_module_type would have uncovered this bug.

[2022-09-03 19:04] gasche commented on #11533
Indeed, I expect that whoever comes up with a fix will add regression tests for #show directives.

[2022-09-03 19:26] gasche commented on #11533
In fact there is a mildly-interesting reason why our testsuite did not catch it. It seems that, during environment lookup, more strengthening happens on modules or module types that come from other compilation units. The tests for `#show` are in a file that tries to be self-contained, so it shows locally-defined modules and module types which work as expected. The "obvious" fix is to show a module

[2022-09-05 07:13] gasche commented on #8881
Status update: Nicolas presented the speecification of our proposed feature in https://github.com/ocaml/RFCs/pull/14#issuecomment-920643103. We worked at the same time on a prototype implementation at https://github.com/gasche/ocaml/tree/head_shape . The work is in pause since autumn 2021. I would like to restart working on it, but I would want to first settle the question of the way immediacy inf

[2022-09-07 04:57] #10552 closed, assigned to nobody

[2022-09-07 13:44] damiendoligez commented on #11482
~~Note that `caml_initialize` must not be used after the GC has seen the block, **even for non-closure blocks**, because it doesn't do the major-gc part of the write barrier. The initialization performed by `caml_alloc` in this case is not only useless overhead, it also makes the bug (which is present for all large allocations) very hard to trigger.~~

What the compiler needs to call is a function

[2022-09-07 19:21] cpitclaudel commented on #9072
This issue is still relevant to me. Basically, I'd prefer it if "-short-paths" worked as it does now, except when the result of shortening is not in fact shorter (same number of dots): in that latter case, I'd prefer if it did nothing. I think the implementation of that is straightforward? No shortening unless it actually shortens.

Also [GitHub stale bot considered harmful](https://drewdevault.co

[2022-09-08 15:21] abbysmal commented on #11503
I think I found the issue, but my knowledge is too limited for me to contribute a right fix.
The reasoning goes as follow:

The assertion in `caml_ephe_clean` is trying to ensure that unreleased blocks are marked.
[code]

As per the documentation, it should indeed be the case:

[code]

However this invariant is not respected in the current implementation, if you for example take `ephe_get_field`,

[2022-09-09 09:12] dra27 commented on #10613
Kind of a lot's happened in the last year 🙂 I don't think the lack of forward motion on this issue is a sign of a lack of importance, so I'm removing the Stale label and hoping that the Stale bot won't get to nag us next year!

[2022-09-09 14:14] gadmm commented on #10604
This is a perfect example why a stale bot is a bad thing!

[2022-09-10 16:18] sim642 opened #11538 "`-strict-formats` by default"
[As it came up on discuss](https://discuss.ocaml.org/t/format-conversion-doesnt-support-padding/10437/3?u=sim642), both the documentation and implementation of `-strict-formats` claim that the strict behavior is to become the default:
https://github.com/ocaml/ocaml/blob/949e2626c22b5fe8159cb29d47207d5621eabf90/manual/src/cmds/unified-options.etex#L691-L694
https://github.com/ocaml/ocaml/blob/cce52

[2022-09-10 16:23] nojb commented on #11538
Sounds like a good idea to me. @Octachron: if we wanted to do this, would it be possible to get this into 5.0, or should we be thinking of 5.1 instead?

[2022-09-10 16:32] Octachron commented on #11538
My opinion is that it is too late in the 5.0 cycle to introduce such breaking change, even if they are minor.

Moreover, `dune` uses `-strict-format` by default, thus it is seems quite likely that a significant part of the ecosystem are already using the flag. I fear that the change will end up simplifying the configuration of dune and other build tools at the cost of potentially breaking few out-

[2022-09-10 16:46] nojb commented on #11538
@sim642 would you like to try making a PR for this change? It should be fairly easy, a "good first issue" :)

[2022-09-11 03:57] mimoo opened #11539 "feature request: better errors"
Hello,

I'm trying to debug an issue I'm getting, and the error I'm getting is very verbose and seem to be the concatenation of a number of errors that are somewhat related. Feature request: it'd be nice to have errors that can be parsed by humans.

The error I'm getting, as example:

[code]

[2022-09-11 05:09] gasche commented on #11539
There are three errors in your output, each starting with `File: ...` (location information) then `Error:`. The first is as follows

[code]

This is an explanation on the fact that the equality `Mina_wire_types.Mina_base.Control.V2.t = Proof of ... | Signature of ... | None_given` does not hold. It does not hold because the types of the `Signature` parameter are incompatible, because they are pair

[2022-09-11 05:16] gasche commented on #11539
My impression is that this issue is not in fact actionable:
- the error messages produced are a bit long and require some training to parse
- this comes from the fact that the codebase uses complex modules with many definitions to follow to find the "real incompatibility" between two types, and
- the error message is produced in a systematic way that describes all the steps from the types written

[2022-09-11 07:36] mimoo commented on #11539
Not the best comparison, but in general Rust errors are much easier to parse:

<img width="688" alt="Screen Shot 2022-09-11 at 12 32 46 AM" src="https://user-images.githubusercontent.com/1316043/189517024-4b903663-7b60-40ca-a098-e4ff5a70f892.png">

If I would have to analyze why they have better errors, I would say that its a mix of:

* using colors (meant for human consumption)
* reusing the same

[2022-09-11 13:33] XVilka commented on #11539
For colors, there is this issue: https://github.com/ocaml/ocaml/issues/9328 and this unmerged PR: https://github.com/ocaml/ocaml/pull/10321

[2022-09-11 14:02] sim642 commented on #11538
That's nice, I wasn't aware.

Sure, I can give it a shot sometime.

[2022-09-11 14:07] shindere commented on #11538
Simmo Saan (2022/09/11 07:02 -0700):

I have just started a PR to stop using `-safe-string` to build the
compiler since it's the default and the only possibility anyway.

Given that this PRand the `-strict-formats` change will touch the same
parts of the code, I think, may I grab the idea and include the fix in
the PR I am working on?

[2022-09-11 14:19] sim642 commented on #11538
Feel free to, I don't mind.

I think there are two levels to this issue though:
1. Just making `-strict-formats` the default, but still allowing `-no-strict-formats` to disable it.
2. Completely removing the legacy behavior as the `fmt_ebb_of_string` comment suggests, which means no `-no-strict-formats` and also affects some `Scanf` thing which also uses that function at runtime (and defaults to t

[2022-09-11 14:26] shindere commented on #11538
Simmo Saan (2022/09/11 07:19 -0700):

Oh, that' a bit ore abitious than I thought. It may be better t deal
with the two things serarately then.

[2022-09-11 14:49] gasche commented on #11538
Let's definitely keep `-no-strict-formats` for now, it is simpler and might solve user issues if some show up during the transition. (But when dune enables it by default, it means there are few users not using it already.)

[2022-09-11 15:18] gasche commented on #11539
I think it's not so representative to compare an OCaml error message that requires a non-trivial explanation (because we unfold definitions to explain what is going on to the user) and a Rust error message that can be explained very simply.

OCaml also has a simple error message in this case (with colors in the terminal output):

[code]

And conversely there are of course complex error messages in

[2022-09-11 15:19] gasche commented on #11539
That's a good point! I think we should include an empty line at the end of each error.

[2022-09-12 07:55] gasche commented on #11539
Regarding 'diagrams overlaid on top of code': I don't want to give the idea that we are doing "as well as Rust" on this specific thing, we clearly are not: we support multi-location error messages, but the explanations cannot point to specific locations; no nice ASCII diagrams as in Rust borrowing errors for example. On the other hand, most OCaml error messages are in fact not multi-location. I th

[2022-09-12 13:06] shindere commented on #6070
Okay I am going to close this and it can always be re-opened if somebody
feels the need to.

[2022-09-12 13:06] #6070 closed

[2022-09-12 13:18] sanette opened #11543 "better error message?"
Hi,
recently there was another discussion in the forum about how to improve error messages, and shortly after indeed I ran into this one

[code]

(the error is the dot after the parenthesis)

The first question is: why?  I'm sure there is a logical explanation. (the dot is used to access chars inside the string like a.(i), but why is this picked up here? there is not even a parenthesis after the d

[2022-09-12 16:59] Octachron commented on #11543
The error is precisely that you are trying to apply the string indexing operator `.[]` to `(fun i -> i +1)` which is not a string.
A code formatter tool might be a better to way to spot  that `~f:(fun i -> i + 1). [ 1;2;3]` reads as `~f: ( (fun i -> i + 1).[(1;2;3)])`?

[2022-09-13 06:30] sanette commented on #11543
I see. Thanks! I didn't realise that `"abcde".[1;2;3]` was a valid statement, my bad.

But still, are you really satisfied with the current error message?

An error message is supposed to tell what should be corrected. Here the suggestion is that this expression "should be a string",
but of course `ListLabels.map ~f:"abcdef". [1;2;3];;` is not valid! Could the compiler be smart enough to detect th

[2022-09-13 06:35] sanette commented on #11543
Ah, a very simple suggestion that could "solve" the issue: could the error message be changed to something like
[code]
?

[2022-09-13 06:42] gasche commented on #11543
I wonder whether we could detect when operators that are morally a single lexeme (here `.[`) have visible space inserted in the middle, and warn (or even possibly fail?) in this case. They are full of corner cases that introduce weird ambiguities.

[2022-09-13 07:14] sanette commented on #11543
Speaking of the dot ".", some other confusing messages:

Suppose you make a typo when writing this:
[code]
This one is ok:
[code]
This one is confusing and illogical (?). A constant like 180 cannot have a record field... (right?)
[code]

This one I cannot say, I don't even know what a modifier is ;)
[code]

This variation is even more confusing. (it occured to me in "real life" and it took me a wh

[2022-09-13 09:27] dra27 commented on #8901
I think that the only thing needed for the branch referenced is to lookup and add the complete list of MASM reserved keywords to it

[2022-09-13 11:17] Octachron commented on #11543
Type error messages report conflicts between the types of various part of your program. When you are trying to apply the string indexing operator to a function, there is a clear contradiction that the typechecker can report. But it is impossible to know which side of the contradiction is erroneous, because such distinction only exists in the mind of the programmer. Going backward and trying to fix

[2022-09-13 11:21] xavierleroy commented on #11543
One other thing that might have confused the original poster is that `a.  [b]` (with one or more spaces between `.` and `[`) reads like `a.[b]`.  There may be reasons why we're not lexing `.[` as a single token, but I can't remember them right now.

[2022-09-13 14:03] shindere commented on #10613
Still an issue, definitely.

I am willing to work on it but that's the easy part, I guess. The most
difficult part seems to determine how best to deal with it.

Do we need two instances, one for the host and one for the target, or is
one instance (for the target, I guess) enough?

If two instances would be welcome, then `host_system` and
`target_system` look like natural candidates to me and we ca

[2022-09-13 14:34] sanette commented on #11543
exactly. also for record fields: what is the reason for allowing a space after the dot? One could declare that  `z. re` is a syntax error, that would simplify error checking.

[2022-09-13 15:12] Octachron commented on #11543
OCaml syntax is white space insensitive: white spaces are always allowed between tokens. From that point of view, the expression `x . A.Very.Long.Path.field` is not different from `x = A.Very.Long.Path.value`.

[2022-09-13 20:05] sanette commented on #11543
I understand, but my question was: why? what was the motivation for this rule? (I mean, why should the rule for "=" be the same as the rule for "." ?)

[2022-09-13 20:39] Octachron commented on #11543
Because they are both infix operators? Why should they follow different rules?

[2022-09-14 04:53] #6778 closed

[2022-09-14 06:53] sanette commented on #11543
maybe because they are used for quite different things? maybe because they introduce difficulties for generating helpful error message?

[2022-09-14 07:03] sanette commented on #11543
Going back to the `.[` token and Xavier's question, do you know the reason for allowing a space in between?

[2022-09-16 12:10] snowleopard commented on #8625
I believe @emillon is working on this.

[2022-09-19 08:43] alainfrisch opened #11547 "tmc-breaks-tailcall warning not being raised consistently"
[code]

raises the `tmc-breaks-tailcall` warning:
[code]
(side-note: missing whitespace between "position" and "in")

But lifting the definition of `g` to the toplevel doesn't:

[code]
(and `-dcmm` confirms the call to `g` is not in tail position; it could be, considering the type shows the function doesn't return, but it isn't!)

[2022-09-19 08:46] alainfrisch commented on #11547
Note: observed with ocamlopt, not ocamlc!

[2022-09-19 09:19] nojb commented on #11547
I took a quick look at the code, and this is what I found so far. First, recall that top-level bindings are compiled differently under `ocamlopt` and `ocamlc`. Under `ocamlc`, top-level bindings are bound in a nested "let", and top-level functions are called directly, while under `ocamlopt` top-level functions are bound to fixed slots of the block representing the module, and calls to top-level fu

[2022-09-19 09:27] alainfrisch commented on #11547
Thanks for the explanation.  I think we should either (1) warn on all function calls that "appear to be in tail position, but are not, after the transformation" (and this include call to global functions, but also any kind of expressions, including, e.g. fetching a function from a data structure); or (2) restrict the warning to functions defined in the same "let rec" block.

[2022-09-20 06:03] jhwoodyatt commented on #11296
I'm thinking that @schodibear offered an [idea](https://github.com/ocaml/ocaml/pull/715#issuecomment-235876118) that I think would combine well with the one above by @pierreweis to use the `when` keyword with a list of condition guards to deal with the problem of nested choice expressions.

[2022-09-20 13:37] #11482 closed, assigned to nobody

[2022-09-21 02:39] EduardoRFS opened #11548 "Marshal + Domain leads to a memory leak"
The code below leaks memory when running on OCaml 5 trunk, but by not starting the domain it stops leaking memory.

[code]

[2022-09-21 04:31] gasche commented on #11548
A repro case with memory self-reporting for Linux systems:

[code]

[2022-09-21 07:42] gasche commented on #11296
At the ML Workshop we had a talk by Lionel Parreaux on what he calls the "Ultimate Conditional Syntax" (UCS), see [the ML workshop article (PDF)](https://www.cse.ust.hk/~parreaux/ucs_v1.2.pdf). Parts of the syntax he proposes can express the multi-condition test:

[code]

(Many other features are proposed as part of this UCS, including the ability to capture variables in conditions, so that the fo

[2022-09-21 13:25] gasche commented on #11548
Note: @fabbing, I don't remember the invocations to tweak the Makefile to enable the clang/gcc leak sanitizer, which is the obvious way to investigate this bug. I wish we had written the instructions down in runtime/HACKING.adoc where they belong.

[2022-09-21 13:39] fabbing commented on #11548
I think in the end we took a look at `tools/ci/inria/sanitizers/script` which is able to use `asan` and `ubsan`.
There is also @toots work on this PR [ocaml/opam-repository/pull/21667](https://github.com/ocaml/opam-repository/pull/21667) that may be useful as a second reference.

[2022-09-21 13:47] gasche commented on #11548
What I would need here is a description of how to tweak an existing development repository to (temporarily) use a sanitizer (and then run the resulting compilers on a local repro case); as far as I can tell this is not documented clearly in either of those resources. It's probably possible to take inspiration of the ci script indeed, but then again runtime/HACKING.adoc could/should explain the cor

[2022-09-21 14:25] damiendoligez commented on #11548
@gasche, sanitizers won't help you in this case, the leak seems to be in the heap, probably because the major GC doesn't auto-trigger often enough. I'm looking into it.

[2022-09-22 07:20] gasche commented on #11539
Note after thinking a second more about the idea of including a blank line after error messages. Actually I think that the output we observe in the original post (with several error messages one after another) was not produced by one run of the compiler (which in general stops at the first error), but rather by a build tool (dune I presume) collating errors coming from several compiler invocations

[2022-09-22 09:16] Octachron opened #11554 "testsuite fails with XCode14 on MacOS"
The compiler test suite currently fails when using XCode14 due to following new warning

which is emitted by the new version of ld64 as soon as `-undefined dynamic_lookup` is used.
It is not clear to me what is the workaround for this when building OCaml cmxs files.

[2022-09-22 12:17] xavierleroy commented on #10865
This will not be fixed in 5.0.  Let's hope someone will work on it later, otherwise "cleanup at exit" mode will have to be deprecated.

[2022-09-22 13:45] #11464 closed, assigned to nobody

[2022-09-22 15:29] dra27 commented on #11531
A small update - mainly to note that I haven't forgotten this 🙂 I just opened https://github.com/ocaml/flexdll/pull/106, which is part of removing the runtime requirement on both `libwinpthread-1.dll` and also `libgcc_s_seh-1.dll` in 5.0 (the latter of which had cheekily slipped in under the radar while we were tolerating `-lpthread` pulling in a DLL).

I anticipate that using `-l:libfoo.a` instea

[2022-09-22 15:36] gasche commented on #11539
One interesting aspect of Rust error messages is the inclusion of a short identifier for the error, `E0412` in the example. This is something that I vaguely considered proposing for OCaml, but never got around doing. @Octachron and myself discussed this more in reaction to the present issue, and the current result is an RFC proposal: [RFC #33: short error identifiers](https://github.com/ocaml/RFCs

[2022-09-22 15:54] phated commented on #11531
Very cool and thanks for the update! We've been using dune to put everything together, but I think I can get the direct ocaml commands if I dig into logs. Do you need the dune files or those commands?

[2022-09-22 15:54] phated commented on #11531
Also, it's interesting that you mention pthreads because the underlying C library we use depends on pthreads too.

[2022-09-22 16:16] dra27 commented on #11531
Dune commands are fine - something along the lines of `git clone ... ; opam install ; dune build ...` will be great, thanks 🙂

The pthreads part could be even more intriguing from a 5.0 perspective! Are you already 5.0-ready?

[2022-09-22 17:00] phated commented on #11531
Perfect, I can provide those 😄

1. git clone --recursive git@github.com:grain-lang/libbinaryen.git

2. git checkout phated/windows-static

3. opam install . --deps-only --with-test

4. opam exec -- dune build

5. opam exec -- dune runtest

Regarding OCaml 5.0, I'm not sure what is required relating to the C FFI. I haven't had time to look since we've been struggling to get to 4.14.

[2022-09-23 07:03] mimoo opened #11558 "Introduce a `use` keyword for specific `open`s"
I'd like to propose the introduction of a new keyword `use` to avoid opening everything in the scope. This is inspired by Rust and would improve readability. For example:

Bad:

[code]

Better:

[code]

[2022-09-23 07:03] mimoo commented on #11558
(I'm not too sure how hard this would be to implement but I'd be willing to give it a shot if it's not too crazy)

[2022-09-23 07:09] nojb commented on #11558
In OCaml you can do:
[code]
Or, shorter:
[code]

[2022-09-23 08:12] yallop commented on #11558
Relatedly, @stedolan's proposal in #10013 would allow
[code]
which is one character shorter and (more importantly) avoids repeating the names.  We could perhaps extend it further to allow the following:

[code]

[2022-09-23 08:43] Octachron commented on #11558
A new keyword is major breaking change. Moreover, the keyword does not seem required in your syntax proposal, extending `open` might work:
[code]
However, the `.{}` is used for indexing Bigarray and it might be better to avoid encroaching that existing syntax.
Currently, an encoding of your proposal would be to open a module constrained by a signature:
[code]
This is clearly a too heavy syntactica

[2022-09-23 08:50] mimoo commented on #11558
reusing open is ambiguous though, as it would work differently depending depending on context:

[code]

[2022-09-23 09:58] #11504 closed, assigned to nobody

[2022-09-23 10:40] sadiqj opened #11560 "Regression from #10348 causes compilation failure"
[hdr_histogram](https://github.com/ocaml-multicore/hdr_histogram_ocaml/) fails to build on trunk currently with the following exception from the compiler:

[code]

Bisecting from https://github.com/ocaml/ocaml/commit/9d8a3614bfecff1e62816cd9b7ac35be482a0176 to current trunk seems to indicate this regression happened in https://github.com/ocaml/ocaml/pull/10348

@garrigue

[2022-09-23 10:56] dbuenzli commented on #11558
[...]

[...]

Maybe best is:

Or if you really have to:

Topmost selective imports are a mental burden detrimental to code reading, you need to maintain all of these in your brain to read the code.

[2022-09-23 12:48] gadmm commented on #11434
@Octachron I think one should keep an eye on this one for 5.0 (the first item because the risk with async callbacks running on a fresh domain is real, and the second item to a lesser extent because it is about public API, though `Domain` is indeed marked as subject to change).

[2022-09-23 12:59] Octachron commented on #11434
In fact, the idea of removing `Domain.at_each_spawn` from `Format` is quite compelling too since it is better to not expose a function with a single use case. I am adding this issue to my 5.0 sweep for next week.

[2022-09-23 15:21] frou commented on #11554
Seems like @carlocab drove the `-undefined dynamic_lookup` change in PR #10723. @carlocab do you have an idea what the issue here is?

[2022-09-23 20:23] mimoo commented on #11558
The problem is that today people abuse `open`, so either you forbid that (which you can't anymore) or you let people import selectively instead of the whole module

[2022-09-23 21:11] dbuenzli commented on #11558
It seems to me that nowadays people are sufficiently aware of its problem not to abuse it. Most topmost opens are used for namespacing, eDSLs or let operators.

When reading code below the fold having a bulk open or a selective one makes no difference, both are a mental burden. That's the reason why I don't think this proposal is a good solution.

There are more options than you suggest. You can d

[2022-09-25 09:42] xavierleroy commented on #11554
We're not alone: https://issues.guix.gnu.org/issue/57849 .

Looks like the only "solution" is to suppress all linker warnings (hmph) using `-Wl,-w`...

"Trop de warnings tue le warning", to quote @maranget 's wisdom.

[2022-09-25 09:51] xavierleroy commented on #11495
I tried to reproduce on my Mac but could not.  @damiendoligez @garrigue other-mac-users: can you reproduce?

I suspect this could be caused by an environment variable that happens to be set in your environment.  Could you run "printenv" and eyeball the output?

[2022-09-25 09:53] xavierleroy commented on #11478
Ping @Octachron .

[2022-09-25 09:54] xavierleroy commented on #11477
I agree that the cost outweighs the benefit.  Closing.

[2022-09-25 09:54] #11477 closed, assigned to nobody

[2022-09-25 09:54] xavierleroy commented on #11471
Ping @gretay-js

[2022-09-25 09:57] carlocab commented on #11554
Sorry, I meant to reply earlier but my GitHub notification are overflowing.

Yes, this is happening to everyone using `-undefined dynamic_lookup`. Apple had deprecated this for iOS, so I guess they might be looking into doing the same on macOS as well.

Possible solutions/workarounds:
1. Suppress linker warnings as suggested above.
2. Stop using `-undefined dynamic_lookup`. If there are symbols yo

[2022-09-25 10:01] xavierleroy commented on #11422
Closing, as #11423 is about to be merged.

[2022-09-25 10:01] #11422 closed, assigned to nobody

[2022-09-25 10:04] xavierleroy commented on #11394
Three months later, we still lack examples where "the debug runtime makes bugs disappear".  I'm closing this "issue".

[2022-09-25 10:04] #11394 closed, assigned to nobody

[2022-09-25 10:06] xavierleroy commented on #11415
OCaml 5 has a much better, fully reliable handling of stack overflows.  I don't think OCaml 4 for PowerPC will be upgraded to handle stack overflows better.  So, I'm closing this issue.

[2022-09-25 10:08] xavierleroy commented on #11366
This feature wish is getting rather negative opinions.  Anyone would like to champion it?  Otherwise we'll close it.

[2022-09-25 12:23] johnwhitington commented on #11495
Here are steps to reproduce:

[code]

This gives:

[code]

Here is the output of printenv:

[code]

I am using up-to-date MacOS Monterey on ARM and up-to-date XCode.

[2022-09-25 17:54] dboris commented on #7933
This is still reproducible. See discussion https://discuss.ocaml.org/t/pthread-is-missing-on-os-x/10348/4
Affects also linux.

[2022-09-25 18:36] nojb commented on #7933
The issue is basically explained [above](https://github.com/ocaml/ocaml/issues/7933#issuecomment-473080423): when linking with `threads.cmxa` we end up passing a shared library (`-lpthread`) to `ld -r` which is not able to handle it. These flags are embedded in the `.cmxa` archive and the compiler does not have enough information to be able to filter them out.

A workaround is to use `-output-obj`

[2022-09-25 18:43] nojb commented on #7933
I'm reopening, but there isn't any quick fix as far as I can see.

[2022-09-26 04:55] #10572 closed, assigned to nobody

[2022-09-26 07:28] garrigue opened #11564 "Add an the equality witness type to the standard library"
GADTs have now been part of OCaml for more than 10 years, and are even used inside the type-checker itself, but they are yet to make their way to the standard library.

While many GADTs are application-specific, and would have no reason to be there, the standard equality witness is used may GADT examples, and having to redefine it every time is cumbersome, and creates risks of conflicts.

So I sug

[2022-09-26 07:28] garrigue commented on #11564
This is loosely related to #11484.

[2022-09-26 07:36] nojb commented on #11564
I'm in favor.

Putting it into a module may be better if we are planning to add more functions that act on this type. For example, this is what we have at LexiFi:

[code]

[2022-09-26 08:12] yallop commented on #11564
I need this quite often, so I'm in favour.  The type definition itself is the most important thing for compatibility, but it'd be good to have both the type (perhaps in `Stdlib`) and a module along the lines @nojb describes.

[2022-09-26 11:26] #11538 closed, assigned to nobody

[2022-09-26 12:28] #11185 closed, assigned to nobody

[2022-09-26 12:30] abbysmal commented on #11503
@kayceesrk paging you again here, sorry if you are busy!

[2022-09-26 12:36] favonia commented on #11262
Closing this issue as it has been addressed by renaming `Unhandled` to `Effect.Unhandled` in the PR ocaml/ocaml#11423.

[2022-09-26 12:36] #11262 closed, assigned to nobody

[2022-09-26 13:13] dbuenzli commented on #11564
Can we maybe pack the whole thing so that we get type identifiers on the way ?

Most of my programs end up using them at some point, either directly or indirectly through a library.

[That's](https://github.com/b0-system/b0/blob/061eb173bcdf7ad49753b5c0323f040d03989695/src/std/b0_std.mli#L18-L34) the minimal interface I settled on. It seems [`base`](https://github.com/janestreet/base/blob/master/s

[2022-09-26 13:53] DemiMarie commented on #9459
I still think the empty polymorphic variant should be a true bottom type.  It is already a subtype of all other polymorphic variants.

[2022-09-26 22:15] dboris commented on #7933
This [SO comment](https://stackoverflow.com/a/62561519) about `-lpthread` seems relevant. A possible solution is not to include `-lpthread` as an autolink option in the threads library to begin with.

[2022-09-27 08:14] mt-caret opened #11570 "Unintuitive behavior with Bigarray.Genarray.init for 0d arrays"
Hello,

The following code results in `0.` instead of `5.` as the user might expect; the underlying reason is that when passing an empty array to `Bigarray.Genarray.init`, it does not call the passed function at all. Is changing the behavior here so that the passed function is called once with the argument `[||]` reasonable?

[code]

[2022-09-27 08:44] nojb commented on #11564
Is there a good argument for having the type defined in `Stdlib` instead of in its own module?

[2022-09-27 12:12] markghayden opened #11572 "check for minor GC on all loop iterations"
The optimizing compiler seems to generate a check for minor GC on every loop iteration.  This happens for while, for, let rec.  No matter how simple the loop.  See examples below.  This was tested on Ocaml 4.14.0 on MacOS.  These seem to be unnecessary... maybe I'm missing something?

`
let rec_loop ofs =
  let rec loop ofs =
    loop ofs
  in
  loop ofs
;;

let while_loop ofs =
  while true do ()

[2022-09-27 12:14] edwintorok opened #11573 "OCaml C FFI manual still contains naked pointers"
IIUC naked pointers won't work with OCaml 5.0 anymore, but the manual still contains one instance that seems like a naked pointer to me:
https://github.com/ocaml/ocaml/blob/trunk/manual/src/cmds/intf-c.etex#L147-L165

[code]

I'm assuming this should use something like the macro in io.h:
`runtime/caml/io.h:#define Channel(v) (*((struct channel **) (Data_custom_val(v))))`

[2022-09-27 13:42] #11554 closed, assigned to nobody

[2022-09-27 14:54] shindere opened #11574 "Merging `tools/primreq` into ocamlobjinfo"
`tools/primreq` can show which primites are used and defined by a module.

`ocamlobjinfo` can show the primitives declared by a module, but not those
used by it.

It would be nice to `tools/primreq` merged into `ocamlobjinfo`.

[2022-09-27 16:13] #10754 closed, assigned to xavierleroy

[2022-09-27 16:32] yallop commented on #11564
Such decisions always involve a judgment call, but to me @damiendoligez's [comment](https://github.com/ocaml/ocaml/pull/147#issuecomment-77888247) from the `result` PR perfectly apply here:

That was a while ago, and there may be less appetite for extending `Stdlib` nowadays.  But in my view the equality GADT is so fundamental that if we're still adding types to `Stdlib`, that'd be the natural pla

[2022-09-27 17:17] xavierleroy commented on #11570
Thank you for a very polite report.  This does look like a bug to me, and the behavior you suggest is definitely the right one.

[2022-09-27 17:18] xavierleroy commented on #11573
Well spotted.  I guess we need to find a simpler example -- one that uses integers and strings/byte arrays, but not custom types.  Suggestions welcome.

[2022-09-27 17:24] xavierleroy commented on #11572
These checks are necessary for proper signal handling (in OCaml 4) and proper operation of the multicore GC (in OCaml 5).  You'll be glad(?) to learn that OCaml 5 adds more of these checks on selected tail calls so that no code can loop forever without checking for GC and signal requests.  The cost is relatively low (a compare and a correctly-predicted conditional branch), so we're comfortable hav

[2022-09-27 17:25] nojb commented on #11570
Fix in #11576

[2022-09-27 17:28] xavierleroy commented on #11517
Feel free to suggest a fix as a pull request, either changing the implementation to do something more predictable, or the documentation to warn against the problem.  I'm afraid the core dev team has more urgent things to work on right now.

[2022-09-27 17:31] xavierleroy commented on #11495
Thanks for the repro.  @damiendoligez could you possibly look into this?

[2022-09-27 21:12] markghayden commented on #11572
Thanks for the explanation.  That makes sense.

Wow; every loop iteration now has overhead of a memory read (presumably cached), comparison, and conditional jump.

I think an annotation should be added for marking locations where these tests are not wanted.

[2022-09-27 22:23] mt-caret commented on #11570
Woah thank you both for the super-quick response!

[2022-09-28 04:55] #10571 closed, assigned to nobody

[2022-09-28 04:55] #10494 closed, assigned to nobody

[2022-09-28 05:01] gasche commented on #11572
Actually this "poll" operation is only inserted if there isn't already a poll or an allocation in the loop body. The performance degradation would only affect very tight loops. Do you have some actual code that is strongly affected by the change?

[2022-09-28 06:32] yallop commented on #10664
This (rather serious) bug is still present in `trunk` (as of c534f9740).

[2022-09-28 08:06] recoules opened #11578 ""Cheap" mutation operator"
Hi,

As far as I understand the OCaml runtime, allocation is kind of cheap, but stress out the garbage collector cycles, mutation of *young* values is cheap too, but mutation of *old* values may be costly because the GC needs to track the *old* to *young* references.

I think it would be beneficial to propose a new mutation operator that will either mutate in place the value if the best condition

[2022-09-28 08:45] gasche commented on #11578
This is a weird idea because it becomes difficult to reason about further mutations of `v` and `v'`, that may or may not be aliases of each other. Besides, it is not clear that it would be any faster than the current write barrier (your slow path, an allocation, is not clearly faster than the usual write slow path, that allocates into the remembered set).

To consider this any further I would expe

[2022-09-28 08:52] Octachron commented on #11578
On a more theoretical side, this proposal also couples the implementation of GC and the semantics of program, without using weaks pointer or ephemerons. This seems like a behavior that we really want to avoid.

[2022-09-28 08:58] gasche commented on #10494
I fixed this in 7f2069e7d4589f4cbeb616e336ed07f4e7ee8568.

[2022-09-28 09:32] #11570 closed, assigned to nobody

[2022-09-28 10:11] garrigue commented on #9459
It is not, for the good reason that it is not a valid type.
If you allow the empty polymorphic variant as a valid inferred type, it becomes easy to unintentionally create functions that accept no input.

[2022-09-28 10:28] recoules commented on #11578
@gasche The structure is not implemented yet, but I have in mind a mutable map (balanced tree) that can become *lazily* persistent on demand in order to share it.

In the expected use case, the number of keys is finite but it is unknown in advance.  The map will first grow and balance until the "final" shape is reached and then, elements will be updated in place until the map is "committed".
Then,

[2022-09-28 11:40] garrigue commented on #10664
Sorry, I had completely overlooked this one. Probably @gasche 's analysis reassured me that it was in good hands...
There is no a PR which I believe does the right thing. It may just create warnings if one uses GADTs under polymorphic variants.

[2022-09-28 11:54] gasche commented on #11578
Another way to think of your idea is as follows. For values that are uniquely owned, copies-with-modifications can be optimized into in-place update (this is a use of linear types in Cogent, or Koka's "functional but in-place" dynamic optimization using reference counting). You are suggesting an additional refinement to this approach where some of the copies remain copies to keep the values in the

[2022-09-28 12:16] recoules commented on #11578
I missed this part. In this condition, it is hard to think of a case where reallocation is better than updating the remembered set for a realistic mix of updates.

You can simply forget this idea. Thank you for your time.

[2022-09-28 12:16] #11578 closed, assigned to nobody

[2022-09-28 12:31] gadmm commented on #11572
Well-predicted branches are extremely cheap in modern hardware. (In your example `ja`: a backwards jump predicted taken in the absence of predictor history.) At the time of the polling PR, the main concern was the effect on code size (e.g. instruction decoding overhead).

I second the request for actual affected code. (An optimizing compiler could consider loop unrolling, etc.)

[2022-09-28 13:54] gadmm opened #11580 "There are not enough polls during non-tail recursive calls"
I disassembled the following function recently, looking at polling behaviour:
[code]

Here is the result in OCaml 5 (OCaml 4.14 is similar).
[code]

As you can see, there is no polling during the recursive calls.

One explanation can be found in @stedolan's explanation of his polling insertion strategy (https://github.com/ocaml/ocaml/pull/10039#issuecomment-733912979)

In other words, it is expect

[2022-09-28 13:59] gasche commented on #11580
I'm confused. Your function allocates in the "recursive" case, isn't this just as good as having a poll point?

[2022-09-28 14:02] gasche commented on #11580
Ah, the problem is that the first allocation only occurs after `n` non-tail-calls. Sorry for the naive question above. Indeed the first idea is to tweak the stack check to ensure regular polls.

[2022-09-28 14:02] gadmm commented on #11580
It allocates _after_ reaching the last call of the recursion. (I chose this example on purpose!) With TRMC it is different of course. Also for an example that does not poll when returning from the call chain, replace "()::" with "1+".

[2022-09-28 14:03] gadmm commented on #11580
Note that `caml_call_realloc_stack` does not even poll currently. This is the first obvious step.

[2022-09-28 14:11] gasche commented on #11580
In fact with

[code]

you have the latency issue both on repeated function calls (solved by a clever stack check) and on repeated function *returns*. If you want to also solve this latter issue, it may help to push fake frames on the call stack indeed.

[2022-09-28 14:48] gadmm commented on #11572
However, the generated code for the loop seems suboptimal, indeed this changes the branch prediction in the absence of predictor history: the "back-edge" is predicted as not-taken rather than taken. One way to avoid this would be to move the polling code from the bottom to the top of the loop (and maybe add a one-use jump to skip polling in the first iteration).

The poll-at-top vs. poll-at-bottom

[2022-09-28 15:31] xavierleroy commented on #11572
Really?  In the example, the "back edge" is `ja L114`, which is predicted taken as it is a backward branch.

[2022-09-28 15:39] gadmm commented on #11572
What counts is that `je L113` predicts an early exit from the loop (hence my quotes around "back-edge"). The jump following the looping condition is a backwards jump without polling (or with polling-at-top), but a forward jump with polling-at-bottom.

[2022-09-28 15:52] gadmm commented on #11572
Sorry, I confused myself: the forward jump `je L113` is correctly predicted as not-taken, so both version are equivalent in terms of branch prediction. Sorry for the noise.

[2022-09-28 17:08] markghayden commented on #11572
Good points.  It is hard to detect much difference with the added polling instructions, at least on AMD64.

[2022-09-28 17:08] #11572 closed, assigned to nobody

[2022-09-28 17:45] xavierleroy commented on #11580
All this is known already.  If you look at the bytecode interpreter, you'll see that it polls for pending asynchronous actions at every call and at every return.  For ocamlopt-generated code, this would incur prohibitive overhead.

As to polling in `caml_call_realloc_stack`, it's not clear to me that the shape of the stack at that point can be adequately described by a frame descriptor.  We may ne

[2022-09-28 19:09] alainfrisch commented on #11580
I really didn't follow anything about the poll point story, so sorry for the native question, but : if bounding the latency is a non-goal, why are poll points inserted in for-loops?  I assume that "eventually" means a bit more than just "eventually", and more something like "reasonnably soon, but with no strict guarantee".

[2022-09-28 19:51] dbuenzli commented on #11564
To give a bit more weight to my objection [here](https://github.com/ocaml/ocaml/pull/11581#issuecomment-1261361306). I think a `Type` module could be added. We could have for a start

[code]
But that would leave room to later define, for example, the following submodules :

[code]

[2022-09-28 23:40] gadmm commented on #11580
What is new here is the parallel GC whose latency depends on the latency of polling. Otherwise this was even known before the insertion of new polling points indeed.

Specifically, do you believe that some of the strategies I proposed might incur prohibitive overhead?

Since `Caml_state` is directly accessible from C, it might be simpler to let `caml_try_realloc_stack` deal with those (e.g. making

[2022-09-29 07:08] xavierleroy commented on #11580
The compiler is imperfect but not malicious.  `for i = min_int to max_int` takes forever on a 64-bit machine but a chain of function calls will stop or overflow the stack in one second or so.

[2022-09-29 08:19] gasche commented on #11580
Note (for context): with the Stop-the-World design the pauses affect more than latency, they also hurt the GC throughput if other domains are waiting idle).

The vibe I get from Xavier's answers is that this is a low-priority concern: we don't know of an actual program that is affected by this issue, in part because all OCaml 4 code was written with a relatively low stack limit in mind. So we shou

[2022-09-29 08:27] #11269 closed, assigned to nobody

[2022-09-29 10:55] kayceesrk commented on #11580
A non-blocking work-stealing scheduler might do something morally similar to this:

[code]

`spin_wait_for_work` does not perform any allocations. Without poll points, this code would cause a deadlock if the domain that may produce the work triggers a stop-the-world section for a minor GC.

[2022-09-29 16:15] c-cube commented on #11279
I am curious, could a (private) version of `resize` that also returns the new, larger array be used to keep the `unsafe_set`/`unsafe_blit` calls? In case of race condition, you might set/blit into the wrong buffer, but not get a segfault?

Like:
[code]

or even the updated version of @gasche:
[code]

[2022-09-29 16:29] dra27 commented on #11279
OK, I've opened the simplest PR just to ensure that we there's something - it's up to you if you want to have a go at the spill optimisations, @gasche?

[2022-09-29 16:30] dra27 commented on #11279
@c-cube - I'd been mucking around with ideas based around potentially blitting to the wrong buffer, yes... just running out of time 🙂

[2022-09-30 04:56] #9850 closed, assigned to nobody

[2022-09-30 13:11] dbuenzli commented on #11495
FWIW I'm getting a spurious untracked `ocamltest/ocamltest.dSYM/` when I build the compiler.

macOS 12.6, x86_64, xcode 14.0

[2022-09-30 14:42] dbuenzli opened #11588 "`make -C stdlib depend` is broken"
it says it has nothing to do when it has. Work around:

[code]

[2022-09-30 15:40] damiendoligez opened #11589 "Idle domain slows down major GC cycles"
Consider the program below, which was reported to me by @Octachron. If you run it without options, it runs on a single domain without explicitly calling the GC and its heap size goes up to 31 MB. If you run it with `-spawn`, it launches a domain that only sleeps in parallel with its main computation, and its heap size goes up to 694 MB.

What happens is that the major GC slice budget is computed f

[2022-09-30 15:42] dbuenzli commented on #11334
So, since nobody wants to make the critique of this, I'll do it myself :-)

I use this pattern in my code bases, but it's a limited pattern since you cannot use it on higher-kinded types. Given that I find it questionable to introduce it in the `Stdlib`.

Besides this totally steps on modular implicits territory and I don't want to suppress a good example researchers could use in their papers.

Th

[2022-09-30 15:42] dra27 commented on #11588
The fix for this was part of a PR which got closed, but which I’ve got a TODO item to transfer to a fresh PR. I expect to do that well before the Stale bot comments on this issue 😉

[2022-09-30 16:14] damiendoligez commented on #11589
I think we need to overhaul the GC slice computation to ensure that all domains are going through the GC work at the right pace to be on time for the global rendez-vous of the phase change.
Here is a possible design:
1. we maintain a global counter for allocations in the major heap
2. we know how much allocation will take place during this slice (from heap size and the overhead parameter)
3. from

[2022-09-30 18:13] #11573 closed, assigned to nobody

[2022-09-30 23:40] #11334 closed, assigned to nobody

[2022-10-01 06:10] kayceesrk commented on #11589
@damiendoligez Thanks for looking into this. TBH we always knew that computing slice budget at each domain without a global view is sub-optimal, and this would be something that we would come back to after 5.0.

The above design seems like a reasonable start to me. One constraint that I would like to add is that, for sequential programs, the new slice budget computation either (a) attempts to matc

[2022-10-01 17:03] yminsky commented on #11564
I generally like @dbuenzli's proposed structure.

I just wanted to mention that the [Type_equal module in Base](https://github.com/janestreet/base/blob/master/src/type_equal.mli) is another source for prior art, to see what utilities might be useful for such a shared type. The Lift modules in particular are quite nice!

Note that in Base, we have Type_equal.t and Type_equal.Id.t. I think Type.Equa

[2022-10-01 21:40] EduardoRFS commented on #11589
Any possible workaround besides of calling the GC by hand? A GC config to make it triggers more often would be ideal.

[2022-10-01 22:57] mmcqd opened #11591 "Make promote-menhir failing, cannot build parser"
Hello, I'm trying to re-generate the parser. Eventually I want to modify the parser, but I'm running into errors trying to build it without even modifying it. The full set of commands I've run is as follows (from the root of the repo)
[code]
The first three succeed without issue. The final step is failing with the following error
[code]
It seems that menhir is unaware of any of the modules in `par

[2022-10-02 11:29] dra27 commented on #11591
This looks to be an unintended consequence of 7de4d2b6 (cc @shindere).

A temporary workaround (I haven't looked fully) may be to add this to `Makefile.menhir`:

[code]

[2022-10-02 15:20] sadiqj commented on #11589
This seems like a good plan.

This deals with the allocations done by the terminated domain (for Damien's 3rd point), I think we might also need to account for the _work_ done by the terminated domain so the 4th point is accurate.

[2022-10-02 22:48] mmcqd commented on #11591
Thanks for the fast response @dra27. U̶n̶f̶o̶r̶t̶u̶n̶a̶t̶e̶l̶y̶ ̶y̶o̶u̶r̶ ̶s̶u̶g̶g̶e̶s̶t̶i̶o̶n̶ ̶d̶o̶e̶s̶n̶'̶t̶ ̶f̶i̶x̶ ̶t̶h̶e̶ ̶p̶r̶o̶b̶l̶e̶m̶.̶ ̶I̶'̶l̶l̶ ̶s̶e̶e̶ ̶w̶h̶a̶t̶ ̶I̶ ̶c̶a̶n̶ ̶f̶i̶g̶u̶r̶e̶ ̶o̶u̶t̶ ̶f̶r̶o̶m̶ ̶l̶o̶o̶k̶i̶n̶g̶ ̶a̶t̶ ̶t̶h̶e̶ ̶c̶o̶m̶m̶i̶t̶ ̶y̶o̶u̶ ̶p̶o̶i̶n̶t̶e̶d̶ ̶t̶o̶.̶

EDIT: Actually your suggestion did work 😄 . I just had to define `COMPFLAGS` before it got used haha. Tha

[2022-10-03 04:34] #10507 closed, assigned to nobody

[2022-10-03 04:58] shindere commented on #11591
Oops, sorry, I didn't see the suggestion because it was an EDIT and GitHub does not send out e-mails for that) and thus I opened #11592 which exactly implements the suggested change. Thanks for the report and sorry for having messed things up by overlooking `Makefile.menhir` .

[2022-10-03 07:57] dra27 commented on #11591
Fixed in #11592

[2022-10-03 07:57] #11591 closed, assigned to nobody

[2022-10-03 08:48] nojb commented on #11564
From reading the discussion so far most opinions seem to be for one of the possibilities below. The advantage of 1) is that one can use `Type.Equal` as constructor name instead of the long-winded `Type.Equal.Equal`.

Please speak up if you are for, or against either of these. 1) seems an OK compromise to me.

1)
[code]
2)
[code]

[2022-10-03 08:55] garrigue commented on #11564
I have a feeling we are getting away from my original request.
I do think adding just the equality witness is already a major improvement.
If it is added directly as `Stdlib.eq` then it is easy to define operations in another module, like is done for lists, arrays, etc...
I don't really see what advantage we would get in putting it in a submodule, particularly if we don't intend to add anything el

[2022-10-03 09:17] dbuenzli commented on #11564
As far as I'm concerned I'd like to follow up with adding `Type.Id`. It's a good tool that is not complicated to use but rather convoluted to come up with for the average programmer (in which I include myself).

I think @nojb's 1) is fine. One thing to consider is if you want to call the type `Type.equality` (following Haskell's module name) or `Type.equal`, since that would also define the name o

[2022-10-03 10:08] alainfrisch commented on #11564
`Stdlib.eq` is not self-explanatory (reading this type in a function's signature does not immediately convey the idea that this is about *type* equality).  Moreover, `Stdlib` is already a bit overcrowded; there should be a strong argument to put new stuff there; here, I don't see any downside of putting the definition in a dedicated submodule.

[2022-10-03 12:47] dbuenzli commented on #8813
Mr bot, I don't think this should be closed.

[2022-10-04 12:56] Octachron commented on #11013
Rereading this meta-issue, the only remaining high-level items are the documentation issue and the last part of the stdlib audit (mostly `unix` and `buffer`). The finer points are better tracked by the 5.0 milestone and the `stdlib audit` meta-issue.  I am thus closing this meta-issue.

[2022-10-04 12:56] #11013 closed, assigned to nobody

[2022-10-04 13:17] gadmm commented on #11013
Right, but it seems that the 5.0 milestone is missing #10992 and #11426.

[2022-10-04 13:31] Octachron commented on #11013
For #11426, I can reasonably commit some time to do an audit before (or during) the beta.

I fear however that #10992 is beyond the scope of 5.0 in term of review and development fatigue. I am thus assigning it to a 5.1 milestone.

[2022-10-04 14:56] Octachron commented on #11279
@dra27 how bad was the slowdown for @gasche nospill version on your machine?

[2022-10-04 15:06] damiendoligez commented on #11589
@EduardoRFS

The GC is triggered often enough, the problem is in how it computes how much work to do when it is triggered. So I don't see any easy workaround besides explicitly calling `Gc.major_slice` with a non-zero argument that completely depends on your program.

[2022-10-04 17:39] smuenzel opened #11599 "Equality of identical variables is not optimized (flambda)"
The following function
``
let ss_same s = if s == s then 1 else 0
``
Does not compile to a constant when compiled with flambda and `-O3`. Similar functions/code snippets can be the result of inlining (which is where I've found this).
Indeed, flambda tries to remove comparisons between the same left- and right-hand-side (https://github.com/ocaml/ocaml/blob/dd5e82d079a0fd8c79fcbd622e26c4a3417c9031/m

[2022-10-05 04:30] #6200 closed

[2022-10-05 04:30] #6102 closed

[2022-10-05 04:30] #5797 closed

[2022-10-05 04:30] #5514 closed

[2022-10-05 04:30] #5241 closed

[2022-10-05 07:08] Octachron commented on #7316
The current error message only reports
[code]
I agree that the `variant` or `record` definition exposes an implementation detail of the typechecker and should be narrowed to the right kind in the error message.

The location could be narrowed too, but that might require more work.

[2022-10-05 07:23] Octachron commented on #6238
The feature wish seems reasonable to me, and seems to have only be stuck due to naming paralysis.

[2022-10-05 07:37] Octachron commented on #7336
The current error message has been extended to include the error trace:
[code]
which does point to incompatibility for the type of data. Let's thus close this issue.

[2022-10-05 07:37] #7336 closed, assigned to nobody

[2022-10-05 14:58] lthls commented on #11599
I believe that `a.var` only tracks the original variable that the value was bound to. You could have other variables that are aliases to the original one, but defined in contexts where they can be lifted and statically allocated instead.
Example:
[code]
Here `t'` is an alias for `t`, so the approximations in the arguments for the physical equality will both have a `.var` field pointing to `t`. But

[2022-10-06 08:10] smuenzel commented on #11599
Thanks. I played around a little bit with your example, and I wasn't able to provoke the compiler into statically allocating a constant (even this code wont do it: ``match x with None -> [ x ] | Some _ -> ..``).

Yeah, it sounds like it, since the simplification to physical equality -> true is expected by the user and consistent with the semantics of physical equality in the cases we explored so f

[2022-10-06 09:44] #11434 closed, assigned to nobody

[2022-10-06 11:48] nojb commented on #11564
Leaving aside the question of future additions and extensions, can we agree on the minimal addition of a submodule?

[code]

Regarding the name of the constructor there have been three suggestions: `Refl`, `Eq`, and `Equal`.

- @garrigue has a preference for `Refl` due to the use of this name in other programming languages, but is open to `Eq`.
- @xavierleroy prefers to _avoid_ `Refl` as it is jar

[2022-10-06 13:11] dbuenzli commented on #11564
I'm ok with your proposal but personally I would go with:

[code]

[2022-10-06 17:35] rand00 opened #11610 "Applying interface with type parameter on module without type parameter"
Compiling the following with `ocamlbuild bug.byte` prints:
[code]

[code]
.. and there is no error reported by Merlin in the code either

[2022-10-06 18:10] Octachron commented on #11610
This a 4.13 only bug (see #10836) that has been fixed in 4.14 (see #10952).

[2022-10-06 18:10] #11610 closed, assigned to nobody

[2022-10-06 18:39] Octachron commented on #11610
I forgot on the spur of the moment: thanks for the report!

[2022-10-07 10:16] avsm commented on #11548
Note: I'm told this is a distillation of a real bug found in the Tezos codebase while porting parts of it to use multicore OCaml.  (thanks for being early adopters on this!)

[2022-10-07 11:57] carlocab commented on #11554
An alternative to silencing all warnings or removing usage of `-undefined dynamic_lookup` might be to pass `-no_fixup_chains` (e.g. `-Wl,-no_fixup_chains`) to the linker.

This has a runtime cost, but the benefit from fixup chains is new so should not introduce any performance regressions compared to builds with older versions of Xcode.

[2022-10-08 18:04] cjc25 commented on #6238
In case someone is waiting for name inspiration, `clang` uses `-gmlt` ("minimum line table") to include symbol info only (e.g. function {names, filenames, line numbers}). `gcc` analogously has `-g1`

[2022-10-10 09:21] damiendoligez commented on #8794
#8961 is still open

[2022-10-10 14:46] ygrek commented on #6238
`-glevel` options for gcc only change the amount of debugging information emitted, it doesn't change emitted code, this is what this issue is about

[2022-10-10 14:56] nojb commented on #6238
Sorry for the naïve question, but as the issue description above mentions native code, what "debug symbols" are we talking about? The location information for each instruction?

[2022-10-10 15:38] ygrek commented on #6238
previously (at the time this issue was created) it was function names, afaihs now we also have source locations

[2022-10-10 16:12] damiendoligez commented on #11589
After brainstorming with @stedolan, here is the new design that I've started implementing:

- We count allocations globally.
- Allocations create an amount of budget that is distributed evenly among all domains.
- Each GC slice takes up its own domain's budget and does the corresponding work.
- When a domain has no more work to do in the current cycle, its overflow budget is redistributed to the o

[2022-10-11 02:22] kayceesrk commented on #11589
@damiendoligez the plan looks good. I don't see anything particularly problematic here.

When you have the branch ready, please add them to Sandmark Nightly (https://discuss.ocaml.org/t/ann-sandmark-nightly-benchmarking-as-a-service/10174) so that we may see the nightly results for the sequential and parallel benchmarks on both of the parallel benchmarking machines -- `turing` and `navajo`.

A few

[2022-10-11 07:36] shindere commented on #11591
David Allsopp (2022/10/02 04:29 -0700):

Indeed. Sorry for having overlooked `Makefile.menhir` and messed things
up.

I just submitted PR #11592 which I believe fixes this issue.

[2022-10-11 07:46] shindere commented on #11324
John Whitington (2022/06/16 08:09 -0700):

Can we try to understand this warning, please?

Just to make sure it's not a code smell...

[2022-10-11 08:15] dra27 commented on #11324
For some reason, the `sed` command on L791 of `Makefile` didn't work (`s/\([[:upper:]][[:upper:]_0-9]*\)/"\1"/g`). Although that command could be slightly simplified (there's no need for the capture group), it is POSIX. It's possible that the original user had a locale setting that made something strange happen, although it's odd that apparently _none_ of `A-Z` would ever be in the upper class. Ho

[2022-10-11 08:20] gasche commented on #11285
Where else would one expect to find them? (We could add a cross-reference.)
Message ID: ***@***.***>

[2022-10-11 09:00] shindere commented on #11327
Raphaël Proust (2022/06/21 00:15 -0700):

Well done! Thanks! Your proposal makes perfectly sense to me, although I
am way less informed than @Octachron about real OCaml programming.

[2022-10-11 09:02] shindere commented on #11513
You may have missed the message but ocamltest says:

[code]

The reason for that is that, unfortunately, ocamltest variables are not
typed. All of them need to be strings. So ocamltest does not understand
your definition of `exit_status` because you assign a number, rather
than a string.

If you change you change the variable definition so that it reads:

[code]

you get this behaviour:

[code]

w

[2022-10-11 09:03] shindere commented on #11499
David Allsopp (2022/08/24 02:20 -0700):

HAving a build tree that has the similar structure than the install tree
looks as a desirable goal to me. I hope we will reach it. It would also
help with testing the compiler. At the moment, ocamltest can only test a
compiler in its source/build tree, which are currently not distinguished
from each other. It is of course possible to extend ocamltest so tha

[2022-10-11 09:21] shindere commented on #11321
Vincent Laviron (2022/06/16 02:00 -0700):

Am I correct that, to be robust, the mangling would have to be dynamic?

It is my guess that if a mangling is odne in a static way, then it is
always possible to write a program that will defeat that mangling. Is
that correct?

[2022-10-11 09:40] OlivierNicole commented on #11513
Thank you for the explanation, it makes sense.

[2022-10-11 10:10] lthls commented on #11321
If you only consider compilation from sources, then by choosing as a delimiter a character that is forbidden in module names and identifiers we don't need dynamic mangling (that's what Xavier did in #11430).
If someone uses compiler-libs directly, then it's possible to create identifiers with any character, but I don't think we need to be robust against that.

[2022-10-11 10:26] nangahamandine commented on #11009
Hello, I am Amandine, an Outreachy applicant and I am interested in contributing to Ocaml.
Please I will like to work on this. Can you assign to me?

[2022-10-11 10:32] nojb commented on #11009
No need to be assigned. Feel free to make the fix and open a PR with it. You can find general information about contributing in https://github.com/ocaml/ocaml/blob/trunk/CONTRIBUTING.md (NB: most of it is not relevant for a small documentation fix). Thanks!

[2022-10-11 10:34] shindere commented on #11009
Welcome on board, @amaluxx!

I did assign you, many thanks to @nojb for having given the relevant
details!

[2022-10-11 10:48] shindere commented on #11321
Quite likely this comment that just landed on GitHub had been sent eons
ago.

It seems many of my e-mails were held somewhere (I don't know where).

Sorry for the noise!

[2022-10-11 10:54] lthls commented on #11321
Ah, I wondered why we saw so many comments from you at the same time. I hope it means someone fixed a bug, and you won't have to worry about your comments being lost again.

[2022-10-11 11:05] lthls commented on #11599
So I've talked with @chambart about this issue, and it looks like one of the main reasons for disabling this optimisation is linked to records of floats. If we have the following code:
[code]
In that case, flambda will transform the code into `v == v`, so it would be fine to optimise. But if `v` wasn't in scope then `p.x` and `p.y` would each allocate a different boxed float, so the equality would

[2022-10-11 11:54] smuenzel commented on #11599
That's a good point about floats, they do have a tendency to cause problems everywhere.

However, I think that for this particular optimization, we're simply preserving existing behaviour of `phys_equal`/`==` around floats.
In particular, because `==` can already observe the effects of float boxing decisions, we can provoke both `true` and `false` return values depending on optimizer decisions (th

[2022-10-11 12:14] #11009 closed, assigned to nangahamandine

[2022-10-11 14:01] johnridesabike opened #11616 "Documentation: "good break" in Format module."
From the Format documentation, emphasis mine:

<https://v2.ocaml.org/releases/4.14/api/Format.html#fpp>

This is the only instance of "good break" I can find in the documentation. I assume it should say "full break" instead, or does "good break" have a certain meaning?

[2022-10-11 14:05] Octachron commented on #11616
The use of `good` is indeed a typo for `full` here.

[2022-10-11 14:31] pmetzger commented on #10532
Still seems relevant.

[2022-10-11 19:26] phated commented on #11531
@dra27 does the work in https://github.com/ocaml/ocaml/pull/11586 help with the issues experienced here?

[2022-10-12 11:03] nangahamandine commented on #6955
Hello, I'd like to work on this issue. Can you please brief me on how to go about it? I don't clearly understand what we're required to do

[2022-10-12 11:41] #11616 closed, assigned to nobody

[2022-10-12 12:06] Octachron commented on #6955
There are two ways to get a list of flags for ocamlc and ocamlopt. One may either use the `-help` flag of the corresponding executable
[code]
or one may read the `man` entry with
[code]
The two locations are currently slightly desynchronized. In particular, the man page entry for ocamlopt (man/ocamlopt.1)  doesn't cover the `flambda` options. A good objective for a PR would be to focus on the `fla

[2022-10-12 19:01] dboris commented on #7933
I can confirm that commit [34b559c](https://github.com/ocaml/ocaml/commit/34b559c6d2c4f460fa1ee664bf858f3175230750) fixes the issue on trunk and can be backported to 4.14.

[2022-10-12 21:40] nangahamandine commented on #6955
Thank you for the guide, I'm a complete beginner in OCaml and contributing to open source in general so I find some difficulties navigating around everything. I'll try that and get back to you if I have any questions

[2022-10-13 11:27] dra27 commented on #10861
It seems sensible to get towards closing this issue and splitting off things which may want to be addressed in 5.1.

(line numbers given against trunk @ 6a7c70f)

@damiendoligez:
- ~~`runtime/fiber.c` L101, and L168 you have comments to do with possible 32-bit optimisations. Is that worth a separate issue for 5.1?~~ [split off as #11779]

@kayceesrk:
- `asmcomp/cmm_helpers.ml` LL2206-2207 and `run

[2022-10-13 21:12] lyrm opened #11625 "`Domain.DLS`: overflow and release_key function"
After trying to use domain local storage ([`Domain.DLS`](https://github.com/ocaml/ocaml/blob/33e2d04b9b0a4ce9c10069eb87b3e92c01c5d7c2/stdlib/domain.ml#L47)) to implement a data structure, I would like to suggest a few improvements to its  API.

### Why ?
The current API is designed such as a `DLS key` is never released. Consequently, a code creating a large number of `DLS keys` may cause a memory

[2022-10-13 21:55] gasche commented on #11625
Note in passing; `release_key` looks like a simple and good idea, but I think it is not simple: one can safely "release" a key only if the corresponding values are erased from all domains (otherwise we could reread the key and observe a stale value... at another type), and making sure that the values are erased requires global synchronization between all domains. (Currently we synchronize by perfo

[2022-10-14 04:55] #10625 closed, assigned to nobody

[2022-10-14 07:37] dra27 commented on #11625
Could `release_key` be made to work if the internal representation of `Domain.DLS.key` has a mutable `int` value, allowing the _existing_ key to be invalidated?

[2022-10-14 07:42] gasche commented on #11625
I think that could work, but it means that `get` is not domain-local anymore, in the sense that it has to perform some global synchronization -- just an atomic read, which is probably just fine.

[2022-10-15 13:56] smuenzel commented on #11164
I tried to make a summary of each section of the extension manual and what ocaml version introduced the feature:

- Recursive definitions of values -- 1.0
- Recursive modules -- 3.07
- Private types -- 3.07, 3.11, 3.09
- Locally abstract types -- 3.12, new syntax in 4.03
- First-class modules -- 3.12, new stuff in 4.00,4.02,4.05
- Recovering the type of a module -- 3.12
- Substituting inside a sig

[2022-10-16 06:45] JasonGross opened #11629 "ocamlopt reports incorrect error locations for unfound identifiers"
Consider the following example, minimized from Coq's extraction:
[code]
I get
[code]
I understand what's going on here (OCaml will assume that all constructors come from the same module and hence will qualify all of them similarly), but it's still confusing to have it highlight a bit of code that does not reference the unbound module, especially when I did not write the OCaml code myself because i

[2022-10-16 10:51] nojb commented on #11629
Possible fix in #11630

[2022-10-16 12:09] smuenzel commented on #11599
I've prepared a patch here:
https://github.com/ocaml/ocaml/compare/trunk...smuenzel:equality-of-identical-variables
I tried to document the consequences of the optimization in both the manual and the in the code.

Any objections to trying to get this merged?

[2022-10-17 08:57] xavierleroy commented on #11164
I don't agree with your guess.  For example recursive modules still don't work very well and still need a complete redesign, while GADTs are pretty stable at this point.  That the former was introduced before the latter is irrelevant.

[2022-10-17 09:33] recoules opened #11633 "Segfault or infinite loop in 'caml_unregister_frametable'"
Dear developers,

I am playing with JIT, compiling small codes, registering and unregistering frame tables.
Usually, when something goes wrong, it is because I messed with the runtime, but this time, it seems there is a possible bug in the function `caml_unregister_frametable`:
https://github.com/ocaml/ocaml/blob/679b5001e3f57560e8c6499c5ed7c54a1a63c422/runtime/roots_nat.c#L208-L229

For me, it do

[2022-10-17 12:24] recoules commented on #11633
Note that this is for OCaml `4.xx` but I think something like this could be easily added to OCaml `5`.

In fact, it seems like it will be easier because it only has to remove the `link` from `frametable` and wait the `frame_descriptors` to be rebuilt, "*if needed*", when a new table is added. I think it is not an issue if the hash table still contains "*dead*" entries as long as we can release the

[2022-10-17 22:14] johnwhitington commented on #11164
Previous discussion: https://github.com/ocaml/ocaml/issues/6676

[2022-10-18 07:40] nangahamandine commented on #6955
Hello, I have been trying to to run the 'man ocamlopt' command but I get an error saying "bash: man: command not found". I'm presently in the man folder but no success. The 'ocamlopt -help' command runs just fine. How do I resolve this please?

[2022-10-18 07:53] nangahamandine commented on #6955
Also, I'd like to clearly understand this.  The flambda options described at https://v2.ocaml.org/manual/flambda.html#s:flambda-cli are required to be added to the ocamlopt.1 file in the man folder right? If so, how do I go about it please? If not, can you please enlighten me?

[2022-10-18 07:57] Octachron commented on #6955
You need to install the man executable.
Yes, the option should be added to `ocamlopt.1` in a `Options for Flambda` section. You can look at the section `Options for the AMD64 architecture` as an inspiration.

[2022-10-18 09:06] nangahamandine commented on #6955
Thank you

From the flambda options described in the documentation above, do I add the Commonly-used options, Less commonly-used options and Advanced options, only needed for detailed tuning? Or just the commonly used options?

[2022-10-18 09:09] Octachron commented on #6955
The commonly-used options are probably a good scope for a first PR.

[2022-10-18 09:14] nangahamandine commented on #6955
Okay thanks

[2022-10-18 15:19] shindere commented on #11321
Vincent Laviron (2022/10/11 03:54 -0700):

Thanks! Let's hope so!!

[2022-10-18 15:20] shindere commented on #11285
Gabriel Scherer (2022/10/11 01:20 -0700):

I was expecting to find them just after the list of numeric warnings.

[2022-10-19 04:55] #10607 closed, assigned to nobody

[2022-10-19 09:03] nangahamandine commented on #6955
I'd like to continue working on this issue. Can you please suggest another subset for me to work on?

[2022-10-19 09:48] Octachron opened #11646 "Add colors to error message hints"
There is currently 21 hints emitted by various error messages.
For instance,
[code]
The current indentation makes it clear that the `Hint: ...` part is a complement to the error message.
However, currently the `Error:` prefix is strongly emphasized with a red color whereas the `Hint:` prefix
use the standard font setting.

I think it would be useful to print this `Hint:` prefix in a standardized c

[2022-10-19 09:54] bschommer commented on #11646
GCC for example uses magenta (with SGR 01;36)

[2022-10-19 12:07] ofonime41 commented on #11646
Hello @Octachron, My name is Christiana Anthony and I am an Outreachy applicant. I have Ocaml setup on my system and will like to work on this issue with your guidance.

[2022-10-19 12:20] Octachron commented on #11646
You are welcome to try your hand at an implementation.

Color handling is defined in the `Misc.Color` submodule.
The first step is to add a `hint` field to the `styles` record type. Once the new style is defined, you can test your change by using it in one of the `hint` message. However, rather than using this style directly in all error messages, I would recommend to add a function `hint_prefix:F

[2022-10-19 12:38] Octachron commented on #6955
There are few missing negative command lines,
- `-no-principal`
- `-no-rectypes`
-  `-no-strict-sequence`
that are missing in both `ocamlc.1` and `ocamlopt.1`.
Those negative options should be documented just after the options that they negate.

Similarly, the option `-strict-format` and `-no-strict-format` are missing from the manpages and could be documented.

[2022-10-19 12:46] ofonime41 commented on #11646
Alright, I'll get to work rightaway  and update you on my progress. Thank you

[2022-10-19 13:47] johnwhitington commented on #11495
Still present in 5.0.0~beta1.

[2022-10-19 14:11] nangahamandine commented on #6955
I do not clearly understand how to document these missing negative command lines. If you could please elaborate more, I'd be grateful

[2022-10-19 14:29] Octachron commented on #6955
You can start from the argument description provided by the command line:
[code]

[2022-10-19 16:20] nangahamandine commented on #6955
I've noticed that the ocaml.1 file is missing these options too. Should I add them in it?

[2022-10-19 16:31] Octachron commented on #6955
You are right, you can also add those options to the `ocaml.1` manpage.

[2022-10-19 16:46] amaluxx commented on #6955
This too is missing in the ocaml.1 manpage. Was that intentional?

[2022-10-19 16:49] nangahamandine commented on #6955
This too is missing in the ocaml.1 manpage
-runtime\-variant \ suffix
Was that intentional?

[2022-10-19 16:51] Octachron commented on #6955
Yes, this is intentional: the `-runtime-variant` flag is not a valid option for the `ocaml` REPL.

[2022-10-19 17:02] nangahamandine commented on #6955
Noted

[2022-10-19 19:20] mroch commented on #11449
Lwt has a bug (https://github.com/ocsigen/lwt/issues/966) whose fix needs access to these functions. An "environment block" consists of a null-terminated block of null-terminated strings.

ocaml itself deals with this here:

https://github.com/ocaml/ocaml/blob/000d15d4e229e895612177590df08d0364b1cb04/otherlibs/unix/createprocess.c#L122-L127

[2022-10-20 08:30] dra27 commented on #11449
There's an implementation of the first two in one of my relocatable branches (https://github.com/dra27/ocaml/commit/8fe97fc299c9eadf1baf0316e5182d7beb8cbc9f) - it can either end up going in with that or can be extracted to go in separately.

[2022-10-20 12:23] bikallem commented on #11560
I also got the same error while trying to build `luv` - https://github.com/aantron/luv/issues/135. The error trace is the same.

[2022-10-20 13:28] ofonime41 commented on #11646
### Hello @Octachron , I added the hint field in the following section  the styles type in the  ml and mli file of the Msc. module.
### I want to know if I'm on track
![ocaml1](https://user-images.githubusercontent.com/38950881/196959828-3ac2a5df-1ef4-475a-842f-8a3826023f32.png)
![ocaml2](https://user-images.githubusercontent.com/38950881/196959845-e170f52e-5888-4cd3-bd47-65c1bc611b59.png)

[2022-10-20 13:44] Octachron commented on #11646
That's look fine. However, it is even better to test your change by trying to add that style to an hint. For instance, you could try to color the two hints that appear in the `Parse.prepare_error` function.

[2022-10-20 13:50] maroneze opened #11662 "Memory consumption of Frama-C in OCaml 5 beta1 is about 10x larger"
My colleague just noticed that, when running Frama-C in a switch with OCaml.5.0.0~beta1, memory consumption of Frama-C is about 10x larger when loading dynamic modules (i.e., any of Frama-C's plug-ins).

I created a Dockerfile to test it on an isolated environment and obtained the same results.

When comparing the same code compiled under OCaml 4.14.0 and OCaml 5.0.0~beta1, I obtained the followin

[2022-10-20 14:00] maroneze commented on #11662
Sorry, I meant to create this issue on https://github.com/ocaml/ocaml. Is there a way to migrate it, or should I just close it here and copy the contents there?

[2022-10-20 14:30] mseri commented on #11662
I don't think there is, unfortunately. You have to copy it there.

[2022-10-20 15:05] maroneze commented on #11662
[Apparently there is a way](https://docs.github.com/en/issues/tracking-your-work-with-issues/transferring-an-issue-to-another-repository), since both are owned by the same organization, but it requires someone with write access to both repositories.

[2022-10-20 15:23] mseri commented on #11662
Oh. Interesting. Ping @kit-ty-kate

[2022-10-21 08:21] Octachron commented on #7629
The bug still exists and is still a witness of an exotic type system corner case.

[2022-10-21 08:46] lthls commented on #11599
My example was pointing out that if you allow the optimisation as it is, you can get cases where you have two values `x` and `y`, and at one point `x == y` evaluates to `true`, and at another point to `false`. This means that `==` is not a pure function anymore, and will mess with code that expects that purity, typically hash tables. You could end up in situations where `let () = Hashtbl.add tbl k

[2022-10-21 08:46] Octachron commented on #11026
I tend to agree that using meaningful type variable names in interfaces improve the documentation.

[2022-10-21 08:47] #11560 closed, assigned to nobody

[2022-10-21 09:08] Octachron commented on #11517
I think that updating the documentation is probably a good first step.

[2022-10-21 09:42] lupjo opened #11651 "Add Pair module to Stdlib"
I think a module to handle pair would be welcome. I see these functions in it, maybe I'm forgetting a few more.
Also we could move `fst` and `snd` from stdlib.ml to pair.ml.

**pair.mli**
[code]
**pair.ml**
[code]

EDIT: adding compare and iter

[2022-10-21 10:46] OlivierNicole opened #11654 "Accesses to module fields are compiled as mutable loads"
I realized that accesses to fields of a module are treated as mutable loads, whereas they shoud be considered immutable. This could cause a performance regression between 4.14 and 5.x on architectures where mutable loads are compiled differently from immutable loads, such as ARM.

The access path is first correctly translated to a sequence of immutable reads in Lambda
https://github.com/ocaml/ocam

[2022-10-21 12:11] #11503 closed, assigned to abbysmal

[2022-10-21 13:27] OlivierNicole opened #11655 "Incorrect help message for --force-instrumented-runtime configure option"
Running `./configure --help` says:
[code]
but using the option errors with “unrecognized option”. The flag that actually works is `--enable-force-instrumented-runtime`, which is probably not what we want. I’m not sure how to modify `configure.ac` to fix this, but maybe @shindere will know.

[2022-10-21 13:46] dra27 commented on #11655
This option came in as part of multicore with the aim that it causes the normal runtime to be the instrumented runtime. The option does have to be of the form `--enable-foo` (autoconf) so either we live with the strange name or possibly call it something which reflects that (e.g. `--enable-instrumented-runtime-as-default` or some such).

It's definitely a developer option, though - how useful is i

[2022-10-21 13:57] smuenzel commented on #11599
Yes, I understood. My point was that in the presence of float unboxing, `==` is not pure.

In the current version of ocaml (with flambda), you can recreate the problematic situation with the hashtbl you gave.
I made an example of an alist below.

[code]

[2022-10-21 22:10] shindere commented on #11655
Out of curiosity, what exactly happens when this option is selected? Is
instrumentation added to the default runtime and so it becomes identical
to the instrumented runtime, or is the non-instrumentd runtime not even
build and the instrumented runtime is built and used as the default
runtime, or something different?

[2022-10-22 04:11] carlocab commented on #11554
Related: https://github.com/python/cpython/issues/97524

[2022-10-22 18:51] ggreif commented on #6373
Yep, the bug is still around:
[code]

[2022-10-23 08:58] xavierleroy commented on #11654
It seems to me that nonatomic loads from mutable locations are always compiled as plain "load" instructions, even on ARM64.  It's the atomic loads that need special treatment on ARM64.

At any rate, looking at the ARM64 assembly generated by ocamlopt on trunk for module field accesses, I don't see any barriers.

[2022-10-23 16:47] kayceesrk commented on #11654
@xavierleroy’s observation is correct. It is only the non-atomic stores that get a fence on ARM64, not non-atomic loads. The fence before a non-atomic store ensures that prior loads are not reordered after the store, preserving the load-store ordering.

[2022-10-23 16:51] lpw25 commented on #11654
IIRC the notion of immutable read in cmm and the one in lambda/flambda/clambda are not quite the same, and that is why the immutability is currently dropped in cmmgen. In particular, due to the compilation of recursive values and recursive modules (since #10205), the reads marked immutable in lambda need to be careful not to be moved before some kinds of writes, and I don't think that selectgen wo

[2022-10-24 04:56] #10651 closed, assigned to nobody

[2022-10-24 04:56] #10650 closed, assigned to nobody

[2022-10-24 08:21] Octachron commented on #10650
I tend to agree with closing this issue: readability is a more important concern than horizontal space optimization.

[2022-10-24 08:23] Octachron commented on #9328
I agree that some level of syntactic highlighting will help with the readability of error messages. However, colors are a scarce resources and I am not convinced that syntactic category are the place to spend this resource: I would rather focus on highlighting meaningful differences.

[2022-10-24 09:02] xavierleroy commented on #11654
Yes, there's something fishy with recursive modules (as usual), and it's quite likely that we miss some opportunities for CSE of loads corresponding to module accesses because of that.  But I think this problem is already present in OCaml 4 and is not made any worse by OCaml 5.

[2022-10-24 11:59] OlivierNicole commented on #11654
I see, so it is not a regression, I stand corrected.

In addition to missing CSE opportunities, I had to change this for our work on ThreadSanitizer instrumentation (where we really want to avoid instrumenting memory reads if we can). So far, we did not encounter bugs due to that. But by what @lpw25 writes, maybe we will…

[2022-10-24 12:42] abbysmal commented on #11655
@dra27 This option is not required anymore (as of Eventring). It was used during Multicore's development to have a simple Sandmark workflow, since it required linking against the instrumented runtime.
I do not quite recall the details, it would still build all the runtimes, but swap the default runtime for the instrumented one when linking the programs.
My memory is hazy on the "how", but the why

[2022-10-24 12:43] abbysmal commented on #11655
(hopefully this answers your questions as well, @shindere)

[2022-10-24 12:46] shindere commented on #11655
Enguerrand (2022/10/24 05:43 -0700):

It does yes. Thanks!

[2022-10-24 15:36] gasche opened #11663 "incorrect GC statistics on program exit"
In some cases the option `OCAMLRUNPARAM="v=0x400`, which prints GC statistics on program exit, reports incorrect statistics on trunk (and I suppose 5.0).

Repro case:

[code]

On my machine, running this program on trunk with `OCAMLRUNPARAM="v=0x400"` shows GC stats on program exit with the following:

[code]

it makes no sense to have `heap_words > top_heap_words`, clearly the statistics are wron

[2022-10-24 15:37] gasche commented on #11663
(cc @Engil who worked with me on the GC-statistics code in the past and @lthls who recently tried to figure out weird GC issues to fix an flambda-specific testsuite failure.)

[2022-10-24 21:35] olybeke commented on #11517
hello @Octachron
I'm Oluchi Nwankwo, an outreachy applicant and I would like to work on this issue. I have already set up my Ocaml environment. Can you assign me to work on this issue?

[2022-10-24 21:38] stedolan commented on #11662
This looks like a memory leak in OCaml 5's frametable handling during native Dynlink (i.e. plugin loading), which happily looks easy to fix.

The frame table stores the information about the stack and register contents needed by the GC, kept in a large hashtable (about 2MB here). The frametable is completely rebuilt every time a new module is loaded, which in `frama-c -no-autoload-plugins -load-mo

[2022-10-25 07:13] stedolan commented on #11654
To elaborate slightly: Here are three definitions of "immutable", from strongest to weakest:

  1. There is only one write, initialisation.
  2. All writes precede all reads, so all reads return the same value.
  3. Reads and writes mix arbitrarily, but all reads return semantically equivalent values.

Case (1) covers most immutable fields in OCaml. Case (2) covers `let rec` on values and TMC: the

[2022-10-25 07:39] Octachron commented on #11517
You can try to work on this issue indeed. Note at this stage I suggest that you try to update the documentation in order to describe the current behavior of `Format` with too large geometry.

[2022-10-25 07:58] olybeke commented on #11517
Alright, I will keep you updated on the progress.

[2022-10-25 10:45] mimi-tech commented on #11026
Hi, @Octachron  I am an outreachy applicant. Please can I work on this issue? I have Ocaml running successfully on my local machine. Please also direct me more on which file(s) I am to work on. Thank you.

[2022-10-25 12:18] Octachron commented on #11026
As a first good step, you can try to rename the accumulator type for the `fold` functions in the `Seq` module to `'acc`.

[2022-10-25 12:46] mimi-tech commented on #11026
@Octachron Thanks for replying  I found the change to be here
[code]
This is what I did to fix the issue
[code]
Does it look good? Thank you.

[2022-10-25 12:50] Octachron commented on #11026
You need to update the documentation (in the mli file) and not the code. An issue ticket is also not an ideal communication medium. If you have further questions, may I suggest that you ask them on either discord, irc, or discuss.ocaml.org ?

[2022-10-25 13:25] mimi-tech commented on #11026
@Octachron Alright, thanks.

[2022-10-25 14:03] shindere commented on #11495
My understanding of
`https://stackoverflow.com/questions/17743993/dsym-files-generated-from-comm3/dsym-files-generated-from-command-line-mac`
is that these files and directories are produced as soon as one compiles
C files with `-g` and contain debugging symboles. If that's the case
perhaps the best thing we can do is to add appropriate patters to
`.gitignore` and modify `make clean` to make sure

[2022-10-25 14:29] Mublin commented on #11646
hello, I am an applicant from outreachy, please any issue to work on

[2022-10-25 15:30] shindere commented on #11127
Can we please keep accessibility in mind while discussing these matters?

FWIW, neither colors nor bold, underline, italics are easily rendered in
braille or for users of speech synthetizers.

I am not very excited by unicode either because at the moment it is likely
that Unicod quotation marks will be rendered as quesiton marks in braille
because they have no defined translations in braille table

[2022-10-25 15:37] gasche commented on #11127
I believe that we have configuration tweaks to not use colors in the display. (This is done explicitly if the terminal is detected to be too primitive, but users can also set it explicitly.) In particular, colors should be disabled if the NO_COLOR environment variable is set ( see #10560 ). I would expect a good implementation of 'use colors instead of quotation marks' to revert to quotation marks

[2022-10-25 15:38] dbuenzli commented on #11127
I think that using bold for when colors are requested and single quotes when they are not is an accessible solution.

[2022-10-25 15:40] dbuenzli commented on #11127
"Colors" in the context of terminals means anything that uses ANSI terminal escape sequences (which includes bold) rather than plain text.

[2022-10-25 16:01] Octachron opened #11666 "documentation: missing `since` annotations"
Running the updated `lintapidiff`, there was few missing `since` annotation in the standard library that stands out:
Since those missing annotations sound like a good documentation task for newcomers, here is my current list of known missing annotations that I will try to keep up-to-date until the OCaml 5.0.0 release:

Added in OCaml 5.0
--------------------------

- Module Scanf: `scanf_opt`
- Mo

[2022-10-25 18:22] Oluwabukolab commented on #11666
Hi, I'm an outreachy applicant and I'm interested in working on this issue. Are there any tips you'd give in order to solve this?

[2022-10-25 19:14] Oluwabukolab commented on #9301
Hello, I am an outreachy applicant, I am interested in working on this issue. Are there any tips you have to get started on this?

[2022-10-26 00:54] UnixJunkie commented on #11026
I'll send an exemple PR for the List module interface file.

[2022-10-26 04:38] garrigue opened #11668 "ocamldebug: cannot install a printer after setting a breakpoint"
I am using `ocamldebug` heavily to debug the type checker itself, and I came upon this strange behavior:
(replace `objgraph.ml` by any file you want to typecheck)

[code]

On the other hand it is possible to install it before setting a checking, and in this case it works fine.
[code]

Note that one needs the `load printtyp.cmo` line, despite the error.

All this is rather confusing.

[2022-10-26 06:57] Octachron commented on #11666
You can pick one of the cited module in my list. The next step is then to check that the mentioned functions were added in the cited version using `git switch release_tag_name`. Then you should add a `@since version_number` annotation (you can look at the other `@since` annotation in the module.

[2022-10-26 07:03] Octachron commented on #11026
@UnixJunkie Thank you very much for taking the time to mentor students.

However, the `ocaml/ocaml` repository is not a good teaching platform. In particular, this decreases the signal/noise ratio for all contributors, and there are already many people which finds the repository too noisy to follow.

May I suggest that you either move the discussion to `discuss.ocaml.org` or use your own ocaml for

[2022-10-26 07:12] UnixJunkie commented on #11026
I have not written that I am accepting to mentor any student (if outside of the lab where I work).
I am not affiliated with the outreachy program.

[2022-10-26 07:21] Octachron commented on #11026
Yes, I know I meant that in an informal way. Sorry for the confusion.

[2022-10-26 13:23] dra27 commented on #7665
Just to nudge this a tiny bit further: @gasche, I expect that Python does what we used to prior to OCaml 3.11 which is that `select` is a thin wrapper around the underlying `select` call which in Winsock only supports socket handles. When `Unix.select` is passed a mixture of handles, we use a (necessarily) complicated system to wait on all the different classes of handle separately and then emulat

[2022-10-26 13:27] dra27 commented on #8648
@rwmjones - I'm not totally sure what the status of this is... I think that we do now allow the flags to be passed through the build correctly, but it's possible that there are some additional flags needed for the assembler, still? Is this still an issue with 4.14 in F37?

[2022-10-26 13:30] dra27 commented on #11668
5.0 includes some changes which affect the _toplevel's_ loading of `topdirs.cmi`, but IIRC the debugger's version should be unaffected.

That said, the set-up you're running looks potentially brittle - what's the shebang line for `debugger/ocamldebug`... this runs `ocamldebug` from the build tree but it will be using both a runtime and `dllunix.so` from an installed compiler (is that intentionally

[2022-10-26 13:58] shindere commented on #8648
This is supposed to work now.

[code]

Beware that passing the variables to make rather than to the configure
script is not possible. Neither should they be defined as
environment variable. The only supported way is the one shown above.

[2022-10-26 13:59] #8648 closed, assigned to nobody

[2022-10-26 14:05] shindere commented on #11127
Many thanks for your contribution, @gasche.

I just wanted to raise the question of what should be the default
behaviour. I do realise that one approach is to sue as defautl behaviour
the one that suits most people and it of course makes sense to do it
that way.

On the other hand, having something that is not accessible by default
and needing users to do configuration steps that may be obscure to

[2022-10-26 14:06] shindere commented on #11127
Daniel Bünzli (2022/10/25 08:38 -0700):

Somehow yes, maybe. Just that I don't know how obvious it is for users
how to disable colors in their environment. I also don't know how
portable the `NO_COLORS` variable is.

[2022-10-26 14:17] rwmjones commented on #8648
I will try that next time we do a Fedora build.  We are currently carrying a "dubious" patch to support setting the hardening flags, which I'm quite keen to drop:

https://pagure.io/fedora-ocaml/commits/fedora-38-4.14.0

[2022-10-26 14:23] dbuenzli commented on #11127
Usually people who do not want colors know that setting `TERM=dumb` will suppress them from well behaved tools (ocaml does).

There's no portability problem (unless your system doesn't support `getenv`). Whether to output ANSI escape sequences is under the control of the compiler, the exact logic of when it does is properly documented in the manual under the `-color` option.

[2022-10-26 14:28] shindere commented on #8648
rwmjones (2022/10/26 07:18 -0700):

Please! And feel free to report any problem, I'll be eager to fix.

That shouldn't be necessary any longer, hopefully. I am sorry the issue
had not been closed properly when the PR fixing it got merged. To be
precise, see PR #9837 for CFLAGS and PRs #9191, #10091 and #10182 for
LDFLAGS. Also see commit 84538f7521cbca5ad95f76efd2080fee97acc2f9.

[2022-10-26 14:30] Octachron commented on #11127
One important aspect to keep in mind is that we can start by adding a format style for `inline code` or `quoted` text in order to have one clear notion of quoting in error messages which would already improve the current situation where different error messages use different style for quoting. Then we could choose later how the style is rendered.

@shindere : in term of accessibility, since OCaml

[2022-10-26 14:31] shindere commented on #11127
Daniel Bünzli (2022/10/26 07:23 -0700):

Sorry, I meanst, how many programs actually take this variable into
account.

[2022-10-26 14:37] gasche commented on #11127
NO_COLOR is a sort of informal standard, see <https://no-color.org/>, which contains a long-ish list of software supporting it, and also many terminal libraries used by many other software. (I realize that we should add OCaml to this list.)

[2022-10-26 14:37] shym opened #11669 "Segfault in bytecode program using effects"
We noticed a segfault appearing in the bytecode backend since the release of 5.0.0 β1, triggered by a test exercising effects in @jmid’s multicoretests: [effect_lin_tests_dsl](https://github.com/jmid/multicoretests/blob/main/src/neg_tests/effect_lin_tests_dsl.ml).

Unfortunately I didn’t manage to create a smaller example, but I bisected the compiler and found the bug appears with commit [ce080dae

[2022-10-26 14:38] shindere commented on #11127
Florian Angeletti (2022/10/26 07:31 -0700):

Yes, merely they are ignored by brltty. Wellnot exactly ignored, rather,
not even seen because brltty looks at `/dev/vcsa` which only has the
characters (and the attributes, I think) because the escapbe sequences
have already been interpreted at this stage.

I have `TERM=linux` on my machine, and nothing else with respect to
colors as far as environment

[2022-10-26 14:40] shindere commented on #11127
Oh! Thanks a lot for the link!

[2022-10-26 15:21] dbuenzli commented on #11127
Ah that new `NO_COLOR` "standard" was a pretty bad idea in the first place. Someone else [said it better](https://news.ycombinator.com/item?id=17244313) than I would.

In general the combination of cli switches (`-color` in `ocaml`), a program specific variable (`OCAML_COLOR`, in `ocaml`) and the `TERM=dumb` + `isatty(2)` detection logic is already plenty enough.

But someone thought it was a good

[2022-10-26 17:07] shym commented on #11669
I notice now that I can’t reproduce it on trunk, so it is maybe already fixed.

[2022-10-26 17:27] Octachron commented on #11669
Can you reproduce the issue on the 5.0 branch? More generally, how fragile is the segfault in your tests?

The commit that you linked is not supposed to introduce any semantics changes but it does change the call graph in case of unhandled exceptions and the memory layout of the Effect module. At first glance, it seems possible that that my commit is accidentally triggering a deeper bug.

[2022-10-26 17:27] shym commented on #11669
I finally managed to get a segfault also on `trunk`, but with a different seed and not exactly at the same point of the execution.
[code]

[2022-10-26 17:31] shym commented on #11669
@Octachron It is robust. I repeated the test 10 times in a row on the commit `ce080dae` (failure every time) and `ce080dae^` (success every time). I can reproduce it on `69c5a2bb32` (current `5.0` tip).

[2022-10-26 17:41] shym commented on #11669
[Log](https://github.com/shym/multicoretests/actions/runs/3327302313/jobs/5501954431) on `5.0.0+trunk` a bit earlier today.

[2022-10-26 19:59] lthls commented on #11663
I think the answer is unfortunately rather trivial. If you look at the code of `caml_compute_gc_stats`, `pool_max_words` is very coarsely approximated by taking the sum of the maximums of all the currently domains... but not the orphaned stats.
So you have two domains, one of them terminates and orphans its shared heap, and the program terminates without any other domain adopting the pools. The re

[2022-10-26 20:07] gasche commented on #11663
Thanks for the analysis! I haven't checked but it makes sense.

Why "unfortunately"? I like when bugs have simple fixes.

Are you planning to submit a bugfix PR, or should I try to do it based on your analysis?

P.S.: yes, we should rewrite the computation of `top_heap_words` to be less incorrect. It somehow hasn't found itself on the top of anyone's TODO list yet.

[2022-10-26 22:41] lthls commented on #11663
I was hoping that I would learn more about the multicore GC in the process, but in the end there wasn't much to look at outside the GC stats computation. I did take the opportunity to look at the shared heap implementation though, so not everything is lost.

I'm not planning a PR, but if we forget about this long enough for the stale bot to complain I'll probably feel guilty enough to write and su

[2022-10-27 02:20] garrigue commented on #11668
Using 4.14, there was no problem of timing: you could install a printer at any time.
The error message when loading `printtyp.cmo` was already there, but it was just an annoyance.

Concerning the interaction with installed files, I get exactly the same error if I call `make install` just before, so I don't think this is the cause.

[2022-10-27 09:43] #10259 closed, assigned to nobody

[2022-10-27 11:42] lthls commented on #11669
I tried to reproduce the bug (on trunk), and I can reproduce the bug if I run the command through `dune exec` but not if I run the exact same command manually. This is quite puzzling, and makes debugging very complicated.
I would appreciate if you found a way to trigger the bug without `dune exec`.

[2022-10-27 12:09] gasche commented on #11663
@Engil I missed your self-assignment, sorry about this, but I sent a bugfix proposal at #11671.

[2022-10-27 12:09] gasche commented on #11663
(It would be more work, more useful and more interesting to compute proper maxima at the end of each major GC cycle, to get a meaningful value instead of our shoddy sum of local maxima. I'm not planning to work on this just yet.)

[2022-10-27 12:39] gadmm commented on #11580
At https://discuss.ocaml.org/t/understanding-performance-of-a-multi-core-program/10703/10 there is another example:
[code]
As @lthls explains:

(I tried to build such as example, but apparently I lacked imagination.)

[2022-10-27 13:37] stedolan commented on #11669
This may be because `dune exec` sets up various environment variables. Try doing `dune exec bash` and then running the command manually from within the resulting shell.

[2022-10-27 14:25] lthls commented on #11669
Within `dune exec bash`, nothing segfaults, not even running with `dune exec` again.

[2022-10-27 14:27] shym commented on #11669
I realise now that reproducibility is a bit more brittle than what I thought. In my tests, I sometimes encounter seeds that make it segfault every time, sometimes not.
Anyway, I’ve pushed on my [`effect-bug`](https://github.com/shym/multicoretests/tree/effect-bug) branch a `Makefile` to investigate this without dune. In particular it provides a `look-for-seed` peusdo-target that tries random seeds

[2022-10-27 14:32] goldfirere opened #11674 "Inconsistent treatment of partially applied functions in the recursive-value check"
This was discovered by reading the source code, not because I actually got caught in practice, so feel free to ignore.

I was surprised that the recursive-value check understands skipped arguments but not partial application. For example, the following program is accepted:

[code]

Despite the fact that the RHS of the recursive value is a function application, OCaml knows that the first argument t

[2022-10-27 14:45] Octachron commented on #11674
Skipping an argument with a labelled function is an explicit partial application whereas the second example is a regular function call which might be partial application or not.

I am not sure why an explicit partial application and a function call should be handled identically?

[2022-10-27 14:52] gasche commented on #11674
My own justification for the behavior is that when type-checking `f ~y:[x]`, the type of `f` suffices to determine, by the operational semantics of labelled argument, that this is actually a lambda-abstraction that will block reduction: if `f` has type `... -> y:'a -> 'b`, then we will abstract over everything non-labelled in the `...` before applying `y`.

On the other hand, to know whether `f x`

[2022-10-27 14:57] yallop commented on #11674
Related:
- [let-rec wellformedness check is more restrictive than expected (#7767)](https://github.com/ocaml/ocaml/issues/7767)
- [Fix Mantis PR#7767: interaction between labels and let rec check #1712 ](https://github.com/ocaml/ocaml/pull/1712)

[2022-10-27 15:00] gasche commented on #11674
According to the git history, this specific handling of partial applications introduced by labelled arguments was introduced fairly recently in 741ceef97c1978afb3427049f8d14ded464b47f2, to implement the user suggestion #7767.

The example proposed by the user in that issue is as follows:

[code]

The user (Ivan Gotovchits develops [bap](https://github.com/BinaryAnalysisPlatform/bap)) suggests that

[2022-10-27 23:02] Oluwabukolab commented on #9301
Hello @Octachron, can I work on this issue? Are there any tips to get started? Thank you!

[2022-10-28 00:50] #11663 closed, assigned to abbysmal

[2022-10-28 06:07] shindere commented on #7049
Yes, still an issue.

[2022-10-28 07:29] Oluwabukolab commented on #11646
Hello, are you still working on this @ofonime41? If not can I pick it up? @Octachron

[2022-10-28 07:33] Mublin commented on #11666
any issue available for new applicant
@Octachron

[2022-10-28 07:42] gasche commented on #9301
@Bukolab99 there is already work in progress on this issue ( #11398 ) so I would recommend looking at something else.

[2022-10-28 07:50] Oluwabukolab commented on #9301
Alright. Thank you!

[2022-10-28 08:41] Octachron commented on #11666
@Mublin for a first issue, I suggest the documentation issue #11026: more specifically, you can focus on the `Array` module as a first step.

[2022-10-28 08:44] Mublin commented on #11666
Thank you very much… on it now

[2022-10-28 09:35] Oluwabukolab commented on #11517
Hi @olybeke, are you still working on this? If not, can I pick it up?🙂

[2022-10-28 09:48] Octachron commented on #11235
This sounds like sensible feature with straightforward implementation.
For interested outreachy students, the warnings are matched to the constructor `Unused_constructor _` and `Unused_field _` inside the compiler. The change requires to find the location where each warning is used and ensure that attributes on the constructor or labels are taken in account in the current warning scope.

[2022-10-28 09:57] Oluwabukolab commented on #11235
I'd like to work on this issue.

[2022-10-28 11:21] kit-ty-kate commented on #9116
Can someone reopen this?

*also on a tangent, regarding the stale bot, since it was "following the example set by opam-repository" (c.f. https://github.com/ocaml/ocaml/pull/9530): https://github.com/ocaml/opam-repository/pull/22288*

[2022-10-28 11:36] Octachron commented on #11235
Don't hesitate to go ahead then.

[2022-10-28 13:38] Octachron commented on #11127
@shindere Thanks for your answer! Taking in account your settings, I have the impression we cannot rely on the `TERM` settings to know if we can use only colors in the cases where quotes are absolutely required.

Maybe in this case, we could use both double quotes and bold ("**rec**") except if colors were explicitly requested (with `-color` or `OCAML_COLOR`). The other options is to just homogene

[2022-10-28 13:48] shindere commented on #11127
You are indeed correct that there is nothing that would make it as easy
to scan a text in braille as it is when reading with eyes. One situation
where quoting may be useful is when the text is not just an identifier
but an expression with spaces etc. In this situations, quoting may be
helpfull. Also, I remember having thought at several occastions that I
found the idio `this expression` in error m

[2022-10-28 13:59] shym commented on #11669
With that new strategy of trying many random seeds, I ran again bisection. Three times in a row (so trying completely different seeds), it ends up pointing to c77ce613de51671f425d6a3e30ac5fd05417f286 (see for instance [log](https://github.com/shym/multicoretests/actions/runs/3344758175/jobs/5540627921#step:5:79361) of the last run). Which is modifying the C code of the interpreter, a more likely c

[2022-10-28 14:27] gasche commented on #9116
Ah, yes, the stale bot is fairly controversial among OCaml maintainers. I'm in the camp that strongly dislikes the stale bot, but we didn't win this argument. I'm worried that if we make too much noise about this, the stale-botters are going to suggest tweaking the setting from "post a comment every six month" to "automatically close the issue after six month" -- so, they will claim in their evil

[2022-10-28 15:42] dbuenzli commented on #9116
You should still take into account that's not only a maintainer issue. It's an issue for all of us interacting with this repo and trying to improve the OCaml system.

Each time I receive 30 stale bots messages and the generally at least 2 * 30 messages that follow to basically do nothing about it, I'm on the verge of stopping to follow the ocaml repo.

Another effect it had on me is that I persona

[2022-10-28 15:43] olybeke commented on #11517
Hello @Bukolab99 you can go ahead with the issue.

[2022-10-29 08:10] ofonime41 commented on #11646
I've open a pull request on this @Octachron. Kindly review.
https://github.com/ocaml/ocaml/pull/11672

[2022-10-29 12:30] gasche opened #11681 "[multicore] does Hashtbl respect separation?"
I say that a data structure "is separated" or "respects separation" if operations on logically-disjoint parts of the structure are data-race free. (More formally, if the ownership of sub-parts of the structure obeys the expected separation-logic equation: `S[A \uplus B] = S[A] \star S[B]`.) For example, OCaml arrays are separated: two domains can read and write at different positions in the array

[2022-10-29 13:36] johnwhitington commented on #11495
@shindere But this doesn't explain why this is new behaviour in OCaml 5.

[2022-10-29 21:51] DemiMarie commented on #9459
@yallop’s solution _is_ guaranteed to be safe, though.

[code]

is safe for *any* type `ast`: if `ast` is covariant, then the use of `Obj.magic` is safe, and if it is _not_ covariant, the code won’t compile.  The only way to break this is to come up with a value of type `empty`, but doing so is _already_ unsound.  I agree that asking individual users to write this is a bad idea, but a better solut

[2022-10-31 13:09] stedolan commented on #11681
I like this idea in principle - from a memory-model point of view, you'd say that a `'a Hashtbl.t` is semantically a `'a ref` per key (well, a `'a list ref` because of the weird multiple-binding semantics of `Hashtbl`, but let's ignore that). This is a semantics that's weaker than a standard concurrent hashtable, because you're still allowing weak effects on individual entries, and not imposing pa

[2022-10-31 14:20] alainfrisch opened #11684 "Excessive stack usage with the linear scan register allocator"
I observed in some real-life code a stack overflow in a recursive function with a seemingly reasonable calling depth.  After some investigation, it seems the cause is a very wasteful register allocation due to the use of the linear scan allocator (which we use for non-release builds).  Here is a reproduction case:

The following program compiled with -linscan:
[code]

uses a 88-byte stack frame:
[

[2022-10-31 14:29] gasche commented on #11681
Indeed, resizes are the problem because they affect all buckets at once, so they break separation. I don't know how to do this without reader-writer locks, but I thought I would ask anyway. It is infuriating because we expect resizes to be a very uncommon operation. Dynamic arrays have the same problem.

(Note: this "separation" property sounds very natural, but I don't know much about concurrent

[2022-10-31 15:16] dra27 commented on #11684
xref #11103 (as a usage example for that PR, not because it has a fix for this issue)

[2022-10-31 15:55] nojb commented on #11684
See #11686

[2022-10-31 15:58] alainfrisch commented on #11684
Our implementation of the linear scan algorithm forces using a fresh stack slot for each pseudo register marked during the Spill phase. This doesn't seem optimal.

[2022-10-31 16:00] nojb commented on #11684
Indeed! See #11686 for a possible approach.

[2022-10-31 18:06] alainfrisch opened #11687 "Recursion depth can be limited by the complexity of "unrelated" code paths"
This is a "spin-off" of #11684, to serve as a documentation for a behavior that users might not be aware of, and possibly as a place to discuss possible improvements.

Consider some code like:
[code]

The complex expression for the `C` case needs to spill many values to stack slots (arguably, the compiler could do better by computing partial sums and reusing stack slots, but this is another story,

[2022-10-31 23:16] DemiMarie commented on #11681
What about guaranteeing that replacing keys _already in the table_ respects separation, so long as there are no concurrent resizes?  The same would work for dynamic arrays: it is safe to operate on different elements of the array concurrently so long as nobody is changing the array size.

[2022-11-01 11:24] goldfirere commented on #11674
Thanks for these responses. I'm completely persuaded by @gasche's https://github.com/ocaml/ocaml/issues/11674#issuecomment-1293645102. I will close.

[2022-11-01 11:24] #11674 closed, assigned to nobody

[2022-11-01 17:10] mimoo opened #11689 "Introduce a one-liner comment syntax?"
Hey hey. I've been wondering why OCaml doesn't have a one liner comment syntax, something like `#` or `//` in other languages. I find it quite tedious to always have to close a comment opener for short comments, or quick commenting.

[2022-11-01 17:12] mimoo opened #11690 "module type syntax"
It seems like I can write a module type in lower cases, or in upper cases, and it works. It also seems like the manual shows an all uppercase syntax when using module types: https://v2.ocaml.org/manual/moduleexamples.html

should this be enforced by the compiler?

[2022-11-01 17:33] dra27 commented on #11689
See #671 🍿

[2022-11-01 17:40] dra27 commented on #11690
The syntax aims to be as liberal as possible, while remaining possible to parse (see the table in https://v2.ocaml.org/manual/names.html) - what do we gain constraining it more than it needs to be?

[2022-11-01 17:41] mimoo commented on #11690
Homogeneity. If every codebase looks different then it'll be hard to work with OCaml.

[2022-11-01 17:49] Octachron commented on #11689
Let me close this duplicate issue.

[2022-11-01 17:49] #11689 closed, assigned to nobody

[2022-11-01 17:51] mimoo commented on #11689
@Octachron can you link to the other issue that's open?

[2022-11-01 17:52] Octachron commented on #11689
You can discuss on the closed issue and see if you can bring enough arguments to convince people to reopen the issue.

[2022-11-01 18:00] Octachron commented on #11690
Personally, I prefer lower-cased names for module types (`Monoid:monoid`) rather than the screaming-cased variant (`Monoid:MONOID`).

Anyway, as a general language evolution criterion, we don't break backward compatibility if we can avoid it.

Since this feature wish only proposes to break backward compatibility, it is in direct conflict with this policy.

If you have arguments, don't hesitate to

[2022-11-01 18:00] #11690 closed, assigned to nobody

[2022-11-01 18:03] mobileink opened #11691 "use of undeclared identifier 'asm' (c11)"
I'm working on support for alternate C compilers (zig, llvm) and cross-compilation using Bazel. I came across this minor problem when compiling with `--std=c11`:

[code]

The fix is easy, just use `__asm__` instead of `asm`.  See [Alternate Keywords](https://gcc.gnu.org/onlinedocs/gcc-7.2.0/gcc/Alternate-Keywords.html#Alternate-Keywords).

[2022-11-01 18:20] Octachron commented on #11689
I forgot that #671 was a PR . Let's avoid putting more pressure on the PR author and let's use this issue for discussion purpose.

This doesn't change the fact that there is no plan to introduce one-line comment without a well-though proposition that preserves backward compatibility.

[2022-11-01 18:33] anmonteiro opened #11692 "GC doesn't print verbose output with OCaml 5"
The following program is very verbose on 4.14, but produces no output at all in the stderr on OCaml 5:

[code]

[2022-11-01 18:41] mimoo commented on #11689
I'm fine with `(*)` personally, I don't care much as long as there's something

[2022-11-01 18:42] mimoo commented on #11690
I guess there really needs to be an official linter for ocaml (like clippy) that can do this work

[2022-11-01 18:54] nojb commented on #11691
Sounds reasonable.

[2022-11-01 19:03] abbysmal commented on #11692
Thank you very much for your report: there is indeed a regression here.

The fix is not quite straightforward and requires a bit of decision making.

Currently, this setting is stored in `caml_params`, and not in a global value (like on 4.14's `caml_verb_gc`), nor in `Caml_state`.

The question is, do we want to make it a global variable, or a domain local value? If it is to be a global variable,

[2022-11-01 20:16] jberdine commented on #11687
I have seen significant performance gains from manually performing transformations analogous to lifting the C case to its own function. In my cases the key was to make the hot case a separate function that was then small enough that flambda would/could productively unroll and inline it. (The results are more dramatic when the B case is not even recursive, but then that is far from the concern abou

[2022-11-02 04:42] #8463 closed

[2022-11-02 06:50] kayceesrk commented on #11692
Since verbose output is for debugging, I would prefer to just have it set globally. Regarding implementation, it would be simplest to make `verb_gc` field in the `caml_params` an `atomic_uintnat` and use relaxed atomics to read and write the value. This should fix the bug.

[2022-11-02 20:51] kit-ty-kate commented on #8352
Can someone reopen this? It seems to be worked on by Xavier (see linked commits above)

[2022-11-02 21:02] abbysmal commented on #8352
Thanks for noticing, reopened.
I think the commit messages makes it a bit unclear: is this issue addressed by the aforementioned commit? Or is it just a part of the overall fix?
cc @xavierleroy

[2022-11-02 21:16] abbysmal commented on #11692
Thanks for your answer.

It cannot quite work because `caml_params` cannot be mutated after initialisations.
I decided to revert to the previous approach: having `caml_verb_gc` a global relaxed atomic uintnat.

I have a branch implementing it but I noticed it needs a little bit more work because the verbose values are not quite aligned with what is going on in 4.X.
(for example: `0x1` is the mask

[2022-11-03 03:23] kayceesrk commented on #11692
Thanks. I had also noticed the differences in the past. They do not seem necessary. Best to align them if possible.

[2022-11-03 11:03] Ekdohibs opened #11695 "Large amount of no-op spill-reload in some programs"
Consider the following program:
[code]
When compiled with `ocamlopt spill.ml -c -S` (tested with 4.12.0, 4.14.0 and 5.0.0~alpha1), we get assembly code containing the following large number of reloads immediately followed by a spill to the same location, where the reloaded variable is unused:
[code]

Interestingly, removing the single variable `m` makes all these spill-reload pairs disappear, and

[2022-11-03 12:31] nojb commented on #11695
Just after insertion of reloading code, the generated code looks like:
[code]
which "makes sense" (eg the reloaded `a/100` is used in the assignment `a/47 := a/100`). But then the moves between identical registers are (correctly) removed, which leaves some useless reloads in place.

[2022-11-03 16:10] gadmm commented on #11580
To avoid adding polling points and to preserve code size, the proposed solution was to force a check every N words of allocated stack for N large (e.g. >1KB). However this is not enough since the example suggests that even with small amounts of stack, a recursive function can take a long time without polling.

There is another solution that avoids inserting new polling points with the current poll

[2022-11-03 16:11] dra27 commented on #11495
This looks like a bug in https://github.com/ocaml/ocaml/pull/11240/commits/6a2724edc180673f629e2a380c80fef8450bb663 is to blame here. The intent of that commit is to ensure that all the C files in the system are compiled with `-g`, but the `-g` flag "leaks" into `Config.mkexe`. One can see that on branch 4.14, `./configure && make -j utils/config.ml` that `Config.mkexe` does _not_ include `-g` but

[2022-11-03 16:40] lthls commented on #11695
I observe that on this particular example, turning off the superpressure feature in `Spill` gives a much more reasonable output.

I wonder if we should completely remove it, or at least decrease the estimated pressure generated by move instructions (which are likely to reuse an existing register).

Independently, we could also try to remove redundant spills or reloads at some point, though I'm not

[2022-11-03 23:42] gasche commented on #11580
This sounds like a very nice solution to me.

I think the key idea is that if the call chains are assumed bounded, then there must be an approximate balance of calls and returns in long sequences of poll-free instructions, so in particular checking only on calls (or only on returns) is enough.

(There may still be something we can do about the unbounded case, but this can be discussed later.)

Reg

[2022-11-04 00:44] gadmm commented on #11580
Thanks, this helps, you dug deeper than I managed. In the meanwhile I have been running Ackermann(4,2) for about four hours (in a version tweaked so that it does not poll) and it is not yet close to triggering a stack overflow (it is currently at about 65MB of stack usage).

[2022-11-04 08:38] dra27 commented on #10724
Assuming the work I've been doing for the "relocatable" compiler lands, "most" users will always be using the fallback (because that expands the shebang to a small POSIX script), so I'm not totally convinced that it would be worth the effort of probing for the _maximum_ possible shebang. However, it's not yet landed, and "most users" is not "all users", so I think this should stay open for now. Th

[2022-11-04 09:04] shindere commented on #10724
David Allsopp (2022/11/04 01:38 -0700):

Well, I'd guess that configure can possibly help to determine this for
the build platform, but I'm a bit worried about how it wouldd be able to
say anything about the host platform, not to mention target.

[2022-11-04 10:28] #11684 closed, assigned to nobody

[2022-11-04 14:46] #11629 closed, assigned to nobody

[2022-11-04 16:42] mobileink opened #11700 "bug in yacc/closure.c"
Sorry I'm not set up to make a PR yet, but for the record:

The prototype of `print_closure` is off.  I think it should be:

[code]

https://github.com/ocaml/ocaml/blob/2bfc020aa75fdf00f0d51e9d16ffccad2e074345/yacc/closure.c#L31

https://github.com/ocaml/ocaml/blob/2bfc020aa75fdf00f0d51e9d16ffccad2e074345/yacc/closure.c#L192-L194

https://github.com/ocaml/ocaml/blob/2bfc020aa75fdf00f0d51e9d16ffcca

[2022-11-04 16:49] shindere commented on #11495
I believe that https://github.com/ocaml/ocaml/pull/11701 should fix this ussue. Coudl someone with access to MacOS double-check, please?

[2022-11-04 17:24] nojb commented on #11700
Clearly correct, fix in #11703

[2022-11-04 17:29] #11700 closed, assigned to nobody

[2022-11-04 23:11] gadmm commented on #11580
- Could polling using `stack_limit` be used to avoid polling at the start of the function in some situations (and reduce code size)? Unfortunately the logic for adding a poll is in Selectgen but the logic for calling call_realloc_stack is later in Emit so this looks like some work to implement.
- If inserting poll in Selectgen is necessary for correctness for the GC, would this also be the case fo

[2022-11-05 11:24] johnwhitington commented on #11495
Happy to test this, but what is the modern way to check out an opam switch with a PR? The instructions here seem out of date:

https://github.com/ocaml/ocaml-pr-repository

[2022-11-05 11:27] nojb commented on #11495
See https://github.com/ocaml/ocaml/blob/trunk/HACKING.adoc#testing-with-opam

[2022-11-05 11:45] johnwhitington commented on #11495
Thanks. I have tried:

[code]

But no luck. Google does not reveal how to get a better URL for the `fix-mkexe-exp` branch, and clicking on the "Code" button does not include it in the URL either.

[2022-11-05 12:11] shindere commented on #11495
Perhaps try

git+https://github.com/shindere/ocaml#fix-mkexe-exp

(found on the man page for opam pin)

[2022-11-05 12:41] johnwhitington commented on #11495
Thanks. For reference, the right commands were:

[code]

However, due to poor hotel Wifi, I suspect, it failed every time after a few minutes with:

[code]

So I'm afraid someone else will have to verify this patch works.

[2022-11-05 12:50] shindere commented on #11495
Well the patch is small so you could as well download it and create a
local branch with it, on top of the 5.0 branch for instance, and then
you could pin to that.

[2022-11-05 13:23] johnwhitington commented on #11495
The patch works. The dsym directory is no longer created.

[2022-11-05 13:25] shindere commented on #11495
John Whitington (2022/11/05 06:23 -0700):

Ah cool! Thanks!

And congrats to @dra27 who understood where the problem was coming from.

[2022-11-06 09:43] #11495 closed, assigned to nobody

[2022-11-06 15:21] #11669 closed, assigned to nobody

[2022-11-06 17:51] xavierleroy commented on #8352
Those commits you see are an experiment of mine, using "bigbytes" (1D bigarrays of characters).  I'm not satisfied with the results, which is why I haven't submitted it as a PR, and probably will not in the future.  A more promising direction, outlined at the latest developer's meeting, is to have a way to allocate byte arrays that are guaranteed not to be moved by the GC.  This would be very usef

[2022-11-06 17:52] xavierleroy commented on #8352
As a rule of thumb: everything Github shows you of my activity which is not submitted as a PR should be ignored.

[2022-11-06 17:57] xavierleroy commented on #11695
I still don't fully understand what's going on with this example.  However, excluding "move" instructions from the "superpressure" heuristic sounds like a good idea.  I still believe the heuristic is useful for "normal" instructions, i.e. those that need a fresh register to store their results.

[2022-11-06 21:40] gasche opened #11707 "questions on busy-waiting and CAS contention in compiler distribution and user documentation"
### TL;DR

Concurrent-programming experts on the internet say that busy-waiting is a bad thing, and that CAS contention causes high overheads in contended settings. I looked at what we do in the Multicore runtime and what we encourage our users to do, and it seems that we are not always following best practices. This issue discusses what I understood and proposes some mostly-simple changes for dis

[2022-11-07 04:29] #7338 closed, assigned to nobody

[2022-11-07 04:29] #6294 closed

[2022-11-07 09:58] #11691 closed, assigned to nobody

[2022-11-07 11:37] dbuenzli commented on #8352
Is there more public information/discussion about that ?

This could be quite a game changer for some API designs. The bigbytes/bytes split is a big pain of the system at the moment.

[2022-11-07 11:57] gasche commented on #8352
There will by the end of this message :-)

Here are my relevant notes from the dev meeting:

Additional context from my memory: currently OCaml 5 does not support compaction, and every meeting for a few years has briefly discussed this at some point. Many workflows don't fragment that much and don't need compaction. (This is especially true with the best-fit policy for the major allocator, but not

[2022-11-07 11:58] lthls commented on #11695
I did a few small experiments this week-end. I tested the example from this PR and also checked the assembly code generated for `typecore.ml` to see the effect on normal OCaml programs (with a very small sample).

First, the trunk version. For `typecore.ml`, trunk is the reference so there isn't anything to say. For the example here though, `Selection` generates code containing a number of "rotati

[2022-11-07 12:24] gasche commented on #11707
Note: I am myself unsatisfied with the strong backseat-driving vibe in this issue. I'm asking critical questions on code written by people that know much more than I do about this topic, and have done much more work to make it work in the OCaml codebase. I hope it is clear that the intention is not to be negative about what is there, but to understand whether there indeed are issues or not, and po

[2022-11-07 17:15] gadmm commented on #11707
This issue reminds me of the prototype multicore implementation of lazy that advocated busy-waiting with `cpu_relax`, which turned me sceptical because I also read a colorful quote of Linus warning about spinning in userland (this prototype was not merged eventually).

Probably spin-waiting should not be advocated without appropriate context in examples for users, and it would be nice if uses of `

[2022-11-07 17:52] gasche commented on #11707
(cc also @xavierleroy, @kayceesrk, @ctk21 and @Engil who know more about this and might want to comment.)

[2022-11-08 00:24] phated commented on #11531
@dra27 I hope you don't mind me pinging you again, but ubuntu 22.04 is starting to roll out everywhere (CI, our users) now and they updated GCC to a version that won't compile OCaml 4.12.0, so having Windows static linking in a newer version of OCaml has become a much higher priority.

Is the remaining work to backport #11586 to the 4.x branches or do other fixes need to happen?

[2022-11-08 04:49] kayceesrk commented on #11707
Firstly, thanks for thinking about this and asking tough questions. Just recording my initial thoughts here. I will save the answer to specific issues for later. As @gadmm, there are many interconnected issues being discussed here, and it is possible that way may try to pry apart some of these to make forward progress.

## Manual

Firstly, regarding the manual, my primary intention to describe the

[2022-11-08 04:51] kayceesrk commented on #11707
`cpu_relax` doesn't make sense here unless perhaps the lock is a `try_lock`?

[2022-11-08 09:30] shym commented on #11669
I just double-checked: I can’t reproduce the bug neither on current 5.0 branch nor on c77ce61 + that patch.
:+1:

[2022-11-08 13:29] Octachron commented on #11662
The memory leak has been fixed by #11673. There is still a regression in time complexity when loading plugins with many modules. However, this should however be less noticeable in user code and an hypothetical fix can wait for 5.1 .

[2022-11-08 13:29] #11662 closed, assigned to nobody

[2022-11-09 04:32] DemiMarie commented on #10001
Still a problem unless something has changed.

[2022-11-09 04:32] DemiMarie commented on #10001
@dra27 do you have a draft of your fix anywhere?

[2022-11-09 05:07] DemiMarie commented on #7853
@gasche: reminds me of Rust and mrustc.  Even if it could only bootstrap old Rust versions, that was enough to prove the absence of a trusting trust attack.

[2022-11-09 10:03] dra27 commented on #10001
I'm afraid I don't appear to (it looks like the worktree I was using might have got overwritten before committing)

[2022-11-09 10:10] DemiMarie commented on #10001
Darn!  How long did it take to implement?

[2022-11-10 19:19] mobileink opened #11714 "Hardcoded #define NDEBUG in yacc/defs.h"
https://github.com/ocaml/ocaml/blob/43c320501271c031052e2b62ec34e933a0d8f36a/yacc/defs.h#L18-L20

On a Mac (12.6, Apple clang version 14.0.0 (clang-1400.0.29.202)) this causes an error when -DNDEBUG is passed on the command line:

[code]

[2022-11-11 07:39] MSoegtropIMC commented on #10749
Github reminded us that it has been a year since we last discussed this.

I am still in favour of the solution suggested by @dbuenzli on Nov 7 2021 (make sure bidirectional formatting cannot have an effect outside of string literals).

My question: is there a consensus on this and the question is only who does it, or are there objections against implementing this suggestion (assuming one can find

[2022-11-11 08:05] gasche commented on #10749
Yes, I think that there is a consensus, but no one has offered yet to work on it.

[2022-11-11 08:09] xavierleroy commented on #10749
I'll offer a dissenting opinion: this "bidi attack" would be better handled by tools that display source code (editors, IDEs, Github/Gitlab) than by compilers.  I think Github already warns in this case.

[2022-11-11 08:24] MSoegtropIMC commented on #10749
The downside of handling this on the editor side is that for one given language there are many editors / code viewers, but only one compiler. And different people have different preferences here. So while in a given SW project one has detailed control over the compiler used, one has very little control over the editing tools used. Also I am quite sure that forcing people to use certain editors wil

[2022-11-11 08:26] MSoegtropIMC commented on #10749
P.S.: I just tested again the sequence posted in this [comment](https://github.com/ocaml/ocaml/issues/10749#issuecomment-961982087) in VSCode - no warning

[2022-11-11 08:59] dbuenzli commented on #10749
Personally I still think that this is a very well marketed POC – which given where it comes from is not surprising, people are keen to issue press releases there. However turning it into a real attack vector is likely to prove quite challenging.

There are quite a few tools, starting with terminals which are likely to show you the emperor naked. If I wanted to introduce vulnerabilities in code wit

[2022-11-11 09:41] dra27 commented on #11714
In terms of understanding the problem, why are you passing `-DNDEBUG` on the command line?

[2022-11-11 09:51] dra27 commented on #11714
That said, the macro has been defined in one way or another since the very beginning (61bd8ace6b), but as far as I can see never used - a PR to remove those lines should clearly be fine (still curious as to how you hit this, though 🙂)

[2022-11-11 10:45] MSoegtropIMC commented on #10749
@dbuenzli : thanks for the Unicode working group link - the PDF linked from there is interesting.

Since the PR linked by @DemiMarie would open another can of worms (confusables), I guess it would be best to wait until the OCaml + UTF-8 question is decided and the Unicode experts come up with a recommendation.

Indeed meanwhile I can just use a simple script to check this as long as I don't need a

[2022-11-11 11:26] dbuenzli commented on #10749
It doesn't if [this simple plan](https://github.com/ocaml/ocaml/issues/10749#issuecomment-962102708) is followed.

[2022-11-11 12:14] MSoegtropIMC commented on #10749
The discussion in the PR was quite heated - from the up and down votes I concluded that the consensus tended more towards allowing arbitrary unicode identifiers - not just those available in Latin-1. But it is definitely hard to tell what the outcome of this discussion is.

[2022-11-11 14:26] dbuenzli commented on #10749
Well there's pies in the sky and what the PR actually does which is to enforce that identifiers are US-ASCII only and sources UTF-8 encoded (which enables UTF-8 encoded string literals and comments).

So the PR doesn't open any can of worms, let's not make it look at more complicated than it is.

[2022-11-11 14:59] #10664 closed, assigned to nobody

[2022-11-11 14:59] mobileink commented on #11714
The Bazel CC toolchain on the Mac inserts it when run with `--compilation_mode=opt`.

I was a little surprised this hasn't come up before, given that the point of NDEBUG as far as I can see is to allow disabling asserts by passing -DNDEBUG. But evidently assert is not used in the runtime, only in yacc and some testsuite code. I gather yacc is very stable and little used.

[2022-11-11 15:06] dra27 commented on #11714
Indeed, I can see why it became defined this way in #1114 (in terms of what was being done to OCaml's build system at the time), but it looks like that was a mistake.

Would you be able to submit a PR removing those lines?

[2022-11-11 15:22] mobileink commented on #11714
I'll put it on my todo list. Might not be able to get to it in the immediate future, but it's not high priority I think.

[2022-11-11 15:44] xavierleroy commented on #10749
In my life as a programmer, there are only two editors / code viewers (Emacs and Github), but many compilers: OCaml, GCC, Clang, CompCert, LaTeX, various scripting languages...  Handling "bidi" attacks in every compiler feels like a terrible duplication of effort to me.

[2022-11-11 17:51] xavierleroy commented on #10749
Since this old topic is coming back, I thought I'd submit my old proof-of-concept as a draft PR: #11717.  Perhaps the discussion can continue there.

[2022-11-11 18:53] MSoegtropIMC commented on #10749
This is the perspective of an individual developer. Please also put yourself into the perspective of a single industrial project with 100s of developers. There the ratio between numbers of compilers and number of editors is quite opposite - and IMHO also the conclusion on what is a duplication of effort.

Please consider which of these perspectives is more relevant for the topic we are discussing

[2022-11-11 20:00] Octachron commented on #10749
I am not sure what is supposed to be the threat model for a industrial project with 100s developer for such unicode confusion attack?

As far as I understand, the context where the attack may make sense is for an open source project where it could possibly happen in theory under rare circumstance that a patch request might be different of what it appears to be with a clever use of BIDI characters.

[2022-11-11 20:30] gasche commented on #10749
Personally my opinion on the topic is simple: there is a spec that makes sense, so if someone was motivated enough to implement it (and the implementation does not seem like a terrible maintenance burden), I would support integrating it in the compiler. I'm not particular asking for someone to do it either.