[2021-03-18 09:44] #9050 closed, assigned to nobody

[2021-03-19 04:58] nojb commented on #9369
This is still an issue and am working on it in #10159

[2021-03-19 08:45] alainfrisch commented on #7935
I think the issue is still relevant.

[2021-03-19 08:48] Octachron commented on #7599
The magic numbers have been documented in `utils/HACKING.adoc`. (Improvements are always possible)

[2021-03-19 08:48] #7599 closed, assigned to nobody

[2021-03-19 13:57] pkhry commented on #9295
I added a pull request, will be happy to fix any issues with it

[2021-03-19 17:45] dra27 opened #10302 "Incorrect code generated for Bytes.get_int64_le on ppc64"
[code]
on ppc64 generates:
[code]
which gives assembler error "operand out of domain (1 is not a multiple of 4)".

[2021-03-19 18:42] xavierleroy commented on #10302
Well spotted.  We need to be more careful during instruction selection and not select the `ld OFFSET(reg)` and `sd OFFSET(reg)` forms unless OFFSET is a multiple of 4.

[2021-03-19 19:22] bschommer commented on #10302
Seems to me that the gnu assembler here might be more strict, from the PowerPC ISA Document I can get the following restriction for load/stores with DS-FORM:

tions is a word offset, not a byte offset like the D
field in D-form Storage Access instructions. How-
ever, for programming convenience, Assemblers
should support the specification of byte offsets for
both forms of instruction.

[2021-03-20 08:36] xavierleroy commented on #10302
I read this documentation as "in assembly language, the offset is given in bytes, but it must be a multiple of 4 because in the opcode it is stored as a word offset".  So, the GNU assembler is doing the right thing by rejecting `ld 21, 1(11)`.

[2021-03-22 04:48] smuenzel-js commented on #10298
I believe the inferred type is documented here:
https://caml.inria.fr/pub/docs/manual-ocaml/moduletypeof.html#s%3Amodule-type-of
And it looks like this is intentional: "To make this module type reusable in many situations, it is intentionally not strengthened: abstract types and datatypes are not explicitly related with the types of the original module."

[2021-03-22 06:01] garrigue commented on #10298
Actually, this entry of the manual is about the `module type of` construct, which is not used in this example.
And I don't see any formal reason here that `Res_ko` should be different from `Res_ok2` here.

Actually, this seems related to both functor and its argument having no name.
[code]

Looking at the code, it seems that the reason is that, when typing an application whose argument is not name

[2021-03-22 09:58] gasche commented on #9372
Reproduced on 4.12.0. This issue is not stale.

[2021-03-22 10:00] bschommer commented on #10302
Make sense, that is by the way the only place were I could find any restriction in the ISA Manual.

[2021-03-22 10:48] gasche commented on #9370
I don't think the two code examples are really comparable. In the second example, the notation is made available in scope by `open`, and it is not shadowed by the redeclaration. If you shadowed the definition of `.(%[])`, you would observe issues similar to the shadowing of `String` or `String.get` in the first example.

It is certainly true that the specification of these two constructs is not co

[2021-03-22 10:48] #9370 closed, assigned to nobody

[2021-03-22 10:55] xavierleroy commented on #10298
With your proposed patch, if I'm not mistaken, the `sttn` parameter is always `true` and can be removed.  Then the code is back to how I wrote it in OCaml 1.00, namely all module identifiers have their types strengthened.

It's you @garrigue who introduced this special case in commit c1450ca75 as a fix for #4933.  I don't understand why not strengthening is an appropriate fix but maybe you can exp

[2021-03-23 05:08] garrigue commented on #10298
Thank you @xavierleroy for reminding me that I should think of blaming myself before blaming others.
Indeed, `sttn` comes from #4933, and is an answer to the dilemma one faces when given the choice between a private abbreviation and a public one, that should subsume it, but may end up becoming abstract. Since there is only one slot to put the abbreviation, one has to choose one or the other. The p

[2021-03-24 07:03] gasche commented on #8659
@dra27, @shindere, does any of you have opinions on how to move forward on this issue? If not, or if it's not something you want to look at in the medium term, maybe we could close?

[2021-03-24 08:54] shindere commented on #7143
No reaction since this has been submitted so I'd suggest to close, at
least for the moment.

[2021-03-24 09:01] shindere commented on #8659
So if we have two variables, one meaning hte files it contains can be
symlined, the other saying that the listed files must be copied, that
will solve theproblem, right?

If we all agree on this, then perhapsthe only thing that needs to be
decided is what the names ofthe variables should be and then we can
implemnet the solution and move on?

[2021-03-24 09:18] dra27 commented on #8659
I still think this is a good idea, but I'm not going to be working on it soon, indeed. We have an issue that the idea of longer-term "we agree this would be a good idea to do this at some point" and the "close stale issues bot"/"don't leave PRs lying around" are in conflict! The original test bitten by this issue actually needed to work around it in a different (to deal with line endings), but the

[2021-03-24 09:25] gasche commented on #8659
re. issue management: personally I think that a "suspended" tag would be fine (and we could leave the issue open in this status), if we use it with care. Sounds easier than having to decide how to structure a ROADMAP file.

Regarding the naming itself: if I understand, currently `files` means immutable files (that can be symlinked.) I would suggest maybe `local_files` or `copied_files` for the one

[2021-03-24 09:26] shindere commented on #8659
@dra27: can we perhaps remian close to the topic itself and not going
too high?

I'm willing to implemnet the solution if we can agree on what it should
be and if it's simple.

Do you like the two variables approach, or not?

If yes, can we agree on the names?

[2021-03-24 09:29] shindere commented on #8659
Thanks, @gasche.

We could also rename `files` to something else and less ambiguous, e.g.
`symlinked_files`, so we would have this and `copied_files`.

As I said, I wouldn't mind doing the job once we agreed on what it
should be.

[2021-03-24 09:42] gasche commented on #6600
I heard that @lpw25 is planning to submit his improved short-paths implementation any time soon!

[2021-03-24 09:46] gasche commented on #7386
I still believe that "at the head of the same or-pattern" or "at the head of clauses" is a good criterion to propagate qualifying modules or do multi-label disambiguation, because it is simple, predictable, useful in several situations and consistent with what we do for record fields. I am putting "implementing this" on my medium-term TODO-list, please complain if you don't like the idea!

[2021-03-24 10:06] #7017 closed, assigned to nobody

[2021-03-24 10:36] jberdine commented on #7386
I think this would be valuable. This is something to which I've seen newcomers have a sort of "silly type-checker is just being intentionally obtuse" reaction. It seems to be run into reasonably frequently, though we tend to react by putting a type annotation on `e` in `match e with` rather than prefixing some of the constructors in the pattern.

[2021-03-24 11:03] dra27 commented on #8659
Ah, lovely! In which case yes, no problem. My only reason for being slightly higher level about it was if we were to further the discussion but not implement it, then we'd just have the bot trying to close the issue again in 6 months! It wasn't clear that discussing it would make progress, if you see what I mean...

I agree that renaming `files` to eliminate the surprise is a good idea, but I don'

[2021-03-24 11:57] lpw25 commented on #7386
I'm a little worried about it because I assume that:
[code]
will work, but:
[code]
won't

[2021-03-24 12:43] gasche commented on #7386
With the simple criterion I proposed, neither would work, because they are not at the "head" of the pattern. Any extension that goes under constructor may run into trouble (in theory "at the same position under the same constructors" should work, but in fact because of GADTs it would only be correct in general to take the first argument of the constructor, giving the feeling of arbitrariness that

[2021-03-24 12:59] gasche commented on #7193
If I understand correctly, currently `let f = foo; bar; in ...` and `let f = foo; bar in ...` generate the same parsetree, and this is a problem because we would like `-strict-sequence` to enforce `bar : unit`  in the first case. To solve the present issue we would need the AST to keep track of trailing semicolons.

One issue is that there is no obvious way to do this without changing the AST form

[2021-03-24 13:00] mmottl commented on #7145
I don’t know if there have been any changes to the handling of string constants.  Strings have been immutable for a long time now so it would seem worthwhile to reconsider sharing them.

[2021-03-24 13:02] gasche commented on #7145
Looking at this as well (hi @mmottl!):
- strings are now immutable by default indeed (in any case, the string of length 0 cannot actually be mutated)
- we have a `String.empty` constant that can be used to enforce sharing in performance-aware or sharing-aware code

No strong opinion on whether the feature still matters.

[2021-03-24 13:06] shindere commented on #8659
David Allsopp (2021/03/24 04:03 -0700):

I see. I think I already mentionned that I was willing to move on with
this but perhaps I was not clear enough.

Regarding the names of the variables, how about `read_files` and
`written_files`, or `modified_files` for the second one?

[2021-03-24 13:28] dra27 commented on #8659
For some reason I read the "read" in `read_files` in the present tense (!!) and got briefly confused. Which is embarrassing when I'm in my first language and you're in your second, but there we are!

Perhaps `readonly_files` (which clearly states the possibility in the future of enforcing it either by file permissions or sandbox) and `modifiable_files` (I definitely prefer modified to written)?

[2021-03-24 13:37] shindere commented on #8659
OK, `readonly_files` and `modifiable_files` looks good to me.

Shall I work in the current PR and push to your branch, or shall we
close the presentPR and create a new one that owuld refer to the present
one?

I guess the second aproach looks simpler to me but I'll let the final
decision be yours, @dra27, and, if you agree wiht me creating a
different PR, I'll let you close this one, if you don't

[2021-03-24 13:40] lthls commented on #7145
Keep in mind that even for empty arrays the sharing is not 100% reliable: `Array.make 0 0 == [||]` will return `true` for bytecode but `false` in native mode.
The situation would be similar for strings: if we want to be sure that there can only be one empty string, we would need to define a C symbol pointing to the unique empty string, but that means that every empty string coming from OCaml code

[2021-03-24 14:21] dra27 commented on #8659
@shindere - there's no branch for this, it's just an issue

[2021-03-24 15:02] shindere commented on #8659
David Allsopp (2021/03/24 14:22 +0000):

My bad, sorry!

Let's keep it open then an we will close it when the correspponding PR
gets merged.

Sorry for my lack of attention!

[2021-03-24 15:04] gasche commented on #6710
I don't remember the details of this discussion, but Stale-bot is asking for @alainfrisch to confirm whether they still care about this idea. More precisely:
- it looks like I came up with an example where the proposed optimization is not memory-safe, and a proposed restriction to a situation where it is memory-safe
- we are waiting for Alain's feedback on whether the restricted optimization is st

[2021-03-24 15:06] gasche commented on #6962
Deallocatable bigarrays is a request that comes up enough, still now, so I think the issue is not stale. Is there any progress on having separate user-defined libraries for this need that bring advantages and get usage in practice?

[2021-03-24 15:14] lthls commented on #6710
Doesn't this discussion predate the inclusion of Flambda ? While the particular patch that Alain had in mind hasn't been implemented, Flambda has improved significantly the compilation of functors, so I wouldn't be surprised if the issue was much less relevant now.

[2021-03-24 15:27] gasche commented on #6710
Another point in the balance are the recent discussions to get rid of Infix_tag maybe. Plans to improve compilation by using it more often are maybe not as enticing than they once were.

[2021-03-24 17:04] xavierleroy commented on #6962
The code was there at some point: 5ca6abd1c0657ca704c3a9b2b3def81e6dba8489

The issue is not to have it in a separate user-defined library.  The issue is that since 2012 we've been unable to determine whether it is safe w.r.t. current optimizations (CSE, Flambda) and future optimizations we may want to have one day.

This demonstrates rather clearly that nobody cares.  Closing this report.

[2021-03-24 17:04] #6962 closed, assigned to nobody

[2021-03-24 17:12] gasche commented on #6962
For the record, I don't agree:

- bigarrays are many different things to many people, some people want to use them for numeric computations but they are also often used for "easy-to-access external memory". The former use-cases wants great CSE, the latter use-case cares more about predictable resource disposal. People with this use-case (Mirage for example ? cc @hannesm) could have switched by now

[2021-03-24 17:13] xavierleroy commented on #7145
Nowadays, ocamlopt shares identical string literals within one compilation unit, and ocamlc does not.  This is the same behavior as with immutable structured constants (e.g. `[1;2;3]`).

I think ocamlc could do better and also share within compilation units.  I agree with @lthls that sharing across compilation units is a pain and not something we should strive for.

I'll go one step further.  Immu

[2021-03-24 17:56] dbuenzli commented on #6962
I did some tricks like this a long time ago when mapping GPU memory to CPU via [`glMapBuffer`](https://www.khronos.org/registry/OpenGL-Refpages/gl2.1/xhtml/glMapBuffer.xml).

The code is [here](https://github.com/dbuenzli/lit/blob/master/attic/litstub.c#L34-L40), but it's in the `attic` of this library, the idea was to map gpu memory to a linear bigarray and invalidate it once you have unmapped th

[2021-03-24 19:43] mmottl commented on #7145
There is certainly no need to make the compilation process unnecessarily more complex to share across compilation units.  It's good to know that `String.empty` will be available in the next release.

May I suggest also adding `String.is_empty` and `Bytes.is_empty`?  String comparison is much less efficient than testing for `String.length str = 0`.

Maybe `String.empty` can also be exploited in C-s

[2021-03-27 12:53] UnixJunkie commented on #10280
this could be assigned to me, I'll try to send a patch

[2021-03-29 04:27] #7526 closed, assigned to nobody

[2021-03-29 09:14] #10298 closed, assigned to nobody

[2021-03-29 14:15] #10294 closed, assigned to nobody

[2021-03-29 14:16] Octachron commented on #10294
This issue was fixed by merging #10295 .

[2021-03-29 17:35] pmetzger commented on #10280
Just an FYI, it seems most modern Unixish platforms support MAP_ANON / MAP_ANONYMOUS. The BSDs do, Mac does, Linux does, Solaris and Illumos support it. (Indeed, I can't find a platform that has mmap and doesn't support MAP_ANONYMOUS but I may have forgotten to check a few.)

[2021-03-29 18:14] pmetzger commented on #10278
Who controls https://caml.inria.fr/pub/docs/manual-ocaml/ and could redirect it?

[2021-03-30 13:05] Octachron commented on #10278
It is hosted by the Cambium team (at Inria Paris). In other words, I need to find the time to fiddle with the configuration.

[2021-03-30 14:40] shindere commented on #8659
@dra27 and possibly others: looking at e.g.
`testsuite/tests/lib-dynlink-native/main.ml`, the test uses `cp` to copy
four files from the `sub` directory located in the test's source build
directory to the very same `sub` directory in the test build directory.

That use of `cp` looks kind of wrong to me. Shall we just create a `sub`
symlink in the test's build directory? And how shall that be descr

[2021-03-30 15:29] shindere commented on #8659
If a directory is added to the `files/`/`readonly_files` variable, the
current code already "works", meaning that it creates a symlink in the
build directory to the source subdirectory.

That, however, does not quite bring the desired effect. First, object
files may be created in the source directory, which should be avoided.
Second, the test on which I used that does not work, at some point the
c

[2021-03-30 23:45] UnixJunkie commented on #10280
Yes, only old kernels don't have it, and probably old unices.

[2021-03-31 07:05] gasche commented on #9404
I see arguments in favor, and arguments again the suggestion to silence the per-element warnings in this case.

What I first read the issue I agreed with @ygrek on the following basis: if a module is unused, then of course its elements are also unused, so it is kind of dumb to warn for each element in addition to the module.

But this reasoning of mine is actually wrong. There are two separate asp

[2021-03-31 07:06] gasche commented on #7493
The PR #9407 is in almost-mergeable state; I think we should make a decision there, either finish and merge it, or decide that we don't really want the feature and close the PR and the issue.

[2021-03-31 12:02] ejgallego opened #10315 "[build] Support for composing the compiler in a dune build"
Dear OCaml devs,

a very convenient feature the Dune build system has is the ability to create a compound build of several project just by simply placing their sources under the same workspace. I use this all the time to work on projects involving several components, but the only big missing piece is the OCaml compiler itself.

Ideally, I'd like just to do:
[code]

and have my project use OCaml un

[2021-03-31 13:00] gasche commented on #10315
(As you probably know) there is a work-in-progress Dune build system inside the compiler codebase. The current consensus is that the compiler folks do not commit to maintain it / keep it working, but that PRs to fix and improve it are welcome. (The main use-case today is to enable Merlin on the compiler codebase, so we don't actually need to produce useful binaries with it, just to compile source

[2021-03-31 13:04] dra27 commented on #10315
There's some work going on for the flambda2 backend which at present builds the upstream compiler (ocaml/ocaml) using Dune and then bootstraps itself also using Dune (this is @mshinwell's work). We're working to upstream the fixes to the _existing_ `dune` files to the main compiler with the objective that the Dune build of the compiler produces a correct installation tree.

I don't think Dune woul

[2021-03-31 13:11] ejgallego commented on #10315
Likely a few more tweaks would be needed, but not so many, in my experience Dune is pretty good already in this front I think.

Note that we implemented the same for Coq, so we can just compose Coq with all the libraries, it was quite easy. I expect OCaml to be more challenging.

For dune, `ocamlc` is just a regular binary, so when resolving it, if a rule to build it is found in the workspace, it

[2021-03-31 13:16] avsm commented on #10315
This feature would be extremely useful to multicore OCaml ecosystem development as well, as we move into adapting various core libraries (e.g. for multicore IO). I'm maintaining a private monorepo with a large number of opam packages vendored using [opam-monorepo](http://github.com/ocamllabs/opam-monorepo) in a single dune-buildable repository.  Being able to build a particular revision of the OCa

[2021-03-31 13:17] dra27 commented on #10315
The flambda 2.0 backend is at https://github.com/ocaml-flambda/flambda-backend

[2021-03-31 15:27] ygrek commented on #9404
I agree, better keep predictable behaviour

[2021-03-31 15:27] #9404 closed, assigned to nobody

[2021-03-31 16:12] #7493 closed, assigned to nobody

[2021-03-31 22:09] pmetzger commented on #10280
So far as I can tell, MAP_ANON is part of the original specification of the mmap system call as described in the BSD 4.3 and BSD 4.4 architecture manuals, so anyone who implemented a compatible version of mmap implemented that. Very old kernels don't have mmap at all of course.

[2021-04-01 06:13] Aman9026 commented on #10281
@dra27 Hi! I'm an outreachy applicant, I want to work on this issue.
Should I update this in [INSTALL.adoc](https://github.com/ocaml/ocaml/blob/trunk/INSTALL.adoc)

[2021-04-01 08:29] ghost commented on #10315
There is certainly some plumbing to do on the Dune side to make it work, but nothing impossible. Dune supports building the same thing with different configurations in parallel, which would be a natural way to encode the bootstrap. That's how we do cross-compilation for instance.

[2021-04-01 10:48] dra27 commented on #10281
Thanks, @Aman9026! This would go in INSTALL.adoc, yes - and the text from the CompCert manual is a good template. The only additional check is to ensure that it's sufficient for OCaml (I don't have a spare Mac to be able to check that)

[2021-04-01 11:11] dra27 commented on #8659
I agree, @shindere - directories definitely don't want to be symlinked, but "copied" (in the readonly case, the files could of course themselves be symlinked).

[2021-04-01 12:02] shindere commented on #8659
David Allsopp (2021/04/01 04:11 -0700):

Well at the moment I am working on a solution where I have created a
`subdirectories` variable which lets one copy subdirectories
recursively. I am now re-writing the tests with this variable and see
when this is done what will remain, in which ones this new variable does
not allow to eliminate cp.

[2021-04-01 13:00] dra27 commented on #7662
Dropping this was a mistake on my part. This is definitely still an issue, and it's getting worse as Microsoft add more and more BSD tools to `system32` - you now get the same problem with `tar.exe`.

I certainly think we should fix this. To address @xavierleroy's question above (finally): `execvp` behaves as you'd expect from Unix, obviously with a little bit of Windows extra flavour¹. In particu

[2021-04-01 13:10] dra27 commented on #7662
For the runtime, `caml_search_exe_in_path` should rarely do anything - off the top of my head, I don't know how you'd trigger `caml_executable_name` failing in native mode (so `caml_search_exe_in_path` is never called) and for bytecode I think you similarly need to try quite hard to set-up ocamlrun suddenly having to perform a search (IIRC `argv[0]` is a full path)

[2021-04-01 15:50] Aman9026 commented on #8697
Hi @gasche ! I'm an outreachy applicant, I want to work on this issue.
M, m, n is already added to [runtime system doc](http://caml.inria.fr/pub/docs/manual-ocaml/runtime.html) should I add the remaining to ocamlrun.m and runtime.etex?

[2021-04-02 04:56] gasche commented on #8889
Note: this issue is not stale, but the reproduction example (which requires modifying a file of the compiler codebase) is a bit painful. It would be nice to have a simple OCaml program to reproduce.

[2021-04-02 09:26] Octachron commented on #10278
The redirection should be online: https://caml.inria.fr/pub/docs/manual-ocaml is now redirected to ocaml.org/manual (with a specialized redirection for the standard library https://caml.inria.fr/pub/docs/manual-ocaml to ocaml.org/api and compiler library). The redirection is not yet permanent to give us some time to test the change.

[2021-04-02 09:26] #10278 closed, assigned to nobody

[2021-04-02 09:44] Naereen commented on #10278
Great! It's a very nice URL, <https://ocaml.org/api/> and <https://ocaml.org/manual/>

Where should I open an issue regarding the API documentation? Thanks!
It's not optimal that every value has a `#VAL..` anchor but cannot be directly clicked or accessed from each API page, Sphinx for Python does a better job for this.

[2021-04-02 10:01] Octachron commented on #10278
The API documentation is currently generated by ocamldoc (which is distributed with ocaml). However, ocamldoc is currently in maintenance mode and we are planning to switch to odoc (a newer document generator which understands better OCaml module system).

And odoc already adds a visible anchor to each item.

In other words, your issue should be solved by the offsprings of #9997 .

[2021-04-02 10:14] Naereen commented on #10278
Okay thanks for the details, it's what I thought.

[2021-04-02 10:18] clarus commented on #10278
Thanks!

[2021-04-02 11:35] gasche commented on #7870
This is a duplicate of #8697 which has better discussion, so closing here.

[2021-04-02 11:35] #7870 closed, assigned to damiendoligez

[2021-04-02 11:40] gasche commented on #8697
@Aman9026 thanks for your interest!

We want each option to be documented in the manual *and* in the manpages (in the manpages the description can be brief). If `M`, `m`, `n` are not in the manpages, they should be added as well.

Last year @Anukriti12 proposed a PR to fix this issue, #9398. According to @dra27 who made a detailed review, the proposed PR is "very nearly there", but @Anukriti12 see

[2021-04-02 19:44] bikallem commented on #10315
I wonder if esy can do this feature already? @EduardoRFS ?

[2021-04-02 20:37] EduardoRFS commented on #10315
@bikallem yes you can do that on esy, but this is not as seamless as what you get with dune vendor, essentially esy can link dependencies locally, nice experience tho.

About this PR, I'm +1 on moving OCaml itself to dune so that this can be achieved and I'm quite happy to know about the work done by @mshinwell to bootstrap OCaml using dune, thank you @dra27

[2021-04-03 21:28] yakobowski commented on #7935
@alainfrisch what is the status of your tentative fix above? You did not open a PR with it, is there a deep reason?

[2021-04-05 04:57] gasche commented on #9413
(cc @dra27 @shindere)

[2021-04-05 13:18] dra27 commented on #9413
This issue refers to this part of the instrumented runtime test:

https://github.com/ocaml/ocaml/blob/4764325f1b232bc8cc976748d6b55370d4d5dfe8/testsuite/tests/instrumented-runtime/main.run#L6-L8

The suggestion is that these variables should have been already passed through `cygpath` by `ocamltest` - i.e. `ocamltest` chose to invoke use Cygwin to invoke the script, so it should also "take responsi

[2021-04-05 13:27] gasche commented on #9413
So I understand that there is an issue with ocamltest that can be worked around in each user script. Is there a consensus that this would be nicer to fix within ocamltest?

[2021-04-06 13:06] shindere commented on #9413
Paths are really tricky to deal with properly under Windows/Cygwin, IMO.

So far, mywork-around was to avoid absolute paths as much as possilbe in
the tests and supporting scripts I wrote. For instance, hard-code the
relative name of the program to run, rather than use the `${program}`
variable, which is absolute.

Moreover, I think we already discussed the fact that removing a file to
make sure i

[2021-04-06 14:06] dra27 commented on #9413
Indeed, it's quite possible to workaround it! My opinion (as in https://github.com/ocaml/ocaml/issues/9413#issuecomment-813388278) is that ocamltest chooses to have hooks written as shell scripts which are explicitly run with `sh` so native Windows ocamltest knows they will run with Cygwin (because we require that in the build instructions) and so should convert the absolute paths it places into e

[2021-04-07 07:12] gasche commented on #8811
No further progress on this issue, so closing.

[2021-04-07 07:12] #8811 closed, assigned to nobody

[2021-04-07 09:06] shindere commented on #9413
So would you convert the absolute paths only in hooks?

It's not even clear tome which variable shoudl undergo such a conversin
For instance, if a user defines a variable that contains a path, how
shall we do? Shall the user be responsible for its conversion? And how
aobut e.g. PATH?

[2021-04-07 10:31] nojb commented on #9413
Just as a drive-by comment: one clean way to solve the problem of paths is to use relative paths relative to a fixed root (eg the ocaml repo root) everywhere. This means that if you need to invoke programs from any directory other than the root you need to adjust all your relative paths, but this can be expressed quite cleanly if you use a specific type for paths.

As this would involve non-trivia

[2021-04-07 10:39] let-def opened #10323 ""double-double" floating point algorithm tricked by pernickety hardware"
*Note: This is a post-mortem of a bug due to a combination of compiler and hardware optimisations rather than a bug in OCaml per se. Still, I found the case interesting enough to share and document it for posterity.*

Double-double and Quad-double arithmetic are algorithms that implement species of floating point numbers with augmented precision. A good reference is [Library for Double-Double and

[2021-04-07 10:39] #10323 closed, assigned to nobody

[2021-04-07 11:10] Gbury commented on #10323
Did you try and compile the fixed version with flambda to see if your fix/change survives across the optimisations that flambda performs ?

[2021-04-07 11:43] let-def commented on #10323
@gbury A bit harder to test with flambda, but the results are not good.
The testcase I shared works with flambda x86-32, even without the fix. However more failures occur in the rest of the library.

[2021-04-07 12:04] dra27 commented on #10323
Similar issues for x86 in https://github.com/ocaml/ocaml/issues/8629.

[2021-04-07 12:12] let-def commented on #10323
flambda fails similarly on arm64.
The test succeeds by default on flambda, but adding `-Oclassic` behaves as expected: it fails just like with the classic backend ;).

[2021-04-07 12:30] gasche commented on #9413
If I understand correctly, the problem is that a setting `foo = "bar/baz"` in ocamltest should, in some situations, be understood as `foo = "bar\\baz"` under Windows (this particular string can be computed with `cygpath "bar/baz"` from a shell).

Would a solution be to add a different type of paths in ocamltest configuration files? One would write `foo = path:"bar/baz"` (or some other literal nota

[2021-04-07 12:49] gasche commented on #10323
I am not sure that this is not an OCaml bug. I would naively expect floating-point operations to have a well-defined semantics, making it *possible* to write precise floating-point computations in the language. My understanding is that the (informal) specification of OCaml says that floating-points are exactly IEEE-blabla doubles, so the observed failures here could be considered implementation bu

[2021-04-07 13:21] silene commented on #10323
The rules for C (floating-point computations might be performed with a higher precision and range than mandated by the static type) are such that the described behaviors are allowed: 80-bit precision and multiplication-addition fusion. This is a bit painful in practice (fusions can be avoided by doing explicit stores between operations).

For Java, they added a keyword `strictfp` that enforces str

[2021-04-07 14:14] xavierleroy commented on #10323
I can recommend [a fine paper on this topic](https://xavierleroy.org/bibrefs/Boldo-Jourdan-Leroy-Melquiond-JAR.html).

As discussed earlier with @let-def, there are two problems here:
- x86-32 with x87 extended-precision FP arithmetic: this one is a mess, but it's an obsolete architecture that will be un-supported soon, so the problem will solve itself.
- Fused Multiply-Add: I think it's good (for

[2021-04-07 15:00] silene commented on #10323
I suppose you could just annotate (or duplicate) `Pmulfloat` and `Cmulf` with a no-fusion boolean.

That said, the issue with FMA works both way. The `inv` function from the original post becomes irrelevant if you have an FMA at hand. So, you also want to give the user a way to mandate the use of an FMA, irrespective of any optimization from the compiler. For example, in a double-double library, y

[2021-04-07 15:02] dra27 commented on #9413
Cygwin handles `PATH` itself, so there's no worry about the inherited environment - it's the variables we add to it that we need to worry about. If the test sets variables itself with paths (e.g. the dynlink ones) then I think it's OK for it to be the test's responsibility to ensure it's cross-platform. I was thinking this was just for hooks, yes - if a `script` action manages to call into Cygwin,

[2021-04-07 17:16] Aman9026 commented on #8697
Great :smile:, I got to learn a lot about patching. There are a few things that need to be updated to patch perfectly, I'm working on them.

[2021-04-08 04:19] XVilka commented on #9328
It's notable that aforementioned semantic diffing for ill-typed functors patch was merged in the master: https://github.com/ocaml/ocaml/commit/d4dd566e3ee5c5fc2ed1b328ccdcf347804cbd66 that is also uses some colors 👍 :

![image](https://user-images.githubusercontent.com/203261/113967937-b1149600-9864-11eb-8b86-5c074db33ace.png)

[2021-04-08 04:58] gasche commented on #9328
What is the meaning of the color schemes used there? If I understand correctly, green is used when an argument match the expected type (of its corresponding formal parameter), magenta is used for both the argument and the formal parameter when there is a mismatch, and red is used when an argument (or formal parameter) has no corresponding formal parameter (or argument).

In the present PR, we don'

[2021-04-08 08:50] nojb opened #10324 "Segfault under bytecode in method call that directly calls another method"
Originally reported in Discuss https://discuss.ocaml.org/t/code-segfaulting-in-bytecode-compiler-but-running-in-native-compiler/7622

[code]

The code segfaults when compiled to bytecode, but **not** when compiled to native code under 4.10.1, 4.11.1 and 4.12.0. It segfaults in the toplevel if ran with `ocaml foo.ml`, but not when using `#use "foo.ml"`.

[2021-04-08 08:51] nojb commented on #10324
The segfault also goes away if changing `method f = x#g` by `method f = print_endline "foo"; x#g`.

[2021-04-08 13:12] Octachron commented on #10241
This should be fixed by the improved makefile that puts all generated files in `api_docgen/build`.

[2021-04-08 13:12] #10241 closed, assigned to nobody

[2021-04-08 13:15] Octachron commented on #10254
This was fixed by #10282 (which makes the manual post-processing phase recognizes all sensible unicode space characters) and pushed online at https://ocaml.org/manual .

[2021-04-08 13:15] #10254 closed, assigned to nobody

[2021-04-08 15:29] shindere commented on #8659
Sébastien Hinderer (2021/03/24 14:37 +0100):

So, I just submitted

https://github.com/ocaml/ocaml/pull/10327

I couldn't find any test where `modifiable_files` would have been handy, though.

So I introduced the ocamltest `subdirectories` variable, to declare
subdirectories to be recursively copied from the test source tree to its
build tree.

[2021-04-09 05:04] gasche commented on #6458
@alainfrisch a new opinion on this PR after a while? It's not bad, but not terribly exciting either, so I would not personally do the work unless there is a clear use-case.

[2021-04-09 08:44] shindere commented on #9413
Nicolás Ojeda Bär (2021/04/07 03:31 -0700):

When you make this suggestion, do you assume that the ocamltest build
directory will reside under the repo itself, or do you accept to have
paths like `..` in the relatvie path?

Well, if we could come up with a clean solution that  would let us deal
with paths correctly everywhere, I think this would really be great and
I'd be happy to work on it.

One

[2021-04-09 08:48] shindere commented on #9413
Gabriel Scherer (2021/04/07 05:30 -0700):

Well in my understanding, the tricky think is that the way a path has to
be escaped / interpreted not only depends on the system but also on the
program to whihc it is passed. As I understandit, if your path is passed
to bash on cygwin, then it can be the Unix form, but if it's passed to
an OCaml executable built with MSVC then you will probably want a re

[2021-04-09 11:52] alainfrisch commented on #6458
Yeah, no, let's close it.

[2021-04-09 11:52] #6458 closed

[2021-04-09 23:42] JasonGross commented on #9800
Ah, I've figured out what's going on.  The patch is inadequate because it updates `configure.ac` without updating `configure`.

[2021-04-09 23:50] JasonGross commented on #9800
Reported at https://bugs.launchpad.net/ubuntu/+source/ocaml/+bug/1923272

[2021-04-10 01:20] JasonGross opened #10329 "ocamlopt is incapable of building files using `clock_gettime` with glibc older than 2.17"
The OCaml 4.11.1 test-suite fails on Ubuntu Precise (12.04).  Full logs are available [here](https://launchpadlibrarian.net/532755591/buildlog_ubuntu-precise-amd64.ocaml_4.11.1-4.1~precise~ppa2_BUILDING.txt.gz) and [here](https://launchpadlibrarian.net/532754563/buildlog_ubuntu-precise-i386.ocaml_4.11.1-4.1~precise~ppa2_BUILDING.txt.gz).  The error message is:
[code]
By running this command locall

[2021-04-10 01:25] JasonGross commented on #10329
Btw, it seems that `-S` does not keep all intermediate assembly files:
[code]
Is there any way to get access to the `camlstartup` assembly file, so I can actually test whether or not moving `-lrt` to the end works?

[2021-04-10 07:26] nojb commented on #10329
As mentioned in Discuss, I think you can use `ocamlopt -dstartup` to access the startup code.

[2021-04-10 08:09] xavierleroy commented on #10329
1- Seeing the startup code will not help you.  Just look at the very long line generated by `ocamlopt -verbose`, the one starting with `i686-linux-gnu-gcc -Wl,-z,notext`.  All the C libraries are listed there.
2- To pass an extra library, use `-cclib -lxxx`.  `-ccopt zzz` is for C compiler options.
3- Ubuntu 12.04 LTS reached end of support on 28 April 2017.  You're wasting your time, our time, an

[2021-04-10 08:09] #10329 closed, assigned to nobody

[2021-04-10 12:21] RBornat opened #10330 "opam switch create 4.12.0+trunk on macos arm fails with native opam"
richard@Richard-Bornats-Mac-Mini ~ % opam switch install 4.12.0+trunk
[ERROR] Could not resolve set of base packages:
        The following dependencies couldn't be met:
          - ocaml-variants → ocaml-beta
              unmet availability conditions: enable-ocaml-beta-repository

Switch initialisation failed: clean up? ('n' will leave the switch partially installed) [Y/n] Y
richard@Richard-Bor

[2021-04-10 12:24] RBornat opened #10331 "opam switch create 4.11.1 on macos arm fails with native opam"
[code]

(and same with --jobs=1)

[2021-04-10 12:43] gasche commented on #10330
This looks like an opam-repository policy rather than an issue with the OCaml compiler. My understanding is that the message says that to use the development version (+trunk here means "in-development 4.12 branch"), you need to have enabled the [opam ocaml-beta repository](https://github.com/ocaml/ocaml-beta-repository) (see there for explanation on what that is). I suppose that either enabling th

[2021-04-10 12:51] jberdine commented on #10330
Hi Richard, IIUC using the standard (non-trunk) versions 4.10.2 or 4.12 should work on mac arm64.

[2021-04-10 12:55] RBornat commented on #10330
Thanks both of you. I enabled beta (both set default and all switches, belt and braces). I can't create switch 4.12.0 -- it's not in list-available; if I try 4.12.0+trunk (which is available) I get

richard@Richard-Bornats-Mac-Mini ~ % opam switch install 4.12.0+trunk

<><> Gathering sources ><><><><><><><><><><><><><><><><><><><><><><><><><><>  🐫
[ERROR] The sources of the following couldn't be o

[2021-04-10 12:58] RBornat commented on #10330
Whoops sorry. Egg on face. opam update did the trick (ouch!)

[2021-04-10 12:58] #10330 closed, assigned to nobody

[2021-04-10 13:28] JasonGross commented on #10329
`-cclib -lrt` indeed moves `-lrt` later, but unfortunately not late enough.  It gets moved to before `'/home/test/coq-debian-build-scripts/ocaml-stuff/debian-sources/ocaml-4.11.1/runtime/libasmruni.a'`, but instead needs to come right after.

But, sure, this distribution reached end of support a while ago, and I can stop making Coq master packages for precise on launchpad.

[2021-04-10 16:49] xavierleroy commented on #10331
As mentioned elsewhere, the OCaml versions that support ARM64 / macOS are 4.10.2 and 4.12.0 and later.  4.11 does not.

[2021-04-10 16:49] #10331 closed, assigned to nobody

[2021-04-11 23:25] anders-hig-jackson opened #10332 "Ocaml generat link error if compiling with LC_ALL/LC_COLLATE set to sv_SE.UTF-8 and not C"
I have tried to install OCaml with opam(1) and from GitHub source (Any version that opam(1) and OCaml versions like 4.08 and 4.12 and even the latest 4.13 from GitHub).
I have tried on different architectures (x86, AMD64, ARM32) and linux distribution,(Ubuntu, Debina, RaspberryOS, etc) and all fail in the final linking stage for the compiler.

The problem is that in the locale i uses is sv_SE.UTF-

[2021-04-12 10:02] dra27 commented on #9413
@shindere is right - it's not just the kind of path (forward and backslashes) which depends on whether it's a Cygwin / native executable, but also the escaping rules (see [OpamProcess.cygwin_create_process_env](https://github.com/ocaml/opam/blob/master/src/core/opamProcess.ml#L17-L195) for the full gory details of how to pass arguments from native Windows to Cygwin processes). opam has to deal wit

[2021-04-12 10:53] Engil commented on #9413
I think this test is not quite useful.
It does not provide any guarantees other than "the instrumented runtime does indeed create files.", which, in itself, doesn't guarantee much about the feature itself.
I think this maybe be a matter of API surface in the instrumented runtime: allowing to output to one specific file is something that was kept out because this guarantee likely won't hold for Mul

[2021-04-12 11:04] abbysmal commented on #9413
While I am unsure about other uses, I don't think this test was solving the right problem in the first place.

I think the main problem may be a matter of API surface in the instrumented runtime, kept limited to expand later on with the Multicore runtime. (for instance, not allowing to set a specific filename was a deliberate decision on my part to avoid backtracking if this happened to not be san

[2021-04-12 11:44] Octachron commented on #9873
I am closing this issue as a duplicate of #9866 (which is still open for recursive module).

[2021-04-12 11:44] #9873 closed, assigned to nobody

[2021-04-12 12:22] ejgallego commented on #7842
Still an issue.

[2021-04-13 05:55] gasche commented on #10323
Last week an [RFC was sent to LLVM](https://reviews.llvm.org/D100118) to introduce a builtin `__arithmetic_fence(...)` intrisic that would disable fusion of the operations inside with the operations outside: `__arithmetic_fence(a * b) + c` cannot turn into a fused-multiply-add. This corresponds to our `Sys.opaque_identity : 'a -> 'a`, tuned for floating-point computations.

[2021-04-13 07:19] silene commented on #10323
Are you sure about that? Because reading the pull request for the underlying builtin (i.e., `llvm.arith.fence`), I see that the following transformation is allowed:

As a consequence, I fail to see the point of such a builtin.

[2021-04-13 07:54] #10332 closed, assigned to nobody

[2021-04-13 11:38] stedolan opened #10338 "Translcore.push_defaults does not respect scoping"
Evaluation of defaults of optional parameters is pushed under function binders in a way that is not always sound:

[code]

`f` gets translated to something resembling:
[code]
where the `s` in the guard is the wrong one.

[2021-04-13 13:52] RBornat opened #10339 "Native macos arm compilers (4.10.2, 4.12.0) miscompile small recursive function"
A little recursive function in Jape, which gets cached font information from Jape's Java interface, has a bizarre behaviour when compiled for ARM. It has worked for decades under previous compilers. It still works under 4.9.0 and 4.10.1 (producing x86 code), but fails under 4.10.2 and 4.12.0 (producing ARM code). I've managed (phew!) to produce a small example and show how a small modification to

[2021-04-13 13:53] RBornat commented on #10339
And, I should have said, the zip files contain all the cmi, cmx, etc. files of the compilation.

[2021-04-13 14:11] RBornat commented on #10339
And, I should have said, the program reads a line of text. Fewer than 3 characters forces a crash; 3 or more and it works (or does when correctly compiled).

[2021-04-13 14:48] xavierleroy commented on #10339
I'll need more time to study the repro case, but one possibility is wrong code generation for an Invalid_argument exception that is raised by an array bound check and handled in the same function.

You could try to rewrite the code as follows and see if it makes a difference:
[code]

[2021-04-13 15:19] RBornat commented on #10339
Your intuition is perfect. Works, as below. (but not so elegant :-))

[2021-04-13 15:19] RBornat commented on #10339
And, I should say, thanks!

[2021-04-14 13:22] olafhering opened #10342 "ocamlc.opt -config-var does not print newline, as sugested in -help output"
[code]
But no newline is appended:
[code]
I have not checked if this is a regression.
[code]

[2021-04-14 14:42] bschommer opened #10343 "4.12.0: Test `tests/flambda/afl_lazy.ml` fails with msvc"
The tests fails when OCaml is build with msvc with the following output:

[code]

[2021-04-14 14:45] dra27 commented on #10342
The documentation ended up out-of-sync with the code (https://github.com/ocaml/ocaml/pull/1430#issuecomment-338910725):

https://github.com/ocaml/ocaml/blob/359e1c49294a2633ebca982d06ce098217a61095/utils/misc.ml#L809-L815

The documentation should therefore be corrected, thanks!

[2021-04-14 15:55] dra27 commented on #10343
This is #10107, which was intended for 4.12 but got missed. I've just cherry-picked it, so it will be fixed in 4.12.1 (the actual bug has been presented since AFL was added)

[2021-04-14 15:55] #10343 closed, assigned to nobody

[2021-04-14 16:15] bschommer commented on #10343
Thanks for the fast reply.

[2021-04-14 22:19] #10324 closed, assigned to nobody

[2021-04-15 07:40] #10342 closed, assigned to nobody

[2021-04-16 08:43] #9853 closed, assigned to damiendoligez

[2021-04-16 13:08] #10271 closed, assigned to nobody

[2021-04-19 05:34] gasche commented on #9317
This cannot reproduced with 4.11 and later versions, instead we get:

[code]

I believe that this was fixed by #9388.

Thanks for the report!

[2021-04-19 05:34] #9317 closed, assigned to nobody

[2021-04-19 05:42] gasche commented on #8776
I can reproduce the slowdown for recent versions of OCaml:

[code]

[2021-04-19 05:49] gasche commented on #9314
The issue is still present in trunk. I haven't followed the discussions closely, but I think this was actively discussed with several fix proposals, in particular #9324, #9870, and this was also reported again and generalized in #9866. I am not sure what the current status is.

[2021-04-19 06:10] MSoegtropIMC commented on #8695
I would still like to see such a check.

[2021-04-19 08:06] trefis commented on #8575
The issue is still reproducible, and I'd still like to get a comment from @garrigue .

[2021-04-19 10:47] dra27 commented on #9413
Thanks, @Engil! From my perspective, the instrumented runtime test uncovered a fundamental problem in the way ocamltest was invoking hook scripts, so even if the test ends up going/being changed, I think the issue remains.

[2021-04-19 12:16] gasche commented on #8645
@Octachron do you think this is an issue worth fixing, or should we decide to close as ocamldoc is on life support?

[2021-04-19 12:59] gasche commented on #8780
This issue lacks an easy way to "reproduce" it to check whether it still occurs on recent OCaml versions. @jberdine, would you by chance be brave enough to provide one?

If I understand correctly, the logic in 7be0a81e9c605e73b04a31b400a6ab85e322a544 was that:
- `Lraise_regular` always stores the backtrace (`Lraise_notrace` does not)
  (indeed the emit.mlp stop checking Clflags.debug there)
- when

[2021-04-19 13:00] gasche commented on #8780
(I don't know if this issue is "Stale" or not because I was too lazy to try to reproduce it.)

[2021-04-19 17:16] shindere commented on #9413
@dra27: just to make sure. Can you think about an easy way to fix the way
hooks work?

[2021-04-20 04:39] gasche commented on #8917
This was indeed fixed by #10219.

[2021-04-20 04:39] #8917 closed, assigned to Octachron

[2021-04-20 08:42] #10339 closed, assigned to nobody

[2021-04-20 11:22] dra27 commented on #9413
@shindere - I think piping all the builtin variables through `cygpath` would be an improvement, although I expect it would better to introduce another "type" for them first (i.e. distinguish between paths and strings in the same way as we distinguish between booleans and so forth).

[2021-04-20 13:05] Octachron commented on #8645
I would say that the bug is sufficiently limited in scope to try to fix it. I will have a look.

[2021-04-20 14:16] shindere commented on #9413
David Allsopp (2021/04/20 04:22 -0700):

I don't know, it feels not that easy to me.

How about strings that include paths, for instance? Like if a variable
contains commandline options such as `-Idir` ?

[2021-04-20 15:08] dra27 commented on #9413
It's a good reason for not using `-I` without a space... although it's a bigger question as to why a _hook_ would be using that at all! It's really things like `ocamltest_response`, `program`, `output`, `test_build_directory` and so forth that are the problem (just looking at existing run hooks). No solution will be perfect (you'll always be able to set something up with the wrong value!), but I t

[2021-04-20 15:58] lthms opened #10359 "Diverging behavior of ocamlc during typechecking"
Dear OCaml developers,

I wasn’t sure whether or not it was worth reporting, so feel free to close this issue. That being said, I ran into a diverging behavior while refactoring an API, that was quite annoying because Emacs just hanged (nothing `C-g` couldn’t fix, but still).

I have isolated the file responsible for my bad adventure in [a dedicated repository](https://labs.soap.coffee/bug-reports

[2021-04-20 16:01] gasche commented on #10359
Could you upload the faulty version (one of them) on which the type-checker appears to diverge?

[2021-04-20 16:02] lthms commented on #10359
It’s in the repository I linked in my message, [here](https://labs.soap.coffee/bug-reports/ocamlc-diverges.git/tree/test.ml) more precisely. The two links were maybe too closed to distinguished there were two.

[2021-04-20 16:05] Octachron commented on #10359
It doesn't look like `ocamlc` is diverging here: removing few of the `add_operator` and `add_keyword` , the code compiles but the type of `default` grows exponentially (or worse?).

[2021-04-20 16:14] Octachron commented on #10359
A back-of-the-enveloppe computation gives me a 12 days compilation time for the linked example. Did you really run this example that long?

[2021-04-20 16:20] lthms commented on #10359
I am not sure to understand your comment. I was able to compile the linked example by fixing the error in it, but I never waited more than dozens of seconds before assuming `ocamlc` was diverging.

[2021-04-20 16:42] Octachron commented on #10359
This is understandable. This is not  `ocamlc` diverging.

It is a known theoretical limitation: the size of types can increase exponentially (or worse) with the size of the program. This is generally not an issue for human-written code.
However in your case, the conjunction of the very long chain of applications, the use of `kind` as a fully polymorphic argument in `add_alias` and the refactoring

[2021-04-20 16:42] #10359 closed, assigned to nobody

[2021-04-20 16:45] lthms commented on #10359
Thanks for taking the time to explain exactly what was going on :).

[2021-04-21 03:28] garrigue commented on #8661
Very slow answer (thank the bot):
There is no way to guarantee backward compatibility: there will always be ways to distinguish a function with optional arguments from a function without; think for instance of putting them in the same list.

If the question is:
  In which case will function arguments be erased when passing a function to one that expect a function without optional arguments ?
Then

[2021-04-21 04:27] #7939 closed, assigned to nobody

[2021-04-21 04:27] #7839 closed, assigned to nobody

[2021-04-21 07:57] dbuenzli commented on #6962
FWIW I'm still interested in knowing that and I think it would be good to mention it [here](https://ocaml.org/manual/intfc.html#ss:C-Bigarrays-wrap).

It may seem like a niche area, but C libraries that temporarily lease you a pointer to work on is not unheard of (e.g. sound or graphics libraries).

[2021-04-21 13:14] #8575 closed, assigned to nobody

[2021-04-22 09:23] shindere commented on #8659
As stated in
https://github.com/ocaml/ocaml/pull/10327#issuecomment-824682679, it is my
belief that PR #10327 fully addresses this issue, which I am thus closing.

Anybody should however feel free to re-open it if they think it's not
completely fixed.

[2021-04-22 09:23] #8659 closed, assigned to nobody

[2021-04-22 11:36] #8645 closed, assigned to nobody

[2021-04-22 12:08] gerdstolpmann opened #10367 "FFI: forced to discard "const" qualifier"
This code results in a warning from clang "passing 'const char *' to parameter of type 'void *' discards qualifiers":
[code]
The string may contain zeros, so using `caml_copy_string` is not possible.

I understand the intent of the `const` qualifier introduced by `String_val`, but the FFI is missing a function to create strings from arbitrary memory regions (e.g. `caml_copy_string_from_mem`), so y

[2021-04-22 12:28] kit-ty-kate commented on #10367
Have you tried `Bytes_val(v_request)` instead of `String_val(v_request)` ? I believe this should be what you are looking for.

[2021-04-22 12:32] yallop commented on #10367
I think you want [`caml_alloc_initialized_string`](https://github.com/ocaml/ocaml/blob/b9acbd671163c7e614a9e86875e3ba4c69619533/runtime/caml/alloc.h#L38).

[2021-04-22 15:32] gerdstolpmann commented on #10367
thanks, @yallop I was overlooking this

[2021-04-22 15:32] #10367 closed, assigned to nobody

[2021-04-22 15:34] gasche commented on #9774
@Octachron now that your work on adding more structure to signature items has been merged ( #10219 ), it may be worth revisiting the present issue. Is it something that you are interested on? Should we try to find some time to discuss it together? (I don't presently have time, so I'm not pushing for this option in particular.)

I would be tempted to try to tackle the present issue by fixing the im

[2021-04-22 16:02] Octachron commented on #9774
@gasche , I was thinking of  having a look at this issue indeed. If you want to discuss it at some point, you are welcome.

[2021-04-23 04:27] #9381 closed, assigned to nobody

[2021-04-23 04:27] #7927 closed, assigned to nobody

[2021-04-23 04:27] #7389 closed, assigned to garrigue

[2021-04-23 04:27] #7225 closed, assigned to garrigue

[2021-04-23 04:27] #7224 closed, assigned to nobody

[2021-04-23 05:52] gasche commented on #7927
Note: this was in fact fixed in #8527.

[2021-04-24 15:21] EduardoRFS opened #10369 "cclib should properly parse the arguments"
When using `-cclib` with files with spaces, like on Windows `Program Files` folder, cclib will split the file in two and quote them, treating each part as a different side, even if quotes or `\` is used.

## Reproduction

[code]

## Suggestion

Ignore it and treat as a piece of string like what it happens with `-ccopt`, if no one is against I can open a PR for it.

## Related code

Seems also to b

[2021-04-24 16:20] nojb commented on #10369
This looks reasonable to me, but am not sure if there is some use-case for the current behaviour... cc @dra27 @gasche
By the way one can work around the current behaviour when needed by using `-args` and `-args0`.

[2021-04-24 16:40] xavierleroy commented on #10369
The current behavior of `-cclib` is designed so that one can take the output of `pkg-config --libs`, e.g.
[code]
and slap a single `-cclib` option around it
[code]
and in the end it works.

It looks like your suggestion breaks this behavior and could break a number of OPAM packages.

[2021-04-24 16:55] EduardoRFS commented on #10369
@xavierleroy that would still work, on `-ccopt` there is no quotes added, so if you do `-ccopt '-lpangocairo-1.0 -lpango-1.0'` it is passed to the compiler and linker as `gcc -lpangocairo-1.0 -lpango-1.0`.

[2021-04-24 17:04] xavierleroy commented on #10369
I'm afraid not because we also need to quote...  If you pass
[code]
you want the C compiler to receive `C:\Program Files\foo\bar.lib` as one argument, not as `C:\Program` then `Files\foo\bar.lib`.  No?

[2021-04-24 17:10] EduardoRFS commented on #10369
That is invalid today and will still be invalid with this suggestion, you would need to explicitly quote it. Having this as a requirement makes total sense, and is how `-ccopt` behaves. I didn't tried pkg-config on windows tho.

[code]

[2021-04-25 14:40] progman1 opened #10370 ".cds file generation 4.11/4.12"
In using -output-complete-exe I see that the generation of the .cds file goes to /tmp (randomly named but not cleaned up) and the way to have it retained is by giving the output file a .c extension. Why generate a .cds at all unless it is to be used?
However, since the obj_file name is derived from the c_file this results in a C compiler  command that specifies an input of the same name as the out

[2021-04-25 16:24] nojb commented on #10370
Thanks for the report! Indeed this is a bug, since `.cds` files are useless with `-output-complete-exe`. Fix in #10371.

[2021-04-26 04:27] #7126 closed, assigned to nobody

[2021-04-26 04:27] #7061 closed, assigned to nobody

[2021-04-26 07:15] jhjourdan commented on #6101
The current plan is to get rid of the page table by using the no-naked-pointer mode. This PR is no longer relevant.

[2021-04-26 07:15] #6101 closed

[2021-04-26 07:52] #10370 closed, assigned to nobody

[2021-04-26 09:08] gasche commented on #5667
We had this discussion almost ten years ago, but I still believe that pattern synonyms would be nicer than the proposed feature of using type information to guess an implicit (runtime-relevant) coercion. Since then I have worked more on the implementation of pattern-matching in OCaml, so maybe it would be easier to try to implement it. (But then we all still have many things to do!)

[2021-04-26 09:29] #5667 closed

[2021-04-26 09:45] gasche commented on #5894
So here is my understanding of the history of this work:

- the 2013 patchset from @chambart went nowhere in the end, because it was never completely finished and pushed for upstreaming (... sounds a bit like the story of #608)
- in September 2017 @alainfrisch's proposed a WIP PR #1322 inspired by those ideas; it relied on propagating more type information in the middle-end, then using them for un

[2021-04-26 09:48] gasche commented on #5232
@notemaster sorry for not answering this. Here would be an usage example:

[code]

[2021-04-26 09:50] gasche commented on #5204
I wrote a summary of the work on parameter unboxing at https://github.com/ocaml/ocaml/issues/5894#issuecomment-826686147

[2021-04-26 10:57] #10338 closed, assigned to nobody

[2021-04-26 11:06] alainfrisch commented on #5894
@gasche : you're (**un**surprisingly) good at reconstructing and summarizing the history, thanks!

No, I don't have immediate plans to resume working on this topic. Mostly by lack of time; I still believe that supporting numerical code without forcing boxing on function boundaries is important. Btw, in the same vein, it could be good to support specialized calling conventions e.g. for functions re

[2021-04-26 19:46] dra27 commented on #10369
Is that a typo switching from `cclib` to `-ccopt`?

[2021-04-26 19:49] dra27 commented on #10369
I'm not entirely convinced by a solution for Windows which is incredibly hard to encode... to send a quotes in an argument to an executable, cmd requires `-cclib """"C:\Program Files\foo\bar.lib""""`.

I'd more readily go for leaving `-cclib` as is and potentially having another a different parameter which is intended to pass a single library.

[2021-04-26 20:18] EduardoRFS commented on #10369
It's not a typo, `-ccopt` doesn't add quotes already, `-cclib` adds quotes and splits.

That's already the case for `-ccopt` and it just works, also tools like dune already behaves exactly as you would expect.

`-cclib` is about linker flags, like `-L`, `-l`, `-Wl,rpath` a flag intended to pass a single library would not solve it.

I would argue that on the current setup `-cclib` should never used

[2021-04-26 20:59] dra27 commented on #10369
Indeed, but something which was passed before to `-cclib` can't be arbitrarily changed to use `-ccopt`. `-ccopt` and `-cclib` do not simply differ by how they process their argument.

I'm not sure I've expressed what I meant properly - your suggestion (if I understand correctly) is that you would like _literal quotes_ in the `-cclib` argument to be interpreted by the driver as "one argument". My p

[2021-04-26 21:31] EduardoRFS commented on #10369
Hmm I'm pretty sure if you ignore files containing quotes, that's actually true, because all the current examples cannot contain spaces anyway, so instead of adding it as `"x" "y"`, it would be added as `x y` which is almost always the same. Sure it's not always, but we can run it against opam to ensure of course.

I didn't knew about it, BUT, the CLI says any `<opt>` which means one of them could

[2021-04-26 21:35] EduardoRFS commented on #10369
The good thing about just making it behave as `ccopt` is that old scripts which don't work on Windows when the user has spaces on the username will start to work magically when we release the new version with it.

And my hypothesis is that there is no valid use case of `-cclib` which will not be covered. Will try this against opam in the next days to gather data

[2021-04-27 07:23] dra27 commented on #10369
Yes, but all of that doesn't change the fact ccopt arguments appear _before_ modules and cclib arguments appear _after_ modules in the link order, which matters!

Running against opam repository is a (very useful) tool, but it's not a silver bullet. In particular, we're talking about linking here, and opam is overwhelmingly libraries, not programs and the Windows coverage still isn't yet there. Ot

[2021-04-27 09:33] xavierleroy commented on #10369
Are you aware that a command-line argument ending in `.a` or `.lib` (depending on platform) is treated as a C library and stored in .cma/.cmxa archive files for later linking?  So,
[code]
should do the job nicely, no need for a new option or deep quoting.

[2021-04-27 10:11] dra27 commented on #10369
@xavierleroy - no, I'd forgotten that, in amongst all this!

It requires extra processing (but what on Windows doesn't?!), but unless we start having to support `"-llibrary with spaces"` to get "liblibrary with spaces.lib" (I haven no idea why anyone would do that to themselves...!), I agree that the motivation for this evaporates (in fact, directly specifying the `.lib` file is probably why I don

[2021-04-27 13:02] xavierleroy opened #10374 "macOS: ocamlopt compiled for arm64 causes asm errors when running in a x86_64 environment"
In macOS, clang, the assembler, the linker, and assorted tools are fat binaries (arm64 + x86_64) *and* support cross-compilation with the `-arch arm64` and `-arch x86_64` options.  But when no `-arch` option is given, the arm64 binary defaults to targeting arm64, and the x86_64 binary defaults to targeting x86_64.

This makes a lot of sense but causes the following surprise:
[code]
What happens: t

[2021-04-27 14:10] lavib opened #10375 "Print inferred variance"
Current situation for variance inference is not linear and can lead to errors even to the seasoned developer: in a type declaration, declared variance is checked (but not constrained) except if there are constraint on the type declared, in this case they are mandatory. This is event worse in a class declaration, where the constraint may appear from the code, without writing it directly.

If changi

[2021-04-27 15:43] #10253 closed, assigned to nobody

[2021-04-27 16:04] kcrary opened #10378 "ocamldebug doesn't work on Cygwin64"
On Cygwin64 the debugger fails to fork threads:

$ cat foo.ml

let () = ()

$ ocamlc -g foo.ml

$ ocamldebug camlprog
        OCaml Debugger version 4.10.0

(ocd) step
Loading program...       0 [main] ocamlrun 2275 child_info_fork::abort: address space needed by 'dllunix.so' (0x400000) is already occupied
Unix error: 'fork' failed: Resource temporarily unavailable

It looks like this might be the

[2021-04-27 17:12] xavierleroy commented on #10378
OCaml version < 4.12 under Cygwin64 is seriously crippled  by DLL loading issues.  #9927 fixed these issues but is available only in OCaml 4.12.0 and up.  If you installed `opam` as I suggested earlier, just do `opam switch create 4.12.0` and everything will work better.

[2021-04-27 17:12] #10378 closed, assigned to nobody

[2021-04-27 18:58] DemiMarie commented on #10237
What are these optimizations?  Could you create a specialized version?

[2021-04-28 01:42] garrigue commented on #10375
I do see some value in printing this information for type-debugging purposes, but as you wrote yourself printing it always would be noisy and particularly confusing for beginners.
Which means that we would probably need a new flag, such as `-print-variance`.
This is not the only case  where a flag could change the printing of types: we already have `-short-paths`.
However, this raises the question

[2021-04-28 06:48] fpottier commented on #10237
There is work in progress on a new back-end for Menhir, with a new intermediate language where it is easier to perform optimizations such as delaying `PUSH` operations, canceling `PUSH` and `POP` operations, and so on.

At the moment, we are taking advantage of OCaml's `let[@local]` construct to tell the OCaml compiler that a function exists only for type-checking purposes.

[2021-04-28 06:59] DemiMarie commented on #10237
Can you work around this issue by using `Obj.magic`?  Obviously, that’s a disgusting hack, but in generated code it should be safe enough.

[2021-04-28 07:39] aryx commented on #9701
Is this fixed somewhere?
I recently switched from 4.09.1 to 4.11.2 and now get only
[code]
where I used to have nice location.

[2021-04-28 07:43] aryx commented on #9701
This is in compiled code, not even in script. I tried OCAMLRUNPARAM=b, and Printexc.record_backtrace true in my main.ml but still get only unknown location errors.

[2021-04-28 07:44] fpottier commented on #10237
Sure, that's what Menhir has been doing for 15 years, but the point of the new project is to get rid of it (and to enable more aggressive optimizations at the same time).

[2021-04-28 07:51] aryx commented on #9701
Here is the same backtrace with 4.09.1
[code]

[2021-04-28 08:42] gasche commented on #9701
@aryx if the `ocaml` toplevel is not involved in your case, then it is a different issue. As far as I know, backtraces in general do work okay these days. Could you provide a reproduction case, what precise steps do I need to do to reproduce your issue on my machine?

[2021-04-28 15:43] EduardoRFS commented on #10369
@dra27

That's still going to be the case, the order will not be changed at all. The only thing is how it will be stored in the `.cmxa` as a single string per `-cclib` and the quotes removed. It's not an alias to `-ccopt` they're still different references and will still be on the same place.

If you want to support Windows I doubt that you will be making batch scripts, you will probably be using

[2021-04-30 05:18] garrigue commented on #3621
There is no essential information, and we can resurrect this when we have a clearer plan.

[2021-04-30 05:18] #3621 closed

[2021-04-30 05:20] #3520 closed

[2021-04-30 07:50] damiendoligez commented on #7145
I agree with Xavier: this is not a problem, as physical equality is never guaranteed for immutable structures. And if we want to share strings, we should probably strive to share more than just the empty string.

I'm closing the issue. If anyone wants to work on sharing in the compiler, feel free to open a PR.

[2021-04-30 07:50] #7145 closed, assigned to nobody

[2021-04-30 11:58] damiendoligez commented on #7143
It does look like a good idea, though. But I would invert the logic: annotate functions that are *missing* on a given platform.

[2021-04-30 12:23] alainfrisch commented on #7143
And use alerts, I guess.

[2021-05-02 09:11] orthose opened #10388 "List.append is not tail recursive"
I have noticed the following issue: when I try to append two big lists I have a Stack overflow error.
[code]
I have found the definition of the operator @ in ocaml/stdlib/stdlib.ml.
[code]
And then in ocaml/stdlib/list.ml
[code]
I can see it's a not tail recursive function. But it could be easy to change that to a tail recursive function with CPS (Continuation Passing Style).
[code]
I have also no

[2021-05-02 11:00] nojb commented on #10388
Hello, as you observed there are several list functions in the stdlib that are not tail-recursive (including `List.map`, which is one of the most commonly used functions). The short explanation is that making the functions tail-recursive has a performance cost and since in the vast majority of cases these functions are applied to small lists, the original developers decided to go for the non-tail-

[2021-05-02 11:23] orthose commented on #10388
Thanks for your response, you're absolutely right I haven't thought about the performance. And yes, the actual version is faster than my proposal. Your solution works perfectly.

[2021-05-02 11:23] #10388 closed, assigned to nobody

[2021-05-03 04:27] #9400 closed, assigned to nobody

[2021-05-03 07:56] alainfrisch opened #10389 "Expose {Int,Int32,Int64,Nativeint}.{min,max}"
`Stdlib.{min,max}` are quite bad performance-wise (even when inlined, they will still call the polymorphic comparison C primitive). In #10251, I proposed to add compiler primitives to allow the optimizer generate better code when those functions are used on simple numerical types, but @xavierleroy's position (https://github.com/ocaml/ocaml/pull/10251#issuecomment-829459897) is rather that these fu

[2021-05-03 08:59] nojb commented on #10389
Sounds good! One small implementation issue that I can think of is that `Stdlib.{min,max}` is used in the implementation of several other `stdlib` modules (`String`, `Bytes`, `Buffer`, `Hashtbl`, `Random`, ...). To avoid introducing too many dependencies to `Int`, I guess that we will have to duplicate the definition of the (type-specialized) min/max functions inside the modules that use them?

[2021-05-03 09:51] gasche commented on #9774
Github automatically closed this issue on account of @Octachron's commit message in #10385 containing both the words "fixes" and "#9974" *somewhere*, which sounds a bit light. The issue reported and variants in the thread are still present.

[2021-05-04 08:02] alainfrisch commented on #10389
Do you see a strong reason to avoid such dependencies?  `Int` depends only on `Stdlib` and is itself tiny.  Btw, I don't understand why, in `Int` many definition are copied from `Stdlib`, but not everything (e.g. `compare` is imported from Stdlib, while many others external are redeclared in `Int`).

But yes, inlining min or max on `int` where needed shouldn't be too hard :-)

[2021-05-04 08:03] xavierleroy commented on #10389
+1 for adding `min` and `max` to `Int`, `Int32`, `Int64`, `Nativeint`.  I don't think these operators are very useful nor intuitive for non-numeric types such as `string` or `bool`, so let's not have them.

-1 for deprecating `Stdlib.min` and `Stdlib.max` now.  Maybe once the specialized versions have been available for several years.

[2021-05-04 08:07] alainfrisch commented on #10389
Ok!  What about `char`?  Do you put in the category of non-numeric types as well?

[2021-05-04 08:42] xavierleroy commented on #10389
I don't think of `char` as a numeric type.

[2021-05-04 09:58] dbuenzli opened #10393 "Effective deprecation mecanism"
In PR https://github.com/ocaml/ocaml/pull/10392 @alainfrisch notes:

I don't think turning off warnings explicitly is a good strategy, it defeats the purpose of having a deprecation procedure. But then we also don't want programmers have to live with warnings that they can't act on other than by silencing them.

@xavierleroy once asked me a [write up](https://gist.github.com/dbuenzli/76ed925c76cc1

[2021-05-04 10:14] alainfrisch commented on #10393
Should we use the same "min-version" to warn when the user tries to use function marked with a `@since` annotation greater to our current target version?  One could even use that version to disable (or trigger warning) on some new language features.

[2021-05-04 10:18] dbuenzli commented on #10393
That would be great !

[2021-05-04 10:22] dbuenzli commented on #10393
But with `@since` there's a catch: *libraries* use that aswell with their own version scheme.

We need to be able to distinguish the stdlib and then we get into how we could generalize this for use by libraries and then we get into ah but the compiler still doesn't know what a library is.

Let's start simple !

[2021-05-04 10:30] alainfrisch commented on #10393
- The current deprecation is implemented as just another alert; it already has a string payload (the error message to show to the user, which usually would indicate how to replace the use of the deprecated component).  Do you have in mind adding a second (optional) payload?  Can we still use the generic alert mechanism, or do we need to specialize again for the deprecation stuff?

- The deprecatio

[2021-05-04 11:30] gasche commented on #10393
For the record, I like your [write up](https://gist.github.com/dbuenzli/76ed925c76cc1d13d379a2d5543e112e) on deprecation policy, that mostly matches what I had in mind as well (we discussed deprecation policies in the past but never reached a consensus). I would be in favor of starting doing this right now -- we can indeed discussion schemes to improve this.

(the `-min-version <version>` idea has

[2021-05-04 12:13] dbuenzli commented on #10393
@alainfrisch I have no idea how all this is implemented and how alerts effectively work. But yes I agree we should have in mind how it could be scaled to libraries.

It seems to me that the only point to address is the cli flag. That is, it should be repeatable and the syntax should be able to specify a name, ignored for now, e.g. `-min [$NAME:]$VERSION` (a bit of time should be spent on making th

[2021-05-04 21:46] alainfrisch commented on #10393
A general design could be to add some predicate to alert annotations (in addition to the existing textual payload):
[code]
When referencing such a component, the alert is triggered only if the predicate holds; the predicate can refer to some variables (that can be passed on the CLI, or specified locally through attributes, in the same way we control which warnings/alerts are enabled). ocaml_versio

[2021-05-04 21:59] alainfrisch commented on #10393
Coming back to this statement, which problem do you see with:

   - The authors of a library X which is supposed to work with OCaml version N develop and use CI-testing with OCaml version N (with the deprecation alert enabled).
   - But, when the library is compiled by other people (through OPAM or whatever), the deprecation alert is disabled (as all warnings should be for released code).

Having

[2021-05-04 22:42] dbuenzli commented on #10393
I'm not getting your last message.

Warnings *as errors* should be disabled for released code. Not warnings per se.

Assume a workaround is introduced but the warning is not introduced at the same time.

Now suppose you only target versions which have the workaround. You may still end up using the deprecated stuff without being warned. This will entail maintenance work later when the warning is in

[2021-05-05 06:32] hendriktews commented on #9525
"github-actions[bot]" ***@***.***> writes:

To me this looks like an attempt to get rid of bugs for which the
maintainers show no interest to fix them.

[2021-05-05 06:45] Octachron commented on #9525
The automatic formatting in paragraphs is indeed limited to the toplevel documentation comments and does not happen inside a formatting tag.

Since ocamldoc is in maintenance mode, I will update the documentation to more precisely reflect that point.

[2021-05-05 12:08] damiendoligez commented on #4070
Do we really care all that much about the performance of these function? If so, will someone take this code and update it, then submit a PR?

cc @jmeber @hcarty @Chris00 @mmottl

[2021-05-05 12:48] damiendoligez commented on #8697
@Aman9026 are you still working on this?

[2021-05-05 14:22] Octachron commented on #9548
Fixed in #9591 .

[2021-05-05 14:22] #9548 closed, assigned to nobody

[2021-05-05 14:40] Octachron commented on #6356
Module type substitutions were implemented in #10133 .

[2021-05-05 14:40] #6356 closed

[2021-05-06 07:34] jctis opened #10399 "Error message missing information about type inclusion"
Hi,

This looks like a bug in the error message:
[code]
I guess I understand why type c is not included in t. However, the last two lines are a bit confusing since the `Expected declaration` as well as the `Actual declaration` are empty. I would expect the compiler to tell me the method `y` cannot be hidden in the type of `o`.

Yours,

Judicaël Courant

[2021-05-06 07:43] gasche commented on #10399
I don't see a bug here:
- the locations reported appear to be correct, they point to the lines `let o = ...` (in foo.ml) and `val o : ...` (in foo.mli)
- the type of `o` is a subtype of `t`, but in OCaml subtyping is not inferred, you have to use an explicit cast

You could fix foo.ml with `let o = (new c :> t)`.

[code]

does that make sense?

[2021-05-06 08:08] alainfrisch commented on #10393
Ah.  It's true that I'm working under that assumption that the current state of the tooling makes non-fatal warning rather useless (they will just be lost in the log of the compilation, with no way to see them again without forcing a recompilation of everything; I think the build system should consider warnings as outputs of the compiler, properly keep track of them, and show them again on demand,

[2021-05-06 08:09] alainfrisch commented on #10393
No need to convince me on that part :-)  I'm clearly pushing for introducing the warning as soon as possible.

[2021-05-06 08:34] dbuenzli commented on #10393
A more solid foundation would be for the *compiler* to consider warnings as part of its written artefacts. That idea is floating in `odoc`, see https://github.com/ocaml/odoc/issues/557

I'm interested in knowing about the health of my dependencies and if they may start breaking in the future. So even as a user I'm interested in seeing them.

Then I really didn't understand what you were asking for

[2021-05-06 08:43] jctis commented on #10399
You are right, I overlooked what the compiler pointed at.

I however expected a more informative message: I would like the compiler to tell me *why* c is not included in t, more precisely I would like it to tell me that row y of c is missing in t (of course my example is trivial, but the one I stumbled upon was more complex). That is what the compiler does when you incorrectly use subtyping for mo

[2021-05-06 08:47] gasche commented on #10393
(Optionally) emitting `foo.warnings` when compiling `foo.ml` makes a lot of sense to me. Would you want to create an issue to track this idea?

[2021-05-06 08:52] lpw25 commented on #10399
#10170 and it's incoming follow-up PR should support that

[2021-05-06 09:15] #4070 closed

[2021-05-06 09:47] alainfrisch commented on #10393
I wanted to understand why it bothers people to add deprecation warnings as soon as possible. I can see how keeping more versioning information can bring additional convenience, but I've still a hard-time understanding what problems it would create in practice to add deprecation warnings e.g. for #10392.

If you want to know if your dependencies use functions that are/will be deprecated, enable th

[2021-05-06 10:07] dbuenzli commented on #10393
Because at the moment if you do so, then for the person who needs to support earlier OCaml versions you can either:

1. Suffer through the warning each time you build until you only support versions that have the workaround (I did with `String.lowercase` et al, it was an annoying experience).
2. Locally turn off the warning in your code. But that means the problem no longer exist. You never, ever,

[2021-05-06 10:15] jctis commented on #10399
Indeed. Thanks!

[2021-05-06 10:15] #10399 closed, assigned to nobody

[2021-05-06 10:29] alainfrisch commented on #10393
Ok, thanks, I think I start to get the picture. It's really an helper to library authors (who wants the support old versions of OCaml even with the latest version of their libraries), to decide **when** to rewrite their code base and bump their minimum OCaml version requirement.  The thing is that currently, we never really remove deprecated functions, so there is an incentive for library author t

[2021-05-06 10:31] alainfrisch commented on #10393
I've heard rumors that the dune developers intend to improve support for warnings, so perhaps they have better ideas (or just this one exactly).

[2021-05-06 11:04] dbuenzli commented on #10393
Well not only *library* authors, authors in general.

The problem is that this may well be out of your control. I don't think the problem of sticking to older version is the audience, it's rather the OCaml version supported by OS package managers. If you want to create *applications* written in OCaml that can easily be packaged by them, then you are bound by their constraints on OCaml. See [commen

[2021-05-06 11:40] alainfrisch commented on #10393
Is that really how it works (honest question)?  I would have expected that application that turns out to be implemented in OCaml would have packaging instructions that starts by installing OCaml+OPAM and the libraries (or vendor everything, including OCaml).  Is it really the case that packages depend on the OCaml compiler + OCaml libraries installed by the OS?  Or do they rely on the OCaml + OPAM

[2021-05-06 11:53] avsm commented on #10393
The answer is "all of the above", @alainfrisch :-)

- Developers (hacking on OCaml libraries): can use opam+source+latest OCaml with multiple switches
- Users (just installing a binary): can use opam lockfiles / esy locks
- Projects: can curate their library versions with lockfiles
- OS package managers: these solve across _multiple_ projects to find the common subset of library versions that work

[2021-05-06 12:56] dbuenzli commented on #10393
Suppose you implement say Firefox in OCaml (or more realistically a nice cli tool). What you describe here is the best way of never having any user :-) The key point of the comment I linked to is: "install applications when you don't care about the underlying technology".

[2021-05-06 13:41] JasonGross commented on #9326
For other archeologists like me:

The link now points to the wrong code, the correct perma-link is [non-default GC settings for speed](https://github.com/coq/coq/blob/8c7457e18de2fb5be89f22c76ac59541345d1d5c/toplevel/coqtop.ml#L142-L156), and the current permalinked location as of the writing of this comment is [here](https://github.com/coq/coq/blob/f5743b193e5179175b97142c4c8c9aa6a76def29/sysinit

[2021-05-06 13:43] alainfrisch commented on #10393
I was under the impression that most Python and Javascript projects were relying on pip / npm to locally install their dependencies (instead of relying on the OS), with pip / npm themselves perhaps (or not) installed by the OS.  In our case, that could be OPAM (perhaps) coming with the OS, and being responsible for installing OCaml libraries, but also the OCaml compiler itself. Anyway, I was think

[2021-05-06 15:09] pkhry commented on #5232
can i pick up this issue?

[2021-05-06 15:24] dbuenzli commented on #5232
Language interpreters usually use `-c` (e.g. sh, python) or `-e` (e.g. perl) for that option. Could we maybe use that aswell ?

I can see `ocaml -c` as being confusing for `ocamlc` users, but `ocaml -e` looks fine no ?

[2021-05-07 04:27] #6881 closed, assigned to nobody

[2021-05-07 04:36] gasche commented on #9295
This should now be fixed now that #10289 was merged.

[2021-05-07 04:36] #9295 closed, assigned to nobody

[2021-05-07 08:17] dbuenzli commented on #9295
Thanks @Zett98 for fixing that.

[2021-05-07 17:01] aalekseyev opened #10403 "readdir can raise an exception from a blocking section when OOM"
From code inspection I could tell that
`Sys.readdir` calls the C function `caml_sys_read_directory` (`runtime/sys.c`),
which releases the runtime lock and calls `caml_read_directory` (`runtime/unix.c`),
which calls `caml_ext_table_add` (`runtime/misc.c`),
which calls `caml_stat_resize` (`runtime/memory.c`),
which raises an OCaml exception with `caml_raise_out_of_memory`.

From my understanding, it

[2021-05-07 18:38] pkhry commented on #5232
maybe -e, --eval ?

[2021-05-07 19:11] gasche commented on #10403
There is a `caml_stat_resize_noexc` version. I guess we could have a `caml_ext_table_add_noexc` version whose return value must be checked, and in the `caml_read_directory` case turn it into an error code.

[2021-05-07 21:41] gasche commented on #5232
I agree that `-e` is fine.

[2021-05-08 09:53] dra27 commented on #10403
I've in passing noticed other possible places like this in runtime (but usually without enough time to stare properly and convince myself that it's definitely an unsafe use!)

The problem with these cases is that on the rare occasions they actually actually happen you get a segfault instead of the rather clearer OOM (or stack overflow) behaviour (we had a recent issue with a stack overflow in a th

[2021-05-10 04:46] gasche commented on #7859
I'm not sure what the status of this issue here; @trefis ?

[2021-05-10 04:47] gasche commented on #7866
(reproduced on 4.12)

[2021-05-10 04:49] gasche commented on #7901
Out of curiosity, what is the status of "ongoing work to support transparent module ascriptions"?

[2021-05-10 07:06] lpw25 commented on #7901
Currently stalled by not having someone available to work on it. Still pretty high on the list of things we want though. In particular, I think it would solve a number of performance problems in the type checker.

[2021-05-10 09:26] trefis commented on #7901
I believe @Drup had also been looking at this recently, perhaps he can tell us about what's been happening on his side?

[2021-05-10 09:36] trefis commented on #7894
There was some progress on #8516 recently.

[2021-05-10 10:13] aalekseyev commented on #10403
In fact you're lucky if your program segfaults quickly because I believe there's nothing to detect this and crash the program early. Instead, the exception handler actually gets a chance to run on the wrong thread, and we only get the segfault when the two threads sharing the stack space step on each other's toes.

[2021-05-10 10:19] trefis commented on #7859
#10405

[2021-05-10 18:30] antalsz commented on #10399
Hi @jctis – the new PR #10407 should address this once it's merged.  I've added this particular error as a test case (`testsuite/tests/typing-modules/pr10399.ml`) so that we can see this :-)

[2021-05-11 06:15] jctis commented on #10399
Hi @antalsz
The message in your test case is much more informative. Thanks :-)

[2021-05-11 11:48] EduardoRFS commented on #10369
Sub comment on this, the argument of -cclib is only for `-l` is really weird, especially because even the tools that the compiler uses it in the more general way.

As it can be seen on flexdll
https://github.com/alainfrisch/flexdll/blob/7aacd75e33bd34d27109bc765f40f46932716560/Makefile#L122

[2021-05-11 14:19] Drup commented on #7901
I'm personally rather convinced by the calculus I have, it looks fairly solid and fixes most of what we would like to fix, and the prototype works well. It's all [there](https://github.com/Drup/module-experiments).

It's currently on standby, partially because I lost steam working alone on it (which is difficult for me in the current context), and partially because i would like to prove that the r

[2021-05-11 19:24] #10389 closed, assigned to nobody

[2021-05-11 19:56] #7923 closed, assigned to dra27

[2021-05-12 06:44] garrigue commented on #7758
First, to clarify, originally the two syntaxes were already treated differently.
I.e., before the introduction of polymorphic recursion, (1) was indeed parsed as
[code]
which is coherent with the handling in functions:
[code]

Now, for ppx's, wouldn't it be sufficient to disable the duplication of the type into the pattern when there is an extension?
This would make sense, since the semantics of l

[2021-05-12 07:07] gasche commented on #7770
Here is my understanding of the PR:
- The first proposal, which is to attach annotations to types to be able to resolve printers for them, is judged too ad-hoc (compared to runtime type representations or modular implicits) and abandoned.
- There is another proposal which is to integrate a feature of utop where printers can be marked with an attribute instead of having to run `#install_printer ...

[2021-05-12 07:09] gasche commented on #7748
This feature request would require a substantial amount of work (depending on how it is designed), and it appears that no one is interested in working on it for now. Closing; let us know if there is interest in working on it, we can always reopen.

[2021-05-12 07:09] #7748 closed, assigned to dra27

[2021-05-12 07:11] gasche commented on #7719
The people who have looked most at alerts and warnings, and might look at this, are @alainfrisch and @lpw25. i don't know if other contributors ( @antalsz, @nchataing, @Drup ) would be interested in looking at it.

[2021-05-12 07:13] gasche commented on #7645
This should be solved by #1391, but that PR is in a suspend state with neither @chambart nor @mshinwell available to look at it.

[2021-05-12 07:14] gasche commented on #7628
Still interested in this feature. (cc @Octachron who was wondering which exciting pattern-matching feature could be considered in the post-refactoring state.)

[2021-05-12 07:34] Octachron commented on #7574
There is now a PR under review, #10407, that extends the module level error messages .

[2021-05-12 07:37] Octachron commented on #7338
There are still live issues connected to this meta-issue.

[2021-05-12 07:38] Octachron commented on #7409
I am removing the stale label due to the last active issue linked to this meta-issue.

[2021-05-12 07:45] Octachron commented on #7336
See #10407 for a possible solution to this issue.

[2021-05-12 08:58] gasche commented on #7212
My understanding is that fixing this would require re-computing the properties (variance, etc.) of type declarations when they are changed by a substitution. I don't understand if this would have a negative performance impact; in theory this is a fixpoint, in practice we can start from the previously-computed properties so in the common case (no change) a single iteration should be enough. I also

[2021-05-12 08:59] gasche commented on #7310
#1071, which fixes this issue, seems stalled because no one is willing to work on it for now. Any contribution is warmly welcome.

[2021-05-12 09:03] gasche commented on #7179
This should be an easy documentation improvement: clarify the documentation of the C interface in the manual to explain that `CAMLreturn0` should only be used for internal FFI procedures of type `void`, and that `CAMLreturn(Val_unit)` should be used for functions that return an OCaml `unit` value.

[2021-05-12 09:12] dra27 commented on #7748
I agree - I think your new `--config-var` (#1430) in 4.08 dealt with the scripting side of this. The recent change in opam-repository to use the `ocaml-option-` packages also makes this "probing" of features slightly less unclear.

For the toplevel, it might be tempting to having a `#config` - but the main variants are mostly uninteresting in the toplevel (flambda and afl aren't relevant and no-na

[2021-05-12 20:31] ygrek opened #10410 "Mac OS #include <version> vs $(ocamlc -where)/lib/ocaml/version"
With latest update of OS X we were having weird build problems in various opam packages with C stubs, e.g. :
[code]

It was tracked down to the combination of these factors:
- presence of `$(ocamlc -where)/lib/ocaml/version` file (notice: lowercase, unlike VERSION in git, but contents is the same)
- `version` file being included somewhere in C++ standard liibrary on OS X e.g. (results of grep) :
[

[2021-05-12 20:37] Octachron commented on #10410
This should be fixed in 4.12.0 :  #9895 .

[2021-05-12 22:00] ygrek commented on #10410
I see, thanks

[2021-05-12 22:00] #10410 closed, assigned to nobody

[2021-05-14 04:43] sonologico commented on #9156
This fell from the back of my mind, because the discussion wasn't going anywhere on #9621. Looking at it now, it seems like everyone is ok with `-pack`ing even if they have other preferences. That's a tiny change, so I'll do that later today and undraft that PR.

[2021-05-14 05:54] yallop commented on #7453
This is not quite fixed yet: @gasche's [`broken_rec_in_show.ml`](https://github.com/ocaml/ocaml/blob/9ffd97f3eec0c45ead5e395a298b4a4a54fe26c1/testsuite/tests/tool-toplevel/known-bugs/broken_rec_in_show.ml) tests still fail in `trunk`.

[2021-05-14 06:16] gasche commented on #7914
@hackwaly is it something that you would know how to fix, and would be interested in fixing?

[2021-05-14 06:22] gasche commented on #7080
This is a good general suggestion, let's try to move #9056 forward.

[2021-05-14 06:40] hackwaly commented on #7914
@gasche I have no clues about this.

[2021-05-14 08:51] hackwaly commented on #7914
I would like to work on this. But I have a few time @gasche

[2021-05-14 09:55] xavierleroy commented on #7914
I can guess what's happening.  The lazy value is marshaled (from debuggee to debugger) before being passed to the custom printer.  There's a special case in this marshaling that causes all code pointers to be replaced with an impossible code pointer instead of causing marshaling to fail.  When the custom printer forces the lazy value, the impossible code pointer is called, and something wrong happ

[2021-05-17 17:05] jfehrle opened #10415 "Documentation of Unix.kill: Sys.sigint works on Windows"
The doc says "On Windows: only the Sys.sigkill signal is emulated.", but I just tried this on Windows with Sys.sigint in CoqIDE.  It works, so it appears this statement is inaccurate.  Also "supported" seems like better wording than "emulated"; the latter raises questions of how emulation is different from Linux behavior.

As seen [here](https://ocaml.org/api/Unix.html#1_Basicfileinputoutput) in t

[2021-05-17 17:34] dra27 commented on #10415
Were using Cygwin?
https://github.com/ocaml/ocaml/blob/5fbd6e15c8ccffeb533389e4695223fbc9370b4b/otherlibs/win32unix/unix.ml#L555-L557

[2021-05-17 17:38] dra27 commented on #10415
"Emulation" is appropriate - there are no signals on Windows, so it is not sending the kill signal (i.e. it is not in fact calling [`kill(2)`](https://linux.die.net/man/2/kill)) but rather using a different Windows mechanism to emulate the behaviour of `kill(pid, SIGKILL)`

[2021-05-17 18:43] jfehrle commented on #10415
I ran the Coq 8.12 release on Windows.  That used to be cygwin on Windows AFAIK, perhaps @zimmi48 or @msoegtropIMC recalls the details.  (I've been developing on WSL2 for over a year, so I don't do Windows builds on my system any more.)

The call with `sigint` is in `coq.ml`, and it was last changed in 2012.

`let interrupter = ref (fun pid -> Unix.kill pid Sys.sigint)`

[2021-05-17 19:42] dra27 commented on #10415
Right, and on Windows that ref gets overwritten in OS-specific start-up to call the `win32_interrupt` stub, which correctly sends CTRL+C to the coqtop console, not calling `Unix.kill`

[2021-05-17 20:50] jfehrle commented on #10415
OK.  Do you know if this works for all the defined signals?

[2021-05-18 07:40] dra27 commented on #10415
No - what Coq is doing doesn't even generalise to all applications.

[2021-05-18 07:41] #10415 closed, assigned to nobody

[2021-05-18 16:58] austindd commented on #9484
Bumping to keep this issue alive. I really think this could lead to a better programming experience for a lot of people.

[2021-05-19 15:21] Octachron commented on #7453
All examples are fixed by #10416 (and this time without fatal errors when `-short-paths` is enabled). There are still some case that are not perfectly printed, when the displayed fragment of a group of mutually recursive definitions is not self-recursive. But that only happens for unprintable type definitions (e.g.
[code]
) and recursive modules.

[2021-05-19 15:22] yallop commented on #7453
Thank you, @Octachron!

[2021-05-19 15:22] #7453 closed, assigned to nobody

[2021-05-20 09:51] damiendoligez commented on #9717
The problem is that the compilation of the .ml file also produces a .cmi, *if and only if* the .mli file is absent. Checking for the presence of the .cmi itself is not good because it could be left over from a previous compilation of the .ml. It (somewhat) makes sense to check for the presence of the .mli file right next to the .ml, since they are both source files, and strongly related.

If we ad

[2021-05-21 04:27] #7608 closed, assigned to xavierleroy

[2021-05-21 04:27] #7581 closed, assigned to mshinwell

[2021-05-21 14:16] damiendoligez commented on #7581
ISTR that we stopped restricting ourselves to C89 some time ago. For example, there are a number of `//` comments in the C code.

[2021-05-21 17:14] bryphe opened #10422 "4.12 - Windows: Crash in caml_memprof_handle_postponed_exn"
Hi!

I just recently upgraded my project to OCaml 4.12 from 4.11, and received a user report of a crash on Windows after this upgrade (https://github.com/onivim/oni2/issues/3579):

Hooking up WinDbg and diving in - I saw that the crash is occuring in [`caml_memprof_handle_postponed_exn`](https://github.com/ocaml/ocaml/blob/cce52acc7c7903e92078e9fe40745e11a1b944f0/runtime/memprof.c#L572).

Specific

[2021-05-21 17:24] ng-marcus opened #10423 "macOS: exceptions aren't caught when linking C++ to arm64 compiled code"
I'm compiling OCaml bindings for a C++ library (https://github.com/grain-lang/binaryen.ml).   We previously hit a problem where the macOS compiled version wasn't capturing exceptions from the C++ library and was causing SIGABRT instead, as someone else demonstrates well here (https://github.com/vaivaswatha/OCamlCppExn) which was resolved by using keep_dwarf_unwind at the linking stage (issue #9026

[2021-05-21 22:43] bryphe commented on #10422
Debugging further - it looks like this consistently occuring in `SDL_PollEvent`: https://github.com/revery-ui/revery/blob/4c2bdac424901f7b112b73175366e46135d26cdc/packages/reason-sdl2/src/sdl2_wrapper.cpp#L1029

It looks like the culprit is that, there is a callback that can potentially be dispatched during that call (w/o) the runtime: https://github.com/revery-ui/revery/blob/4c2bdac424901f7b112b7

[2021-05-21 22:43] #10422 closed, assigned to nobody

[2021-05-22 19:13] yurug opened #10424 "[ocaml.tailcall] is wrong for functions with more than 10 arguments (in Mach)."
Consider:
[code]

This code is accepted by the compiler even when "Warning 51" is enabled.

However, when looking at its `mach` representation, the first call to `i` is not a tailcall:
[code]

Tested with `trunk`, `4.10.2`, and `4.12.0`.

[2021-05-22 19:30] nojb commented on #10424
My understanding is that the `ocaml.tailcall` applies a purely syntactic criterion to check for tailcall-ness and is only fully accurate for bytecode. Then, for native-code, there are architectural constraints that may result in tailcalls not being compiled with constant stack space (eg when the number of arguments is large relative to the number of available machine registers).

Currently there i

[2021-05-22 19:31] gasche commented on #10424
This is a known limitation of `@tailcall`: attributes are erased around the Lambda level, and the low-level concerns that break tail-call for large-arity functions are only known much later in the backend, and depend on the architecture.

One relatively-simple way to fix this is to forbid large-arity functions (force them to be "split" in several maximum-arity function, with a choice of maximum th

[2021-05-22 20:02] yurug commented on #10424
I read in `lambda/simplif.ml`:

[code]

This comment is not consistent with the documentation:

[code]

[2021-05-22 22:35] pmetzger commented on #10424
To me the importance of this issue is that whether code tailcalls is not merely a convenience or slight performance optimization but can instead significantly impact the safety of code. If you write something sensitive, it can stack overflow if a tailcall unexpectedly isn't present, leading to a crash. Also, it might experience this failure when compiled for some platforms and not for others. Sile

[2021-05-23 09:04] xavierleroy commented on #10424
I think it's pretty easy to implement, but there are user-visible consequences: non-tail-calls to functions with many arguments will allocate intermediate closures in the heap, instead of passing the extra arguments on stack as we do now.  Personally, I'm fine with this change, as I think writing functions with > 10 arguments is crazy (with apologies to @yurug), but the people who do this are also

[2021-05-23 09:16] xavierleroy commented on #10424
Another issue with the early "splitting" of large-arity functions is that tail calls to the function itself, which are supported today regardless of the number of arguments, will also allocate intermediate closures.  So, basically, we're sacrificing performance of non-tail calls and self-tail calls to make sure that other tail calls run in constant stack space.

[2021-05-23 13:04] JasonGross opened #10425 ""is not a compiled interface for this version of OCaml" error should report actual versions"
When I see the error message
[code]
(full log [here](https://github.com/coq-community/run-coq-bug-minimizer/runs/2649891303?check_suite_focus=true#step:5:41763)) this is not that useful if I believe I have only one version of OCaml installed, and I am not the one who invoked OCaml (e.g., it was invoked indirectly via Coq).  It would be much more useful if OCaml would report the current version of

[2021-05-23 19:12] yurug commented on #10424
I agree with Xavier that writing functions with more than 10 arguments is crazy. In our case, they come from a systematic program transformation intended to avoid code duplication. Fortunately, with `flambda`, these functions are inlined and never exist in the generated code.

In my opinion, the most important problem is the fact that `[@ocaml.tailcall]` is not reliable. Fixing the documentation o

[2021-05-24 08:40] xavierleroy commented on #10424
I'm preparing a PR along these lines.

In the meantime I noticed something weird with the repro case given in this issue report.  Normally, function `i` is inlined at point of call in function `h`, so we get a tail-call to self in `i`, which the back-end implements flawlessly.  How was the Mach code given in the report obtained?  by turning inlining off entirely?

[2021-05-24 09:26] xavierleroy commented on #10424
See #10426.

[2021-05-24 15:10] yurug commented on #10424
[code]

(I tried to find a minimal example with the least interaction with other optimizations...)

[2021-05-24 15:47] craigfe opened #10427 "Incorrect error message on `external` arity mismatch with local substitution"
I ran into the following example today:

[code]

This is rightly rejected because the two `external`s have differing arities. (It also happens that the implementation expects the wrong arity of `%identity`, but this won't be determined until after type checking.)

However, the reason that OCaml gives for rejecting it is not correct:

[code]

The compiler is making a distinction between two differe

[2021-05-24 15:57] xavierleroy commented on #10424
Right, I misread the output of `-dsel`.  Function `h` is inlined in `i`, so `i` tail calls itself properly.  But function `i` is not inlined in `h`, resulting in the code you showed.  We're both right :-)

[2021-05-24 16:29] xavierleroy commented on #10425
I remember @gasche looking at this issue a long time ago, but I may be wrong.  It would be much easier to report version numbers if magic numbers were based on version numbers, as investigated in #9645.

Generally speaking, this is one of those features that require a lot of code yet are rarely useful (it's exceedingly rare to run into this issue if you're doing `make clean` or  `git clean -f -x`

[2021-05-24 17:33] JasonGross commented on #10425
Even if you just reported both magic numbers and I had to go digging though git history to discover the versions, that would (have) be(en) enormously helpful.

I am quite confused about this error message, because I'm running on a CI in a docker image where there's only a single version of OCaml being used globally, AFAIK.  I am downloading artifacts generated by two other CI jobs, but AFAICT they

[2021-05-24 17:59] lpw25 commented on #10427
I think this is fixed by #10407

[2021-05-24 19:33] gasche commented on #10425
I did, and the report above is a result of the work at that time. Otherwise it would just have said "... is not a compiled interface".

We could store a mapping in the code from old magic numbers to the corresponding OCaml versions (I think it would not be a lot of work to add; @JasonGross, is this something that you may be interested in contributing?), but of course that would only work in the ca

[2021-05-24 19:48] antalsz commented on #10427
Yes – the new error will be

<pre><code>Error: Signature mismatch:
       ...
       Values do not match:
         external map : ('a -> 'b) -> 'a t -> 'b t = "%identity"
       is not included in
         external map : ('a -> 'b) -> 'a t -> 'b t = "%identity"
<strong>       The syntactic arities of these primitives were not the same
       (They must have the same number of arrows present in the

[2021-05-24 20:13] JasonGross commented on #10425
Sure, though it may be faster for someone else to contribute this, since I don't know the codebase at all.  I've constructed such a table here, though:
[code]
[code]
[code]

Magic Number | First Commit | First Tag Containing Commit | File Name Containing Definition
-------------|--------------|-----------------------------|--------------------------------
Caml1999X029 | 55973d1203 | `4.12.0-alpha1

[2021-05-24 20:15] JasonGross commented on #10425
Ah, but it seems that maybe I'm looking in the wrong file?  Should I be looking in utils/config.mlp instead?

[2021-05-24 20:20] JasonGross commented on #10425
If I use `files=("utils/config.mlp")` and `blame_text="$(git blame $commit^ "${files[0]}" | grep 'cmxs_magic_number = ' | sed s'/^\([^ ]*\).*cmxs_magic_number = "\([^"]*\)".*/\2 | \1/g')"`, then I get

Magic Number | First Commit | First Tag Containing Commit | File Name Containing Definition
-------------|--------------|-----------------------------|--------------------------------
Caml1999D029 |

[2021-05-25 13:02] lthls commented on #9510
I'm trying to see if I can make a patch for this issue (the bad interaction between `[@tailcall]` and the local function transformation).

My first idea is that calls in tail position in the function being transformed can be stripped of their `[@tailcall]` annotations (if any), because the context in which they were supposed to be tail disappears. This would solve the problem reported here, and si

[2021-05-26 10:19] dra27 opened #10429 "ocamloptp shouldn't be compiled in bytecode-only mode"
Spotted while reviewing #10265. I haven't chased down whether this has always been wrong if it's a regression from the build system merge PRs, but `tools/ocamloptp` is compiled even if the tree is configured with `--disable-native-compiler`. It - and `profiling.cmx` should only be built during `make opt`.

[2021-05-26 16:57] EduardoRFS commented on #10374
Wouldn't it be a better idea to provide the full triplet to clang as it will also prevent other changes related to the current environment + also nice on Linux and FreeBSD when you have binfmt installed.

[2021-05-27 11:39] craigfe opened #10431 "Configure should require `ar` explicitly"
The compiler build process currently has an implicit dependency on `ar`, which can cause a somewhat cryptic error on distributions that don't provide an unprefixed `ar` by default (such as NixOS):

[code]

To fix this, the user needs to make `ar` available (on NixOS, this is provided by the `binutils-unwrapped` package).

The failure mode would be improved by having `./configure` explicitly requir

[2021-05-27 12:49] johnwhitington commented on #10431
Some of the recipes in https://ocaml.org/manual/intfc.html also require `ar`, so it would be useful to have it printed in `ocamlc -config` too, if found on the system.

[2021-05-27 16:45] #7469 closed, assigned to dra27

[2021-05-28 07:34] mjambon opened #10432 "-short-paths incorrectly picks arbitrary type alias"
Quick reproduction with ocaml 4.10.0 or 4.12.0: visit and clone https://github.com/mjambon/short-paths-alias-bug then run `make`.

Description
--

When an ml file contains a type definition and one or more aliases, errors involving those types are reported using one of the aliases instead of the name bound in the original type definition. This results in confusing error messages as well as confusi

[2021-05-28 08:13] Octachron commented on #10432
This is the intended effect of `-short-paths`: it picks a common "best" paths amongst all aliases in scope.

A illustration of the intended behavior would be:
[code]
The error message with `-short-paths` is

compared to

without.

Nevertheless, we could tweak the heuristic for the choice of this "best" name to pick the first name in alphabetical order.

[2021-05-28 08:47] mjambon commented on #10432
I don't think there's an issue of path here. We would like a preference for the original name over any of its aliases **defined in the same module**; not over any aliases in general. This seems compatible with the behavior of `-short-paths`.

I'm not sure how this is implemented and it might be trickier than I imagine... but I picture two paths that differ only by their last component e.g. `A.B.or

[2021-05-28 09:02] Gbury commented on #10432
That might not always be the case: for instance, when dealing with format types (cf https://ocaml.org/api/Stdlib.html#1_Operationsonformatstrings ), it might be nicer to keep aliases such as `format4` and `format`, rather than always expanding to `format6`.

[2021-05-28 21:23] mjambon commented on #10432
@Gbury good point.

`format4` is a specialized version of `format6`:
[code]
It makes sense to prefer the specialized version, `format4`, which is kind of an "alias" for the original type `format6` but not really. I'm not sure about the terminology but `format4` is not equivalent to `format6` in the sense of representing the same set of values.

In the case of a "true alias" representing the same s

[2021-05-30 15:39] ALIENQuake opened #10436 "OCaml 32-bit executable can't display Unicode characters in Windows 10 console, the same exe as 64-bit has no problems"
Hi,

The [WeiDU](https://github.com/WeiDUorg/weidu/) is OCaml executable, it's compiled as 32-bit and 64-bit

- this program displays strings at the Windows 10 20H1 console
- strings are loaded from UTF8 files
- 64-bit has no problems to display proper characters
- 32-bit executable display garbage

What might be the reason? Source code? Lack of specific compiler flags for 32-bit?

Links:

https:/

[2021-05-30 15:57] gasche commented on #10436
Thanks for the report! This sounds like a question for @nojb or @dra27 (the latter being in holidays right now). Could you let us know about which OCaml version you are using, how you installed it, and which of the various Windows ports are being used? (Currently: MSVC, Mingw-64, or Cygwin; see [README.win32.adoc](https://github.com/ocaml/ocaml/blob/trunk/README.win32.adoc) ).

P.S.: I never knew

[2021-05-30 16:04] xavierleroy commented on #10436
Unicode and the Windows console is a long story, see #1408 and #1444.  @dra27 is the expert here.

[2021-05-30 16:24] ALIENQuake commented on #10436
@xavierleroy But why 32-bit doesn't work when 64-bit works correctly? @dra27 Can you please provide feedback? Is there any kind of workaround?

[2021-05-30 16:25] ALIENQuake commented on #10436
@nojb Since dra27 is on vacation, I'm tagging you also.

[2021-05-30 16:36] nojb commented on #10436
Nothing comes to mind right now. But as @gasche said it would be useful to know how is OCaml configured and what version of OCaml is used (`mingw`, `msvc` or `Cygwin`).

[2021-05-30 16:46] ALIENQuake commented on #10436
@nojb Sorry, the Windows compilation is made via Cygwin. As for OCaml configuration, I can 'extract' those from the Makefile, Configuration and Makefile.ocaml files that I've linked but I need to know what you are looking for.

[2021-05-30 17:59] nojb commented on #10436
Do you have a reproduction case? Or at least a screenshot?

[2021-05-30 18:19] ALIENQuake commented on #10436
@nojb Sure:
![image](https://user-images.githubusercontent.com/365255/120115451-fd54c600-c183-11eb-8300-c749cee98ade.png)

[WeiDU-UTF8-Example.zip](https://github.com/ocaml/ocaml/files/6566703/WeiDU-UTF8-Example.zip)

[2021-05-30 18:37] nojb commented on #10436
Thanks. Which version of OCaml was used to compile the executable? And what is the compilation command? I tried running `make` from the root of the repository with the OCaml binaries in the `PATH` but it does not seem to work.

[2021-05-30 19:46] ALIENQuake commented on #10436
@nojb
I'm afraid that creating the correct build environment for this project will not be a simple task. The [instructions](https://weidu.org/~thebigg/new_compile.html) require few manual steps and could be confusing. In order to avoid frustration, I can provide a 2GB archive with a pre-configured Cygwin. Let me know if you want to receive full package.

opam list output:

[code]
I don't know male

[2021-05-30 20:26] nojb commented on #10436
I investigated a bit. If you do `chcp 65001` (setting code page to UTF-8) in your `cmd.exe` before running the program it seems to work OK. Maybe there is a difference how the code page is set by default between 32-bit and 64-bit? I don't have time to dig deeper at the moment, unfortunately. But it doesn't seem to be a bug in OCaml at first sight (but perhaps there is something to improve on our s

[2021-05-30 20:35] ALIENQuake commented on #10436
@nojb Yep, adding `chcp 65001` before launching weidu32 is a known workaround. This however has unpredicted consequences, especially on older Windows versions so it can't be used. FWIW, the initial codepage for both 32-bit and 64-bit executable is 852. Let me know if you want more information.

[2021-05-31 11:20] Octachron commented on #9616
The bugtracker does seems to be the right place for such report. I am wary of integrating documentation for a non-strictly supported OS from a single punctual source, I am thus closing this issue. Don't hesitate to reopen it if there is more information available.

[2021-05-31 11:20] #9616 closed, assigned to nobody

[2021-05-31 11:52] Octachron commented on #10432
The distinction between transparent and not transparent aliases is already implemented.

Currently, `-short-paths` merely does not discriminate between transparent aliases and the "original" definition.

It is not that clear if the original name is always the best choice. For instance, a type might need to be first defined in a mutually recursive group in a `Type_definitions` module, whereas its c

[2021-06-01 09:39] ghost commented on #9501
I'm not going to have time to revive this anytime soon, so closing

[2021-06-01 09:39] #9501 closed, assigned to nobody

[2021-06-01 09:43] Octachron commented on #10302
Fixed by #10303 .

[2021-06-01 09:43] #10302 closed, assigned to nobody

[2021-06-01 12:11] #10216 closed, assigned to nobody

[2021-06-01 12:14] #10121 closed, assigned to nobody

[2021-06-01 12:58] Octachron commented on #9774
Closed by #10401 .

[2021-06-01 12:58] #9774 closed, assigned to nobody

[2021-06-01 13:35] #9762 closed, assigned to nobody

[2021-06-01 13:43] #9713 closed, assigned to nobody

[2021-06-01 13:57] Octachron commented on #9251
Since I have only been exposed to this issue once (when fixing utop) and there have been no other comments, a explicit function does not seem required. I am closing this issue.

[2021-06-01 13:57] #9251 closed, assigned to nobody

[2021-06-01 14:56] Octachron commented on #7859
In this case, #10405 does not change the error message, mostly because it is already pointing to the module `X`:

I would propose to highlight the module context (here `X`) and add some indentation, which should be fine once we limit the number of pair (context,module type) which is printed in the same error message.

[2021-06-01 20:26] mjambon commented on #10432
This makes sense. The original problem I was reporting occurs only when two or more aliases are defined in the same module. Here's a tentative selection rule:
1. Consider the tree of aliases.
2. Start from the subset _S_ of aliases that are tied after eliminating long paths like `Long.Long.Path.t`.
3. Filter _S_ to keep only the aliases with no descendants in that set, giving _S'_. For example, if

[2021-06-01 20:27] mjambon commented on #10432
Should this issue be forwarded to the merlin project?

[2021-06-01 21:20] Octachron commented on #10432
I forgot to mention my main point: I am not sure if anyone will have the time for tuning the `-short-paths` implementation of either Merlin or the compiler before those two variants are synchronized.

[2021-06-01 22:05] mjambon commented on #10432
No worries, we're not blocked. We use the [`a_` prefix workaround](https://github.com/returntocorp/pfff/pull/433/files).

[2021-06-02 09:30] gasche commented on #10432
Is fine-tuning the heuristic really the correct way to go here? @mjambon it sounds like you use type aliases to convey important distinctions, not just shorten definitions. This is fragile, and will always be, because printing aliases will always contain some arbitrariness. What about not using aliases there? Would it be unworkable in practice to use, say, `type bar = Foo of foo` instead? (For exa

[2021-06-02 10:03] mjambon commented on #10432
@gasche as you suggest, `type pat = Pat of expr` would work but our application is performance-sensitive and this solution worries me.

Maybe we could use phantom types. We usually try to keep things simple, but this may be worth it:
[code]

The following gives a type error, which is good:
[code]
[code]

[2021-06-02 10:07] Octachron commented on #10432
If the problem is just performance, with an unboxed annotation
[code]
the constructor will not exist after type checking.

[2021-06-02 15:12] ygrek commented on #6798
Still want :)

[2021-06-02 18:08] xavierleroy commented on #6798
I'm afraid you'll have to submit a PR yourself, since nobody else seems to care.

[2021-06-02 20:40] mjambon commented on #10432
@Octachron I didn't know about this feature. Very nice!

[2021-06-03 15:32] superherointj opened #10440 "Define source of truth for OCaml releases to be used by distribuitions"
I was considering an update of OCaml package on Nixpkgs and I wasn't sure what is the single source of truth for OCaml releases. Because `caml.inria.fr` suggests that website is outdated and to not be relied upon.

When I did bring the topic on IRC, learned: [redacted for clarity]
[code]

As said, GitHub offers better infrastructure. But it can come with other issues. But `octachron` pragmatic sol

[2021-06-03 15:36] #10440 closed, assigned to nobody

[2021-06-03 23:25] garrigue commented on #6744
Looks safe to close this now, after the merging of #9612 last year.

[2021-06-03 23:25] #6744 closed

[2021-06-04 08:35] Octachron commented on #10203
This was fixed by #10205 as far as I can see, isn't it?

[2021-06-04 08:35] #10203 closed, assigned to nobody

[2021-06-04 18:56] vrotaru opened #10442 "4.12.0 regression for #cd and #use"
I found a regression in 4.12.0 when OCaml in "scripting" mode, so to speak. Example below.

First the "project"
[code]
And now to the actual bug.
[code]

In case it helps, if I move the `test.ml` to parent folder and run `ocaml test.ml` everything runs fine

Attaching the relevant parts of `strace` output

[strace-4.11.txt](https://github.com/ocaml/ocaml/files/6600678/strace-4.11.txt)
[strace-4.12

[2021-06-05 20:19] #7308 closed, assigned to nobody

[2021-06-07 07:10] kenichi-asai commented on #6707
I tested the situation in 4.12.0.  I reported last year that the first problem went away in 4.11.0+alpha1, but I was wrong.  All the three problems persist in 4.12.0.

[2021-06-07 07:14] zoggy opened #10445 "Segfault in bytecode but not in native code"
Hello,

With ocaml 4.12.0, the following code ends with a segmentation fault when it is interpreted with the toplevel or compiled to bytecode, but not when it is compiled to native code:
[code]
[code]
Everything was ok with ocaml 4.06.1.

[2021-06-07 07:18] gasche commented on #10445
Thanks for the report!

Reproduction information: the bug occurred between 4.07.1 (works) and 4.08.0 (segfaults).

[2021-06-07 07:35] Octachron commented on #10445
This is a duplicate of #10324 which is fixed in trunk (and the 4.13 branch), see #10325 .

[2021-06-07 07:35] #10445 closed, assigned to nobody

[2021-06-07 07:51] zoggy commented on #10445
Ok, thanks for your answers (and sorry for the noise).

[2021-06-07 09:24] dra27 commented on #9605
There are steps towards this becoming a reality with my recent work to excise scripts from the build system.

[2021-06-07 11:40] dra27 commented on #10436
The 32-bit executable you link has been compiled with OCaml 4.05.0 and the 64-bit executable with 4.07.1; the Unicode support was added in 4.06, hence the observed difference in behaviour.

[2021-06-07 11:40] #10436 closed, assigned to nobody

[2021-06-07 12:03] dra27 commented on #10442
This has been caused by https://github.com/ocaml/ocaml/pull/9611 - this example should definitely go in the testsuite, thanks!

[2021-06-07 20:10] ALIENQuake commented on #10436
@dra27 Big thanks for investigation. Success!
![image](https://user-images.githubusercontent.com/365255/121081536-23f6aa80-c7dd-11eb-8c68-21bd2b76ca32.png)

[2021-06-09 05:00] XVilka commented on #8504
Could you please reopen this issue? While it might be not an easy thing to implement, it would be certainly a nice to have syntax sugar in some distant future. cc @gasche @trefis

[2021-06-09 15:05] kit-ty-kate opened #10450 "[4.13 bug] %apply externals require an arrow type as first argument regardless of the actual type"
The following test case fails with OCaml 4.13 but worked perfectly before:
[code]
[code]
`M.t` is an abstract type but internally a function, which to me should be valid. However OCaml 4.13 somehow treats it as a function and rejects this code with a rather cryptic error message.

Looking into the PRs merged in 4.13 so far, it looks like this was introduced in https://github.com/ocaml/ocaml/pull/1

[2021-06-09 15:06] kit-ty-kate commented on #10450
This was originally detected in the wild in `bap-core-theory`:
[code]

[2021-06-09 15:18] gasche commented on #10450
For the record, I find that the new behavior that breaks this program is reasonable: `%apply` is only sound if its first argument is a function, and using the type-system to enforce this is in the spirit of the OCaml language.

The program could be fixed by defining the `test` function within the module itself, instead of outside the abstraction boundary. (You may then not be able to export the fa

[2021-06-09 16:31] kit-ty-kate commented on #10450
@gasche that's a fair point.
@ivg was there some particular performance implication in exporting the external outside of `Bitvec`?

[2021-06-09 16:35] ivg commented on #10450
Yes, significant. The code wasn't inlined without it. With `external` the code `Bitvec.(x + y mod m)` together with Zarith was compiled to native machine code, i.e., to two machine operations. Without it it was two calls to OCaml function.

[2021-06-09 16:51] ivg commented on #10450
For the reference, here is the [library][1] that uses the trick
[code]
where type `'a m` is `modulus -> 'a` hidden under the abstraction boundary.

This won't work in the real application. The whole idea is to hide that `'a m` which denotes a computation modulo `m`. As it was noticed before, exposing the fact that `mod` is the apply primitive enabled inlining (even without flambda) and generated o

[2021-06-09 18:03] lthls commented on #10450
It's not very satisfying, but you can get around the new restriction by using the `"%identity"` primitive instead:
[code]
I think this should give you the same result as with `"%apply"`. The extra type definition is a work around the check for primitive arity (parentheses don't seem to be enough).

[2021-06-09 18:26] ivg commented on #10450
Not sure if it will work. I still need to apply as `'a m` is a function and I need to apply it. I thinking so far to use
[code]
Which I presume will work. Will it?

[2021-06-09 20:13] ivg commented on #10450
[code]

With external, it is compiled by 4.09.x on amd64 to,
[code]
Notice the absence of allocations.
When I remove the external annotation, the compiler is no longer able to see through it and allocates a closure,
[code]

[2021-06-09 23:05] lthls commented on #10450
`a mod b` is translated as `((mod) a) b` then typechecked.
During typechecking, if `(mod)` is the `apply` primitive then (starting from 4.13) the type annotation on `(mod)` is discarded (I think) and the types for `a` and `b` are inferred as if the expression were `a b`, which requires `a` to be typable as a function. Otherwise the normal typechecking algorithm is used, matching the type of `(mod)

[2021-06-10 12:46] ivg commented on #10450
I tried 4.13.0~alpha1 and got perfect results<sup>1</sup> (with no allocations and all functions inlined) when the `mod` operator is defined as a simple `val`.  So the fix for us would be just to translate external to val. A win-win!

With that said, it looks like that #10081 changed the way how primitives (externals) work. Before that externals were untyped so that we can write `external magic :

[2021-06-10 13:17] gasche commented on #10450
Out of curiosity, does using `val` degrade performance on other recent versions of OCaml?

[2021-06-10 13:19] lthls commented on #10450
I'm also curious to know whether the perfect results were obtained with Flambda, Closure (the non-flambda mode), or both. I'm surprised that Closure would actually perform that much inlining.

[2021-06-10 13:38] ivg commented on #10450
Yes and no. On microbenchmarking yes, hundred times slower, as every addition turned into allocation, instead of two machine instructions. On my blackbox test, which was `/usr/bin/time -v bap /bin/ls` I didn't notice any significant changes (there was some observable performance impact that is < 5%). But other tests, e.g., if we will interpret a binary, which more heavily relies on arithmetic oper

[2021-06-10 14:39] lthls commented on #10450
The output you've shown looks like what I would expect out of Closure. The inner `closure` means that you still have an allocation at each call to `sum8`, which is what you were trying to prevent (and you can see that the last `apply prim/233 prim/232` is not inlined).
Are you sure that this is the result that you wanted ?
To give you an idea, this is the Clambda code I get with Flambda:
[code]

[2021-06-10 14:44] lthls commented on #10450
And here is the code I get with my `"%identity"` trick, with Closure:
[code]

[2021-06-10 16:22] ivg commented on #10450
Yep, indeed, I jumped to conclusion too fast, I looked into the closure, which is perfectly inlined itself, but didn't notice that the toplevel function allocates the closure before calling it. Indeed, there's still an allocation happening. Though still better than it was (before that `x + y` was allocated as a closure and then applied to the modulus function.

[2021-06-10 16:27] ivg commented on #10450
Could you elaborate (or point me to your version or send a patch) on this trick, as I can't get it work.

[2021-06-10 16:38] lthls commented on #10450
The initial idea was to apply the following patch both in `bitvec.mli` and `bitvec.ml`:
[code]

But with type substitutions (available since 4.08, if I remember correctly), we can get a slightly smaller patch:
[code]

[2021-06-10 17:23] lthls commented on #10450
Apparently my trick requires a fairly recent version of OCaml (probably 4.13.0), otherwise `(mod) ((+) x y)` is simplified into `(+) x y` too late, so `(mod) ((+) x y) m` isn't simplified into `(+) x y m` but into `((+) x y) m`, preventing the expected inlining of `(+)`. So it's not a solution for earlier versions of OCaml (I failed to notice that earlier, sorry about that).

[2021-06-10 19:18] ivg commented on #10450
That's not a problem! For versions before 4.13 we can use the apply primitive and for versions >= 13 we will be using the identity trick.

It drives me crazy though that we just change `mod` from being `apply` to `identity` (which clearly have different semantics) without changing anything else and get still the same results :)

[2021-06-11 04:33] gasche commented on #7853
@Ekdohibs's [camlboot](https://github.com/Ekdohibs/camlboot) is now able to build OCaml 4.07 without the bootstrap compiler (and to confirm that the current 4.07 bootstrap files are correct). It is not up to date for 4.12-4.13 yet.

[2021-06-11 10:31] lthls commented on #10450
In a way, `apply` is the identity specialised to function types and eta-expanded. So it's not completely unreasonable for both primitives to behave similarly.

[2021-06-11 13:36] Octachron commented on #6707
Note that the feature is unlikely to be ever implemented in ocamldoc. Ocamldoc is in maintenance mode and further development efforts are focused on odoc.

[2021-06-14 04:26] #8643 closed, assigned to nobody

[2021-06-14 04:27] #7834 closed, assigned to nobody

[2021-06-14 05:36] kayceesrk opened #10453 "[RFC] Stdlib thread-safety - Format"
Multicore OCaml team has been working on ensuring that the stdlib remains backwards compatible and fast for sequential programs, and provides _reasonable_ behaviour when used in parallel by multiple domains. We've [written down](https://github.com/ocaml-multicore/ocaml-multicore/wiki/Safety-of-Stdlib-under-Multicore-OCaml) the guarantees we expect to provide when stdlib is used in parallel. In par

[2021-06-14 08:18] gasche commented on #10453
I'm not sure I understand the proposal. After it has been implemented, if I try to `Format.fprintf Format.std_formatter ...` from another domain (than the initial one), what happens? Do I get things handled by an internal buffer, and then eventually flushed to stdout? Do I get an error because I should have used one of the "additional functions"?

Some naive remarks below.

Format is not fast, so

[2021-06-14 12:57] jhjourdan commented on #9071
Still an issue.

[2021-06-14 16:30] nchataing commented on #7719
After some investigation, what comes clear is the fact that `let f = (fun x -> x) [@@deprecated]` puts the attribute on the `value binding` (see https://github.com/ocaml/ocaml/blob/trunk/typing/typedtree.ml#L296); however if we want the deprecated warning to fire, we need an attribute on the `pattern` inside the `value binding` (which would roughly correspond to `Tpat_var "f"` in this case).

The

[2021-06-14 16:35] dra27 opened #10455 "configure selects incorrect C compiler"
I think this has been wrong since 4.08, so I'm noting it so I/we don't forget to probe it further.

```./configure --host=i686-w64-mingw32```

should error if it cannot find `i686-w64-mingw32-gcc`, but actually will continue with a mix of `gcc` or even `x86_64-w64-mingw32-gcc` on a system (although I'm struggling to repro that), erroring later on. At present, with mingw64-x86_64-gcc-core installed

[2021-06-15 09:05] kayceesrk commented on #10453
Thanks for the suggestions @gasche and your review on multicore [PR#582](https://github.com/ocaml-multicore/ocaml-multicore/pull/582)!

Since `Format.std_formatter` refers to the initial domain's formatter, the formatting is handled by the internal buffer, and you may see `Stdlib.Queue.Empty` exception as in the [Multicore OCaml issue #563](https://github.com/ocaml-multicore/ocaml-multicore/issues

[2021-06-15 09:22] gasche commented on #10453
There is more in the mutable formatter state than just the output device, for example I can change the formatting geometry or "semantic tag" functions. Consider a program that first sets some geometry, then traverses a tree to pretty-print its content (with a single flush at the end). If I tried to naively parallelize the program by using `DomainsLib.Task` to use fork-join in the traversal, the gl

[2021-06-15 09:40] kayceesrk commented on #10453
The usual reasoning that the multicore team tries to apply in these situations is to first try to retain the backwards compatibility for sequential code and its performance characteristics. Since the parallel programs using Multicore OCaml do not exist yet, we can specify a mechanism to be followed by the not-yet-written parallel code. With that, I'm leaning towards domain-local "standard formatte

[2021-06-15 09:45] jberdine commented on #10453
I'm not sure which flush is being referred to here, the format stream can be flushed and the output device buffer can be flushed. From a Format client's perspective, I think that any interleaving of content reaching the output device when there are any open boxes in the format stream will have suboptimal behavior. One could imaging taking a lock when the first box is opened and releasing it when i

[2021-06-15 09:50] jberdine commented on #10453
It might be useful to compare to what happens currently with a multi-processing architecture. In this case, each process has its own complete Format state and shares e.g. stdout. Output from the processes gets interleaved only on line boundaries, as the output device buffer is flushed only after complete lines. If the client wants to restrict the interleaving, some client-specific locking mechanis

[2021-06-15 10:17] Drup commented on #10453
I don't quite understand with the description what happens to boxes (and formatting in general) with parallel printing ? I think the use case of "I open an (indented) box, then starts logging lot's of (potentially parallel) operations, then close it" is pretty common. In that case, you need to share the state of the formatter across your various domains. If a lock around the formatter is necessary

[2021-06-15 10:57] kayceesrk commented on #10453
@Drup we don't plan to make stdlib thread-safe by default. We've [written down](https://github.com/ocaml-multicore/ocaml-multicore/wiki/Safety-of-Stdlib-under-Multicore-OCaml) the reasoning behind this. I'm generally not in favour of slowing down sequential code in order to get the safe behaviour for parallel programs. Hence, I would prefer that the version that you describe be opt-in.

[2021-06-15 11:43] Drup commented on #10453
While I agree with the reasoning in general, in particular applied to data structures, I'm not sure I do in the specific case of printing.

In any case, if it's opt-in, I think the option should be provided as part of `Format` (maybe as an alternative creation function for formatters).

[2021-06-15 12:05] nchataing commented on #7719
After some thinking, one possible fix would be to propagate the `deprecated` attributes of a value binding inside its pattern, but it seems overly complicated (and it would certainly make `typecore` and `typemod` more complicated to follow).

[2021-06-15 13:31] lpw25 opened #10456 "Ill-formed types during inclusion checking"
During inclusion checking we substitute identifiers from one side into terms from the other. With recursive modules, we will manipulate the results of these subsitutions before checking that the substitution is valid. That can lead to ill-formed types, e.g.

[code]

[2021-06-15 19:09] alainfrisch commented on #7719
In `let x,y = (1, 2) [@@deprecated]`, which of `x` or `y`should be marked as deprecated?  I guess, both, but this shows pushing the alert from the whole binding to individual variables is not very natural.

As @nchataing mentioned, there is a syntax which works, and I'm tempted to believe that marking some components as deprecated within an implementation is rare enough (I've only seen case of dep

[2021-06-16 04:26] #7781 closed, assigned to garrigue

[2021-06-16 04:26] #7707 closed, assigned to lpw25

[2021-06-16 04:27] #7223 closed, assigned to lpw25

[2021-06-16 04:27] #7159 closed, assigned to garrigue

[2021-06-16 05:19] whitequark commented on #6813
Still an issue.

[2021-06-16 05:20] whitequark commented on #6861
Still an issue.

[2021-06-16 05:38] gasche commented on #6861
I think that @dra27 and @shindere and @EduardoRFS have been interested in cross-compilation. Personally I consider our build system unpalatable right now, so I avoid working on it when I can.

[2021-06-16 05:39] gasche commented on #6813
If we wait again for a few years to fix this issue, it will probably happen on the Multicore runtime. I wonder how uncaught exceptions are handled there; @kayceesrk, @Engil?

[2021-06-16 05:41] gasche commented on #7099
This remains a useful feature request and a valuable "newcomer job".

[2021-06-16 08:26] abbysmal commented on #6813
@gasche On Multicore, uncaught exceptions in (sys)threads are handled in the same way.
There is a default handler around every `Thread.t` created through `Thread.create`, calling back to `caml_thread_uncaught_exception` to print the backtrace and thread id.

I think the proposal to add `Thread.set_uncaught_exn` works and it may be easy enough to implement:
- In Multicore, how do we handle this in

[2021-06-16 08:26] kayceesrk commented on #10453
This sounds reasonable.

https://github.com/ocaml-multicore/ocaml-multicore/pull/586

I have created a PR https://github.com/ocaml-multicore/ocaml-multicore/pull/586 that makes the Format state domain-local. The program in the issue https://github.com/ocaml-multicore/ocaml-multicore/pull/563:

[code]

no longer raises the `Stdlib.Queue.Empty` exception, but interleaves the output from several doma

[2021-06-16 09:04] Octachron commented on #5232
Fixed by #10438 .

[2021-06-16 09:04] #5232 closed

[2021-06-16 09:37] jberdine commented on #10453
Please forgive me for not being up-to-date, but does multicore already have a solution for interleaving output from multiple domains onto a shared `out_channel` only line-by-line? `Format` sets up the standard formatters to call `unsafe_output_string`, so if multicore already has a solution for plain `out_channel`s then it might be easy to reuse it here.

[2021-06-16 09:55] kayceesrk commented on #10453
Multicore, similar to stock OCaml, atomically outputs `unsafe_output_string`: https://github.com/ocaml-multicore/ocaml-multicore/blob/6246534275a91e250e418f7f33f3fbce8bd00e1f/runtime/io.c#L653-L659. But I see (as someone who's just started looking at Format) that this is not sufficient to get interleaving only at line boundaries. For example,
[code]
is output as two separate strings `Running in do

[2021-06-16 10:06] gadmm commented on #10453
Regarding the interleaving of printing, there was a proposition [here](https://github.com/ocaml/ocaml/pull/9757#issuecomment-676518735) to implement recursive locking for channels and expose it as a feature similar to POSIX `flockfile`, which could complete the current proposal wrt. printing.

Regarding the general proposal:
- _“Type-safety but not thread-safety for mutable data structures -- No c

[2021-06-16 10:23] kayceesrk commented on #10453
Good point. We don't claim anything more than memory safety. I'll make this change.

can you point me to this please?

Reg `Stdlib.at_exit`, this is process wide, and the callbacks are run when the initial domain terminates. The callbacks are all run by the initial domain.

I don't know enough about the other items that you have referenced. I'll have to come back to them later.

[2021-06-16 10:24] jberdine commented on #10453
So a client of `Format` could call `pp_set_formatter_out_functions` with an `out_string` function that only collects a domain-local list of  strings to be printed, and an `out_newline` function that is implemented similarly to multicore's `caml_ml_output_bytes` but adds an outer loop that walks the list inside the `With_mutex`, and a similar `out_flush` function. I don't know, maybe it is faster t

[2021-06-16 10:26] jberdine commented on #10453
This is assuming there is some way to interact with the channel's mutex that `caml_ml_output_bytes` is using.

[2021-06-16 10:32] gadmm commented on #10453
This is https://github.com/ocaml/ocaml/pull/9571

[2021-06-16 10:38] lpw25 commented on #10456
Here's a version that doesn't need recursive modules:
[code]

[2021-06-16 11:10] lpw25 commented on #10456
Here's a version that doesn't use constraints:
[code]

[2021-06-16 12:09] gasche commented on #6813
Thanks for the answer. Here is what I understand:
- domains propagate uncaught exceptions to their "joiner", so there is no need for a domain-specific mechanism
- for threads the question is the same on Multicore and non-Multicore, we want a runtime global (not domain-local) that stores the current thread-exception-handler.

Would you by chance be interested in submitting a PR to implement this?

[2021-06-16 14:05] abbysmal commented on #6813
Sure enough, I will give it a try in the next few days.

[2021-06-16 14:56] #6718 closed

[2021-06-16 17:09] EduardoRFS commented on #6861
When cross-compiling using make the build system it essentially is cross compiling the compiler to be executed in the target, so it's more like bootstrapping the compiler to a platform.

~Maybe a short term solution would be introducing a `CROSS_COMPILE=true` flag on make, this would also allow to work around the `checkstack` problem at https://github.com/ocaml/ocaml/blob/trunk/Makefile#L982~ This

[2021-06-16 20:42] jberdine commented on #10453
I added a test of the client-side synchronization to interleave output from different domains only at flush points using a `Buffer` [here](https://github.com/ocaml-multicore/ocaml-multicore/pull/591/commits/fbfa47b6cade1d5669ecbfcafaa80c6c2adb58a5).

[2021-06-17 10:47] nandor opened #10460 "Type of caml_send in Cmm"
The type of the cache argument seems to be fixed to `Val` in https://github.com/ocaml/ocaml/blob/trunk/asmcomp/cmm_helpers.ml#L1868, however the argument is computed as an address in the helper function generating calls to it at https://github.com/ocaml/ocaml/blob/trunk/asmcomp/cmm_helpers.ml#L787 . Shouldn't the type of the cache then be `type_addr` instead of `type_val`?

[2021-06-17 13:44] lthls commented on #10460
Thank you for the report. I think passing `Addr` arguments to a function is very dangerous, so I proposed a different fix in #10461.

[2021-06-17 14:23] nandor commented on #10460
Thank you, this solution fixes my issue as well.

[2021-06-17 15:35] #9525 closed, assigned to nobody

[2021-06-17 20:22] jberdine commented on #10453
With https://github.com/ocaml-multicore/ocaml-multicore/pull/586, formatters other than the predefined ones are still unsafe in the sense that `Stdlib.Queue.Empty` can be raised. Consider:
[code]
This can raise `Stdlib.Queue.Empty`. Is that considered a problem? It seems to me that it would be reasonable for users to expect this code to work as well as the version with `printf` in place of `fprint

[2021-06-17 20:41] gasche commented on #10453
To me this feels like a big can of worms. It's nice that users are not surprised when they write simple things, but the behavior should also be predictable and easy to understand. Mutable state can be designed to be owned uniquely or shared with a runtime lock, unique state can have one domain-local instance per domain. But what state are we talking about here and how does it work?

`Format.{std,e

[2021-06-17 23:27] jberdine commented on #10453
Yes, definitely a can of worms. My personal feeling is that the interaction of clients with `Format` is inherently stateful, and that to send material to a single formatter from concurrent domains will take application-specific logic to determine the granularity of interleaving, how to coordinate indentation, etc. Consider if two domains each open a box, then one performs a flush (closing all open

[2021-06-18 00:40] pmetzger commented on #7783
@Octachron if I submitted a pull request for a documentation fix, would it be helpful?

[2021-06-18 05:31] kayceesrk commented on #10453
There is one more surprising behaviour with domain-local formatter state: https://github.com/ocaml-multicore/ocaml-multicore/issues/592, but I suspect this can be fixed.

I wondered if providing a function `val init_thread_safe_default_fomatters : unit -> unit`, which is an opt-in, which must be called before new domains are created, whose idea is to replace the default formatters with a version t

[2021-06-18 05:51] Octachron commented on #9487
Fixed by #9489

[2021-06-18 05:51] #9487 closed, assigned to nobody

[2021-06-18 05:55] Octachron commented on #7783
It would certainly be helpful and I would gladly review this documentation fix.

[2021-06-18 07:11] kayceesrk commented on #10453
@jberdine I believe that the [updated documentation](https://github.com/ocaml-multicore/ocaml-multicore/pull/586/files#diff-5459bd9130e2794fa37451c8924167ace56b26fa63dc3552563eb24cdbdcbaa1) reflects the current state of https://github.com/ocaml-multicore/ocaml-multicore/pull/586. Let me know if this looks reasonable.

[2021-06-18 09:19] mhrde opened #10463 "Patter matching issue with GADTs"
Hello,

I assume the following is a bug, but maybe its just a restriction of the compiler:
[code]
In the code below, "func_ok" is compiled by the ocaml compiler, whereas "func_bad" is not, giving the following error
message:
[code]
I came up with this issue while trying to understand the matching algorithm. I tried to formulate an example to prove, that
in "types.ml" of the ocaml compiler, the fun

[2021-06-18 09:46] Octachron commented on #10463
Patterns are type checked from left to right in presence of GADTs by design, see https://www.math.nagoya-u.ac.jp/~garrigue/papers/ml2011.pdf .

Moreover, `may_equal_constr` has already been fixed to consider arity in #10295 .

[2021-06-18 09:46] #10463 closed, assigned to nobody

[2021-06-18 09:58] gasche commented on #10463
I suspect that @Octachron hasn't had his morning coffee yet, or maybe too much of it; he may have forgotten to point out that it's a sensible question, and that your intuition on the importance of arity-checking was on point -- indeed we had a bug along these lines until not so long ago. To get arity-mismatch issues we have to build clauses that are incoherent (they contain constructors belonging

[2021-06-18 14:42] mhrde opened #10465 "Minor improvement in module Switch"
Hello OCAML team,

on inspection of the code in **lambda/switch.ml** I found a slight unsymmetry in the function **case_append**.
The low and high boundaries are changed to close gaps, if neighbouring cases have the same action.
This is done, if the first case list has more then one case or if the second case list has more then **two** cases.
In order to also optimize the latter for exactly two ca

[2021-06-18 15:12] gasche commented on #10465
The proposed patch is as follows:

[code]

(Note: I would recommend using git, making commits, and then using `git format-patch` if you want a patch file.)

[2021-06-18 15:46] gasche commented on #10465
The proposed patch looks correct to me. There are two symmetric tests

[code]

The first test `len1-2 >= 0` checks that the following array access `r.(len1-2)` is valid. The second test `1 < len2-1` checks that the following array access c2.(1) is valid, but it is too conservative, `1 < len2` (or `1 <= len2-1` as suggested, which I find less clear) would be correct and indeed produce slightly bett

[2021-06-20 17:01] mhrde opened #10466 "Assert expression must be executed"
Hello OCAML team,

on inspection of the code in "lambda/matching.ml" I observed an assert expression, which is important for the code and
must not be ignored by the -noassert switch. The line number is 2521 and the line content is

**2521:   assert (do_store "FAIL" fail = 0);**

The **"do_store "FAIL" fail** expression should be executed outside the "assert" expression to assure, that the **fail**

[2021-06-21 04:26] #7025 closed, assigned to nobody

[2021-06-21 08:01] dra27 commented on #10466
This was changed in https://github.com/ocaml/ocaml/commit/fcf3571123e2c914768e34f1bd17e4cbaaa7d212#diff-574a9ed85084e8419a9fdc29c147bd50cf338c63200992a97d330344062fba94L2005 (it was `ignore`'d before).

It's not critical, since the compiler isn't (and shouldn't) be built with `-noassert`, but I agree it's worth the clean-up - would you be able to submit a pull request?

[2021-06-21 20:44] mjambon opened #10467 "Please document 'Stdlib.raise_notrace'"
The [manual says this](https://ocaml.org/api/Stdlib.html) about `raise_notrace`:

We would like to know what to expect when calling `Printexc.get_backtrace ()`. Does it fail with another exception? Does it return a previous trace? Does it do so faster than if it had to reconstruct the correct trace?

[2021-06-22 03:32] kayceesrk commented on #10453
This is now implemented in https://github.com/ocaml-multicore/ocaml-multicore/pull/586. Thanks @jberdine for the prototype.

[2021-06-25 08:09] dra27 commented on #7089
Inching forwards with a little progress for this one, linking in the [MSDN page on Scheduling](https://docs.microsoft.com/en-us/windows/win32/procthread/scheduling-priorities) and a bit of [prior art](https://www.mkssoftware.com/docs/man3/setpriority.3.asp) for `setpriority` mappings.

[2021-06-25 10:16] dra27 commented on #8863
This will be in 4.14!

[2021-06-25 10:16] #8863 closed, assigned to nobody

[2021-06-25 15:00] yallop opened #10477 "Segmentation fault on Windows with OCaml 4.12"
The [Ctypes library](https://github.com/ocamllabs/ocaml-ctypes/) has a [test](https://github.com/ocamllabs/ocaml-ctypes/blob/master/tests/test-lifetime/test_lifetime.ml) that checks that code generated by the library keeps objects alive while the runtime lock is released.  The test consistently passes with all combinations of OCaml versions and operating systems, except one: [OCaml 4.12 on Windows

[2021-06-25 15:13] nojb commented on #10477
Could reproduce (with `mingw64`):

![image](https://user-images.githubusercontent.com/113560/123445414-237d5280-d5d8-11eb-887d-8911f8718d58.png)

This points to

https://github.com/ocaml/ocaml/blob/71166020951ffc2c3b351ae9536e7249380aa509/otherlibs/systhreads/st_stubs.c#L526

Perhaps related to #10161 ?

[2021-06-25 15:41] dra27 commented on #10477
At a glance on my phone, it looks like that call to `st_set_thread_id` is on the wrong side of `caml_leave_blocking_section` 😱

[2021-06-25 15:50] nojb commented on #10477
Fix in #10478

[2021-06-25 21:03] #10477 closed, assigned to nobody

[2021-06-26 03:38] kayceesrk commented on #10453
https://github.com/ocaml-multicore/ocaml-multicore/pull/586 is now merged. In summary, the PR ensures that

* For sequential programs, the use of pre-defined formatters only incur the additional cost of accessing the formatter from the domain-local state. The access to domain-local state incurs only a few additional instructions.
* For parallel programs, the pre-defined formatter state is domain-l

[2021-06-26 03:38] #10453 closed, assigned to nobody

[2021-06-28 07:25] #7812 closed, assigned to nobody

[2021-06-28 12:24] gasche commented on #9291
Here is my take-away from the state of the discussion:

- (1) I would like to be able to support situation where different compiler configurations produce different `.cmi` (in the same format), but there is no consensus there, Xavier seems happy with having the same-cmi-files constraint.
- (1 bis) In any case our build system is too painful for me to deal with right now, so any change in this dire

[2021-06-30 08:32] raphael-proust opened #10483 "Missing "destructive substitution of types in module signature" in language specification"
The OCaml manual defines module signatures as

[code]
and module constraints as

[code]

And the type equation as

[code]

It seems like this spec does not allow the form `'with' 'type' [type-params] typeconstr ':=' typexpr`.

[2021-06-30 08:36] #10483 closed, assigned to nobody

[2021-06-30 08:38] Octachron commented on #10483
Note that I tried to mention this in the text just below the specification:

Did you miss this paragraph or is it not clear that `substitution inside a signature` cover this point?

[2021-06-30 11:48] nchataing opened #10485 "Disallow cyclic unboxed types?"
Hi!

The current testsuite suggests that we should allow types of the form
[code]
Even though it is acceptable, this type is inhabited by no OCaml runtime value (and hence equivalent to the empty type?).

However, accepting it poses problem further down the line in joint work with @gasche : it would needlessly over complicate our cycle detection algorithm (see https://github.com/ocaml/ocaml/pull/1

[2021-06-30 11:55] gasche commented on #10485
Note: a "boxed" type defined as

[code]

is inhabited by `let rec x = A x`, but an "unboxed" type defined as

[code]

is empty, as `let rec x = A x` is rejected by the recursive-value checker: it is not a valid recursive value, as the cycle is not guarded by a constructor present at runtime.

Semantically it is still possible to accept the empty definition, and it is used in several places in the

[2021-06-30 12:48] gasche commented on #9718
Apologies for not giving feedback earlier...

I'm not convinced by the proposed definition `with_extension p ext = (remove_extension p) ^ ext`, when we consider filenames that have no extensions or several extensions. If I try to put myself into the shoes of someone seeing `Filename.with_extension "foo.ml.zip" ".txt"`, what do I expect as output, `foo.txt`, `foo.ml.txt` or `foo.ml.zip.txt`?

I thi

[2021-06-30 12:57] gasche commented on #9553
I tend to agree that growable/resizable arrays are a common enough data structure that it would be nice to have in the standard library. A few weeks ago I commented on the growth/resizing logic of a reimplementation [inside the ocaml-multicore library runtime](https://github.com/ocaml-multicore/ocaml-multicore/pull/582#discussion_r650758187), and it would have been nice to not have to do this at a

[2021-06-30 15:56] stedolan commented on #10485
I see no use for `type t = A of t [@@unboxed]`, but I'm wondering which other types you plan to reject. Would you allow this?
[code]
where `type 'a foo` is an abstract type from another module?

You can't statically tell whether the definition is, say `'a foo = 'a option` (in which case the cycle is guarded and this is a reasonable type), or maybe `'a foo = 'a` (in which case it's an unguarded cyc

[2021-07-01 09:50] gasche commented on #10485
Currently our prototype would accept `type t = A of t foo` for an abstraction `foo`, and indeed we wouldn't want to reject this as it would seriously limit expressivity. Your remark that rejecting the definition if `foo` was later instantiated to the identity is an excellent point which makes the feature unpleasant in principle.

In the general case of unboxing of constructors (with other construc

[2021-07-01 15:24] damiendoligez commented on #6711
[camlp-streams](https://github.com/ocaml/camlp-streams) and #10482 are the first step in fixing this.

[2021-07-02 04:25] #7508 closed, assigned to stedolan

[2021-07-02 04:25] #7123 closed, assigned to nobody

[2021-07-02 08:05] Octachron commented on #9720
There is  now an odoc version of the manual (that still needs some stabilization), and I am not planning to improve the htm generated for ocamldoc.

I am thus marking this issue as a `wont_fix`.

[2021-07-02 08:05] #9720 closed, assigned to nobody

[2021-07-05 07:43] xavierleroy commented on #9732
It would be fine to have an extra flag to caml_run_command telling it whether to create a process group.  However, the  C implementation of caml_run_command is already rather complex, so I don't know how much complexity this would add.

[2021-07-05 07:55] dra27 commented on #9732
We've reduced the use of scripts elsewhere in ocamltest - I agree that the flag looks the best solution. It's also of course the case that the overwhelming number of calls to the assembler are not via a shell script, so the brittleness would be that a very small number of calls _might_ suffer a sudden 30 second delay, as opposed to the present behaviour when this issue strikes and the testsuite is

[2021-07-05 13:36] bobzhang opened #10490 "weird ocamlyacc comments output in 4.10.2 (Apple M1)"
mly file
[code]

generated file has weird comments: -- (fck hello why turned into f h w)
[code]

[2021-07-05 14:02] dra27 commented on #10490
This was caused by #1932 in 4.10.0 and fixed in 4.11.0 by #9166.

[2021-07-05 15:51] kit-ty-kate commented on #10011
It looks like this was fixed by https://github.com/ocaml/ocaml/pull/10362 merged in trunk on April 22nd (before 4.12 was branched). This is thus a duplicate of https://github.com/ocaml/ocaml/issues/8575. Closing.

[2021-07-05 15:51] #10011 closed, assigned to nobody

[2021-07-06 02:55] bobzhang commented on #10490
Thanks for the pointer. would it be possible to cherry pick that for 4.10.*?
Note only 2 versions provide M1 backend, 4.10 and 4.12. 4.12 is a bit too bleeding edge, it seems also have a regression for Marshal performance(I welcome this change for good reasons but would like to pay it when multicore landed).

[2021-07-06 07:14] dra27 commented on #10490
We don’t normally back-port further than the previous release (other than to fix problems caused by newer tool chains) - The release of 4.10.2 during the 4.12 dev cycle was exceptional.

I’m afraid that to use a relatively bleeding-edge platform, you may have to use a relatively bleeding-edge OCaml!

[2021-07-06 08:34] bobzhang commented on #10490
understood. I can live with that using some hacks. when I noticed this yesterday, I feel my computer may be hacked, how could this happen..?
but for other people who relies on ocamlyacc, 4.10 seems a major regression.

[2021-07-06 08:34] #10490 closed, assigned to nobody

[2021-07-06 09:26] clementblaudeau opened #10491 "Abstraction of module types leads to invalid inferred signatures"
Hi,

The Ocaml typechecker (overly) abstracts module types when they contain types equalities that cannot be expressed. This leads to invalid signatures being inferred. A minimal example is the following :
[code]
As the functor is called with an anonymous module, the type `A.t` has no path outside of the body of the functor. The typechecker abstracts the whole module type `S`, but keeps the access

[2021-07-06 09:28] gasche commented on #10490
If you maintain your own variant of 4.10 for Rescript purposes, could you backport the fix from 4.11? It shouldn't be very hard as there is not a lot of change in the ocamlyacc codebase.

[2021-07-07 02:54] bobzhang commented on #10490
@gasche I can spend some time on it, what would it be called? 4.10.3?

[2021-07-07 14:44] lpw25 commented on #10491
Here's an example based around the same basic idea:
[code]

That would be unsound -- the types inside of a module type are in invariant rather than covariant positions, it is not safe to weaken them.

[2021-07-07 15:33] diegodiasm opened #10494 "Fix example in the tutorial"
The following example in the OCaml Manual excludes 0.0 when computing the square root of a float for no good reason.
Instead of >, it would make more sense to use >= in this example.

https://github.com/ocaml/ocaml/blob/98a27ddf9d5c2c0e92614b97ff9064660b8e1dde/manual/src/tutorials/coreexamples.etex#L268

[2021-07-07 16:16] Octachron commented on #10494
I tend to think that both versions are subtly wrong since doing comparison with floating numbers requires to take in account the current approximation error.
It is true that the `>=` version looks more correct.
At the same time, it feels strange to add the points `0-` and `0+` to the domain when equality is only semi-decidable for real numbers.
Maybe we could use `to_int: number -> int option` as

[2021-07-08 10:10] #3959 closed

[2021-07-08 10:10] #7202 closed, assigned to nobody

[2021-07-08 13:14] stedolan commented on #10494
`x >= 0` is precisely the condition under which `sqrt x` is not `NaN`, so it does seem like the right thing to do in this example. (And yes, `float` and `sqrt` are imperfect models of reals and square roots)

[2021-07-08 17:00] stedolan opened #10495 "Bug (?) in Simplif.simplify_exits"
@lpw25 and I noticed that Simplif.simplify_exits does not preserve semantics when `Lstaticraise` is used in non-tail position, transforming this:
[code]
which evaluates to 42, into this:
[code]
which raises an exception.

This doesn't seem to cause an actual miscompilation, since as far as we can tell the compiler never produces an `Lstaticraise` except in tail position of the corresponding `Lstat

[2021-07-08 17:04] stedolan opened #10496 "Fatal error on misuse of binding operators"
A `fatal_error` in `Typecore.type_binding_op_ident` is reachable if a binding operator is defined inside a class:
[code]
[code]
(I don't see anything wrong with issuing an error here, it's weird code. But it should be an actual error with a location, not a crash)

[2021-07-08 18:07] xavierleroy commented on #10495
Unless I'm mistaken, a `staticexit` in non-tail-position implies that the code "after" the `staticexit` is dead code.  (Remember: `staticexit` is essentially a block-scoped `goto`.)

Since `staticexit` and `staticcatch` are introduced by the compiler (as opposed to being written out explicitly by the programmers), I very much hope that the compiler never introduces dead code via a non-tail `static

[2021-07-08 18:51] gasche commented on #10495
If I remember correctly, it is possible to use `staticraise` across a `try .. with` handler (`staticraise` compilation keeps track of their nesting and pops the correct number of exception handlers before jumping), so technically not in tail position.

(@alainfrisch also played with an optimization, https://github.com/ocaml/ocaml/pull/260, that would turn some locally-resolvable `raise` into `stat

[2021-07-08 20:19] stedolan commented on #10495
My example is a bit silly, but it's not true in all cases that a staticexit in non-tail-position is useless, because the staticexit might be on one side of a conditional. Consider:
[code]
No part of this is dead, but it is not equivalent to:
[code]

[2021-07-09 14:26] lthls commented on #9741
My take on this issue:
- When the switch cannot be compiled to a constant table, sharing constants is better. In the native backend, each lost sharing opportunity will cost two additional instructions: moving the constant to the appropriate register, then jumping to the appropriate handler. I think the cost is similar in bytecode.
- But constant tables are better than jump tables, so it would make

[2021-07-09 14:46] #10460 closed, assigned to nobody

[2021-07-10 09:16] xavierleroy commented on #6711
Addressed by #10482.

[2021-07-10 09:16] #6711 closed

[2021-07-10 10:17] dinojr opened #10501 "build error on Linux 2.6.32 'O_CLOEXEC' undeclared"
I'm trying to build ocaml 4.12.0 on an ARM system (a synology NAS) running Linux 2.6.32.

Building fails at make world.opt with

[code]
Is there some configure option that would fix this error ?

[2021-07-10 14:03] gasche commented on #9741
My own foray into this issue (also motivated by the stale bot) led to a small, mostly-unrelated refactoring/cleanup/documentation PR #10500.

[2021-07-10 14:08] xavierleroy commented on #10501
That's a pretty old Linux system: 2.6.32 was released in 2009 and reached end of LTS in 2016.  The C library is probably quite old as well.  However, I'm a bit surprised that the configure script detected the dup3 function.

I would suggest one of the following:
- upgrading your system to a reasonably recent Linux distribution
- installing an old version of OCaml to match your old Linux distributi

[2021-07-10 14:27] dra27 commented on #10501
`configure` only checks whether `dup3` is available when linking, so you could have `HAS_DUP3` and get that warning from the C compiler. Google informs me that `dup3` was added in 2.6.27 but not supported in glibc until 2.9 - it's possible there's disagreement between what's linkable and what's in the headers? What version of glibc do you have?

That said, @xavierleroy is of course correct: upgrad

[2021-07-10 20:15] gasche commented on #9741
When I read your comment I was not sure whether you meant that bytecode does not currently optimize constant switches (which is true, the optimization is in `asmcomp/cmm_helper.ml -> make_switch -> make_table_lookup`), or that the bytecode lacks expressiveness to make this optimization worthwhile (for example because creating constant tables is not compact enough).

I looked at this and I think th

[2021-07-10 20:31] gasche commented on #9741
I spent a bit of time looking at the code today, inspired by @lthls's comments. In the short run, we don't have to do anything! In the long run, I think that it would be nice to have the constant-table and affine-table logic integrated at the level of the "switcher" (`lambda/switch.ml` functors and its users), typically at the level of the `make_switch` function of the `Switch.Make` functor argume

[2021-07-11 16:35] xavierleroy commented on #10501
I suspect this happens quite often.  It would be safer for configure to check that functions are declared in the appropriate standard headers than to check that they are provided by libc.so for linking.  But that's a topic for a separate report or PR.

[2021-07-11 19:51] dinojr commented on #10501
Unfortunately, I cannot easily upgrade the kernel. The machine is an old NAS, and I'm reluctant to leave the comfort of using the Synology system to run my own.

I've tried your third suggestion, and the error is now
[code]

Next I'll try installing an older OCaml

[2021-07-12 04:25] #7882 closed, assigned to yallop

[2021-07-12 06:52] dinojr commented on #10501
ocaml 4.05 build failed but 4.02.3 passed ! Thanks a lot.

[2021-07-12 07:17] XVilka commented on #10501
@dinojr you might want to try to build the OCaml statically with the Alpine. Back in time I tried to port Radare2 (then Rizin) to very old Debians, you could be insterested in that work. Due to the GCC being very old on these systems, I tried to compile TinyCC from git first, since it can compile almost anything: https://github.com/XVilka/debian-oldies
Regarding `pipe2` etc, if you really want to

[2021-07-12 07:37] XVilka commented on #9002
I am not sure the status of the `camlboot` right now, since it wasn't updated for quite a while:
- https://github.com/Ekdohibs/camlboot/pulls

But this issue probably might be closed.

[2021-07-12 07:44] #10501 closed, assigned to nobody

[2021-07-12 09:36] gasche commented on #9002
Let's close here, as it is now mostly a duplicate of #7853 indeed.

The current status of camlboot is as I described it in [this comment](https://github.com/ocaml/ocaml/issues/7853#issuecomment-859257065): OCaml 4.07 has been debootstrapped, but there is some tedious work remaining to upgrade to 4.12. (It's a non-trivial change.) Now one has actively worked on the implementation in the last couple

[2021-07-12 09:37] gasche commented on #9002
Let's close here, as it is now mostly a duplicate of #7853 indeed.

The current status of camlboot is as I described it in [this comment](https://github.com/ocaml/ocaml/issues/7853#issuecomment-859257065): OCaml 4.07 has been debootstrapped, but there is some tedious work remaining to upgrade to 4.12. (It's a non-trivial change.) Now one has actively worked on the implementation in the last couple

[2021-07-12 09:37] #9002 closed, assigned to nobody

[2021-07-12 09:40] stedolan commented on #10495
It depends on the exact order that Simplif optimisations are run in, but I think some code using this locally-resolvable-exception feature would be miscompiled by this optimisation, turning:
[code]
into:
[code]
giving a different answer for `f (-3)`.

[2021-07-12 09:49] kit-ty-kate commented on #8511
could this be reopened?

[2021-07-12 21:18] craigfe opened #10507 "4.13.0~alpha1: change of behaviour of `[@tailcall]` annotation under sequencing operators"
The following program emits a pair of `wrong-tailcall-expectation` warnings when compiled with `ocamlc.4.13.0~alpha`:

[code]

[code]

On `ocamlc.4.12.1`, the program is accepted without warnings instead.

As far as I can tell, this isn't an intended feature of 4.13 – hence this issue – though it may be considered an improvement by some. Neither `f` nor `g` is syntactically a tail-call, but the im

[2021-07-13 10:38] lthls commented on #10507
It's likely an unintended consequence of #10379. I've created PR #10508 to discuss a potential fix.

[2021-07-13 17:30] SuperLeilia opened #10509 "Fatal error: exception Unix.Unix_error(Unix.EINVAL, "out_channel_of_descr", "")"
I'm running a project using Ocaml. But it returned
**Fatal error: exception Unix.Unix_error(Unix.EINVAL, "out_channel_of_descr", "")**
,which I didn't figure out the reason.

# Packages under opam FYI:
Packages matching: installed
Name Installed Synopsis
base-bigarray base
base-threads base
base-unix base
batteries 3.3.0 A community-maintained standard library extension
conf-findutils 1 Virtual pa

[2021-07-13 17:38] nojb commented on #10509
This site is reserved for issues related to the development of the OCaml **compiler**. For general questions about OCaml usage, I suggest you post to https://discuss.ocaml.org/ where you should be able to get help. Thanks!

[2021-07-13 17:38] #10509 closed, assigned to nobody

[2021-07-15 06:14] silene commented on #10323
For the record, the aforementioned pull request was merged into LLVM. It has been deeply rewritten since the original submission. In particular, the optimizer is no longer allowed to merge `fence(a * b) + c` into an FMA. As far as I understand, only the x86 backend respects this fence; other backends have yet to be ported.

[2021-07-15 10:45] bschommer commented on #10323
I think a flag to disable generation of fused-multiple arithmetic would be more helpful for the given case. As far as I understand the `__arithmetic_fence` is only used to prevent fusion if `-ffast-math` is specified, which explicitly tells clang to perform non-IEEE optimizations.

[2021-07-15 11:00] aryx commented on #9701
Ok, finally figure out what was going on ... It's because I was compiling my project with (modes byte) in the dune file,
and it's producing a Main.bc and Main.exe, but the Main.exe is actually a bytecode program with ocamlrun included in it,
and in that case I get all those "Called from unknown location"
Switching back to a real Main.exe by using (modes byte exe) solved the issue.

[2021-07-15 11:01] aryx commented on #9701
Also I just discovered I was shipping bytecode version of my programs all this time ... I got fooled by the presence
of a Main.bc and Main.exe; I thought the .exe was the native version.

[2021-07-15 13:24] wikku opened #10513 "manual: LaTeX collapses double dashes in command-line options since 4.08"
![image](https://user-images.githubusercontent.com/35867657/125794828-d6c81d31-b0cc-403d-b2de-2c2f4c56afae.png)
`--help` is rendered `-help`

This [could have been introduced](https://tex.stackexchange.com/questions/9813/how-can-i-stop-latex-from-converting-two-hyphens-to-a-single-hyphen-when-loading) by loading `fontenc` in #1789.

In tex source code it's `\machine{--help}`. `\machine` is `\tt` w

[2021-07-15 14:45] xavierleroy commented on #10513
I agree `\verb` should be used instead of `\machine` in the hand-written LaTeX sources (.etex files).

`\machine` is also generated by the texquote2 preprocessor, and there might be reasons for not using `\verb` there (such as robustness in all contexts).

[2021-07-15 17:14] recoules opened #10515 "Unix: add support for PR_SET_PDEATHSIG"
Hi,

I'll take the example of [binsec](https://binsec.github.io/) that often call external SMT solver session with pipe communication (e.g. `Unix.open_process`).
After long running sessions, the main process may be killed by the OOM Process Killer, leaving the waiting or running SMT solver sessions open.

On linux, the problem can be addressed by sending a signal to the child process on the parent

[2021-07-15 17:21] xavierleroy commented on #10323
FYI: since OCaml 4.11.0, `Sys.opaque_identity` is honored in the ocamlopt back-end.  So,
[code]
will be compiled without an FMA even on platforms that support it.

There are additional costs to using `Sys.opaque_identity` here, in particular `Sys.opaque_identity` also prevents FP unboxing, so the intermediate product is heap-allocated.  But you asked for no optimizations whatsoever, right? :-)

Th

[2021-07-15 18:31] gasche commented on #10323
If we agree that it should be possible for users to control this, and we decide that `opaque_identity` is our control mechanism, it would be nice to add a test in the testsuite checking that we get the expected double rounding. @let-def, would you maybe like to submit such a test?

[2021-07-15 20:26] anentropic opened #10517 "Fatal error: debugger does not support channel locks"
I originally posted this on Stackoverflow, thinking it a problem with my code or some library incompatibility.
https://stackoverflow.com/questions/68394075/fatal-error-debugger-does-not-support-channel-locks

I had a reply there suggesting it was likely an issue with `ocamldebug` and macos and I should report it here, so I'll reproduce details below.

Firstly I am on macOS Catalina (10.15.7) on an

[2021-07-15 20:32] nojb commented on #10517
I believe the message `debugger does not support channel locks` refers to the fact that the debugger does not support programs that enable multi threading via the `threads` library. Perhaps `lwt` does this indirectly?

[2021-07-15 22:35] thomasfsteeples opened #10518 "Unicode support"
# Preamble

Unicode is arguably the most dominant text encoding in the world. According to [W3Techs](https://w3techs.com/technologies/cross/character_encoding/ranking), 97% of the world's websites are in UTF-8, many editors offer it as the default encoding, and modern (and not so modern) programming languages offer first-class Unicode support. Additionally, [many](https://www.joelonsoftware.com/20

[2021-07-15 22:56] nojb commented on #10518
Indeed, and that's because `'<char>'` is the syntax for `char` values which are 1-byte quantities and so cannot be used to represent Unicode codepoints. UTF-8-encoded Unicode scalar values can be specified using the `"\u{XXXXXX}"` syntax, see https://ocaml.org/manual/lex.html. You can also type them inline in an UTF-8 source file, as you observed.

If the Unicode value that you wish to encode is n

[2021-07-16 05:31] Octachron commented on #10518
OCaml already support utf-8 encoded unicode string as a first-class citizen. But it also supports `strings` as array of 8-bit chars without making any hypotheses on the human interpretation of these chars. In other words,

[code]
 is the right result since the length of the array of chars is `4`. And this length is still useful to know for utf-8 encoded strings. Moreover, neither the number of sca

[2021-07-16 07:17] xavierleroy commented on #10513
This said, I see no point for ligatures in a typewriter font. (Yes, `--` for en-dash is part of TeX's ligature machinery.)  So, turning ligatures off for `\tt` would be a good fix.

[2021-07-16 07:20] dra27 commented on #10517
Does your project use `lwt.unix`?

[2021-07-16 07:22] xavierleroy commented on #10515
Note: the `prctl` system call mentioned here is specific to Linux and not standardized in any way.

Since 4.12, `Unix.create_process` and related functions use `posix_spawn` whenever possible, see #9573.  Can this feature wish be implemented with `posix_spawn`?  If not, that's a blocker.

[2021-07-16 08:14] recoules commented on #10515
Hi @xavierleroy, as far as I understand, the `pre-exec() step: housekeeping` step of the `posix_spawn` man is exactly what we need.

The OCaml function can expose an additional (optional) argument, a `unit -> unit` closure that will be registered with `posix_spawn_file_actions_add` and thus be called between `fork` and `exec`.

This way we will have all the keys to easily define our own initializa

[2021-07-16 08:35] anentropic commented on #10517
@dra27 I think so, yes... indirectly via https://github.com/mirage/irmin/

[2021-07-16 09:12] kit-ty-kate opened #10520 "[4.13] ocamlopt fails with "Fatal error: Liveness.fundecl""
Trying to install `owl-base.1.0.1` using the latest OCaml 4.13 (https://github.com/ocaml/ocaml/commit/7a182bdd66e66402acded6926176b25594b8db83) results in the following fatal error:
[code]
Looking at the commits since the last check, I suspect it might be an issue in #10039 (backported in the 4.13 branch)

[2021-07-16 09:36] Octachron commented on #10450
If I understand correctly the conclusion, since 4.13 the `%identity` primitive is optimized in such way that one can always replace
[code]
with
[code]

I imagine that we could improve backward compatibility by providing both a `%typed_apply` and a `%apply` primitives with the old behavior. However, since we are speaking of an internal feature with an alternative implementation, the increase in com

[2021-07-16 10:07] thomasfsteeples commented on #10518
I'm not sure I agree with this @Octachron.

In the list of languages I gave above, all of them regard the length of 🐫 to be 1. Whilst yes, the length of it as a UTF-8 encoded sequence of bytes is 4, as a list of characters (nebulous term, here, let's say Unicode scalar values), I feel it should be 1. I also think it's important not to conflate characters and bytes.  As it stands, I feel the OCaml

[2021-07-16 11:55] Octachron commented on #10518
This is false for Go and Rust where `len(🐪)` and `"🐪".len()` returns `4`. And `🐪` is an easy example  since `🐪` happens to be both a scalar value and an extended grapheme cluster.
A better example is संस्कृतम् where the languages that you cited return

|Language |  Result           |
|--------------|---------------------|
| Go | 27                             |
| Rust | 27

[2021-07-16 13:01] lthls commented on #10507
After a bit more investigating, I found that the change is not caused by #10379 but by #10081.
It's actually a trivial detail: there were several places were successive applications could be collapsed into a single one.
One of them is during translation of normal applications, in `Translcore.transl_apply`. This one doesn't collapse applications in bytecode when in debug mode, because debugging eve

[2021-07-16 13:13] Octachron commented on #10507
The third case only raises a warning when `Levent` are inserted (by `ocamlc -g` ), isn't ?

[2021-07-16 13:15] lthls commented on #10507
Yes; without debug events, none of the cases raise a warning (both in 4.12 and 4.13), I think.

[2021-07-16 13:33] dra27 commented on #10518
I agree with @Octachron’s comments, but just to add:

NTFS Unicode filenames are handled since OCaml 4.06 - they are converted to UTF-8 (same with environment variables and arguments). There is a corner case with the handling of un-paired surrogates which I hope we’ll address some day using [WTF-8](http://simonsapin.github.io/wtf-8/) either directly in the stdlib, or in a way which can be consiste

[2021-07-16 13:42] thomasfsteeples commented on #10518
Ok, I'll close the issue, but I'm still not convinced that OCaml handles Unicode in the most _principled_ way imaginable.

[2021-07-16 13:42] #10518 closed, assigned to nobody

[2021-07-16 14:09] Octachron commented on #10518
Thanks for opening the issue and the discussion. I hope that it will clarify a least a little my current position.

I don't think that anyone think that OCaml handles Unicode in the most principled way possible.

At the same time, without enough domain knowledge, it seems too easy to get unicode support half-wrong. In particular, I would rather avoid adding a fresh paint of coat on few functions a

[2021-07-16 14:17] Octachron commented on #10507
It is bit disturbing that some of those warnings only exists while compiling with `ocamlc -g`. What would be the effect of discarding `Levent` in all cases (beyond getting right of the warnings)?

[2021-07-16 14:36] lthls commented on #10507
If I'm not mistaken, this will remove the ability to stop the debugger after the function was applied to its first argument but before it's applied to the second one. I haven't used `ocamldebug` that much, so I don't know how much of an issue it is.
There's also some code in `bytegen.ml` that seems to remove the events that would prevent tailcall optimisations, so maybe it's always better to disca

[2021-07-16 15:19] xavierleroy commented on #10520
Was the last check before or after #10404 was merged?  (commit 5e45b2e9f)  Because it also affects liveness analysis.

[2021-07-16 15:25] xavierleroy commented on #10520
It looks like the Spilling phase produced wrong code on function `camlOwl_maths_quadrature__gauss_legendre_inner_658` from `src/base/maths/owl_maths_quadrature.ml:98,19-1142`.  However the failure prevents the printing of the code after spilling...  Time for more debug printing!

[2021-07-16 15:26] xavierleroy commented on #10520
Actually the culprit could also be #10414 (9b887df04) because it touches spilling and reloading.

[2021-07-16 15:26] kit-ty-kate commented on #10520
opam-health-check runs every 3 or 4 days on 4.12 and 4.13. The last one used https://github.com/ocaml/ocaml/commit/edbeb95e372e1e8d0404b380db816a6b195d1bf4 (just before #10404 was merged) without encountering any new issues.
EDIT: I meant to say https://github.com/ocaml/ocaml/pull/10039 not 10404

[2021-07-16 15:33] Octachron commented on #10520
Both #10404 and #10414 are anterior to the branching of 4.13 (and thus edbeb95).

[2021-07-16 16:39] lthls commented on #10520
I'm not sure I'll have time to debug this before going on holidays, but it seems that `Deadcode` removes the initialisation of `pp` (among other things). Given that the Safepoints PR did not update the deadcode module, I suspect that it is `Liveness` that computes incorrect information, and that leads `Deadcode` to assume some registers are not used even though they are.
`Spill` correctly notices

[2021-07-16 16:45] xavierleroy commented on #10520
I'm on it, helped with copious printing code.

The gist of the bug is that the newly-inserted polling points force spilling of the `pp` variable, which is OK.  However, the spill code insertion pass miscomputes the places where `pp` needs to be spilled.  This could be related to #10414...

[2021-07-16 17:30] xavierleroy commented on #10520
Actually, @lthls was mostly right.  Spill code insertion correctly expects `pp` to be initialized before the loops.  Yet, dead code elimination correctly removed  the initialization of `pp`, because it's a reference that is always assigned to before being used...

So, where's the bug?  Dead code elimination runs before the polling insertion pass, and spill code insertion runs after.  Inserting pol

[2021-07-17 15:25] #10520 closed, assigned to nobody

[2021-07-19 04:25] #7200 closed, assigned to nobody

[2021-07-19 04:25] #7560 closed, assigned to nobody

[2021-07-19 04:25] #7184 closed, assigned to nobody

[2021-07-19 04:25] #7151 closed, assigned to nobody

[2021-07-19 04:25] #7077 closed, assigned to nobody

[2021-07-19 04:25] #7028 closed, assigned to nobody

[2021-07-19 04:25] #6961 closed, assigned to nobody

[2021-07-19 04:25] #6959 closed, assigned to shindere

[2021-07-19 04:25] #6800 closed

[2021-07-19 07:27] xavierleroy commented on #10515
Maybe there's a misunderstanding or two.

First, the `posix_spawn` API gives no way to call back a user-provided function at any point in the process.  It supports a predefined set of actions over signals and over file descriptors, but is not extensible.  This is on purpose, I believe, so that it can be implemented efficiently even on systems where `fork` is not available.

For the Glibc/Linux imp

[2021-07-19 07:29] xavierleroy commented on #10517
We should have a better error message! But, yes, ocamldebug doesn't work with multithreaded programs.

[2021-07-19 08:09] anentropic commented on #10517
ok thanks, good to know

looks like I need to temporarily vendor `irmin` into my project and put in some print debugging then

[2021-07-19 08:57] dra27 commented on #10517
If you are _certain_ (and I mean really, really certain) that no threads are ever created, for debugging purposes only, you could recompile `systhreads.cma` with:

https://github.com/ocaml/ocaml/blob/f203a5d45dd32216596d3de1f5fd02cd8cab6f7b/otherlibs/systhreads/thread.ml#L69

commented out or, possibly less unsafely, these 3 lines commented out:

https://github.com/ocaml/ocaml/blob/f203a5d45dd3221

[2021-07-19 09:03] anentropic commented on #10517
seems pretty clear that `lwt` uses threads https://github.com/ocsigen/lwt/search?q=threads so I guess i'm out of luck

[2021-07-19 09:09] shindere commented on #6959
Still relevant, I think.

[2021-07-19 19:14] recoules commented on #10515
You are right, I should have read more carefully the `man` description.

It would be nice, yeah. I think I will follow your advice and open a request to Glibc developers.

You can close this issue for now, I will come back to you if there are some interesting moves.
Thank you again,

[2021-07-19 20:03] #10513 closed, assigned to nobody

[2021-07-20 00:37] mjambon opened #10528 "Make List functions safe by default and optionally offer faster versions"
Some functions of the `List` module such as `List.map` cause stack overflows on large inputs, which causes sometimes a `Stack_overflow` exception to be raised and other times a program crash. This is a well-known issue which causes a lot of unpleasant surprises to beginners and experienced programmers alike. It has been discussed before but unfortunately no concrete solution has emerged. See  #867

[2021-07-20 00:53] garrigue commented on #10528
This looks like a good approach.
Did you do some measurements on concrete code, for instance the compiler itself, to see at which point it makes sense to add lots of `fast_` ?

[2021-07-20 01:10] mjambon commented on #10528
@garrigue I don't have measurements but I'll post some results if/when we have them for our application (semgrep).

Note that I would rename all the implementations of functions like `map` to `fast_map`. It doesn't mean they're particularly fast, it means they're unsafe. In the spirit of safe defaults, I think it's best to not have `safe_map` and `map` but rather `map` and `fast_map`.

[2021-07-20 07:51] xavierleroy commented on #10528
It's just confusing to have two versions of each function.  TRMC will solve the issue much more elegantly.

[2021-07-20 08:03] xavierleroy commented on #10515
You're welcome.

The traditional way to kill all child processes when the parent is killed relies on process groups and a monitoring program.  See for example the timeout command  from GNU coreutils.  Maybe this would give a more portable solution to your problem.

[2021-07-20 08:03] #10515 closed, assigned to nobody

[2021-07-20 08:42] mjambon commented on #10528
May I ask when?

[2021-07-20 10:42] gasche commented on #10528
Good question. I'll update the TRMC PR with some timeline information.

[2021-07-20 10:44] gasche commented on #10528
[Done](https://github.com/ocaml/ocaml/pull/9760#issuecomment-883291851)!

[2021-07-20 14:42] #9391 closed, assigned to nobody

[2021-07-21 04:25] #6518 closed

[2021-07-21 04:26] #5980 closed

[2021-07-21 04:26] #5473 closed

[2021-07-21 04:26] #4703 closed

[2021-07-21 04:39] mmottl commented on #8463
This request is older than 17 years and is not relevant to me personally anymore.  It is very easy to load your own pretty printers into the toplevel.  Users will typically have highly specific preferences for the output of printers anyway, e.g. concerning number precision, column and/or row headers, data alignment, ellipses, etc.  I'm fine if this doesn't make it into the OCaml distribution.

[2021-07-21 06:45] Octachron commented on #6654
Fixed in 4.13 by #10401 : `with` constraint cannot alter the type associated to a class anymore, and

[code]
now fails with

[2021-07-21 06:45] #6654 closed

[2021-07-21 07:21] xavierleroy commented on #10517
It would be nice if we could start ocamldebug on a program that was linked with the threads library and fail only when the first thread is actually created.

[2021-07-21 07:34] anentropic commented on #10517
Out of curiosity, is this situation going to get better or worse with multi-core OCaml?

[2021-07-21 09:22] damiendoligez commented on #8889
I don't think this is the right idea, because the "line" directive actually gives you a *file name* and a *line number*. So in order to update `pos_bol`, you will have to open that other file and read it line by line to get the correct value for `pos_bol`.

A better idea is to fix the error-printing code to do the same thing: open the target file and read it line by line to get to the correct offs

[2021-07-21 09:26] #5818 closed

[2021-07-21 09:30] damiendoligez commented on #6238
@gasche do you think this could be a "good first issue"?

[2021-07-21 09:31] damiendoligez commented on #5797
x-ref #9926

[2021-07-21 16:25] johnwhitington commented on #10528
As pointed out, this will all be redundant soon because of TRMC.

But it's worth noting that the "whole alternate list module" I proposed in the comment @mjambon linked would be much less difficult now, and fewer of the objections to it are valid now. The labeled and unlabeled versions of modules are automatically generated, so extending such automatic generation to provide fast versions would be

[2021-07-21 18:00] rudynicolop opened #10532 "Feature Request: Coq-style function parameter type-annotations."
I was wondering if it would be possible for the OCaml syntax to support more compact type-annotations for function parameters.

I often find myself writing code such as:
[code]
But I would like to condense it to:
[code]
Sometimes there are several parameters of the same type...
[code]
where I really want to write:
[code]

Thank you!

[2021-07-21 18:10] nojb commented on #10532
Personally I find the proposal interesting, but one point that lessens its interest is that type annotations are much less common in OCaml than in Coq.

[2021-07-21 18:43] pmetzger commented on #10532
It depends on circumstances. When I'm debugging a weird type error, my first impulse is to annotate a lot of the involved functions, after which the error usually becomes comprehensible. I rarely remove the annotations afterwards. I'd have enjoyed having coq-like syntax in some such cases.

[2021-07-21 18:48] stp59 commented on #10532
It is also possible that this inconsistency in supported syntax is a contributing factor to the fact cited above, that OCaml type annotations are less common than those in Coq. Perhaps making type annotations in OCaml less cumbersome would encourage OCaml hackers to adopt the same type annotation style used in Coq, leading to an increase in easier-to-read, self-documenting code?

[2021-07-21 19:00] yawaramin commented on #9312
I think an agreement was reached to upstream some set of functions from `oseq`/Sequel into `Stdlib.Seq`. I am happy to drive this forward a bit more. I will set up a PR if no objections.

[2021-07-21 19:05] pmetzger commented on #10532
I think there's generally a feeling among OCaml programmers that type annotations aren't really necessary. I tend to disagree with this; I also like them a lot as documentation. When I plunge into a new piece of code, knowing the types immediately provides a lot of clues to what I'm looking at, and in my own code, I often defensively annotate both for documentation purposes and to improve error re

[2021-07-21 19:07] yallop commented on #5985
Since 4.12.0 we have a way to assert injectivity of abstract types: `type !'a t` (#9500, #9727).

[2021-07-21 19:07] #5985 closed

[2021-07-22 07:16] Octachron commented on #10532
A point to keep in mind is that labelled arguments tend to decrease the number of argument with the same type. Typically, I tend to add labels as soon as arguments share the same type and are not symmetric.

[2021-07-22 13:25] gasche commented on #9312
No objections.

@c-cube and @fpottier: August is coming again!

[2021-07-22 13:56] gasche commented on #6238
Yes, but I think that we should start gathering a consensus on the naming of such an option, because while the implementation may be relatively simple, picking a good name probably is not.

[2021-07-22 14:15] gasche opened #10533 "Naming scheme for debug-related options?"
Currently the only debug-related command-line option for OCaml is `-g`, which does many different things, including:
- inserting debug events in the source / including debug information in binary
- enabling the collection of backtrace information on `raise`
- inhibiting certain optimizations that reduce the accuracy of debug information
  (some are explicitly disabled, some are implicity disabled

[2021-07-22 14:19] gasche commented on #10533
## Proposal

Have several options prefixed by `-debug-`:
- `-debug-info`
- `-debug-backtraces`
- `-debug-codegen` (or some better suggestion) for code-generation improvement
- `-debug` means the conjunction of all `-debug-*` options, and is synonymous with `-g`
- `-no-debug` and `-no-debug-*` options can disable each part selectively.

Note: `-debug-backtraces` requires `-debug-info`; it is invali

[2021-07-22 17:05] pmetzger commented on #10533
No opinion if it's better or worse since the options here are quite limited, but another sort of pattern I've seen in some programs is

[code]

Again, this probably is not a real issue here, but this pattern can reduce command line bloat when there are lots of possible options to set.

(The general form is `--option=alpha,nobeta,nogamma,delta`)

[2021-07-22 19:39] c-cube opened #10534 "expose more functions from `Toploop` in compiler-libs"
At imandra, we have a custom toplevel that relies on compiler-libs. However, we have to copy quite a few functions from compiler-libs because some of them are not exposed (a few hundred locs).

It'd be very convenient if the following was exposed: `outval_of_value` and `load_lambda` (mostly, everything that is required for `Toploop.execute_phrase`). We have to reimplement `Toploop.execute_phrase`

[2021-07-22 23:23] c-cube commented on #9312
I'm available to talk in august after the 9th, if @fpottier is also willing :)

[2021-07-23 04:25] #8728 closed, assigned to nobody

[2021-07-23 10:57] fpottier commented on #9312
Also available from August 9 and on. @c-cube, please email me and we can set a date and time. @gasche, would you like to participate in the discussion?

[2021-07-23 14:05] johnwhitington commented on #6973
Still an issue.

Today I am debugging a program in Python, which uses a mixed C/OCaml DLL, and has stdout and stderr output written by all three languages. I can set stdout and stderr to be unbuffered in both C and Python, and then redirecting with `>foo 2>&1` provides a chronological output mixing debug output with error output. But I cannot get OCaml stderr output in its correct place in the ord

[2021-07-23 14:34] nojb commented on #6973
Technically I don't see a problem adding `set_channel_buffered : out_channel -> bool -> unit`. Setting it to `false` would mean flushing the channel after every primitive output operation (`caml_ml_output`, `caml_ml_output_char`, etc). For backwards compatibility we will probably want to keep `stderr` buffered by default though.

[2021-07-23 14:43] johnwhitington commented on #6973
Would it really affect backward compatibility to simply change stderr to always-unbuffered like other languages do? It is presently unspecified when flushing happens (except that it must happen at certain points), so the specification does not change. What would be the practical problems, if any?

[2021-07-23 14:46] nojb commented on #6973
I can think of two possible side-effects: changing the output interleaving between `stdout` and `stderr` and performance degradation when a lot of data is being output on `stderr`.

[2021-07-23 15:10] johnwhitington commented on #6973
Thanks. Counterpoints: the interleaving is undefined, so should never be relied upon. Both C and C++ have stderr unbuffered by default, so I presume it's not a performance problem for them.

POSIX says:

"At program start-up, three streams are predefined and need not be opened explicitly: standard input (for reading conventional input), standard output (for writing conventional output), and standa

[2021-07-23 15:16] c-cube commented on #9312
By writing that comment, @gasche has already agreed to participate in the discussion, under perjury. :).
I'll email y'all.

[2021-07-23 17:49] nojb commented on #6973
Do C and C++ set `stdout` to be unbuffered when the output is the interactive console?

[2021-07-23 18:29] johnwhitington commented on #6973
For C++ according to https://en.cppreference.com/w/cpp/io/c/std_streams:

"Three text streams are predefined. These streams are implicitly opened and unoriented at program startup.
1) Associated with the standard input stream, used for reading conventional input. At program startup, the stream is fully buffered if and only if the stream can be determined not to refer to an interactive device.
2) A

[2021-07-24 06:53] raphael-proust commented on #10483
I missed that text because I was probably focusing too much on the formal grammar rather than the accompanying text. IIRC (sorry it's taken me some time to respond) I was CTRL+F on the string ":=" because in this specific instance of checking out the documentation I already knew what I was looking for.

[2021-07-24 10:56] nojb commented on #6973
Thanks for the references. So in POSIX there are 3 possible stages of buffering: unbuffered, line-buffered (where the buffer is flushed on a newline) and fully buffered.

In OCaml all channels are currently fully buffered (with the caveat that certain output functions such as `print_endline` and `print_newline` flush the channel before returning).

@johnwhitington  Would it be correct to say that

[2021-07-24 16:37] pmetzger commented on #6973
stderr is definitely conventionally unbuffered. The goal is that error output is rare, and should show up immediately, both so the programmer knows when a problem happened, and so that a crash will not deprive the programmer of debugging information.