[2020-03-31 12:17] Octachron commented on #9406
Note that part of the issue is that `(implicit_transitive_deps false)` is not supported by the compiler and relies on some unspecified behavior in presence of missing cmis.

Fortunately, in this case, the fix is short (see #9409).

[2020-04-01 01:37] Anukriti12 commented on #9351
This Fibonacci is linear time (so can easily compute fib(50))
As well as for Fib(0) it gives 0 Fib(1) = 1 Fib(2) = 2 as per wikipedia. It also prints every every fibonacci it computes like a table to make the code readability simpler.
[code]

Output:
![image](https://user-images.githubusercontent.com/31126248/78090282-4e81f200-73e7-11ea-9d0e-3ca64e2b6b0b.png)

[2020-04-01 04:00] Anukriti12 commented on #7785
This has already been resolved with this commit
https://github.com/ocaml/ocaml/commit/bbadeee53da38c157fb6b78492a85d282f48e810#diff-ecd205ea92ba9c2fdfd17d570a7ef7b0

[2020-04-01 07:12] gasche commented on #7785
Thanks for your detective work! Let's close the issue then.

[2020-04-01 07:12] #7785 closed, assigned to nobody

[2020-04-01 14:42] rwmjones commented on #9391
I killed this just now.  It ran for 2 days without reproducing the bug.  What changed is that our Coq package has moved to the final Coq / OCaml 4.10.0 patch.  Both new and old patches touch the GC, so it's entirely possible that the old patch was simply to blame.

[2020-04-01 16:23] abbysmal opened #9413 "ocamltest: escaping paths variables before handling them to run scripts in cygwin"
Hello,
I was working on writing a simple test in the testsuite that aimed to check that a profile file generated by my patches in the runtime system.

The test is comprised of an OCaml program, and a `.run` running the program with some environment variables, and then deleting the file, as an ultimate mean to check that the profile was indeed generated, at the right location.

`main.test`:
[code]

[2020-04-01 19:30] gasche commented on #9413
I don't understand the problem here. Why is there a problem about escaping? As far as I can tell there are no quotes or spaces in the path used in your example, so what kind of escaping is necessary?

One thing I can see is that one of the path separators is `/` instead of `\`; is that the source of the issue?

[2020-04-02 11:15] Octachron commented on #9242
It turns out that this was a bug within hevea. The bug has been fixed, and I will push an updated version on the text manual to ocaml.org .

[2020-04-02 21:00] sanette commented on #9351
What about Euclid's algorithm for the GCD? Simple, clean, and super fast.

[code]

[2020-04-03 11:15] damiendoligez commented on #9094
Your report is not very explicit. Is this the problem you're trying to report ?
[code]

[2020-04-03 12:43] gasche commented on #9094
In fact there is some context information missing: this issue was filed in the context of #9086, specifically [this comment thread](https://github.com/ocaml/ocaml/pull/9086#discussion_r341810673). And yes, @damiendoligez repro case is an example of the issue. (The reason it was filed away instead of solved is that we didn't see an easy fix at the time of implementing the feature.)

[2020-04-03 15:02] gasche commented on #9351
Personally I like the idea of using `gcd` as an example.

[2020-04-04 08:11] gasche commented on #9351
@xavierleroy would you be happy with `gcd` as an example instead of `fib`? I think it meets both your requirement (simple mathematical expression) and our preference for not-wildly-inefficient examples.

(The fact that people disagree on the initial terms of the Fibonacci sequence is also a reason to avoid it as an example; at least we should change the example to have `fib 0 = 0`.)

[2020-04-04 09:53] progman1 opened #9418 "toplevel printing discrepancy"
in ocaml:
[code]
whereas:
[code]

[2020-04-04 10:00] xavierleroy commented on #9320
I'm curious to know how `execv` is implemented in the MS CRT.  If it's just CreateProcess + ExitProcess, maybe we could just reimplement `Unix.execv*` in OCaml based on `Unix.create_process`.

[2020-04-04 10:01] xavierleroy commented on #9351
OK with GCD,  Not a very exciting function, but Fibonacci isn't either.

[2020-04-04 10:04] xavierleroy commented on #9013
Looks like it's been fixed in Coq.

[2020-04-04 10:04] #9013 closed, assigned to nobody

[2020-04-04 10:09] xavierleroy commented on #8811
The conclusion seems to be "the Menhir-generated parser takes longer to compile, live with it".  If it's correct, I move to close.  If there is more to say and investigate, please do.

[2020-04-04 10:11] xavierleroy commented on #8671
Six months later, I'm still not in favor.  Let me close this issue.

[2020-04-04 10:11] #8671 closed, assigned to nobody

[2020-04-04 10:15] gasche commented on #9418
Thanks for the report!

I looked at the implementation of `toplevel/genprintval` to understand the source of the difference. The toplevel has the type and it finds the constructor `T` just right (this happens in `tree_of_extension`), but then it tries to print the arguments (by calling `tree_of_constr_with_args`) with the argument types coming from the type declaration, with a parametric `'a` that

[2020-04-04 11:37] wyn commented on #9094
Hello, yes sorry, looking back it is rather terse.

I'd be happy to look into it again - we left it because we thought it was a lot of work for not so much gain but my reasons for wanting to help are more about learning the ocaml code base - I  dont really mind what I work on.

[2020-04-04 11:44] gasche commented on #8811
The report gave two measurements; the first suggested a very large increase (164%) in compilation time, the second (with detailed numbers) suggests a noticeable but much smaller increase (+18% for world.opt). The second difference is explained by the Menhir-based parser; the first difference remains unexplained but may be a non-reproducible outlier, and we haven't heard back with more measures to

[2020-04-04 11:54] gasche commented on #9351
@Anukriti12 based on this feedback, I think that you could rework a PR using the `gcd` function above rather your modified Fibonacci, if you wish to. (One then has to read two parameters from the command-line.)

[2020-04-04 15:59] xavierleroy commented on #8703
The workaround (include Makefile.config rather than grep through it) is fine. I'm closing this PR.

[2020-04-04 15:59] #8703 closed, assigned to nobody

[2020-04-04 16:01] xavierleroy commented on #8699
No activity since June 2019, so I'm assuming the issue was fixed in 4.09.

[2020-04-04 16:01] #8699 closed, assigned to nobody

[2020-04-04 19:11] ejgallego commented on #9013
Thanks a lot to everybody, Coq + 8.10 seems to be working OK !

Something I'm not sure is fully solved or registered as a bug is the problem mentioned in  https://github.com/coq/coq/pull/9914 , cc: @silene @maximedenes ; even if that's a minor problem we should keep an issue in Coq documenting it, right?

[2020-04-04 19:12] ejgallego commented on #9013
Sorry for the noise, there is indeed an issue for this problem here https://github.com/coq/coq/issues/11170

[2020-04-04 19:58] yawaramin opened #9421 "Ocamldoc is rendering list variant constructors without parentheses"
See e.g. https://caml.inria.fr/pub/docs/manual-ocaml/libref/List.html

[code]

This is syntactically incorrect, the expected output rendering is:

[code]

[2020-04-05 09:30] xavierleroy commented on #7696
This was planned to be fixed by reverting  c545e04.  @garrigue can you please have a look?

[2020-04-05 09:36] xavierleroy commented on #7915
Fixed by PR #8568.

[2020-04-05 09:36] #7915 closed, assigned to nobody

[2020-04-05 16:02] xavierleroy commented on #7917
Sorry if this bug was ignored for so long.  I was able to reproduce it with x86 in 32-bit mode under Linux, as described.

This is an "excess precision" issue with GCC, similar to the infamous [GCC bug 323](https://gcc.gnu.org/bugzilla/show_bug.cgi?id=323).  Consider https://github.com/ocaml/ocaml/blob/1d76e2ca91633ac63759c4672e9a8dddabac8a31/runtime/floats.c#L496
Recent enough versions of GCC imp

[2020-04-05 16:50] xavierleroy commented on #7899
Possibly related to #9392 ?

[2020-04-06 14:41] Octachron commented on #9421
Indeed, ocamldoc was not updated after the change of internal representation of `::`. Thanks for the report. (The parentheses are not needed for `[]`.)

[2020-04-07 01:36] progman1 commented on #9418
Thanks for that.
by passing in the ty_list and instantiating the params as per a regular constructor,
all is well again :)

[code]

[2020-04-07 01:36] #9418 closed, assigned to nobody

[2020-04-07 01:39] progman1 commented on #9418
I assume PR's are only submitted by the duly authorised?

[2020-04-07 04:39] gasche commented on #9418
Anyone can submit a PR, see [CONTRIBUTING.md](https://github.com/ocaml/ocaml/blob/trunk/CONTRIBUTING.md).

[2020-04-07 04:49] gasche commented on #9421
Could we hide the re-exports from ocamldoc?

[2020-04-07 09:25] Octachron commented on #9421
Do we want to? The re-export has an observable effect on user code whenever the List module is opened (since it affects which constructors are in the scope). I am not keen on making this observable effect unpredictable from the documentation.

[2020-04-07 13:08] #9351 closed, assigned to nobody

[2020-04-07 13:11] gasche commented on #9421
Makes sense, although I must say that I slightly regret this decision to re-export. It is useful for expert users, but it makes the documentation less beginner-friendly by starting with this weird syntax (I'm not even sure it is considered part of the language and not just an undocumented experimental feature).

[2020-04-07 13:18] nojb opened #9430 "Manual does not have a clear statement how let binding operator are desugared"
Unless I am mistaken, the manual has no clear specification of how let binding operators are desugared (although it does contain examples).

I would have expected to find somewhere formulas along the lines:
[code]

[2020-04-07 16:21] olafhering opened #9431 "regression: arm32 failures in floating point"
This was reported ocsigen/lwt#773 as failure in the ocaml-lwt tests with ocaml 4.10.0, but also Chris00/ocaml-benchmark and ocaml-community/biniou is affected. The latter aborts because the expected floating point format constraints are not met.

I rebuilt [devel:languages:ocaml](https://build.opensuse.org/project/show/devel:languages:ocaml) for openSUSE_Tumbleweed/armv7l with ocaml the 4.05, 4.06

[2020-04-07 16:44] xavierleroy commented on #9431
Here is what I can say with the little information available.

The ARM32 port of OCaml works perfectly under Raspbian Linux.  Every single commit is tested on a Raspberry Pi running Raspbian as part of OCaml's CI.

Could you please run the OCaml test suite on your openSUSE packages?  It's the testsuite/ directory in the source distribution.

In 4.08 the autoconfiguration scripts were entirely rewr

[2020-04-07 16:56] olafhering commented on #9431
Well, `configure` does not allow any external `CFLAGS`. While I do tweak it slightly to pass additional warnings down to the OCaml eco system, nothing else will be changed.

There are failures in [4.08](https://build.opensuse.org/package/live_build_log/devel:languages:ocaml:408/ocaml/openSUSE_Tumbleweed/armv7l), while [4.07](https://build.opensuse.org/package/live_build_log/devel:languages:ocaml:4

[2020-04-07 18:34] yawaramin commented on #9421
@gasche re-exporting seems to be covered in the reference manual ( https://caml.inria.fr/pub/docs/manual-ocaml/typedecl.html ):

[2020-04-07 19:28] gasche commented on #9421
But is `(::)` covered in the manual?

[2020-04-07 19:54] yawaramin commented on #9421
Looks like it is: https://caml.inria.fr/pub/docs/manual-ocaml/typedecl.html#constr-decl

EDIT: but `true`, `false`, and `()` are not listed as valid constructors although they are accepted. I assume they were intentionally omitted.

[2020-04-08 10:16] olafhering commented on #9431
Looking through `CFLAGS` usage, configure does nothing special. C code gets compiled with the compiler defaults.

There is most likely some arm32 assembler in the ocaml code base. Does this assembler code make any assumptions about the floating point environment?

Appending `-mfloat-abi=hard/softfp/soft` makes no difference, only `hard` can be used anyway. Is there a slim chance the 32bit emulatio

[2020-04-08 10:32] garrigue commented on #7696
It was a bad ordering of commits.

[2020-04-08 11:44] olafhering commented on #9431
With autoconf the commandline is (everywhere in Tumbleweed): `./configure --host=armv7hl-suse-linux-gnueabi --build=armv7hl-suse-linux-gnueabi`.
With 4.07 `configure` the guessed system is: `armv7l-unknown-linux-gnueabihf`

This looks already fishy.

[2020-04-08 13:38] xavierleroy commented on #9431
The problem is not to tell GCC to use FP ABI that OCaml chose by default.  The problem is to tell OCaml to use the FP ABI that GCC uses on your system.

It seems that
* SUSE wants the soft FP ABI (gnueabi)
* the `config.guess` script from FSF that OCaml's configure uses guessed the hard FP ABI (gnueabihf).

The solution is therefore to configure OCaml with armv7hl-suse-linux-gnueabi as the build s

[2020-04-08 15:37] Octachron commented on #9430
A potential difficulty is that binding operators are not just a syntactic sugar since they appear in the ASTs until the translation to Lambda.

[2020-04-08 15:40] nojb commented on #9430
But from a user perspective, is there any difference?

[2020-04-08 16:02] olafhering commented on #9431
I found this in `gcc.spec`, which explains why the change below appars to work:
[code]
[code]
4.08:
[code]

[2020-04-08 16:03] lpw25 commented on #9430
I don't really see the difference between what you have written and the examples already in the manual. Yours just looks like an example with very generic variable names to me.

[2020-04-08 16:09] gasche commented on #9430
Well so maybe we can include the non-generic example and also the generic example and make you both happy :-)

[2020-04-08 16:11] olafhering commented on #9431
Well, in the end this does not seem to be an OCaml bug, rather it just served to uncover an apparent inconsistency somewhere else.

[2020-04-08 16:11] #9431 closed, assigned to nobody

[2020-04-08 16:58] #7696 closed, assigned to nobody

[2020-04-08 17:54] #7917 closed, assigned to nobody

[2020-04-08 20:52] alcover opened #9434 "Debian install fails brutally"
Install blowing up in Debian stable :
**$ apt install opam
$ opam init
$ Do you want opam to modify ~/.profile? y**
[...]
### > Creating initial switch (ocaml-system>=4.02.3)

Then goes nuts, 100% CPU 100% RAM (16G..) for long minutes.
Then fails :
### >[ERROR] Solver failed: "/usr/bin/aspcud
        /tmp/opam-me-24664/solver-in-24664-548b09
        /tmp/opam-me-24664/solver-out-24664-8b8a2d

[2020-04-08 21:18] ejgallego commented on #7842
This is becoming more and more common, for example https://github.com/coq/coq/pull/12036 , even worse, for some files not even increasing the stack size will work [unless ridicoulous values are used]

In practice we are losing more time that the amount that would have taken to convert `map_exprs_at_toplevel_of_program` to be tail-rec; I may give it a go.

[2020-04-09 07:35] hannesm commented on #9434
Dear @alcover, thanks for your report. This is an issue with `opam` (https://github.com/ocaml/opam) and debian. It has been already reported there (see https://github.com/ocaml/opam/issues/3827 - several workarounds are documented in that issue) as well as to the debian OCaml team (at https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=908203). The current state of opam in debian is annoying, and I

[2020-04-09 08:34] #9434 closed, assigned to nobody

[2020-04-09 08:36] xavierleroy commented on #9431
It looks like your GCC implements the EABI-HF calling conventions.  Then, don't give `--build=armv7hl-suse-linux-gnueabi`, because it's factually incorrect; give `--build=armv7hl-suse-linux-gnueabihf` or don't give any option, `config.guess` will guess correctly.

[2020-04-09 09:16] alcover commented on #9434
@hannesm
Thank you.
I'm quite puzzled by this state of affairs..
I'd bet Ocaml and Debian intersect quite often.
How many users must have been burned by this ..

[2020-04-09 09:30] xavierleroy commented on #9201
Three months later, I'm closing this report because there is nothing wrong with ocamlc and ocamlopt occasionally producing different exception backtraces.  Each compiler is doing a best effort to describe the call chain that led to the exception, but compilation and optimization strategies differ and result in different backtraces.  This is all right.  Having exactly the same backtraces is not an

[2020-04-09 09:30] #9201 closed, assigned to nobody

[2020-04-09 09:33] xavierleroy commented on #9151
This is an obscure problem that no longer shows up in 4.09 and more recent.  So, I move to close.

[2020-04-09 09:33] #9151 closed, assigned to nobody

[2020-04-09 09:39] xavierleroy commented on #9287
Soory for the late reply.  I don't think this is a Coq issue, so no need to bother the Coq developers.  I do think it's an instance of a more general "stack overflow detection in OCaml is unreliable" issue, which has been with us for a long time.  The situation is getting better in OCaml 4.10, with different heuristics.

Concerning your code: consider writing it tail-recursively, as @gasche showed

[2020-04-09 09:39] #9287 closed, assigned to nobody

[2020-04-09 09:41] xavierleroy commented on #9147
Is there any action required here?  I'd like to close this report.

[2020-04-09 10:10] olafhering commented on #9431
I was told `armv7Hl` should be enough to identify hard vs. soft.
`armv7*` is too generic to make a guess.

[2020-04-09 16:52] lpw25 commented on #9147
This is the intended behaviour and I don't think there is a strong reason to change it, so I'm closing.

[2020-04-09 16:52] #9147 closed, assigned to nobody

[2020-04-10 08:23] xavierleroy commented on #9068
I was able to reproduce and diagnose the problem.  `ocamlopt` calls `as` to produce object files.  However, on FreeBSD 12.1, `as` is still the GNU assembler from binutils, and it generates slightly different object files than `cc`, which is Clang and goes through LLVM's internal assembler, not through `as`.

One difference in the section where `.eh_frame` resides.  When combining objects produced

[2020-04-10 11:30] fpottier opened #9438 "Type-checker reports type error without noticing that a variable is undefined"
In the following code, the variable `x` is unbound in the definition of `g`. Yet, the OCaml type-checker does not notice it, and instead produces a confusing type error.

[code]

[2020-04-10 11:40] hannesm commented on #9068
Thanks @xavierleroy for your investigation and fix. I successfully tested #9437 -- the output-complete-obj test no longer fails on FreeBSD 12.1.

[2020-04-10 11:47] Octachron commented on #9438
As far as can see, the type checker is just reporting the first error that it encounters
[code]
yields

         'a0. 'a0 -> 'a0

and
[code]

And fortunately, the recent changes (in #1132 ) by @lpw25 to the typing of explicit polymorphic types make the typechecker picks the second error in trunk

[code]

thus the issue will be fixed in 4.11 .

[2020-04-10 12:06] fpottier commented on #9438
Thanks Florian. I did not make this clear in my initial message, but I think it makes sense to report lexical errors before type errors. Indeed, I would like the type-checker to act as a guide and tell me where I must fix my code. Here, I expect to the type-checker to first tell me that `x` is unbound in `g`, so I can fix the definition of `g`.

[2020-04-10 12:16] progman1 commented on #9418
I do believe I have a PR going!
https://github.com/ocaml/ocaml/pull/9439

do you happen to know what minimum amount of a repository needs to be cloned
in order to submit a PR against it?
it seems not to work with --depth 1 but the alternative seems to be to copy the entire history back to the stone age. I haven't managed to find any answer to this.
thanks.

[2020-04-10 12:19] nojb commented on #9418
FWIW, unless you are severely resource-constrained, cloning the full history should not be a problem.

[2020-04-10 13:10] Octachron commented on #9438
I agree that the error reported is far from ideal.

However, your criterion is kind of verified: before OCaml 4.11, the function `f` fails to type check for any definition of `g`:
[code]

         'a0. 'a0 -> 'a0

without an explicit type annotation on `g`:

[code]
and once the explicit annotation on `g` is added

[code]
the `Unbound value x` pops up again.

So it makes some sense to start by repo

[2020-04-10 14:14] xavierleroy commented on #9438
Dear François: you probably meant "lexical scoping errors" above, because I can assure you lexical errors are detected even before parsing.  But, no, your wish is not possible because scoping resolution must be performed at the same time as type-checking, because of `open` and `include` among other niceties of the OCaml language.

Can we please close this report?

[2020-04-10 14:35] #9438 closed, assigned to nobody

[2020-04-10 20:28] gasche commented on #9431
I tried to understand why @xavierleroy and @olafhering seem to be talking across each other, here and in #9435. My impression is as follows (please note that just like @olafhering I know nothing about ARM.)

1. Most of the world, and in particular Debian and the OCaml compiler configure script, expects ARM host triples of the form `<architecture model>-<os>-<compiler_abi>`, where the `<os>` part f

[2020-04-10 21:07] olafhering commented on #9431
Perhaps you meant to say `configure.ac` instead of `configure.guess`?

It is not `config.guess` that is broken (this is [most likely] not even used with `%configure` and the resulting `./configure --host=x --build=y`), it would continue to provide the expected triple as it did in 4.07.

It is the expectation in `configure.ac` which maps host triples to features. This mapping list is entirely withi

[2020-04-10 21:13] olafhering commented on #9431
One more note: prior to 4.08 the `%configure` macro was not usable because it would pass unknown options to `configure`. Starting with 4.08 OCaml started to behave like every other package that uses autoconf, so using `%configure` was just natural.

And all that might just be a rpm thing. Some software archealogy is required to understand why  `config.guess` and `%configure` use different names.

[2020-04-11 06:58] gasche commented on #9431
Well arguably the "Debian way" is more correct because the ABI is different between soft-float and hard-float (this is why the gcc option is called `mfloat-abi`), so hf/sf should be specified in the ABI part. It does not feel "wrong" to indicate in the architecture whether a hard-float unit is available, but it *is* wrong to use `gnueabi`, which is understood to mean a specific ABI, when you mean

[2020-04-11 06:59] gasche commented on #9431
(My comment about config.guess is probably wrong because I know nothing about autoconf. Apologies for that.)

[2020-04-11 09:17] #9068 closed, assigned to nobody

[2020-04-13 20:11] olafhering commented on #9431
The reported failures on arm32 are bugs in rpm and/or how rpm is configured on arm32.

The rpm `%configure` macro is supposed to drive an `configure` file which is generated by `autoconf`. Every author of `configure.ac`, who needs to work with `host/build` values to make decisions based on those values, has to work with values which are potentially returned by `config.guess`. The `%configure` macr

[2020-04-14 20:42] ausil commented on #9431
Fedora uses --build=armv7hl-redhat-linux-gnu --host=armv7hl-redhat-linux-gnu

[2020-04-15 21:07] pterjan opened #9450 "Segmentation fault while building ocaml 4.10.0 on i586"
The 4.10.0 package built fine initially on Mageia but now fails on i586 (x86_64 is ok).
The main difference I noticed is that we are now using gcc 9.3.0 final while we were using a snapshot in February but there were probably many other changes.

[code]

[code]

[code]

[2020-04-15 21:29] pterjan commented on #9450
Interestingly there is a problem too on armv7hl but different, the processes seem stuck.

[code]

[code]

[code]

[2020-04-15 21:45] pterjan commented on #9450
aarch64 also gets stuck at the same location:

[code]

[2020-04-16 07:59] jhjourdan commented on #9450
I suspect you are not using the right sources for OCaml 4.10.0: the line 74 of the file `runtime/signals_nat.c` is completely different on that version.

This specific line has been introduced later on the trunk branch.

[2020-04-16 08:03] xavierleroy commented on #9450
For targets other than x86_64, we do CI but use Ubuntu LTS / Debian stable / Raspbian, and haven't seen any problems with OCaml 4.10 or the current master.  So the problems could come from more recent versions of GCC and binutils.

Does your GCC produces PIE executables by default?  #7562 reported issues with Alpine i586 that went away with `-fno-pie`.

Do you have Docker or LXC/LXD images for the

[2020-04-16 08:12] stedolan commented on #9391
I agree that that assertion _should_ hold at the end of marking, but I don't see what makes it hold.

What I'd like to see is some description of the marking invariant for ephemerons. Some examples of these:

  **Tri-colour invariant** (not what OCaml uses): _There are no pointers from white objects to black objects_. To enforce this, the write barrier checks to see if it is creating such a pointe

[2020-04-16 09:09] xavierleroy commented on #9450
I meant "with `-no-pie`" not "`-fno-pie`", which doesn't help.

[2020-04-16 12:38] xavierleroy commented on #7562
I had a second look at these crashes with Alpine Linux.

They are hard to debug because the crash occurs very early in the execution of ocamlopt-generated binaries, well before any OCaml code is entered, even before `main()` is called, right inside the program loader.

The root cause seems to be non-PIE object files being linked in PIE mode, which seems to be the default in Alpine.  The problem ca

[2020-04-16 12:58] gasche commented on #7562
I was about to ask about which native-code executable were suddenly used in 4.10, but I guess that I'm the one to blame-or-thank here, this would be the BEST_FOO logic (#8840) using the .opt version of each tool when available.

[2020-04-16 13:48] xavierleroy commented on #6991
Since 4.10, -safe-string is the default configuration and string literals are shared as expected.

[2020-04-16 13:48] #6991 closed, assigned to nobody

[2020-04-16 16:16] mshinwell commented on #9337
The discussion on #9336 can supercede this issue.

[2020-04-16 16:16] #9337 closed, assigned to nobody

[2020-04-16 16:17] mshinwell commented on #9375
@trefis Any progress?

[2020-04-16 16:22] mshinwell commented on #9034
I'm closing this given that #715 has also been closed and there seems little likelihood of achieving a consensus here.  If someone wants to come back with a concrete proposal accompanied by the resources to implement it then an RFC can be submitted.

[2020-04-16 16:22] #9034 closed, assigned to nobody

[2020-04-16 16:24] mshinwell commented on #9137
There has been no feedback from the submitter as to the various suggestions made for several months now, so closing.

[2020-04-16 16:24] #9137 closed, assigned to nobody

[2020-04-16 16:26] gasche opened #9451 "Meta-issue on the semantics of the Bytes/String divide (representation, onwership-safe functions, optimizers and all that)"
Over in #9448 a discussion erupted about what is the "truth" on the semantics of the `Bytes.unsafe_{to,of}_string` functions. Are they lying about the (im)mutability of their argument or result, can an optimizer assume that they don't exist? Do we specificy that these two types have the same representation, or do we only not-not-specify it, that is, consider that anything that either enforces or r

[2020-04-16 16:26] mshinwell commented on #9033
There have been no further comments for six months (and also no sign of anyone willing to implement such a feature), so closing.

[2020-04-16 16:26] #9033 closed, assigned to nobody

[2020-04-16 16:26] dra27 commented on #9451
Actually, the discussion erupted on #9448!

[2020-04-16 16:29] mshinwell commented on #8916
I don't think this issue needs to remain open -- if someone wishes to submit a PR to improve this area, please feel free.

[2020-04-16 16:29] #8916 closed, assigned to nobody

[2020-04-16 16:30] mshinwell commented on #8807
@stedolan Perhaps you could propose a small PR to make the necessary documentation improvement, so we can close this issue?

[2020-04-16 16:31] mshinwell commented on #8776
@alainfrisch Would you like to bring this PR to a conclusion?

[2020-04-16 16:32] mshinwell commented on #8709
It looks like this has been fixed (#8710).

[2020-04-16 16:32] #8709 closed, assigned to nobody

[2020-04-16 16:32] gasche commented on #9137
I wrote a message on the project bugtracker (the issue linked in the first message here) in case they follow that one more actively.

[2020-04-16 16:35] mshinwell commented on #8700
I am afraid there is not.

[2020-04-16 16:35] #8700 closed, assigned to nobody

[2020-04-16 16:37] mshinwell commented on #8625
@xavierleroy Ping on @diml 's question.

[2020-04-16 16:40] mshinwell commented on #8353
Still not implemented nearly 17 years later, so closing.

[2020-04-16 16:40] #8353 closed

[2020-04-16 16:41] mshinwell commented on #8286
This is so old that I think the value in retaining it open is insufficiently high.

[2020-04-16 16:41] #8286 closed

[2020-04-16 16:44] mshinwell commented on #8510
@nojb I'm going to close this, given nothing has happened for a year.  I am in support of adding this kind of functionality (sets, maps, hash tables) to relevant types in the standard library, but there are many issues to consider (see the various benchmarking on Discuss recently, for example), and I would suggest that writing a RFC with a concrete proposal and discussion would the correct startin

[2020-04-16 16:44] #8510 closed, assigned to nobody

[2020-04-16 16:46] gasche commented on #8700
Moderate grumble: this issue is not a bug report, but it sounds like we could extract a "user interface feature request" from it with a small effort, and I think we should thank the reporter for the effort of giving us feedback. I think that closing with a harsh message is too harsh; there is a risk of antagonizing potential contributors and giving a bad image of the project.

On the issue itself:

[2020-04-16 16:51] pterjan commented on #9450
Sorry for the noise, it turns out that the problem was in some patches we have in the package (copied from fedora), and dropping those fixed everything:

[code]

[2020-04-16 16:51] #9450 closed, assigned to nobody

[2020-04-16 17:14] xavierleroy commented on #9450
Good to know, thanks.  RISC-V support is right around the corner (see #9441), just be patient.

[2020-04-16 17:14] lthls commented on #9451
From a middle-end developer's point of view: the solution we have now treats constant strings as shareable but all strings are considered mutable. This disables some optimisations, so at some point in the future we'd like to handle strings as immutable.

The two unsafe functions are problematic because, just like `Obj.magic`, they would be unsound in this context.
The `unsafe_to_string` one could

[2020-04-16 17:25] nojb commented on #9451
Instead of moving the function, which will necessitate a long discussion, we could use the existing "alert" infrastructure:

[code]

to emit an alert at every use of the function.

[2020-04-16 17:45] alainfrisch commented on #8776
(This is an issue, not a PR.)  Reading the discussion again, it seems the slowdown is confirmed, and some possible improvements that could improve performance significantly have been identified but not implemented.  Unless I missed something, it sounds reasonable to keep the issue open.

[2020-04-16 17:59] lthls commented on #9451
Yes, good point. Although I think we could also put the definition in `Obj` early, to put an emphasis on the fact that it's now considered as dangerous as the rest of `Obj`, and allow for a sufficiently long period where both functions are available when we want to remove it from `Bytes` in the distant future.

[2020-04-16 19:09] yallop commented on #9451
I don't see any need to remove or rename the `unsafe_*_string` functions for the moment, or even to warn about them.

If it becomes necessary to introduce copying in the future because the representation changes, or because the optimizer becomes more aggressive then they can be deprecated in favour of the safe versions.  But even though the pragmatics will change the semantics can stay the same, s

[2020-04-16 21:00] gasche commented on #9451
Personally my view is that, currently, very few choices have been made/specified. This is what I understand of the current state:

- We should not assume that strings and bytes have the same representation (I think that code that does this is incorrect), but that does not preclude having the `unsafe_{to,of}_string` primitives in the library (they could do a shallow copy of some sort that is more e

[2020-04-16 21:51] yallop commented on #9451
It's clearly specified that strings are immutable.  (See the [`String` module documentation](https://github.com/ocaml/ocaml/blob/67ada54ce36e9d52cf8332285d2b6e2118ebf998/stdlib/string.mli#L18), the [manual](https://github.com/ocaml/ocaml/blob/67ada54ce36e9d52cf8332285d2b6e2118ebf998/manual/manual/tutorials/coreexamples.etex#L53-L66), the [changelog](https://github.com/ocaml/ocaml/blob/67ada54ce36e

[2020-04-16 22:08] gadmm commented on #9451
Thanks for writing that @gasche, this is almost what I wanted to say, so I'll be brief. (You meant "Disallowing `unsafe_of_string`, right?)

@yallop does not believe that aliasing unsafe functions for their safe counterparts breaks programs, but I think it does break the performance guarantee that has been given to users (or they could ask: why were they introduced in the first place?). If so, int

[2020-04-16 22:23] yallop commented on #9451
@gadmm: I agree with almost everything you've written (especially the idea of removing the notion of "“uniquely-owned” string"), so let me just clarify one point:

Yes: if we were to switch to a copying implementation of the `unsafe_*_string` functions then we should simultaneously introduce a warning for the reason you mention.  While the behaviour wouldn't be semantically incorrect, it would be

[2020-04-16 22:27] gadmm commented on #9451
@yallop

Only the following does not make much sense to me:

`unsafe_of_string` should not be used to "assume unique ownership", because all strings should be assumed possibly-aliased (but it does not clearly say that assuming unique ownership is ever possible). Moreover, in a hypothetical extension of string as ropes, there must be some flattening happening during unsafe_of_string when necessary,

[2020-04-16 23:09] gadmm commented on #9451
@yallop It is true that I changed my view in the course of the conversation. From the moment all literals are assumed shared, and all result of functions must be assumed shared, there was just no meaningful way of manipulating uniquely-owned strings.

[2020-04-17 00:01] lthls commented on #9451
For performance gains, on paper this should allow us to reuse previous accesses to the same element, although this is rather uncommon, and consider string reads as pure, allowing us to move them around freely, but again I don't think we will gain much from it in practice. We may at some point start to record the purity of functions, in which case it could make bigger gains as it could turn a non-p

[2020-04-17 07:32] trefis commented on #9375
I haven't taken the time to look yet, but I haven't forgotten about this.
I'll get around to it next week.

Thanks for the ping!

[2020-04-17 07:44] yallop commented on #9451
@lthls: indeed, it would be interesting to know whether there are optimization opportunities arising from string immutability.  I expect that you're right, and there's not a great deal to be gained, but perhaps some catenations of literals that show up after inlining could be performed statically.

While we're discussing plans, I should say that I'm planning to investigate alternative representati

[2020-04-17 09:17] gasche commented on #9451
On `unsafe_of_string`. I agree that it is sensible to consider all strings immutable. Then `unsafe_of_string` is only ever correct if the resulting `bytes` is not mutated. This use-case was important during the transition period (and please keep in mind that a lot of code is exactly the result of the transition period).

One way to think of it is that `Bytes.t` are defined as a "ghost variant": ei

[2020-04-17 09:31] yallop commented on #9451
It'd be useful to have some concrete examples of the important cases.  It'll be much easier to judge possible solutions once there's agreement on what the problems are.

[2020-04-17 09:41] gasche commented on #9451
One typical example would the implementation of `really_input_string : in_channel -> length:int -> string`. Your low-level input functions mutates byte sequences, so you need to allocate a bytes of the output length to call them, and then you don't want to also allocate a string (I would guess that in many cases the allocation is more annoying than the copy itself). If you are reading from an inpu

[2020-04-17 10:10] mshinwell commented on #4909
#654 has been closed, so closing this one too.

[2020-04-17 10:10] #4909 closed

[2020-04-17 10:11] mshinwell commented on #4496
@hcarty If you are still interested in this support one decade later, please propose a PR (although bear in mind we don't currently have specific types for unsigned integers on the OCaml side).

[2020-04-17 10:11] #4496 closed

[2020-04-17 10:13] mshinwell commented on #5187
Many things would indeed be nice, of which this is perhaps one, but given no other interest has been expressed in this for nearly ten years I am closing the issue.

[2020-04-17 10:13] #5187 closed

[2020-04-17 10:15] mshinwell commented on #6066
There have been no comments since 2013, so closing.  If the feature is desired and someone has the resources to implement it, please produce an RFC.

[2020-04-17 10:15] #6066 closed

[2020-04-17 10:16] mshinwell commented on #6086
No longer relevant to the compiler distribution.

[2020-04-17 10:16] #6086 closed

[2020-04-17 10:18] mshinwell commented on #6294
There hasn't been any progress on this for 18 months and the likelihood is that external libraries need fixing, not the compiler distribution, given the (fairly) recent changes as to the management of external heap resources.  I think this can be closed.

[2020-04-17 10:21] mshinwell commented on #6518
In the face of #8541 I don't think this needs to remain open.

[2020-04-17 10:23] mshinwell commented on #5990
I don't know whether @alainfrisch is still wondering 7 years later, but if he is, I would suggest an RFC would be the next step if this is to be taken forward.

[2020-04-17 10:23] #5990 closed

[2020-04-17 10:25] mshinwell commented on #5473
I'm not completely sure, but it is possible the recent work on functor packs (which has involved some more fundamental work on the packing system) might help here.

[2020-04-17 10:26] mshinwell commented on #5249
I don't think this feature is likely to be accepted in its current form (although I think external libraries may end up using `Obj.magic` to get access to these descriptors, so there is something to potentially improve here).

[2020-04-17 10:26] #5249 closed

[2020-04-17 10:28] mshinwell commented on #5249
Actually, I am mistaken, this is only a C binding change.  However the lack of interest does not excite.  @ygrek Do you still want this?

[2020-04-17 10:31] mshinwell commented on #7581
I think we're planning to produce a patch with an explicit `Obj.null` in the near future, so the zero-initialisation approach could then be used here.

[2020-04-17 10:34] mshinwell commented on #7252
We have discussed this before and I think it is clear that the proposals in their existing form are unsatisfactory.

[2020-04-17 10:34] #7252 closed, assigned to nobody

[2020-04-17 10:40] mshinwell commented on #3764
I doubt this remains a problem with modern build systems (and the proposal did not seem to garner a lot of support 15 years ago either).

[2020-04-17 10:40] #3764 closed

[2020-04-17 10:42] mshinwell commented on #3195
I'm afraid the WISH has not been granted (sixteen years later)...

[2020-04-17 10:42] #3195 closed

[2020-04-17 10:42] mshinwell commented on #3378
If functions like these are still desired a PR should be submitted.

[2020-04-17 10:42] #3378 closed

[2020-04-17 11:38] gasche commented on #5249
Note: The OCaml side of this question was discussed (and rejected) in #1990.

[2020-04-17 11:39] gasche commented on #7252
Cross-link: this was proposed (and rejected) in #724.

[2020-04-17 12:29] avsm opened #9455 "4.11.0~dev breaks use of topfind"
When using 4.11.0~dev, trying to `opam install topkg` (or anything else using topfind) seems to break:

[code]

(I've not had a chance to bisect this further, but figured it's a serious enough regression to open up an issue early).

[2020-04-17 12:35] mshinwell commented on #7849
We have decided that the improved tracking of recursion with respect to inlining will only be implemented for Flambda 2.0.  We will check the behaviour with this example, but we don't need to keep this issue open, as it appears to be an expected regression in the current compiler.

[2020-04-17 12:35] #7849 closed, assigned to nobody

[2020-04-17 12:40] mshinwell commented on #7180
No reply for 18 months, so closing.

[2020-04-17 12:40] #7180 closed, assigned to damiendoligez

[2020-04-17 12:45] hhugo commented on #6013
@trefis, I think you might have addressed this one. Can you confirm.

[2020-04-17 13:47] gasche commented on #7180
@braibant it would still be interesting to know whether the new custom-allocated-resources tracking added in 4.08 ( #1738 ) solves the issues you were observing.

[2020-04-17 13:54] rwmjones commented on #9450
Yes these patches didn't work.  I don't recommend taking patches from Fedora until you've seen us do a successful build of the entire OCaml stack - in this case the compiler package didn't even compile (segfaulting in the same way on i686 as you saw).

[2020-04-17 14:08] avsm commented on #3378
For the record, all of this functionality is now supported by the [ipaddr library](https://github.com/mirage/ocaml-ipaddr/tree/master/lib).

[2020-04-17 14:18] mshinwell commented on #6518
@gasche I didn't see any reason for this to remain open having looked at the discussion in #8541.  What value do you see in reopening it?

[2020-04-17 14:21] mshinwell commented on #6294
@gasche Can you explain what changes in the compiler distribution are still required that necessitate this PR remaining open?  I don't think there is anything for us to do here.

[2020-04-17 14:29] #9406 closed, assigned to nobody

[2020-04-17 14:51] gasche commented on #6518
The two issues/PRs are discussing fairly different things. This one suggests using the standard gnu-style locations that are a cryptic `foo.ml:23-25:13-68` or something like that, and that (apparently?) many tools support out of the box. #8541 is about changing slightly the custom format we used for OCaml (because it was broken in the multiline case), but in fact the discussion there shows that mo

[2020-04-17 14:56] gasche commented on #6294
We have had gaping holes in our external-resource-accounting logic for years, which may have been fixed by a new iteration that Damien did in #1738. I think it makes sense to try getting a clear status report from the people who had issues before that, in the chance that their issues may not be completely fixed, or at least to get a close-case confirmation. This sounds particularly interesting her

[2020-04-17 14:58] gasche commented on #6294
@garrigue: have you had the chance to try using the new `caml_custom_alloc_mem` function in lablgtk? (Is it in a lablgtk release?) Could @silene try that?

[2020-04-17 15:05] #7141 closed, assigned to nobody

[2020-04-17 16:26] ygrek commented on #5249
I am ok with current macros avaialble

[2020-04-17 16:31] hhugo commented on #9451
@gadmm If you put apart additional allocations (which are not observable in JavaScript), I fail to see any other buggy behaviors that this could introduce.

**To give some context about jsoo:**
Js_of_ocaml already allow different representation for string vs bytes at the tip of the repo, under a flag.
In js_of_ocaml, bytes are implemented with a polymorph javascript object containing a mutable fie

[2020-04-17 17:03] tperami opened #9459 "Feature request: Make empty types subtype of any other type"
My problem is that `type empty = |` is not a subtype of other types when it could perfectly be:

[code]

Currently the output is :

[code]

But it could perfectly be allowed (at type level) in theory

## Why is it useful?

In my current use-case I have some AST-like type with optional features like:

[code]

The two types used in my code are `int ast` when I want the feature and `empty ast` when I

[2020-04-17 17:28] silene commented on #6294
No problem. It is just a matter of commenting out one single line of Why3 to disable our workaround. As soon as there is something to test, I will do so. (As far as I know, lablgtk does not yet use `caml_custom_alloc_mem`.)

[2020-04-17 17:38] yallop commented on #9459
This *[edit: i.e. writing functions like `conv`]* isn't a good idea.  Here's a program that uses a very similar function:

[code]

And here's what happens when the program is run:

[code]

That's a better idea.

[2020-04-17 17:57] silene commented on #6294
Actually, I cannot seem to reproduce the issue anymore. So, I guess it was fixed on lablgtk's side and our workaround is no longer useful.

[2020-04-17 19:49] gasche commented on #9459
You don't need to use polymorphic variants or `Obj.magic`, you can *implement* `conv` in your example:

[code]

See [refutation cases](https://caml.inria.fr/pub/docs/manual-ocaml/gadts.html#p:gadt-refutation-cases) in the manual for the "dot" syntax.

[2020-04-17 19:51] gasche commented on #9459
Finally: in OCaml we try to be very strict about limiting the use of subtyping in the source language, because it is not inferred very well and generally our programs favor nice polymorphism over nice subtyping. In particular there is no "width subtyping" for ordinary variant datatypes, only in polymorphic variants (which come with extra complexity). I don't think that there is any plan to add sub

[2020-04-17 21:54] rwmjones opened #9460 "New (4.11) failure in Int64 code on 32 bit platforms"
It's not the greatest code in the world, but ...

https://github.com/libguestfs/libnbd/blob/0475bfe04a527051c0a37af59a733c4c8554e427/ocaml/tests/test_400_pread.ml#L21-L36

... this code is supposed to create a `Bytes` containing this pattern of data: http://libguestfs.org/nbdkit-pattern-plugin.1.html#DESCRIPTION

It works in 4.10 (all architectures).  It also works on 4.11 (at commit 88a1bceb1b) o

[2020-04-17 21:56] rwmjones commented on #9460
Because we're using a bit of a mongrel OCaml compiler here, this is the exact version we're using:

https://pagure.io/fedora-ocaml/commits/fedora-33-4.11.0-pre

[2020-04-17 22:01] rwmjones opened #9461 "Can't compile a filename containing "-" character in OCaml 4.11 on AMD64"
perl4caml contains an old test which is literally called `001-start.ml`.  This fails to compile on x86-64 only with the new compiler:
[code]
While we should obviously rename the test, this appears to be an unintentional regression.

[2020-04-17 22:05] rwmjones commented on #9461
I doubt the contents of the test itself matters, but in case it's here:
http://git.annexia.org/?p=perl4caml.git;a=tree;f=test

[2020-04-18 05:48] nojb commented on #9461
Thanks for the report. Can reproduce by compiling an empty file with a name containing a dash `-`. The culprit is https://github.com/ocaml/ocaml/blob/adc354c167a010ff5433cd4a9bf8bcf324b68daf/asmcomp/amd64/emit.mlp#L1149-L1150
from #8805 which uses `Compilenv.make_symbol` which does not escape special characters in the unit name.

[2020-04-18 06:14] nojb commented on #9460
I confirm they should not have any effect on the reported issue.

[2020-04-18 07:28] gasche commented on #9460
Could you turn this into a repro case that can be run without calling `ndbkit`, possibly using a simpler loop that also does not give the wrong result, or writing the test by comparison to the version using "4.08 endian functions" you mention? If you can have a self-contained test, I can add it to the testsuite and integrate it in the CI.

[2020-04-18 07:31] yallop commented on #9460
This appears to have been introduced by #9316 (cc @stedolan)

[2020-04-18 07:43] rwmjones commented on #9460
The comment relates to the fact that we want this package to be compilable with quite old OCaml (4.05 IIRC).  But a self-contained test might be something as simple as this (untested except on amd64):
[code]

[2020-04-18 07:48] xavierleroy commented on #9461
It's OK (and necessary!) to use  `Compilenv.make_symbol`, but the result must be properly escaped:
[code]
(note the `emit_symbol`).

[2020-04-18 08:46] xavierleroy commented on #9460
Looking at the C-- output, the mutable let-bound variable corresponding to `i64` in the source is given C-- type `int` even if we're on a 32-bit platform.  This is wrong, ~~since `int64` values are not unboxed on a 32-bit platform, so the type should be `val` in this case~~  since on a 32-bit platform `i64` is unboxed as a pair of 32-bit integers.

[2020-04-18 08:56] gasche commented on #9460
Thanks @rwmjones. I added a regression test in #9462, which will be eventually merged as a regression test.
(I would recommend people writing a fix to start from this branch.)

[2020-04-18 08:57] gasche commented on #9460
@rwmjones out of curiosity, why are you testing 4.11+dev right now? It is unusual (and clearly quite useful) that you would try OCaml versions that are not released or in beta yet.

[2020-04-18 08:58] lthls commented on #9460
I have a fix for this, but it assumes that the only thing wrong is the cmm type of the unboxed `int64`.
If as @xavierleroy said this is not supposed to happen, then we need another fix.

[2020-04-18 09:08] xavierleroy commented on #9460
@lthls my comment was incorrect, and I edited it.  It's OK to unbox `i64` on a 32-bit platform, but its type is not `int` in this case.

[2020-04-18 09:09] rwmjones commented on #9460
Rawhide is a bit of a free-for-all and although we normally stick with released versions, in this case I want to get nojb's riscv64 port going again which hasn't worked (for us) since Fedora 31.  The easiest way to do that was to start with the proposed pull request.

[2020-04-18 09:11] lthls commented on #9460
Ok, I'll rebase my fix on @gasche 's regression test PR and submit it.

[2020-04-18 09:16] #7562 closed, assigned to xavierleroy

[2020-04-18 19:00] nojb opened #9470 "-annot can result in modified .cmx"
With `trunk` compiler:
[code]

[2020-04-18 21:31] euisuny opened #9471 "ERROR while compiling ocaml-secondary-compiler.4.08.1"
Hi, I am currently trying to install `ocaml-secondary-compiler.4.08.1`, and opam gave an error while building with the following error message.

[code]

[code]

I tried installing `reagents` again using `--jobs=1` to force a sequential build, and it still gave me the same error message. I'm currently on `ocaml` version 4.02.2 with support for Multicore OCaml (`ocaml-variants` 4.02.2+multicore).

[2020-04-19 06:55] gasche commented on #9471
@euisuny could you try running `enable_graph_lib=no opam install ocaml-secondary-compiler`? Hopefully this would succeed in installing the package, or at least avoid the particular failure you are seeing.

@dra27 @diml (as the caretakers of ocaml-secondary-compiler, if I understand correctly): I believe you could pass `--disable-graph-lib` in the configuration steps of the secondary compiler, to a

[2020-04-19 09:17] #9461 closed, assigned to nobody

[2020-04-19 10:52] ghost opened #9472 "#load "graphics.cma";; Cannot find file graphics.cma."
Versions:
---------
Catalina 10.15.4
Xcode 11.4.1
XQuartz 2.7.11 (xorg-server 1.18.4)

 Hello,
After done :
[code]
(y for opams questions)
[code]
and the test
[code]

I don't understand this issue.

Thanks for your help,

[2020-04-19 10:58] Octachron commented on #9472
Starting with OCaml 4.09.0, `graphics` is no longer part of the compiler distribution. It is thus necessary to use it as a normal library by invoking `#require "graphics"` rather than `#load "graphics.cma"`.

[2020-04-19 10:58] #9472 closed, assigned to nobody

[2020-04-19 13:15] rwmjones opened #9474 "Toplevel #mod_use behaves differently in OCaml 4.11, breaking topkg"
It seems as if the toplevel `#mod_use` changed in some way that breaks topkg.  It's best to read the Fedora contributor's full description of the problem here:
https://lists.fedoraproject.org/archives/list/devel@lists.fedoraproject.org/message/NEOBFOY2RIBSKEZMLC7AXA463KPWLDBE/

We are tracking this in the following downstream bug: https://bugzilla.redhat.com/show_bug.cgi?id=1825451

[2020-04-19 13:20] rwmjones commented on #9474
I should say here that I don't know if this is a bug, but I did search the git log to see if there was any indication that the change was made intentionally, and I couldn't see anything.  But if this is intentional, just close this bug and we'll work with topkg to make the required changes.

[2020-04-19 13:24] nojb commented on #9474
xref #9457 #9455

[2020-04-19 13:36] rwmjones commented on #9474
Oh this definitely looks like a duplicate of #9455.

[2020-04-19 13:42] gasche commented on #9474
Let's close the issue as a duplicate -- bug thanks again for your bug report!
The fix in #9457 is going to be merged very soon.

[2020-04-19 13:42] #9474 closed, assigned to nobody

[2020-04-19 15:29] ghost opened #9475 "#require "graphics" ;; Unknown directive `require'."
Hello

i have an issue

[code]
The opam reinstall says
[code]
and always the same problem

Thanks for your help

[2020-04-19 15:41] Chris00 commented on #9475
On 19 April 2020 at 17:29 CEST, fredOnGitHub <notifications@github.com> wrote:

“require” is provided by “topfind”.  Issue first:

#use "topfind";;

Best,
C.

[2020-04-19 15:43] ghost commented on #9475
[code]

[2020-04-19 15:55] Chris00 commented on #9475
On 19 April 2020 at 17:44 CEST, fredOnGitHub <notifications@github.com> wrote:

Then, execute this first (better: put it in your ~/.ocamlinit):

let () =
  Topdirs.dir_directory (Sys.getenv "OCAML_TOPLEVEL_PATH")
;;

If the variable “OCAML_TOPLEVEL_PATH” is not defined, you should do that first (see `opam config env`), for example by running in your shell

$HOME/.opam/opam-init/init.sh

[2020-04-19 15:58] gasche commented on #9475
You should install `ocamlfind` (through opam) to get `topfind`, or use the `utop` toplevel (instead of `ocaml`) that comes with `#require` built-in.

This said, those are (sensible) user-level issues, not development issues, so this repository is not the appropriate place to raise them. Please consider going to the [Discuss Forum](https://discuss.ocaml.org/) or [IRC/Discord groups](https://ocaml.o

[2020-04-19 15:58] #9475 closed, assigned to nobody

[2020-04-20 08:26] trefis commented on #6013
I think that's right, at least I got some warnings in various ppxes when trying out my patch.

[2020-04-20 08:26] #6013 closed

[2020-04-20 09:34] #9460 closed, assigned to nobody

[2020-04-20 09:56] nojb commented on #9470
The issue seems to have been introduced by c19e8b23506e38fc47c110138d50b57fe93f7d7e (#2127)

[2020-04-20 09:58] nojb commented on #9470
cc @lpw25

[2020-04-20 10:15] tperami commented on #9459
@yallop `ast` is a covariant type whereas `ref` is not, this means that even after the proposed changes, your function `conv` will still not be able to type because it is wrong on a memory safety point of view. On the other hand my `conv` is currently memory-safe and will be made type-safe by the proposed change because the `ast` type constructor is a plain immutable variant type and so it is cova

[2020-04-20 10:27] yallop commented on #9459
My point is that it's not a good idea to write `conv` using `Obj.magic`, precisely because it depends on covariance, but doesn't check covariance.  Even if `ast` is covariant when `conv` is written, if the definition of `ast` changes so that it is no longer covariant, then `conv` will silently become unsafe.

Thinking about it a bit more, though, you could improve your `magic`-based implementation

[2020-04-20 10:47] tperami commented on #9459
@yallop I see your point, and the method to check the covariance is actually really useful, thank you for that. I was also wondering about maintenance of that, and this is a great solution.

The problem of writing `empty ast` as a record is that it disallows any polymorphic function that takes a `'a ast` to run on `empty_ast` without the user doing `.ast` access whereas with `empty ast` it works d

[2020-04-20 12:01] gasche commented on #9459
Indeed, the `empty` variant is not a bottom type.

Obj.magic will make your life miserable in many ways. If you are using it here to avoid a copy of a datastructure, you will reach for it in many other places and eventually pay for it. I believe that the reasonable thing is to do a copy here.

[code]

[2020-04-20 12:20] #9307 closed, assigned to nobody

[2020-04-20 12:22] Octachron commented on #9307
For futrure reference, the reproducibility issues is fixed in the current development version; and thus should be fixed for version of OCaml ulterior to 4.11 .

[2020-04-20 12:29] alainfrisch commented on #9459
I don't think that sub-typing needs to be antisymmetric.  It's ok to have two types subtype of each other without being equal (in terms of the "unification" equality).  Whether we want to make all empty types subtype of all types is another question, but I believe it is sound to do it (it would be a special case of making a sum type subtype of another sum type which only adds more constructors).

[2020-04-20 13:23] garrigue commented on #9459
Indeed, I do not see anything wrong in allowing subtyping between empty types and other types, as long as we don't introduce weird inlining optimisations, such as changing the deep representation of types that contain empty cases. We are already relying on this subtyping for the relaxed value restriction, so this should be perfectly sound.
This said, while I'm sometimes wondering why we made the c

[2020-04-20 13:29] alainfrisch commented on #9459
Equal in what sense?  They would remain different for the type equality, no?  Subtyping is an explicit operation which behaves like an automatically generated copying function (optimized to be compiled as the identity), no?

[2020-04-20 13:31] yallop commented on #9459
Empty types are generative because they're variants.  If they weren't generative there'd be a discontinuity leading to complicated properties like "`'a t` is injective in `'a` for variant types *unless `t` is empty*".

[2020-04-20 13:44] garrigue commented on #9459
@alainfrisch I mean that they would become undistinguishable in some situations.
I do not see it as a problem, rather why do we need to distinguish them to start with.

@yallop I understand why empty types end up being generative. But my question is rather, is there any advantage in their being generative, and what would be the problem in their being undistinguishable, from a practical point of vi

[2020-04-20 15:13] #9455 closed, assigned to nobody

[2020-04-20 16:07] mshinwell commented on #3778
I'm afraid no-one has managed to implement this in the past 15 years.  Given that there is a workaround (which actually isn't that uncommon -- I looked at Jane Street's `re2` library and the interface was very similar in this regard), I'm closing this issue.

[2020-04-20 16:07] #3778 closed

[2020-04-20 16:11] mshinwell commented on #3805
There is an outstanding feature request on this issue (specification of exception sharing in signatures) but no-one has implemented this, as far as I can tell, since this report of 2005.  As such I think this issue can be closed.  I suggest if anyone is keen and has the resources to do so in the future, they submit a PR (or possibly a small RFC) with the change.

[2020-04-20 16:11] #3805 closed

[2020-04-20 16:15] mshinwell commented on #3621
These proposals for additions to the semantics of `private` types have not made any progress for 15 years.  @garrigue Do you think we can close this issue?

[2020-04-20 16:16] mshinwell commented on #3520
@garrigue I wonder if we might be able to close this old issue?

[2020-04-20 16:23] mshinwell commented on #4464
It doesn't look like anyone has had time since 2007 to implement this, so I'm going to close the issue.  @mmottl If you would still like this functionality, perhaps you could submit a PR?  (Note that the bigarray code was refactored recently and part of it is now in the stdlib.)

[2020-04-20 16:23] #4464 closed

[2020-04-20 17:05] mmottl commented on #4464
@mshinwell This is apparently an ancient request on behalf of Jane Street.  I believe it was intended to determine whether operations on passed bigarrays could conceivably block for a long time.  I personally don’t need it.

[2020-04-21 08:53] lthls commented on #9470
It seems that `Clambda` uses for its identifiers the type `Ident`, which includes a unique stamp. So if some previous compiler pass uses more (or less) identifiers, the `Clambda` stamps will differ.
I guess that passing `-annot` means that the compiler has to print some types, which could create new identifiers. (Flambda is not affected as it uses its own identifier type, with its own stamps.)

No

[2020-04-21 09:09] nojb commented on #9470
Do you understand why this behaviour appeared with the indicated commit? Before that commit the compiler did not have this problem.

[2020-04-21 09:11] lthls commented on #9470
Unfortunately, no, the type-checker looks like black magic to me.

[2020-04-21 10:34] nojb commented on #9470
We detected the problem in a slightly roundabout way, but should not be a big problem for us. Thanks for investigating.

[2020-04-21 10:34] #9470 closed, assigned to nobody

[2020-04-21 13:15] #7678 closed, assigned to shindere

[2020-04-21 13:43] ghost opened #9482 "A surprising but serious limitation due to using Sys.command in the compiler"
When calling the OCaml compiler to link an executable, it will call out the C compiler to perform the final link. For instance:

[code]

As can be seen, the various `.cmxa` files passed to `ocamlopt` end up being translated to viarious `-L<path>` and `-l<lib>` command line arguments to gcc.

One interesting detail is that the call to the C compiler is performed via `Sys.command`, which ultimately

[2020-04-21 13:52] gasche commented on #9482
Currently the robust way to use Sys.command is to use Filename.quote_command first, see for example #9476 which adapted a part of the codebase to use it. Notice in particular that the built-in support for easily redirecting the stdout to a file is convenient.

Personally I like the `Sys.run_*` suggestion. I think that maybe we could have a bit more flexibility (than in your interface sketch) in de

[2020-04-21 13:53] gasche commented on #9482
(Clarification: I'm not suggesting, of course, that `Filename.quote_command` would solve the problem you report, I want to suggest to take inspiration from its interface which is convenient in practice -- it is mostly identical to the proposition.)

[2020-04-21 13:54] bschommer commented on #9482
Why not use responsefiles, that would avoid the need to quote anything and I think there is already some logic in place to use them under windows.

[2020-04-21 13:56] gasche commented on #9470
Im someone wanted to investigate the issue: you don't need to build a .cmx to observe the issue with `-annot`, just run `-dcmm` or earlier `-dclambda` and observe that the identifier stamps are different between the two versions.

(Note: `Printtyp` uses `Ident.rename` in its `hide` function, this may be a source of different behavior from calling `-annot`, but I don't see how the commit pointed ou

[2020-04-21 14:15] nojb commented on #9482
Are response files supported by `gcc`? What about `clang`? (casual googling seems to indicate some degree of support, but could not find any hard documentation about it).

[2020-04-21 14:23] ghost commented on #9482
@gasche following the API of `Filename.quote_command` is a good suggestion. I hadn't looked at this  function yet.

@bschommer, as @nojb mentions it's not clear that response files are widely supported. They might also not be a standard interface. For instance, OCaml uses `-args` and other tools might use another interface. And regarding quoting, well if we use something similar to `Unix.create_pr

[2020-04-21 14:35] bschommer commented on #9482
`gcc` supports response files since at least [2005](https://gcc.gnu.org/wiki/Response_Files) and `clang` too has [support](http://llvm.org/docs/CommandLine.html#response-files) for this since it is needed for passing long command lines under windows anyway. `gcc` as well as all other binutils tool all use the `expandargv` function from the libiberty to my knowledge.

[2020-04-21 14:56] ghost commented on #9482
I suppose that might be a possibility then. However, all of this still seems somewhat unnecessarily complicated to me. When you think about it, when you go through `Sys.command` you basically:

1. you start with a list of strings
2. you encode this list of strings into a string, by quoting and concatenating everything
3. you pass the resulting string to an intermediate process that parses this str

[2020-04-21 15:05] dra27 commented on #9482
I had toyed with the idea of proposing moving the process control _primitives_ into the runtime - the motivation at that point was how you would bootstrap both the compiler and Dune (a la the way `flexlink` is bootstrapped at the moment). At the time (just over a year ago) you could get a surprisingly looong way without Unix, but you can't escape the need for actual process control in a build syst

[2020-04-21 15:07] gasche commented on #9482
I think that response files are a reasonable solution for the specific problem of the C compiler invocation within the OCaml compiler, but if we can have a nice `Sys.run` function with a nice-to-use API that does not depend on Unix, this would solve the problem and also be a nice addition that other users (of other programs which may not support response file) would benefit from. (If we cannot agr

[2020-04-21 15:38] ghost commented on #9482
@dra27 I thought about adding these to the compiler libs only. It feels like a smaller initial investment, but it seems strictly worse to me in the long run. The compiler mini stdlib has a much smaller scope and will naturally get less attention than the stdlib. Plus as @gasche points out this is a really nice feature to provide to users. It would be nice for duneboot.ml for instance :)

[2020-04-21 15:38] jberdine commented on #9482
Apologies for the noise, but can I just say that it makes me a bit sad to see nice improvements for the primary use case being avoided due to deficiencies in alternate deployments.

Also, while responsefiles might form a technical solution, I think it is worth noting that for debugging, it is preferable to use normal command line arguments. When something goes wrong, it is common to have a log of

[2020-04-21 15:42] diml commented on #9482
@dra27 I thought about adding these to the compiler libs only. It feels like a smaller initial investment, but it seems strictly worse to me in the long run. The compiler mini stdlib has a much smaller scope and will naturally get less attention than the stdlib. Plus as @gasche points out this is a really nice feature to provide to users. It would be nice for duneboot.ml for instance :)

[2020-04-21 16:19] nojb commented on #9482
One problem is that this will not be enough for Windows, as the implementation of `exec*` is buggy with respect to argv handling (see eg https://github.com/ocaml/ocaml/issues/9320#issuecomment-609005680). It seems to me you will end up having to call `CreateProcess`, so you will in fact have to copy a good part of the implementation of `Unix.create_process`.

[2020-04-21 16:37] dra27 commented on #9482
I'm not sure how what I suggested would be worse in the long-run, it was merely a smaller step - moving the primitive in allows the bug to be fixed while the exact scope of how to expose the feature in a better way in the standard library can be deferred to a later discussion (I'm very much for it!). The only thing not being looked at much would be a small definition in the compiler stdlib for `Un

[2020-04-21 16:49] xavierleroy commented on #9482
I'm sad to learn that even Linux has arbitrary limitations on command-line arguments.

Here are some considerations and prior work to take into account:

* All OS have size limitations on command lines, sometimes very low (Windows), sometimes very high (Linux), so there will always be a situation where response files are the only option.  A createprocess-style API will solve the issue (of very lon

[2020-04-21 16:52] xavierleroy commented on #9482
`Unix.create_process` exposes Unix file descriptors, which drag much code in the Windows implementation.  Then there's also the primitives you need to wait for termination and deal with the exit code.  Again, look at the code @shindere wrote for ocamltest.

[2020-04-21 17:15] stedolan commented on #9391
Thanks, that helps, but I'm afraid I still have a bunch of questions!

In case (1), what does `a data alive or none` mean? Specifically, does "alive" mean white, black, gray or unknown? What happens if the data changes between alive and none?

During marking, are reachable ephemerons in state (1) already marked? How about state (2), assuming `ephe_list_pure` is true?

What exactly does `ephe_list_

[2020-04-21 22:12] austindd opened #9484 "Allow type expressions to 'locally open' modules"
Currently, OCaml allows value expressions to "locally open" modules, but it would be helpful to extend this feature for use in type expressions.

For example, take the following code:
[code]
I would like to be able to define `abc_group` with syntax similar to this:
[code]
This would drastically reduce the verbosity of complex type signatures, *especially* those involving nested modules. Used in a

[2020-04-22 02:33] aantron commented on #9484
I think the syntax should be `Abc.(a * b * c)`, as `let` is from the expression language, while `Abc.a` is in both the type and expression languages.

[2020-04-22 06:47] austindd commented on #9484
@aantron That makes a lot of sense to me. Your suggestion is less verbose, and also probably less confusing.

[2020-04-22 07:30] austindd commented on #9484
@aantron

[2020-04-22 07:32] austindd commented on #9484
Accidentally closed -- reopening here.

[2020-04-22 08:00] lthls commented on #9484
If you want to do this with a released version of OCaml, here is a trick that works:
[code]

This will define the type `abc_group` without opening `Abc` in the outside context.

[2020-04-22 08:44] aantron commented on #9484
@lthls That works for the specific example above, but of course not in general, since it is at the module item level, while `Abc.(te)` is at the type expression level. `open Abc` will shadow identifiers in the entire following type declaration (in fact, all of them, if there are multiple type declarations), while `Abc.(te)` shadows identifiers only in `te`. This difference is probably important in

[2020-04-22 09:13] ghost commented on #9482
Would it be ok to parse the flags once and for all at configure time? We could even let the shell itself do the parsing by passing the string to a program that prints its command line arguments separated by null characters. What do you think?

Otherwise yeah, I'm definitely aware it's not trivial :) I happen to have already written two portable implementations of `create_process` like functions in

[2020-04-22 10:14] bschommer commented on #9482
Note that the maximum size for arguments is still limited to for [example](https://www.in-ulm.de/~mascheck/various/argmax/) 1/4th of the stack size on modern linux and even smaller on older variants.

[2020-04-22 10:33] ghost commented on #9482
@bschommer indeed, though it's pretty high. I just looked on my Linux machine and it is more than 2 millions, which is more than enough.

[2020-04-22 10:46] stedolan opened #9485 "Segfault in Weak.get_copy with Infix_tag"
The implementation of `Weak.get_copy` is missing the special case necessary to handle `Infix_tag`, so it can corrupt memory:
[code]
I don't think this is particularly urgent to fix, because it's been there a long time without anyone noticing:
[code]

[2020-04-22 11:06] bschommer commented on #9482
On Mac it seems to be still 256 KB.

[2020-04-22 11:27] ghost commented on #9482
Anyway, from what has been said so far we can conclude that if there exist people who do builds as large as we do at Jane Street on system other than Linux, then we will effectively have to implement response files no matter what. And if we implement response files, then the problem raised in this PR will be solved.

So the question is: should we bother changing the compiler to use a new `Sys.run`

[2020-04-22 12:18] bschommer commented on #9482
Independent of the issue here, I think that a `Sys.run` function would be a good addition to the standard library.

[2020-04-22 12:22] nojb commented on #9482
I also think that `Sys.run` will be a nice addition.

However how would it work with `-ccopt` and `-cclib` ? Until now these were assumed to be strings that were concatenated to the command line passed to the shell. If we use `Sys.run` it looks like we will have to parse them back into lists of arguments. Is this the plan?

[2020-04-22 12:47] ghost commented on #9482
Agreed that `Sys.run` would be a nice addition.

We indeed need to be careful here, but I'm not even sure the current behaviour is very clear. i.e. in general build systems add `-cclib` and `-ccopt` before each argument without quoting them, and so effectively treating them as argument to be passed directly to a function such as `Unix.create_process`. At least, that's what we do in Dune, and IIRC

[2020-04-22 12:57] ghost commented on #9482
To be more precise, I'm not sure it is clear for users that you can write this:

[code]

I haven't tested if it works either.

[2020-04-22 13:08] gasche commented on #9482
I believe that we should separate two things:
1. the command-line-limitation bug, that we could or should fix by using responsefiles when invoking C compilers in the OCaml compiler
2. the feature request of having `Sys.run`, which everybody would want but some have warned may be impractically invasive in term of important Unix code (... so maybe it's not such a good idea after all).

I think that

[2020-04-22 14:14] shindere commented on #9482
I fully support this approach, @diml.

Should you implement it, do not hesitate to assign me as a reviewer or
at least mention me because I only receive notifications when I am
mentionned or assigned.

[2020-04-22 14:19] ghost commented on #9482
@gasche  sure, I can do this. But just to be completely honest, from my point of view the priority is to solve this issue under Linux and committing to work on both adding `Sys.run` and support for response files feels like a too big commitment right now. So I would only work on whatever solution is accepted  and leave the other for someone else, or later if I find some time.

@shindere thanks for

[2020-04-22 14:33] gasche commented on #9482
My understanding of the discussion so far is that responsefiles are the safest choice: people have proposed various potential barriers for the other solution, but none for this (less ambitious) one.

Regarding responsefile: it would be nice if we could use responsefiles only above a certain size, and keep the usual invocation style before. The reasoning is that responsefiles are worse for debuggab

[2020-04-22 14:36] bschommer commented on #9482
I'm not sure if that would be enough but don't you just need to change the [line:](https://github.com/ocaml/ocaml/blob/8e15ad79df9e36fee3327ec0b8e3afaa51528153/utils/ccomp.ml#L43)

[code]
to
[code]

and chose a constant that would be appropriate?

[2020-04-22 14:36] xavierleroy commented on #9482
Response files are the only complete solution to the problem reported in this issue, so that should be the priority.  I or @bschommer can tell you how CompCert handles them.

I have reservations on the usefulness of `Sys.run`, given that user programs can already get the same functionality using the Unix library.  So, you can put it as a feature wish or start working on it if you're so inclined, b

[2020-04-22 14:38] xavierleroy commented on #9482
@bschommer: that's almost it, yes, but in CompCert we had to 1- make sure the compiler supports `@responsefile` (OK for gcc and clang), 2- quote things inside the response file.

[2020-04-22 14:57] ghost commented on #9482
Alright, I'll look at response files then and I'll leave the `Sys.run` addition to someone else. @xavierleroy or @bschommer, yes please let me know how CompCert handles them.

That makes me sad :disappointed:

[2020-04-22 15:03] nojb commented on #9482
Aren't we already quoting things inside the response files? https://github.com/ocaml/ocaml/blob/8e15ad79df9e36fee3327ec0b8e3afaa51528153/utils/ccomp.ml#L41

[2020-04-22 15:04] rwmjones commented on #7917
This breaks compiling C++ files, eg if they use `:standard` flags in the dune file.  The reason is that although GCC supports `-fexcess-precision=standard` for C files, it doesn't support it for C++ files.

See:
https://lists.fedoraproject.org/archives/list/devel@lists.fedoraproject.org/thread/M2VM5DNB7HSAJIFDGT4WAIZDA5JPE5KM/

[2020-04-22 15:07] bschommer commented on #9482
I think you need to quote a little more than `Filename.quote` does. The code for quoting of a single argument for gcc can be found [here](https://github.com/AbsInt/CompCert/blob/438d541dbe5fe7d7fe6b7aacaa6e6ef070c2e237/lib/Responsefile.mll#L96) in CompCert.

[2020-04-22 15:11] bluddy commented on #9482
I think it makes more sense to use responsefiles uniformly. Having two paths just makes things more complex and confusing, as well as increasing the likelihood of breaking any one path. If debugging is the concern, the responsefile contents can be chunked and sent to the shell as comments for a nop.

[2020-04-22 15:14] nojb commented on #9482
Do you know if the same routine works for clang? it looks a bit hairy if the needed quoting depends on the tool that will consume the response files.

[2020-04-22 15:32] ghost commented on #9482
Ah, if the quoting depends on the tool, I'm much less keen on going this way. It feels like we are opening a can of worms. Plus it's not even something we can decide at configure time since we can change the C compiler afterwards via `-cc`.

My original solution is less general, but at the end of the day no one has complained about this problem on systems other than Linux.

[2020-04-22 15:35] austindd commented on #9484
Indeed, the idea of locally opening modules in *type expressions* is useful for precisely the same reasons that we find it useful in ordinary value expressions.

@lthls, I use that trick myself sometimes, but I often run into the shadowing issue that @aantron pointed out. We might want to write a single type expression in which multiple unrelated modules are locally opened in different parts of th

[2020-04-22 15:41] xavierleroy commented on #9482
I think Filename.quote is good for GCC and Clang, just like it is already for MSVC.  Will check.  Don't panic.

[2020-04-22 15:44] bschommer commented on #9482
Since Clang is compatible with GCC as well as MSVC it should support the same syntax. For CompCert we just needed another quoting mechanism for some commercial embedded compiler.

[2020-04-22 15:47] ghost commented on #9482
Haha, no panic. At the end of the day, if we can't find a clean solution at Jane Street we'd just stick a `LD_PRELOAD` to override the `system` library call. There is always a way :)

But obviously I prefer to fix this once and for all upstream.

[2020-04-22 16:22] fweimer commented on #7917
And the flag isn't need on modern distributions which build there x86 (32-bit) variants with `-msse2 -mfpmath=sse` (no excess precision there due to SSE2).

[2020-04-23 02:18] UnixJunkie opened #9487 "Feature request: Stdlib.Random.int62"
Dear maintainers,

From reading the documentation for Random.int, I understand it
could be named Random.int30.
But, nowadays we have 64 bits integers, so we might want
to have a Random.int62 that would give us a random
integer for the 64 bits era.

That is to say: Random.int is from the OCaml 32 bits era.
I pledge for the addition of Random.int62, which would be its counterpart
for the 64 bits era

[2020-04-23 08:45] dra27 commented on #9487
Not sure why it needs a new function (especially as that would have to fail on 32-bit systems) - I've pushed a tentative extension of `Random.int` but I'm not sure if there's a history as to why it was constrained to 2^30 in the first place.

[2020-04-23 08:55] #9375 closed, assigned to nobody

[2020-04-23 14:54] d3zd3z opened #9490 "Unix.stat rounds time in some circumstances"
The implementations of `Unix.stat` and friends convert file times to a double using the following code:

[code]

Unfortunately, with the seconds part of time needing 31 bits, and nanoseconds needing 30 bits, the full precision doesn't fit into a double. If the nanosecond portion of the time is too large, the double value of time will instead be rounded to the next second. Given that many programs

[2020-04-23 14:59] d3zd3z commented on #9490
One possible fix, at least that would work with reasonably recent times, and IEEE doubles would be to use `+ ((NSEC(buf, m) & 0xfffffe00) / 1000000000.0)` to get the sub-second portion of the time. This should at least prevent rounding (although I haven't tested it, and may have the constant off).

[2020-04-23 19:57] gadmm commented on #9451
@hhugo Yes, I agree that it should only be a performance distinction—a visible bug when enabling js strings would be a bug in the original OCaml program. And given your explanations, it does seem that some cost has to be paid at some point. I do not see anything better than letting users chose their model as you already do. Maybe the current clarification will help js_of_ocaml users better evaluat

[2020-04-23 20:33] arlencox opened #9494 "Byte code diverges rather than raising Undefined_recursive_module"
The following program exhibits different behavior with the byte code compiler than with the native code compiler in OCaml 4.09.0 and 4.10.0:
[code]

If I run this program with OCaml `ocaml loop_crash.ml`, the program diverges in the `IdSet.mem` function call.  If I compile the program `ocamlopt loop_crash.ml && ./a.out`, I get the expected `Undefined_recursive_module` exception.

It appears that t

[2020-04-24 00:44] UnixJunkie commented on #9487
Why a new function: to not change the behavior of the existing one and hence satisfy upward compatibility.
The newly introduced function would indeed have to fail on 32-bit systems, however if this is documented, I don't see any problem with that.

[2020-04-24 04:00] greedy commented on #9494
I think the problem is the [change to CamlinternalMod.update_mod](https://github.com/ocaml/ocaml/pull/2279/commits/501bd0bb36034ef62d2a5c74a5e3fd9831f8cc4e#diff-74a6d7dd895b716d1d073887f0e77ae8) in #2279 (is incorrect for the case o == n. In this case probably no action should be taken.

As a side node, it also seems like the optimization that was removed could be retained in the case where the ol

[2020-04-24 09:27] xavierleroy commented on #9494
Nasty bug.  I agree with @greedy's analysis.  To be fixed along these lines urgently.

[2020-04-24 09:34] dra27 commented on #9494
Here is the repro converted to an ocamltest, to help the fixer:

[code]

[2020-04-24 09:35] dra27 commented on #9494
I can confirm that that test passes on 4.08 but bytecode hangs on 4.09+

[2020-04-24 09:46] mshinwell commented on #9494
I will look at this today.  (@xavierleroy Please confirm you haven't already started...)

[2020-04-24 11:58] mshinwell commented on #9494
It turns out that @lthls has already thought about this, last night, and has some more insights that would be useful to document along with the fix.  We should be hearing from him shortly (he will provide the fix too, to be clear).

[2020-04-24 13:16] lthls commented on #9494
(Warning: this is quite a long explanation, with a fair number of gory details. The proposed fix is at the end.)

### The core of the issue

Compilation of functions that are exported elements of a safe recursive module definition is done by first creating a function that just raises `Undefined_recursive_module` when called, then later when the module definition has been evaluated fully, patching

[2020-04-24 13:23] xavierleroy commented on #9494
Thank you for the extensive analysis and the proposed fix.  This is indeed what I had in mind after reading @greedy 's comment.

It would be a pity to not apply the proposed fix: even if recursive modules are underspecified in many places, consistent behavior between bytecode and native is always preferable, and infinite loops are unpleasant to debug.

[2020-04-24 13:26] mshinwell commented on #9494
Maybe we could apply the fix, with @dra27 's original testsuite patch, plus @lthls 's extra examples?

[2020-04-24 13:28] xavierleroy commented on #9494
That would be great.

[2020-04-24 13:47] greedy commented on #9494
Very much agreed. It would be a shame to miss reporting a useful error at least in the specific case for o == n because it ought to be a very easy case for the compiler/runtime to detect. The situation arises more easily than it might seem at first.

You might have a module in a recursive set that originally only declared types so it is okay to have `module rec M : sig type t (* = ... *) end = M`.

[2020-04-24 13:53] arlencox commented on #9494
It's worth mentioning that this arose because I had written some code like this:
[code]

Then I realized that I needed M to be comparable, so I added the appropriate deriving line:
[code]

Since it compiled I had assumed this was a valid change (having not read the section in the manual that talks about how recursive module initialization works).  Several changes later, I reran the code and was my

[2020-04-24 13:54] xavierleroy commented on #7917
Thanks for the report.  I didn't know that some people would compile C++ files with ocamlc -c or ocamlopt -c.  See #9496 for a proposed fix.

[2020-04-24 14:11] mshinwell commented on #9494
Please see #9497 for the proposed fix.

[2020-04-24 15:50] #9494 closed, assigned to nobody

[2020-04-24 16:27] xavierleroy commented on #9490
Interesting issue!  I like floating-point puzzles, but I'll mention my master @silene just in case.

A pedestrian fix would be to compute the sum `SEC + NSEC / 1e9` using downward rounding instead of round-to-nearest.  I know it's bad style to change rounding modes; on the other hand, this computation is not speed critical at all.

Another possible fix would be to check that the integer part of th

[2020-04-24 17:26] silene commented on #9490
No clue. If the specification is that the integer part should be correct, then the following is presumably the best way of doing it:

Note that you do not even need to compute the integer part. Comparing the result with `SEC + 1` is sufficient.

[2020-04-24 18:53] d3zd3z commented on #9490
Using the predecessor of the sum would result in the time being almost a second off. Although the cases that ignore the fractional part would then work, other cases would not. I guess you would need to subtract an appropriate epsilon to get slightly before the next integer.

[2020-04-24 19:09] silene commented on #9490
You are misunderstanding. Here, "predecessor" means the floating-point predecessor, i.e., the largest floating-point number that is smaller than the result. Cf `nextafter`.

[2020-04-25 17:09] #8549 closed, assigned to nobody

[2020-04-25 17:09] #9482 closed, assigned to nobody

[2020-04-25 17:13] #9206 closed, assigned to nobody

[2020-04-26 02:05] bobzhang opened #9498 "compiler stackoverflow on pattern match against record"
moved from https://github.com/BuckleScript/bucklescript/issues/4327
Edit: can also repro on locally installed switch 4.09.0:

[code]

[code]

[2020-04-26 03:15] Khady commented on #9482
At Ahrefs we have a patch to use response files because we faced the problem on osx.

[2020-04-26 07:06] gasche commented on #9498
Some reproduction information:
- the overflow occurs with all versions of OCaml I tested, from 4.03 to trunk; this is not a recent regression
- the warning that causes the issue is `+4`: detection of fragile pattern matches

[2020-04-26 07:23] maranget commented on #9498
A smaller example,

let f = function
| A,A,A,A,A,A,A,A,A,A,A,A,A,A,A,A,A,A -> 1
| (A|B),(A|B),(A|B),(A|B),(A|B),(A|B),(A|B),(A|B),(A|B),(A|B),(A|B),(A|B),(A|B),(A|B),(A|B),(A|B),(A|B),(A|B) ->  2

 Compile with “ocamlc -w +4”

—Luc

[2020-04-26 07:23] maranget commented on #9498
With of course

type t = A|B

[2020-04-26 07:39] gasche commented on #9498
The problem comes from from the combinatorial explosion of or-patterns, of course, but more precisely in the size of the `Witnesses` list that grows exponentially during the `exhaust` check of `do_check_fragile`, and is manipulated by non-tail-recursive list constructions (`@` and `List.map`).

@maranget if you are looking at this as well right now, should we have a short audio call to discuss it?

[2020-04-26 13:30] maranget commented on #9498
Well, in my initial opinion, one witness was enough. User reaction would be to correct the matching, re-run the compiler, correct the matching, etc. Then think...

[2020-04-27 09:55] stedolan commented on #9391
Thanks for the explanations!

Thanks, I think I understand this now. Still not sure of the wording, though.

The characterisation of "will not be swept" makes sense, but I don't think this exactly matches the description above. I think it's possible to have an ephemeron in (1) with a white data by calling `set_data` with a white block. In order to call set_data with a white block, however, it need

[2020-04-27 09:58] stedolan commented on #9485
I'd forgotten about that one!

This is a different Infix_tag bug, though - Weak.get_copy's reimplementation of `Obj.dup` is missing a case.

[2020-04-27 13:19] ghost opened #9501 "Adding cram test support in the testsuite"
At a recent developer meeting, we discussed adding support for cram tests in the OCaml test suite. This should make it easier to add "integration tests" in the test suite, in particular for bug reproduction cases.

This ticket is for tracking the evolution of this work. If you are wondering what cram tests are, you can have a look at [this demo repository](https://github.com/jeremiedimino/cram-dem

[2020-04-27 13:41] shindere commented on #9501
Thanks a lot for having opened this issue, @diml.

In your opinion, what should the ocamltest workflow be?

Do you think when ocamltest is called on a `.t` file it should
systematically consider it as a cram test, or do you think only .t files
starting with a `(* TEST *)\ comment should be considered by ocamltest?

[2020-04-27 15:05] ghost commented on #9501
No problem. In my opinion we should do the former, i.e. systematically consider a `.t` file as a cram test. We don't currently use the `.t` extension for anything else, so we might as well keep the boilerplate to a minimum. Plus `.t` is the extension that is usually used for cram tests. In particular, this is what is mentioned on the page for the original cram test tool: https://bitheap.org/cram/

[2020-04-27 15:12] shindere commented on #9501
Sorry, @jeremiedimino. I did'nt know it was possible to modify a
username on GitHub but that really nice!

[2020-04-27 15:31] ghost commented on #9501
Yeah, it's actually pretty easy. Github even sets up redirections for your old repository names so that old URLs don't break.

[2020-04-27 16:01] gasche opened #9504 "Development request: integrate the `-short-paths` implementation of Merlin"
During a recent development meeting, @lpw25 proposed to upstream the implementation of `-short-path` that he wrote for Merlin. The mismatch between Merlin and the current implementation (from @garrigue) in the compiler is a maintenance burden for Merlin (@let-def @trefis).

@Octachron volunteered to review the PR when available. @lpw25 proposed to send it before the end of May.

[2020-04-28 09:43] stedolan commented on #9485
Looking at it, I think there are enough differences that this would be awkward.

I think our best option might be to deprecate get_copy and make it be an alias for get - I don't think the optimisation it enables is really helpful any more.

[2020-04-28 13:09] stedolan opened #9509 "Stack overflow with very large functions"
There's a theoretical issue with stack overflow detection with very large functions, that came up today in a conversation with @mshinwell.

Some OSes (notably, Windows, and certain configurations of threads on Linux/glibc) keep only a single guard page at the end of the stack, and memory just afterwards could be used for other purposes.

If a very large function with a frame size of more than 4k i

[2020-04-28 15:11] craigfe opened #9510 "Confusing interaction between @tailcall and inlining"
In the following example,
[code]

the second `[@tailcall]` annotation causes the program to be rejected:
[code]

This happens due to a "used-once" inlining of `f`:

[code]

If `f` is applied twice, or defined with `[@local never]`, the program is accepted.

This behaviour leads to inconsistencies according to the specific compiler being used. With a modified example,

[code]

the code is accepted

[2020-04-28 15:25] gasche commented on #9510
I think that in general we cannot expect `@tailcall` to warn in exactly the same way in all possible development environments. For example, in some cases being a tailcall or not depends on the calling-convention of the architecture; and I think that the intent is really to get a warning when compiling on a machine where the call is not a tailcall (because the annotation indicates that we rely on i

[2020-04-28 15:52] mshinwell commented on #9510
I spent a fair while looking at this example earlier.  As far as I could see the warning is only emitted by checks on the `Lambda` code.  This surprised me; I thought it would have been done much later, in the backend.  So I'm not sure the architectural concerns are relevant with respect to the current implementation.  (This also makes me wonder how valuable this attribute actually is.)  Am I wron

[2020-04-28 17:17] gasche commented on #9510
Yes, I believe the current check is in `lambda/simplif.ml`, so most forms of inlining will not be taken into account to decide whether to warn (but some of the other rewrites in simplif may be).

I worked on this recently in the context of TRMC (#181), a reimplementation of that, and some buildup PRs ( #9442 is pure refactoring and still looking for approvers, if they are any takers ).

I would be

[2020-04-28 20:47] damiendoligez commented on #9156
The problem is that `ocamldebug` itself already has a module called `Main`, so when you try to dynlink your own `main.cmo` things go wrong. You can't load pretty-printing modules that have the same name as modules of the `ocamldebug` sources.

This limitation should be documented, and `ocamldebug` should give you a better error message (and not attempt loading at all) when you try to load such a m

[2020-04-28 21:04] damiendoligez commented on #9155
@gasche the "All tests succeded" line is in the output of your test program, not the output of `ocamltest`. It's what you need to put into your reference file. You need to read carefully the error message that comes after the `failed` part. The closing paren is part of this message.

[2020-04-28 21:04] #9155 closed, assigned to nobody

[2020-04-28 21:24] gasche commented on #9155
Here are some things that could have avoided the confusion:
- avoid using absolute paths in the error message, they make it very hard to read
- use the diff format as for normal test reports, so here all `+` at the beginning of the line, to clarify that this is part of a reference file

[2020-04-28 21:26] gasche commented on #9155
(Thanks for the comment, but personally I am skeptical that the issue is fixed or did not exist: the report remains confusing.)

[2020-04-29 05:37] sonologico commented on #9156
I'd like to pick this one up if no one has done it yet.

[2020-04-29 05:56] gasche commented on #9156
@sonologico feel free!

One further option to work on this issue would be to change the sources of `ocamldebug` to use prefixed modules (`OCamldebug_main.ml`, etc.; using module aliases `module Foo = OCamldebug_foo` to make the change non-invasive in the code itself) so that the naming conflict occurs rarely or never.

[2020-04-29 06:23] sonologico commented on #9156
@gasche, your suggestion (so that it happens less often) combined with what @damiendoligez suggested (so that ocamldebug handles and reports it better when it does happen) sound like the way to go

[2020-04-29 07:22] dra27 commented on #9156
Given that ocamldebug is an executable (so uses all its modules), might a pack be better - there’d only be a single module name (OCamlDebugWhyOnEarthDidYouCallYourPrinterThis 🙂) - I think that’d be entirely a `Makefile` tweak (and with just one obscure symbol, it doesn’t seem necessary to update docs or, possibly, even worry about the error path?!)

[2020-04-29 07:46] xavierleroy commented on #9156
Since everyone is proposing their approach, let me add mine :-)

I agree with @damiendoligez that the first thing to do is debug and fix the existing safeguard.  In the example shown in the original report, the second `install_printer Main.Submodule.pp` should fail exactly like the first one, instead of succeeding and crashing.

Later, to lift the name conflicts, yet another possibility is to look

[2020-04-29 07:54] dra27 commented on #9156
Hah - I'd figured using expunge would be more complicated! Is that not the case?

[2020-04-29 08:37] xavierleroy commented on #9156
Maybe packing is simpler, in which case we could consider it for the toplevel REPL as well in replacement of expunge.  My point is that `ocaml` and `ocamldebug` both need to load user code dynamically, so it's good to look at them in parallel and try to share a solution.

[2020-04-29 08:52] nojb commented on #9156
FWIW, a variation of this approach is used by `dune`: one can avoid renaming the sources by using `-o` to only prefix compiled unit names.

For example, the debugger modules would be compiled to `.cm*` files prefixed by `ocamldebug__exe__`, and the sources would be compiled with `-open Ocamldebug__exe` where `ocamldebug__exe.ml` contains a list of aliases:

[code]

[2020-04-29 09:34] gasche commented on #9156
Yes, Dune is implementing the poor-man namespace system by automatically prefixing module with module aliases this way. In this case I suggested doing it manually, because it makes the build system much easier (to retrofit as a Makefile).

Re. other options: I had understood that we were trying to get rid of `-pack` completely? Expunging sounds like a potential option but it is also more complex a

[2020-04-29 11:05] dra27 commented on #9156
Sure, but we haven't got rid of `-pack` yet, so it doesn't rule out using in a case where it's doing something fractionally superior to poor-man's-namespacing. I was under the impression that removing packs would coincide with the additional of namespacing (so there'd hopefully be a seamless transition). I guess either pack or alias-module can profitably be combined with expunge to have 0 exposed

[2020-04-30 08:52] rwmjones opened #9515 "ldexp gives different result in bytecode and native code on riscv64"
I'm using OCaml 4.11 pre from approximately two weeks ago, so ignore this bug if you've very recently fixed ldexp!  Note this bug happens only on riscv64 (HiFive Unleashed).

This test program is a distillation of a test failure that happens in ocaml-num `float_of_big_int` test.  I have reduced it to a simple standalone test case:

[code]

Bytecode, riscv64 (I believe this is the correct output):

[2020-04-30 08:56] rwmjones commented on #9515
FYI @nojb

[2020-04-30 08:59] nojb commented on #9515
Thanks for the report, I will take a look.

[2020-04-30 09:03] rwmjones commented on #9515
Note that 2^54 * 2^970 = 2^1024 which should be beyond what double precision floats can represent (and therefore end up as +infinity).  The native code answer is completely bogus.

[2020-04-30 09:08] xavierleroy commented on #9515
This could be a mismatch in calling conventions.  `ldexp` is interesting as one of the few C standard library functions that takes a mixture of integers and FP numbers and is not variadic.  And indeed the RISC-V calling conventions for a function taking a double then an int changed between the old ISA 2.1 specification and the newer ELF psABI specification.

Just to make sure: in Fedora you use th

[2020-04-30 09:19] rwmjones commented on #9515
TBH I've no idea, but @davidlt says yes we do.  Here is how ldexp is called from a C program, in case that helps to answer the question:
[code]

[2020-04-30 09:31] xavierleroy commented on #9515
Yes, that's "obviously" the ELF psABI.  Indeed, the OCaml port seems to use the old ABI for C function calls.  I'll submti a fix later today.

[2020-04-30 09:32] rwmjones commented on #9515
Disassembly of the test program compiled for native code.  Note it passes 970 (second arg) in a1~~although that is a call to an OCaml function so not necessarily wrong~~:
http://oirase.annexia.org/9515.disas.txt

[2020-04-30 09:37] xavierleroy commented on #9515
Right.  That's characteristic of the old ABI.  On the OCaml side the issue is here:
 https://github.com/ocaml/ocaml/blob/2e30946419bd22cd6dfd69ea5066b96ce9aab9b8/asmcomp/riscv/proc.ml#L214-L215

[2020-04-30 09:40] nojb commented on #9515
Indeed, I missed this change between ABIs, thanks for the quick detective work!

[2020-04-30 09:47] xavierleroy commented on #9515
See #9516 for a proposed fix.

[2020-04-30 09:48] xavierleroy commented on #9515
I went through the same pains recently with the RISC-V port of CompCert, so it's all very fresh in my mind!

[2020-04-30 15:49] #9515 closed, assigned to nobody

[2020-05-02 09:57] camlspotter opened #9521 "Mutually defined functions are comparable in some circumstances."
A Tweet has reported a strange behaviour of OCaml structural comparison:
 https://twitter.com/st_toHKR/status/1256270850434592770

Here is a simpler version:

[code]

If we add another definition `x = 1`, the comparison fails as expected:

[code]

The comparion of the first case unexpectedly succeeds because the second function does not have `Tag_closure` but `Tag_infix`.  It seems that the second

[2020-05-02 11:43] gasche commented on #9521
It is not clear to me that this is a bug. Yes, mutually-recursive functions use a specific comparison that uses Infix_tag, and the difference can be observed through Obj. If we consider comparison on function values undefined, then the behavior we observe is fine. It is a bug, however, if we consider that comparison of function values should always raise an error. Is this your assumption?

Two rem

[2020-05-02 11:56] gasche commented on #9521
I found the issue in `compare.c`; I'll propose a PR and we will see whether there is consensus to consider this a bug and fix it.

[2020-05-02 12:48] bschommer opened #9523 "Clash with C++ 20 header file version"
I recently encountered a problem when compiling some C++ bindings. The problem is that the include path needed for the OCaml header files points normally to the library directory which contains a file name `VERSION`. Unfortunately  C++ introduced a new header file [version](https://en.cppreference.com/w/cpp/header/version) and with a case sensitive file system this results in the OCaml `VERSION` f

[2020-05-02 13:02] gasche commented on #9523
VERSION is installed in `$(ocamlc -where)`, while the .h files are installed in `$(ocamlc -where)/caml`. Why does your C(++) compiler look for headers in `$(ocamlc -where)`?

[2020-05-02 13:12] bschommer commented on #9523
Because adding `$(ocamlc -where)/caml` to the include path would lead to even more clashes, for example `threads` would clash with the standard header of the same name. Also `ocamlopt` automatically adds `-I$(ocamlc -where)/ocaml` to the flags calling the c compiler.

[2020-05-02 15:13] hendriktews opened #9524 "ocamldoc warning for functors and signatures in the standard library"
Running ocamldoc on an mli file with
[code]
produces two warnings
[code]
Similarly for functors in ml files. This problem is present in 4.10 and many other versions. It may be related to #5536.

[2020-05-02 16:26] hendriktews opened #9525 "paragraphs merged inside itemize in ocamldoc html backend"
ocamldoc documentation says that an empty line forces a new line. However, in the html output of
[code]
`a` and `b` are on the same line.
Observed in 4.09 and 4.10.

[2020-05-02 16:28] hendriktews commented on #9525
One can force a paragraph for html with
[code]

[2020-05-03 11:08] rex4539 opened #9528 "Build fails on macOS after e5c8bee85e7ae2d974069d63528333ffacc1923b"
After e5c8bee85e7ae2d974069d63528333ffacc1923b was merged, build fails on macOS.

[code]

[2020-05-03 11:12] dra27 commented on #9528
Which version of `make` are you using?

[2020-05-03 11:14] rex4539 commented on #9528
[code]

[2020-05-03 11:19] dra27 commented on #9528
OK, so the 14 year old version of make interprets pattern rules differently! There are two immediate workarounds:

- Use homebrew or macports to get GNU make 4
- Configure with `--disable-dependency-generation` (except presumably you're actually working on the compiler?)

[2020-05-03 11:24] rex4539 commented on #9528
Thanks!

[2020-05-03 11:27] dra27 commented on #9528
I'm glad that fixes it, but I'll keep the issue open for now - I'm just investigating whether there's a permanent fix!

[2020-05-03 16:18] dra27 commented on #9528
I fired up my MacBook and reproduced the problem - permanent fix in #9529

[2020-05-03 16:18] #9528 closed, assigned to nobody

[2020-05-03 17:14] xavierleroy commented on #9509
GCC has the `-fstack-check` option to generate this kind of page-by-page "touch" of stack space.  Note that it is off by default, even though large stack frames are much more common in C than in OCaml (owing to stack-allocated arrays).  So, yes, we could do that in OCaml, but I think we have much more urgent things to do.

[2020-05-04 01:50] JasonGross opened #9532 "Dynlink version/interface mismatch errors should report OCaml versions"
In using Coq plugins, the most frequent source of errors like
[code]
is when the version of OCaml used to compile the cmxs file does not match the version of OCaml used to compile Coq.  I think it'd be a great help if, when the interfaces mismatch either due to differing OCaml versions or differing OCaml compiler flags, the error message reported this as a hint of the form
[code]

See also https:/

[2020-05-04 06:27] bschommer commented on #9523
One way of fixing this would be to install the header files in the `includedir` that could be set by the `configure` script, like for example the [GNU Coding Standards](https://www.gnu.org/prep/standards/html_node/Directory-Variables.html) suggest, however this would obviously not be backward compatible and would require additional documentation.

[2020-05-04 07:20] dra27 commented on #9532
Improvements have been made in this direction in #463.

[2020-05-04 07:23] dra27 commented on #9532
How common is it amongst Coq users to see a plugin compiled in a *newer* version of OCaml loaded by an older one (i.e. the hardest case for improving the error), or is mismatched flags and/or forgetting to recompile an old plugin much more common when this happens?

[2020-05-04 08:20] ejgallego commented on #9532
@dra27 I think most of the time Coq users see this because their build setup is broken; there is a long tradition in Coq land to have a large build mess; so I dunno how useful this would be.

In my opinion we should rather encourage people to use saner build setups.

[2020-05-04 08:35] gasche commented on #9523
I see, this is the problem: ocamlopt automatically adds `-I $(ocamlc -where)` (not /ocaml). I suppose that this allows people to then include eg. `<caml/memory.h>`, so the lookup has to start from `$(ocamlc -where)`.

One weird way to fix this would be to move the C headers file to `$(ocamlc -where)/c/caml`, and pass `-I $(ocamlc -where)/c` to the C compilers. We could still provide the old `$(oca

[2020-05-04 08:47] bschommer commented on #9523
In that case I would suggest to name the folder `$(ocamlc -where)/include` since then it should be clear that the folder contains the include files.

In that case I would suggest to add a `includedir` option to the configure script, autoconf supports this and then the install location would be `$(prefix)/include`. However the simple approach of using `$(ocamlc -where)` to locate the library would

[2020-05-04 09:27] stedolan commented on #9509
Agreed, this is definitely not urgent at all.

[2020-05-04 15:10] JasonGross commented on #9532
@dra27 I believe mismatched flags is relatively uncommon.  I believe the most common case is that the version used to compile the plugin is newer (for example, this happened on Arch recently because the Arch devs upgraded their OCaml package without updating/recompiling their Coq package, so plugins built by users used a newer OCaml with an older Coq.  Even if this is a case of "broken build syste

[2020-05-04 15:19] JasonGross commented on #9532
Ah, neat!  Does that apply also to dynlink?  And what version of OCaml is it for?  If the error message now mentions version mismatch on both older and newer versions of OCaml, and names the version it's expecting, that's sufficient for me.

[2020-05-04 15:20] ejgallego commented on #9532
@JasonGross my point is that version information does little for your problem, which is one of mismatched interfaces.

[2020-05-04 15:21] ejgallego commented on #9532
There is a clear issue with your procedure here, and indeed it is that your workflow relies on manual steps, then it is not a surprise package consistency is broken.

[2020-05-04 15:27] gasche commented on #9532
The work on magic numbers was at first only for ocamlobjinfo (not the compiler, a separate helper tool), and is slowly getting used in various parts of the compiler, but I don't think that .cmxs are covered yet. Note that it only applies to incompatibility in magic numbers; cmxs have a magic number as well, and I think that it should now be bumped at each release (in the past it may have been bump

[2020-05-04 15:29] JasonGross commented on #9532
@ejgallego Knowing that the issue is OCaml versions is significantly more useful than just knowing that the interfaces are mismatched (a priori I have no idea why they might be mismatched because I never interact with the interface of Stdlib__list, while I do interact with OCaml versions).  Knowing what the expected OCaml version is can help me track down where the version mismatch is coming from,

[2020-05-04 15:30] ejgallego commented on #9532
@JasonGross as pointed out by Gabriel in the case you mention actually reporting the OCaml version message would likely be incorrect.

[2020-05-04 16:05] JasonGross commented on #9532
This is the error message @andres-erbsen got recently on Arch, in the "Arch updated their OCaml package without updating their Coq package" situation.  @andres-erbsen, do you have access to the OCaml versions/flags of the packages before and after the update?
(When he asked me, my first thought was outdated cmxs files, and it took me a couple of minutes before remembering this could be caused by a

[2020-05-04 17:53] andres-erbsen commented on #9532
I don't have a snapshot from before the upgrade because I only found out about this when I tried to use a non-bundled Coq plugin for the first time in a while. The current Arch packages are still unusable for building plugins, I believe. [ocaml](https://archive.is/BeB0T) built on 2020-03-19, [coq](https://archive.is/psBOU) built on 2020-01-28. The out-of-date flag on coq is by me, for 8.11.1.

[2020-05-04 20:19] JasonGross commented on #9532
Based on [the changelog](https://git.archlinux.org/svntogit/packages.git/log/trunk?h=packages/ocaml), which says:

it looks like this is the error message from trying to use a Coq built with 4.09.0 when the system OCaml is 4.09.1.

[2020-05-05 12:10] gasche commented on #9504
@lpw25 do you have a pointer to the current state, even if the PR is not ready for submitting?

[2020-05-05 13:45] bschommer commented on #7179
I think the Interfacing with C needs some general update, since at the moment a lot of this stuff is still not documented and for example the documentation for `CAMLreturn0` can lead to the impression for functions returning `unit` one should use `void` as return type and `CAMLreturn0`.

[2020-05-05 17:09] lpw25 commented on #9504
https://github.com/lpw25/ocaml/tree/new-short-paths

I think the last commit is half finished, but it probably builds if you take that bit off.

[2020-05-06 06:56] trefis commented on #8504
I don't think this is stale. I think this might be easier to work on once @gasche, @Octachron and I finish the work we've started on the pattern matching compiler.
(Current state can be seen in #9321)

[2020-05-06 07:05] #7960 closed

[2020-05-06 07:37] xavierleroy commented on #8629
Fixed by #9426 and #9496.

[2020-05-06 07:37] #8629 closed, assigned to nobody

[2020-05-06 07:43] lpw25 commented on #8563
I think that we are still not in an ideal state for this issue. Two more things that should probably be done:
1. Add the `[@cold]` annotation to the compiler. We've been using a simple ppx to implement this at Jane St. but it would be better if the compiler supported it. It is superior to the `[@inline never][@local never][@specialize never]` that it represents because it allows the programmer to

[2020-05-06 07:59] avsm commented on #2375
I ran this through Google Translate:

[2020-05-06 08:10] ghost commented on #7916
It's unlike to change at this point, so closing this issue.

[2020-05-06 08:10] #7916 closed, assigned to nobody

[2020-05-06 08:16] ghost commented on #7914
I can reproduce the issue. I think it's fair to say it's a bug given that it causes a segfault using normal features.

It looks low-priority to me though, so unless someone volunteer to help, it will probably just remain as a known issue.

[2020-05-06 08:44] trefis commented on #7894
IIRC « (details to follow in a GPR) » was a forward reference to #8516 .

[2020-05-06 09:05] garrigue commented on #7902
Following a question by @fpottier on Mattermost, I'm looking into a warning for cases when one instantiates an external type variable in a GADT.

[2020-05-06 10:49] kit-ty-kate commented on #8511
This feature-wish is still relevant

[2020-05-06 12:10] #7932 closed, assigned to nobody

[2020-05-06 12:16] lpw25 commented on #7901
This is still on the roadmap to be fixed, so I'll remove the stale tag. Ongoing work to support "transparent module ascription" will fix this issue.

[2020-05-06 15:18] gasche commented on #8643
I have been willing to work on a `[@tailcall false]` extension of the `[@tailcall]` attribute, that would result in the compiler not using a tailcall for a specific call-site. I'm not sure this solves the original issue of globally improving backtraces/callstacks (it is more about certain call points where we explicitly disable tailcalls), but it can be used explicitly to preserve calls in the tra

[2020-05-07 02:55] wehrv opened #9539 "https://opam.ocaml.org/ certificate expired"
The certificate for https://opam.ocaml.org/ has expired,.

[2020-05-07 04:40] JasonGross commented on #7826
Please don't close this.  It's still an issue with `native_compute` in Coq and extracted code in fiat-crypto, and is unlikely to go away without actually being fixed here.

[2020-05-07 04:41] JasonGross commented on #7826
(Also, why does the bot not consider new mentions of this issue in other repos as activity?)

[2020-05-07 05:40] whitequark commented on #7809
Yes, this is still a soundness bug. Also, the idea of having a bot that auto-closes soundness issues is idiotic and you should turn it off on such issues.

[2020-05-07 05:42] whitequark commented on #7812
Still an issue as far as I remember.

[2020-05-07 06:08] yallop commented on #7882
We should keep this open, because there's an implementation underway (#8618).

[2020-05-07 06:17] yallop commented on #7726
This has been fixed by @garrigue in #1676.

[2020-05-07 06:17] #7726 closed, assigned to garrigue

[2020-05-07 07:20] lpw25 commented on #7834
I think this bug should at least be looked at. @garrigue do you think this can be fixed without major surgery?

[2020-05-07 07:23] lpw25 commented on #7852
@trefis Has this been fixed now?

[2020-05-07 07:36] trefis commented on #7852
The issue has been fixed by reverting #1737, and a couple of weeks ago the "proper fix" I was talking about got merged (#8934).
I think I only need to resubmit #1737 for inclusion before we can finally close this issue.

I'll try to do that in the not too distant future.

[2020-05-07 07:41] dra27 commented on #9539
Fixed - see ocaml/opam#4187. Future issues for ocaml.org should go https://github.com/ocaml/ocaml.org/issues, please

[2020-05-07 07:41] #9539 closed, assigned to nobody

[2020-05-07 07:42] lpw25 commented on #7817
As opposed to being stale, or even a principality issue, this is a soundness bug:
[code]

[2020-05-07 07:46] lpw25 commented on #7817
@garrigue to make sure he sees this.

[2020-05-07 07:47] trefis commented on #7589
I don't think much has changed since  @dbuenzli wrote that list, I guess my only question(s) (wrt. the staleness of this issue is): does someone care? Is some work planned on this issues?

@dbuenzli, @jeremiedimino: AFAIK you're the only two person to have shown interest in the toplevel in the recent past. What do you say?

[2020-05-07 07:53] lpw25 commented on #7800
I'm not sure what to do with issues like this. The problem still exists but we're not going to fix it with the current type checker implementation. However, we'd probably want to look at it as part of the "high road" work on a new type checker implementation.

[2020-05-07 08:03] lpw25 commented on #7784
This is the expected behaviour. The confusion comes from the lack of variance inference for GADTs, which is tracked elsewhere.

[2020-05-07 08:03] #7784 closed, assigned to nobody

[2020-05-07 08:07] lthls commented on #7718
This problem still exists, and the solution is still being worked on at #8956.

[2020-05-07 08:10] xavierleroy commented on #7817
Could this issue be assigned to someone, please?

[2020-05-07 08:12] xavierleroy commented on #7800
Then I'm taking the liberty to close.  The resolution is too far in the future.

[2020-05-07 08:12] #7800 closed, assigned to garrigue

[2020-05-07 08:13] lthls commented on #7645
There is ongoing work on improving the situation with packs (and a few other related issues). There is an RFC describing the proposal at ocaml/RFCs#13.
Until then the problem remains.

[2020-05-07 08:16] dra27 commented on #7756
IIRC it was a halfway house for translating VT100 sequences to Windows API calls which I was doing - if you can effectively separate the calls on `%!` then you can correctly translate and print `"foo\n%!bar\n" (flush `"foo"` to output, buffer `"bar"`) and `"foo\n%!bar\n%!"` (print both lines at once)

[2020-05-07 08:17] dra27 commented on #7744
Cross reference #1633

[2020-05-07 08:24] xavierleroy commented on #7649
High-parallelism builds are now tested as part of the Jenkins CI and seem to work.  I'm optimistically closing this PR.

[2020-05-07 08:24] #7649 closed, assigned to nobody

[2020-05-07 08:29] #7816 closed, assigned to nobody

[2020-05-07 08:43] lpw25 commented on #7741
Despite #9040 this issue still exists. Univars are allowed to escape their scope through "bivariant" type parameters in `Ctype.occur_univar` and `Ctype.univars_escape`. @garrigue would there be any problem with changing those functions to expand type constructors when a univar would otherwise escape? This is what normal `occur` does and it prevents us from allowing ill-formed types.

[2020-05-07 08:50] lpw25 commented on #7722
This is fixed on trunk

[2020-05-07 08:50] #7722 closed, assigned to nobody

[2020-05-07 08:52] xavierleroy commented on #7850
Closing as suggested by the original poster.

[2020-05-07 08:52] #7850 closed, assigned to nobody

[2020-05-07 08:52] lpw25 commented on #7694
Let's close this until someone hits another reproduction case

[2020-05-07 08:52] #7694 closed, assigned to nobody

[2020-05-07 08:55] #7692 closed, assigned to garrigue

[2020-05-07 08:58] xaki23 opened #9540 "building 4.08.1 fails on fedora-32"
"found" while trying to build mirage-firewall.
seems like a gray area between "opam" and "ocaml", but @hannesm pointed me here.

switch create 4.08.1 fails on fedora-32 (gcc 10.0.1 and system-ocaml 4.10 )
[code]

[2020-05-07 08:59] XVilka commented on #9192
Closing, since works fine with both 4.10 and 4.11+trunk

[2020-05-07 08:59] #9192 closed, assigned to nobody

[2020-05-07 09:05] lpw25 commented on #7684
This was fixed by #9393

[2020-05-07 09:05] #7684 closed, assigned to nobody

[2020-05-07 09:06] lpw25 commented on #7522
This was fixed by #9393.

[2020-05-07 09:06] #7522 closed, assigned to nobody

[2020-05-07 09:07] XVilka commented on #9540
It's a problem of `-fno-common` with GCC 10, I suspect: https://gcc.gnu.org/gcc-10/porting_to.html

See the respective commit in OCaml https://github.com/ocaml/ocaml/commit/06db4c995ca4d6273a4b809841060e375f10e2cf

[2020-05-07 09:13] lpw25 commented on #7574
@yawaramin Could you please report that problem as a separate issue? It does seem worth fixing.

The remaining request in this issue is for "diffs" within value inclusion errors. I have a patch lying around that implements this and intend it to fix it up ready for 4.12.

[2020-05-07 09:14] xavierleroy commented on #9540
The issue was fixed in OCaml 4.09.1 and 4.10.0.  Could you use one of those versions instead of 4.08.1?

[2020-05-07 10:00] ghost commented on #7885
It looks like this issue can be closed. Please re-open if you think otherwise.

[2020-05-07 10:00] #7885 closed, assigned to nobody

[2020-05-07 10:03] ghost commented on #7780
I don't plan to work on this anytime soon, and in practice I have not been bitten by this problem much. If something thinks this problem is a serious one, please re-open an issue.

[2020-05-07 10:03] #7780 closed, assigned to nobody

[2020-05-07 10:42] ghost commented on #7778
I agree with the intent, but the feature feels a bit ad-hoc to me. Additionally, this looks like something that could be easily implemented as a ppx. So if you'd like to push in that direction, you could start by implementing a ppx rewriter that does this and experiment with it. Once the feature has matured outside of the compiler and it is clear that it is a good feature, then you could propose i

[2020-05-07 10:42] #7778 closed, assigned to nobody

[2020-05-07 10:47] ghost commented on #7589
With @NathanReb we are planning to do some work on the toplevel API as part of the mdx work. That should solve at least 4. The expunge problem feels like it would deserve its own ticket.

[2020-05-07 12:40] ivg commented on #7813
The issue is still clearly reproducible. Just in case, the summary of the issue: **GC is not triggered when a program allocates only large objects**.

The following program (attached to the issue report, repeated here for visibility) will eat all the memory.
[code]
and the output:
[code]

Although the code in the trunk has changed a bit due to the reentrant runtime changes, the write-through on Di

[2020-05-07 12:42] #9521 closed, assigned to nobody

[2020-05-07 13:03] ghost commented on #9501
@shindere I started working on 1. I had in mind to embed the tool directly in ocamltest to keep things simple. However, that's turning out to be difficult than expected because `ocamltest` isn't allowed to depend on `Unix`.

The upstream `dune-cram` tool that we use in dune has now been used for hundreds of tests for a few years, so it seems fair to say it is trustworthy. So I'm thinking to instea

[2020-05-07 13:39] nojb commented on #9501
As I understand, the non-dependency of `ocamltest` on `unix` was due to a desire to minimize the amount of "trusted code" in the testing tool. But if we are going to depend anyway on `unix` indirectly through `dune-cram`, we may as well just allow `ocamltest` itself to depend on `unix`, no? Personally I would like to run the testsuite on Windows if at all possible, and having to install an outside

[2020-05-07 13:57] ghost commented on #9501
That seems fine to me. Another mental model here is to take the `ocamltest` tool as a black box and test it using simpler technologies that we take as granted and trust. For instance, we could have a few shell scripts to test `ocamltest` itself. Then it doesn't matter so much how `ocamltest` itself is implemented.

[2020-05-07 14:56] gasche commented on #7826
cc @xavierleroy we have a request for the stale bot: consider "mentions from other issues" as activity.

[2020-05-07 14:57] gasche commented on #8544
I could not reproduce this yesterday. I'm not sure the issue is gone (I vaguely remember we did something to fix this kind of problems on the testsuite, but I cannot find a trace of it in the git history) because it's tricky to reproduce, but without reproduction I'm closing the report.

[2020-05-07 14:57] #8544 closed, assigned to nobody

[2020-05-07 15:01] Drup commented on #7859
@trefis What's the status of resubmitting #1737 ?

[2020-05-07 15:07] Drup commented on #7770
While we do have a "fix" in utop, I agree with @dbuenzli that @jeremiedimino's solution should be upstreamed. If you already have a patch around, I'll be happy to help get it merged.

[2020-05-07 15:10] trefis commented on #7852
Actually, looks like #7859 is already tracking #1737 reinclusion, so let's close this.

[2020-05-07 15:10] #7852 closed, assigned to trefis

[2020-05-07 15:10] trefis commented on #7859
See https://github.com/ocaml/ocaml/issues/7852#issuecomment-625085099

[2020-05-07 15:14] Drup commented on #7743
I agree this would be nice, but it belongs to the "code cleanup" category. I'm not sure if we want to keep those open. Resilence to AST with unexpected forms in the typechecker is now relatively good.

[2020-05-07 15:18] Drup commented on #7719
This bug is still present and relevant.

[2020-05-07 15:21] Drup commented on #7703
Without any feedback, I propose we keep rejecting such forms and close this.

[2020-05-07 15:23] Drup commented on #7756
It is a rather important property of `Format`/`Printf` that the continuation is called *once* at the *end*. If you want to call a function on each string, it seems better to make your own `formatter`. I suggest we close.

[2020-05-07 15:32] gasche commented on #7826
For the record, I cannot reproduce the suspicion that the Closure pass is the cause of the specific quadratic behavior that affects fiat-crypto, using my own hand-written generator or @ppedrot. My own generator seems to spend more time in register allocation, and @ppedrot's example creates terms that spend half their time in typing (I use `ocamlopt -dtimings` to get this information, but initially

[2020-05-07 15:38] ppedrot commented on #7826
I can still reproduce with the allegedly old 4.06.1+fp OCaml version, judging from the perf graph. I'll try with a more recent version.

[2020-05-07 15:58] ppedrot commented on #7826
Something very wrong happened since OCaml 4.06. On the example above, typing is now taking most of the time and the overall runtime has been multiplied by 10 for n=5000.

4.06.1+fp
[code]

4.08.1+fp
[code]

4.10.0+fp
[code]

[2020-05-07 16:47] ghost commented on #7770
I don't have a patch at hand, but the code that does that in utop is small and self-contained and should be easy to extract:

https://github.com/ocaml-community/utop/blob/471cb311159773bbb280d0f1a4b47c54456c67a9/src/lib/uTop_main.ml#L642

Essentially, it "monitors" new cmi files by setting `Persistent_signature.load`, scan them for the `[@@toplevel_printer]` attribute and calls `Topdirs.dir_instal

[2020-05-07 17:03] lpw25 commented on #7743
Yeah, I'll close the issue. But we really need to clean up these parts of the system, they are bugs waiting to happen (and IIRC a couple of bugs that already happened).

[2020-05-07 17:03] #7743 closed, assigned to nobody

[2020-05-07 17:08] xavierleroy commented on #7826
This is not a feature offered by the bot, as far as I can see.  Anyone is welcome to write a better bot, but I have other things to do.

[2020-05-07 17:11] xavierleroy commented on #7826
"transl" also takes much longer.  However, code generation got faster :-)

Yes, this is worrying.  There have been other reports of increased compilation times in 4.07, but none that dramatic.  I think this would deserve opening a new issue, and closing this one.

[2020-05-07 17:15] xavierleroy commented on #7703
Closing as suggested.

[2020-05-07 17:15] #7703 closed, assigned to garrigue

[2020-05-07 17:18] xavierleroy commented on #9501
Let'sgive @shindere some time to look at this.  My guess is that the cram test implementation needs no more features from Unix than ocamltest today, namely the ability to spawn a process with redirections of standard input and outputs.  This facility is already available in the ocamltest code base.  If you need more from Unix to implement cram tests, I'd like to hear about it.

[2020-05-07 17:54] dra27 commented on #7756
@Drup - how so?

[2020-05-07 18:13] Drup commented on #7756
`Format.formatter_of_out_functions` allows you to create a formatter where you provides the function called on each substrings. That's the proper (and intended) way to use `printf` on semi-exotic channels.

[2020-05-07 21:03] dra27 commented on #7756
What I was asking was the "important property" you refer to - what prevents there being a version of `Printf.ksprintf` which behaves as I describe? (but thanks for the pointer - in the wood for the trees, I hadn't considered using `formatter_of_out_functions` to solve this - one ends up in `Format` at surprising times, sometimes)

[2020-05-07 21:08] jberdine commented on #7756
The manual for kfprintf says: `passes the formatter to its first argument at the end of printing`. I think it is implicit that the continuation is called *only* when mentioned, but could be wrong. So to my understanding, that means that invoking the continuation at other times is a serious change in semantics. It would certainly break various aspects of my code.

[2020-05-07 21:27] jberdine commented on #8643
Having `[@tailcall false]` would be good to have. Currently the code added to confuse the compiler enough to prevent it generating a tail call cal also be confusing to human readers. And it would be good to have a mechanism that is not fragile with respect to compiler upgrades.

For the original use case, it is not really a solution though. A large part of the potential value of having a flag to d

[2020-05-07 21:30] ppedrot commented on #7826
Well, I don't think that the underlying quadratic behaviour of free variable computation has been fixed, it's probably still there buried under the other, much more important regression. But I am fine with this bug being closed as WONTFIX if it's the morale of the story though.

[2020-05-07 21:55] JasonGross commented on #7826
:-(

[2020-05-07 22:01] JasonGross commented on #7826
The code is available [on our CI](https://github.com/mit-plv/fiat-crypto/actions?query=event%3Apush+branch%3Amaster+workflow%3A%22CI+%28Coq%29%22).  For example, [here's the extracted code from a recent run](https://github.com/mit-plv/fiat-crypto/suites/659132849/artifacts/5796255).  And [here are just the .ml files, in more permanant storage](https://github.com/ocaml/ocaml/files/4596025/Extractio

[2020-05-07 22:25] dbuenzli commented on #7677
AFAIR this is still a mess and should be clarified.

[2020-05-07 22:29] bluddy commented on #7826
Wow. There are several >100MB `.ml` files in there!

[2020-05-07 22:38] dbuenzli commented on #7600
There is now a good [`BOOTSTRAP.adoc`](https://github.com/ocaml/ocaml/blob/trunk/BOOTSTRAP.adoc)  document for these things in the source tree.

Sorry to hijack the autoclose but people searching the issue tracker may fall on this. I think this issue can be closed.

Meta note. I find a little bit sad that the OCaml project decided to declare bug bankruptcy by going to such extremes as labelling on

[2020-05-07 22:46] dbuenzli commented on #7589
The problems stills exists, the toplevel experience is still crap. Someone took the time to write down what the problems are but feel free to close this.

[2020-05-07 22:52] JasonGross commented on #7826
Indeed!  These are statically-allocated PHOASTs.  When @ppedrot suggested that I avoid this issue by switching them to a non-closure-based representation (such as de Bruijn), I got an error message from the Haskell compiler on the Haskell equivalent of this code that it could not allocate such large compile-time data blobs.

[2020-05-08 00:21] bluddy commented on #7826
I think if the compiler is expected to perform decently on these monstrosities (and to keep performing decently), one of them needs to be checked in as a test case (perhaps in gzipped form), even if it's only run sporadically.

[2020-05-08 03:34] JasonGross commented on #7826
Feel free to upload any or all of them as a test-case.  For reference, the build log with timing info from OCaml 4.05.0 is
[code]

[2020-05-08 05:51] nojb commented on #7535
I believe this is implemented in #8958 (but the PR seems to have stalled).

[2020-05-08 05:51] nojb commented on #7560
This is being worked on #9538

[2020-05-08 07:01] dra27 commented on #7756
“Obviously, this would have to be done with a new function, as it would be a change of semantics for Printf.ksprintf.”! I was curious that @Drup refers to the entire module...

[2020-05-08 07:07] gasche commented on #7826
The regression in type-checking time comes from 15e8f62b851a8cf5e4a88d6d674f7c171cc1ae35 (cc @trefis, thrown into the shark pool).

I think it's worth investigating what is going on and whether we can fix it in a not-too-difficult way. It would be great if we could fix fiat-crypto without unnatural implementation efforts on the codebase, but equally or more importantly the regressions that we obse

[2020-05-08 07:44] xavierleroy commented on #7600
Do you think we are so stupid that we didn't think of that?

All the old bugs were "touched" on March 19, 2019, when they were automatically migrated to Github issues.  Hence, from the bot's viewpoint, these migrated issues are one year old.

[2020-05-08 07:44] #7600 closed, assigned to nobody

[2020-05-08 07:51] xavierleroy commented on #7527
Fixed by #1062 and #8670 .

[2020-05-08 07:51] #7527 closed, assigned to mshinwell

[2020-05-08 09:10] lpw25 commented on #7756
(@dra27 If you are proposing a new function then maybe you should change the title)

[2020-05-08 09:11] lpw25 commented on #7503
Still being worked on in #1128

[2020-05-08 09:22] #7541 closed, assigned to chambart

[2020-05-08 09:26] lpw25 commented on #7520
Is this issue made any easier to fix by the various changes to typing pattern matching?

Personally, I still think that the general approach of generating actual Parsetree fragments and re-typechecking them is a mistake that is destined to always cause issues like this one. Is there a particular reason that we don't have a separate data type to represent the candidate patterns (with things like ty

[2020-05-08 09:29] lpw25 commented on #7544
@garrigue Is this in the class of things that can't really be fixed with the current implementation? I suspect that it might be, but I'd appreciate you confirming that before I close the issue.

[2020-05-08 09:39] lpw25 commented on #7538
The weird difference in behaviour with aliases for the warning has been fixed. Although I should point out that placing the annotation there in both cases will do nothing useful. Probably we should be warning in both cases.

[2020-05-08 12:36] Drup commented on #7534
Such feature will only happen if someone with a solid design and intention to implement it shows up. At this point, it should probably go through the RFC process. In the meantime, I don't think it's necessary to keep this open.

[2020-05-08 13:30] dbuenzli commented on #7600
No, I thought you would have programmed a bot less stupid than that. As far as I can see the original date of the report was migrated correctly. All these github APIs exist for something.

[2020-05-08 16:05] xavierleroy commented on #7534
RFC material, indeed.

[2020-05-08 16:05] #7534 closed, assigned to nobody

[2020-05-08 19:50] jberdine commented on #7756
+1 And I would suggest not naming the new function `k*printf` to avoid the significantly different interpretations of the `k` prefix.

[2020-05-09 04:32] whitequark commented on #7250
I think there was an effort to fix this systematically, but I don't know if this issue is fully fixed, and I couldn't quickly determine if it is.

[2020-05-09 04:35] whitequark commented on #7221
Still a problem.

[2020-05-09 04:38] whitequark commented on #7219
With the broad migration to dune this issue is much less relevant and I suspect it can be simply ignored until the need for ocamlmklib goes away.

[2020-05-09 05:47] yallop commented on #9094
I'm closing this as it's a duplicate of #7453.  (@wyn: if you're still interested in working on this, could we continue discussion under #7453?)

[2020-05-09 05:47] #9094 closed, assigned to nobody

[2020-05-09 05:47] yallop commented on #7453
The code in the problem report now works in `trunk`:

[code]

But printing types defined using `nonrec` doesn't use `nonrec`, so there's still a bug:
[code]

[2020-05-09 06:00] yallop commented on #7364
I think that @rlepigre, @gasche and @SimonColin have thoroughly fixed this in #2188, which is now merged.

The code in the bug report is now accepted in `trunk`:

[code]

[2020-05-09 06:00] #7364 closed, assigned to damiendoligez

[2020-05-09 06:32] Chris00 commented on #7089
@dra27 Your opinion?

[2020-05-09 06:47] gasche commented on #7453
I added a known-bug test for these faulty (non)use of `rec` by the #show command in https://github.com/ocaml/ocaml/commit/f7ec223df9c9c4871040251fb1f558e0876d379a.

One slightly strange behavior of the test, unrelated to the present discussion (it is not with `#show` but with standard toplevel printing) is the scoping-incorrect use of a `M/2` stamp in the second declaration below (cc @Octachron ;

[2020-05-09 07:01] gasche commented on #7628
I still believe that this feature would be important to have: since I have understood that it should exist, I keep finding cases where it would lead to more readable code (often by moving short error cases first in a matching, before long/important clauses).

For me the priority is to refactor the existing pattern-matching compiler and make it more robust, not implement new features, but I think t

[2020-05-09 07:47] xavierleroy commented on #7219
That makes sense.  Closing.

[2020-05-09 07:47] #7219 closed, assigned to nobody

[2020-05-09 07:54] xavierleroy commented on #7088
I think this is the wrong reading of the MSDN documentation.  Let me rewrite it in structured programming style:

If command is NULL:
- if the command interpreter is found, returns a nonzero value
- If the command interpreter is not found, returns 0 and sets errno to ENOENT.

If command is not NULL,  system returns the value that is returned by the command interpreter.
- It returns the value 0 onl

[2020-05-09 07:54] #7088 closed, assigned to nobody

[2020-05-09 07:57] xavierleroy commented on #7116
Wish fulfilled in #1430.

[2020-05-09 07:57] #7116 closed, assigned to nobody

[2020-05-09 08:00] maranget commented on #7242
I ran the experiment three years later, the behaviour is still quadratic, with one minute of CPU time for N=27000. I am in favor of closing.
![exp01](https://user-images.githubusercontent.com/5621641/81467883-ef7c7d80-91db-11ea-9910-8b8a6a32af75.png)

[2020-05-09 08:01] xavierleroy commented on #7132
Looks like the issue is still there in OpenBSD 6.6, the latest at the time of this writing.

That's not an OCaml issue, just an OpenBSD oddity.  No action is needed on our side.

[2020-05-09 08:01] #7132 closed, assigned to mshinwell

[2020-05-09 08:02] xavierleroy commented on #7134
Looks like it was fixed.

[2020-05-09 08:02] #7134 closed, assigned to garrigue

[2020-05-09 08:02] lthls commented on #7450
I think this one has been fixed some time ago. At least with the provided example, the constant blocks appear in the source file order in this particular case.

Feel free to reopen if you find other examples of bad ordering.

[2020-05-09 08:02] #7450 closed, assigned to chambart

[2020-05-09 08:05] lthls commented on #7449
I can confirm that this bug is still present; the size estimation for switches doesn't seem to take the size of the actions into account.
Cc @chambart

[2020-05-09 08:18] lthls commented on #7086
As far as I know, this is not restricted to packs, defining a submodule `U` in a regular file `x.ml` will generate symbols that may clash with symbols in `x__U.ml` (at least with flambda, I don't remember what closure generates in this case).
I think this issue should be kept open, as a reminder that we may want to choose a new separator in symbols that is not allowed in identifiers, but it is ver

[2020-05-09 08:20] xavierleroy commented on #7380
We're in 2020, Menhir is the recommended parser generator for OCaml, ocamlyacc is legacy software and will not be chnaged except to fix serious bugs.

[2020-05-09 08:20] #7380 closed, assigned to nobody

[2020-05-09 08:30] xavierleroy commented on #7495
Cannot reproduce with 4.09 (didn't check anything older).  Was probably fixed as part of #1738.

[2020-05-09 08:30] #7495 closed, assigned to damiendoligez

[2020-05-09 08:55] dbuenzli commented on #7235
It would be a good idea to do what Furuse suggested.

[2020-05-09 09:08] dbuenzli commented on #7202
As far as the output is concerned what @damiendoligez suggests seems sensitive. In script mode either the runtime system should abort or exit via a specific high exit code (e.g. 125).

[2020-05-09 09:20] garrigue commented on #7803
Since we all agree that currently the wording of the warning is wrong, I see 2 solutions:
* fix the wording only; something like
  `Type constraints do not apply to type variables in GADT cases of variant types`
* really try to detect whether there is an overlap in variable names between GADT cases and constraints
Of course, the first one is easier.
Note that if you know that the warning is spurio

[2020-05-09 09:24] dbuenzli commented on #7253
I still think it would be nice to have the isolation guarantee that if an at exit handler raises it doesn't prevent others from running.

[2020-05-09 09:25] garrigue commented on #7758
I vote to close this. Here parentheses are relevant.

[2020-05-09 09:32] garrigue commented on #7739
Extra comment: I was too fast in dismissing soundness as a problem here.
When this bug was reported, the way exhaustiveness was handled meant that losing an equation could make a pattern untypable, and break soundness. This is now fixed, but of course the principality problem is still there.

I'm currently working on adding equations for nominal types (#9042), but I think I will have to stick to a

[2020-05-09 09:34] garrigue commented on #7739
By the way, I don't think this is a bug. An incompleteness, yes, but the specification only says that we add equations to abstract types.

[2020-05-09 09:48] garrigue commented on #7707
How did you stumble into this example?
I agree that fixing it should not be difficult (basically, one can take the minimal instance of each polymorphic variant type, which amount to closing, and they should be compatible), but is the extra work justified.

[2020-05-09 10:00] gasche commented on #7235
This was in fact done by Pierre Weis in a000769c8d813f7228211bd2cfb10467b564f86b in 2018 (gone into 4.08 I think), but this issue was not closed then.

[2020-05-09 10:00] #7235 closed, assigned to pierreweis

[2020-05-09 10:00] garrigue commented on #7834
Have to think about it. Here it seems that doing some kind of garbage collection, discarding variables that appear only once, would solve the problem, but this is hardly a general solution.

In general, this amounts to solving the equivalence of two constraints, which is hard. The next version should support that...

[2020-05-09 10:19] garrigue commented on #7741
I'm not sure I understand your analysis.
Concerning `occur_univar`, it seems that I forgot the injective case.
So I should check for any of `May_pos`, `May_neg` or `Inj`.
(This is is sufficient because abstract types cannot be invariant.)

[2020-05-09 10:32] hhugo commented on #7200
Ocamlformat has a growing testsuite. Running the tool mentioned above on this testsuite would properly uncover additional bugs

[2020-05-09 11:13] jberdine commented on #7310
The original motivation for this remains. There is a PR (https://github.com/ocaml/ocaml/pull/1071) implementing this, though it is stalled seemingly over the syntax of the warning specifications, and an open question that perhaps it implements too fine-grained a warning control mechanism.

[2020-05-09 12:06] gasche commented on #7758
@garrigue there are different things here. One is a special status of `let p : t = ..`, but the other is whether the propagation of type information happens through a syntactic desugaring in the parsetree, or by some later means.

We can decide that we like or not the special typing discipline in the `let p : t` case (vs. `let (p : t)`), but I think it is rather consensual than having this as a pa

[2020-05-09 12:18] garrigue commented on #7520
For me this rather falls in the category: combination of GADT and polymorphic variant is unsupported.
And no, the changes to type_pat do not help, they have just made the code more complicated.

[2020-05-09 12:23] garrigue commented on #7520
Looking back at #7269, which is the source of the `passive_variants` mode, it seems that always setting `passive_variants` changes nothing in the test suite. This probably related to the fact type checking of counter-examples is now more relaxed.

If I remove `passive_variants`, this solves this problem, so I'm tempted to do that. It was just a hack anyway.

[2020-05-09 12:46] gasche commented on #7520
⸮

[2020-05-09 12:48] garrigue commented on #7544
Not really. I long thought that it would require changing the behaviour of the expansion of type abbreviations in a row variable position, but actually the more reasonable approach is to have the expansion of this abbreviation replace the whole variant type (which is what is already done in includecore), since we want it to control the presence flag of all fields too. However, this means checking

[2020-05-09 12:49] garrigue commented on #7544
This said, I'm not too much excited by all the chances of bugs it will introduce.

[2020-05-09 13:04] garrigue commented on #7494
This issue seems to be about something much simpler: currently, a variant type is consider to be a GADT as soon as one of its constructors is given with an explicit return type. But this syntax can also be used for normal constructors (involving no equation). It would be better to have a semantic criterion.
This said, the syntactic criterion also has advantages, as changes In behaviour are immedia

[2020-05-09 13:10] garrigue commented on #7465
@fpottier I don't see why it should be so. Currently the criterion is that any type variable in a method type that is not explicitly bound in a class parameter or a contraint is interpreted as universal in the method type. This seems a simple enough criterion. It would be strange that just having the type of self appear in a parameter should change this behaviour, and there is nothing wrong in hav

[2020-05-09 13:13] garrigue commented on #7467
This is an old idea, but we have not found a good solution.
I'm sure we can keep it in mind even if we close this issue.

[2020-05-09 13:13] #7467 closed, assigned to nobody

[2020-05-09 13:15] gasche commented on #7494
Well I assume that @yallop would also be interested in constructors that do contain existential types, or add equality constraints on some other type parameters. The point is to ask whether the non-guarded parameters could have their variance inferred.

[2020-05-09 13:16] garrigue commented on #7409
Meta issues should not be stale. Or does it apply to all feature wishes?

[2020-05-09 13:20] #7334 closed, assigned to nobody

[2020-05-09 13:24] garrigue commented on #7313
Since it seems that everybody has adapted to the new behaviour, it's maybe time to forget about this; this is harder than I though first.
I don't think that how non-generalisable type variables can be instantiated is specified anywhere in the manual.

[2020-05-09 13:28] garrigue commented on #7308
Anybody has an opinion on this ?
I don't quite remember why I chose to keep immediate objects as complex expressions.
On the other hand, I personally think that keeping the parentheses makes the code more readable, but other may think differently.

[2020-05-09 13:28] fpottier commented on #7465
I am not suggesting any change. Actually, the behavior that surprised me at the time is documented in the manual ("The polymorphism may be left implicit in public method specifications: any type variable which is not bound to a class parameter and does not appear elsewhere inside the class specification will be assumed to be universal, and made polymorphic in the resulting method type. Writing an

[2020-05-09 13:30] garrigue commented on #7212
That is a long standing issue. It would help if somebody could document where it hurts.

[2020-05-09 13:40] garrigue commented on #7520
I should have add: for me.
Since I understood well the code from the beginning, all your "improvement" do not help me.
But I understand that they can help others.

[2020-05-09 14:40] gasche commented on #7465
So you are suggesting to add examples to the manual. Would you be willing to submit them as a PR?

[2020-05-09 14:46] mmottl commented on #7495
Yes, I'd expect that #1738 fixed this.

[2020-05-09 14:51] Drup commented on #7308
I remember being surprised multiple times that `f object ... end` didn't parse.

[2020-05-09 14:53] Drup commented on #7212
Well, as tyxml demonstrate, everytime you have something parametrized by a notion of collection that is instantiated (many collections are covariant, but not all), and you use it through the abstract API.

I suspect this will hurt even more with modular (explicit|implicits) ....

[2020-05-09 15:06] Drup commented on #7129
This is a bit of a meta-issue on code-cleanliness. I also agree with @alainfrisch and @trefis that making parsetree and typedtree completely mirrored, without any extra nodes, would be nice. It's just a matter of someone doing it.

[2020-05-09 15:08] Drup commented on #7123
As before, I think this is something that is welcome, but it needs a volunteer to do the work. It seems half of it has already been done outside the compiler and it would be nice to upstream it.

[2020-05-09 15:17] Drup commented on #7151
@garrigue @lpw25 Do you have an opinion about that feature ? I feel like this could be integrated in the current work on modules, but I'm not sure I'm sold on the feature.

[2020-05-09 15:19] Drup commented on #7213
I ... actually like that feature. I use it occasionally (and I've seen it in the wild, so I'm not the only one). I'm not sure it's worth breaking existing code for this.

[2020-05-09 15:27] gasche commented on #7123
There is ongoing preliminary work in this direction in #9538.

[2020-05-09 15:29] Drup commented on #7316
@Octachron Well, I feel like that's also a good target for some diffing :D

[2020-05-09 15:35] gasche commented on #7253
This sounds like something that @gadmm has a lot of opinions about. We discussed related questions in the setting of statmemprof, but it is not at all easy (to me) to decide what to do.

In favor of dropping the exception and continuing with other callbacks:
- as @dbuenzli says this provides "isolation" between users of at_exit
- it does a better effort of best-effort callback calling, which can b

[2020-05-09 15:37] Drup commented on #7318
This has been improved significantly, here's the current error message:
[code]

[2020-05-09 15:38] Drup commented on #7332
I suggest we close this (and focus any work in the area on odoc).

[2020-05-09 15:45] Drup commented on #7336
I think the bug is still valid: we should expose the unification trace in case of signature item mismatch. IIRC, the additional information exposed by #9331 should make that easier to achieve.

[2020-05-09 15:48] Drup commented on #7338
What do we want to do with such meta-issues ? I'm not sure how useful they are. Maybe we should turn them into tags ?

[2020-05-09 15:51] Drup commented on #7376
The equivalent feature on boxes is definitely used in the wild. I would rather move we make things consistent and allow it on breaks too.

In fact, I'm surprised I didn't noticed (and fixed) that part when I was digging down there ....

[2020-05-09 15:55] Drup commented on #7383
@bobzhang What's the situation on this ? I think a PR would be welcome.

[2020-05-09 15:59] Drup commented on #7430
I don't think there is an interest towards this outside of the bucklescript compiler team. I suggest that we close this ticket for now, and you can make a PR implementing a (disabled by default) warning when you feel ready.

[2020-05-09 16:01] Drup commented on #7448
How would such annotation work on abstract types ? It seems like it would be incomplete by nature, making it not very useful.

[2020-05-09 16:58] gadmm commented on #7253
I agree with @dbuenzli.

@lthls you had opinions about this at <https://github.com/ocaml/ocaml/pull/2118>.
- You mention that ideally the exception should be caught, written to the terminal, and ignored. This sounds reasonable as a better design, barring backwards-compatibility questions.
- You mention that the raising behaviour was useful to write an “exit-catcher” to recover from libraries that

[2020-05-09 19:11] #7332 closed, assigned to nobody

[2020-05-09 19:13] gasche commented on #9524
Unfortunately, we don't have much manpower to improve these non-trivial aspects of ocamldoc in the future, so it is likely that the issue will remain unaddressed -- I will close it now to focus on issues that are more likely to be revisited in the future. There is more momentum towards using `odoc`, whose design may be more amenable to solve this kind of issues.

[2020-05-09 19:13] #9524 closed, assigned to nobody

[2020-05-09 19:13] gasche commented on #5536
Unfortunately, we don't have much manpower to improve these non-trivial aspects of ocamldoc in the future, so it is likely that the issue will remain unaddressed -- I will close it now to focus on issues that are more likely to be revisited in the future. There is more momentum towards using `odoc`, whose design may be more amenable to solve this kind of issues.

[2020-05-09 19:13] #5536 closed

[2020-05-09 19:15] gasche commented on #7336
@Drup could you submit a testsuite PR that contains the current behavior, in a `known-misbehavior` category or with otherwise a clear indication that this is something we want to improve?

[2020-05-09 19:15] gasche commented on #7316
@Drup could you submit a testsuite PR that contains the current behavior, in a `known-misbehavior` category or with otherwise a clear indication that this is something we want to improve?

[2020-05-09 19:17] gasche commented on #7338
Are you sure how useful tags are? Meta-issues also provide a place for discussion, and are easy to use using the cross-reference mechanisms between issues.

[2020-05-09 19:22] gasche commented on #7376
If no one was motivated to do the implementation work, we can assume that no actively-maintained program is still using the feature in the wild. It sounds mildly useful but it is also a painful feature to implement and not very principled (this dynamic-size stuff relies on dynamic parsing instead of static processing of formats as we usually do). Personally I would be happy to close the issue and

[2020-05-09 19:23] gasche commented on #7448
I believe that the proposal is precisely to be able to add this annotation on an abstract type in a signature, like `ocaml.immediate`, to properly deal with abstraction boundaries.

[2020-05-09 19:37] chetmurthy opened #9548 "pretty-printing of closed poly-variant types seems broken in one case"
Version: 4.10.0, also found same code in 4.11.0-alpha1

The pretty-printing of a closed variant type
[code]
produces
[code]
but this is not itself parseable:
[code]
A type with a variant and not inheritance as the first branch (a "row_list" and not a "core_type") is parseable either with or without the "|":
[code]
Not sure how important this is, though it would seem that ensuring that the pretty-p

[2020-05-10 02:50] bobzhang commented on #7430
Thanks for the ping. Feel free to close it, but I think it is a nice thing
to have

On Sat, May 9, 2020 at 11:59 PM Gabriel Radanne <notifications@github.com>
wrote:

--
Regards
-- Hongbo Zhang

[2020-05-10 02:54] bobzhang commented on #7383
We have this for bucklescript, and turned on by default so that whether you
have mli or not will not affect the build at all, you have to tell the
compiler explicitly using the mli file.
What do other people from the core team think about this?

On Sat, May 9, 2020 at 11:55 PM Gabriel Radanne <notifications@github.com>
wrote:

--
Regards
-- Hongbo Zhang

[2020-05-10 07:45] xavierleroy commented on #7383
I think it's backward.  Having an explicit .mli interface is the rule, not the exception.

[2020-05-10 07:47] #7430 closed, assigned to nobody

[2020-05-10 07:52] xavierleroy commented on #7826
Concerning fiat-crypto, we're talking about source files of size ONE HUNDRED MEGABYTES.  Compiling 100 Mb of source code in 20 seconds is very fast.  I've seen gcc segfault on less huge inputs.  So count yourself lucky: this could have gone infinitely worse.

Also, one could wonder why 100 Mb of OCaml are produced to describe one cryptographic primitive.

[2020-05-10 07:53] bobzhang commented on #7383
I am not arguing that whether we should have mli file or not. My point was
that accidentally adding or removing a mli file should not affect the
build, using cmi produced by mli should be explicit instead of relying on
the file system, does this sound good to you?
Xavier Leroy <notifications@github.com>于2020年5月10日 周日下午3:45写道：

--
Regards
-- Hongbo Zhang

[2020-05-10 08:11] lpw25 commented on #7151
These days my preferred approach to handling difficult variance cases is to first implement [first-class subtypes](https://arxiv.org/pdf/1905.06546v1.pdf) and then use those.

With first-class subtypes one could write something like:
[code]
where `pos'` is still invariant but `pos` is covariant. The definition of `Pos` can be read as roughly: `(∃('b < 'a). (module Pos with type t = 'b)) -> 'a pos`

[2020-05-10 10:07] xavierleroy commented on #7383
I still don't get it.  A .mli file is a source file like any other.  "Accidentally" adding or removing a source file does affect the build, most of the time, and for the very good reason that the build system needs to know what are the source files.

[2020-05-10 12:34] lpw25 commented on #7707
I don't really remember, but probably by reading the code and being surprised that it didn't try comparing the `row_more` parts of the types at all.

[2020-05-10 12:45] lpw25 commented on #7223
There is some ongoing work to tidy up the implementation of `-pack`. We should consider this issue as part of that work.

[2020-05-10 13:41] nwf opened #9549 "Architecture-specific command-line options are not exposed through OCAMLPARAM."
OCAMLPARAM is parsed using a bespoke parser in `driver/compenv.ml` while command line arguments are parsed using the machinery in `utils/clflags.ml` and its dependencies, with the architecture-specific commands coming in from `driver/optmain.ml`.

Ideally, `OCAMLPARAM` would reuse the same machinery as the command line.

This is especially irritating to me, right now, because I cannot easily pass

[2020-05-10 13:47] lpw25 commented on #7492
I think this was addressed in #1060

[2020-05-10 13:47] #7492 closed, assigned to nobody

[2020-05-10 18:10] JasonGross commented on #7826
Indeed, this is because our reification procedure duplicates many subterms (in particular, it unfolds any constant it doesn't recognize without caching the reification).  That the file contains so much duplication is noticable in the fact that it compresses to be quite small.

Indeed, I'm grateful that I didn't have to spend the week or so I expect it would take to implement such a cache for my re

[2020-05-11 01:48] bobzhang commented on #7383
@xavierleroy sorry I did not explain it clearly.

[code]
By reading this command alone, the behavior is non-deterministic depending on whether there's foo.mli in the search path.
What I hope is some more deterministic behavior:
[code]
[code]

[2020-05-11 05:13] whitequark commented on #7001
This issue can be closed, I think.

[2020-05-11 05:18] whitequark commented on #6861
Still an issue.

[2020-05-11 05:18] whitequark commented on #6859
Still an issue.

[2020-05-11 05:19] whitequark commented on #6813
Still an issue.

[2020-05-11 05:19] whitequark commented on #6807
Still an issue.

[2020-05-11 05:19] whitequark commented on #6798
Still an issue.

[2020-05-11 05:20] whitequark commented on #6730
Still an issue.

[2020-05-11 05:20] whitequark commented on #6718
Still an issue.

[2020-05-11 05:20] whitequark commented on #6711
Still an issue.

[2020-05-11 05:20] whitequark commented on #6704
Still an issue.

[2020-05-11 05:21] whitequark commented on #6697
Still an issue.

[2020-05-11 05:21] whitequark commented on #6633
Still an issue.

[2020-05-11 05:21] whitequark commented on #6596
Still an issue.

[2020-05-11 05:21] whitequark commented on #6500
Still an issue.

[2020-05-11 05:21] whitequark commented on #6499
Still an issue.

[2020-05-11 06:16] kenichi-asai commented on #6707
I tested the situation in 4.11.0+alpha1.

It appears this case is properly handled now.  I did not see the problem arises any more.

The problem persists in these two.  In both cases, if I remove "@en", the text appears there.

[2020-05-11 07:27] fpottier commented on #7465
I wrote about some of my findings in the [visitors manual](http://cambium.inria.fr/~fpottier/visitors/manual.pdf) (Section 4), but I wouldn't have time at the moment to turn that into a PR, sorry.

[2020-05-11 07:36] #6960 closed, assigned to nobody

[2020-05-11 07:44] trefis commented on #6922
Apparently this was solved by #8955.

[2020-05-11 07:44] #6922 closed, assigned to garrigue

[2020-05-11 08:11] Octachron commented on #6499
This was fixed by #1903 as far as I can see.

[2020-05-11 08:11] #6499 closed

[2020-05-11 08:16] whitequark commented on #6499
Ah, I missed that! Thanks.

[2020-05-11 08:17] Octachron commented on #6596
This was fixed in #9113 .

[2020-05-11 08:17] #6596 closed

[2020-05-11 08:20] xavierleroy commented on #6596
@whitequark: could you please check that something is "still an issue" before commenting?

[2020-05-11 08:23] xavierleroy commented on #6697
I'm going to take a decision on this one.  I believe we have users for accented letters in identifiers.  Hence, we cannot remove support of Latin-1 accented letters in identifiers if we have no alternative to offer, e.g. some support for  Unicode / UTF8.  So, we will not do what this issue suggests.

[2020-05-11 08:23] #6697 closed

[2020-05-11 08:25] Octachron commented on #6730
Does ocamldep really need to have a duplicate `-dsource/-dparsetree` options? Using `ocaml{c,opt}` to get the post-processed AST should work fine, isn'it?

[2020-05-11 08:29] xavierleroy commented on #7001
Closing as suggested.  Nonetheless, I'd be interested to know what alternatives to libbfd exist already.

[2020-05-11 08:29] #7001 closed, assigned to nobody

[2020-05-11 08:31] whitequark commented on #6596
@xavierleroy Could you please not threaten to automatically close, for the most part, valid issues in bulk simply because they were inactive for a year? This is a hostile policy and I will deal with it the way I deal with hostile policies.

[2020-05-11 08:32] Octachron commented on #6472
This is more of a specification: The double semicolon `;;` marks the end of the phrase sent to the toplevel.

[2020-05-11 08:32] #6472 closed

[2020-05-11 08:36] whitequark commented on #6697
That's a reasonable approach; when filing this I was hoping that this would be a first step to offering UTF-8 support by default, since Latin-1 accented identifiers are invalid in UTF-8. But now that I think about it again, I think it's possible to automatically and reliably disambiguate between a Latin-1 encoded source file and an UTF-8 encoded source file, so it's not necessary to forbid Latin-1

[2020-05-11 08:37] whitequark commented on #6596
And to be clear, doing automatic triage like this once, or triaging manually with the same request would not be a problem. It is the part where this policy creates endless make-work for reporters each year that makes it hostile.

[2020-05-11 08:39] whitequark commented on #7001
@xavierleroy I'm not aware of anything lightweight that would be appropriate for use in OCaml. I know of LLVM machine code libraries (that depend on LLVM), and there are Rust libraries (that depend on Rust), but it seems that your original judgement about this (as quoted below) was spot-on and no one is particularly interested in solving this specific problem.

[2020-05-11 08:42] whitequark commented on #6730
Yes. The problem is that some ppx extensions (ones that read generated files, like .cmi or .cmt) have to return different parsetrees depending on whether they run as a part of ocamldep or ocamlc, since the generated files may not have been generated yet. Admittedly an obscure use case.

[2020-05-11 08:45] xavierleroy commented on #6567
The explicit "flush" operation was implemented in PR #1432, then got such a barrage of questions from reviewers (hi @alainfrisch) that I rage-closed it.  Anyone who cares about this issue is welcome to start again from where I left.

[2020-05-11 08:56] mshinwell commented on #7020
I'd like to leave this open, as it's shown up an issue I wasn't aware of, which has relevance to Flambda 2.0 (where we are trying to be more careful about the distinction between arrays and blocks).

[2020-05-11 09:00] mshinwell commented on #6990
@damiendoligez Are we likely to adjust this behaviour?  If not this can probably be closed.

[2020-05-11 09:04] dra27 commented on #9549
Indeed, `$(ocamlopt -where)/ocaml_compiler_internal_params` doesn't help either, as that's the same machinery. The best workaround at the moment, as you say you're using opam, would be to add `["sed" "-i" "-e" "s/big_toc =.*/ref true/" "asmcomp/power/arch.ml"]` either before or after the `configure` call in the recipe for the ocaml-base-compiler or ocaml-variants package you are using and at least

[2020-05-11 09:11] Octachron commented on #6730
If your ppx have two modes, couldn't you just run the ppx in an ocamldep-debug mode with `ocamlc -dsource` and debug from that point? This certainly more convoluted than a `-dsource` option in ocamldep, but the issue seems quite specific. How common is it for a ppx to run into this constraint and related issue?

[2020-05-11 09:14] xavierleroy commented on #6825
Closing, since "The restriction (wait until module Main is initialized) cannot be lifted.".

[2020-05-11 09:14] #6825 closed

[2020-05-11 09:17] whitequark commented on #6730
Probably not common at all. @gasche thought this is an issue; if you'd like to close this as something upstream isn't interested in, I'm not strongly opposed.

[2020-05-11 09:18] stedolan commented on #8643
This has also been an issue when trying to use statmemprof for profiling, where backtraces are the main source of information.

One possible heuristic that came to mind is to disable backtraces for direct tail calls to a different module. In practice, this would have caught most of the cases that confused me, and I doubt there are many tail-recursive loops that cross modules in such a way. (It's c

[2020-05-11 09:27] xavierleroy commented on #6917
A fundamental property of the OCaml type system is that type constructors are identified by paths.  This in turn requires that module and type names be unique in a structure.  We're not going to make exceptions (that would probably be unsound anyway) just so that one library looks better.

[2020-05-11 09:27] #6917 closed, assigned to nobody

[2020-05-11 09:28] dra27 commented on #9549
The "obvious" fix is that `Arch.command_line_options` should be extended to include details of how/what to parse from `OCAMLPARAM` or `ocaml_compiler_internal_params` which `Optmain` can then pass through to `Compenv`. For `ocaml_compiler_internal_params` this is fine, but from a UX perspective, it's not great that `large-toc` in `OCAMLPARAM` will cause a warning about the option not being _recogn

[2020-05-11 09:34] dbuenzli commented on #7080
I still think it's a good idea if we can pass the toolchain the objects we want it to consider to do its job explicitely.

[2020-05-11 09:37] Octachron commented on #6730
I think it is best to close the issue for now as a too specialized issue for adding a generic flag to ocamldep. If the issue rears it head again, we will reopen it with more data points proving that the issue is not that uncommon.

[2020-05-11 09:37] #6730 closed

[2020-05-11 09:38] nojb commented on #6711
Random thought: what about getting rid of `Genlex` and instead bringing `ocamllex` into the standard library (with a suitable ppx syntax, like `sedlex`) ?

[2020-05-11 09:40] xavierleroy commented on #7383
Not "in the search path": in the same directory.

I'm tired of this discussion.  We've been doing that since 1990 or so (Caml Light).  You seem to be the first to be surprised.  All the build systems handle the two cases (with / without .mli) just fine.  Closign this non-issue.

[2020-05-11 09:40] #7383 closed, assigned to nobody

[2020-05-11 09:43] nojb commented on #6718
cc @jeremiedimino

[2020-05-11 09:44] whitequark commented on #6730
I think ocamldep should, morally speaking, have had that flag in first place (like any other tool that processes OCaml source and runs ppx extensions!) but no objection to closing.

[2020-05-11 09:45] nojb commented on #6887
Maybe one can reuse some of the work that went into #9096 ?

[2020-05-11 09:59] dbuenzli commented on #6472
It seems the same was reported in the still open https://github.com/ocaml/ocaml/issues/8813.

Personally I see it as an issue since you cannot cut and paste code from a script into a toplevel prompt and expect the same as if you had run the script.

[2020-05-11 10:02] #6660 closed

[2020-05-11 10:07] trefis commented on #6731
I don't think this is going to change in the near future (nor do I think that it should).
So I'm closing.

[2020-05-11 10:07] #6731 closed

[2020-05-11 10:10] dbuenzli commented on #7001
FWIW there has been renewed interest (at least by me) in the context of the library linking proposal see e.g. https://github.com/ocaml/ocaml/issues/9306 and https://github.com/ocaml/RFCs/pull/17 in particular for the Dynlink API.

[2020-05-11 10:11] whitequark commented on #6731
Yes, on reflection I agree that this would not be a desirable feature due to the complex rules that would be necessary for disambiguation.

[2020-05-11 10:14] xavierleroy commented on #6720
The current situation is that `-g` is passed on to the C compiler, unless it is MSVC, in which case nothing is passed:
https://github.com/ocaml/ocaml/blob/37c5bd87a9f6a1e543517e6815feea304f58bbb3/utils/ccomp.ml#L113

If someone cares about passing the right options to MSVC, go ahead and submit a pull request, it's a 1-line change.  Meanwhile, I'll close this issue as pretty well addressed already.

[2020-05-11 10:14] #6720 closed

[2020-05-11 10:17] xavierleroy commented on #7001
I agree with @dbuenzli that if we had a "good" alternative to libbfd (portable, widely available, license-compatible, and actively maintained by someone else), we'd have other uses for it.  Thanks @whitequark for the pointers.

[2020-05-11 10:22] #9189 closed, assigned to nobody

[2020-05-11 10:22] xavierleroy commented on #8643
This discussion makes me sad.  Tail calls are something I and many others have been fighting for for several decades, against all odds: stupid calling conventions, stupid virtual machines (JVM I'm looking at you), stupid C compilers, etc.  So, turning tailcalls off "because it would be convenient" doesn't go down well.

[2020-05-11 10:37] xavierleroy commented on #6732
A quick grep through OPAM sources suggest that the following 392 packages are using `Buffer.add_substitute`.  As much as I would like to get rid of this function, I'm afraid this is not going to happen.

abt alberto aliases archimedes argot assertions async_core aws aws-autoscaling aws-cloudformation aws-cloudtrail aws-ec2 aws-elasticloadbalancing aws-sdb aws-ssm aws-sts bamboo bap bap-abi bap-api

[2020-05-11 10:38] Octachron commented on #7453
The printing issue is an instance of #8917. There is a fix for the bug, #8929, waiting for a review too.

[2020-05-11 10:43] garrigue commented on #7074
We should do something about that, eventually.
The problem is mostly a design question.

[2020-05-11 11:00] jberdine commented on #7077
Still repros FWIW. Do I understand correctly that this is an instance of classic "double-vision"?

[2020-05-11 11:29] garrigue commented on #7028
See https://github.com/ocaml/RFCs/pull/4 and #9042 for a potential solution.

[2020-05-11 11:30] #7318 closed, assigned to nobody

[2020-05-11 11:45] #7129 closed, assigned to nobody

[2020-05-11 11:54] trefis commented on #7213
Agreed.

[2020-05-11 11:54] #7213 closed, assigned to nobody

[2020-05-11 11:58] #7242 closed, assigned to nobody

[2020-05-11 12:15] garrigue commented on #6800
I think that #6806 solves this issue. Or is there something left?

[2020-05-11 12:25] gasche commented on #6800
Well I still agree that `(: ty) expr` would be nice syntax. @alainfrisch, would you like to open a Pull Request to propose it? (Or we could discuss with other people to see if we want the syntax before implementing, which I suppose would require a fair amount of rebasing work, at least in the parser.)

[2020-05-11 12:29] garrigue commented on #6654
There is a real bug now. Appeared in 4.08.

[2020-05-11 12:33] garrigue commented on #6637
There is now a
[code]
notation in signatures, with the behaviour described here. So I suppose we can close this.

(One might want this for module types to, but then we would also need `with module type T = ...` and `with module type T := ...P).

[2020-05-11 12:37] garrigue commented on #6356
It seems that this one contains all the remaining part of #6637, so I'm going to close that one.

The way to implement this is to add explicit substitutions and local definitions for module types.
This is some work, but maybe someone wants to do it.

[2020-05-11 12:37] garrigue commented on #6637
Remaining part subsumed by #6356.

[2020-05-11 12:37] #6637 closed

[2020-05-11 12:52] garrigue commented on #6514
Seems I missed this one. While this makes sense, I'm a bit concerned that this selection has semantics implications: for extensible types, two constructors with the same name are _not_ equivalent.
[code]
Here we are talking of real overloading. This is already bad to have it inside expressions, but suggesting to allow it inside types to is just one more degree.

[2020-05-11 12:56] garrigue commented on #6491
* There is no specification of what recursive modules should do w.r.t. class inheritance.
* I don't think we are going to the suggested behaviour anytime soon.
So I would suggest closing this one.

[2020-05-11 12:58] garrigue commented on #6478
Probably worth having another look at it.

[2020-05-11 12:59] garrigue commented on #6633
Anybody has a PR for this?

[2020-05-11 13:08] garrigue commented on #6711
I would still advocate for a solution where existing stream parsers still work (maybe using a small external library).
I do not see what would justify forcing people to rewrite their code in a different library.

On the other hand, having a ppx frontend to stream parsers would be even better for me, removing the dependency on camlp5 for preprocessing. Small syntactic changes maybe ok, but please,

[2020-05-11 13:15] garrigue commented on #6800
I would not characterise `(: ty) expr` as nice.
Is it supposed to look like a C coercion?
Then I suppose we would also need `(:> ty)` and `(: ty :> ty')` for completeness, but what is the real benefit compared to the current syntax, which at least makes the target of the coercion explicit?

[2020-05-11 13:25] nwf commented on #9549
FWIW, I worked around it by exploiting $PATH to shim a shell script wrapper around `ocamlopt` (and `ocamlopt.opt`, since some tools looked for that specifically, and a bunch of other `ocaml` tools since not everyone honored PATH the way they should have, instead assuming that all `ocaml*` programs lived in the same directory).

[2020-05-11 13:45] ghost commented on #9501
Spawning processes is all the cram test implementation requires. However, the API for that is quite different from the `Unix` one so it requires rewriting some code in the cram test implementation. Nothing complicated, but if we start copying and rewriting quite a bit of code there is also a higher risk of introducing bugs, especially if the tool is used by a single project.

[2020-05-11 16:12] lpw25 commented on #7077
This is worse than double-vision. In normal double-vision issues the compiler is not aware that a type and the same type accessed via recursion are the same. Here, we are getting some kind of principality failure because the type-checker is treating two types that are known to equal differently.

[2020-05-11 16:54] xavierleroy commented on #6711
Genlex is a generic lexer, not a lexer generator, so it's not really comparable with ocamllex and sedlex, even modulo a ppx syntax.

Genlex is useful to provide a lexer for small languages that have roughly the same lexical conventions as OCaml.  These can be small languages for teaching (genlex's original uses), or DSLs.  The current interface uses streams, because it was designed to work with st

[2020-05-11 17:01] lpw25 commented on #7056
I think this is now fixed. Module aliases no longer take up space in a module and `module type of` no longer expands aliases.

[2020-05-11 17:01] #7056 closed, assigned to garrigue

[2020-05-11 17:24] lpw25 commented on #6745
This is still an issue

[2020-05-11 17:24] meadofpoetry opened #9553 "Stdlib: add Vector module (resizable arrays)"
It would be nice to have resizable arrays in Stdlib. [Containers' `CCVector` could be a good reference.](https://github.com/c-cube/ocaml-containers/blob/master/src/core/CCVector.mli)

[2020-05-11 17:36] lpw25 commented on #6492
These issues still exist. I think that at some point we will need to change how variance is handled to fix other issues with it -- fundamentally that the annotations do not remain precise after substitution. When that happens it should be possible to fix this issue.

[2020-05-11 17:38] lpw25 commented on #6491
I think this would fix the issue and probably break no programs in practice. Should I make a quick PR to do this? or do you think there will be some issue with this approach.

[2020-05-11 17:41] lpw25 commented on #6356
This is some work, but maybe someone wants to do it.

I would be very grateful if someone would: I keep getting this request from users.

[2020-05-11 18:13] xavierleroy commented on #7073
I tested with [dieharder](https://webhome.phy.duke.edu/~rgb/General/dieharder.php) and the `Random` PRNG passes with flying colors:
- byte per byte: 110 tests passed, 4 tests weak, 0 tests failed
- 32 bit words: 112 tests passed, 2 tests weak, 0 tests failed
- 64-bit words: 114 tests passed, 0 tests weak, 0 tests failed.

Anyone is welcome to test with their statistical test of choice and report t

[2020-05-11 18:13] #7073 closed, assigned to nobody

[2020-05-11 20:03] garrigue commented on #6491
You mean, having an error rather than inferring a wrong type?
In this case I think this is fine indeed. Just have to check that this doesn't break existing programs, but I agree that would be very surprising.

[2020-05-12 07:09] sonologico commented on #9156
For transparency: I'm done with deadlines that got shifted around and should get back to this tomorrow.

[2020-05-12 08:36] xavierleroy commented on #9549
For the record: I am not very happy with the handling of architecture-specific options, and definitely unhappy with the handling of OCAMLPARAM, but let's not rush a full refactoring of these aspects.

What we could do right now is to make `-flarge-toc` the default for PowerPC.  It will generate even bigger and even slower code, but I gather from @nwf and others that a significant number of OPAM pa

[2020-05-12 11:36] dra27 commented on #9549
I wasn't rushing 🙂 Is it safe enough to change that default for the next 4.11 alpha release? There is only `-flarge-toc` - if the default is changed, should we also introduce either `-fnolarge-toc` or the possibly better named `-fsmall-toc`?

[2020-05-12 12:16] stedolan commented on #8490
Closed as covered by #2375.

[2020-05-12 12:16] #8490 closed

[2020-05-12 12:25] stedolan commented on #8352
The fixed limit on Unix read buffer sizes is still there and still undocumented (although it's larger than when this was reported), so this is still an issue.

[2020-05-12 13:35] #7891 closed, assigned to nobody

[2020-05-12 13:41] xavierleroy commented on #8352
The fixed limit is here to stay.  We've been saying it should be documented since 2003, but nobody cares to.  So let's no care to for one more year.

[2020-05-12 13:51] garrigue commented on #7902
The warning PR is #9542, but it appears to be intrusive.
Concerning the first part, related to the creation of an unintended recursive type, we might be stricter when typing, now that it appears that the check mode has to be more lax than the typing mode anyway.

[2020-05-12 14:36] gasche commented on #6800
Whenever the type is small and the expression is large, it is very useful to be able to annotate with the type going first. See the example of @alainfrisch above about being able to write `(: foo -> bar) function ...`, which is not possible with current syntax.

This would also be useful with the new binding operators `let* p = def in body` (typically for monadic bind): for now we do not support t

[2020-05-12 14:58] ghost commented on #7184
We have some experience about this in Dune since this is effectively what we do. In the case of Dune, this works really well. We can effectively go through breaking changes without pain and the latest `dune` binary is able to understand a wide range of projects written against different versions of Dune. We also provide an automatic upgrade tool to make it easy for authors to bring their project u

[2020-05-12 15:21] ghost commented on #6718
I guess that'd still be useful, though I ran out of steam on this one. Additionally, since Dune run compilation commands from the root of the workspace it is less of an issue for Dune projects and so this seems less high priority to me.

Unless someone wants to take ownership of this, I'll leave the stable label and let the issue get closed.

[2020-05-12 15:22] ghost commented on #6718
I removed the `newcomer-job` tag though because it's not that simple.

[2020-05-12 16:14] garrigue commented on #8511
As I said in my last message in the discussion, there is a potential solution of doing the same as for class inheritance, i.e. allow to access previous type definitions inside mutual recursive blocks. This is simpler that computing an order: you still need to write your definitions in the right order, but they can be mutually recursive.
An argument for this solution is that we do not need the full

[2020-05-12 17:49] stedolan commented on #7044
The first feature-wish is already implemented: comparison functions are specialised for booleans. (The specialisation also works for user-defined types with only constant constructors).

The second feature-wish (warnings on generic compare) is being discussed at #7524

[2020-05-12 17:49] #7044 closed, assigned to nobody

[2020-05-12 17:54] stedolan commented on #7043
This already exists in [the multicore branch](https://github.com/ocaml-multicore/ocaml-multicore/blob/parallel_minor_gc/stdlib/atomic.mli), we could import it into the stdlib (with some cleanup and more documentation!)

Note that this would be a new type `'a Atomic.t` of references with atomic operations - trying to define the precise semantics of atomic operations on ordinary `ref`s gets very nas

[2020-05-12 21:03] gasche commented on #7043
I think it would be a good idea indeed to make these available in the standard library, so that when people start using Multicore in the future they can write most of their code in a way that is backward-compatible with older OCaml versions. (In particular library authors who may not need to control domains directly.)

We should probably focus on a subset of the API that we know is going to be ver

[2020-05-13 04:52] gasche commented on #7043
(After sleeping on it, I would say the whole API is simple enough and can be kept whole.)

[2020-05-13 04:58] nojb commented on #6452
This was added in #140

[2020-05-13 04:58] #6452 closed

[2020-05-13 06:58] gasche commented on #6426
I believe that the issue is still relevant, but no one has worked on it.

Note: GHC has generic support for type-preserving rewrite rules (REWRITE pragmas), which can be used to do this kind of things, and also defined by library authors.

[2020-05-13 07:19] garrigue commented on #6305
Close it in favour of duplicate #6433, which has a better discussion.

[2020-05-13 07:19] #6305 closed

[2020-05-13 07:21] garrigue commented on #6304
Close it in favour of duplicate #6433, which has a better discussion.

[2020-05-13 07:21] #6304 closed

[2020-05-13 07:25] garrigue commented on #6433
As discussed, the fix is to have some special handling for `module type of A` when `A` is a persistent module, so that not dependency on `a.cmi` is added.
While this should work, this also means that we rely explicitly on the current behaviour of `module type of`, which doesn't strengthen the module type (otherwise, there would be references to the original `A` in the module type).
If there is an

[2020-05-13 07:39] garrigue commented on #6330
Update: if you write your code in the following way, you get the error at the right position.
[code]
So why doesn't it work for annotations of the form `[< ...]` ?
As @gasche explained, the logic used to decide whether a variant type should be closed or open requires that we do not propagate "potential presence information" to the pattern-matching typer. So this type annotation is first ignored, a

[2020-05-13 08:14] gasche commented on #6330
I propose to close unless @lpw25 has a different suggestion.

[2020-05-13 08:16] gasche commented on #6324
I believe that the pain points expressed are still valid, but it is still unclear to me what would be a good approach (satisfying and not too ad-hoc).

[2020-05-13 08:19] gasche commented on #6314
Yes, the first semantics proposed by @garrigue seems like the way to go, and it sounds not too hard to implement. We haven't spent much effort lately improving the object system (which makes sense given how little it is used by most OCaml projects), but the feature still makes sense and we can easily see how it would be useful for some use-cases (both to override or to extend).

(This goes back to

[2020-05-13 08:23] gasche commented on #6313
This still sounds like an excellent idea to me. Would people that know about the type-check be able to tell whether the patch was correct and still makes sense? (cc @garrigue @lpw25 @trefis @let-def).

I think that if we wanted to gather consensus on this, we would need to ensure that people that use the feature for something else than instantiation have a way to avoid the warning. I believe that

[2020-05-13 08:32] xavierleroy commented on #9549
`-fsmall-toc` is fine.

The choice of TOC model (small vs big) has a very localized effect:
https://github.com/ocaml/ocaml/blob/c920ea142b9f9cc0c0eaca6903f0e782da1036d1/asmcomp/power/emit.mlp#L213-L218
and
https://github.com/ocaml/ocaml/blob/c920ea142b9f9cc0c0eaca6903f0e782da1036d1/asmcomp/power/emit.mlp#L605-L610
So, my hope is that the big TOC model can be adequately tested by our usual CI plus

[2020-05-13 08:39] xavierleroy commented on #6301
Someone took that trouble: #5941 .  The test now produces the expected result.

[2020-05-13 08:39] #6301 closed

[2020-05-13 09:43] dra27 commented on #9549
The behaviour in 4.11 should make `-flarge-toc` the default and there is now `-fsmall-toc`.

@nwf - if you are able to test the next alpha release of 4.11 which includes this, that would be great, thanks!

[2020-05-13 09:44] dra27 commented on #9549
I'm going to leave the issue open as the underlying problem with the driver and `OCAMLPARAM` hasn't yet been addressed.

[2020-05-13 09:54] nwf commented on #9549
@dra27 I should be able to. :)

[2020-05-13 10:36] dra27 commented on #9553
A code-search on GitHub for `CCVector` and `BatVect` as two quick examples doesn't suggest it's _that_ widely used? It's not something with an immediately clear underlying representation either (`CCVector` is very similar to `Buffer`, creating a new underlying array when it's not big enough, `BatVect` is based on ropes).

I'm not at this stage convinced...

[2020-05-13 12:32] lpw25 commented on #6380
This probably still worth fixing. Maybe @Octachron would be interested in it since he's done a lot to improve the error printing.

[2020-05-13 12:38] meadofpoetry commented on #9553
Well yes, I suppose many people use lists for such cases. Or this may be due to not that many projects use Containers or Batteries.

I was thinking about cache-friendly data structure with relatively cheap (amortized) element addition, so something akin to Python's list or CCVector, rather than ropes.

But you may be right, I've found only a couple of places where CCVecror is used, so maybe it doe

[2020-05-13 13:17] lpw25 commented on #6330
Seems not worth the trouble to fix

[2020-05-13 13:17] #6330 closed

[2020-05-13 13:35] stedolan commented on #7345
This was fixed in 4.06.0. (I think by #1195)

[2020-05-13 13:35] #7345 closed, assigned to nobody

[2020-05-13 13:54] dra27 commented on #9553
I looked at `CCVector` relative to say `CCList` and `BatVect` relative to `BatList` (both libraries are used extensively). I can certainly see that the containers-style version is useful (and very similar to `Buffer`), but I don't think it meets the "bar" for being supported in the standard library.

[2020-05-13 14:01] bluddy commented on #9553
I would argue that Vector as in CCVector is an extremely versatile data structure, which is why languages like python include it by default as their simplest data type. The reason it isn't more used in the OCaml world IMO is because people don't have access to it. CCVector provides:

* O(1) amortized push (append to the end of the data structure) complexity. This is not possible with lists or arra

[2020-05-13 15:05] Octachron commented on #6380
It sounds potentially interesting. Similarly, I remember that @Drup was working on enriching module types with at least `include` statement at some point.  @Drup, did you add `open` too or only `include`?

[2020-05-13 16:26] garrigue commented on #6313
Using `'_a` is rejected by the parse, as denoting a non-generalisable variable.
You suggest allowing that?
Note that since weak variables all start with `'_weak` it could make sense to remove this error (or restrict it to variable starting with `'_weak`).

[2020-05-13 16:43] #9490 closed, assigned to nobody

[2020-05-13 17:43] gasche commented on #6313
We need a syntax for (1) a variable that may or may not be instantiated and generalizable (this is what people typically use `'a`-as-sharing for), and a syntax for (2) a variable that may not be instantiated and is generalizable. I think the most natural is to use `'a` for (2) and `'_a` for (1), so yes, this suggests allowing them in the parser, and also changing the semantics slightly (in general

[2020-05-13 17:57] garrigue commented on #6314
I suppose that this means having polymorphic operations of the form:
[code]
that actually update the virtual table.
With the current implementation, this seems relatively easy.
Still, this would not be as efficient as one could hope: one needs to replace all other methods by closures calling the same method on the original object.
The alternative semantics of making it behave like inheritance seem

[2020-05-13 17:58] garrigue commented on #6314
Just for fun here is an implementation of functional update.
[code]

[2020-05-13 18:52] austindd commented on #9484
Does anyone know how difficult this would be to implement?

[2020-05-13 20:47] garrigue commented on #9484
I didn't think about potential parsing conflict, but otherwise there is no difficulty in implementing that.
However, one concern may be that it makes harder to understand type definitions (you have to keep in mind what is in the module you are opening).
I was also concerned about printing, but it should be fine: this is just a way to factories writing paths.

[2020-05-13 22:01] #6887 closed, assigned to nobody

[2020-05-13 22:11] austindd commented on #9484
@garrigue Interesting point about potential parsing conflicts, but otherwise I think the usefulness of this feature is self-evident. Keeping track of types inside a locally opened module could be tricky, but is fundamentally no different than keeping track of *values*, other than the widespread use of `type t` in many modules.

One use case I had in mind is a function that looks like this:

[code]

[2020-05-13 22:26] mmottl commented on #6433
I believe it should be fine to make this incremental improvement.  I faintly remember there was some discussion of changing the semantics of `module type of`.  Is this still relevant?  It's always possible to strengthen a module signature using the `module type of struct include ... end` trick anyway.

[2020-05-14 10:25] dbuenzli commented on #6968
Actually it's not. But I think it's easier for me to work around.

[2020-05-14 11:24] Octachron commented on #9548
Option b seems more æsthetically pleasing  to me.

[2020-05-15 04:32] yallop commented on #6236
This has been fixed by #1974, released in OCaml 4.08:

[code]

[2020-05-15 04:32] #6236 closed

[2020-05-15 04:40] yallop commented on #5866
This code is accepted in OCaml 4.08 onwards, thanks (I think) to @trefis's #2110.

[2020-05-15 04:40] #5866 closed

[2020-05-15 05:04] nojb commented on #5797
See also #1642

[2020-05-15 06:06] gasche commented on #5067
I filed this issue ten years ago, and it is pretty clear to me that ocamldoc is not going to get radical improvements in the future, only easier incremental fixes. Maybe `odoc` will be able to handle this better. Closing.

[2020-05-15 06:06] #5067 closed

[2020-05-15 08:30] xavierleroy commented on #5106
I dont' think this use (two buffers on the same file descriptor) will ever be fully supported by the current implementation of buffering.  We might switch to using C's `<stdio.h>` buffered I/O at some point in the future, but even then multiple buffers on the same file descriptor are not guaranteed to be synchronized.  Let me close as "won't fix".

[2020-05-15 08:30] #5106 closed

[2020-05-15 08:37] xavierleroy commented on #5266
Multicore OCaml will probably need to restrict uses of `Unix.fork` and require a new implementation of `Unix.create_process`.  I think that this new implementation should use `posix_spawn` when available.

[2020-05-15 08:40] xavierleroy commented on #5613
Looks like a FlexDLL issue.

[2020-05-15 08:40] #5613 closed

[2020-05-15 09:12] nojb commented on #6200
I think this is still relevant.

[2020-05-15 09:17] Octachron commented on #5058
Since the example works (due to module aliases lifting the restriction 2), I am closing the issue. See #9566 for adding the corresponding examples to the testsuite.

[2020-05-15 09:17] #5058 closed

[2020-05-15 09:24] nojb commented on #6782
For info, eventually we got rid of this syntax at LexiFi, and it was not used much.

[2020-05-15 09:24] #6782 closed

[2020-05-15 09:27] nojb commented on #7759
I don't think this is an OCaml problem, but rather an issue with the interaction of Cygwin with native Console apps (which has improved since then).

[2020-05-15 09:27] #7759 closed, assigned to nobody

[2020-05-15 09:40] Octachron commented on #5998
Is there any objections to transforming this issue into a `GADT typing` label?

[2020-05-15 11:38] lpw25 commented on #6137
I think we should implement the "heavy" syntax and be done with it. This has been an annoying issue for years and having a slightly heavyweight syntax is better than having no syntax.

[2020-05-15 12:07] jberdine commented on #6238
Just for info, we would appreciate such a full-speed plus debug info binary mode.

[2020-05-15 12:26] gasche commented on #6238
Thanks @jberdine for your help with bug triaging (and your feedback) these days.

[2020-05-15 12:56] garrigue commented on #7851
Since the bug is fixed, let's close this; we can find it again if another problem arises.

[2020-05-15 12:56] #7851 closed, assigned to garrigue

[2020-05-15 13:13] garrigue commented on #6014
If anybody is still interested by that, we can go through the tuple encoding.

[2020-05-15 13:17] dbuenzli commented on #5699
@avsm may want to comment but I suspect his use case is solved by the less powerfull mecanism brought by `OCAML_INCLUDE_PATH`, available since 4.08.0, see https://github.com/ocaml/ocaml/issues/7808 and https://github.com/ocaml/ocaml/pull/1841. In particular [this comment](https://github.com/ocaml/ocaml/pull/1841#issuecomment-397732003) indicates why this was needed for the opam story.

[2020-05-15 13:38] garrigue commented on #6070
How could we implement @damiendoligez 's suggestion?
It would be natural to have warning 26 (enabled by default) in that case (shadowing of an unused variable). I.e., this is not innocuous.

[2020-05-15 13:50] garrigue commented on #5987
Fix as suggested. Waiting for a review.

[2020-05-15 13:56] ygrek commented on #5154
Val_some(activity)